/**
 * BEGIN - donlq - fixes 17839 - Business slider show captopn on mobile 480px 
*/

.text-oneline() {
  max-height: 1.3em;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 480px){
  .event-landing-page-slider,
  .tax-business-type {
    .main-slider-overlay {
      display: none;
    }

    &.main-slider,
    .main-slider {
      height: auto!important;
      @media (max-width: 360px) {
        .flexslider {
          padding-bottom: 0;
        }
      }
    }
    
    .flexslider {
      position: relative; 
      overflow: visible;
      margin-bottom: 25px;

      .wrap-inner .inner {
        height: 100%;
      }

      .i-slider {
        & ~ .wrap-inner,
        .inner { 
          height: 100%;   
          .i-caption-dine {
            bottom: 0;
            padding: 10px 10px 10px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
    
            a {
              display: block;
              max-width: 100%;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .capt-dine-category {
              margin-bottom: 7px;
              h3 {
                font-size: 18px;
                
              }
            }
            .capt-dine-content h4.capt-ct-name {
              font-size: 16px;
              a {
                line-height: 1.3;
              }
            }
            .capt-dine-content p {
              line-height: 1.3;
              max-height: 2.6em;
              overflow: hidden;
            }
          }
        }
      }

      .flex-control-paging {
        top: calc(~"100% + 10px");
      }
      .flex-direction-nav.flex-direction-nav {
        a {
          &.flex-next {
            right: 10px!important;
          }
          &.flex-prev {
            left: 10px!important;
          }
        }
      } 
  
      // slides 
      .slides {
        .i-slider {
          position: relative;
          overflow: visible!important;
          height: 0!important;
          padding-bottom: 250px;
          background-color: #f5f5f5;
          & ~ .wrap-inner,
          .inner {
            display: block!important; // force show caption
            a {
              background-color: initial;
            }
          }

          .inner {
            position: static;
            height: auto;
          }

          img {
            position: absolute!important;
            width: auto!important;
            height: auto!important;
            max-width: 100%;
            max-height: 100%;
            min-height: initial;
            left: 50%;
            top: 0!important;
            transform: translate(-50%, 0)!important;
          }
        }
      }
    }
  }
}


/* Caption under images */
@caption-height: 100px;
.caption-style() {
  height: @caption-height;
  top: 100%;
  bottom: initial;
  overflow: hidden;
  position: absolute;;
}
@media (max-width: 480px){
  .event-landing-page-slider,
  .tax-business-type {
    .flexslider.business-semi-trans {
      margin-bottom: @caption-height;
      
      .wrap-inner {
        .caption-style();
      }

      .i-slider {
          .inner {
          .i-caption-dine {
            height: 100%;
            .caption-style();  
            padding: 10px 20px 10px;
          }
        }

        img {
          transform: translate(-50%, -50%)!important;
          top: 50%!important;
        }
      }

      .flex-control-paging {
        top: initial;
        bottom: 10px!important;
      }
    
    
      .i-caption-dine {
        height: 100%;
        .capt-dine-category h3,
        .capt-dine-content h4.capt-ct-name {
          .text-oneline();
        }
      }
    }
  }
}
/**
 * END - donlq - fixes 17839 - Business slider show captopn on mobile 480px 
*/
