include ../mixins/blocks
block vars
    -isHome  = false
    -title   ="Artsopolis - HOME PAGE"
    -sidebar = true
    -gird    = ''
!!! 5
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
    //<![endif]
    head
        meta(charset="utf-8")
        title=title
        meta(name="description", content="")
        meta(name="keywords", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        //-- Call font
        link(href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic', rel='stylesheet', type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800', rel='stylesheet', type='text/css')
        link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' , rel='stylesheet', type='text/css')
        link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="assets/css/style.css")
        link(rel="stylesheet", href="assets/css/octave.css")
        link(rel="stylesheet", type="text/css", href="../source/assets/css/jquery-ui.css")
        <!--script(src="js/modernizr.js") -->
    body(class="body-css full-theme #{gird} custom-background static-demo"  )
        include ../includes/header-custom.jade
        include ../includes/top_search_block.jade
        if isHome == true
            include ../blocks/main_slider.jade
        section.main
            .inner
                block main
        if isHome == true || isPageNotFound == true || isCategory == true || isClient == true
            include ../blocks/clients.jade
        include ../includes/footer.jade
        include ../includes/scripts.jade