.attachment-error {
    -webkit-box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #bc0b0b;
    box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #bc0b0b;
}

.media-frame select.attachment-filters:last-of-type {
    min-width: 120px !important;
}

.apl-item-inner .widget-del{
    float: right;
    margin-top: -18px;
    color: #fa2805;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
}

/* prevent remove when list item has only item */
.apl-item-inner:first-child:last-child .widget-del{
    display: none;
}

.apl-item-inner{
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
}

.apl-item-inner div{
    padding-bottom: 10px;
}

.apl-widget-item-image {
    max-height: 100%;
    width: 100%;
    margin-top: 10px
}

.apl-widget-delete-item-image{
    font-size: 16px !important;
    position: absolute;
    right: -6px;
    top: -7px;
    color: #d00808;
}

.apl-item-inner .apl-widget-img-wrapper{
    margin-top: 10px;
    height: 100px;
    width: 150px;
    border: 1px solid #cccccc;
    position: relative;
}

.apl-widget-set-item-image{
    text-decoration: underline;
    font-weight: bold;
}

input.hide-item-title.widefat{
    margin: 5px;
}

#apollo-sponsored-content input[type="text"]{
    width: 75%
}

.apl-custom-spotlight-contain
{
    margin-bottom: 20px;
    margin-top: 10px;
}
.apl-custom-spotlight-contain .option {
    width: 85%;
    float: right;
}