block vars
  -title="Artsopolis - Detail Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="classified-list.html") Classifieds
                    li
                        span Classified Name
            include ../blocks/detail_classified.jade
        include ../includes/sidebar-classified.jade