@media (max-width: 1030px)  {
    .fb_iframe_widget {
        display: none !important;
    }
}

/**
 * Override logo
 */
.logo {
    /*width:width_of_logo;
    height:height_of_logo;
    background:url('Logo url') no-repeat;
    */ 
}
@media(max-width: 768px) {
    .logo{
        /*width:width_of_logo;
        height:height_of_logo;
        background:url('Logo url') no-repeat;*/
    }
}
@media(max-width: 480px) {
    .logo{
        /*width:width_of_logo;
        height:height_of_logo;
        background:url('Logo url') no-repeat;*/
    }
}
@media(max-width: 320px) {
    .logo{
        /*width:width_of_logo;
        height:height_of_logo;
        background:url('Logo url') no-repeat;*/
    }
}
/** End override logo */

/** Navigation bar */

.main-menu .mn-menu .nav > li > a {
  color: #011f2e;
  background-color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  line-height: 71px;
  padding: 0 9px;
}
.main-menu .mn-menu .nav > li > a:hover {
  color: #ec4d23;
  text-decoration: underline;
}
.main-menu .mn-menu .nav > li:first-child > a{
  padding-left:0;
}
.main-menu .mn-menu .nav > li:last-child > a{
  padding-right:0;
}
/** End navigation bar */

/** NEW **/
.flexslider .slides img{
  top:0!important;
}
.main-menu{
  background-color:#fff!important;
  z-index:500;
  position:relative;
}
.main-menu .mn-menu .nav > li > a{
 border:none!important;
}
.mn-menu .nav {
    height: 77px;
    margin-top: -3px;
    border-top:1px solid #5d5d5d;
    padding-left: 10px;
}
.mn-menu .nav > li{
   height:77px;
}
.main-menu .mn-menu .nav > li.cur > a {
  background: #fff;
  color: #ec4d23;
}
.grid .blog-itm .pic a{
   padding-top:67%;
 }
.grid .blog-itm .pic{
   max-height:180px;
 }
@media (max-width: 768px) {
  .mn-menu .nav > li{
     height:auto;
  }
}
.top-head .top-blk.login-top {
  display: inline-block;
  margin: 30px 0 0 0 ;
  vertical-align: middle;
  height: 55px;
  text-align: center;
  color: #999999;
}
.top-head .top-blk.login-top a {
  font-weight: 700;
  margin-right: 10px;
 color: #999999;
}
.top-head .top-blk.login-top a:hover {
 color: #ec4d23 !important;
}
.top-head .top-blk a {
    background-clip: padding-box;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius:50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    color: #fff;
    margin-left:15px;
}
.social-top i{
    font-size:20px;
    line-height:40px;
}
.top-head .top-blk.social-top{
  margin-top:30px;
  position:relative;
}
.fa.fa-facebook.fa-lg{
   margin-left:0px;
}
.fa.fa-twitter.fa-lg{
 margin-left:5px;
}
.b-btn .btn-b:first-child{
    margin-right:5px;
}
.b-btn .btn-b + .btn-b{
    margin-right:0;
}
.b-btn .edu-btn {
border: 1px solid #ec4d23;
background: #ec4d23;
color: #fff !important;
}
.b-btn .edu-btn:hover {
background: #f76e4a;
border-color: #f76e4a;
}
.r-search .r-ttl {
  color: #003287;
  font-weight: 600;
  text-transform: uppercase;
}
.r-search .r-ttl i.fa {
background: #ec4d23;
}
.top-blk.subscribe{
  position:relative;
  bottom:-10px;
  margin-right:-10px;
  height:40px;
}
.top-subscri{
    float:right;
    height:40px;
    background:#fff;
    border:1px solid #5d5d5d;
    width:250px;
}
.top-subscri > form{
   line-height:40px;
   position:relative;
}
.top-subscri > form .inp.inp-txt{
   width:calc(100% - 100px);
   height:27px;
   box-sizing:border-box;
}
.top-subscri > form .btn-subscri:hover{
    background:#cccccc;
}
.top-sm-event{
     float:right;
     display:inline-block;
     width:130px;
     height:40px;
     background:#fff;
     margin-right:0;
     border:1px solid #5d5d5d;
}
.top-sm-event:hover{
     background:#cccccc;
}
.top-sm-event a{
     color: #5d5d5d!important;
     width:100%;
     height:100%;
     display:block;
     line-height:40px;
     text-align:center;
     font-size:12px;
     margin-left:0!important;
}
.top-sm-event a:hover{
    color:#fff;
}
@media (max-width:960px){
   .top-blk.subscribe{
     margin-right:0;
   }
}
@media(max-width: 920px){
     .top-sm-event{
         /*margin-left:10px;*/
     }
}
@media(max-width: 848px){
     .top-head .top-blk.social-top{
       margin-top:12px;
    }
    .main-menu .mn-menu .nav > li > a{
          padding: 0 30px;
    }
}
@media(max-width:768px){
      .nav > li{
         height:auto;
   }
   .top-head .logo{
       margin:0 auto;
       float:none;
    }
   
   .top-head .top-blk.social-top{
      margin-top:25px;
   }
   .top-blk.subscribe{
     margin-bottom:20px;
     bottom:0;
     width:100%;
   }
   .top-subscri{
     width:calc(100% - 224px);
  }
  .top-sm-event{
     margin-left:0;
   }
  .top-head .logo{
     width:58%;
     margin:auto;
   }
   .top-head .top-blk.social-top{
     text-align:center;
     width:100%;
     margin-left:0;
   }
}
.top-search-row .sub-blk .btn.btn-l.lgr.fr:hover {
  background: #179bd9;
  color: #ffffff;
}
.social-top a.fb{
  background-color: #557dbb;
  height:40px;
  width:40px;
}
.social-top a.fb:hover{
  background-color: #ec4d23;
}
.social-top a.tu{
  background-color: #7bcdee;
  height:40px;
  width:40px;
}
.social-top a.tu:hover {
  background-color: #ec4d23;
}
.social-top a.yt{
  background-color: #e76550;
  height:40px;
  width:40px;
}
.social-top a.yt:hover {
  background-color: #ec4d23;
}
.social-top a.insta{
  background-color: #696a6a;
  height:40px;
  width:40px;
}
.social-top a.insta:hover {
  background-color: #ec4d23;
}
/*menu align center*/
@media (min-width: 769px) {
    .mn-menu ul {
        text-align:center
    }
    .mn-menu ul ul {
    text-align: left;
    }
    .main-menu .mn-menu .nav > li {
        display: inline-block;
        float: left;
        border:none!important;
    }
    .main-menu .mn-menu .nav > li:first-child {
        border-left: 1px solid #35b9f7;
    }
}

/** ADD IT button--------------------*/
.btn-bm[data-addit="1"] {
  background-color: #ec4d23;
  border-color: #ec4d23 !important;
  color: #fff !important;
}
 
.btn-bm[data-addit="1"]:hover {
  background-color: #f76e4a !important;
  border-color: #f76e4a;
  color: white !important;
}
/** End ADD IT button--------------------*/


/** Footer ---------------------------------------*/

.list-logo{
  text-align: center;
}

.list-logo a{
  display: inline-block;
  margin:0 10px;
  vertical-align: top;
}

.menu-footer{
  margin: 0 10px;
  padding: 0;
  list-style: none;
  font-size: 13px;
  text-align: center;
}

.menu-footer > li{
  display: inline-block;
  margin: 10px 5px;
  padding: 0 15px;
  vertical-align: top;
  max-width: 225px;
}

.menu-footer h3{
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 400;
  color:#252525;	
}

.menu-footer a{
  line-height: 1;
  text-decoration: none;
  color:#45b0e4;
}

.menu-footer a:hover{
  text-decoration: underline;
}

.menu-footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-footer ul li{
  padding: 3px 0;
}

.bg-gray{
  padding: 20px 0;
  border-top: 0px solid #e9ae30;
  background: transparent;
}

.footer {
  border-top: 0px solid #000000;
  background: transparent;
  padding: 20px 0;
  color: #fff;
}

.footer > .inner > section.row {
  padding: 0 10px;
  box-sizing: border-box;
}

.copyright {
  padding: 10px 0;
  border-top: 1px solid #ddd;
  background: #ffffff;
  text-align: center;
}

.network{
  padding:10px;
  font-size: 11px;
  background: #ffffff;
  color:#666;
}

.network a{
  white-space: nowrap;
  line-height: 1.7em;
  color:#999;
}

.network a:hover{
  text-decoration: underline;
}

section.network a:hover {
    color: #222222;
}

/** End footer */

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
}

.b-btn a[data-activity="click-buy-ticket"], .btn.btn-l.dt[data-activity="click-buy-ticket"] {
    border-color: #ec4d23 !important;
    background:#ec4d23 !important;
    color:#fff !important;
}
.b-btn a[data-activity="click-discount"], .btn.btn-l.dt[data-activity="click-discount"] {
    border-color: #ec4d23 !important ;
    background:#ec4d23 !important ;
    color:#fff !important;
}
.b-btn a[data-activity="click-buy-ticket"]:hover , .btn.btn-l.dt[data-activity="click-buy-ticket"]:hover {
    background:#f76e4a !important ;
    border-color: #f76e4a !important;
    color:#fff;
}
.b-btn a[data-activity="click-discount"]:hover, .btn.btn-l.dt[data-activity="click-discount"]:hover {
    background:#f76e4a !important ;
    border-color: #f76e4a !important;
    color:#fff ;
}

/** Overrider CSS to fix width of date of slider */
.left-event-time.nw-evt-blue .month, .left-event-time.nw-evt-blue .date {
    width: auto;
    overflow: visible;
}

.left-event-time.nw-evt-blue .month span:last-child, .left-event-time.nw-evt-blue .date span:last-child {
    position: relative;
    top: -60px;
}

.second-slider.second-slider-v1 .flex-control-nav {
    background: none;
}
/** End */

/** Make the banner to be responsive */
.sub-content-blk.top a {
    display: block;
    width: 100%;
}

.sub-content-blk.top a img {
    width: 100%;
   height: auto;
}
 .second-slider {
    height: 275px;
}

@media (max-width: 768px) {
    .second-slider {
        height: 545px;
    }
}
/** End */

.second-slider.second-slider-v1 .slider-content h2 a{
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
} 
/* CSS 20-07-2016*/
@media(max-width: 767px) {
.top-head .top-blk.login-top {
margin-top: 10px;
padding-top: 0;
height: auto;
}
.top-head .top-blk.social-top {
    margin-top: 20px;
}
.main-menu .mn-menu .nav > li > a {
background-color: #ccc;
}
.r-blk {
text-align: center;
}
.tab-list li a {
font-size: 14px;
}
.second-slider .slider-content .desc ,
.blog-itm .desc{
    font-size: 13px;
    line-height: 20px
}
}
