@import "variables";

// a.vmore, a.vmore:hover, .evt-blk .information p label a, .evt-blk .information p a, .evt-blk .tt-bar .cl a, .search-tt a, .search-tt a:hover, nav.search-list li .ico-date a, .b-share-cat > a.pt:hover, .like > a:hover:before, .cm > a:hover:before, ul.error li:first-child .text-404 span.top, .calendar-ipt .JsDatePickBox .boxMainInner .dayNormalToday, a.fullscreen:hover, .blog-seperate:after, nav.blog-list li .blog-category .cate-blk span.cm-num, .blog-seperate:after, nav.blog-list li .blog-category .cate-blk .slash, nav.blog-list li .blog-category .cate-blk a:hover, nav.blog-list li .blog-category .cate-blk a:hover, nav.searching-list li .info-content .ico-date a, .slash, .art-social-item a:hover, .like > a:hover, .cm > a:hover, #artist-print-page .artist-des span a, #artist-print-page .art-social-item a, .sub-section-blk .title-bar-blk {
//     color: $blue !important;
// }
.main-menu .mn-menu .nav>li.cur>a {
    background: $blue !important;
}

.main-menu .mn-menu .nav>li {
    border-right: 1px solid $blue !important;
}

@media (max-width: 768px) {

    .main-menu.tablet-show .mn-menu .nav>li.cur>a,
    .main-menu.tablet-show .mn-menu .nav>li a {
        border-top: 1px solid $blue !important;
    }
    .dsb-l .dsb-main-nav>ul>li>a {
        border-left: 4px solid $blue !important;
    }
    .main-menu.tablet-show .has-child>ul.sub-menu.level-1 li {
        border-left: 1px solid $blue !important;
    }
}

.dsb-main-nav>ul>li {
    border-bottom-color: $blue !important;
}

.dsb-main-nav .sub-nav>ul>li {
    border-left-color: $blue !important;
    border-bottom-color: $blue !important;
}

.dsb-main-nav .sub-nav>ul {
    background-color: $blue !important;
}

.dsb-main-nav .sub-nav>ul>li a:hover {
    background-color: $blue !important;
}

.dsb-main-nav>ul>li>a {
    border-left: 4px solid $blue !important;
}

.dsb-main-nav>ul>li>a:hover {
    border-left-color: $blue !important;
}

.dsb-main-nav .sub-nav>ul>li a.active {
    background-color: $blue !important;
    /* #bd8d3c */
    ;
}

a.vmore,
a.vmore:hover,
.evt-blk .information p label a,
.evt-blk .information p a,
.evt-blk .tt-bar .cl a,
.search-tt a,
.search-tt a:hover,
nav.search-list li .ico-date a,
.b-share-cat>a.pt:hover,
.like>a:hover:before,
.cm>a:hover:before,
ul.error li:first-child .text-404 span.top,
.calendar-ipt .JsDatePickBox .boxMainInner .dayNormalToday,
a.fullscreen:hover,
.blog-seperate:after,
nav.blog-list li .blog-category .cate-blk span.cm-num,
.blog-seperate:after,
nav.blog-list li .blog-category .cate-blk .slash,
nav.blog-list li .blog-category .cate-blk a:hover,
nav.blog-list li .blog-category .cate-blk a:hover,
nav.searching-list li .info-content .ico-date a,
.slash,
.art-social-item a:hover,
.like>a:hover,
.cm>a:hover,
#artist-print-page .artist-des span a,
#artist-print-page .art-social-item a,
.sub-section-blk .title-bar-blk {
    color: $blue !important;
}

.main-menu .mn-menu .nav>li.cur>a {
    background: $blue !important;
}

.ani-wrapper {
    display: none;
}

* {
    box-sizing: border-box;
}

.nav-feature-event {
    margin-bottom: 30px;
    display: inline-block;
}

.nav-feature-event .tablist {
    margin-bottom: 30px;
}

.nav-feature-event .tab-list li {
    height: inherit;
    a {
        display: inline-block;
        padding: 10px 15px;
        color: $black;
        font-family: $condensed;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $h5;
        letter-spacing: 1px;
        text-transform: uppercase; //line-height: $h4;
        transition: all .3s;
        &:hover {
            color: white;
            transition: all .3s;
        }
    }
    &.selected {
        a {
            color: white;
        }
    }
}

.tab-bt {
    display: none;
}

#search-event {
    label {
        font-family: $bold;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 0.9em;
        color: $blue;
        display: block;
        margin-bottom: 5px;
    }
}

.form-event {
    input[type="text"] {
        background: white;
        border: 1px solid $black;
    }
}

#featured-event-label {
    padding-bottom: 0;
}

.category-lft-title a, .category-lft-title a:hover {
    color: $black;
    text-decoration: none;
}

.select2-container--default .select2-selection--single {
    border: 1px solid $black;
}

.date-range-blk .date-picker:after {
    font-size: 20px;
    text-align: center;
    line-height: 34px;
    background: transparent;
    font-family: "icons";
    content: "\ea09";
}

.widget-search {
    display: block;
    visibility: visible;
}

.widget-search .r-ttl,
.r-blk h3.r-ttl {
    background: $black;
    padding: 5px;
    text-align: center;
    i {
        display: none;
    }
    span {
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }
}


nav.searching-list li .info-content, .search-bkl .info-content {
    .ev-tt {
        font-family: $bold;
        font-size: $h4;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 5px;
    }
    .sch-date {
        font-family: $bold;
        margin-left: 0 !important;
    }
}

.search-info {
    > a {
        display: inline-block;
    }
    .ev-tt {
        font-family: $bold !important;
        font-size: $h4 !important;
        text-transform: uppercase !important;
        color: $black !important;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
    }
    .sch-date, .career .link { 
        font-family: $bold !important;
        margin-left: 0 !important;
        text-transform: uppercase;
        font-size: 14.4px; 
        color: $gray;
    }
    .s-desc {
        margin-top: 10px !important;
    }
}

.div-one:hover, .search-bkl li:hover {
    .ev-tt, .sch-date, .career .link {
        color: white !important;
    }
}

.sub-content-blk img {
    width: 100%;
    height: auto;
    display: block;
    padding-right: 0;
}

.wc-r .r-blk {
    display: block;
    width: 100%;
}

.r-blk.big img {
    display: block;
    width: 100%;
    height: auto;
}

.r-blk h3.r-ttl {
    display: block;
    width: 100%;
    line-height: 30px;
}

#newsletter {
    display: flex;
    height: 54px;
    input {
        border: 2px solid $black;
        flex-grow: 1;
        height: 100%;
        margin-right: gutters();
        padding: 0 10px;
    }
    .btn {
        display: inline-block;
        padding: 10px 25px 10px 15px;
        color: white;
        font-family: $condensed;
        font-weight: 300;
        text-transform: uppercase;
        text-decoration: none;
        font-size: $h5;
        letter-spacing: 1px;
        text-transform: uppercase; //line-height: $h4;
        transition: all .3s;
        border-color: $orange;
        background: $orange;
        background-image: url('assets/images/arrow-right.png');
        background-repeat: no-repeat;
        background-position: center right 10px;
        background-size: 7px;
        cursor: pointer;
    }
}

.btn-b {
    padding: 10px 15px;
    color: $black;
    font-family: $condensed;
    font-weight: 400 !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $h5 !important;
    letter-spacing: 1px;
    transition: all .3s;
    &[type="submit"] {
        background: $orange;
        border: 1px solid $orange !important;
        color: white;
        &:hover {
            border: 1px solid $blue !important;
        }
    }
    &:hover {
        transition: all .3s;
    }
    @include breakpoint($mobile) {
        //max-width: 50%;
    }
    @include breakpoint($tablet) {
        font-size: $h4;
    }
}

.blog-itm {
    .btn-b {
        font-size: 13px !important;
    }
    .blog-t {
        display: inline-block;
        width: 100%;
        @include breakpoint($laptop) {
            width: calc(100% - 300px);
            padding-left: 15px;
        }
        margin: 0;
    }
    .pic {
        width: 100%;
        margin-bottom: 15px;
        @include breakpoint($laptop) {
            width: 300px;
            margin-bottom: 0;
        }
    }
    .left-event-time.nw-evt-blue {
        left: 0;
        top: 0;
        .evt-arr {
            display: none;
        }
    }
}

.second-slider.second-slider-v1 .left-event-time {
    top: 0;
    right: 0;
    .evt-arr {
        display: none;
    }
}

.second-slider.second-slider-v1 .slider-content::after {
    border: none;
}

.left-event-time.nw-evt-blue {
    padding: 10px;
    height: auto;
}

.b-share-cat>a.sc {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.breadcrumbs {
    li {
        margin: 0;

        a,
        span {
            display: inline-block;
            font-family: $bold;
            text-transform: uppercase;
            font-size: 0.9em;
        }
        &:first-child {
            &:before {
                display: none;
            }
        }
        &:after {
            font-family: "icons";
            content: "\ea32";
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
            color: $blue;
        }
    }
}

.astro-detail .p-ttl {
    font-size: $h2;
    @include breakpoint($tablet) {
        //margin-top: 30px;
    }
    @include breakpoint($laptop) {
        font-size: $h1;
    }
}

.a-block h4 {
    font-weight: bold;
    >span {
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }
}

.single-event .astro-detail .blog-itm {
    .pic {
        @include span(6 of 12);
        max-height: none !important;
        img {
            display: block;
        }
    }
    .a-desc {
        @include span(6 of 12);
        @include last;
    }
}

nav.search-list-thumb {
    li {
        min-height: 268px;
        height: auto;
        border: none;
        .ico-date {
            display: none;
        }
        .div-one {
            position: relative;
        }

        .div-one .search-info .sch-date {
            position: relative;
            bottom: 0;
        }
        .search-img {
            min-height: 190px;
            a {
                height: 100%;
                display: block;
                height: 100% !important;
                object-fit: cover;
                img {}
            }
        }
        .div-one .search-info {
            width: 100%;
            box-sizing: border-box;
            margin: 0;
            padding: 10px 0;
            font-family: $bold;
            text-transform: uppercase;
            .ev-tt {
                font-size: $h4;
                color: $black;
            }
            a {
                display: block;
                font-weight: bold;
            }
        }
        &:hover {
            .div-one .search-info {
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                margin: 0;
                a {
                    display: inline-block;
                    font-weight: bold;
                }
            }
        }
    }
}

nav.searching-list li .info-content .search-info, nav.searching-list li.apl-search-event-list .info-content .apl-event-desc, .search-bkl .search-info {
    margin-left: 0 !important;
}



nav.searching-list li.apl-search-event-list .info-content, .search-bkl .info-content {
    padding: 15px;
}

nav.search-list-thumb li .div-one:hover .search-info .ev-tt {
    margin-top: 0;
}

nav.search-artist-thumb li .div-one .search-info {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    margin: 0;
    height: 100%;
    .s-desc {
        max-height: 162px;
        margin-top: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        line-height: 2;
    }
    .ev-tt {
        margin-top: 0 !important;
    }
}

nav.search-artist-thumb li .div-one:hover .search-info .s-desc {
    line-height: 1.5em !important;
    margin-bottom: 0;
}

.like {
    margin-right: 10px;
}

.next,
.pre {
    a,
    i {
        display: inline-block;
        vertical-align: top;
    }
    i {
        position: relative !important;
        line-height: 23px;
        top: 0 !important;
    }
}

.pre {
    padding-left: 0 !important;
}

nav.pg {
    li {
        padding: 0;
    }
}

#search-event button[type="reset"],
#search-event button.custom-button {
    margin-top: 0 !important;
}

.show-tip {
    display: none !important;
    visibility: hidden;
    * {
        display: none !important;
        visibility: hidden;
    }
}

.art-social-item {
    display: inline-block;
    margin-bottom: 0;
    float: none;
    i,
    a,
    div {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
}

.lst-lik {
    span.no-line {
        font-family: $bold;
        text-transform: uppercase;
        font-weight: bold;
        color: $blue !important;
    }
}




.search-bkl {}