@import "variables";

.article__header {
    width: 100%;
    float: left;
    .container {
        padding-bottom: 0;
    }
    .flex-row {
        display: block;
        @include breakpoint($laptop) {
            display: flex;
        }
    }
    .category {
        margin: 0;
        background: $black;
        color: white;
        font-family: $condensed;
        font-weight: 100;
        font-size: $h3;
        text-align: center; //padding: 10px 0;
        //display: block;
        float: left;
        padding: 10px 30px;
        text-transform: uppercase;
        margin-top: 15px;
        @include breakpoint($laptop) {
            display: block;
            float: none;
            margin-top: 0;
        }
    }
    .column--one-quarter {
        @include breakpoint($laptop) {
            position: relative;
            margin-right: -45px;
        }
        @include breakpoint($desktop) {
            margin-right: -90px;
        }
    }
    .icon-list {
        float: left;
        clear: both;
        margin-top: 15px;
        li {
            display: inline-block;
            font-size: $h3;
            margin-right: 15px;
            &:last-child {
                margin-right: 0;
            }
            a {
                color: $gray;
                transition: all .3s;
                &:hover {
                    color: $orange;
                    transition: all .3s;
                }
            }
        }
    }
}

.article__header--masonry {
    padding-top: 90px;
    .column--one-quarter {
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
    }
}

.article__footer {
    position: relative;
    z-index: 5;
    overflow: visible;
    width: 100%;
    float: left;
    >.container .flex-row {
        @include breakpoint($tablet) {
            flex-direction: row;
        }
    }
    .column--one-third {
        display: none;
        @include breakpoint($laptop) {
            display: block;
        }
    }
}

.article__tags {
    font-family: $bold;
    font-weight: 800;
    text-transform: uppercase;
    color: $blue;
    padding-bottom: 60px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-bottom: 2px solid $lightgray;
    @include breakpoint($laptop) {
        margin-top: 0;
    }
    li {
        display: inline-block;
        &:after {
            content: ', ';
        }
        &:last-child {
            &:after {
                content: '';
            }
        }
        a {
            color: $blue;
            text-decoration: none;
            font-family: $bold;
        }
    }
}

.article__details {
    h1 a {
        text-decoration: none;
    }
    svg {
        path {
            stroke: $black;
        }
        &.-added {
            path {
                fill: $black;
                transition: all .3s;
            }
            animation: hop .4s forwards;
            transform-origin: 50% 50%;
        }
    }
}

.article__author-photo {
    margin-bottom: 15px;
    max-width: 200px;
    @include breakpoint($tablet) {
        flex-basis: 25%;
        flex-shrink: 0;
        margin-right: 30px;
        margin-bottom: 0;
    }
    img {
        width: 100%;
    }
}

.article__author-details {
    @include breakpoint($tablet) {
        flex-basis: 75%;
    }
    h4 {
        font-family: $bold;
        font-weight: 800;
        text-transform: uppercase;
    }
    span {
        font-family: $condensed;
        font-weight: 100;
        text-transform: uppercase;
        color: $gray;
        margin-bottom: 15px;
        display: block;
        font-size: $h4;
        letter-spacing: 1px;
    }
}

.article__author-badge {
    position: absolute;
    width: 120px;
    top: 30%;
    left: 60%;
    z-index: 4;
    @include breakpoint($laptop) {
        transform: translateY(25%);
        bottom: 0;
        top: inherit;
        left: 60%;
        width: 160px;
    }
}

.article {
    .flexible-content {
        &:nth-child(3) {
            .container {
                padding-top: 0px;
            }
        }
        .container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    .column--three-quarter {
        .text-callout {
            max-width: 700px;
        }
    }
}