@import "variables";

.footer {
    color: white;
    font-family: $bold;
    overflow: hidden;
    position: relative;
    width: 100%;
    border-top: 0;
    padding: 0;
    background: transparent;
    p {
        color: $lightblue;
        font-family: $normal;
    }
    .ctas {
        margin-bottom: 30px;
        @include breakpoint($mobile) {
            //display: flex;
            //flex-direction: column;
            align-items: flex-start;
        }
        @include breakpoint($tablet) {
            flex-direction: row;
        }
        @include breakpoint($laptop) {
            margin-bottom: 0;
        }
    }
    .cta {
        //width: 100%;
        float: left;
        margin-bottom: 15px;
        margin-right: 15px;
        box-sizing: border-box;
        &:hover {
            color: $blue;
            background: white;
        }
        @include breakpoint($mobile) {
            //width: 100%; //margin-bottom: 0;
            //max-width: 300px;
        }
        @include breakpoint($tablet) {
            width: auto;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .control {
        z-index: 1;
        .selectric {
            background: white !important;
            span {
                color: $blue !important;
            }
            .button {
                font: unset;
                font-family: "icons";
                border: none;
                color: transparent;
                &:after {
                    content: '\ea30';
                    border: none;
                    color: $blue;
                    font-family: "icons";
                    width: 24px;
                    height: 24px;
                    display: block;
                }
            }
        }
        .selectric-items {
            background: white !important;
            li {
                color: $blue !important;
                &:hover {
                    background: $blue !important;
                    color: white !important;
                }
            }
        }
    }
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.footer__content {
    overflow: hidden;
    width: calc(100% - 30px);
    display: block;
    background: $blue;
    margin: 15px;
    padding-top: 30px;
    padding-bottom: 90px;
    @include breakpoint($tablet) {
        margin-bottom: 20px;
        padding-top: 90px;
    }
}

.footer__left-column {
    @include breakpoint($laptop) {
        padding-right: 50px;
    }
}

.footer__left-column,
.footer__right-column {
    @include span(12 of 12);
    @include breakpoint($laptop) {
        @include span(6 of 12);
        &:last-child {
            @include last();
        }
    }
}

.footer__right-column {
    @include breakpoint($computer) {
        display: flex; //flex-direction: column;
        justify-content: space-between;
        .footer__nav {
            flex-basis: 50%;
            flex-grow: 1;
            width: auto;
        }
    }
}

.footer__nav {
    @include breakpoint($tablet) {
        @include span(3 of 6);
    }
    li {
        margin-bottom: 20px;
    }
    a {
        font-family: $bold;
        text-transform: uppercase;
        font-weight: 800;
        text-decoration: none;
        color: white;
    }
}

.footer__nav-icons {
    li {
        display: inline-block;
        margin-right: 10px;
        vertical-align: baseline;
    }
    i {
        font-size: $h3;
        color: $lightblue;
        line-height: 1em;
    }
}

.footer__address {
    margin-top: 30px;
}

.footer__copyright {
    text-align: left;
    width: 100%;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    display: none;
    @include breakpoint($laptop) {
        flex-direction: row;
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 560px);
        font-size: 90%;
        text-align: center;
        justify-content: center;
    }
    div {
        display: none;
        @include breakpoint($laptop) {
            display: block;
            margin-right: 15px;
            color: $black;
        }
    }
    a,
    span,
    {
        text-decoration: none;
        display: inline-block;
        color: white;
        white-space: nowrap;
        @include breakpoint($tablet) {
            margin-right: 15px;
        }
        @include breakpoint($laptop) {
            color: $black;
        }
    }
    span {
        display: block;
    }
    a {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.footer__content {
    .footer__copyright {
        display: flex;
        @include breakpoint($laptop) {
            display: none;
        }
    }
}

.footer {
    >.footer__copyright {
        @include breakpoint($laptop) {
            display: flex;
        }
    }
}

.footer__contact--phone {
    display: block;
    margin-top: 30px;
    font-family: $bold;
    text-transform: uppercase;
    a {
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }
}

.footer__image {
    display: flex;
    align-items: center;
    position: absolute;
    right: -15px;
    bottom: 0;
    span {
        font-family: $bold;
        font-weight: 800;
        text-transform: uppercase;
        margin-right: -40px;
        margin-bottom: 20px;
        font-size: $h4;
        line-height: 1em;
        color: $black;
        display: none;
        @include breakpoint($mobile) {
            display: none;
            color: white;
        }
        @include breakpoint($tablet) {
            color: white;
            display: block;
        }
    }
}