@import "variables";

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,700|Montserrat:200,200i,400,700,700i|Oswald:300,700');

* {
    box-sizing: border-box;
}

html {
    width: 100vw;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: $lightgray;
    margin: 0;
}

main {
    position: relative;
    z-index: 0;
    width: 100vw;
}

.main {
    padding-top: 90px;
    >.inner {
        @include breakpoint($laptop) {
            @include container();
        }

        width: 100%;
        margin: 0 auto;
    }
}

.two-col {
    .v-line {
        display: none;
    }
}

.wc-l {
    width: 100%;
    @include breakpoint($laptop) {
        @include span(8 of 12);
    }
}

.wc-r {
    width: 100%;
    @include breakpoint($laptop) {
        @include span(4 of 12);
        @include last;
    }
}

.iframe {
    width: 100%;
}

.container {
    width: 100%;
    @include container();
    max-width: 100%;
    padding: 15px 30px;
    @include breakpoint($mobile) {
        padding: 30px;
    }
    @include breakpoint($tablet) {
        max-width: calc(100vw - 180px);
        padding: 45px;
    }
    @include breakpoint($laptop) {
        max-width: calc(100vw - 180px);
    }
    @include breakpoint($desktop) {
        padding: 90px;
    }
}

.container--white-bg {
    background: white;
}

.container--gray-bg {
    background: $lightgray;
    color: $black;
}


.-gray-bg {
    background: $lightgray;
    color: $black;
    .three-column__cta {
        .cta {
            background: white;
        }
    }
}

.-blue-bg {
    background: $blue;
    color: white;
    .headline,
    h1,
    h2 {
        i:after {
            background: white !important;
        }
    }
    a {
        color: white;
    }
    .cta {
        color: $black;
    }
}

.-white-bg {
    background: white;
    .three-column__cta {
        background: $lightgray;
    }
}

.-white-bg--with-margins {
    .container {
        background: white;
        color: $black;
    }
    .three-column__cta {
        background: $lightgray;
    }
}

.-gray-bg--with-margins {
    .container {
        background: $lightgray;
        color: $black;
    }
    .three-column__cta {
        background: white;
    }
}

.-blue-bg--with-margins {
    .container {
        background: $blue;
        color: white;
        .headline {
            i:after {
                background: white;
            }
        }
    }
}


.barba-container {
    overflow: hidden;
}

.barba-container,
article {
    >section {
        &:first-child {
            margin-top: 90px;
            padding-top: 90px;
        }
        &.local-navigation-container {
            padding-top: 0;
        }
    }
}

.-hidden {
    display: none;
}

.-padded {
    padding: 0 15px;
    @include breakpoint($tablet) {
        padding: 0 60px;
    }
    @include breakpoint($laptop) {
        padding: 0 90px;
    }
}

.-padded--no-top {
    .container {
        padding-top: 0px !important;
    }
}

.-padded--no-bottom {
    .container {
        padding-bottom: 0px !important;
    }
}

.-padded--no-top-bottom {
    .container {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
}

.-padded-no-bottom {
    padding-bottom: 0 !important;
}

// COLORED BGS
.-lightgray-bg {
    background: $lightgray;
}

.-white-bg {
    background: white;
}

// HIDE THINGS FOR MOBILE / DESKTOP
.-hide-on-desktop {
    @include breakpoint($laptop) {
        visibility: hidden;
    }
}

.-hide-on-mobile {
    visibility: hidden;
    @include breakpoint($laptop) {
        visibility: visible;
    }
}

#chatForm form {
    padding: 20px;
}