@import "variables";

.header {
    z-index: 9999;
    display: flex;
    top: 0;
    width: 100%;
    height: 90px;
    background: white;
    position: fixed;
    transition: all .4s;
    @include breakpoint($laptop) {
        background: transparent;
    }
    &.nav-up {
        @include breakpoint($laptop) {
            top: -100px;
            transition: all .4s;
        }
    }
    .container {
        padding-top: 0;
        padding-bottom: 0;
    }
    &.unpinned {
        background: white;
        transition: all .4s;
    }
}

.header__logo {
    position: absolute;
    width: 360px;
    height: 90px;
    padding: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    max-width: 75vw;
    @include breakpoint($tablet) {
        right: 0;
        margin: 0 auto;
    }
    @include breakpoint($laptop) {
        left: 0;
        right: inherit;
    }
    img {
        display: block;
        width: 100%;
    }
}

.header__nav-container--desktop {
    justify-content: flex-end;
    width: 100%;
    z-index: 2;
    display: none;
    @include breakpoint($laptop) {
        display: flex;
    }
}

// MOBILE DEVICE OVERRIDES 
body.SmallDevice,
body.MediumDevice,
body.LargeDevice {
    .header__nav-container--desktop {
        display: none;
        @include breakpoint($laptop) {
            display: none;
        }
    }
    .slide-menu {
        display: block;
        visibility: visible;
        @include breakpoint($laptop) {
            display: block;
            visibility: visible;
        }
    }
    .header__nav-trigger-container {
        display: flex;
        @include breakpoint($laptop) {
            display: flex;
        }
    }
}

.header__nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100vh; //background: orange;
    transform: translateX(100%);
    z-index: 9;
    transition: all .4s;
    top: 0;
    @include breakpoint($laptop) {
        display: flex;
        height: 90px;
        padding-right: 90px;
        align-items: flex-end;
        justify-content: flex-end;
        transform: none;
        position: relative;
        width: 100%;
        z-index: 5; //padding: 15px 80px; //background: white;
    }
}

.header__nav--utility {
    ul li {
        @include breakpoint($laptop) {
            display: inline-block;
            vertical-align: middle;
            &:first-child {
                margin-right: 0;
                &:after {
                    content: '';
                    display: inline-block;
                    border: 1px solid $gray;
                    height: 12px;
                    vertical-align: middle;
                    margin: 0 10px;

                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    a {
        transition: all .3s;
        &:hover {
            color: $orange;
            transition: all .3s;
        }
    }
}

.language-dropdowns {
    position: relative;
    &:hover {
        .language-dropdown {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: all .3s;
            a {
                display: block;
            }
        }
    }
}

.language-dropdown {
    position: absolute;
    right: 0;
    background: white;
    padding: 5px 10px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    &:after {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        top: -2px;
        right: 4px;
        display: block;
        background: white;
        transform: rotate(45deg);
    }
    a {
        &:hover {
            color: $blue;
        }
    }
}

.header__nav--utility {
    li {
        margin-right: 20px;
        display: inline-block;
    }
    a {
        color: $darkgray;
        text-decoration: none;
        font-size: $smaller;
        i {
            font-size: 16px;
            position: relative;
            top: 2px;
        }
    }
}

.header__nav--primary {
    font-family: $bold;
    font-size: 1.2em;
    display: flex;
    height: 46px;
    li {
        padding: 0 25px;
        &:last-child {
            padding-right: 0;
        }
    }
    a {
        font-weight: 800;
        text-transform: uppercase;
        color: $black;
        text-decoration: none;
        transition: all .3s;
        &:hover {
            color: $blue;
            transition: all .3s;
        }
        &.active {
            color: $orange;
            transition: all .3s;
        }
    }
}

.header__nav-dropdown-triggers {
    display: flex;
}

.header__nav-dropdown-trigger {
    //background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        cursor: pointer;
        letter-spacing: 1px;
    }
    &.active {
        .header__nav-dropdown {
            opacity: 1; //transform: scaleY(1);
            transform-origin: top;
            visibility: visible;
            transition: all .3s;
            .container {
                opacity: 1;
            }
        }
        >a {
            color: $blue;
            position: relative;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 2px;
                background: $blue;
            }
        }
    }
}

.header__nav-dropdown {
    width: 100vw;
    left: 0;
    top: 90px;
    z-index: 0;
    position: absolute; //background: white;
    //padding: 30px 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    transform: scaleY(1);
    transform-origin: top;
    z-index: -1; //box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.2);
    .container {
        opacity: 0;
        width: 100%;
        padding: 0;
        transition: all .3s; //box-shadow: 0 10px 5px -5px rgba(0,0,0,0.1);
    }
    .flex-row {
        align-items: stretch;
    }
}

.nav-dropdown__row {
    box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
}

.nav-dropdown__column {
    padding: 25px;
    flex-basis: span(25%);
    display: flex;
    flex-direction: column;
    &.-two-column {
        flex-basis: span(50%);
        @include breakpoint($computer) {
            flex-basis: span(33%);
        }
        ul li {
            // width: 50%;
            // float: left;
            padding: 0;
            display: inline-block;
            max-width: 48%;
            min-width: 40%;
            white-space: nowrap;
            @include breakpoint($laptop) {
                min-width: 49%;
                padding: 0px;
            }
            @include breakpoint($computer) {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            a {
                letter-spacing: 0;
            }
        }
    }
    >.flex-row {
        justify-content: center;
    }
    &:first-child {
        background: $blue;
        color: white;
        flex-grow: 2;
        flex-basis: span(30%);
        a {
            color: white;
            margin-top: auto;
        }
    }
    &:nth-child(2) {
        background: white;
        justify-content: center;
        a {
            color: $darkgray;
        }
    }
    &:nth-child(3) {
        background: $blue;
        color: white;
        a {
            color: white;
            margin-top: auto;
        }
        h4 {
            font-size: 1em;
        }
    }
    &:nth-child(4) {
        //color: $orange;
        h4 {
            color: $blue;
        }
        p {
            color: $darkgray;
        }
        background: white;
        a {
            margin-top: auto;
            color: $darkgray;
        }
    }
    h4 {
        font-family: $bold;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1em;
        margin-bottom: 15px;
    }
    p {
        font-family: $normal;
        font-size: $smaller;
    }
    a {
        font-size: 0.9em;
        font-weight: 400;
        &:hover {
            text-decoration: underline;
        }
    }
    ul li a {
        color: $darkgray;
        font-size: 0.9em;
        font-weight: 400;
    }
}


.header__search-trigger {
    margin-left: 0px; // background: $lightgray;
    display: flex;
    align-items: center;
    padding: 15px;
    z-index: 5;
    position: relative;
    i {
        color: $blue;
        font-size: 0.75em;
        margin-right: 5px;
    }
    span {
        font-size: 10px;
        margin-left: 5px;
        font-weight: 700;
        letter-spacing: 1px;
        color: $blue;
        position: relative;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background: $blue;
            width: 100%;
            height: 1px;
            bottom: 0;
        }
    }
    .nc-zoom-2 {
        transform: scaleX(1) !important;
        &:after {
            content: '';
            display: block;
            background-image: url('images/search.svg');
            background-size: contain;
            width: 16px;
            height: 16px;
        }
    }
}



.header__search-field {
    height: 90px;
    width: 100%;
    position: absolute;
    right: 0; //background: rgba(255,255,255, 0.9);
    top: 0;
    background: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    .container {
        display: block;
        width: 100%;
        position: relative;
    }
    input {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        font-size: $h1;
        font-family: $bold;
        text-transform: uppercase;
        color: $gray;
        font-weight: 800;
        background: transparent;
        &:focus {
            outline: none;
        }
    }
    input::-webkit-input-placeholder {
        color: $gray;
    }
    input::-moz-input-placeholder {
        color: $gray;
    }
    input:-moz-input-placeholder {
        color: $gray;
    }
    input:-ms-input-placeholder {
        color: $gray;
    }
}

body.search-open {
    overflow: hidden;
    .header__search-results {
        display: block;
    }
}

.header__search-results {
    height: calc(100vh - 90px);
    width: 100%;
    background: white;
    position: absolute;
    top: 90px;
    left: 0;
    padding: 90px;
    overflow-y: scroll;
    display: none;
    .cta {
        background: $orange;
        &:focus {
            outline: none;
        }
    }
}

.header__search-result {
    font-family: $bold;
    margin: 45px 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    h1 {
        font-size: $h4;
        font-family: $bold;
    }
    a {
        text-decoration: none;
    }
    p {
        margin: 0;
    }
    &:after {
        width: 100%;
        max-width: 320px;
        display: block;
        content: '';
        height: 1px;
        background: $black;
        margin: 45px 0;
    }
}


.header__search-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 100;
    i {
        color: $black;
        font-size: $h2;
        line-height: 57px;
    }
}