@import "variables";

// CONTAINER
.layout-view {
    width: 100%;
    float: left;
}

// MAP
.layout-view__map {
    display: none;
}

.layout-view__map--map-view {
    height: 70vh;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    float: left;
    .map-container__map {
        display: flex;
        flex-direction: column;
    }
    @include breakpoint($laptop) {}
}

// GRID
.layout-view__grid {
    display: none;
}

// GRID VIEW
.layout-view--grid {
    .layout-view__grid {
        display: block;
    }
    .layout-view__map {
        visibility: hidden;
    }
}

// MASONRY VIEW
.layout-view--masonry {
    .layout-view__grid {
        display: block;
    }
    .card-list .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

// MAP VIEW
.layout-view--map {
    .layout-view__grid {
        display: none;
    }
    .layout-view__map {
        display: block;
        .map-container__map {
            min-height: 75vh;
        }
    }
}