@import "../global/variables";

.local-navigation-container {
    width: 100%;
    padding-bottom: 0;
    z-index: 3;
    position: relative;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    @include breakpoint($tablet) {
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 10px;
    }
    li {
        position: relative; // dropdowns
        display: block;
        a {
            text-decoration: none; 
            text-transform: uppercase;
            font-family: $bold;
            color: white;
            transition: all .3s;
            display: inline-block;
            padding: 5px 10px;
            &:hover {
                cursor: pointer;
                color: $orange;
                transition: all .3s;
            }
            @include breakpoint($tablet) {
                color: $darkgray;
                padding: 10px;
                &:hover {
                    color: $blue;
                }
            }
        }
        @include breakpoint($tablet) {
            display: inline-block;
            margin-right: 10px;
        }
    }
}



.local-navigation {
    width: 100%;
    background: $blue;
    display: block;
    float: left;
    padding: 15px 0;
    @include breakpoint($tablet) {
        background: white;
        justify-content: flex-end;
        text-align: right;
        padding: 0;
    }
}






