@import "variables";


// MOBILE MENU
.header__nav-trigger-container {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    align-self: flex-end;
    flex-grow: 1;
    position: relative;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    align-items: center;
    @include breakpoint($laptop) {
        display: none;
    }
}

.header__nav-trigger {
    padding: 10px;
    width: 24px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: $blue;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
}

.header__nav-trigger span:nth-child(1) {
    top: 0px;
}

.header__nav-trigger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.header__nav-trigger span:nth-child(3) {
    bottom: 0px;
}

.header__nav-trigger.open span:nth-child(1) {
    top: 50%;
    transform: rotate(135deg) translateY(calc(-50% + 1px));
}

.header__nav-trigger.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

.header__nav-trigger.open span:nth-child(3) {
    top: 50%;
    transform: rotate(-135deg) translateY(calc(-50% + 1px));
}


body.menu-open {
    .slide-menu {
        transform: translateX(0);
        transition: all .4s;
    }
}

.slide-menu {
    transform: translateX(100%);
    transition: all .4s;
    width: 100%;
    height: 100vh;
    left: 0;
    position: fixed;
    padding: 50px 25px;
    padding-top: 100px;
    background: white;
    overflow-y: scroll;
}

.slide-menu__search {
    display: flex;
}

.slide-menu__input {
    border: 1px solid $black;
    height: 50px;
    flex-grow: 1;
    padding: 0 10px;
    margin-right: 5px;
    appearance: none;
    border-radius: 0;
}

.slide-menu__submit {
    background: $orange;
    color: white;
    height: 50px;
    width: 50px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    @include breakpoint($tablet) {
        width: auto;
    }
    span {
        display: none;
        color: white;
        @include breakpoint($tablet) {
            display: inline;
            margin-right: 5px;
        }
    }
    .nc-zoom-2 {
        //transform: scaleX(1) !important;
        display: inline-block;
        @include breakpoint($tablet) {
            display: none;
        }
        &:after {
            content: '';
            display: block;
            background-image: url('../images/search-white.svg');
            background-size: contain;
            background-position: center;
            width: 20px;
            height: 20px;
        }
    }
}

.slide-menu__nav--primary {
    font-family: $bold;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
}

.slide-menu__nav--utility {
    margin-top: 15px;
    li {
        a {
            text-decoration: none;
            font-size: $small;
        }
    }
    .language-dropdowns {
        position: relative;
        .language-dropdown {
            left: 0;
            transform: translateY(calc(-100% - 30px));
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            background: $gray;
            right: auto;
            a {
                color: white;
            }
            &:after {
                background: $gray;
                left: 2px;
                right: 0px;
                top: calc(100% - 4px);
            }
        }
    }
}

.slide-menu__nav--primary li {
    list-style-type: none;
    margin: 0;
    &.has-children {
        position: relative;
    }
    a {
        text-decoration: none;
    }
}

.slide-menu__children {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0, 1, 0, 1);
    &.open {
        max-height: 2000px;
        transition: max-height 0.25s cubic-bezier(1, 0, 1, 0);
    }
}

.slide-menu__parent {
    >a {
        font-size: $h3;
    }
}

.slide-menu__child {
    position: relative;
    margin-top: 2px;

    a {
        letter-spacing: normal;
        font-size: $body;
    }
}

.slide-menu__open-children {
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: all .25s;
    position: relative;
    &:hover {
        transition: all .25s;
    }
    &:before,
    &:after {
        content: '';
        width: 12px;
        height: 2px;
        background: $black;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
    }
    &:after {
        transform: rotate(90deg);
        transition: transform .25s;
    } // open states
    &.open {
        &:after {
            transform: rotate(0deg);
            transition: transform .25s;
        }
    }
}