@import "variables";

html {
    font-size: 0.9em;
}

body {
    //background-color: white;
    font-family: $normal;
    font-weight: 400;
    line-height: 1.6;
    color: $black;
    -webkit-font-smoothing: antialiased;
}

a {
    color: $black;
}

p {
    margin-bottom: 1.3em;
    font-weight: 400;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}


h1,
h2,
h3,
h4 {
    font-weight: inherit;
    line-height: 1.2;
}

h1,
h2,
#featured-event-label {
    font-family: $condensed;
    font-weight: 700;
    text-transform: uppercase;
    margin: 1.414em 0 0.5em;
}

h3,
h4 {
    font-family: $bold;
}

h1 {
    margin-top: 0;
    font-size: 3.157em;
}

h2, #featured-event-label {
    font-size: 2.369em;
}

h3 {
    font-size: 1.777em;
}

h4 {
    font-size: 1.333em;
}

small,
.font_small {
    font-size: 0.75em;
}

.headline,
.text-content h1 {
    margin-bottom: 0; //margin-top: 15px;
    font-size: $h2;
    @include breakpoint($tablet) {
        //margin-top: 30px;
    }
    @include breakpoint($laptop) {
        font-size: $h1;
    }
    i {
        font-size: 70%;
        position: relative;
        display: inline;
        vertical-align: top;
        top: .35vw;
        &:after {
            content: '';
            display: block;
            position: absolute;
            background: $black;
            height: 0.25vw;
            min-height: 5px;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

.subheadline,
.text-content h3 {
    font-size: $body;
    margin: 0;
    font-family: $bold;
    margin-bottom: 15px;
    @include breakpoint($tablet) {
        margin-bottom: 30px;
    }
    @include breakpoint($laptop) {
        font-size: $h4;
    }
    i {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            background: $black;
            bottom: -2px;
        }
    }
}

.text-content h3 {
    margin-bottom: 15px;
    margin-top: 30px;
}

.tagline {
    font-family: $bold;
    font-weight: 100;
    font-style: italic;
    text-transform: none;
    margin: 15px 0 30px 0;
    font-size: $h3;
    max-width: 500px;
}

.bullet-cap {
    &:before {
        content: '■';
        display: inline-block;
        margin-right: 5px;
        font-size: 1.25em;
    }
}

.section-header {
    background: $black;
    font-family: $condensed;
    color: white;
    display: inline-block;
    font-weight: 800;
    text-transform: uppercase;
    font-size: $body;
    padding: 10px;
}

.message {
    display: inline-block;
    position: relative;
    padding: 5px;
    font-family: $bold;
    text-transform: uppercase;
    font-weight: bold;
    font-size: $h4;
    color: $orange;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 80px;
        height: 90px;
        background-image: url('../images/thumbsup.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.message--general {
    &:before {
        background-image: url('../images/clipboard.png');
        margin-right: 10px;
    }
}