@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";

$condensed: 'Oswald', sans-serif;
$bold: 'Montserrat', sans-serif;
$normal: 'Merriweather', serif;


// SUSY GRID
$susy: ( columns: 12,
gutters: 0.25,
math: fluid,
output: float,
container: calc(100vw - 180px),
global-box-sizing: border-box);

// COLORS
$blue: #0082aa;
$lightblue: #99cddd;
$orange: #ff6a42;
$darkgray: #888888;
$gray: #bbb;
$lightgray: #efefef;
$black: #262626;

// secondary colors
$green: #93ae15;
$red: #f65439;
$darkred: #b71515;
$purple: #8e39e4;
$lightorange: #f6b639;
$pink: #ff6fbd;
$salmon: #fa9090;
$cyan: #00c3c1;
$magenta: #970089;
$lime: #0b9b6a;
$brightblue: #2558ea;
$yellow: #fbcd8b;


@mixin background-opacity($color, $opacity: 0.9) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}


// HIERARCHY 
$h1: 3.157em;
$h2: 2.369em;
$h3: 1.777em;
$h4: 1.333em;
$h5: 1.111em;
$body: 1em;
$small: 0.9em;
$smaller: 0.75em;


// BREAKPOINTS 
$mobile: 425px;
$mobileLandscape: (max-width 767px) (orientation landscape); 
$tablet: 768px;
$laptop: 1024px;
$computer: 1024px 1280px;
$desktop: 1440px;

$tall: (min-height 800px);

// Z-INDEX
$top: 100;
$middle: 10;