<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb" style="margin-top: 10px; ;margin-left: 0; font-size: 18px; background: none;">
            <li><a href="{{ pageStateRoot }}">States</a></li>
            <li class="active">{{ stateName }}</li>
        </ol>

        <div class="col-md-6">

            <div class="navbar navbar-default">
                
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input placeholder="Search" ng-model="query" >

                        Sort by:
                        <select ng-model="orderProp">
                            <option value="name">Alphabetical</option>
                            <option value="-id">Newest</option>
                        </select>
                    </div>

                </form>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="City Name" ng-model="item.name">
                        <input type="hidden" ng-init="item.type='city'" value="city" ng-model="item.type" >
                        <input type="hidden" ng-init="initParent('city')" ng-model="item.parent">
                        <input type="button" value="Add New" ng-click="addItem('city')" />
                    </div>
                </form>

            </div>

            <div ng-class="{ hidden : !errors  }" class="navbar">
                <div class="alert alert-danger" role="alert" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ errors }}
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>

                    <th>City Name</th>
                    <th>Source</th>
                    <th></th>
                    <th></th>
                </tr>

                </thead>
                <tbody>
                <tr ng-class="{ success : this.item.id == cityId }" current-page="currentPage" pagination-id="statePagination" id="item_{{ item.id }}" dir-paginate="item in states | filter:query | orderBy:orderProp | itemsPerPage: pageSize">

                    <td><span title="Click here to open edit form" ng-click="openForm()">{{ item.name }}</span>
                        <div>
                            <input ng-class="{ hidden : !openEditForm }" type="text" ng-model="item.name" />
                            <input type="hidden" ng-class="{ hidden : !openEditForm }" ng-model="item.type" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Save" ng-click="updateItem('city')" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Cancel" ng-click="openForm()" />
                        </div>
                    </td>
                    <td>
                        <span ng-class="{ hidden : !item.pid  }">[{{ item.post_type }}] 
                            <a target="_blank" href="/wp-admin/post.php?post={{ item.pid }}&action=edit"> {{ item.post_title }}</a>
                        </span>
                    </td>
                    <td><a ng-click="deleteItem('city')">Remove</a></td>
                    <td><a ng-click="getZips()">View Zipcodes</a></td>

                </tr>
                </tbody>
            </table>

            <div class="text-left">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/wp-content/themes/apollo/inc/admin/network/templates/pagination.html" pagination-id="statePagination"></dir-pagination-controls>
            </div>

        </div> <!-- End .col-md-6 -->

        <div class="col-md-6"  ng-class="{ hidden : !zipcodes }">

            <div class="navbar navbar-default">

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input placeholder="Search" ng-model="queryZips" >
                    </div>

                </form>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="Zipcode Name" ng-model="zipItem.name">
                        <input type="hidden" ng-init="zipItem.type='zip'" value="zip" ng-model="zipItem.type" >
                        <input type="hidden" ng-init="initParent('zip')" ng-model="zipItem.parent">
                        <input type="button" value="Add New" ng-click="addItem('zip')" />
                    </div>
                </form>
            </div>

            <div ng-class="{ hidden : !zipErrors  }" class="navbar">
                <div class="alert alert-danger" role="alert" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ zipErrors }}
                </div>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Zipcode</th>
                    <th>Source</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr current-page="zipConfig.currentPage" pagination-id="zipPagination" id="item_{{ zipItem.id }}" dir-paginate="zipItem in zipcodes | itemsPerPage: zipConfig.pageSize | filter:queryZips">
                    <td><span title="Click here to open edit form" ng-click="openForm()">{{ zipItem.name }}</span>
                        <div>
                            <input ng-class="{ hidden : !openEditForm }" type="text" ng-model="zipItem.name" />
                            <input type="hidden" ng-class="{ hidden : !openEditForm }" ng-model="zipItem.type" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Save" ng-click="updateItem('zip')" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Cancel" ng-click="openForm()" />
                        </div>
                    </td>
                    <td>
                        <span ng-class="{ hidden : !zipItem.pid  }">[{{ zipItem.post_type }}] 
                            <a target="_blank" href="/wp-admin/post.php?post={{ zipItem.pid }}&action=edit"> {{ zipItem.post_title }}</a>
                        </span>
                    </td>
                    <td><a ng-click="deleteItem('zip')">Remove</a></td>
                </tr>
                </tbody>
            </table>
            <div class="text-left">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/wp-content/themes/apollo/inc/admin/network/templates/pagination.html" pagination-id="zipPagination"></dir-pagination-controls>
            </div>
        </div>

    </div>
</div>