<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <div class="navbar navbar-default">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input placeholder="Search" ng-model="query" >

                        Sort by:
                        <select ng-model="orderProp">
                            <option value="name">Alphabetical</option>
                            <option value="age">Newest</option>
                        </select>
                    </div>

                </form>

                <div class="alert alert-danger" role="alert" ng-class="{ hidden : !errors  }" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ errors }}
                </div>

                <div class="alert alert-success" role="alert" ng-class="{ hidden : !success  }">
                    {{ success }}
                </div>

            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>City Name</th>
                    <th>Source</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr current-page="currentPage" pagination-id="statePagination" id="#item_{{ state.id }}" dir-paginate="state in states | filter:query | orderBy:orderProp | itemsPerPage: pageSize">
                    <td ng-click="openForm()">{{ state.name }}
                        <div>
                            <input ng-class="{ hidden : !openEditForm }" type="text" ng-model="state.code" />
                            <input ng-class="{ hidden : !openEditForm }" type="text" ng-model="state.name" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Save" ng-click="updateItem()" />
                        </div>
                    </td>
                    <td>
                        <span ng-class="{ hidden : !item.pid  }">[{{ item.post_type }}] 
                            <a target="_blank" href="/wp-admin/post.php?post={{ item.pid }}&action=edit"> {{ item.post_title }}</a>
                        </span>
                    </td>
                    <td><a href="#/zlist/{{ state.id }}/zip">Zipcodes</a></td>
                </tr>
                </tbody>
            </table>

            <div class="text-left">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/wp-content/themes/apollo/inc/admin/network/templates/pagination.html" pagination-id="statePagination"></dir-pagination-controls>
            </div>

        </div> <!-- End .col-md-6 -->

        <div class="col-md-4">
            <div class="navbar navbar-default">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="Name" ng-model="item.name">
                        <input type="text" placeholder="Code" ng-model="item.code">
                        <input type="hidden" placeholder="id" ng-model="item.id">
                        <input type="button" value="Save" ng-click="addItem()" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>