<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">

            <div class="navbar navbar-default">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input placeholder="Search" ng-model="query" >

                        Sort by:
                        <select ng-model="orderProp">
                            <option value="name">Alphabetical</option>
                            <option value="-id">Newest</option>
                        </select>
                    </div>

                </form>

            </div>

            <div class="navbar navbar-default">
                <div class="alert alert-danger" role="alert" ng-class="{ hidden : !errors  }" >
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ errors }}
                </div>

                <div class="alert alert-success" role="alert" ng-class="{ hidden : !success  }">
                    {{ success }}
                </div>

                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" placeholder="Name" ng-model="item.name">
                        <input type="text" placeholder="Code" ng-model="item.code">
                        <input type="hidden" ng-init="item.type='state'" value="state" ng-model="item.type" >
                        <input type="button" value="Add New" ng-click="addItem('state')" />
                        <input type="button" value="Clone common states/cities" ng-if="!isMainSite" ng-show="!states.length" ng-click="clone()" />
                    </div>
                </form>
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>State Name</th>
                    <th>Source</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr current-page="currentPage" pagination-id="statePagination" id="item_{{ item.id }}" dir-paginate="item in states | filter:query | orderBy:orderProp | itemsPerPage: pageSize">

                    <td><span title="Click here to open edit form" ng-click="openForm()">[{{ item.code }}]  {{ item.name }}</span>
                        <div>
                            <input ng-class="{ hidden : !openEditForm }" type="text" ng-model="item.code" />
                            <input ng-class="{ hidden : !openEditForm }" type="text" ng-model="item.name" />
                            <input ng-value="state" type="hidden" ng-class="{ hidden : !openEditForm }" ng-model="item.type" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Save" ng-click="updateItem('state')" />
                            <input ng-class="{ hidden : !openEditForm }" type="button" value="Cancel" ng-click="openForm()" />
                        </div>
                    </td>
                    <td>
                        <span ng-class="{ hidden : !item.pid  }">[{{ item.post_type }}] 
                            <a target="_blank" href="/wp-admin/post.php?post={{ item.pid }}&action=edit"> {{ item.post_title }}</a>
                        </span>
                    </td>
                    <td><a ng-click="deleteItem('state')">Remove</a></td>
                    <td><a href="#/clist/{{ item.name }} ({{ item.code }})/{{ item.id }}/city">View Cities</a></td>
                </tr>
                </tbody>
            </table>

            <div class="text-left">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/wp-content/themes/apollo/inc/admin/network/templates/pagination.html" pagination-id="statePagination"></dir-pagination-controls>
            </div>

        </div> <!-- End .col-md-6 -->

    </div>
</div>