.alertify-dialog {
    padding: 50px;
}
.alertify-cover {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}
.alertify {
    background: #FFF;
    /* border: 1px solid #333; */
    /* border: 1px solid rgba(0,0,0,.7); */
    /* box-shadow: 0 3px 3px rgba(0,0,0,.3); */
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.alertify, .alertify-show, .alertify-log {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.alertify, .alertify-log {
    font-family: sans-serif;
}
.alertify {
    position: fixed;
    z-index: 99999;
    top: 50px;
    left: 50%;
    width: 550px;
    margin-left: -275px;
    opacity: 1;
}
.alertify-button-ok, .alertify-button-cancel, .alertify-button-cancel:hover, .alertify-button-cancel:focus, .alertify-button-ok:hover, .alertify-button-ok:focus {
    font-size: 12px;
    border: 1px solid #3090e5;
    padding: 10px 15px;
    text-align: center;
    color: #666;
    font-weight: 700;
    cursor: pointer;
    margin: 20px 0 0;
}
.alertify-button-cancel{
    border: 1px solid #3090e5;
}
.alertify-button-ok:hover,
.alertify-button-ok:focus,
 .alertify-button-cancel:hover,
 .alertify-button-cancel:focus {
    background-color: #3090e5;

    color: #ffffff;
}

.alertify-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.alertify-dialog {
    padding: 50px;
}

.alertify-close {
    position: absolute;
    right: -12px;
    top: -12px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: #fcb234;
    cursor: pointer;
    color: #fff;
}
.alertify-close .fa-times {
    position: absolute;
    top: 6px;
    left: 7px;
}
.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}



.alertify-button-cancel,
.alertify-button-cancel:hover{
    margin-right: 15px;
}

.alertify-button-ok,
.alertify-button-cancel
{
    background-color: #fff;
    border: 1px solid #3090e5;
}
.alertify,
.alertify-show,
.alertify-log {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
    -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
    -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
    position: fixed; z-index: 99999;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color:white;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}
.alertify-cover-hidden {
    display: none;
}
.alertify {
    position: fixed; z-index: 99999;
    top: 50px; left: 50%;
    width: 550px;
    margin-left: -275px;
    opacity: 1;
}
.alertify-hidden {
    -webkit-transform: translate(0,-150px);
    -moz-transform: translate(0,-150px);
    -ms-transform: translate(0,-150px);
    -o-transform: translate(0,-150px);
    transform: translate(0,-150px);
    opacity: 0;
    display: none;
}
.event-tt {
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #fcb234;
}
.event-tt {
    color: #3090e5;
}
.event-contact {
    height: 47px;
    width: 100%;
    background-color: #3090e5;
    color: #fff;
    line-height: 47px;
    font-size: 16px;
    font-weight: 700;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.a-block h4, .comment-ct p.t-l a:hover, .a-block.grey p.t-l a:hover, .category-itm .b-time, .category-detail .pic .b-time, .account-info .info-frm .b-btn .btn-b:hover, nav.paging li a.active, nav.paging li a:hover, .bookmark .b-btn .btn-b:hover, .tellAF-popup .btn .btn-b:hover, .btn-noW:hover, .upl-tt a .l-outer, .upl-tt a .r-outer, .upl-tt a .up-img .line-up, .upl-tt a .up-img .bottom-up, .upload-img .btn-noW.hover, #bd-print-page .b-time, .add-event, .alertify-button-ok:hover, .alertify-button-cancel:hover, .alertify-close, #artist-frm .submit-blk:hover, .r-blk .artist-search .character-board a:hover {
    background: #3090e5;
}
.apply-all a {
    text-align: center;
    position: relative;
}
.box .time-bar label{
    margin-top: 1px;
}