body.full-theme {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;

  .top-head {
    height: auto;
    text-align: initial;
    padding: 0;
  }
  //
  ////Right sidebar
  //.r-search {
  //  display: none;
  //  & + .r-blk {
  //    display: none;
  //  }
  //}

  .v-line {
    display: none;
  }

  .inner {
    width: 100%;
    max-width: 1280px;
  }
  main {
    .inner {
      padding-top: 20px;
    }
  }
  .two-col {
    display: flex;
    .wc-l {
      border-right: 1px solid #ddd;
      padding-right: 15px;
      padding-left: 5px;
      float: none;
      margin-right: 15px;
      flex: 1;

      @media (min-width: 1280px) and ( max-width: 1360px) {
        padding-left: 40px;
      }
    }
    .wc-r {
      padding-right: 5px;
    }
    .wc-f {
      margin-right: 0;
    }
  }

  // Footer
  .footer {
    font-size: @text-s4;
    padding: 30px 0;
    .ft-blk .ft-ttl {
      font-size: @text-s2;
      margin-bottom: 30px;
    }
    .wc-3 {
      width: 33%;
      margin: 0;
      box-sizing: border-box;
      padding: 0 15px;
    }
    .contact-info {
      p {
        span {
          margin-right: 7px;
          vertical-align: bottom;
        }
        label {
          vertical-align: bottom;
        }
      }
    }
  }

  .copyright {
    font-size: @text-s4;
  }

  // For button
  .btn {
    cursor: hand;
    cursor: pointer;

    &.btn-l, &.btn-b {
      .btn-outline;
    }
  }

  // B share social share in detail
  .b-share-cat {
    a.sc {
      line-height: 30px;
      width: 30px;
      height: 30px;
      font-size: 16px;
      &.inst {
        width: auto;
        height: auto;
        border: 0px;
        padding: 2px;
        border-radius: 50%;
        line-height: normal;
        vertical-align: 1px;
        background-color: #b3b3b3;
        &:hover {
          background: #d6249f;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#5a60fa 98%);
          .fa {
            background-image: #d6249f;
            background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#5a60fa 98%);
            color:transparent;
            -webkit-background-clip: text;
            background-clip: text;
          }
        }
        span {
          width: 26px;
          height: 26px;
          display: inline-block;
          border-radius: 50%;
          line-height: 26px;
          text-align: center;
          background: #fff;
        }
      }
    }
    .pt.email,
    .pt.print {
      font-size: 1.2em;
    }

    a.sc {
      &.lk.bg_social, &.tw.bg_social, &.fb.bg_social, &.google.bg_social, &.inst.bg_social {
        .fa {
          color: #fff;
        }
      }
      &.lk.bg_social {
        border-color: #006699;
        background-color: #006699;
        &:hover {
          opacity: 0.9;
        }
      }
      &.tw.bg_social {
        border-color: #00bbf5;
        background-color: #00bbf5;
        &:hover {
          opacity: 0.9;
        }
      }
      &.fb.bg_social {
        border-color: #49659f;
        background-color: #49659f;
        &:hover {
          opacity: 0.9;
        }
      }
      &.google.bg_social {
        border-color: #d01717;
        background-color: #d01717;
        &:hover {
          opacity: 0.9;
        }
      }
      &.inst.bg_social {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#5a60fa 98%);
        span {
          background: #d6249f;
          background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#5a60fa 98%);
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }

  .tab-row {
    border-color: @color-main;
  }
  a.more {
    color: @color-main;
  }


  .flexslider:hover .flex-next {
    right: 50px;
  }
  .flexslider:hover .flex-prev {
    left: 50px;
  }
  @media (max-width: 860px) {
    .flex-direction-nav .flex-next {
      right: 50px;
    }
    .flex-direction-nav .flex-prev {
      left: 50px;
    }
  }
}

// Override for global
a {
  cursor: hand;
  cursor: pointer;
  color: inherit;
}

.text-center {
  text-align: center;
}

.no-margin {
  margin: 0 !important;
}

.text-bold {
  font-weight: 600;
}

.input-with-icon {
  position: relative;
  input {
    height: 100%;
    width: 100%;
    padding-right: 40px;
  }
  i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }
}

.fixed-placeholder {
  display: none;
}

.enable-placeholder {
  + .fixed-placeholder {
    display: block;
  }
}

* {
  min-height: 1px;
  min-width: 1px;
}