.fa-icon() {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/** Smart responsive images **/
.responsive-frame(@ratio) {
  height: 0;
  position: relative;
  padding-bottom: 100%/@ratio;
  display: block;
  background-color: #f0f0f0;
  overflow: hidden;
  > img {
    position: absolute;
    // width: 100%;
    // left: 0;
    height: auto;
    top: 50%;
    left: 50%;
    // transform: translateY(-50%);
    transform: translate(-50%, -50%);
  }
}

.responsive-ratio(@ratio) {
  height: 0;
  position: relative;
  padding-bottom: 100%/@ratio;
  display: block;
  background-color: #f0f0f0;
  overflow: hidden;
}

.fa-caret-down {
  content: "\f0d7";
}

.fa-caret-right {
  content: "\f0da";
}

.fa-caret-up {
  content: "\f0d8";
}

.fa-bookmark {
  &:before {
    content: "\f02e"
  }
}

.fa-bookmark-o {
  &:before {
    content: "\f097"
  }
}

//Basic buttons
.btn-hovered() {
  cursor: hand;
  cursor: pointer;
  &:hover {
    background-color: @color-main;
    border-color: @color-main;;
  }
}

.btn-outline() {
  border-color: @color-main;
  .btn-hovered;
}

.btn-fill() {
  border-color: @color-main;
  background-color: @color-main;
  .btn-hovered;
}

.hover-link {
  &:hover {
    color: @color-main;
  }
}

// Misc
.depth-shadow() {
  box-shadow: 0 2px 2px 0 rgba(59, 14, 14, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

//Arrow
.arrow-up(@size,@color) {
  width: 0;
  height: 0;
  border-left: @size solid transparent;
  border-right: @size solid transparent;
  border-bottom: @size solid @color;
}