
body.full-theme {

  #wpadminbar {
    z-index: 99999;
  }
  .evt-blk-import.fscreen {
    z-index: 999999;
  }

  .main > .inner {
    background-color: transparent;
  }
  .top-blk.login-top.topbar {
    padding-top: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

  }
  //*****************************************************
  //Override the main color
  //*****************************************************
  .btn {
    border-color: @color-main;
    &:hover {
      background-color: @color-main;
    }
  }

  //Top head
  .top-blk.login-top.topbar a:hover,
  .top-head .top-blk a:hover {
    color: @color-main;
  }


  //Breadcrumbs
  .breadcrumbs {
    li {
      &:first-child:before {
        color: @color-main;
      }
      > a {
        color: @color-main;
      }
    }
  }

}

/** -------------------------------------------------
/*  Override date picker
 */
//Jquery ui
body.full-theme {
  .ui-datepicker-header {
    border-color: #eee;
    background-color: #eee;
    color: #333;
    .ui-corner-all {
      .ui-icon {
        transform: scale(1.3);
      }
    }
  }

  // Calendar
  @gradient: linear-gradient(to bottom, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(241, 241, 241, 1) 51%, rgba(241, 241, 241, 1) 100%);
  .ui-datepicker-calendar {

    a {
      color: #333333;
      text-align: center;
      padding: .4em;

    }
  }

  .ui-datepicker td {
    padding: 3px;
  }
  .ui-widget-content {
    background-color: #FFFFFF;
  }
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border-color: #cccccc;
    color: @color-main;
  }
  .ui-state-default {
    background: @gradient;
    text-align: center;
    color: @color-black;
    &.ui-state-active,
    &.ui-state-hover {
      border-color: lighten(@color-main, 10%);
      background: lighten(@color-main, 30%);
    }
  }
  .ui-widget-header .ui-icon {
    background-image: url(/images/ui-icons_444444_256x240.png);
  }
}

// Mixed override
body.full-theme {
  /****
/* Fix slider
 */
  #video-pager a,
  #bx-pager a {
    width: 60px;
    height: 60px;
    img {
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  a.fullscreen {
    z-index: 1;
    &:hover {
      color: @color-main;
    }
  }

  //loader
  .vd-loader,
  .loader {
    a {
      color: @color-main;
    }
  }

  #back-to-top {
    background-color: @color-main;
    width: 45px;
    height: 45px;
    > i {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.6em;
    }
  }

  .category-detail .pic span.date .evt-date-bubble {
    height: auto !important;
  }

  @media (min-width: 1020px) {
    nav.blog-list li .blog-tt .blog-name {
      max-width: initial;
    }
  }

  .blk-fea-article {
    border-bottom: none;
    margin-bottom: 0;
  }
}



// Fix top search row
body.full-theme {


  @media (max-width: 480px) {
    .ui-widget-header .ui-icon {
      background-image: none;
    }
    .top-search-row {
      #search-auto-complate-append-here-header {
        float: none;
      }
      .el-blk.displayed {
        float: none;
      }
      .s-rw {
        float: none;
      }
      .btn.btn-l {
        margin-top: 0;
      }
      .calendar-ipt > span {
        width: 100%;

      }

      .calendar-ipt .fa {
        top: 16px;
        left: initial;
        right: 10px;

        &.ico-e {
          top: 56px;
        }
      }
    }
  }
}