/**
//* Variables for octave theme
 */
@text-s1: 54px;
@text-s2: 20px;
@text-s3: 18px;
@text-s4: 16px;
@text-s45: 14px;
@text-s5: 15px;
@text-s6: 13px;

@title-s1: 28px;

@color-main: #429AD4;
@color-green: #7fba42;
@color-black: #333333;
@color-gray-border: #ddddde;

@title-gray: #979797;
@title-red: #ad292f;

@topbar-height: 70px;
@admin-bar-height: 32px;


