/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-refresh-01:before {
  content: "\ea01";
}

.nc-icon.nc-world-2-2:before {
  content: "\ea04";
}

.nc-icon.nc-tail-up:before {
  content: "\ea05";
}

.nc-icon.nc-tail-down:before {
  content: "\ea06";
}

.nc-icon.nc-tail-left:before {
  content: "\ea07";
}

.nc-icon.nc-tail-right:before {
  content: "\ea08";
}

.nc-icon.nc-calendar-60-2:before {
  content: "\ea09";
}

.nc-icon.nc-calendar-57-2:before {
  content: "\ea0a";
}

.nc-icon.nc-calendar-60:before {
  content: "\ea0b";
}

.nc-icon.nc-calendar-57:before {
  content: "\ea0c";
}

.nc-icon.nc-triangle-up-19:before {
  content: "\ea0f";
}

.nc-icon.nc-triangle-down-20:before {
  content: "\ea10";
}

.nc-icon.nc-small-triangle-right:before {
  content: "\ea32";
}

.nc-icon.nc-small-triangle-left:before {
  content: "\ea33";
}

.nc-icon.nc-small-triangle-up:before {
  content: "\ea13";
}

.nc-icon.nc-small-triangle-down:before {
  content: "\ea14";
}

.nc-icon.nc-favourite-31-2:before {
  content: "\ea15";
}

.nc-icon.nc-shuffle-98:before {
  content: "\ea16";
}

.nc-icon.nc-logo-youtube:before {
  content: "\ea17";
}

.nc-icon.nc-logo-twitter:before {
  content: "\ea18";
}

.nc-icon.nc-logo-facebook:before {
  content: "\ea19";
}

.nc-icon.nc-logo-instagram:before {
  content: "\ea1a";
}

.nc-icon.nc-logo-linkedin:before {
  content: "\ea1b";
}

.nc-icon.nc-menu-dots:before {
  content: "\ea1c";
}

.nc-icon.nc-email-83:before {
  content: "\ea1d";
}

.nc-icon.nc-world-2:before {
  content: "\ea1e";
}

.nc-icon.nc-ic_close_36px:before {
  content: "\ea1f";
}

.nc-icon.nc-grid-45:before {
  content: "\ea20";
}

.nc-icon.nc-favourite-31:before {
  content: "\ea21";
}

.nc-icon.nc-ic_keyboard_arrow_down_24px:before {
  content: "\ea22";
}

.nc-icon.nc-ic_keyboard_arrow_left_24px:before {
  content: "\ea23";
}

.nc-icon.nc-ic_keyboard_arrow_right_24px:before {
  content: "\ea24";
}

.nc-icon.nc-ic_keyboard_arrow_up_24px:before {
  content: "\ea25";
}

.nc-icon.nc-share-2:before {
  content: "\ea26";
}

.nc-icon.nc-share-66:before {
  content: "\ea27";
}

.nc-icon.nc-ic_format_quote_48px:before {
  content: "\ea28";
}

.nc-icon.nc-social-1_logo-pinterest:before {
  content: "\ea29";
}

.nc-icon.nc-social-1_logo-google-plus:before {
  content: "\ea2a";
}

.nc-icon.nc-social-1_logo-yelp:before {
  content: "\ea2b";
}

.nc-icon.nc-social-1_logo-tumblr:before {
  content: "\ea2c";
}

.nc-icon.nc-social-1_logo-vimeo:before { 
  content: "\ea2d";
}

.nc-icon.nc-social-1_logo-rss:before {
  content: "\ea2e";
}

.nc-icon.nc-tablet-reader-31:before {
  content: "\ea2f";
}

.nc-icon.nc-trip-advisor:before {
  content: "\ea30";
}

.nc-icon.nc-menu-dots-2:before {
  content: "\ea31";
}

.nc-icon.nc-arrow-right:before, .nc-icon.nc-triangle-right-17:before {
  content: "\ea32";
}

.nc-icon.nc-arrow-left:before, .nc-icon.nc-triangle-left-18:before {
  content: "\ea33";
}

