body.full-theme {
  &.single-post {
    .top-search  {
      display: none;
    }
    @media (min-width: 0px) {
      .wc-r {
        padding-right: 0;

        .r-blk {
          .rvw-itm {
            .rvw-pic {
              width: 60px;
              height: 60px;
              max-height: 60px;
            }
            p,
            h4 {
              margin-left: 70px;
            }
          }
        }

        .topten-item {
          .info {
            padding: 5px 5px 5px 8px;
            margin-left: 70px;
          }
          .pic {
            width: 70px;
            height: 70px;
          }
        }
      }


      nav.blog-list {
        > li .blog-tt {
          float: none;
          margin-bottom: 10px;
          &:after {
            content: ' ';
            clear: both;
          }
          .blog-like {
            margin-top: 33px;
            padding-right: 8px;
            float: left;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            a.likeicon {
              top: initial;
            }
            .num {
              margin-left: 5px;
              top: 1px;
              label {
                height: 100%;
                text-align: center;
                margin-left: 0;
                display: block;
              }
            }
          }
        }

        .blog-name {
          float: none;
          max-width: initial;
          margin-top: 24px;
          .namedetail-txt {
            font-size: @text-s1;
            font-weight: 500;
            line-height: 1.1;
          }
        }
        .blog-description {
          font-size: @text-s3;
          margin-top: 10px;
        }

        > li .blog-category {
          width: auto;
          margin-top: 10px;
          .like {
            top: 0;
            a:before {
              font-size: 1.33333em;
            }
          }
        }

      }
    }
    nav.blog-list {
      > li .blog-category {
        .cate-blk {
          .like-button {
            margin-right: 15px;
            i {
              margin-top: 0;
            }
          }
          .slash {
            color: @color-main;
          }
          a.cm-num {
            color: @color-main;
          }
          a {
            .hover-link;
          }
        }
      }
    }


    .b-share-cat {
      &.b-share-cat--top {
        margin-top: 20px;
      }
      a.sc,
      a {
        margin-left: 0;
        margin-right: 10px;
        margin-bottom: 0;
      }
    }

    .btn.btn-b {
      .btn-outline;
    }


    @media (min-width: 1190px) {
      // Comment
      .blog-bkl {
        font-size: @text-s3;

        a.comment-reply-link {
          font-size: @text-s45;
        }
      }

      .inp-txt-event {
        font-size: @text-s45;
      }

      .inp-desc-event {
        height: 120px;
        font-size: @text-s45;
      }

      .comment-box .cment {
        font-size: @text-s2;
        text-transform: capitalize;
      }

      .cm-form {
        h3 {
          font-size: @text-s2;
        }
      }

      nav.blog-list {
        > li .blog-category {
          margin-bottom: 10px;
          .cate-blk {
            font-size: @text-s4;
          }
          &.social-blog {
            float: left;
            margin: 10px 0;
            width: 100%;
          }
        }
      }
    }
    .comment-box .cment a {
      color: @color-main;
    }

    .wp-caption-text {
      padding-left: 5px;
      padding-right: 5px;
      font-size: 15px;
    }

    .blog-content {
      .blog-text-detail {
        img {
          max-width: 100%;
        }
        p {
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
      .content-image,
      .blog-pic-detail {
        margin-top: 10px;
        margin-bottom: 10px;
        max-height: initial;
      }
      .content-image {
        left: calc(895px/2 - 1260px/2);
        width: 1260px;
        position: relative;
        text-align: center;
      }
    }
    .media-credit {
      text-align: center;
    }
  }

}

.responsive-block {
  position: relative;
  left: calc(895px/2 - 1260px/2);
  width: 1260px;
  text-align: center;

  margin: 10px auto;
  height: auto;
  padding-bottom: 100%;
  position: relative;
  .responsive-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    display: block;
    height: 100%;
  }
}

@media (max-width: 1260px) {
  .responsive-block {
    width: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
  }
  body.full-theme.single-post {
    .blog-content {
      .content-image {
        width: calc(100% + 40px);
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: 1115px) {
  .responsive-block {
    width: calc(100% + 10px);
    padding-bottom: 70%;
  }
  body.full-theme.single-post {
    .blog-content {
      .content-image {
        width: calc(100% + 10px);
      }
    }
  }
}

@media (max-width: 868px) {
  .responsive-block {
    width: 100%;
    padding-bottom: 56%;
    left: 0;
    transform: translateX(0);
  }
  body.full-theme.single-post {
    .blog-content {
      .content-image {
        width: 100%;
        left: 0;
        transform: translateX(0);
      }
    }
  }
}

@media (max-width: 768px) {
  body.full-theme.single-post-solo {
    .blog-text-detail {
      width: 100%;
    }
  }
}

body.full-theme {
  * {
    box-sizing: border-box;
  }
  &.single-post-solo {
    .sticky-social {
      display: none;
    }
    .bg-wrapper {
      background-color: #f0f0f0;
      margin-top: 0!important;
      padding: 20px 0 30px;
      .inner {
        padding: 0 15px;
      }
      .b-share-cat {
        float: right;
        label {
          color: #666666;
        }
        a:not(:hover) {
          color: #666666;
          border-color: #666666;
        }
      }
    }
    .inner {
      padding-top: 0;
      margin-top: 0;
    }
    .wc-r {
      display: none;
    }
    .wc-l {
      border-right: 0;
      margin-right: 0;
      padding: 0;
    }
    .breadcrumbs {
      display: none;
    }
    nav.blog-list {
      .blog-name {
        .namedetail-txt {
          width: auto;
          margin-bottom: 25px;
        }
      }
    }

    //Override some
    .b-share-cat {
      float: right;
    }

    .p-title {
      font-size: 25px;
      font-weight: bold;
      margin: 10px 0;
    }

    .blog-content {
      overflow: visible;

      >*,
      .blog-text-detail {
        overflow: visible;
      }
    }
    .blog-text-detail {
      max-width: 895px;
      margin-right: auto;
      margin-left: auto;
      h3 {
        font-size: 38px;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        font-family: serif;
        margin: 20px auto;
      }
    }

    .parallax-title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 120px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 300;
      text-align: center;
    }

    .full-width-block {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin: 10px -50vw;
    }

    .ov-parallax {
      min-height: 400px;
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
    }

    // Fix credit caption
    .blog-pic-detail {
      position: relative;
      .media-credit {
        text-align: left;
        position: absolute;
        z-index: 1;
        bottom: 5px;
        color: #fff;
        text-shadow: 1.176px 1.618px 4px rgba(1, 0, 0, .43)
      }
    }

    .media-credit-container {
      .media-credit {
        text-align: center;
      }
    }

    .blog-header-image {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      text-align: center;
      .blog-header-image--content {
        max-height: 800px;
        // Disable parallax for this
        text-align: center;
        overflow: hidden;
        display: inline-block;
        margin-bottom: -2px;
        img {
          margin: auto auto -3px auto;
          max-width: 100%;
          width: auto;
          height: auto;
        }
      }
    }

    @media (max-width: 1279px) {
      .blog-full-width {
        display: none;
      }
    }

    @media (max-width: 1200px) {
      .ov-parallax {
        min-height: 250px;
      }
      .parallax-title {
        font-size: 54px;
      }
    }
  }

  &:not(.single-post-solo) {
    .ov-parallax {
      background: none!important;
    }
  }
}

body.full-theme {
  &.single-organization, &.single-artist, &.single-venue {
    .art-pic {
      width: auto;
      max-width: 32%;
      margin-right: 2%;
      margin-bottom: 10px;
    }
    .apl-internal-content {
      ul {
        margin-left: 0px;
      }
    }
  }
}

body.full-theme {
  &.single-organization, &.single-artist, &.single-venue {
    .art-desc {
      ul {
        li {
          list-style-position: inside;
        }
      }
    }
    .art-social{
      width: 100%;
      float: none;
    }
  }
}

@media (max-width: 768px){
  body.full-theme {
    &.single-organization, &.single-artist, &.single-venue {
      .art-pic {
        margin-right: 5%;
      }
    }
  }
}

@media (max-width: 480px) {
  body.full-theme {
    &.single-organization, &.single-artist, &.single-venue {
      .art-pic {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 370px) {
  body.full-theme {
    &.single-organization, &.single-artist, &.single-venue {
      .art-pic {
        margin-bottom: 0px;
      }
    }
  }
}
