body.full-theme {
  .category-page-event-box {
    .astro-featr {
      .blog-itm {
        width: 100%;
        .pic {
          width: 40%;
          float: left;
          a {
            background-color: #f1f1f1;
          }
        }
      }
    }
  }
  .b-btn.category .btn-category,
  .b-btn.cat-detail .btn-cat-detail {
    border-color: @color-main;
    &:hover {
      background-color: @color-main;
    }
  }

  .fullw.clients {
    padding: 40px 0;
  }

  .content-page {
    .desc {
      font-size: @text-s3;
      .vmore {
        color: @color-main;
        &:hover {
          color: @color-main;
        }
      }
    }

  }
  .category-itm {
    margin-left: -10px;
  }
  .list-more-category {
    .more-cat-itm {
      h3 {
      font-size: @text-s3;
      }

      .more-ct {
        .desc a.vmore {
          color: @color-main;
          &:hover {
            color: @color-main;
          }
        }
      }

      @media(min-width: 992px) {
        display: flex;
        .b-btn {
          width: 180px;
          float: none;
        }
        .more-pic {
          float: none;
          max-width: 120px;
          max-height: 120px;
        }

        .more-ct {
          flex: 1;
          width: auto;
          float: none;
        }
      }
    }
  }


  .category-detail {
    // Top meta info
    .meta.auth {
      clear: both;
    }

    .pic {
      margin-top: 50px;
      clear: both;
    }
  }

  .cat-rating-box {
    float: none;
    display: inline-block;
    margin: 0 0 10px 0;
    vertical-align: bottom;
  }

  .bok-mk.bok-mk--clickable {
    position: static;
    float: none;
    display: inline-block;
    margin-left: 12px;
    vertical-align: bottom;
    
    > a {
      cursor: hand;
      cursor: pointer;
      &:before {
        font-size: 24px;
      }
      &:hover {
        color: #429ad4;
        &:before {
          content: "\f02e";
        }
      }

    }

    >a.bookmark_highlight {
      color: #429ad4;
      &:before {
        content: "\f02e";
      }
    }
  }

  .category-page-event-box {
    .box-action-wrap {
      display: inline-block;
      vertical-align: middle;
    }
    .bok-mk.bok-mk--clickable.bok-mk--item {
      > a {
        &:before {
          display: inline-block;
          vertical-align: -4px;
        }
      }
    }
  }

  .list-category {
    .cat-rating-box {
      .box-action-wrap {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .bok-mk.bok-mk--clickable.bok-mk--item {
      > a {
        &:before {
          display: inline-block;
          vertical-align: -4px;
        }
      }
    }
  }

  .list-more-category-others-event {
    .more-cat-rating-box {
      .box-action-wrap {
        display: inline-block;
        vertical-align: middle;
      }
    }
    .bok-mk.bok-mk--clickable.bok-mk--item {
      > a {
        &:before {
          display: inline-block;
          vertical-align: -4px;
        }
      }
    }
  }
  .event-detail-article {
    .social-icon-pck {
      .bok-mk.bok-mk--clickable.bok-mk--item {
        vertical-align: 0px;
        float: right;
        > a {
          &:before {
            display: inline-block;
            vertical-align: -4px;
          }
        }
      }
    }
  }

  .category-lft.category-page-event-box .box-action-wrap .like {
    top: -4px;
  }
  
  .wrapper-vertical-no-title {
    .item-feature-event {
      .evt-action {
        .social-has-sidebar {
          a {
            vertical-align: middle;
          }
        }
      }
    }
    .bok-mk.bok-mk--clickable.bok-mk--item {
      margin-left: 0;
      vertical-align: 1px;
      > a {
        padding: 0;
        text-transform: capitalize;
        &:before {
          vertical-align: -3px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .event-detail-article {
      .social-icon-pck {
        .box-action-wrap {
          vertical-align: middle;
          display: inline-block;
        }
        .bok-mk.bok-mk--clickable.bok-mk--item {
          float: none;
          vertical-align: -7px;
        }
        .astro-featr {
          .bok-mk.bok-mk--clickable.bok-mk--item {
            vertical-align: 0;
          }
        }
      }
    }
  }
  .event-detail-article {
    .social-icon-pck {
      .astro-featr {
        .bok-mk.bok-mk--clickable.bok-mk--item {
          float: none;
          > a {
            text-transform: capitalize;
            font-size: 14px;
            display: inline-block;
            vertical-align: -3px;
          }
        }
        .rating-box.rating-action {
          width: auto;
        }
      }
    }
  }

  @media (max-width: 320px) {
    .wrapper-vertical-no-title {
      .bok-mk.bok-mk--clickable.bok-mk--item {
        display: block;
      }
    }
  }
}

/*Update category box social*/
body.full-theme {
  .category-page-event-box {
    .apl-wrap-under-presented {
      display: flex;
      flex: 0 0 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 40px;
      .b-share-cat:not(.b-share--full) {
        order: 1;
        margin-bottom: 0;
      }
      .rating-box.rating-action {
        float: none;
        width: auto;
        order: 0;
        margin-bottom: 0;
        .box-action-wrap  {
          vertical-align: -3px;
        }
        .bok-mk.bok-mk--clickable {
          vertical-align: middle;
        }
      }
    }
    .meta.auth+.apl-wrap-under-presented {
      .b-share-cat {
        float: none;
      }
    }
  }
}

body.full-theme {
  .category-detail {
    &.category-page-event-box {
      .sch-date {
        margin-top: -10px;
      }
      .sch-date + .apl-wrap-under-presented {
        margin-top: 0;
      }
    }
  }
  .list-category {
    .category-itm {
      .category-t {
        .sch-date {
          margin-top: -10px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.full-theme {
    .category-page-event-box {
      .apl-wrap-under-presented {
        display: block;
        .b-share-cat:not(.b-share--full) {
          text-align: left;
          margin-bottom: 15px;
        }
        .rating-box.rating-action {
          margin-bottom: 0;
        }
      }
    }
  }
}
@media (max-width: 746px) {
  body.full-theme {
    .category-page-event-box {
      .apl-wrap-under-presented {
        .rating-box.rating-action {
          .box-action-wrap  {
            display: inline-block;
            vertical-align: 0;
          }
        }
      }
    }
  }
}