body.full-theme {
  & {
    background: none;
  }
  .astro-featr {
    .blog-itm .pic {
      width: 100%;
      height: auto;
      max-height: 500px;
      float: none;
    }
  }
  .grid {
    .event-detail-article {
      article.blog-itm {
        width: auto;
      }
    }
  }
  @media (min-width: 1280px) {

    // Header
    .header {
      .form-search {
        .inp.inp-txt {
          font-size: @text-s45;
          width: 190px;
        }
      }
      .search-box {
        .btn:hover {
          background-color: transparent;
          cursor: pointer;
          cursor: hand;
        }
      }
    }

    .login-top-buttons() {
      font-size: @text-s3;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    .top-blk.login-top a {
      .login-top-buttons;
    }

    .top-blk.login-top.topbar {
      padding-top: 0;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      a {
        .login-top-buttons;
      }
    }

    .top-head {
      .login-top {
        padding-top: 0;
        margin-top: 0;
        height: auto;
      }
    }

    //Menu
    .main-menu .mn-menu .nav > li > a {
      font-size: @text-s4;
    }

    .mn-menu .has-child ul.sub-menu {
      font-size: @text-s4;

    }

    //Header font size
    // Body font size
    .astro-detail {
      font-size: @text-s3;

    }

    .astro-featr .a-txt-fea {
      font-size: @text-s3;
    }

    //Map, map search
    .search-map-frm {
      margin-bottom: 10px;
      i {
        vertical-align: baseline;
      }
      input {
        font-size: @text-s3;
      }
    }

    .a-block.fb-comment {
      display: none;
    }

    // Video
    .video-block {
      .vdeo {
        height: 450px;
        iframe {
          height: 450px;
        }
      }
    }

    .bxslider li {
      height: 450px;
    }

    .photo-inner {
      .bxslider li {
        &:not([style*="display: none;"]) {
          display: flex !important;
          justify-content: center;
          align-items: center;
          > *:not(:first-child) {
            display: none !important;
          }
        }
      }
    }

    .bx-wrapper .bx-viewport {
      height: 450px;
      max-height: 500px;
    }

    h1.p-ttl {
      font-size: @text-s1;
      padding: 0 10% 0 0;
      margin-top: 24px;
      font-weight: 500;
      & + .meta {
        margin: 20px 0 10px;
        font-size: @text-s3;
      }
    }

    .rating-box {
      font-size: @text-s5;
      margin-bottom: 60px;
      a:before {
        font-size: 1.2em;
      }
    }

    .btn-b {
      font-size: @text-s5;
      padding: 10px 25px;
    }

    .main {
      font-size: @text-s5;
    }

    .left-event-time {
      padding: 10px;
      > * {
        padding: 0 6px;
      }
    }

    .a-block {
      h4 {
        font-size: @text-s3;
        padding: 10px 0 10px 10px;
        margin-bottom: 30px;
      }
      &#comment,
      &.review,
      &.datetime,
      &.adm {
        h4 {
          margin-bottom: 20px;
        }
        ul.ind-time {
          margin-top: 0;
          margin-bottom: 15px;
        }
      }
    }

    .astro-featr {
      .b-btn {
        margin-top: 30px;
      }
    }

    .a-block-ct ul.ind-time li {
      font-size: @text-s3;
    }

    // More from
    .more-frm-itm {
      h3 {
        font-size: @text-s4;
        margin-bottom: 5px;
      }
      .b-btn {
        width: 170px;
        float: right;
        margin-top: 0px;
      }
      .more-pic {
        width: 80px;
        height: 80px;
        img {
          height: 100%;
          width: 100%;
          max-width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    // The map
    .filter-map td {
      padding: 5px 0;
      img {
        margin-left: 5px;
        margin-right: 10px;
      }
    }

    .locatn .lo-left .lo-map {
      height: 400px;
      img {
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    .datetime .a-block-ct .not {
      font-size: @text-s3;
    }

    //Fix comment
    .comments-area {
      p {
        font-size: @text-s5;
      }
      h3 {
        font-size: @text-s2;
        & + p {
          margin-top: 5px;
        }
      }
      .pre-code {
        margin: 10px 0;
      }
      label {
        font-size: @text-s3;
        margin-top: 15px;
        margin-bottom: 5px;
      }
      .comment-content {
        margin-top: 10px;
      }
      .comment-ct p.t-l a {
        font-size: 15px;
      }
    }

    .commentlist {
      margin-bottom: 50px;
    }
  }

  //Content
  .like > a:hover,
  .b-share-cat > a.pt:hover {
    color: @color-main;
  }
  .bok-mk,
  .cm {
    a:hover {
      color: @color-main;
    }
  }

  .left-event-time {
    background-color: @color-main;
  }
  .astro-featr .a-desc a.vmore {
    color: @color-main;
    font-size: @text-s3;
    &:hover {
      color: @color-main;
    }
  }

  .a-block h4 {
    background-color: @color-main;
  }
  .a-block.adm h4 > span {
    color: @color-main;
  }

  a.vmore,
  .nofi-map a.nofi-exp {
    color: @color-main;
  }

  //Comment
  .comment-ct p.t-l a {
    .btn-outline;
  }

  // Sidebar
  .r-search .r-ttl i.fa {
    background-color: @color-main;
  }
  .r-blk .r-ttl {
    color: @color-main;
    font-size: @text-s2;
  }

  .topten-item .info:hover {
    background-color: @color-main;
  }
  .r-blk .r-ttl.datetime {
    color: #fff !important;
  }
  .form-event .s-rw .lst-lik a:hover {
    .btn-hovered;
  }

  &.single-event {
    .b-share-cat:not(.b-share--full) {
      display: none;
    }
    .b-share--full {
      display: block;
      text-align: left;
      > a:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

}


.b-share--full {
  display: none;
}

.a-block h4 > span {
  transform: translateY(-50%);
  top: 50%;
}

@media (max-width: 768px) {
  body.full-theme {
    .astro-featr {
      .a-desc {
        a.vmore {
          font-size: 14px;
        }
      }
    }
  }
}

body.full-theme {
  .astro-featr  {
    .a-block-ct {
      .location-btn {
        display: none;
      }
    }
  }
  @media (max-width: 768px) {
    .astro-featr  {
      .a-block-ct {
        .location-btn {
          display: block;
          margin-top: 10px;
          margin-bottom: 10px;
          a {
            &.btn.btn-b {
              margin-bottom: 0px;
              background-color: #429ad4;
              color: #fff;
              padding: 4px 10px;
            }
          }
        }
      }
    }
  }
}

/*Update style detail single page*/
body.full-theme {
  &.single-event {
    .apl-wrap-under-presented {
      display: flex;
      flex: 0 0 100%;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 40px;
      .b-share-cat:not(.b-share--full) {
        order: 1;
        margin-bottom: 0;
      }
      .rating-box.rating-action {
        float: none;
        width: auto;
        order: 0;
        margin-bottom: 0;
        .box-action-wrap  {
          vertical-align: -3px;
        }
        .bok-mk.bok-mk--clickable {
          vertical-align: middle;
        }
      }
    }
    &.single-event {
      .meta.auth+.apl-wrap-under-presented {
        .b-share-cat {
          float: none;
        }
      }
    }
  }
}

body.full-theme {
  &.single-event {
    .event-detail-article {
      .astro-featr {
        .blog-itm {
          .pic {
            float: left;
            max-width: 300px;
            max-height: 400px;
            width: auto;
            text-align: left;
            margin-bottom: 0;
          }
          .a-desc {
            ul {
              margin-left: 0;
              li {
                list-style-position: inside;
              }
            }
          }
        }
      } 
    }
  }
}

@media (max-width: 768px) {
  body.full-theme {
    &.single-event {
      .apl-wrap-under-presented {
        display: block;
        .astro-featr {
          .blog-itm {
            .pic {
              margin-bottom: 0;
            }
          }
        }
        .b-share-cat:not(.b-share--full) {
          text-align: left;
          margin-bottom: 15px;
        }
        .rating-box.rating-action {
          margin-bottom: 0;
        }
      }
    }
  }
  body.full-theme {
    &.single-event {
      .event-detail-article {
        .astro-featr {
          .blog-itm {
            .pic {
              max-width: 150px;
              max-height: 300px;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 746px) {
  body.full-theme {
    &.single-event {
      .apl-wrap-under-presented {
        .rating-box.rating-action {
          .box-action-wrap  {
            display: inline-block;
            vertical-align: 0;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  body.full-theme {
    &.single-event {
      .event-detail-article {
        .astro-featr {
          .blog-itm {
            .pic {
              max-width: none;
              width: 100%;
              float: none;
              text-align: center;
              max-height: none;
            }
          }
        }
      }
    }
  }
}