/*Style all event page*/
@media (max-width: 767px) {
    body.full-theme {
        .more-frm-itm {
            .more-pic {
                width: 120px;
                height: 120px;
                img {
                    height: auto;
                    width: 100%;
                    max-width: 100%;
                }
            }
            .more-ct {
                margin-left: 135px;
                margin-right: 0;
                width: ~"calc(100% - 135px)";
            }
            .b-btn {
                margin-left: 135px;
                width: ~"calc(100% - 135px)";
                a.btn-b {
                    width: 100%;
                    max-width: 185px;
                }
            }
        }
    }
}