body.full-theme {
  &.page-home {
    .top-search {
      display: none;
    }

    .clients {
      display: none;
    }
    .row.two-col {
      .wc-l {
        padding-left: 0;
      }
    }

    hr.section-sp {
      border-top: 1px solid @color-gray-border;
    }
  }

  #featured-event-label {
    padding-bottom: 10px;
    font-size: 28px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #979797;
    font-weight: bold;
    clear: both;
  }

}

.section-block {
  margin-bottom: 20px;
  .block__title {
    font-size: @title-s1;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: @title-gray;
    font-weight: bold;
  }
  .block__content.has-border {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  &.has-underline {
    .featured-item {
      border-bottom: 1px solid #dddddd;
    }
  }
}

.featured-item {
  margin-bottom: 20px;
  .featured__title {
    color: @title-red;
    font-size: @text-s3;
    text-transform: uppercase;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    line-height: 1.4;
  }
  .featured__sub-title {
    .featured__title;
    font-size: inherit;
  }
  .featured__author {
    font-weight: normal;
  }
  .featured__thumbnail {
    height: 200px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    img {
      object-fit: cover;
      object-position: top;
      // width: 100%;
      height: 100%;
      max-width: 100%;
    }
  }
  .featured__description {
    font-size: @text-s4;
    margin-bottom: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  &.featured-item--horizontal {
    display: flex;
    .featured__thumbnail {
      width: 105px;
      height: 81px;
      margin-bottom: 0;
    }
    .featured__description {
      padding-left: 10px;
      flex: 1;
    }
  }
}

.flex-row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
  .equal {
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
  }

  @media (max-width: 992px) {
    &.equal-md-up {
      display: block;
    }
  }
  @media (max-width: 767px) {
    &.equal-sm-up {
      display: block;
    }
  }
}

.full-theme {
  //overrides
  .second-slider .flex-control-paging li a {
    background-color: lighten(@color-main, 20%);
    &:hover,
    &.flex-active {
      background-color: @color-main;
    }
  }

  .tab-bt {
    background-color: @color-main;
  }

  .tab-list {
    li:hover,
    li.selected {
      background-color: @color-main;
    }
  }

  .event-time {
    background-color: @color-main;
  }

  .b-btn .btn-b {
    .btn-outline;
    &:hover {
      background-color: @color-main !important;
    }
  }


  .section-features {
    margin-bottom: 40px;
    .section-sp {
      margin: 20px 0 0;
    }
    .featured-item {
      font-weight: bold;
      .featured__description {
        margin-bottom: 0;
      }
      .featured__title {
        font-size: 18px;
        color: @color-black;
      }
      &.featured-item--horizontal {
        a {
          font-size: 14px;
          margin-bottom: 5px;
        }
        .featured__title {
          font-size: 15px;
        }
      }
    }

    .block__content {
      padding-top: 20px;
    }

  }
  .fa-spinner.fa-spin {
    color: @color-main;
  }
}

@media (min-width: 1280px) {
  body.full-theme {
    .main {
      .apl-internal-content {
        section.description {
          ul, ol {
            li {
              font-size: @text-s3;
            }
          }
        }
      }
    }
  }
}

/** Responsive home-page **/
@media (max-width: 480px) {
  body.full-theme {
    &.page-home {
      .main-slider {
        .flex-control-paging {
          bottom: 10px;
        }
        .i-slider {
          .i-caption {
            bottom: 20px;
            h4 {
              font-size: 20px
            }
          }
          p {
            font-size: 15px;
          }
        }
      }
    }

    .two-col {
      .wc-l {
        padding-right: 0;
        margin-right: 0;
        border: none;
      }
      .wc-r {
        display: none;
      }
    }

    .section-features {
      .two-col {
        flex-wrap: wrap;
        .wc-l {
          margin-bottom: 20px;
        }
        .wc-r {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

/*Update style max-width for feature-event*/
body.full-theme {
  .grid {
    .blog-itm {
      .pic {
        a {
          img {
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  .blog-itm {
    .pic {
      a {
        text-align: center;
      }
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }
}

/*18890: fixed border select item import events */
body.full-theme {
  .event-import-wrapper {
    .handsontableInputHolder {
      .handsontableInput {
        box-sizing: content-box;
      }
      .select2-container.handsontableInput {
        padding-top: 2px;
      }
      .select2-dropdown-open {
        .select2-choice {
          border: 0;
          border-radius: 0;
        }
      }
    }
  }
}