.site-map{
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;

  h2{
    margin-bottom: 20px;
  }

  h4{
    margin: 15px 0 10px;
  }

  li{
    a{
      line-height: 25px;
      color: @color-green;
    }
  }

}