.block-cust {
    display: none;
}

.block {
    position: relative;
    padding: 0;
    margin: 0;
    &.teaser {
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: #2a99d7;
            opacity: .8;
            width: 150%;
            height: calc(1200px * 1.5);
            border-radius: 50%;
            z-index: 0;

        }
        &.teaser-left {
            &:before {
                left: -70%;
                top: 50%;
                transform: translate(-30%, -50%);
            }
            .teaser-content {
                left: 0;
                transform: translate(0, -50%);
            }
        }
        &.teaser-right {
            &:before {
                right: -70%;
                top: 50%;
                transform: translate(30%, -50%);
            }
            .teaser-content {
                right: 0;
                transform: translate(0, -50%);
            }
        }
        .teaser-content {
            z-index: 1;
            position: absolute;
            top: 50%;
            padding: 2rem;
            width: 30%;
            .content {
                margin-bottom: 2rem;
            }
        }
    }
}

.block-feature {
    width: 100%;
    height: 923px;
    overflow: hidden;
    background: url(../assets/next_lv_01.JPG) no-repeat top right;
    background-size: cover;
    .teaser-content {
        padding-left: 4rem !important;
        color: #feffff;
        h1, h2, h3, h4, h5, h6 {
            color: #feffff;
        }
        h1 {
            text-transform: uppercase;
            margin: 0;
        }
        h2 {
            margin: 5px 0 16px;
        }
    }
}

.block-events {
    background: url(../assets/bg_happend.png) no-repeat top center;
    background-size: cover;
    height: 1140px;
    padding: 55px 0px;
    h1, h2 {
        color: #676767;
        padding-left: 55px;
        padding-right: 55px;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 40px;
    }
    h2.late-new {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .article-circle {
        text-align: center;
        padding-left: 55px;
        padding-right: 55px;
        margin-bottom: 100px; 
        .article-item {
            width: 295px;
            height: 295px;
            display: inline-block;
            position: relative;
            margin: 0px 32px;
            .teaser-bg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 1s;
                border-radius: 50%;
            }
            &:hover {
                &.article-item {
                    .teaser-bg {
                        transform: rotate(-5deg);

                    }
                    .content-teaser {
                        opacity: 1;
                        overflow: hidden;
                        >p {
                            top: 0;
                        }
                    }
                    &.item-orange {
                        .content-teaser {
                            background-color: rgba(255, 165, 0, 0.7); 
                        }
                    }
                    &.item-blue {
                        .content-teaser {
                            background-color: rgba(0, 0, 255, 0.7); 
                        }
                    }
                    &.item-green {
                        .content-teaser {
                            background-color: rgba(0, 128, 0, 0.7); 
                        }
                    }
                }    
            }
            &.item-orange {
                &:after {
                    border: 3px solid orange;
                    top: 0;
                }    

            }
            &.item-blue {
                &:after {
                    border: 3px solid blue;
                    top: 0;
                }
            }
            &.item-green {
                &:after {
                    border: 3px solid green;
                    bottom: 0;
                }
            }
            &:after {
                content: '';
                display: block;
                width: 93%;
                height: 93%;
                position: absolute;
                border: 3px solid;
                border-radius:50%; 
                z-index: 0;
            }
            .article-title {
                background-size: cover;
                background-position: center center; 
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: inline-block;
                border-radius: 50%;
                border: 10px solid #dcdcdc;
                .content-teaser {
                    background: transparent;
                    display: table;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    color: white;
                    font-weight: bold;
                    font-size: 1.7rem;    color: white;
                    font-weight: bold;
                    font-size: 1.7rem;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    transition: all 0.3s;
                    >p {
                        display: table-cell;
                        vertical-align: middle;
                        position: relative;
                        top: 10%;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}
.block-support-icon {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    height: 169px;
    bottom: 0;
    h2 {
        margin-top: 25px;
    }
    .support-icon {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 169px;
        background: url(../assets/support-icon.png);
    }
}

/*=== CSS MAIN SLIDER ===*/
.block {
    &.block-carousel {
        overflow: hidden;
    }
}
.main-slider {
    height: 830px;
    .slider-item {
        text-align: center;
        height: 830px;
    }
}
.slider-item {
    &.bg-blue {
        background-repeat: no-repeat;
        background-image: url(../assets/slider-bg-blue.png);
        background-position: center center;
        .itm-circle {
            .art-title {
                 border-color: #0b6cc1;
            }      
        }
    }
    &.bg-green {
        background-repeat: no-repeat;
        background-image: url(../assets/slider-bg-green.png);
        background-position: center center;
        .itm-circle {
            .art-title {
                 border-color: #1cba5d;
            }      
        }
    }
    &.bg-red {
        background-repeat: no-repeat;
        background-image: url(../assets/slider-bg-red.png);
        background-position: center center;
        .itm-circle {
            .art-title {
                  border-color: #f86450;
            }      
        }
    }
}
.slider-item {
    .blk-sli-img {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .itm-circle {
        width: 270px;
        height: 270px;
        display: inline-block;
        position: relative;
        margin: 0px 32px;
        .art-title {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: inline-block;
            border-radius: 50%;
            border: 10px solid #dcdcdc;
        }
        .teaser-bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s;
            border-radius: 50%;
        }
    }
}
.slider-item {
    .blk-sli-ct {
        .ttl-art {
            font-size: 65px;
            margin-bottom: 35px;
            line-height: 1;
            color: #fff;
        }
        .desc {
            height: 70px;
            overflow: hidden;
            margin-top: 0px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
        }
        .btn {
            &.btn-explore {
                color: #fff;
                margin-bottom: 60px;
            }
        }
    }
    .blk-sli-menu {
        width: 630px;
        margin: 0 auto;
        background-color: #000;
        opacity: 0.5;
        li {
            float: left;
            width: 25%;
            &.active {
                a {
                    color: #fff;
                }
            }
            a {
                text-transform: uppercase;
                display: inline-block;
                line-height: 1;
                padding: 15px 10px;
                color: #bfbfbf;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
.custom-navigation, .cust-nav {
    .sli-icon {
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 500px;
        height: 500px;
        line-height: 500px;
        border-radius: 50%;
        text-align: center;
        background-color: #ddd;
        opacity: 0.6;
        transition: background-color 0.2s;
        &.icon-prev {
            left: -37%;
        }
        &.icon-next {
            right:-37%;
        }
        &.bg-icon-gray {
            background-color: #323639;
        }
        &.bg-icon-green {
            background-color: #00ab52; 
        }
        &.bg-icon-blue {
            background-color: #005db9;
        }
        &.bg-icon-red {
            background-color: #d8292f;
        }
        &.bg-icon-slive {
            background-color: #323e48;
        }
        .icon {
            width: 25px;
            height: 55px;
            background-position: center center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &.ico-prev {
                right: 20px;
            }
            &.ico-next {
                left: 20px;
            }
        }
    } 
}
.bottom-slider {
    .slides {
        > li {
            max-height: 250px;
            img {
                min-height: 250px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.btm-slider-wrap {
    position: relative;
    overflow: hidden;
   .cust-nav {
       .sli-icon {
           background-color: #323639;
           opacity: 0.5;
           width: 300px;
           height: 300px;
           line-height: 300px;
           &.icon-prev {
                left: -235px;
            }
            &.icon-next {
                right: -235px;
            }
       }
   }
}