/**
* CSS Footer
*/
.footer {
    height: 305px;
    background-image: url(../assets/bg_footer.png);
    background-repeat: no-repeat;
    width: 1200px;
    margin: 0 auto;
    .ft-top-wrap {
        height: 230px;
        // background-color: $red;
        z-index: 1;
    }
    .ft-bottom-wrap {
        height: 75px;
        // background-color: $black;
        z-index: 1;
    }
}
// .footer {
//     .bg-img-logo {
//        position: absolute;
//         z-index: 0;
//         opacity: 0.5;
//         width: 58%;
//         right: 0;
//         bottom: -200px;
//         img {
//             width: 100%;
//         }
//     }
// }
/*==== Footer top ====*/
.ft-top-wrap {
    padding: 55px 15px 15px 15px;
    color: #fff;
    .ft-contact {
        margin-bottom: 25px;
    }
    .contact-info {
        float: left;
        width: 30%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .contact-list {
        padding-left: 30px;
        padding-right: 30px;
        float: left;
        width: 20%;
    }
    .contact-form {
        float: left;
        width: 50%;
    }
}
.ft-top-wrap {
    .contact-info {
        .ttl-info {
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 5px;;
        }
        p {
            margin: 0px;
            font-size: 16px;
        }
    }
    .contact-list {
        li {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            a {
                display: inline-block;
                color: #fff;
                line-height: 1;
                font-size: 16px;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $black;
                }
            }
        }
    }
    .contact-form {
        padding-left: 15px;
        padding-right: 15px;
        .ttl-sign-up {
            margin-top: 0px;
            margin-bottom: 5px;
            font-size: 30px;
            text-transform: uppercase;
            color: #f6a096;
            font-weight: normal
        }
        .frm-sign-up {
            border: 1px solid #fff;
            .ipt {
                background-color: #f9aca3;
                border: none;
                padding: 17px 15px;
                width: 75%;
                font-size: 18px;
                float: left;
                outline: none;
                color: #89615c;
            }
            .button {
                width: 25%;
                padding: 17px 15px;
                border: none;    
                border-left: 1px solid #fff;
                text-transform: uppercase;
                color:#f7a197;
                font-size: 18px;
                background-color: transparent;
                outline: none;
                &:hover {
                    transition: all 0.3s ease-in-out;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}
.ft-top-wrap {
    .coppy-right {
        margin: 0px;
        padding-left: 380px;
        font-size: 16px;
    }
}
/*==== Footer bottom ====*/
.ft-bottom-wrap {
    padding: 0 15px;
    .btm-col-left {
        width: 20%;
        float: left;
        height: 100%;        
    }
    .btm-col-center {
        width: 60%;
        float: left;
        height: 100%;
        line-height: 75px;
    }
    .btm-col-right {
        width: 20%;
        float: left;
        height: 100%;
    }
}
.btm-col-left {
    overflow: hidden;
    position: relative;
    .img-logo {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../assets/logo_white.png) 50% 52% no-repeat;
        background-size: cover;
        width: 234px;
        height: 75px;
    }
}
.btm-col-center {
    color: #fff;
    p {
        font-size: 14px;
        margin: 0px;
    }
}
.btm-col-right {
    .blk-social {
        color : #fff;
        text-align: center;
        margin-top: 20px;
        li {
            float: left;
            width: 25%;
            display: block;
            a {
                display: inline-block;
                line-height: 1;
                transition: all 0.3s ease-in-out;
                &:hover {
                    opacity: 0.7;
                }
            }
        }        
    }
}