header {
    display: block;
    height: $header-height;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px -6px rgba(50, 50, 50, 0.75);
    background-color: #323639;
    z-index: 10;
    .header-wrapper {
        color: #feffff;
        width: 1200px;
        margin: 0 auto;
        padding: 0 1rem;
    }
    .logo {
        position: relative;
        width: 217px;
        height: $header-height;
        float: left;
        .logo-background {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url(../assets/logo_rgb.png) 50% 57% no-repeat;
            background-size: cover;
            width: 217px;
            height: $header-height;
        }
    }
    .navi {
        position: relative;
        float: left;
        width: calc(1200px - 217px - 40px);
        margin: 15px 0;

        .navi-first-line,
        .navi-second-line {
            width: 619px;
            margin: 0 auto;
        }

        .navi-second-line {
            border-top: 1px solid #8d9194;
        }
        .menu {
            list-style: none;
            text-align: center;
            padding: 0;
            margin: 5px 0;
            .menu-item {
                display: inline-block;
                > a {
                    padding: 8px 14px;
                    color: #feffff;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    transition: color 0.5s ease;
                    font-weight: bold;

                    &:hover,
                    &:active {
                        color: #2a99d7;
                    }
                }
                &.active {
                    >a {
                        color: #2a99d7;
                    }
                }
            }
        }
    }
}