@import 'header';
@import 'main';
@import 'footer';
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
html {
    font-size: 10px;
}

h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.4rem;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 1.4rem;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    &.btn-viewmore, &.btn-explore {
        border: 1px solid #feffff;
        color: #feffff;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.3s;
        &:hover {
            background-color: #da3f3f;
            border-color: #da3f3f;
        }
    }
    &.btn-explore {
        border: 1px solid #fff;
        color: #fff;
    }
}
.layout{
    &.layout-fix {
        width: 1200px;
        margin: 0 auto;
  
    }
}
.text-center {
    text-align: center;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
}
h3 {
    margin-top: 0;
}