$header-bg: #323639;
$header-height: 89px;
$header-txt-color: #323639; 
$layout-width: 1200px;
$footer-height: 305px;

/* Color config */

$black : #161616;
$gray : #2b2b2b;
$red  : #ee422e;
$txt_blue : #2a99d7;
