body.full-theme {
  @media (max-width: 480px) {
    .footer {
      font-size: 14px;
      .ft-blk .ft-ttl {
        margin-bottom: 20px;
        font-size: 18px;
        margin-top: 20px;
      }
      .wc-3 {
        padding: 0 0;
        float: none;
        width: 100%;
      }
      .copyright {
        font-size: 14px;
      }

    }
  }
}
