body.full-theme {
  .item-cat:not(.four) {
    .fea-evt-item {
      .dv-front {
        > a:first-child {
          .responsive-frame(1);
        }
      }
    }
  }

  .block-1-item {
    .featured__thumbnail {
      .responsive-frame(16/6);
    }
  }
  .featured__thumbnail {
    .responsive-frame(442/280);
  }

  .featured-item.featured-item--horizontal {
    .featured__thumbnail {
      padding-bottom: 0;
    }
  }

}
