block vars
  -title="Artsopolis - Home Page"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/top-sub-content.jade
            include ../blocks/list_event.jade
            include ../blocks/sub-content.jade
        include ../includes/sidebar.jade