block vars
  -title="Artsopolis - Venue List"
  -sidebar = false
  -isCategory  = true
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        span Venue
            include ../blocks/venue-thumb-search.jade
        include ../includes/sidebar-venue.jade