block vars
  -title="Artsopolis - Dashboard, Venue Profile"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Venue Profile
                li
                    span Profile
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Venue Information
                    p The following information will appear in our venue directory.
                       | Links to your venue's page are also available on any events that your venue is associated with..
                    form(id="artist-frm", method="", action="")
                        .artist-blk
                            .el-blk.full
                                input(type="text", placeholder="Venue Name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Venue Name
                                span(class="error") * Please enter Venue Name
                            .el-blk.full
                                textarea(placeholder="Description", class="inp inp-txt inp-desc", name="venua-des", id="venue-des", rows="5" )
                                .show-tip
                                    | Description
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Address 1", class="inp inp-txt")
                                    .show-tip
                                        |Address 1
                                    span(class="error") * Please enter Address 1
                                .hafl.fr
                                    input(type="text", placeholder="Address 2", class="inp inp-txt")
                                    .show-tip
                                        |Address 2
                            .el-blk.full
                                .select-bkl
                                    select(class="event")
                                        option(value="0") City:
                                        option(value="") Alviso
                                        option(value="") Atherton
                                        option(value="") Belmont
                                        option(value="") Brisbane
                                        option(value="") Burlingame
                                    .arrow-down
                                        <i class="fa fa-sort-desc fa-lg"></i>
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="State", class="inp inp-txt")
                                    .show-tip
                                        |State
                                .hafl.fr
                                    input(type="text", placeholder="Zip", class="inp inp-txt")
                                    .show-tip
                                        |Zip
                                    span(class="error") * Please enter Zip
                            .el-blk.full
                                input(type="text", placeholder="Public Phone", class="inp inp-txt")
                                .show-tip
                                    |Public Phone
                            .el-blk.full
                                input(type="text", placeholder="Fax", class="inp inp-txt")
                                .show-tip
                                    |Fax
                            .el-blk.full
                                input(type="text", placeholder="Email", class="inp inp-txt")
                                .show-tip
                                    |Email
                            .el-blk.full
                                textarea(placeholder="Parking Info", class="inp inp-txt inp-desc", id="venue-parking", name="venue-parking")
                                .show-tip
                                    | Parking Info
                            .el-blk.full
                                textarea(placeholder="Public Hours (if applicable)", class="inp inp-txt inp-desc", id="venue-public", name="venue-public")
                                .show-tip
                                    | Public Hours (if applicable)
                            .el-blk.full
                                textarea(placeholder="Public Admission Fee(s) (if applicable)", class="inp inp-txt inp-desc")
                                .show-tip
                                    | Public Admission Fee(s) (if applicable)
                        .artist-blk
                            .title-bar-blk Do you have your own website and/or blog?
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Blog URL", class="inp inp-txt")
                                    .show-tip
                                        |Blog URL
                                .hafl.fr
                                    input(type="text", placeholder="Web URL", class="inp inp-txt")
                                    .show-tip
                                        |Web URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Instagram URL", class="inp inp-txt")
                                    .show-tip
                                        |Instagram URL
                                .hafl.fr
                                    input(type="text", placeholder="Pinterest URL", class="inp inp-txt")
                                    .show-tip
                                        |Pinterest URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Facebook URL", class="inp inp-txt")
                                    .show-tip
                                        |Facebook URL
                                .hafl.fr
                                    input(type="text", placeholder="Twitter URL", class="inp inp-txt")
                                    .show-tip
                                        |Twitter URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="LinkedIn URL", class="inp inp-txt")
                                    .show-tip
                                        |LinkedIn URL
                        .artist-blk
                            .title-bar-blk Contact Info
                            .el-blk.full
                                input(type="text", placeholder="Contact Name", class="inp inp-txt")
                                .show-tip
                                    |Contact Name
                            .el-blk.full
                                input(type="text", placeholder="Contact Email", class="inp inp-txt")
                                .show-tip
                                    |Contact Email
                            .el-blk.full
                                input(type="text", placeholder="Contact Phone", class="inp inp-txt")
                                .show-tip
                                    |Contact Phone
                        .artist-blk
                            .title-bar-blk Accessibility Information
                            p To the best of your knowledge, please tell us which (if any) accessibility features your event offers to patrons.
                            .access-list
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-1.png")
                                                        label Assisted Listening System
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-12.png")
                                                        label Braille
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-11.png")
                                                        label Info
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-9.png")
                                                        label Low Vision
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-8.png")
                                                        label Sign Language
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-10.png")
                                                        label Volumn Control Telephone
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-7.png")
                                                        label Audio Description
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-6.png")
                                                        label Closed Caption
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-5.png")
                                                        label Large Print
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-4.png")
                                                        label Open Caption
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-3.png")
                                                        label TDD/TTY
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-2.png")
                                                        label Wheelchair Acces
                                        .el-blk.full
                                            textarea(placeholder="Additional accessibility info", class="inp-desc-event")
                                            .show-tip
                                                |Additional accessibility info

                        .artist-blk
                            .title-bar-blk Venue Type
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Amusement Park
                                                    li
                                                        input(type="checkbox")
                                                        label Aquarium
                                                    li
                                                        input(type="checkbox")
                                                        label Arena/Stadium
                                                    li
                                                        input(type="checkbox")
                                                        label Bar/Tavern
                                                    li
                                                        input(type="checkbox")
                                                        label Bookstore
                                                    li
                                                        input(type="checkbox")
                                                        label Church
                                                    li
                                                        input(type="checkbox")
                                                        label Community Center
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Golf Club
                                                    li
                                                        input(type="checkbox")
                                                        label Hotel/Inn
                                                    li
                                                        input(type="checkbox")
                                                        label Restaurant/Cafe
                                                    li
                                                        input(type="checkbox")
                                                        label Shopping District
                                                    li
                                                        input(type="checkbox")
                                                        label Zoo
                                                    li
                                                        input(type="checkbox")
                                                        label Concert Hall
                                                    li
                                                        input(type="checkbox")
                                                        label Cultural District
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |UPDATE PROFILE




