block vars
  -title="Artsopolis - Detail Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="venue-list.html") Venue
                    li
                        span Venue Name
            include ../blocks/detail_venue.jade
        include ../includes/sidebar-venue.jade