section.fullw.clients.nw-bg-black
    .inner.t-c
        h3.f-ttl PROUDLY BROUGHT TO YOU BY
        .list-logo
            a(href="#")
                img(src="../assets/uploads/new-logo-3.png", alt="")
            a(href="#")
                img(src="../assets/uploads/new-logo-2.png", alt="")
            a(href="#")
                img(src="../assets/uploads/new-logo-1.png", alt="")
section.fullw.clients.nw-bg-black.bdr-top-0
    .inner.t-c
        h3.f-ttl FOLLOW US
        .list-social
            ul.nav
                li
                    a(href="#")
                        i.fa.fa-facebook
                li
                    a(href="#")
                        i.fa.fa-twitter
                li
                    a(href="#")
                        i.fa.fa-youtube
section.fullw.nw-bg-black.ft-contact
    .inner
        ul.menu-footer.nw-footer
            li
                h3.f-ttl Directories
                ul
                    li
                        a(href="#") Artists
                    li
                        a(href="#") Organization
                    li
                        a(href="#") Venues
            li
                h3.f-ttl Submit
                ul
                    li
                        a(href="#") Event
                    li
                        a(href="#") Organization/Artist
                    li
                        a(href="#") Venue
            li.li-last-child
                h3.f-ttl Co-op Marketing
                h3.f-ttl.marg-btm-0 Calls for Artists
.copyright.nw-bg-black
    .inner
        | Copyright 2017
        a(href="#") ArtServe
        span |
        a(href="") Contact Us
        span |
        a(href="#") Privacy Policy/Terms of Service