footer.footer
    .inner
        section.row
            .ft-blk.wc-3
                .ft-ct
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/logo_ntive.png", alt="logo nagative")
                    p Sizzling blues combined with tasty micro brews headline the Brews and Blues event, sponsored by the Saratoga Chamber of Commerce. Performing will be the.
            .ft-blk.wc-3.tw-blk
                h4.ft-ttl LATEST TWEETS
                .ft-ct
                    ul
                        li.item
                            .img
                                a(href="#", target="_blank")
                                    img(src="../assets/uploads/b1.jpg", alt="tw pic")
                            p.name
                                a(href="#", target="_blank") Sally-Anne Kaminski
                                | @socialkeyword
                            p.dsc
                                a(href="#", target="_blank") `.@timsaekoo
                                | at
                                a(href="#", target="_blank") link@tint
                                |  is top notch. HIGHLY recommend!
                            p.dateline
                                a(href="#", target="_blank") AUG 21.2014
                        li.item
                            .img
                                a(href="#", target="_blank")
                                    img(src="../assets/uploads/b2.jpg", alt="tw pic")
                            p.name
                                a(href="#", target="_blank") Anne Liston
                                | @socialkeyword
                            p.dsc
                                | at Just like timelines on twitter.com, embeddable timelines are interactive and enable your visitors to reply
                                a(href="#", target="_blank") link@tint
                                |  is top notch. HIGHLY recommend!
                            p.dateline
                                a(href="#", target="_blank") AUG 21.2014
            .ft-blk.wc-3.contact-info
                h4.ft-ttl CONTACT INFO
                .ft-ct
                    p
                        span
                            i.fa.fa-map-marker.fa-lg
                        label.add Address:
                        | 1900 Logeenston Ave., Michigan, USA
                    p
                        span
                            i.fa.fa-phone.fa-lg
                        label.phone Phone:
                        | (0531) 281-21-21
                    p
                        span
                            i.fa.fa-envelope-o.fa-lg
                        label.email Email:
                        | contact.us@yourcompany.com
.copyright
    .inner
        &copy; Copyright 2014 by
        a(href="#", target="_blank", class="vmore") Artsopolis
a(id="back-to-top", href="#")
    i(class="fa fa-arrow-up fa-lg")

