header.header
    .inner
        .top-head
            .logo
                a(href="#", target="_blank")
                    img(src="../assets/uploads/logo.png", alt="LOGO")
            include ../blocks/head_login.jade
            include ../blocks/head_search.jade
            include ../blocks/head_social.jade
            .mobile-menu
                a(href="javascript:;", class="mb-menu tablet-show", data-tgr=".main-menu.tablet-show") MENU
                include ../blocks/nav-mobile.jade
    include ../blocks/nav-main.jade
    div.sample(data-attr)
