#topbar
    .inner
        .topbar-content
            span.logo-banner
                a(href="#")
                    img(src="../assets/uploads/NPN.png", alt="banner")
                a(href="#")
                    img(src="../assets/uploads/CFMT.png", alt="banner")
                a(href="#")
                    img(src="../assets/uploads/GM.png", alt="banner")
                a(href="#")
                    img(src="../assets/uploads/CN.png", alt="banner")
            .top-blk.login-top.topbar
                a(href="#") LOGIN
                a(href="#") REGISTER
            .hamburger-menu
                include ../blocks/hamburger_menu.jade
header.header.header-second-menu
    .inner
        include ../blocks/nav-secondary.jade
header.header
    .inner
        .top-head
            .logo
                a(href="#", target="_blank")
                    img(src="../assets/uploads/logo.png", alt="LOGO")
            include ../blocks/head_login.jade
            include ../blocks/head_social.jade
            include ../blocks/head_search.jade
            .mobile-menu
                a(href="javascript:;", class="mb-menu tablet-show", data-tgr=".main-menu.tablet-show") MENU
                include ../blocks/nav-mobile.jade
    include ../blocks/nav-main.jade
    div.sample(data-attr)