include ../blocks/top_bar
header.header-block.header-block--full
    .header__placeholder
    .header__inner
        .mobile-menu
            a(href="javascript:;", class="mb-menu tablet-show", data-tgr=".main-menu.tablet-show") MENU
            include ../blocks/nav-mobile.jade
        a.menu-bars(href="javascript:void(0);", data-toggle="show-menu")
            i.fa.fa-bars
            i.fa.fa-times
        a.top-logo(href="/")
            img(src='../assets/uploads/logo.png')
        nav.top-menu.top-menu--octave
            ul
                li.cur.has-child
                    a(href='#')
                        span Music
                    ul.sub-menu.level-1
                        li
                            a(href='#') Live Music Tonight
                        li
                            a(href='#') Country
                        li.has-child
                            a(href='#')
                                span Rock + Pop
                            ul.sub-menu.level-2
                                li
                                    a(href='#') Live Music Tonight
                                li
                                    a(href='#') Country
                                li
                                    a(href='#') Rock + Pop
                                li
                                    a(href='#') Christian + Gospel
                                li.has-child
                                    a(href='#') Blues + Jazz
                                    ul.sub-menu.level-2
                                        li
                                            a(href='#') Live Music Tonight
                                        li
                                            a(href='#') Country
                                        li
                                            a(href='#') Rock + Pop
                                        li
                                            a(href='#') Christian + Gospel
                                        li
                                            a(href='#') Blues + Jazz
                                        li
                                            a(href='#') Hip Hop + R&B + Soul + Reggae
                                li
                                    a(href='#') Hip Hop + R&B + Soul + Reggae
                        li
                            a(href='#') Americana + Bluegrass + Folk
                        li
                            a(href='#') Acoustic + Singer-Songwriter
                        li
                            a(href='#') Classical + Opera
                        li
                            a(href='#') Free
                        li
                            a(href='#') Christian + Gospel
                        li
                            a(href='#') Blues + Jazz
                        li
                            a(href='#') Hip Hop + R&B + Soul + Reggae
                        li
                            a(href='#') EDM
                        li
                            a(href='#') Global
                        li
                            a(href='#') Karaoke
                li
                    a(href='#')
                        span Stage
                li
                    a(href='#')
                        span Arts
                li
                    a(href='#')
                        span Family fun
                li
                    a(href='#')
                        span Community
                li
                    a(href='#')
                        span Global
        .header__right
            include ../blocks/bookmark
            .login-buttons-group
                button.ov-btn.ov-btn-outline Login
                button.ov-btn.btn-register  Register
            .social-block-responsive
                include ../blocks/head_social
            .search-tool
                a(data-toggle="show")
                    i.fa.fa-search
                form.search-form.overplay
                    .input-with-button
                        input.inp.inp-txt(placeholder="Type your keywords...")
                        button.ov-btn Search
include ../blocks/sticky-social