script(src="js/libs.js")
script(src="js/plugins.js")
script(src="ckeditor/ckeditor.js")
script(src="js/start.js")
script(src="js/import-plugin/pikaday.js")
script(src="js/import-plugin/moment.js")
script(src="js/import-plugin/ZeroClipboard.js")
script(src="js/import-plugin/handsontable.js")
script(src="js/import-plugin/highlight.pack.js")
script(src="js/import-plugin/start-event.js")
