script(src="../assets/js/libs.js")
script(src="../assets/js/plugins.js")
script(src="../../source/assets/ckeditor/ckeditor.js")
script(src="../assets/js/start.js")
script(src="../assets/js/octave.js")
script(src="../assets/js/start_v1.js")
script(src="../assets/js/masthead.js")
script(src="//localhost:3010/livereload.js")