.wc-r
    include ../blocks/sidebar_search.jade
    include ../blocks/sidebar_singleimg.jade
    include ../blocks/sidebar_mostreview.jade
    include ../blocks/sidebar_newsletter.jade
    include ../blocks/sidebar_sale.jade
    include ../blocks/sidebar_superoffer.jade
    include ../blocks/sidebar_datetime.jade
    include ../blocks/sidebar_topten.jade