.top-search
    .inner
        .top-search-row
            form(method="get", id="searchevent", action="", class="form-event")
                button(type="button", class="btn btn-l s")
                    i.fa.fa-search.fa-flip-horizontal.fa-lg
                input(type="text", class="inp inp-txt event-search", placeholder="Search by keyword")
                .el-blk
                    .select-bkl
                        select
                            option(value="0") Select Category
                            option(value="") A
                            option(value="") B
                            option(value="") C
                            option(value="") D
                            option(value="") E
                        .arrow-down
                            <i class="fa fa-sort-desc fa-lg"></i>
                .el-blk
                    .select-bkl
                        select
                            option(value="0") Select Venue
                            option(value="") A
                            option(value="") B
                            option(value="") C
                            option(value="") D
                            option(value="") E
                        .arrow-down
                            <i class="fa fa-sort-desc fa-lg"></i>
                .el-blk-quicksearch
                    label Quick Search
                    .list-quicksearch
                        a(href="#", class="btn-artpass active") ARTSWAVE PASS
                        a(href="#", class="btn-today") TODAY
                        a(href="#", class="btn-weekend") WEEKEND
                .s-rw.cln
                    .calendar-ipt.clearfix
                        span
                            input(type="text", size="12", id="c-s", class="inp inp-txt side-bar caldr", placeholder="Start")
                        span
                            input(type="text", size="12", id="c-e", class="inp inp-txt side-bar caldr", placeholder="End")
                        i.fa.fa-calendar.fa-lg.ico-s
                        i.fa.fa-calendar.fa-lg.ico-e
                .s-rw
                    label Search by date range:
                    .lst-lik
                        a(href="#", class="today") Today
                        a(href="#", class="tomorrow") Tomorrow
                        a(href="#", class="weekend") Weekend
                        span.no-line next
                        a(href="#", class="seven" ) 7
                        a(href="#", class="fourteen" ) 14
                        a(href="#", class="thirsty" ) 30
                .s-rw
                    input(type="checkbox", id="isOffer")
                    label(class="offers", for="isOffer") Include Discount Offers
                .sub-blk
                    button(type="button", class="btn btn-l lgr fr") RESET
                    button(type="button", class="btn btn-l lgr fr") SEARCH

