@media (max-width: 768px) {
// Repsonsive header apply for screen under 768, note apply for screen under 480 also
    .menu-open {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        .navi {
            transform: translate(0, 0);
        }
    }
    header {
        .hamburger-menu {
            display: block;
            position: absolute;
            right: 14px;
            padding: 10px;
            font-size: 3.6rem;
            color: white;
            top: 14px;
        } 
        .navi {
            position: fixed;
            left: 0;
            top: 88px;
            width: 100vw;
            height: calc(100vh - 87px);
            overflow-y: auto;
            background: rgba(50, 54, 57, 0.9);
            margin: 0;
            transform: translate(-100%, 0);
            transition: transform 0.3s;
            
            .navi-first-line,
            .navi-second-line {
                width: 100vw;
                border: none;
            }
            .menu {
                margin: 0;
                padding: 0;
                .menu-item {
                    display: block;
                    a {
                        display: block;
                        padding: 15px 14px;
                        border-top: 1px solid #8d9296;
                        font-size: 1.6rem;
                    }
                    &.has-child:hover {
                        > .submenu {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

// Responsive for tablet
    // Responsive block carousel home
    .block-carousel {
        .slider-item {
            .itm-circle {
                &:last-child {
                    display: none;
                }
            }
            .blk-sli-ct {
                width: calc(100vw - 100px);
                margin: 0 auto;
                .ttl-art {
                    font-size: 45px;
                }
            }
        }
    }

    //Responsive block event home
     .block-events {
         .article-circle {
             .article-item {
                width: 250px;
                height: 250px;                
                margin: 0px 30px;
             }
         } 
     }
}