@media (min-width: 481px) {
    .hamburger-menu {
        display: none;
    }
}
@media (max-width: 480px) {
// Responsive layout
    .layout-fluid {
        overflow-x: hidden; 
    }
// response header
    // .menu-open {
    //     width: 100vw;
    //     height: 100vh;
    //     overflow: hidden;
    //     .navi {
    //         transform: translate(0, 0);
    //     }
    // }
    // header {
    //     .hamburger-menu {
    //         display: block;
    //         position: absolute;
    //         right: 14px;
    //         padding: 10px;
    //         font-size: 3.6rem;
    //         color: white;
    //         top: 14px;
    //     } 
    //     .navi {
    //         position: fixed;
    //         left: 0;
    //         top: 88px;
    //         width: 100vw;
    //         height: calc(100vh - 87px);
    //         overflow-y: auto;
    //         background: rgba(50, 54, 57, 0.9);
    //         margin: 0;
    //         transform: translate(-100%, 0);
    //         transition: transform 0.3s;
            
    //         .navi-first-line,
    //         .navi-second-line {
    //             width: 100vw;
    //             border: none;
    //         }
    //         .menu {
    //             margin: 0;
    //             padding: 0;
    //             .menu-item {
    //                 display: block;
    //                 a {
    //                     display: block;
    //                     padding: 15px 14px;
    //                     border-top: 1px solid #8d9296;
    //                     font-size: 1.6rem;
    //                 }
    //                 &.has-child:hover {
    //                     > .submenu {
    //                         width: 100%;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

// response block
    // response block carousel home page
    .block-carousel {
        .slider-item {
            .blk-sli-img {
                padding-top: 30px;
            }
            .itm-circle {
                display: none;

                &:first-child {
                    display: inherit !important;
                    margin: 0 auto;
                }
            }
            .blk-sli-ct{
                width: 100% !important;
                .ttl-art {
                    font-size: 35px !important;
                }
                .desc {
                    padding: 0 15px;
                    height: 104px;
                }
            } 
        }
        .blk-sli-menu {
            bottom: 120px;
            .flex-control-nav {
                > li {
                    width: 50%;
                    padding: 10px 7px;
                    font-size: 1.5rem;
                }
            }
        }
        .custom-navigation {
            .sli-icon {
                top: 20%;
                background: none !important;
            }
        }
    }

    // response block event
    .block-events {
        padding: 30px 0;
        height: auto;
        h1,h2 {
            padding: 0 0 0 20px;
            margin: 0;
        }
        h1 {
            font-size: 4rem;
            line-height: 0.8;
            margin-bottom: 1rem;
        }
        .article-circle {
            padding: 0;
            .article-item {
                margin: 1.5rem 0;
                width: 235px;
                height: 235px;
            }
        }
        .bottom-slider {
            .slides {
                > li{
                    width: 100vw !important;
                    img {
                        width: 100vw !important;
                    }
                } 
            }
        }
                    
    }

    // response block block-feature
    .block-feature {
        height: calc(50vh - 89px);
        min-height: 50vh;
        margin-bottom: calc(50vh - 89px);
        overflow: visible;

        &.teaser.teaser-left{
            &:before,
            h2 {
                display: none;
            }
            h1 {
                margin-bottom: 30px;
            }
            .teaser-content{
                padding-top: calc(55vh - 89px);
                position: relative;
                width: 100%;
                left: 0;
                bottom: 0;
                transform: none;
                top: auto;
                padding-left: 15px !important;
                padding-right: 15px !important;
                &:before {
                    content: '';
                    display: block;
                    width: 300vw;
                    height: 300vw;
                    border-radius: 50%;
                    background: rgba(50, 154, 212, 0.81);
                    position: absolute;
                    left: 50%;
                    transform: translate(-50% , 0);
                    top: 240px;
                    z-index: -1;
                }
            }
        }
    }
    .footer {
        width: 100vw;
        overflow-x: hidden;
        .ft-top-wrap {
            height: 356px;
            width: 100%;
            background: url(../images/demo/footer-mobile.png) left top no-repeat;
            overflow: hidden;
            padding-top: 20px;
            position: relative;
            .contact-list {
                position: absolute;
                bottom: 25px;
                width: 100%;
                text-align: center;
                padding: 0;
                margin: 0;
                left: 0;
                li {
                    display: inline-block;
                    a {
                        font-size: 12px;
                    }
                }
            }
            .contact-info {
                width: 100%;
                padding: 0;
                text-align: center;
                margin-bottom: 25px;
                .ttl-info {
                    color: #fff;
                    margin-bottom: 9px;
                }
            }
            .contact-form {
                width: 100%;
                padding: 0;
                .ttl-sign-up {
                    text-align: center;
                    font-size: 16px;
                }
                .frm-sign-up {
                    border: none;
                    width: 100%;
                    text-align: center;
                    input {
                        width: 100%;
                        border: 1px solid #ffffff;
                        margin-bottom: 20px;
                        padding: 11px 15px;
                    }
                    .button {
                        border: 1px solid #ffffff;
                        width: 200px;
                        padding: 11px 15px;
                    }
                }
            }
            .coppy-right {
                padding: 0;
                margin: 0;
                text-align: center;
                font-size: 11px;
                display: block;
                width: 100%;
                position: absolute;
                bottom: 11px;
                left: 0;
            }
        }
        .ft-bottom-wrap {
            height: 219px;
            width: 100%;
            background: url(../images/demo/footer-mobile.png) left bottom no-repeat;
            overflow: hidden;
            position: relative;
            .btm-col-left {
                width: 100%;
                height: 76px;
            }
            .btm-col-center {
                width: 100%;
                line-height: 1;
                height: auto;
                margin-top: 18px;
                p {
                    font-size: 12px;
                    line-height: 19px;
                }
            }
            .btm-col-right {
                width: 100%;
                
            }
        }
    }

    // response block support icon
    .block-support-icon {
        padding: 20px 0px;
        h2 {
            font-size: 1.6rem;
        }
        .support-icon{
            .icon-item {
                margin: 3px 5px;
            }
        } 
    }
}