.btn-account{
    width: 120px !important;
    display: inline-block;
    color: #ffffff;
}

.btn-account:hover{
    color: white;
}

body.full-theme .r-search{
    display: block !important;
}

body.full-theme .b-share-cat:not(.b-share--full){
    display: block !important;
}

.social-top.sticky-social a[class]:hover{
    background-color: #ffffff !important;
    width: 150px;
}

.tu .fa-twitter {
    margin-left: 0 !important;
}

.sticky-social a{
    font-size: 16px !important;
}

.top-menu.top-menu--octave ul .sub-menu a{
    text-align: left;
}

.single-event .meta.auth + .b-share-cat {
    float: left;
}

.b-share-cat label {
    background: url(../images/ico_share.png) no-repeat left center;
}

.header-block.header-block--full .bookmark-view{
    text-align: left;
}

.header-block.header-block--full .bookmark-view p{
    text-align: center;
}

.wc-l.account-listing {
    width: 100%;
}

.top-search-row .cln:nth-child(8){
    margin-right: 10px;
}

.top-search-row .cln:nth-child(8) + .s-rw{
    margin-top: 11px;
}

.single-post nav.blog-list > li .blog-tt .blog-name .namedetail-txt a{
    font-size: 54px !important;
    font-weight: normal !important;
    width: 100%
}

.tellAF-popup{
    height: auto;
}

.top-menu.top-menu--octave > ul > li.cur:hover > a {
    color: white;
}

.r-search .el-blk .b-btn,.r-search  .b-btn {
    display: inline-flex;
}

.newsletter-frm .newsletter{
    height: 50px;
}

@media (min-width: 1280px) {
    body.full-theme .astro-featr .b-btn {
        margin-top: 15px;
    }
}

#_popup_choose_event{
    height: 180px;
}

body.full-theme .sub-content-blk .description img{
    margin: 0;
}


body.full-theme #_popup_choose_event.one-icon{
    min-height: 265px;
}

@media screen and (max-width: 480px) {
    body.full-theme #_popup_choose_event.one-icon {
        min-height: 300px;
    }
}


body.full-theme #_popup_choose_event .__inline_block_fix_space, #_popup_choose_event .__inline_block_fix_space a{
    width: 100% !important;
}


body.full-theme #_popup_choose_event .fa-close::before{
    font-size: 16px;
}

body.full-theme #_popup_choose_event_full{
    display: flex;
    align-items: center;
}

body.full-theme #_popup_choose_event .a-block-ct{
    margin: 0 auto;
    float: none;
    padding: 0;
}

body.full-theme .blk-fea-article.featured-posts-widget .list-blog .desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@-moz-document url-prefix() {
    body.full-theme .blk-fea-article.featured-posts-widget .list-blog .desc{
        line-height: 1.2;
    }

}

/*@ticket: 16759*/
body.full-theme footer .inner{
    width: unset;
}

@media screen and (min-width: 769px){
    body.full-theme footer .menu-footer{
        margin: 0 auto;
        width: 83%;
    }

    body.full-theme .footer > .inner > section.row{
        padding: 0 90px;
    }
}

@media (min-width: 1025px){
    body.full-theme footer .menu-footer{
        font-size: 16px;
    }
}

body.full-theme footer .menu-footer li{
    width: unset;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
    body.full-theme .footer .inner .contact-info .add,
    body.full-theme .footer .inner .contact-info .phone,
    body.full-theme .footer .inner .contact-info .email
    {
        display: none;
    }
}

/**@ticket #16782 **/
body.full-theme #apl-search-widget-month-view .ui-datepicker-inline{
    box-sizing: content-box;
    width: 97%;
}

@media (max-width: 979px) {
    body.full-theme #search-event button[type="reset"], #search-event button.custom-button {
        margin-top: 0 !important;
    }
}

body.full-theme .ui-state-default{
    background: #f1f1f1;
}

body.home.full-theme .b-share-cat .bok-mk.bok-mk--clickable {
    margin-left: 0;
    margin-right: 10px;
    vertical-align: 0px;
}
body.home.full-theme .b-share-cat .bok-mk.bok-mk--clickable > a:before {
    display: inline-block;
    vertical-align: -3px;
}

body.home.full-theme .b-share-cat .bok-mk.bok-mk--clickable > a {
    text-transform: capitalize;
    color: #999;
}

body.home.full-theme .grid .list-blog .blog-itm.on-hover:hover .b-share-cat label {
    color: #b3b3b3;
}

body.home.full-theme .grid .list-blog .blog-itm.on-hover:hover .b-share-cat .bok-mk.bok-mk--clickable > a {
    color: #b3b3b3;
}

body.full-theme .category-page-event-box .bok-mk.bok-mk--clickable.bok-mk--item,
body.full-theme .event-detail-article .social-icon-pck .astro-featr .bok-mk.bok-mk--clickable.bok-mk--item {
    margin-left: 0px;

}
body.full-theme .list-category .bok-mk.bok-mk--clickable.bok-mk--item,
body.full-theme .list-more-category-others-event .bok-mk.bok-mk--clickable.bok-mk--item {
    margin-left: -4px;
}

body.full-theme .blog-list .blog-text{
    text-align: justify;
}

body.full-theme .apl-internal-content .blog-pic-detail a img {
    padding-right:0;
}

/*@ticket #16896:  BLOG - Sponsored Content - Add the same type of label and background color to their home page featured blog posts*/
body.full-theme .post-sponsored-content-feature-blog{
    border: 1px solid #EFEFEF ;
    position: relative;
    padding: 0 !important;
}

body.full-theme .blk-fea-article.featured-posts-widget .list-blog .blog-itm{
    padding: 0 !important;
    margin-bottom: 10px !important;
}

@media (min-width: 993px){
    body.full-theme .blk-fea-article.featured-posts-widget .list-blog .blog-itm {
        width: 48% !important;
        margin: 5px !important;
    }
}

body.full-theme .post-sponsored-content-feature-blog .sponsored-content-text{
    font-weight: 600;
    padding: 10px 12px;
    text-align: left;
    display: block;
    position: absolute;
    width: auto;
    z-index: 1;
    left: 0;
    top: 0;
    background: #EFEFEF ;
    color: #3a3939;
    font-size: 12px;
    opacity: 0.7;
}

body.full-theme .post-sponsored-content-small-feature-blog{
    position: relative;
}

body.full-theme .post-sponsored-content-small-feature-blog .sponsored-content-text{
    font-weight: 600;
    display: block;
    color: #3a3939;
    position: absolute;
    top: 0;
    left: 0;
    background: #EFEFEF;
    padding: 5px !important;
    z-index: 1;
    font-size: 9.5px;
    opacity: 0.7;
}

@media (min-width: 1025px){
    body.full-theme .featured-posts-widget.left-column .list-blog .second-row .fea-itm{
        width: calc(96%/3);
        margin: 4px;
    }
}

@media (max-width: 1024px){
    body.full-theme .blk-fea-article.featured-posts-widget.left-column .list-blog .second-row .fea-itm a figure{
        width: 100%;
        margin: 0;
    }

    body.full-theme .blk-fea-article.featured-posts-widget.left-column .list-blog .second-row .fea-info {
        text-align: center;
        padding-top: 4px;
    }

    body.full-theme .blk-fea-article.featured-posts-widget.left-column .list-blog .sponsored-content-text{
        font-size: 12px;
        padding: 10px 12px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    body.full-theme .blk-fea-article.featured-posts-widget.left-column .list-blog .fea-info .sponsored-content-text{
        font-size: 7px;
    }

    body.full-theme .featured-posts-widget.left-column .list-blog .second-row .fea-itm{
        width: calc(95%/3);
        margin: 3px;
    }

    body.full-theme .blk-fea-article.featured-posts-widget.left-column .list-blog .sponsored-content-text{
        font-size: 10px;
        padding: 5px !important;
    }
}

body.full-theme .blk-maps-events-filter .maps-events-filter--view .octave-disabled {
    display: none !important;
}
body.full-theme nav.searching-list.blk-event-map-item {
    border: none;
}

.apl-filter-location .by_my_location {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 5px;
    position: relative;
    display: block;
    float: left;
}

.apl-filter-location label[for=by_my_location] {
    line-height: 22px;
}

@media (min-width: 1280px) {
    body.full-theme .main .r-blk-ct section.description p{
        font-size: 18px;
    }
}

body.full-theme .item-cat:not(.four) .tab-row .wrapper-scroll--action a + a {
    margin-left: 7px !important;
}

@media (max-width: 860px) {
    body.home.full-theme .flexslider .b-share-cat .bok-mk.bok-mk--clickable {
        display: inline-block;
    }
}

.top-search-row form .inp.inp-txt,
.widget-search .inp.inp-txt,
.widget-search .select-bkl select {
    font-size: 15px;
}

#sel-events-in-artist + .select2-container {
    width: 300px;
}

@media (max-width: 480px) {
    body.full-theme .two-col {
        flex-wrap: wrap;
    }
    body.full-theme .two-col .wc-r {
        display: block;
        float: none;
        min-width: 100%;
        flex: 1;
    }
    body.full-theme .wc-r .r-blk.r-search.widget-search {
        display: none !important;
    }
}

@media (max-width: 480px) {
    .quick-search-hidden {
       display: none !important;
    }
}


@media (max-width: 480px) {
    body.home .blog-itm .pic {
        float: left;
        width: 200px;
        max-height: 200px;
    }
    body.home .blog-itm .blog-t {
        margin-left: 215px;
    }
}

@media (max-width: 320px) {
    body.home .blog-itm .pic {
        float: none;
        width: 100%;
        max-height: inherit ;
    }
    body.home .blog-itm .blog-t {
        margin-left: 0;
    }
}

body.home.full-theme .list-blog .blog-itm .blog-ttl {
    margin-bottom: 2px;
}

body.home.full-theme .list-blog .blog-itm .desc {
    padding-top: 10px;
}

nav.type li.event-filter-icon-text .event-filter-text{
    display: none;
}
@media (max-width: 480px) {
    nav.type li.event-filter-icon-text {
        width: 90px;
        line-height: 36px;
    }
    nav.type li.event-filter-icon-text a{
        display: inline-block !important;
    }
    nav.type li.event-filter-icon-text .event-filter-text{
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
    }

    nav.type li.event-filter-icon-text a i.fa-2x{
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        font-size: 25px;
    }
}
.btn-artpass, .btn-today, .btn-weekend {
    cursor: pointer;
}

/** @Ticket #17319 */
.icons-list-after-thumbsup .icons-list {
    float: none;
    vertical-align: middle;
    display: inline-block;
}
.icons-list span {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

body.full-theme .event-bookmark-icon .bok-mk.bok-mk--clickable{
    margin-left: 5px;
    vertical-align: unset;
    margin-right: 0;
}


@media (min-width: 480px){
    body.full-theme .apl-map-direction{
        display: block;
    }

    body.full-theme #_event_get_directions{
        display: none;
    }
}

@media (max-width: 480px) {
    body.full-theme .astro-featr .a-block-ct .location-btn a.btn.btn-b {
        background-color: #ef3026;
        border-color: #ef3026;
    }
    body.full-theme .astro-featr .a-block-ct .location-btn a.btn.btn-b:hover {
        background-color: #ef3026 !important;
        border-color: #ef3026;
    }

    body.full-theme .apl-map-direction{
        display: none;
    }

    body.full-theme #_event_get_directions{
        display: block;
    }
}

/** Improve footer @ticket 17544 */
@media (max-width: 480px) {
    body.full-theme nav.searching-list {
        display: block;
        margin: auto;
        width: calc(100vw - 25px)
    }

    body.full-theme nav.searching-list .void, body.full-theme nav.searching-list:after, body.full-theme nav.searching-list:before {
        content: " ";
        display: table
    }

    body.full-theme nav.searching-list:after {
        clear: both
    }

    body.full-theme nav.searching-list li.apl-search-event-list {
        position: relative
    }

    body.full-theme nav.searching-list li.apl-search-event-list .search-img {
        bottom: 0;
        left: 0;
        position: absolute
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content {
        display: block;
        padding-left: 115px;
        padding-top: 5px;
        position: static;
        width: 100%
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event {
        margin-top: 40px
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .discount-icon-event {
        display: inline-block;
        left: 0;
        right: auto;
        top: 10px
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .discount-icon-event img {
        max-width: 115px
    }

    body.full-theme nav.searching-list li.apl-search-event-list:hover {
        background-color: transparent
    }

    body.full-theme nav.searching-list li.apl-search-event-list:hover .info-content {
        background-color: #a0a0a0
    }
}

/*@ticket 17547 */
.sponsored-content-text {
    padding: 10px 12px;
    display: block;
    position: absolute;
    width: auto;
    background: #EFEFEF;
    color: #3a3939;
    font-size: 12px;
    opacity: 0.7;
}

.sponsored-content-text-single{
    padding: 10px 12px;
    display: block;
    position: absolute;
    width: auto;
    background: #333333;
    color: white;
    font-size: 12px;
    opacity: 0.7;
    bottom: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 700;
}

.single-post-solo .sponsored-content-text-single{
    z-index: 1;
    margin-left: 20px;
}

.single-post-sponsored-content{
    display: inline-block;
    position: relative;
    /* max-width: 100vw; */
    max-height: 800px;
}

@media (width: 360px){
    .blog-content .blog-pic .sponsored-content-text{
        padding: 5px 5px;
        font-size: 10px;
    }
}

@media (max-width: 768px){
    .sponsored-content-text-single{
        margin-left: 0 !important;
        margin-bottom: 1px !important;
    }

    .single-post-solo .sponsored-content-text-single{
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }
}

body.full-theme.single-post .media-credit{
    text-align: right;
    font-style: italic;
    font-size: 12px;
    padding-right: 10px;
}

body.full-theme.single-post-solo .media-credit {
    margin: 0;
    right: 0;
    bottom: auto !important;
    top: calc(100% + 10px);
    color: #666 !important;
    z-index: 10;
}

@media (max-width: 480px){
    body.full-theme.single-post-solo .apl-recommend-post-widget {
        display: none
    }

    body.full-theme.single-post-solo .apl-recommend-post-bottom .apl-recommend-post-widget {
        display: block
    }
}

@media (min-width: 768px){
    body.full-theme .featured-event-hor .dv-front .ev-tt a {
        font-size: 16px;
    }
}

body.full-theme .featured-event-hor .dv-front .ev-tt .apl-event-org-name,
body.full-theme .featured-event-hor .dv-front .ev-tt .apl-event-org-name a {
    font-size: 13px;
    font-weight: normal;
}

.apl-blog-simple-contain-image  .apl-simple-image .media-credit.not-detail{
    text-align: right;
}

.apl-blog-simple-contain-image .apl-simple-image, .apl-blog-detail-image, .apl-blog-detail-image span{
    display: inline-block;
    position: relative;
}

body.full-theme nav.blog-list > li .blog-content .apl-blog-default{
    max-height: none;
    overflow: auto;
}

body.full-theme nav.blog-list > li .blog-content .apl-blog-default .apl-blog-default-image{
    max-height: 215px;
    width: 100%;
    overflow: hidden;
    float: left;
}

body.full-theme .wp-editor-tabs * {
    box-sizing: initial;
}


body.full-theme .featured-item .featured__title{
    color: #666;
    font-weight: normal;
}

@media (max-width: 480px){
    body.full-theme .top-search-row.business-s-t-m .el-blk.displayed{
        float: left;
    }

    body.full-theme .top-search-row.business-s-t-m .event-search{
        width: 100% !important;
    }

    body.full-theme .top-search-row.business-s-t-m .sub-blk{
        width: 100% !important;
    }
}

@media (max-width: 480px){
    body.full-theme.tax-business-type .i-slider .i-caption-dine{
        bottom: 5px;
    }
}

body.full-theme .sponsored-content-text{
    cursor: default;
}

body.full-theme .apl-recommend-post-hor .apl-recent-post-img-wrapper,
body.full-theme .apl-recommend-post-hor .apl-recent-post-img-wrapper img{
    height: 105px;
    width: 125px;
}

body.full-theme .apl-recommend-post-hor .apl-recent-post-content{
    width: calc(100% - 137px);
}

body.full-theme .apl-recommend-post-hor .slick-slide{
    margin-right: 10px;
}

body.full-theme .apl-recommend-post-hor .slick-slide:last-child{
    margin-right: 0;
}

body.full-theme .apl-recommend-post-hor .slick-track{
    margin-left: 0;
}

body.full-theme .apl-recommend-post-hor .apl-recent-post-content h3{
    color: #666666;
    margin-top: 5px;
    line-height: 19px;
    max-height: 38px;
    overflow: hidden;
}

body.full-theme .apl-recommend-post-hor .apl-recent-post-content .categories a{
    display: inline;
}

body.full-theme .apl-recommend-post-hor .apl-recent-post-content .categories a:hover{
    text-decoration: underline;
}

body.full-theme .apl-recommend-post-hor .apl-recent-post-content h3:hover{
    color: #666666;
}

@media (max-width: 480px){
    body.full-theme .apl-recommend-post-hor .slick-slide{
        margin-right: 0;
    }
    body.full-theme .apl-recommend-post-hor .apl-recent-post-img-wrapper{
        float: none;
        margin-left: auto ;
        margin-right: auto ;
    }
    body.full-theme .apl-recommend-post-hor .apl-recent-post-content{
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }

    body.full-theme .apl-recommend-post-hor .post-author-link span, .post-author-link a{
        float: none;
    }

    body.full-theme .apl-recommend-post-hor .apl-recent-post-content h3{
        line-height: 15px;
        max-height: 30px;
        overflow: hidden;
    }
}

body.full-theme .apl-recommend-post-hor .slick-dots li button:before {
    font-size: 35px;
    line-height: 10px;
    width: 10px;
    height: 10px;
    content: '';
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}

body.full-theme .apl-recommend-post-hor li{
    width: 10px;
    height: 10px;
    margin: 0 3px;
}

body.full-theme .apl-recommend-post-hor .slick-dots {
    bottom: -15px;
}

body.full-theme .apl-recommend-post-bottom .apl-recommend-post-widget{
    margin-bottom: 0;
}

.apl-event-discount-icon-text{
    display: inline-flex;
    align-items: flex-end;
}

/* Start 18181 */
.apl-event-discount-icon-text .apl-event-discount-description-fe{
    margin-left: 5px;
    line-height: 1.2;
}

.second-slider .flexslider .apl-event-discount-icon-text .icons-list{
    min-width: 80px;
    width: auto;
    margin-bottom: 0;
}

.second-slider .flexslider .apl-event-discount-description-fe a {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    display: block;
    line-height: 20.4px;
    height: auto;
    max-height: 51px;
}
body.full-theme .second-slider .slider-content .desc{
    max-height: 85px;
}

@media(max-width: 768px){
    .apl-event-discount-icon-text .apl-event-discount-description-fe{
        font-size: 13px
    }

    .second-slider .flexslider li .b-share-cat {
        bottom: 0;
        margin-bottom: 15px;
        margin-left: 20px;
        position: relative;
    }

    .list-blog .apl-event-discount-icon-text{
        margin-top: 10px;
    }
}

.event-landing-page nav.searching-list li{
    display: flex;
}
.event-landing-page nav.searching-list li .apl-event-discount-icon-text .icons-list{
    width: auto;
    margin-bottom: 0;
}
body.full-theme .category-page-event-box .astro-featr .blog-itm .apl-event-discount-icon-text{
    width: 100%;
}

body.full-theme .blog-blk .blog-itm .apl-event-discount-icon-text .icons-list{
    min-width: 70px;
}
.apl-event-discount-icon-text .icons-list img{
    min-width: 70px;
}
.event-landing-page nav.searching-list li.apl-search-event-list .info-content{
    position: relative;
    left: 0;
    width: calc(100% - 125px);
    height: auto;
}

/************************ */

body.full-theme.event-landing-page .search-bkl {
    display: block;
    clear: both;
}

body.full-theme.event-landing-page .search-bkl nav.type{
    margin-bottom: 10px;
}

body.full-theme nav.searching-list li.apl-search-event-list .search-img {
    width: 150px;
    max-height: 170px;
    min-height: 115px;
}

body.full-theme nav.searching-list li.apl-search-event-list .search-img img {
    width: auto;
    height: 100%;
    left: 50%;
    top: 50%;
    position: relative;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body.full-theme nav.searching-list li.apl-search-event-list .info-content {
    padding-top: 5px;
}

body.full-theme nav.searching-list li.apl-search-event-list .info-content .apl-event-desc p {
    line-height: 18px;
    height: 37px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
}

body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text {
    margin-bottom: 5px;
}

body.full-theme .wc-r .widget-search .select-bkl .select2-container {
    width: 100% !important;
}

body.full-theme .event-detail-article .blog-itm .apl-event-discount-icon-text .icons-list,
body.full-theme .category-page-event-box .blog-itm .apl-event-discount-icon-text .icons-list,
body.full-theme .blog-blk .blog-itm .apl-event-discount-icon-text .icons-list {
    width: auto;
    margin-bottom: 0;
}

body.full-theme .event-detail-article .blog-itm #apl-event-more-time ul li,
body.full-theme .category-page-event-box .blog-itm #apl-event-more-time ul li,
body.full-theme .blog-blk .blog-itm #apl-event-more-time ul li {
    padding-right: 10px;
}

@media (max-width: 1200px) {
    body.full-theme footer .bg-gray .menu-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    body.full-theme footer .bg-gray .menu-footer > li {
        width: 33%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    body.full-theme nav.searching-list li .info-content .searchdate span.sch-date {
        margin-left: 0;
    }

    body.full-theme nav.searching-list li .info-content.has-discount--event .apl-event-date,
    body.full-theme nav.searching-list li .info-content.has-discount--event .search-info {
        padding-right: 20px !important;
    }

    body.full-theme nav.searching-list li .info-content.has-discount--event .apl-event-discount-icon-text {
        flex-wrap: wrap;
    }

    body.full-theme nav.searching-list li .info-content.has-discount--event .apl-event-discount-icon-text .apl-event-discount-description-fe {
        margin-left: 0;
    }
    .single-event .apl-event-discount-icon-text{
        width: 100%;
    }
}

@media (max-width: 767px) {
    body.full-theme .blk-event-map-item .info-content .event-map-desc{
        margin-left: 0;
    }
    body.full-theme .search-bkl nav.type {
        margin-bottom: 10px;
    }

    body.full-theme nav.searching-list li.apl-search-event-list {
        flex-wrap: nowrap;
        padding-bottom: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .search-img {
        width: 115px;
        margin-bottom: 10px;
        margin-right: 10px;
        position: relative;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .search-img img {
        height: auto;
        width: 100%;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content {
        width: calc(100% - 115px - 10px);
        padding-left: 5px;
        padding-top: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content .search-info {
        margin-left: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content .searchdate,
    body.full-theme nav.searching-list li.apl-search-event-list .info-content .apl-event-desc {
        margin-left: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text {
        display: block;
        margin-bottom: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text .icons-list {
        display: none;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text .apl-event-discount-description-fe {
        margin-left: 0;
        white-space: nowrap;
        margin-top: 5px;
    }
}

@media (max-width: 480px) {
    nav.searching-list li.apl-search-event-list:hover .apl-event-desc {
        color: #000;
    }

    body.full-theme nav.searching-list li.apl-search-event-list {
        flex-wrap: nowrap;
        padding-bottom: 40px;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .search-img {
        width: 30%;
        margin-bottom: 10px;
        margin-right: 10px;
        position: relative;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .search-img img {
        height: auto;
        width: 100%;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content {
        width: 70%;
        padding-left: 5px;
        padding-top: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content .apl-event-date .apl-event-desc {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content .search-info {
        margin-left: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content .searchdate,
    body.full-theme nav.searching-list li.apl-search-event-list .info-content .apl-event-desc {
        margin-left: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event {
        margin-top: 0;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text {
        flex-wrap: nowrap;
        display: flex;
        align-items: flex-start;
        margin-top: 5px;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text .icons-list {
        min-width: 80px;
        max-width: 80px;
        display: block;
    }

    body.full-theme nav.searching-list li.apl-search-event-list .info-content.has-discount--event .apl-event-discount-icon-text .apl-event-discount-description-fe {
        margin-left: 0;
        white-space: normal;
    }

    body.full-theme footer .bg-gray .menu-footer > li {
        width: 50%;
    }
}

body.full-theme .list-blog .blog-itm .meta.auth {
    margin-bottom: 0;
}

body.full-theme .astro-featr .a-txt-fea {
    margin-bottom: 0;
}

body.tax-event-type .category-page-event-box .astro-featr .blog-itm .apl-event-discount-icon-text {
    width: auto;
}
/* End 18181 */

/*@ticket #18340 0002410: wpdev55 - Add the discount text and icon is the category page featured and and lower listing areas*/
body.full-theme.tax-event-type .category-itm.category-page-event-box .cat-rating-box.rating-action{
    display: block;
    margin-bottom: 0;
}

body.full-theme .category-itm.category-page-event-box .apl-event-discount-icon-text .icons-list,
body.full-theme  .more-cat-itm.category-page-event-box .apl-event-discount-icon-text .icons-list,
body.full-theme #apollo-view-more-upcomming-container .apl-event-discount-icon-text .icons-list,
body.full-theme #apollo-view-more-past-container .apl-event-discount-icon-text .icons-list{
    width: auto;
    margin-bottom: 0;
}

body.full-theme .icons-list span .show-tip{
    width: 250px !important;
    color: #666;
}

@media (min-width: 768px){
    body.full-theme .list-more-category .more-cat-itm.category-page-event-box .more-ct .more-cat-rating-box{
        height: 38px;
    }

    body.full-theme.tax-event-type .list-more-category .more-cat-itm.category-page-event-box .more-ct .more-cat-rating-box{
        margin-bottom: -7px ;
    }
}

#apollo-view-more-upcomming-container .apl-event-discount-icon-text,
#apollo-view-more-past-container  .apl-event-discount-icon-text,
body.full-theme .list-more-category .more-cat-itm.category-page-event-box .apl-event-discount-icon-text
{
    margin-top: 5px
}

@media (max-width: 790px){
    #apollo-view-more-upcomming-container .more-frm-itm .more-ct.custom,
    #apollo-view-more-past-container .more-frm-itm .more-ct.custom{
        width: 78%;
    }
}

@media (max-width: 1024px){
    body.full-theme .list-category .category-itm.category-page-event-box .apl-event-discount-icon-text .icons-list,
    body.full-theme .list-more-category .more-cat-itm.category-page-event-box .apl-event-discount-icon-text .icons-list{
        flex: 0 0 30%;
        max-width: 30%;
    }

    body.full-theme .list-category .category-itm.category-page-event-box .apl-event-discount-icon-text .apl-event-discount-description-fe a,
    body.full-theme .list-more-category .more-cat-itm.category-page-event-box .apl-event-discount-icon-text .apl-event-discount-description-fe a{
        margin-left: 0;
    }
}

/*End #18340*/

body.full-theme #add-event-calendar .time-filter span.clock{
    box-sizing: unset;
}

body.full-theme #add-event-calendar .time-filter span.op{
    margin-left: 7px
}

body.full-theme.single-post-solo .blog-pic-detail .media-credit{
    text-shadow: none;
}

@media(max-width: 768px) {
    body.full-theme.single-post-solo nav.blog-list > li .blog-category {
        width: 100%;
    }
}

/**
@ticket #18890: Can't show the drop down menu in import event
 */
body.full-theme .select2-drop,
body.full-theme .select2-drop-mask{
    z-index: 999999;
}

body.full-theme  .htDatepickerHolder{
    z-index: 999999 !important;
}

/** @ticket #19025: wpdev54 Customization - Change layout the public art on the octave theme */
body.full-theme.single-public-art .public-art.blog-bkl .art-pic{
    width: auto;
    max-width: 32%;
    margin-right: 2%;
    margin-bottom: 10px;
}

body.full-theme.single-public-art .public-art.blog-bkl .art-desc ul li{
    list-style-position: inside;
}

@media (max-width: 768px) {
    body.full-theme.single-public-art .public-art.blog-bkl .art-pic {
        margin-right: 5%;
    }
}

body.full-theme.single-public-art .apl-internal-content ul{
    margin-left: 0;
}
/** end @ticket #19025 */

/** @ticket #19132: Reduce the font size of the category type and title text - item 3*/
@media (min-width: 481px){
    body.full-theme .blk-fea-article .fea-itm h3 {
        font-size: 14px;
    }
}

body.full-theme .blk-fea-article .fea-itm .fea-cat{
    font-size: 12px
}

/** End @ticket #19132 */

/* @ticket #19131: Apl section line*/
@media (min-width: 1280px) {
    body.full-theme .a-block h4.apl-detail-title-line {
        margin-bottom: 15px;
    }
}

body.full-theme .a-block h4.apl-detail-title-line {
    text-align: center;
    background-color: transparent;
    padding: 0;
    position: relative;
    font-size: 28px;
}
body.full-theme .a-block h4.apl-detail-title-line span + span {
    display: none;
}
body.full-theme .a-block h4.apl-detail-title-line span {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    right: 0;
    top: 0;
    transform: translateY(0);
    background-color: #fff;
    color: #666666;
    padding: 10px 15px;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
}
body.full-theme .a-block h4.apl-detail-title-line::before {
    display: inline-block;
    background-color: #666;
    content: '';
    height: 4px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 0;
}

body.full-theme .a-block h4.apl-detail-title-line span {
    max-width: 92%;
    margin: 0 auto;
}

body.full-theme .a-block h4.apl-detail-title-line span {
    line-height: 28px;
}

@media (max-width: 768px) {
    body.full-theme .a-block h4.apl-detail-title-line {
        font-size: 24px;
    }
    body.full-theme .a-block h4.apl-detail-title-line span {
        line-height: 24px;
    }
}

@media (max-width: 480px) {
    body.full-theme .a-block h4.apl-detail-title-line {
        font-size: 20px;
    }
    body.full-theme .a-block h4.apl-detail-title-line span {
        line-height: 20px;
    }
    body.full-theme .a-block h4.apl-detail-title-line span {
        max-width: 90%;
    }
}

@media (max-width: 320px) {
    body.full-theme .a-block h4.apl-detail-title-line {
        font-size: 16px;
    }
    body.full-theme .a-block h4.apl-detail-title-line span {
        line-height: 18px;
    }
}

body.full-theme .apl-detail-title-line .tab-list li.selected,
body.full-theme .apl-detail-title-line .tab-bt,
body.full-theme .apl-detail-title-line .tab-list li:hover{
    background: #666666 !important;
}
/**End @ticket #19131 */

/** @ticket #19211 */
#apl-search-widget-month-view.hasDatepicker + .apl-loading-calendar{
    display: none;
}

.apl-loading-calendar{
    width: 70px;
    margin: 0 auto 15px;
    display: block;
}

/** @ticket #19443 */
@media (max-width: 790px) {
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .more-pic,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .more-pic {
        width: 120px;
        height: 120px;
    }
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .more-pic img,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .more-pic img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .more-ct.custom,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .more-ct.custom {
        width: calc(100% - 135px);
        margin-right: 0;
    }
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .b-btn.custom,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .b-btn.custom {
        margin-left: 135px;
        width: calc(100% - 135px);
    }
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .b-btn.custom a.btn-b,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .b-btn.custom a.btn-b {
        width: 100%;
        max-width: 185px;
    }
}
@media (max-width: 767px) {
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .more-ct.custom,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .more-ct.custom {
        width: inherit;
    }
    body.full-theme #apollo-view-more-upcomming-container .more-frm-itm .b-btn.custom,
    body.full-theme #apollo-view-more-past-container .more-frm-itm .b-btn.custom {
        width: inherit;
    }
}

/** End @ticket #19443 */

/** @ticket #19482 */
body.full-theme .widget_recent_post.apl-recent-news h3.r-ttl i{
    color: #fff;
    display: inline-block;
    background: #fcb234;
    line-height: 40px;
    margin: 0;
    height: 36px;
    width: 36px;
    text-align: center;
    vertical-align: baseline;
    font-size: 25px;
}

.oc-hidden-date-range{
    display: none !important;
}

body.full-theme.single-post .blog-pic-detail .apl-custom-figure .wp-caption-text {
    padding-right: 10px;
}

body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure .wp-caption-text {
    text-align: right;
    color: #666;
    z-index: 10;
    padding: 10px 60px 0 0;
    background: #f0f0f0;
}

body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure .blog-header-image--content {
    position: relative;
}
body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure .wp-caption-text .apl-caption-text {
    margin-bottom: 0;
}
body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure .wp-caption-text p.media-credit {
    position: relative;
    padding-right: 0 !important;
    top: 0 !important;
    bottom: 0;
    right: auto;
    text-align: right;
}

body.full-theme.single-post .apl-parallax-sc .media-credit {
    text-align: center;
}

body.full-theme.single-post .apl-parallax-sc .wp-caption-text .apl-caption-text,
body.full-theme.single-post .apl-parallax-sc .wp-caption-text .media-credit {
    margin-top: 0;
    margin-bottom: 0;
}

body.full-theme.single-post .wp-caption-text .media-credit {
    text-align: center;
}

body.full-theme.single-post-solo .blog-pic-detail .apl-only-credit .single-post-sponsored-content p.media-credit {
    text-align: right;
    position: relative;
    padding-right: 60px;
    padding-top: 10px;
}

body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure {
    width: 100vw;
}

body.full-theme.single-post-solo .blog-pic-detail .single-post-sponsored-content figure {
    margin-right: 0;
}

@media (max-width: 768px) {
    body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure .wp-caption-text,
    body.full-theme.single-post-solo .blog-pic-detail .apl-only-credit .single-post-sponsored-content p.media-credit {
        padding-right: 20px;
    }
    /** @Ticket #19598 */
    body.full-theme.single-post nav.blog-list .blog-name .namedetail-txt {
        font-size: 50px;
    }

    body.full-theme.single-post {
        font-size: 15px;
    }

    body.full-theme.single-post .apl-internal-content .wp-caption.alignleft {
        max-width: 100% !important;
    }

    body.full-theme.single-post .apl-internal-content .wp-caption.alignright {
        max-width: 100% !important;
        margin-right: 0;
    }

    body.full-theme.tax-event-type .category-page-event-box .astro-featr .blog-itm .pic {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body.full-theme.single-post-solo .blog-pic-detail .apl-custom-figure .wp-caption-text,
    body.full-theme.single-post-solo .blog-pic-detail .apl-only-credit .single-post-sponsored-content p.media-credit {
        padding-right: 10px;
    }
}

/**
@ticket #19632: 0002522: wpdev54 Customization - [Event category page] Change style for the thumbnail image on mobile view */
@media (max-width: 480px) {
    .category-itm.category-page-event-box.apl-date-strip-top .pic {
        width: 40%;
        max-height: 500px;
        margin: 0 auto;
        margin-bottom: 10px
    }
    .category-itm.category-page-event-box.apl-date-strip-top .pic a {
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
    }
    .category-itm.category-page-event-box.apl-date-strip-top .pic a  img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .category-itm.category-page-event-box:not(.apl-date-strip-top) .pic a  img{
        max-width: 40%
    }
}

/** End @ticket #19632*/

/**@ticket #19728: 0002522: wpdev54 Customization - The 'parallax' images are displaying strangely on iPhones and possibly other mobile devices.*/
@media (max-width: 768px) {
    body.full-theme.single-post-solo .ov-parallax {
        background-attachment: scroll
    }
}