//- Extend layout
extends ../layouts/layout-full

//- Define variables
block append vars
    - var jsController          = ''
    - var lang                  = 'nl'
    - var pageTitle             = 'NearShop | Sitemap'
    - var pageDescription       = 'Sitemap'
    - var bodyClass             = 'page has-static-header'

block main
    .container
        .row
            .site-map
                ol
                    li.separator
                        h2 Full screen pages

                    li
                        a(href="../page/full-screen-home.html", target="_blank") Home page
                    li
                        a(href="../page/full-screen-home-default-header.html", target="_blank") Home page default header
                    li
                        a(href="../page/full-screen-home-full.html", target="_blank") Home page full
                    li
                        a(href="../page/full-screen-home-full-header-default-transparent-fixed.html", target="_blank") Home page full header transparent fixed
                    li
                        a(href="../page/full-screen-home-full-transparent-fixed.html", target="_blank") Home page transparent fixed
                    li
                        a(href="../page/full-screen-home-grid.html", target="_blank") Home page grid
                    li
                        a(href="../page/full-screen-home-origin-header.html", target="_blank") Home page origin header

                    li.separator
                        h4 Full screen header

                    li
                        a(href="../page/full-screen-header-left-fixed.html", target="_blank") Header left fixed
                    li
                        a(href="../page/full-screen-header-right.html", target="_blank") Header right
                    li
                        a(href="../page/full-screen-header-right-fixed.html", target="_blank") Header right fixed
                    li
                        a(href="../page/full-screen-header-right-transparent-fixed.html", target="_blank") Header right transparent fixed
                    li
                        a(href="../page/full-screen-header-custom-mobile.html", target="_blank") Header custom mobile responsive
                    li
                        a(href="../page/full-screen-header-custom-mobile-menu-box.html", target="_blank") Header custom mobile menu item box
                    li
                        a(href="../page/full-screen-header-custom-mobile-menu-show-item.html", target="_blank") Header custom mobile menu list item show
                    li
                        a(href="../page/full-screen-header-custom-mobile-menu-hide-item.html", target="_blank") Header custom mobile menu list item hide

                    li.separator
                        h4 Full screen Featured

                    li
                        a(href="../page/full-screen-featured-event.html", target="_blank") Feature event
                    li
                        a(href="../page/full-screen-featured-event-full.html", target="_blank") Feature event full
                    li
                        a(href="../page/full-screen-feature-event-second-slide.html", target="_blank") Feature event second slide
                    li
                        a(href="../page/full-screen-featured-event-90-degree-title.html", target="_blank") Feature event 90 degree title
                    li
                        a(href="../page/full-screen-featured-event-four-column.html", target="_blank") Feature event four column
                    li
                        a(href="../page/full-screen-featured-event-four-column-full.html", target="_blank") Feature event four column full
                    li
                        a(href="../page/full-screen-featured-event-three-column.html", target="_blank") Feature event three column
                    li
                        a(href="../page/full-screen-featured-event-vertical.html", target="_blank") Feature event vertical
                    li
                        a(href="../page/full-screen-featured-event-vertical-full.html", target="_blank") Feature event vertical full

                    li.separator
                        h4 Other page

                    li
                        a(href="../page/full-screen-blog-detail.html", target="_blank") Blog detail
                    li
                        a(href="../page/full-screen-blog-detail-solo.html", target="_blank") Blog detail solo
                    li
                        a(href="../page/full-screen-blog-detail-solo-fixed.html", target="_blank") Blog detail solo fixed
                    li
                        a(href="../page/full-screen-category.html", target="_blank") Category
                    li
                        a(href="../page/full-screen-event-detail.html", target="_blank") Event detail
                    li
                        a(href="../page/full-screen-event-detail-single.html", target="_blank") Event detail single
                    li
                        a(href="../page/full-screen-event-search-map.html", target="_blank") Event search map

                ol
                    li.separator
                        h2 Pages

                    li
                        a(href="../index/index.html", target="_blank") Index page
                    li
                        a(href="../index/index1.html", target="_blank") Index page 1
                    li
                        a(href="../index/index-new-template.html", target="_blank") Index page new template
                    li
                        a(href="../index/index-v2.html", target="_blank") Index page v2
                    li
                        a(href="../index/index-v3.html", target="_blank") Index page v3
                    li
                        a(href="../index/index-v4.html", target="_blank") Index page v4

                    li.separator
                        h4 Homepage

                    li
                        a(href="../home/home-full.html", target="_blank") Home full
                    li
                        a(href="../home/home-grid.html", target="_blank") Home grid
                    li
                        a(href="../home/mini-spotlight.html", target="_blank") Mini spotlight
                    li
                        a(href="../home/mini-spotlight-full.html", target="_blank") Mini spotlight pull

                    li.separator
                        h4 Events

                    li
                        a(href="../event/events.html", target="_blank") Events
                    li
                        a(href="../event/event-detail-print.html", target="_blank") Event detail print
                    li
                        a(href="../event/event-import.html", target="_blank") Event import
                    li
                        a(href="../event/event-search.html", target="_blank") Event search
                    li
                        a(href="../event/event-search-list.html", target="_blank") Event search list
                    li
                        a(href="../event/event-search-map.html", target="_blank") Event search list
                    li
                        a(href="../event/event-search-thumb.html", target="_blank") Event search thumb
                    li
                        a(href="../event/event-calendar.html", target="_blank") Event calendar
                    li
                        a(href="../event/event-calendar1.html", target="_blank") Event calendar 1
                    li
                        a(href="../event/event-step1.html", target="_blank") Event step 1
                    li
                        a(href="../event/event-step3.html", target="_blank") Event step 2

                    li.separator
                        h4 Featured event

                    li
                        a(href="../featured-event/featured-event.html", target="_blank") Featured event
                    li
                        a(href="../featured-event/featured-event-four-column.html", target="_blank") Featured event four column
                    li
                        a(href="../featured-event/featured-event-full.html", target="_blank") Featured event full
                    li
                        a(href="../featured-event/featured-event-vertical.html", target="_blank") Featured event vertical
                    li
                        a(href="../featured-event/featured-event-vertical-full.html", target="_blank") Feature event vertical full
                ol
                    li.separator
                        h4 Venue
                    li
                        a(href="../venue/venue-list.html", target="_blank") Venue list
                    li
                        a(href="../venue/venue-list-search.html", target="_blank") Venue list search
                    li
                        a(href="../venue/venue-detail.html", target="_blank") Venue detail
                    li
                        a(href="../venue/venue-detail-print.html", target="_blank") Venue detail print
                    li
                        a(href="../venue/venue-profile.html", target="_blank") Venue profile
                    li
                        a(href="../venue/venue-thumb.html", target="_blank") Venue thumb
                    li
                        a(href="../venue/venue-thumb-search.html", target="_blank") Venue thumb search

                    li.separator
                        h4 Category
                    li
                        a(href="../category/category.html", target="_blank") Category
                    li
                        a(href="../category/category-v1.html", target="_blank") Category V1

                    li.separator
                        h4 Organization
                    li
                        a(href="../organization/organization-list.html", target="_blank") Organization list
                    li
                        a(href="../organization/organization-list-search.html", target="_blank") Organization list search
                    li
                        a(href="../organization/organization-thumb.html", target="_blank") Organization thumb
                    li
                        a(href="../organization/organization-thumb-search.html", target="_blank") Organization thumb search
                    li
                        a(href="../organization/org-detail.html", target="_blank") Organization detail
                    li
                        a(href="../organization/org-detail-print.html", target="_blank") Organization detail print
                    li
                        a(href="../organization/org-profile.html", target="_blank") Organization profile"
                    li
                        a(href="../organization/org-audio.html", target="_blank") Organization audio

                    li.separator
                        h4 Education
                    li
                        a(href="../education/education-list.html", target="_blank") Education list
                    li
                        a(href="../education/education-detail.html", target="_blank") Education detail
                    li
                        a(href="../education/education.html", target="_blank") Education
                    li
                        a(href="../education/education-edit.html", target="_blank") Education edit
                    li
                        a(href="../education/education-grant-form.html", target="_blank") Education grant form
                    li
                        a(href="../education/education-submit.html", target="_blank") Education submit
                    li
                        a(href="../education/education-teacher-form.html", target="_blank") Education teacher form
                    li
                        a(href="../education/education-thumb.html", target="_blank") Education thumb
                    li
                        a(href="../education/educator-detail-print.html", target="_blank") Education detail print
                    li
                        a(href="../education/edu-profile.html", target="_blank") Education profile
                    li
                        a(href="../education/edu-program.html", target="_blank") Education program

                ol
                    li.separator
                        h4 Classified
                    li
                        a(href="../classified/classified-list.html", target="_blank") classified list
                    li
                        a(href="../classified/classified-list-table.html", target="_blank") Classified list table
                    li
                        a(href="../classified/classified-list-search.html", target="_blank") Classified list search
                    li
                        a(href="../classified/classified-detail-print.html", target="_blank") Classified detail print
                    li
                        a(href="../classified/classified-detail.html", target="_blank") classified detail

                    li.separator
                        h4 Business
                    li
                        a(href="../business/business-list2.html", target="_blank") Business list
                    li
                        a(href="../business/business-detail.html", target="_blank") Business detail

                    li.separator
                        h4 Blog
                    li
                        a(href="../blog/blog.html", target="_blank") Blog
                    li
                        a(href="../blog/blog-detail.html", target="_blank") Blog detail

                    li.separator
                        h4 Account
                    li
                        a(href="../acc/acc-activity.html", target="_blank") Account activity
                    li
                        a(href="../acc/acc-bookmark.html", target="_blank") Account bookmark
                    li
                        a(href="../acc/acc-info.html", target="_blank") Account info

                    li.separator
                        h4 Artist
                    li
                        a(href="../artist/art-detail.html", target="_blank") Art detail
                    li
                        a(href="../artist/art-list.html", target="_blank") Art list
                    li
                        a(href="../artist/art-thumb.html", target="_blank") Art thumb
                    li
                        a(href="../artist/artist-detail.html", target="_blank") Artist detail
                    li
                        a(href="../artist/artist-detail-print.html", target="_blank") Artist detail print
                    li
                        a(href="../artist/artist-list.html", target="_blank") Artist list
                    li
                        a(href="../artist/artist-photo.html", target="_blank") Artist photo
                    li
                        a(href="../artist/artist-profile.html", target="_blank") Artist profile
                    li
                        a(href="../artist/artist-thumb.html", target="_blank") Artist thumb
                    li
                        a(href="../artist/artist-video.html", target="_blank") Artist video

