.page-builder-tags-wrapper .apollo-tag-form-field {
    position: relative;
}
.page-builder-tags-wrapper .apollo-tag-form-field .delete-tags {
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: calc(5% - 5px );
    color: red;
}

.inside #event_images_container.pbm-gallery  ul li.image {
    height: auto;
    width: 180px;
    overflow: unset;
    padding: 5px;
}
.inside #event_images_container.pbm-gallery  ul li.image img {

}
.pbm-metabox-photo-img-thumbnail {
    width: 50px;
    height: 50px;
}

#page-builder-manage-display-sort .item-block-content-sort {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px dashed #8a8a8a;
    border-radius: 3px;
    cursor: move;
    text-align: center;
    color: #000;
}
#page-builder-manage-display-sort .item-block-content-sort label {
    cursor: move;
}

.pbm-option-group-title {
    margin-bottom: 10px;
}
.pbm-option-group-title .form-field label{
    width: 150px;
    float: left;
}
.pbm-option-group-title .form-field input[type=text]{
    float: left;
    width: calc(100% - 200px);
}
#page-builder-manage-display table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e1e1e1;
}
#page-builder-manage-display table th, #page-builder-manage-display table td{
    color: #000;
}
#page-builder-manage-display .item-block-content-sort {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    color: #000;
}
#page-builder-manage-display table .align-center {
    text-align: center;
}