extends ../layouts/layout-full-header-custom
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home full-screen-demo responsive-slider image-responsive-demo header-bar--right oct__hamburger-mobile'