extends ../layouts/layout-full
append vars
    -title="Artsopolis - Home Page Full Theme"
    -sidebar = false
    -isHome  = true
    -gird    = 'page page-home full-screen-demo responsive-slider demo-event-fours'
block main
    include ../blocks/full-screen/block_features
    .row.two-col
        .wc-l
            include ../blocks/full-screen/home_new.jade
            hr.section-sp
            include ../blocks/list_event_vertical.jade
        include ../includes/sidebar.jade