extends ../layouts/layout-full
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home full-screen-demo responsive-slider image-responsive-demo apl-home-slider-display-full'
block main
    include ../blocks/full-screen/block_features
    .row.two-col
        .wc-f.ss
            include ../blocks/full-screen/home_new
            include ../blocks/full-screen/list_blog