extends ../layouts/layout-full
append vars
  -title="Artsopolis - Detail Page Full Theme"
  -sidebar = false
  -isHome  = false
  -gird    = 'single-event'
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/pathway.jade
            include ../blocks/detail_feature_single_page.jade
        include ../includes/sidebar.jade