extends ../layouts/layout-full
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home full-screen-demo apl-default-header responsive-slider image-responsive-demo oct-transparent--bg oct-active--scroll'
block main
    include ../blocks/full-screen/block_features
    .row.two-col
        .wc-f
            include ../blocks/full-screen/home_new
            include ../blocks/full-screen/list_blog