extends ../layouts/layout-full
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home responsive-slider apl-default-header '
block main
    include ../blocks/full-screen/block_features
    .row.two-col
        .wc-l
            include ../blocks/full-screen/home_new
            include ../blocks/full-screen/list_blog
        include ../includes/sidebar