extends ../layouts/layout-full
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home full-screen-demo responsive-slider image-responsive-demo'
block main
    include ../blocks/full-screen/block_features
    .row.two-col
        .wc-l.grid
            include ../blocks/full-screen/home_new.jade
            include ../blocks/full-screen/list_event_3_column
        include ../includes/sidebar.jade