extends ../layouts/layout-full
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home responsive-slider'
block main
    include ../blocks/feature-article
    .row.two-col
        .wc-l
            include ../blocks/full-screen/home_new
            include ../blocks/full-screen/list_blog
        include ../includes/sidebar