block vars
  -title="Artsopolis - Blog Page"
  -sidebar = false
  -isHome  = false
  -gird    = 'single-post'
extends ../layouts/layout-full
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/pathway_blog-detail.jade
            include ../blocks/full-screen/blog_detail.jade
        include ../includes/sidebar.jade