block vars
  -title="Artsopolis - Home Page"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout-full
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/top-sub-content.jade
            include ../blocks/full-screen/list_event_second_slide.jade
            include ../blocks/sub-content.jade
        include ../includes/sidebar.jade