extends ../layouts/layout-full
append vars
  -title="Artsopolis - Home Page Full Theme"
  -sidebar = false
  -isHome  = true
  -gird    = 'page page-home full-screen-demo responsive-slider demo-event-fours'
block main
    .row.two-col
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        span Search
            include ../blocks/full-screen/search_event_map.jade
        include ../includes/sidebar.jade