block vars
  -title="Artsopolis - Home Page"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout-home1
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/list_blog.jade
            include ../blocks/sub-content.jade
        include ../includes/sidebar.jade