block vars
  -title="Artsopolis - Home Page New TemPlate"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout-new-template
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/new-tempalte-layout/new-template-content.jade
        include ../includes/sidebar.jade