block vars
  -title="Artsopolis - Home Page"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout-home2
block main
    include ../blocks/feature-article.jade
    // END : FEATURE ARTICLE
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/list_blog_v2.jade
            include ../blocks/sub-content.jade
        include ../includes/sidebar.jade