/* Admin CSS*/
/*body {*/
    /*background: none !important;*/
/*}*/
#optionsframework-sidebar {
    float: left;
    margin-left: 20px;
    width: 320px;
}
#optionsframework {
	float: left;
	width: 100%;
}
#optionsframework-sidebar .metabox-holder{
	padding-top: 0px;

}
#optionsframework-sidebar .postbox{
	text-align: center;

}
a.btn {
    color: #FFFFFF;
    display: block;
    font-size: 22px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

.upgrade {
	background: none repeat scroll 0 0 #5FAAE3;
}

.support {
	background: none repeat scroll 0 0 #3DCC98;
}

.doc {
	background: none repeat scroll 0 0 #F0C561;
}

.demo {
	background: none repeat scroll 0 0 #F58C7A;
}
.rate {
    background: none repeat scroll 0 0 #6ABEB1;
}

a.upgrade:hover {
	background-color: #5B92E2;
}

a.support:hover {
	background-color: #3BC492;
}

a.doc:hover {
	background-color: #E5BC5D;
}

a.demo:hover {
	background-color: #F88E5A;
}
a.rate:hover {
    background-color: #40BEB1;
}

.option-btn {
    margin-bottom: 12px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../../../../assets/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../../../../assets/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'),
       url('../../../../assets/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../../../../assets/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../../../../assets/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

#apollo-event-images .inside, #apollo-artist-images .inside {
    margin: 0;
    padding: 0;
}
.inside #event_images_container {
    padding: 0 0 0 9px;
}
.inside #event_images_container ul {
    margin: 0;
    padding: 0;
}
.inside #event_images_container ul:after,
.inside #event_images_container ul:before {
    content: " ";
    display: table;
}
.inside #event_images_container ul li.add img,
.inside #event_images_container ul li.image img,
.inside #event_images_container ul li.apollo-metabox-sortable-placeholder img {
    width: 100%;
    height: auto;
    display: block;
}
.inside #event_images_container ul li.add,
.inside #event_images_container ul li.image,
.inside #event_images_container ul li.apollo-metabox-sortable-placeholder {
    width: 80px;
    float: left;
    cursor: move;
    border: 1px solid #d5d5d5;
    margin: 9px 9px 0 0;
    background: #f7f7f7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 68px;
    overflow: hidden;
}
.inside .add_event_images {
    padding: 0 12px 12px;
}

.inside #event_images_container ul li.apollo-metabox-sortable-placeholder:after {
    speak:none;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    -webkit-font-smoothing:antialiased;
    text-indent:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    content:"\e00c";
    font-size:2.618em;
    line-height:72px;
    color:#ddd;
    margin:0;
}

.inside #event_images_container ul:after{clear:both}


.inside #event_images_container ul ul.actions {
    position:absolute;
    top:-8px;
    right:-8px;
    display:none;
    padding:2px;
}

.inside #event_images_container ul ul.actions li {
    float:right;
    margin: 5px 5px 0 2px;
}

.inside #event_images_container ul ul.actions li a {
    width:1em;
    height:0;
    display:block;
    overflow:hidden;
    margin:0;
}

.inside #event_images_container ul ul.actions li a.view:before {
    font-family:FontAwesome;
    speak:none;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    text-indent:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    content:"\e00c";
    background-color:#000;
    color:#fff;
    margin:0;
}
.inside #event_images_container ul li:hover ul.actions,.apollo-metaboxes-wrapper .apollo-metabox h3:hover .handlediv,#variable_event_options .apollo-event_variation table td.upload_image .upload_image_button:hover .overlay,.apollo-event-reports-wide .postbox .chart-widgets li.chart-widget .section_title span,.apollo-event-reports-wrap .postbox .chart-widgets li.chart-widget .section_title span {
display:block;
}
.inside #event_images_container ul ul.actions li a.delete:before {
    font-family:FontAwesome;
    speak:none;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    text-indent:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    text-align:center;
    content: "\f00d";
    color:#fff;
    background-color:#000;
    -webkit-border-radius:100%;
    border-radius:100%;
    box-shadow:0 1px 2px rgba(0,0,0,.2);
    margin:0;
}
.inside #event_images_container ul ul.actions li a.delete:hover:before {
    background-color:#a00;
}
.inside #event_images_container ul ul.actions li a.tips {
    cursor:pointer;
}
.inside #event_images_container ul ul.actions li a.view,
.inside #event_images_container ul ul.actions li a.delete {
    display:block;
    text-indent:-9999px;
    position:relative;
    height:1em;
    width:1em;
    font-size:1.4em;
}
/*--------------------------------------------------------------------*/

/** Event data tab */
#apollo-event-data h3.hndle {
    padding:10px;
}

#apollo-event-data h3.hndle span {
    display:block;
    vertical-align:middle;
    line-height:24px;
}

#apollo-event-data h3.hndle span span {
    display:inline;
    line-height:inherit;
    vertical-align:baseline;
}

#apollo-event-data h3.hndle label {
    padding-right:1em;
    font-size:12px;
    vertical-align:baseline;
}

#apollo-event-data h3.hndle label:first-child {
    margin-right:1em;
    border-right:1px solid #dfdfdf;
}

#apollo-event-data h3.hndle input,#apollo-event-data h3.hndle select {
    vertical-align:middle;
    margin:-3px 0 0 .5em;
}

#apollo-event-data .panel-wrap {
    background:#fff;
    padding-left:100px;
}

#apollo-event-data .apollo-metaboxes-wrapper,#apollo-event-data .apollo_options_panel {
    float:right;
    width:100%;
}

#apollo-event-data .apollo-metaboxes-wrapper .apollo-metaboxes,#apollo-event-data .apollo-metaboxes-wrapper p.toolbar,#apollo-event-data .apollo_options_panel .apollo-metaboxes,#apollo-event-data .apollo_options_panel p.toolbar {
    padding-left:12px!important;
    padding-right:20px!important;
}

#apollo-event-data .apollo-metaboxes-wrapper .apollo-radios,#apollo-event-data .apollo_options_panel .apollo-radios {
    display:block;
    float:left;
    margin:0;
}

#apollo-event-data .apollo-metaboxes-wrapper .apollo-radios li,#apollo-event-data .apollo_options_panel .apollo-radios li {
    display:block;
    padding:0 0 10px;
}

#apollo-event-data .apollo-metaboxes-wrapper .apollo-radios li input,#apollo-event-data .apollo_options_panel .apollo-radios li input {
width:auto;
}

#apollo-event-data .apollo-tabs-back {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    background:#f5f5f5;
    width:100px;
    border-right:1px solid #DFDFDF;
}

#apollo-event-data ul.apollo-tabs {
    background:#f5f5f5;
    line-height:1em;
    float:left;
    width:100px;
    position:relative;
    margin:0;
    position: absolute;
    padding:0 0 10px;
    left: 0;
}

#apollo-event-data ul.apollo-tabs li {
    display:block;
    margin:0;
    padding:0;
}

#apollo-event-data ul.apollo-tabs li a {
    line-height:18px!important;
    display:block;
    background:#f5f5f5;
    text-decoration:none;
    border-bottom:1px solid #f5f5f5;
    border-top:1px solid #eaeaea;
    margin:0;
    padding:10px;
}

#apollo-event-data ul.apollo-tabs li a:before {
    font-family:FontAwesome;
    speak:none;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    margin-right:7px;

}

#apollo-event-data ul.apollo-tabs li:first-child a {
    border-top:0!important;
}

#apollo-event-data ul.apollo-tabs li.general_options a:before {
    /* content:"\e006"; */
}

#apollo-event-data ul.apollo-tabs li.inventory_options a:before {
    content:"\e02c";
}

#apollo-event-data ul.apollo-tabs li.shipping_options a:before {
    content:"\e01a";
}

#apollo-event-data ul.apollo-tabs li.attribute_options a:before {
    content:"\e02b";
}

#apollo-event-data ul.apollo-tabs li.usage_restriction_options a:before {
    content:"\e602";
}

#apollo-event-data ul.apollo-tabs li.usage_limit_options a:before {
    content:"\e601";
}

#apollo-event-data ul.apollo-tabs li.general_coupon_data a:before {
    content:"\e600";
}

#apollo-event-data ul.apollo-tabs li.active a {
    position:relative;
    background-color:#fff;
    color:#555;
    border-color:#DFDFDF;
    margin:0 -1px 0 0;
}


#apollo-event-data .inside {
    margin:0;
    padding:0;
}
.apollo_options_panel fieldset.form-field, .apollo_options_panel p.form-field {
    padding: 5px 20px 5px 162px!important;
}
.apollo_options_panel p {
    margin: 9px 0;
}
.apollo_options_panel label, .apollo_options_panel legend {
    float: left;
    width: 150px;
    padding: 0;
    margin: 0 0 0 -150px;
}
.apollo_options_panel .short,
.apollo_options_panel input[type=email].short,
.apollo_options_panel input[type=number].short,
.apollo_options_panel input[type=text].short {
    width: 25%;
}
.apollo_options_panel .full,
.apollo_options_panel input[type=email].full,
.apollo_options_panel input[type=number].full,
.apollo_options_panel input[type=text].full {
    width: 96%;
}
.apollo_options_panel textarea {
    vertical-align: top;
    height: 3.5em;
    line-height: 1.5em;
}
#apollo-event-option input[type="checkbox"] {
    margin-left: 10px;
}

.apollo_error_tip {
    background: #d82223;
    max-width: 20em;
    white-space: normal;
    position: absolute;
    margin: 1.5em 1px 0 -1em;
    z-index: 9999999;
    font-size: 11px;
    color: #fff;
    padding: .5em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    text-align: center;
    max-width: 150px;
}

.apollo_error_tip:after {
    content: "";
    display: block;
    border: 8px solid #d82223;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: -3px;
    left: 50%;
    margin: -1em 0 0 -3px;
}

/* Feature event, spotlight*/
table.wp-list-table span.apollo-event-featured,
table.wp-list-table span.apollo-event-spotlight {
    cursor:pointer;
    margin:0;
}

table.wp-list-table span.apollo-event-featured.not-featured:before {
    content: "\f006";
}

table.wp-list-table span.apollo-event-spotlight.not-spotlight:before {
    content: "\f10c";
}

table.wp-list-table td.column-home-featured span,
table.wp-list-table td.column-home-spotlight span,
table.wp-list-table td.column-category-spotlight span,
table.wp-list-table td.column-category-featured span {
    font-size:1.0em;
}

table.wp-list-table span.apollo-event-type:before {
    content:"\e01d";
}
table.wp-list-table span.apollo-event-featured,
table.wp-list-table span.apollo-event-spotlight,
table.wp-list-table span.apollo-event-image,
table.wp-list-table span.apollo-event-type {
/*    display: block;*/
    display: inline-block;
    text-indent: -9999px;
    position: relative;
    height: 1em;
    width: 1em;
    margin: 0 auto;
}
table.wp-list-table td.column-home-featured a,
table.wp-list-table td.column-category-spotlight a,
table.wp-list-table td.column-home-spotlight a,
table.wp-list-table td.column-category-featured a {
    width: 100%;
    float: left;
    text-align: center;
    border: none;
    cursor: pointer;
}
table.wp-list-table td.column-category-spotlight a,
table.wp-list-table td.column-category-featured a {
    text-align: left;
    line-height: 12px;
    padding-bottom: 5px;
}
table.wp-list-table td.column-category-spotlight a span,
table.wp-list-table td.column-category-featured a span {
    width: 20px;
}

table.wp-list-table span.apollo-event-featured:before,
table.wp-list-table span.apollo-event-image:before,
table.wp-list-table span.apollo-event-type:before,
table.wp-list-table span.apollo-event-spotlight:before{
    font-family: FontAwesome;
    speak: none;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    text-indent: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    content: "\e00c";
}

table.wp-list-table span.apollo-event-featured:before {
    content:"\f005";
}
table.wp-list-table span.apollo-event-spotlight:before {
    content:"\f111";
}

table.wp-list-table td.column-thumb img {
    margin: 0;
    vertical-align: middle;
    width: auto;
    height: auto;
    max-width: 40px;
    max-height: 40px;
}
table.wp-list-table .column-thumb {
    width: 52px;
    text-align: center;
    white-space: nowrap;
}
#tiptip_holder.tip_bottom {
    padding-top: 5px;
}
#tiptip_holder {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999;
}
#tiptip_arrow, #tiptip_arrow_inner {
    position: absolute;
    border-color: transparent;
    border-style: solid;
    border-width: 6px;
    height: 0;
    width: 0;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
    margin-top: -5px;
    margin-left: -6px;
    border-bottom-color: #464646;
}

#tiptip_content {
    font-size: 11px;
    color: #fff;
    padding: .5em;
    background: #464646;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    text-align: center;
    max-width: 150px;
}
table.wp-list-table .row-actions {
    color: #999;
}
#datetime-event-data .ui-datepicker-trigger,
.apollo_input_datepicker+.ui-datepicker-trigger{
    vertical-align: top;
}
/*--------------------------------------------------------------------*/

#optionsframework .no-border h4.heading {
    border: none !important;
}
#optionsframework .inline h4.heading {
    width: 200px;
    float: left;
}
#optionsframework .inline .option .controls {
    margin-top: 5px;
}

.event-box label {
    float: left;
    width: 20%;
}
.q-full label {
    width: 100%;
    padding-bottom: 5px;
}

.event-box input[type="text"] {
    width: 75%;
}
.apollo_input_datepicker {
    width: 25% !important;
}
#apollo-event-fields-bulk.inline-edit-col .inline-edit-group label.alignright {
    display: none;
}

#apollo-home-spotlight-event-images .image-container img {
    width: 100%;
    height: auto;
}
.more-obj {
    color: #555;
    font-size: 12px;
    padding-left: 4px;
    padding-top: 5px;
}

.multiselect {
    width: auto;
    min-width: 200px;
    height: auto;
    min-height: 200px;
}
.fa-arrow-circle-o-right:before {
    content: "\f18e";
}
.fa {
    display: inline-block;
    font: normal normal normal 14px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}
#filter-by-date {
    display: none;
}
.save-btn {
    margin-bottom: 5px;
    padding-left: 7px;
}
#apl-event-new-venue {
    margin-left: 139px;
}

div.apl-error input {
    border: 1px solid #dd3d36;
}
span.error, li.error a {
    color: #dd3d36 !important;
}

.event-box ul#info-access-ul {
    margin: 0 0 10px 30px;
}
.event-box ul#info-access-ul li {
    width: 50%;
    float: left;
    padding: 0;
    height: 50px;
}
.event-box ul#info-access-ul li img {
    width: 30px;
    float: left;
    cursor: default;
}
.event-box ul#info-access-ul li span {
    line-height: 34px;
    padding-left: 17px;
    cursor: default;
}
#apollo-event-acb .inside{
    height: 663px;
}

.wrapper-acb-info{
    width: 100%;
    position: relative;
    float: left;
    padding: 5px 0 0 0;
}

.wrapper-acb-info textarea{
    width: 100%;
    height: 100px;
}

/*Trilm - venue be*/
#apollo-venue-acb{
    height: auto;
}

#apollo-venue-acb .event-box label{
    width: auto;
}
/*End venue be*/
.event-box ul#info-access-ul li input {
    width: auto !important;
    float: left;
    margin: 6px 5px 0 0;
}
.re-star {
    color: #dd3d36;
    font-size: 16px;
}
#apl-add-video,
#apl-add-audio {
    float: right;
    margin-right: 34px;
    margin-bottom: 11px
}
/*.required {
    color: #fa2805;
}*/
.inline-edit-categories {
    display: none;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-3x {
    font-size: 3em;
}

.fa-spinner:before {
    content: "\f110";
}

.artist-video-desc textarea {
    width: 75%;
}

.wpc-75 {
    width: 75% !important;
}

.apollo-btn-right {
    float: right !important;
    margin-right: 34px !important;
    margin-bottom: 11px !important;
}
.remove {
    color: #dd3d36;
}
.remove:hover {
    color: #ff0000;
}
.apollo-artist-custom-fields h3 {
    padding-left: 10px;
}
#apollo-artist-question input[type="button"] {
    float: right;
    margin-right: 47px;
}
.apollo-artist-custom-fields #apl-artist-save-questions {
    float: right;
}
.apollo-artist-custom-fields div.warning {
    background-color: #fff;
    border-left: 4px solid #FFD900;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    margin: 5px 0 15px;
    padding: 1px 12px;
    padding: 10px;
    display: none;
    margin-left: 5px;
}

#artist-custom-fields fieldset {
    border: 1px solid #dddddd;
    padding: 15px;
    position: relative;
    width: 92%;
    margin-top: 10px;
}
#artist-custom-fields fieldset legend {
    font-size: 15px;
}
#artist-custom-fields fieldset .remove {
    position: absolute;
    top: 0px;
    right: -13px;
}
#artist-custom-fields ul li {
    width: 50px;
    float: left;
}
#artist-custom-fields ul li span {
    padding-right: 5px;
}

.options_group fieldset ul li {
    float: left;
    width: 100%;
    margin-right: 10px;
}

#apollo-artist-additional-fields .options_group.event-box:first-child > p > label {
    width: 26%;
}
#artist-custom-fields select {
    margin-top: 5px;
}
#apollo-artist-additional-fields .sel-label {
    padding-top: 8px;
}
@media ( max-width: 792px ) {
    #artist-custom-fields ul li {
        float: left;
        width: 69px;
    }
    #artist-custom-fields select {
        width: 75%;
    }

}
@media ( max-width: 469px ) {
    #apollo-artist-additional-fields label,
    #apollo-artist-additional-fields input[type="text"],
    #apollo-artist-additional-fields select {
        width: 100% !important;
    }
    #apollo-artist-additional-fields ul {
        line-height: 50px;
    }
}

@media( max-width: 478px ) {
    #apollo-artist-additional-fields #add-cus-field {
        width: 100%;
        margin-top: 5px;
    }
    #artist-custom-fields fieldset .remove {
        right: 3px;
    }

    #apollo-artist-question input[type="button"],
    .apollo-artist-custom-fields #apl-artist-save-questions{
        width: 100%;
        margin-right: 0;
    }
}
@media( max-width: 690px ) and ( min-width: 490px ) {
    #apollo-artist-question input[type="button"] {
        margin-right: 30px;
    }
}

#optionsframework .controls textarea.full_width {
    width: 100%;
}
.column-tab-featured select[name="tab_location[]"] {
    width: 79px !important;
}
#video-event-data .video-wrapper .del,
#video-org-data .video-wrapper .del,
#audio-org-data .audio-wrapper .del
{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fa2805;
    cursor: pointer;
}
#video-event-data .video-wrapper .count,
#video-org-data .video-wrapper .count,
#audio-org-data .audio-wrapper .count
{
    position: relative;
}
.w-200 {
    width: 200px;
}
.notallow-select {
    opacity: 0.5;
}

#createuser .form-field input[type="checkbox"]{
    width: 16px !important;
}

#profile-page ul li {
    display: inline-block;
}

#profile-page ul {
    border-bottom: 1px solid #ddd;
}
#profile-page ul li:first-child {
    float: left;
}
#profile-page ul li a {
    padding: 7px 12px 5px 8px;
    font-size: 17px;
    text-decoration: none;
    color: #444;
}
#profile-page ul li.active a {
    background: #ddd;
    cursor: default;
}
#profile-page ul li.active a:hover {
    color: #444;
}

@media ( max-width: 413px ) {
    #profile-page ul {
        width: 100%;
        float: left;
    }
    #profile-page ul li {
        width: 95%;
    }
    #profile-page ul {
        border: none;
    }
    #profile-page ul li:first-child {
        margin-bottom: 8px;
        width: 100%;
        float: none;
    }
    #profile-page ul li.active a {
        width: 95%;
    }
    #profile-page ul li a {
        display: block;
    }
}

.pl-5 {
    padding-left: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

table.apl-custom-table input.error {
    border: 1px solid #dd3d36;
}
div.apl-custom-postbox {
    padding: 15px;
}
.apl-agency-submit {
    float: right;
}
.apl-custom-postbox select[multiple="true"] {
    width: 300px;
    height: 200px;
}

.multiselect {
    width: auto;
    min-width: 200px;
    float: left;
    margin-right: 20px;
    margin-left: 11px;
    max-width: 300px;
    overflow: auto;
    min-height: 462px;
}
.add-multi-select-btn {
    float: left;
}
.selected-event {
    width: auto;
    min-width: 250px;
    float: left;
    margin-left: 20px;
    padding: 5px;
    border: 1px solid #cccccc;
    height: 450px;
    padding-right: 15px;
    overflow: auto;
    max-width: 330px;
}

.selected-event li {
    padding: 5px;
    border: 1px solid #cccccc;
    cursor: move;
    padding-bottom: 0px;
}
.selected-event li i {
    float: right;
}
.selected-event li i:hover {
    color: #d64e07;
}
.selected-event li i {
    cursor: pointer;
    width: 20px;
}

.postbox.apl-custom-postbox.venues {
    height: 362px;
}

.apl-custom-postbox select.multiselect {
    height: 300px;
    min-height: 300px;
}
.apl-custom-postbox .selected-event {
    height: 290px;
    max-width: 270px !important;
}

@media ( max-width: 655px ) {
    .apl-custom-postbox select.multiselect {
        float: none;
        width: 90%;
        min-width: 98%;
        height: 200px !important;
        min-height: 200px;
    }
    .add-multi-select-btn.button {
        margin: 10px 0 10px 10px;
    }
    .apl-custom-postbox .selected-event {
        float: none;
        width: 92%;
        height: 200px;
    }
    .postbox.apl-custom-postbox.venues {
        height: 581px;
    }
}

.apollo_input_url_newline label{
    display: block;
    float: none !important;
}
.post-type-program #postimagediv {
    display: none;
}
.form-field._apl_program_start_date_field,
.form-field._apl_program_end_date_field {
    line-height: 30px;
}
.form-field._apl_program_start_date_field img,
.form-field._apl_program_end_date_field img{
    vertical-align: middle;
}
.post-type-educator #TB_ajaxContent {
    height: auto !important;
    max-height: 400px !important;
    min-height: 100px !important;
}

.post-type-event span.count,
.post-type-venue span.count,
.post-type-organization span.count,
.post-type-artist span.count,
.post-type-educator span.count,
.post-type-program span.count,
.post-type-public_art span.count,
.post-type-classified span.count,
.post-type-business span.count {
    display: none;
}
.apl-custom-postbox.venues .selected-event li,
.apl-custom-postbox.educators .selected-event li,
.apl-custom-postbox.organizaitons .selected-event li {
    cursor: default;
}
.apollo-input-error {
    border: 1px solid #dd3d36 !important;
}

.apollo-text-error {
    color: #dd3d36;
}

/* Timeline */
.apollo-artist-timeline {
    position: relative;
}

.apollo-artist-timeline .del {
    position: absolute;
    top: 7px;
    right: calc(5% - 5px );
    color: red;
}
 .italic {
     font-style: italic;
 }



.right_corner_abs {
    position: absolute;
    top: 0;
    right: 0;
}

.mr-50 {
    margin-right: 50px;
}

.pos-relative {
    position: relative;
}

#apollo-artist-uploadpdf .del, #apollo-classified-uploadpdf .del{
    cursor: pointer;
}

#upload_pdf-event-data .del {
    color: red;
}

.taxonomy-district-school ul {
    border-bottom: 1px solid #ddd;
}
.taxonomy-district-school ul li:first-child {
    float: left;
}
.taxonomy-district-school ul li a {
    padding: 7px 12px 5px 8px;
    font-size: 17px;
    text-decoration: none;
    color: #444;
}

.taxonomy-district-school ul li.active a {
    background: #ddd;
    cursor: default;
}
.agency-left-title {
    width: 190px;
    float: left;
}
.icon-img img {
    width: 30px;
    height: auto ;
    float: left;
    margin-right: 5px;
}
#apollo-icons img {
    width: 30px;
    height: auto;
    vertical-align: middle;
}
.icon-manager input[type="submit"] {

}
.icon-manager .form-field.icon-img {
    overflow: hidden;
}
.apl-cbbox-child p {
    padding-left: 20%;
    margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
    .form-field input, .form-field textarea {
        width: 25px;
    }
}
ul.apl-admin-tabs-link {
    width: 100%;
    float: left;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
}
ul.apl-admin-tabs-link li.active {
    background: #ddd;
}
ul.apl-admin-tabs-link li {
    float: left;
    margin: auto;
    font-size: 17px;
}
ul.apl-admin-tabs-link li a {
    color: #444;
    padding: 10px;
    text-decoration: none;
    float: left;
    text-align: left;
}
#apl-cf-group legend {
    width: 180px;
    float: left;
}
#apl-cf-group hr {
  float: left;
  width: 100%;
}
#apl-cf-group .group-wraper {
    width: 330px;
    float: right;
}

#apl-cf-group .group-wraper input {
    float: left;
    margin-left: 5px;
}
.postbox.apl-custom-postbox.icons .count {
    border: 1px solid #eeeeee;
    padding: 10px;
    margin-bottom: 10px;
}

/**
 * custom fields style
 */
.aplcf .fields_header {
    font-weight: bold;
}
.aplcf .fields_header table th, .aplcf .fields_header table {
    border: none;
}
.aplcf .fields_header {
    border: 1px solid #ddd;
}
.aplcf .field.form_open table {
    border-top: 0;
}

.aplcf table .field_order {
    width: 50px;
    font-weight: bold;
    font-size: 15px;
}

.aplcf table .field_type,
.aplcf table .field_required {
    width: 90px;
}
.aplcf table .field_display_control {
    width: 100px;
    text-align: center;
}
.aplcf #add-field {
    float: right;
    margin-top: 10px;
}

.aplcf_input.widefat.aplcf_field_form_table tr td:first-child {
    width: 20%;
    background: #F9F9F9;
}
.aplcf .field.form_open input[type='text'],
.aplcf .field.form_open textarea,
.aplcf .field.form_open input[type='number'],
#aplcf-options table tr td input[type='text'] {
    width: 70%;
}
.aplcf-radio-list.radio.horizontal li {
    float: left;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .aplcf .field.form_open input[type='text'], .aplcf .field.form_open textarea {
        width: 95%;
    }
}
.aplcf_field_form_table span.required {
    color: #dd3d36;
}
.aplcf_input.widefat.aplcf_field_form_table tr td:first-child label {
    font-weight: bold;
}

fieldset.apl-group-fields {
    border: 1px solid #eee;
    padding: 10px;
    margin-bottom: 10px;
}
fieldset.apl-group-fields .apl-multi-choice+.options_group {
    margin-left: 20px;
    margin-bottom: 20px;
}
fieldset.apl-group-fields legend {
    font-weight: bold;
}
.error_text {
    color: #dd3d36 !important;
}
.active-row-cf {
   background: #eeeeee !important;
}
.options_group .apollo-radios, .apollo-checkbox input {
    margin-left: 20px;
}
select.multiselect {
    max-width: 270px !important;
}

label.full {
    width: 100%;
    padding-bottom: 4px;
}
.apl_cf_w_8_2 p label {
    width: 86%;
}
@media (max-width: 576px) {
    .apl_cf_w_8_2 p label {
        width: 70%;
    }
}
.aplcf tr select {
    min-width: 150px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    text-indent: -9999px;
}
#grant_education-typediv, #edu_evaluation-typediv {
    display: none;
}
.apollo-artist-custom-fields select[name="field_listing"] {
    max-width: 60%;
}

@media (max-width: 576px) {
    .aplcf-note {
        width: 100%;
        padding-top: 5px;
        float: left;
    }

    div.apl-custom-postbox {
        padding-bottom: 30px;
    }
    .apollo-artist-custom-fields .apl-custom-postbox select {
        max-width: 100%;
    }
}
.manage-column.column-D {width: 30px;}
.fa-copy:before, .fa-files-o:before {
    content: "\f0c5";
}
.none.fa.fa-files-o {
    opacity: 0.2;
}
.has.fa.fa-files-o {
    color: #a00;
}
#adminmenu div.wp-menu-image img {
    width: 17px;
}
.options_group.event-box p.custom-required-icon .re-star{
    top: -26px;
    position: relative;
}
#apl-error-page {
    margin: auto;
    width: 40%;
    background: #ffffff;
    padding: 20px;
}
.selected-event .wp-picker-container {
    width: 100%;
    margin-top: 5px;
}

.cmb-day-in-week,
.cmb-day-in-week-span {
    float: left;
}
.cmb-day-in-week-span {
    margin-right: 10px;
}

@media (max-width: 782px) {
    .event-box ul#info-access-ul li input{
        width: 25px!important;
    }
}
.post-type-classified .ui-datepicker-trigger{
    vertical-align: top;
}

.apl-list-panel {
    height: auto;
    width: 335px;
    max-height: 250px;
    min-height: 150px;
    padding: 10px;
}
.apl-list-panel div {
    height: 90%;
    width: 100%;
    max-height: 230px;
    min-height: 150px;
    overflow: auto;
}
#individual-events div {
    height: 90%;
    width: 100%;
    max-height: 390px;
    min-height: 150px;
    overflow: auto;
    padding-right: 10px;
}
.apl-editor{
    margin: 15px 0;
}
.description{
    display: block;
}
#frm-list-theme-tool #dropdown-event-type {
    float: left;
    width: 240px;
    max-width: 240px;
}
select.error {
    border: 1px solid #dd3d36;
}
.apl-list-panel.c1 {
    float: left;
    width: 200px;
    border: 1px solid #dddddd;
}
.apl-list-panel.c2 {
    width: 200px;
    margin-left: 26px;
    border: 1px solid #dddddd;
    float: left;
}
.apl-list-panel legend {
    line-height: 19px;
}
#individual-events {
    max-height: 400px;
    width: 98%;
}
.add_public_art_icon,
.remove_google_map_icon{
    cursor: pointer;
    text-decoration: underline;
}
.public_art_image_icon_content img{
    max-width: 100%;
}
#apl-network-disabled-plugin {
    overflow: auto;
    max-height: 250px;
}
.as-is{
    margin-top: 5px;
}
.postbox.apl-custom-postbox div.selected-event ol li input {
    display: none;
}

.selected-event ol li {
    padding: 5px;
}
._apl_terr_filter_button{
    margin: 10px 0px !important;
}
.clearfix{
    clear: both;
}
.apollo-territory-manegement .controls.full label{
    max-width: 30%!important;
}
.contain-city-zip >h4{
    display: none;
}
.force-hidden {
    display: none !important;
}
.strike {
    text-decoration: line-through;
}
.table.table-striped a {
    cursor: pointer;
}
.wrap-custom{
    width: 100%;
    padding: 2px 0;
    margin-bottom: 10px;
    float: left;
}
.wrap-custom .left{
    float: left;
    margin-left: 5px;
}

.wrap-custom .right{
    float: right;
}

.custom-text-success{
    color: #008000;
    font-weight: 600;
}

.btn-send-email-test{
    width: 80px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #555 !important;
}
#datetime-event-data .ongoing {
    font-weight: bold;
    padding-left: 11px;
    font-size: 14px;
    color: #a00;
}

.section.section-multicheck .controls.bs-type-multi-cb label{
    width: 120px !important;
}

#optionsframework .controls.bs-type-multi-cb{
    width: 500px;
    padding-top: 20px;
}

/* Thienld : CSS for Tab Business Setting in Theme Options */
#optionsframework .opt-fw-sf-gr{
    width:100%;
}

#optionsframework .opt-fw-sf-gr select,
#optionsframework .opt-fw-sf-gr input[type=text],
#optionsframework .opt-fw-sf-gr img{
    display: block;
}

#optionsframework .opt-fw-sf-gr .icon-default{
    width: 16px;
    margin-left: 5px;
    margin-top: 2px;
}

#optionsframework .sf-text-icon input[type=text],
#optionsframework .opt-fw-sf-gr .icon-default {
    float:left;
}

#optionsframework #business-introduction{
    max-width: 470px;
}

.org-text-fields{
    width: 100%;
    height: 30px;
}
.org-text-fields-audio{
    width: 100%;
    height: auto;
}
.postbox-container .blog-bkl.more-info h4 {
    background: none;
}
textarea.full {
    width: 100%;
}
.h-100 {
    height: 100px;
}
.date-cell.cell-error {
    border-left: 3px solid #dd3d36;
}

.noticed_info{
    color: #dd3d36;
    font-weight: bold;
}

.ct-selection-box{
    margin-top: 5px;
}

.ct-selection-box label, .ct-selection-box ul{
    float: left;
}

.ct-selection-box ul{
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
}

.ct-selection-box ul li{
    display: inline-block;
    margin-left: 10px;
}

.wrap-ddl{
    display: inline-block;
    width: 40%;
    padding: 8px 12px;
}

.wrap-blk{
    display: inline-block;
    padding: 8px 12px;
    margin-bottom: 2px;
}

.wrap-ddl .wrap-ddl-blk{
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 10px;
}

.ct-lb-mtc{
    font-weight: bold;
    width: 100% !important;
}

.ct-full-width{
    width: 100%;
}

.wrap-cz:after {
    content: "";
    display: table;
    clear: both;
}

.wrap-cz .wrap-cz-child .multi-cb.item-child-lv1 {
    margin-left: 20px;
}

.wrap-cz .wrap-cz-child{
    float: left;
    width: 24%;
}

.wrap-cz .wrap-cz-wrap-line{
    float: left;
    width: 100%;
    max-height: 350px;
}

#blk-individual-events .wrap-cz .wrap-cz-wrap-line {
    max-height: 480px !important;
    border-bottom: 1px solid #f9f9f9;
}

.wrap-sm-indi-events .spinner{
    float: left;
    visibility: visible;
    display: none;
}

.ct-selection-box > label{
    min-width: 200px;
    width: 200px;
}

.wrap-op-blk{
    margin: 4px 0;
}

.wrap-op-blk .options_group.clear{
    padding-left: 20px;
    margin-bottom: 5px;
}

.wrap-op-blk > h3{
    font-size: 14px !important;
    font-weight: bold;
    font-style: italic;
}

.wrap-op-blk .options_group.clear label{
    font-weight: 800;
}

.wrap-op-blk .options_group.clear p.form-field{
    margin-top: 2px;
}

.wrap-op-blk .options_group.clear p.form-field label{
    width: 100%;
    float: left;
}
#apollo-public-art-data-artist .inside  ul {
    max-height: 190px;
    overflow: auto;
}
.apl-filter.hasDatepicker {
    vertical-align: top;
    margin-right: 6px;
    width: 100px;
    height: 28px;
}
.apl-filter.past-event {
    margin-left: 6px;
}

.apl-filter.past-event+label {
    line-height: 25px;
    vertical-align: top;
}
.tab-featured select.tab_location {
    width: 60px;
}
@media (min-width: 1400px)  {
    .event-box label {
        width: 150px;
    }
}.past-event-wrapper {
    float: left;
    padding-right: 8px;
}
.post-type-event #post-query-submit {
    float: left;
}
.wrapper-date-range {
    float: left;
    padding-right: 3px;
}
.apl-filter.hasDatepicker:first-child+img {
    margin-right: 8px;
}
body.post-type-event #publish{
    display: none!important;
}
body.post-type-event.post-new-php #publish{
    display: block!important;
}

.tab-featured select.tab_location {
    width: 60px;
}
@media (min-width: 1400px)  {
    .event-box label {
        width: 150px;
    }
}
.hide-text input[type='text']{
    display: none!important;
}
.sync_solr_data,
.delete_sync_solr_data
{
    cursor: pointer;
}
.multi-check-row{
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

#section-_solr_post_type_list .option input,
#section-_solr_post_type_list .heading,
#section-_solr_post_type_list .option{
    float: left;

}
#section-_solr_post_type_list .heading{
    width: 200px;
}
#section-_solr_post_type_list .option{
    padding-top: 20px;
}
#section-_solr_post_type_list .option input{

}
#section-_solr_post_type_list .option label {

    width: calc(100% - 20px)!important;
}

.post-type-iframe-search-widget span.description{
    padding-bottom: 6px;
    font-style: normal !important;
}

.type-iframe-search-widget .iframe-url,
.type-iframe-search-widget .iframe-code{
    font-weight: 600;
    font-style: italic;
}

#apollo-iframe-search-widget-setting .wrap-ddl{
    width: 97% !important;
}
.select-zip-code ul li{
    list-style: none;
}
.select-zip-code .select-zip{
    display: none;
}
.select-zip-code .select-zip.active{
    display: block;
}

.region-zip-list{
    float: left;
    width: calc( 100% - 208px );
    margin-top: 20px;
    padding-left: 208px;
    max-height: 300px;
    overflow: auto;
    padding: 5px;
}
.region-zip-list li:first-child{
    margin-bottom: 20px;
}

.heading.region > label{
    float: left;
    min-width: 200px;
}

.heading.region  > select{
    margin-top: 12px;
}

#user_images_container .image img{
    max-height: 300px;
    max-width: 300px;
}
#user_images_container .event_images{
    padding-left: 100px;

}


.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle; }
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 36px;
    /*height: 38px;*/
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none }


.select2-container .select2-selection--single .select2-selection__rendered {
    display: block;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 20px;
    text-overflow: ellipsis; }
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
.select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none }
.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis; }
.select2-container .select2-search--inline {
    float: left; }
.select2-container .select2-search--inline .select2-search__field {
    border: none;
    font-size: 100%;
    margin-top: 5px; }

.select2-dropdown {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051; }

.select2-results {
    display: block; }

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0; }

.select2-results__option {
    padding: 6px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none }
.select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
    left: 0; }

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }

.select2-search--dropdown {
    display: block;
    padding: 4px; }
.select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
.select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: #fff;
    filter: alpha(opacity=0); }

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ccc;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 34px; }
.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 5px;
    right: 1px;
    width: 20px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    width: 100%;
    height: 100%;


    line-height: .75em;

    display: inline-block;
    font: normal normal normal 14px FontAwesome;
    font-size: 1.33333333em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* content: "\f0dd"; */
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before{
    content: "\f0dd";
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left; }
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    left: 1px;
    right: auto; }
.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default; }
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    content: "\f0de";
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
    content: "\f0de";
    position: absolute;
    top: 7px;
}
.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text; }
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
.select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #333; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder {
    float: right; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto; }
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto; }
.select2-container--default.select2-container--disabled .select2-selection--multiple {
    background-color: #eee;
    cursor: default; }
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
    display: none; }
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa; }
.select2-container--default .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0; }
.select2-container--default .select2-results > .select2-results__options {
    max-height: 600px;
    overflow-y: auto; }
.select2-container--default .select2-results__option[role=group] {
    padding: 0; }
.select2-container--default .select2-results__option[aria-disabled=true] {
    color: #999; }
.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #ddd; }
.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 1em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -2em;
    padding-left: 3em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -3em;
    padding-left: 4em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -4em;
    padding-left: 5em; }
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -5em;
    padding-left: 6em; }
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: white; }
.select2-container--default .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px; }

.select2-container--classic .select2-selection--single {
    background-color: #f6f6f6;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: 0;
    background-image: -webkit-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
    background-image: -o-linear-gradient(top, #ffffff 50%, #eeeeee 100%);
    background-image: linear-gradient(to bottom, #ffffff 50%, #eeeeee 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
.select2-container--classic .select2-selection--single:focus {
    border: 1px solid #5897fb; }
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px; }
.select2-container--classic .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-right: 10px; }
.select2-container--classic .select2-selection--single .select2-selection__placeholder {
    color: #999; }
.select2-container--classic .select2-selection--single .select2-selection__arrow {
    background-color: #ddd;
    border: none;
    border-left: 1px solid #aaa;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 26px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #cccccc 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #cccccc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0); }
.select2-container--classic .select2-selection--single .select2-selection__arrow b {
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__clear {
    float: left; }
.select2-container--classic[dir="rtl"] .select2-selection--single .select2-selection__arrow {
    border: none;
    border-right: 1px solid #aaa;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 1px;
    right: auto; }
.select2-container--classic.select2-container--open .select2-selection--single {
    border: 1px solid #5897fb; }
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow {
    background: transparent;
    border: none; }
.select2-container--classic.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--single {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #eeeeee 50%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0); }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--single {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-image: -webkit-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #eeeeee 50%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #eeeeee 50%, #ffffff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0); }
.select2-container--classic .select2-selection--multiple {
    background-color: white;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: text;
    outline: 0; }
.select2-container--classic .select2-selection--multiple:focus {
    border: 1px solid #5897fb; }
.select2-container--classic .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px; }
.select2-container--classic .select2-selection--multiple .select2-selection__clear {
    display: none; }
.select2-container--classic .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove {
    color: #888;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
.select2-container--classic .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #555; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    float: right; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
    margin-left: 5px;
    margin-right: auto; }
.select2-container--classic[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
    margin-left: 2px;
    margin-right: auto; }
.select2-container--classic.select2-container--open .select2-selection--multiple {
    border: 1px solid #5897fb; }
.select2-container--classic.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
.select2-container--classic.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
.select2-container--classic .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    outline: 0; }
.select2-container--classic .select2-search--inline .select2-search__field {
    outline: 0; }
.select2-container--classic .select2-dropdown {
    background-color: white;
    border: 1px solid transparent; }
.select2-container--classic .select2-dropdown--above {
    border-bottom: none; }
.select2-container--classic .select2-dropdown--below {
    border-top: none; }
.select2-container--classic .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto; }
.select2-container--classic .select2-results__option[role=group] {
    padding: 0; }
.select2-container--classic .select2-results__option[aria-disabled=true] {
    color: grey; }
.select2-container--classic .select2-results__option--highlighted[aria-selected] {
    background-color: #3875d7;
    color: white; }
.select2-container--classic .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px; }
.select2-container--classic.select2-container--open .select2-dropdown {
    border-color: #5897fb; }

.select2-container--default .select2-selection--single{
    border-radius: 0 0 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.select2.select2-container {
    width: 250px !important;
}
.post-type-event #cancel_change_user {
    float: right;
}
.post-type-event #_apollo_event_associated_user {
    width: 100%;
}.post-type-post #postsummary{
    margin-top: 10px;
}
.h-100 {
    height: 100px !important;
}
.wrapper-selected {
    margin-top: 20px;
}
.wrapper-selected ul {
    margin-top:0;
}
.apl-editor label {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    margin-left: 0;
}
@media (min-width: 1400px){
    #refresh-token-key{
        margin-left: 150px !important;
    }
}
#refresh-token-key{
    margin-left: 20%;
}
.associte_user_loading {
    float: left;
    margin-top: 1px;
    display: none;
}
.associte_user_loading.show{
    display: block;
}
.postbox  .select2.select2-container {
    width: 100% !important;
}
.checkbox-hidden{
    display: none!important;
}
#section-_organization_active_member_field h4,
#section-_organization_active_member_field .option
{
    float: left;
}
#section-_organization_active_member_field h4{
    width: 200px;
}

#section-_organization_active_member_field .option{
    margin-top: 8px;
}
.nav-tab-wrapper a.hidden, #optionsframework div.hidden{
    display: none;
}
.post-type-photo-slider .event-box input[type="text"]{
    margin-left: 15px;
}
.post-type-photo-slider .event-box .form-field {
    clear: both;
}
.post-type-photo-slider .noticed_info h2{
    color: black;
    font-weight: bold;
    font-size: 19px !important;
}
.post-type-photo-slider .event-box.ps-box-label:not(:first-child), .post-type-photo-slider .event-box.ps-box-label-second {
    border-top: dashed 1px ;
    margin-top: 5px;
}
.options_group.event-box .apl_cf_gallery_desc{
    width: 75%;
}

.options_group.event-box .apl_cf_gallery_class .description{
    width: 75%;
    display: block;
    margin-left: 150px;
    margin-top: 5px;
}

@media (max-width: 1300px){
    .options_group.event-box .apl_cf_gallery_class .description{
        margin-left: 20% !important;
    }
}

.apl-full {
    width: 100%;
    float: left;
}

.wp-admin.post-type-event #posts-filter .select2.select2-container {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
}

.wp-admin.post-type-event #posts-filter #post-query-submit {
    margin-top: 4px;
}
.wp-admin.post-type-event #posts-filter .tablenav {
    height: auto;
}
.wp-admin #posts-filter .tablenav.top .actions {
    display: block;
}

.options_group.event-box  .select2.select2-container {
    width: 75% !important;
}
.post-type-spotlight .actions input[name="filter_action"] {
    display: none;
}
.siteconfig .ui-state-default a {
    background: #fff;
    color: #229ECB;
}
.siteconfig .ui-state-default.ui-state-active a, .siteconfig .ui-state-default a:hover {
    background: #31C0FF;
    color: #fff!important;
    font-weight: normal;
}
#apl_delete_sync_solr_data {
    display: none;
}

#individual-orgs div {
    height: 90%;
    width: 100%;
    max-height: 390px;
    min-height: 150px;
    overflow: auto;
    padding-right: 10px;
}
#individual-orgs {
    max-height: 400px;
    width: 98%;
}

#individual-venues div {
    height: 90%;
    width: 100%;
    max-height: 390px;
    min-height: 150px;
    overflow: auto;
    padding-right: 10px;
}
#individual-venues {
    max-height: 400px;
    width: 98%;
}
#group-buttons-theme-tool a {
    text-decoration: none !important;
}
#group-buttons-theme-tool .group-buttons {
    font-size: 17px;
}
#artist_timeline_popup {
    float: left;
    margin-top: 0;
}
.post-type-artist #post-query-submit {
    float: left;
}

/*Vandd - style select2*/
.options_group.event-box.wrap-select2  .select2.select2-container {
    width: 100% !important;
}


#apollo-artist-timeline .del{
    cursor: pointer;
}

/* Vandd metabox Artists in public-art*/
.group-search {
    position: relative;
}

.group-search #search-text{
    width: 100%;
    padding-right: 20px;
    margin-bottom: 5px;
}

.group-search .remove-search{
    position: absolute;
    top: 4px;
    right: 3px;
}

.artist-default{
    text-decoration: none;
}

#remove-search-text {
    cursor: pointer;
}
#search-artists-for-event{
    width: calc( 100% - 30px);
}

.changer-error {
    border: 1px solid #fa2805 !important;
}

/** @Ticket #12782 */
.on-off-theme-options {
    display: none;
}
.apl-disabled select {
    opacity:0.3;
    pointer-events: none;
}

/** @Ticket #13424 */
.org-business-box p.form-field {
    display: inline-block;
}

.org-business-box .apl-org-business-edit-link {
    display: inline-block;
    margin-left: 8px;
}

.apl-org-business-edit-link.hidden {
    display: none !important;
}
#syn-clear-cache {
    margin-left: -307px;
    cursor: pointer;
}

/** @Ticket #13583 */
.disable-content {
    pointer-events: none;
    opacity: 0.4;
}

.select-btn-update {
    margin-top: 30px;
}

.select-all-org {
    margin-top: 15px;
}



/** @Ticket #13564 */
.event-icon-setting-box .postbox.apl-custom-postbox.icons .count{
    border: 1px solid #ccc7c7;
}

/** @Ticket #13700 */
#optionsframework .section .explain {
    line-height: 1.5em !important;
}

#optionsframework .section .explain a.morelink {
    text-decoration:none;
    outline: none;
    color: #229ECB;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#optionsframework a.morelink:hover, #optionsframework a.morelink:active, #optionsframework a.morelink:focus{
    outline: none;
}

#optionsframework .section .explain .morecontent span {
    display: none;
}

#optionsframework .inline .option .controls .explain{
    text-align: justify;
}

@media (max-width: 480px) {
    #optionsframework .section-radio .option{
        width: 100%;
    }
    #optionsframework .option .controls{
        min-width: 100% !important;
        max-width: 100% !important;
    }
    #optionsframework .option .controls .region-zip-list{
        width: 100%
    }
}
.show-more-individual-events {
    float: left;
    margin-top: 14px;
    cursor: pointer;
    padding-top: 3px;
    padding-bottom:3px;
}

#blk-individual-events .form-field._field {
    margin-bottom: 3px;
    max-height: 41px;
    overflow: hidden;
    height:auto;
}
#blk-individual-events .sch-date {
    font-size: 12px;
    padding-left: 21px;
}
#blk-individual-events .form-field._field label {
      width: calc(100% - 21px);
      float: right;
}
.font-w-normal-heading .heading{
    font-weight: normal;
}
#toplevel_page_apollo-clean-duplication-images {
    display: none;
}
.syn-full-width label {
    width: 100%;
    padding-top:10px;
    padding-bottom:10px;
}

.apl-custom-notice.notice-error h1{
    color: red !important;
}

/** @Ticket #14907 */
.postbox.apl-custom-postbox.venues.wrap-load-more-item {
    height: 400px;
}

.postbox.apl-custom-postbox.venues.message-error {
    height: 452px;
}

.wrap-load-more-item .wrap-loadmore {
    float: left;
    width: 100%;
    margin-top: 12px;
    padding-left: 10px;
}

@media ( max-width: 655px ) {
    .postbox.apl-custom-postbox.venues.wrap-load-more-item {
        height: 567px;
    }

    .postbox.apl-custom-postbox.venues.message-error {
        height: 619px;
    }
}

/** @Ticket #14897 */
#profile-page ul.apl-user-association-list {
    border: none;
}
#profile-page ul.apl-user-association-list li {
    display: list-item;
    float: none;
}
.wrap-agency-mode {
    margin-top: 30px;
    margin-bottom: 20px;
}
.wrap-agency-mode span{
    margin-right: 20px;
    font-weight: bold;
}
.group-search .remove-search-text {
    cursor: pointer;
}

#apl-admin-cache .agency-left-title {
    width: 100%;
    margin: 20px 0;
    float: none;
}

#apl-admin-cache .apl-admin-cache-submit {
    float: right;
}

#apl-admin-cache .apl-admin-cache-exp {
    font-size: 11px;
    padding-left: 5px;
}

#apl-admin-cache .apl-cache-remove {
    font-size: 11px;
    color: red;
}

#apl-admin-cache .disabled {
    pointer-events: none;
    opacity: 0.4;
}

#apl-admin-cache .apl-admin-cache-cate-name {
    font-weight: bold;
}

#reviewed-actions {
    padding: 10px;
    clear: both;
    border-top: 1px solid #ddd;
    background: #f5f5f5;
}

#reviewed-action {
    text-align: right;
    float: right;
    line-height: 23px;
}

.tablenav .actions {
    padding: 2px 0 0 0 ;
}

#transfer-multiple-user .apl-multiple_users {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

.conflict-user {
    font-weight: bold;
}
#apl-user-asociation-mod .select2.select2-container {
    width: 250px !important;
}

.apl-wrap-selected-event .apl-reset-selected-event {
    margin: 1px 8px 0 0 ;
}

.apl-wrap-selected-event .apl-count-event {
    vertical-align: -webkit-baseline-middle ;
    vertical-align: -moz-middle-with-baseline;
}

.apl-custom-postbox .handlediv .toggle-indicator:before {
    content: "\f142";
    display: inline-block;
    font: 400 20px/1 dashicons;
    speak: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.apl-custom-postbox.closed .handlediv .toggle-indicator:before {
    content: "\f140";
}

#apl-admin-cache .apl-cache-wrap {
    padding: 10px 10px;
    border-top: 1px solid #ddd;
    background-color: #f1f1f1;
}

#apl-admin-cache .apl-cache-wrap .apl-cache-control {
    padding: 7px 10px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #f1f1f1;
}

#apl-admin-cache .apl-cache-wrap .apl-cache-control.bottom {
    margin-top: -20px;
    border-bottom: 1px solid #ddd;
}

#apl-admin-cache .apl-cache-wrap .apl-cache-control p.submit{
    margin-top: 0;
    margin-bottom: 8px;
    padding-top: 0;
}

#reject-actions.event-publish {
    float: left;
}
#reject-actions.event-pending {
    width: 100%;
    display: block;
    float: left;
    margin-top: 10px;
}
#reject-actions.event-pending #apl-reject-event{
    float: left;
}
#reject-actions #apl-reject-event {
    color: #a00;
}
#reject-actions #apl-reject-event:hover {
    color: red;
}

#apl-admin-google-map {
    width: 100%;
    height: 350px;
}

.apl-admin-wrap-map {
    margin-left: 20%;
}
@media (min-width: 1400px) {
    .apl-admin-wrap-map {
        margin-left: 150px;
    }
}
.email-template-control ul.data-button li {
    display: inline-block;
    margin-right: 10px;
}

.email-template-control #apl-reset-email-template {
    color: #9B1919;
}

.email-template-control #apl-reset-email-template:hover {
    color: red;
}

.apl-select-from-library {
    outline: none;
    box-shadow: none;
    border-width: 0;
    border-radius: 1px;
    height: 22px;
    line-height: 12px;
    border: 1px solid #949494;
    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top,  #d4d2d2 0%, #dad4d4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #d4d2d2 0%,#dad4d4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #d4d2d2 0%,#dad4d4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
}

.apollo-artist-upload_pdf .form-field .apl-desc-pdf-from-media {
    width: 75%;
}
.apl-admin-upload-pdf {
    width: 95px;
}

.apl-widget-delete-item-image {
    cursor: pointer;
}

/*@ticket #17235 - [Admin] Official tag for event and post */
.apl-official-tag p{
    display: initial;
}

.apl-official-tags-selected{
    margin-top: 20px;
    overflow: auto;
}
.apl-official-tags-selected span{
    margin-right: 20px;
    font-size: 13px;
    line-height: 1.8em;
    cursor: default;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.apl-official-tag-delete{
    width: 14px;
    height: 14px;
    border: none;
    margin: 2px;
    background: #0073aa;
    cursor: pointer;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;;
    padding: 0;
}

.apl-official-tag-delete:hover{
    background: red;
}

.apl-select-official-tag{
    width: 75%;
}

.apl-event-discount-description-fe-style{
    margin-top: -10px !important;
}

@media screen and ( min-width: 768px ) {
    .apl-event-discount-description-fe-style{
        margin-left: -20px;
    }
}

.spotlight-display-setting p{
    display: grid;
}

#business-type-area-selection .wrap-cz {
    height: 300px;
    overflow-y: scroll;
}
#business-type-area-selection .apl-multi-choice {
    padding-bottom: 10px;
    display: block;
}

.apl-of-checkbox-contain{
    padding: 10px 0;
}

.event-tmp-org{
    display: -webkit-box;
}

.event-tmp-org p:first-child{
    width: 80%;
}

@media (min-width: 1600px){
    .event-tmp-org p:last-child {
        margin-left: -40px;
    }
}

.event-tmp-org p:last-child{
    width: 20%;
}

.apl-org-desc{
    padding-left: 3px;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: -10px;
    z-index: 1001;
    position: relative;
}

.apl-business-desc label{
    font-weight: bold;
}

.preview-business{
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 26px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
    float: right;
    border-radius: 3px
}

.preview-business:hover{
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

.apl-direct-module{
    width: 100%;
}

/*@ticket #18221: 0002504: Arts Education Customizations - Add a checkbox option for "Add Menu Arrow" - item 1*/
.expander {
    -webkit-font-smoothing: antialiased;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    display: inline-flex;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 15px;
    height: 20px;
    justify-content: center;
    margin-left: -2px;
    text-rendering: auto;
    width: 20px;
    vertical-align: middle;
}

.expander:hover {
    background-color: #f3f3f3;
    opacity: 0.87;
}
.expander:before {
    content: '\F103';
}
.expander:not(.show) ~ ul{
    height: 0;
    overflow: hidden;
    padding: 0;
}
.expander.show{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.expander.show ~ ul{
    height: 100%;
}

.apollo-checkbox .apl-item-none-checkbox {
    margin-left: 20px;
    font-weight: 600;
}

#apollo-news-meta-nonce{
    display: none;
}

.apl-program-references{
    margin-top: 10px
}

#upload_pdf-event-data_references .del,
#upload_pdf-event-data_related_materials .del
{
    color: red;
    cursor: pointer;
}

#frm-artist-syndication #artist-syn-query-submit {
    display: inline-block;
    margin: 0;
}

#user-country{
    width: 250px;
    height: 36px;
}

.wrap-select-artist #apl-ajax-wp-list-table-filter,
.wrap-select-artist #apl-ajax-wp-list-table-reset {
    display: inline-block;
    margin: 0;
}

#apollo-syndication-artist-xml-generation .options_group.clear label {
    font-weight: 800;
    display: block;
}

/** @ticket #19069:  [Organization] Syndication form*/
.wp-admin.post-type-syndication-org #submitdiv #misc-publishing-actions,
.wp-admin.post-type-syndication-org #submitdiv #minor-publishing-actions,
.wp-admin.post-type-syndication-org #submitdiv .handlediv{
    display:none;
}
.wp-admin.post-type-syndication-org #submitdiv{
    position: fixed;
}
.wp-admin.post-type-syndication-org #publishing-action {
    float: left;
}
.wp-admin.post-type-syndication-org #publishing-action .spinner,
.wp-admin.post-type-syndication-org #submitdiv #delete-action{
    float: right !important;
}
.wp-admin.post-type-syndication-org #publishing-action input[type=submit]{
    width: 120px;
}

/** end @ticket #19069 */

/** #19215 - [CF] 20190220 - Admin program - Load more feature of educator listing does not work */
.select2-container--default .select2-results>.select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}


.home-featured-wrap .postbox{
    float: left;
}

.home-featured-wrap .section{
    float: left;
    width: 100%;
}

.home-featured-wrap h4.heading {
    width: 200px;
    float: left;
    border: none !important;
    margin: 0px 0 0 5px;
    padding: 10px 0;
    padding-right: 10px !important;
    min-width: 170px;
}

.home-featured-wrap .inline .option .controls {
    margin-top: 5px;
}

.home-featured-wrap .section .controls {
    float: left;
    min-width: 350px;
    width: 54%;
    padding-right: 2%;
}

.home-featured-wrap .section .option {
    width: 50%;
    float: left;
    margin-top: 10px;
}

.home-featured-wrap input.checkbox, .home-featured-wrap input.of-radio {
    margin: 0 10px 0 0;
    float: left;
}

.home-featured-wrap .section-radio label {
    margin-right: 15px;
}

.home-featured-wrap .section-radio label, .home-featured-wrap .section-multicheck label {
    float: left;
    max-width: 90%;
    line-height: 16px;
    margin-bottom: 5px;
}

.home-featured-wrap .controls input[type=text] {
    width: calc(100% - 80px);
}

.home-featured-posts-wrap .featured-posts-submit {
    text-align: right;
}