.gallery-metabox-list li {
  float: left;
  width: 200px;
  text-align: center;
  margin: 10px 10px 10px 0;
  cursor: move;
}
.gallery-metabox-list .image-preview{
  width: 150px;
  height: 150px;
}
.gallery-metabox-list .target-link{
    margin: 5px;
}
.gallery-metabox:not(:last-child){
  border-bottom: 1px solid ;
}