/* Options Framework Admin Styles */

#optionsframework {
    background:#fff;
}
#optionsframework h3 {
	cursor: default;
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
}
#optionsframework p {
	margin-bottom:0;
	padding-bottom:10px;
}
#optionsframework .section {
	padding:0 10px 0;
}
#optionsframework .group {
	padding-bottom:40px;
}
#optionsframework .section .controls {
	float: left;
	min-width:350px;
	width: 54%;
	padding-right:2%;
}
#optionsframework .section .explain {
	max-width:100%;
	float: left;
	font-size: 12px;
	line-height:33px;
	color: #777;
}
/* Thienld : custom css for tab Site Config > sub-tab Business */
#optionsframework .section .opt-fw-sf-gr .explain {
	width: 100%;
}

#optionsframework .section.section-multicheck .controls.bs-type-multi-cb label{
	width: auto !important;
	margin-right: 20px;
}

/* Thienld : End custom css for tab Site Config > sub-tab Business */


#optionsframework .controls input[type=text] {
    width: calc(100% - 80px);
}
/*Tri fix broken layout*/
#optionsframework .controls input[type=text].wp-color-picker{
    width: 65px;
}
/*end fix*/
#optionsframework .section-checkbox .controls {
	width: 98%;
}
#optionsframework .section-checkbox .explain {
	max-width:94%;
}
#optionsframework .controls select, #optionsframework .controls textarea {
    margin-bottom:10px;
    width:auto;
    min-width: 186px;
    max-width: 250px;
}
#optionsframework .controls textarea.full {
    max-width: 100%;
}
#optionsframework .section-radio label, #optionsframework .section-multicheck label {
	float:left;
	max-width:90%;
	line-height: 16px;
	margin-bottom: 5px;
}
#optionsframework .section-radio label {
    margin-right: 15px;
}
#optionsframework input.checkbox, #optionsframework input.of-radio {
	margin: 0 10px 0px 0;
	float:left; 
}
#optionsframework .section-typography .controls {
	float:none;
	width:auto;
}
#optionsframework .section-typography .explain {
	float:none;
	width:auto;
}
#optionsframework .controls .of-typography-size {
	width:80px;
	float:left
}
#optionsframework .controls .of-typography-unit {
	width:50px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-face {
	width:100px;
	margin-left:5px;
	float:left
}
#optionsframework .controls .of-typography-style {
	width:80px;
	margin-left:5px;
	margin-right:5px;
	float:left
}
#optionsframework .of-background-properties {
	clear:both;
	margin-top: 18px;
}
#optionsframework .controls .of-background-repeat {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-position {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .controls .of-background-attachment {
	width:125px;
	margin-right:5px;
	float:left
}
#optionsframework .section-background .wp-picker-container {
	margin-bottom:10px;
}
#optionsframework .controls .of-radio-img-img {
	border:3px solid #f9f9f9;
	margin:0 5px 10px 0;
	display:none;
	cursor:pointer;
	float:left;
}
#optionsframework .controls .of-radio-img-selected {
	border:3px solid #ccc
}
#optionsframework .controls .of-radio-img-img:hover {
	opacity:.8;
}
#optionsframework .controls .of-border-width {
	width:80px;
	float:left
}
#optionsframework .controls .of-border-style {
	width:120px;
	float:left
}
#optionsframework .hide {
	display:none;
}
#optionsframework .of-option-image {
	max-width:340px;
	margin:3px 0 18px 0;
}
#optionsframework .mini .controls select, #optionsframework .section .mini .controls {
	width: 140px;
}
#optionsframework .mini .controls input, #optionsframework .mini .controls {
	min-width:140px;
	width: 140px;
}
#optionsframework .mini .explain {
	max-width:74%;
}

/* Editor */

#optionsframework .section-editor .explain {
	max-width: 98%;
	float:none;
	margin-bottom:5px;
}

/* Image Uploader */

#optionsframework .controls input.upload {
	width:80%;
}
#optionsframework .screenshot {
	float:left;
	margin-left:1px;
	position:relative;
	width:344px;
	margin-top:3px;
}
#optionsframework .screenshot img {
	background:#fafafa;
	border-color:#ccc #eee #eee #ccc;
	border-style:solid;
	border-width:1px;
	float:left;
	max-width:334px;
	padding:4px;
	margin-bottom:10px;
}
#optionsframework .screenshot .remove-image {
	background:url("../images/ico-delete.png") no-repeat;
	border:medium none;
	bottom:4px;
	display:block;
	float:left;
	height:16px;
	padding:0;
	position:absolute;
	left:-4px;
	text-indent:-9999px;
	width:16px;
}
#optionsframework .screenshot .no_image .file_link {
	margin-left: 20px;
}
#optionsframework .screenshot .no_image .remove-button {
	bottom: 0px;
}
#optionsframework .reset-button {
	float:left;
	cursor:pointer;
}

/* Bottom Section */

#optionsframework-submit {
	padding: 7px 10px;
	border-top: 1px solid #ddd;
	background-color: #f1f1f1;
}
#optionsframework .button-primary {
	float:right;
}
#optionsframework .section:after {
	content: "";
	display: table;
}
#optionsframework .section:after {
	clear: both;
}

.wp-picker-container .button.button-small.wp-picker-default {
    position: absolute;
}

.section-radio h4 {
    width: auto;
    float: left;
    min-width: 170px;
}

.section-radio .option {
    width: 50%;
    float: left;
    margin-top: 7px;
}

#optionsframework #section-_header.section .controls,
#optionsframework #section-_footer.section .controls,
#optionsframework #section-_site_info.section .controls,
#optionsframework #section-_top_sub_contain.section .controls,
#optionsframework #section-_bottom_sub_contain.section .controls,
#optionsframework #section-_override_css.section .controls,
#optionsframework .controls textarea.full {
    width: 100%;
}
#optionsframework .controls.full {
    width: 950px;
}
#optionsframework textarea[disabled=disabled] {
  background: #DFDFDF!important;
}
#optionsframework .header-tabs {
    float: left;
    width: 100%;
}
#optionsframework .header-tabs li {
    float: left;
    background: #e4e4e4;
    margin-right: 4px;
    border: 1px solid #cccccc;
    border-bottom: 0;
    height: 32px;
}
#optionsframework .header-tabs li a {
    text-decoration: none;
    color: #555;
    display: block;
    padding: 10px;
}
#optionsframework .header-tabs li:first-child {
    margin-left: 8px;
}
#optionsframework .header-tabs li.active {
    background: #f1f1f1;
    border-bottom: 0;
    height: 33px;
}
#optionsframework .header-tabs li.active a:hover {
    background: #f1f1f1;
}
.btn-lft {
    float: left !important;
    margin-top: 10px !important;
}
#optionsframework .header-tabs {
    height: 33px;
    border-bottom: 1px solid #cccccc;
}
#optionsframework #options-group-1 {
    visibility: hidden;
}
#optionsframework .section .heading {
    border-bottom: 1px solid #DFDFDF;
    margin: 0px 0 0 5px;
    padding: 10px 0;
}
#optionsframework label.heading {
    width: 97%;
    float: left;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    border-bottom: 1px solid #DFDFDF;
    color: #9B1919;
    margin-top: 10px;
}
#optionsframework #section-_educator_teachers_title h4 {
    margin-top: -6px; 
}
h4.heading {
    margin-bottom: 5px;
}
.section.section-color .explain {
    min-width: 225px;
    max-width: 300px;
}
.section.section-color h4 {
    border: 0px !important;
    margin-left: 0 !important;
}
.section.section-radio h4.heading {
    padding-right: 10px !important;
}
.section.section-radio .explain {
    width: 100%;
}
.section-_apl_terr_states .controls {
	max-height: 300px;
	height: 250px !important;
	overflow: auto;
}
.section.section-multicheck .controls label {
	width: 43% !important;
}
#apl-terr-city-zip li {
	line-height: 21px;
	width: 100%;
	float: left;
}
#apl-terr-city-zip li span {
	width: 140px;
	float: left;
}
#apl-terr-city-zip {
	height: 298px;
	max-height: 350px;
	overflow: auto;
}
.section.section-multicheck h4 {
	margin-bottom: 10px !important;
}
.simple-line {
    padding: 5px 0;
	line-height: 1.7;
}
.section.section-upload .of-metabox-desc {
	padding-bottom: 10px;
	float: left;
	font-style: italic;
}

.sub-tab-wrapper{
	background: transparent;
}
.of-input+.explain {
    width: 100%;
}

.apl-lang-tool a.trans {
    color: #0073aa;
    -webkit-transition-property: border,background,color;
    transition-property: border,background,color;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    font-size: 12px;
}
.item-lang {
    font-size: 12px;
}
.section-textarea .item-lang {
    padding-bottom: 5px;
    width: 100%;
    float: left;
}
.apl-lang-tool .container {
    border: 1px solid #eee;
    padding: 10px;
    float: left;
    width: 100%;
}
.max-w-100-per {
    max-width: 100% !important;
}
.controls.solr-engine {
	width:200px !important;
}
.preview-option-image-wrapper {
	display:inline-block;
}
.preview-option-image-wrapper:focus {
	outline: none!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}
.preview-option-image {
	height: 87px;
	display:block;
	margin-bottom: 10px;
}
.section-radio .explain .preview-option-image {
	margin-top: 10px;
}
#_home_featured_type ~ .explain .preview-option-image {
	height: 181px;
}
#_apl_blog_listing_type ~ .explain .preview-option-image,
#_apl_blog_displau_styler ~ .explain .preview-option-image,
#_organization_default_view ~ .explain .preview-option-image,
#_venue_default_view_type ~ .explain .preview-option-image,
#_artist_default_view_type ~ .explain .preview-option-image,
#_public_art_default_view_type ~ .explain .preview-option-image,
#_educator_default_view_type ~ .explain .preview-option-image,
#_programs_default_view_type ~ .explain .preview-option-image,
#_classified_default_view_type ~ .explain .preview-option-image,
#_business_default_view_type ~ .explain .preview-option-image {
	height: 127px;
}

.handle-tooldrag {
	background: #f7f7f7;
	height: 20px;
	user-select: none;
	cursor: row-resize;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.handle-tooldrag:before {
	content: '\2261';
	color: #999;
	position: absolute;
	left: 50%;
}

.handle-tooldrag:hover {
	background: #f0f0f0;
}

.handle-tooldrag:hover:before {
	color: #000;
}

/** @Ticket #13856 */
.wrap-table {
	margin-top: 30px;
}

.remove-neighborhood, .remove-neighborhood:hover {
	color: red;
}

.edit-neighborhood, .remove-neighborhood {
	cursor: pointer;
	padding-right: 5px;
	padding-left: 5px;
}

.wrap-table #neighborhood-table{
	text-align: center;
}

.fa-edit:before, .fa-pencil-square-o:before {
	content: "\f044";
}

.text-success {
	color: #5cb85c;
}

.text-danger {
	color: #d9534f;
}

#optionsframework .section.apl-override-html-header-type .controls,
#optionsframework .section.apl-override-html-footer1-type .controls,
#optionsframework .section.apl-override-html-footer2-type .controls,
#optionsframework .section.apl-override-html-site_info-type .controls,
#optionsframework .section.apl-override-html-header-custom .controls,
#optionsframework .section.apl-override-html-footer1-custom .controls,
#optionsframework .section.apl-override-html-footer2-custom .controls,
#optionsframework .section.apl-override-html-site_info-custom .controls{
	width: 100%;
}

#section-_mobile_navigation_style .preview-option-image-wrapper,
#section-_masthead_group_buttons_style .preview-option-image-wrapper {
	display: block;
}