block vars
  -title="Artsopolis - Dashboard, Education Profile"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Education
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Educator Profile
                    form(id="artist-frm", method="", action="")
                        .artist-blk
                            .title-bar-blk Educator Information
                            .el-blk.full
                                input(type="text", placeholder="Educator Name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Educator Name
                                span(class="error") * Please enter Educator Name
                            .el-blk
                                textarea(placeholder="Educator Description/Bio", class="inp-desc-event", name="program-des", id="program-des", rows="5" )
                            .el-blk.full
                                input(type="text", placeholder="Address 1", class="inp inp-txt")
                                .show-tip
                                    |Address 1
                            .el-blk.full
                                input(type="text", placeholder="Address 2", class="inp inp-txt")
                                .show-tip
                                    |Address 2
                            .el-blk.full
                                input(type="text", placeholder="City", class="inp inp-txt")
                                .show-tip
                                    |City
                            .el-blk.full
                                input(type="text", placeholder="State", class="inp inp-txt")
                                .show-tip
                                    |State
                            .el-blk.full
                                input(type="text", placeholder="Zip", class="inp inp-txt")
                                .show-tip
                                    |Zip
                            .el-blk.full
                                input(type="text", placeholder="County", class="inp inp-txt")
                                .show-tip
                                    |County
                            .el-blk.full
                                input(type="text", placeholder="Phone", class="inp inp-txt")
                                .show-tip
                                    |Phone
                            .el-blk.full
                                input(type="text", placeholder="Fax", class="inp inp-txt")
                                .show-tip
                                    |Fax
                            .el-blk.full
                                input(type="text", placeholder="Contact Email", class="inp inp-txt")
                                .show-tip
                                    |Contact Email
                            .el-blk.full
                                input(type="text", placeholder="URL", class="inp inp-txt")
                                .show-tip
                                    |URL
                        .artist-blk
                            .title-bar-blk Primary Image
                            div(class="gallery-bkl", data-target="1")
                                    .upload-img
                                        button(class="btn-noW", id="select-image") UPLOAD IMAGE
                                        input(type="file", id="uploadBtn", class="inp-file")
                                    .crop-img
                                        .upload-bar
                                            .upl-tt
                                                a
                                                    .l-outer
                                                        .l-inner
                                                    .r-outer
                                                        .r-inner
                                                    span Crop Photos
                                            .upl-btn
                                                button(class="btn-noW", id="save-crop") SAVE
                                                button(class="btn-noW", id="cancel-crop") CANCEL
                                        .img-crop
                                        .crop-tool
                                            img(src="../images/crop-tool.png")
                        .artist-blk
                            .title-bar-blk EDUCATOR QUALIFICATIONS
                            ul.qualifi-list
                                li
                                    .quali-ct
                                        span Conducts educational programming for 2 or more years
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch1", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch1")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Performs criminal background checks on staff with youth contact
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch2", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch2")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Maintains general liability insurance
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch3", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch3")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Three letters of recommendation / references available
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch4", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch4")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Provides study guides for teachers and / or students
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch5", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch5")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Provides lesson plans
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch6", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch6")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Connects to State and/or Common Core Curriculum Standards
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch7", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch7")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Provides tools to assess student learning (workshops and residencies)
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch8", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch8")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Instructors receive annual professional development training
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch9", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch9")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Provides scholarship and reduced fees
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch10", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch10")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Conducts ongoing assessments of program quality
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch11", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch11")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")
                                li
                                    .quali-ct
                                        span Standards are customized for every classroom visit
                                    .quali-check
                                        .onoffswitch
                                            input(type="checkbox", name="onoffswitch[]", class="onoffswitch-checkbox", id="qualionoffswitch12", checked)
                                            label(class="onoffswitch-label", for="qualionoffswitch12")
                                                span(class="onoffswitch-inner")
                                                span(class="onoffswitch-switch")

                        .artist-blk
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |SUBMIT RECORD




