block vars
  -title="Artsopolis - Dashboard, Education Add Program"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Education
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Add Program
                    form(id="artist-frm", method="", action="")
                        .artist-blk
                            .title-bar-blk Program Detail
                            .el-blk.full
                                input(type="text", placeholder="Program Name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Program Name
                                span(class="error") * Please enter Program Name
                            .el-blk
                                textarea(placeholder="Program Description", class="inp-desc-event", name="program-des", id="program-des", rows="5" )
                        .artist-blk
                            span.g-tt Program Type
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Field Trip
                                                    li
                                                        input(type="checkbox")
                                                        label Performance
                                                    li
                                                        input(type="checkbox")
                                                        label Profesional Development
                                                    li
                                                        input(type="checkbox")
                                                        label Residency (including camps)
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label School Program
                                                    li
                                                        input(type="checkbox")
                                                        label Student Showcase Opportunities
                                                    li
                                                        input(type="checkbox")
                                                        label Workshops & Classes

                            span.g-tt Population Served
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label ANK
                                                    li
                                                        input(type="checkbox")
                                                        label Pre-K
                                                    li
                                                        input(type="checkbox")
                                                        label Kindergarten
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 1
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 2
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 3
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 4
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 5
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 6
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 7
                                                    li
                                                        input(type="checkbox")
                                                        label Grade 8
                            span.g-tt Subject
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Fine Arts
                                                    li
                                                        input(type="checkbox")
                                                        label Language Arts
                                                    li
                                                        input(type="checkbox")
                                                        label Math
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Science
                                                    li
                                                        input(type="checkbox")
                                                        label Social Studies
                                                    li
                                                        input(type="checkbox")
                                                        label Orther
                            span.g-tt Artistic Discipline
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Dance
                                                    li
                                                        input(type="checkbox")
                                                        label  Literary Arts
                                                    li
                                                        input(type="checkbox")
                                                        label Media (film, video, etc.)
                                                    li
                                                        input(type="checkbox")
                                                        label Multi-discipline
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Music
                                                    li
                                                        input(type="checkbox")
                                                        label Storytelling
                                                    li
                                                        input(type="checkbox")
                                                        label Theater
                                                    li
                                                        input(type="checkbox")
                                                        label  Visual Arts
                             span.g-tt Cultural Origin
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label African
                                                    li
                                                        input(type="checkbox")
                                                        label Asian
                                                    li
                                                        input(type="checkbox")
                                                        label European
                                                    li
                                                        input(type="checkbox")
                                                        label Latinon
                                                    li
                                                        input(type="checkbox")
                                                        label Middle Eastern
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Native American
                                                    li
                                                        input(type="checkbox")
                                                        label Pacific Islander
                                                    li
                                                        input(type="checkbox")
                                                        label Multicultural
                                                    li
                                                        input(type="checkbox")
                                                        label Other

                            .el-blk.full
                                input(type="text", placeholder="Max. number of students (must be greater than 0)", class="inp inp-txt")
                                .show-tip
                                    |Max. number of students (must be greater than "0")
                            .el-blk.full
                                input(type="text", placeholder="Length of program (min / hours per session)", class="inp inp-txt")
                                .show-tip
                                    |Length of program (min / hours per session)
                            .evt-blk
                                span.g-tt Date range
                                .eventfrom.form-event
                                    <span class="error"> * Please enter Start day</span>
                                    <span class="error"> * Please enter End day</span>
                                    .calendar-ipt.clearfix
                                        label Start day (*):
                                        input(type="text", size="12", id="c-s", class="inp inp-txt caldr")
                                        label End day (*):
                                        input(type="text", size="12", id="c-e", class="inp inp-txt caldr")
                            .evt-blk
                                span.bilingual Bilingual
                                .onoffswitch
                                    input(type="checkbox", name="onoffswitch", class="onoffswitch-checkbox", id="myonoffswitch", checked)
                                    label(class="onoffswitch-label", for="myonoffswitch")
                                        span(class="onoffswitch-inner")
                                        span(class="onoffswitch-switch")
                            .el-blk
                                span.g-tt Available dates
                                textarea(placeholder="Available dates", class="inp-desc-event", name="available-date", id="available-date", rows="5" )
                            .el-blk
                                span.g-tt Time(s)
                                textarea(placeholder="Time(s)", class="inp-desc-event", name="time", id="time", rows="5" )
                            .el-blk
                                span.g-tt Space / Technical Requirements
                                textarea(placeholder="Space / Technical Requirements", class="inp-desc-event", name="space", id="space", rows="5" )
                            .el-blk
                                span.g-tt Location(s)
                                textarea(placeholder="Location(s)", class="inp-desc-event", name="location", id="location", rows="5" )
                            .el-blk
                                span.g-tt Fees / ticketing
                                textarea(placeholder="Fees / ticketing", class="inp-desc-event", name="fee", id="fee", rows="5" )
                            .el-blk
                                span.g-tt Program Core
                                textarea(placeholder="Program Core", class="inp-desc-event", name="core", id="core", rows="5" )
                            .el-blk
                                span.g-tt Program Essentials
                                textarea(placeholder="Program Essentials", class="inp-desc-event", name="program-essen", id="program-essen", rows="5" )
                        .artist-blk
                            .title-bar-blk Program/Booking Contact
                            .el-blk.full
                                input(type="text", placeholder="Contact Name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Contact Name
                                span(class="error") * Please enter Contact Name
                            .el-blk.full
                                input(type="text", placeholder="Contact Phone", class="inp inp-txt")
                                .show-tip
                                    |Contact Phone
                            .el-blk.full
                                input(type="text", placeholder="Contact Email", class="inp inp-txt")
                                .show-tip
                                    |Contact Email
                            .el-blk.full
                                input(type="text", placeholder="URL", class="inp inp-txt")
                                .show-tip
                                    |URL
                        .artist-blk
                            .title-bar-blk Cancellation Policy
                            .el-blk
                                textarea(placeholder="Cancellation Policy", class="inp-desc-event", name="cancel", id="cancel", rows="5" )
                        .artist-blk
                            .title-bar-blk References
                            .el-blk
                                textarea(placeholder="References", class="inp-desc-event", name="refer", id="refer", rows="5" )
                            .el-blk
                                .upload-btn
                                    button(class="btn-noW", id="select-image") UPLOAD PDF DOCUMENT
                            .el-blk
                                ul.pdf-list
                                    li
                                        i(class="fa fa-file-pdf-o")
                                        a(href="#", class="vmore") 2015 pdf document
                                        i(class="fa fa-times")
                                    li
                                        i(class="fa fa-file-pdf-o")
                                        a(href="#", class="vmore") 0903 2015 pdf document
                                        i(class="fa fa-times")
                        .artist-blk
                            .title-bar-blk RELATED MATERIALS DOCUMENTS
                            p You can upload up to 4 documents that will be featured in the Related Materials section of the program's detail page. All documents must be .PDF format only and must be smaller than 1 megabyte each in size
                            .el-blk
                                .upload-btn
                                    button(class="btn-noW", id="select-image") UPLOAD PDF DOCUMENT
                            .el-blk
                                ul.pdf-list
                                    li
                                        i(class="fa fa-file-pdf-o")
                                        a(href="#", class="vmore") 2015 pdf document
                                        i(class="fa fa-times")
                                    li
                                        i(class="fa fa-file-pdf-o")
                                        a(href="#", class="vmore") 1000 0903 2015 pdf document
                                        i(class="fa fa-times")
                                    li
                                        i(class="fa fa-file-pdf-o")
                                        a(href="#", class="vmore") 100000 0903 2015 pdf document
                                        i(class="fa fa-times")
                                    li
                                        i(class="fa fa-file-pdf-o")
                                        a(href="#", class="vmore") 100000 0903 2015 pdf document
                                        i(class="fa fa-times")
                        .artist-blk
                            .title-bar-blk Images
                            p You can upload up to 4 images that will be featured in your image gallery. All images should be no larger than 400 pixels in either direction (width or height). All images must be .JPG format only and must smaller than 1 megabyte each in size.
                            div(class="gallery-bkl", data-target="1")
                                    .upload-img
                                        button(class="btn-noW", id="select-image") UPLOAD IMAGE
                                    .crop-img
                                        .upload-bar
                                            .upl-tt
                                                a
                                                    .l-outer
                                                        .l-inner
                                                    .r-outer
                                                        .r-inner
                                                    span Crop Photos
                                            .upl-btn
                                                button(class="btn-noW", id="save-crop") SAVE
                                                button(class="btn-noW", id="cancel-crop") CANCEL
                                        .img-crop
                                        .crop-tool
                                            img(src="../images/crop-tool.png")
                        .artist-blk
                                .title-bar-blk Videos
                                p This form accepts URL links or video embed code provided by YouTube.com's "Share" option.
                                .artist-video-area
                                    .des-list
                                        .video-item(id="video-group")
                                            .el-blk.full
                                                input(id = "video-link", type="text", placeholder="YouTube video links", class="inp-txt-event", name="video_embed[]")
                                                .show-tip
                                                    |YouTube video links
                                            .el-blk.full
                                                textarea(id = "video-desc", placeholder="Description", class="desc-video")
                                                .show-tip
                                                    |Description
                                    .video-btn
                                        button(class="btn-noW", id="video-addmore", data-img="../images/delete-org.png") ADD MORE
                                    .video-btn
                                        button(class="btn-noW", id="video-preview") PREVIEW
                        .video-box
                                .video(class="selected", data-target="1")
                                    iframe(src="http://www.youtube.com/embed/7cqKa6DAU9I")
                                .video(data-target="2")
                                    iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ")
                                .video(data-target="3")
                                    iframe(src="http://www.youtube.com/embed/_7jUA-Gqp4M")
                                .video(data-target="4")
                                    iframe(src="http://www.youtube.com/embed/Ps464zKauUk")
                                .video(data-target="5")
                                    iframe(src="http://www.youtube.com/embed/7cqKa6DAU9I")
                                .video(data-target="6")
                                    iframe(src="http://www.youtube.com/embed/Ps464zKauUk")
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(href="#",data-id="1")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>
                        .artist-blk
                            .title-bar-blk TEKS GUIDELINES
                            .el-blk.full
                                input(type="checkbox")
                                label(class="free-evt") Standards are customized for every classroom visit.
                        .artist-blk
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |SUBMIT RECORD




