block vars
  -title="Artsopolis - Dashboard, Education"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .bookmark
                        p The following information will appear in our education directory. Please read our helpful
                            a(href="javascript:;", class="vmore") Submission Guidelines
                            |first!
                        h1 Education
                        p  You currently have no programs posted.
                        p
                            b IMPORTANT NOTE:
                            |  In order to begin posting programs you must first create an Educator Profile. Please follow this link to enter your educator's information:
                            a(href="javascript:;", class="vmore") Create Educator Profile



