block vars
  -title="Artsopolis - Dashboard, Education Edit"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Education
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Edit Program
                    .evt-blk
                                .event-list.no-mrn
                                    select(class="event")
                                        option(value="0") Chose a program
                                        option(value="") program A
                                        option(value="") program B
                                        option(value="") program C
                                        option(value="") program D
                                        option(value="") program E
                                    .arrow-down
                                        <i class="fa fa-sort-desc fa-lg"></i>
                                .event-btn.no-mar-l.edit
                                    button(type="button", class="btn-noW") EDIT PROGRAM




