block vars
  -title="Artsopolis - Dashboard, Education - Submit"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Educator Information
                    .account-info
                        <span class="error">* Please enter a vaild value</span>
                        .info-frm
                            form(id="org-profile-frm", method="", action="")
                                input(type="text", placeholder="Enter new Program Provider", value="Enter new Program Provider", class="inp inp-txt inp-error")
                                textarea(placeholder="Program Provider Biography/Description", class="inp inp-txt inp-desc inp-error")
                                input(type="text", placeholder="Address 1", class="inp inp-txt inp-error")
                                input(type="text", placeholder="Address 2", class="inp inp-txt inp-error")
                                .city-list
                                    select.city
                                        option(value="City") City
                                        option(value="AAA") AAA
                                        option(value="BBB") BBB
                                        option(value="CCC") CCC
                                        option(value="DDD") DDD
                                        option(value="EEE") EEE
                                    span.arrow
                                input(type="text", placeholder="State", class="inp inp-txt inp-error")
                                input(type="text", placeholder="Zip", class="inp inp-txt inp-error")
                                input(type="text", placeholder="Phone", class="inp inp-txt")
                                input(type="text", placeholder="Fax", class="inp inp-txt")
                                input(type="text", placeholder="Email", class="inp inp-txt inp-error")
                                input(type="text", placeholder="URL (http:// is required)", class="inp inp-txt")
                                h3.tt Primary Image:
                                .file-upload
                                    span CHOOSE FILE
                                    input(type="file", id="uploadBtn", class="inp-file")
                                    input(type="text", value="FILE NOT CHOSEN", disabled="disabled", id="uplFile")
                                .education-list
                                    h1 Educator Qualifications
                                    nav.education
                                        li
                                            span.txt-edu Conducts educational programming for 2 or more years:
                                            .education-rad
                                                input(type="radio", name="q1", class="rad-edu")
                                                span.edu
                                                label Yes
                                            .education-rad
                                                input(type="radio", name="q1", class="rad-edu")
                                                span.edu
                                                label No
                                        li
                                            span.txt-edu Performs criminal background checks on staffwith youth contact:
                                            .education-rad
                                                input(type="radio", name="q2", class="rad-edu")
                                                span.edu
                                                label Yes
                                            .education-rad
                                                input(type="radio", name="q2", class="rad-edu")
                                                span.edu
                                                label No
                                        li
                                            span.txt-edu Connects to State and/or Common CoreCurriculum Standards:
                                            .education-rad
                                                input(type="radio", name="q3", class="rad-edu")
                                                span.edu
                                                label Yes
                                            .education-rad
                                                input(type="radio", name="q3", class="rad-edu")
                                                span.edu
                                                label No
                                        li
                                            span.txt-edu Instructors receive annual professional development training:
                                            .education-rad
                                                input(type="radio", name="q4", class="rad-edu")
                                                span.edu
                                                label Yes
                                            .education-rad
                                                input(type="radio", name="q4", class="rad-edu")
                                                span.edu
                                                label No
                                        li
                                            span.txt-edu Conducts educational programming for 2 or more years:
                                            .education-rad
                                                input(type="radio", name="q5", class="rad-edu")
                                                span.edu
                                                label Yes
                                            .education-rad
                                                input(type="radio", name="q5", class="rad-edu")
                                                span.edu
                                                label No

                            .b-btn
                                button(type="submit", class="btn btn-b") SUBMIT RECORD

