block vars
  -title="Artsopolis - Detail Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="/") Education
                    li
                        span 440 Countdown: Make A Play in 24 Hours
            include ../blocks/detail_education.jade
        include ../includes/sidebar-education.jade