block vars
  -title="Artsopolis - Education Teacher Form"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="/") Education
                    li
                        span Teacher Evaluation
            include ../blocks/teacher_form.jade
        include ../includes/sidebar-education.jade