block vars
  -title="Artsopolis - Category Page"
  -sidebar = false
  -isCategory  = true
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/pathway_category.jade
            include ../blocks/detail_category_page_v1.jade
        include ../includes/sidebar.jade