@media (max-width: 768px) {
// Repsonsive header apply for screen under 768, note apply for screen under 480 also
    .menu-open {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        .navi {
            transform: translate(0, 0);
        }
    }
    header {
        .hamburger-menu {
            display: block;
            position: absolute;
            right: 14px;
            padding: 10px;
            font-size: 3.6rem;
            color: white;
            top: 14px;
        } 
        .navi {
            position: fixed;
            left: 0;
            top: 88px;
            width: 100vw !important;
            height: calc(100vh - 87px);
            overflow-y: auto;
            background: rgba(50, 54, 57, 0.9);
            margin: 0;
            transform: translate(-100%, 0);
            transition: transform 0.3s;
            
            .navi-first-line,
            .navi-second-line {
                width: 100vw;
                border: none;
            }
            .menu {
                margin: 0;
                padding: 0;
                .menu-item {
                    display: block;
                    a {
                        display: block;
                        padding: 15px 14px;
                        border-top: 1px solid #8d9296;
                        font-size: 1.6rem;
                    }
                    &.has-child:hover {
                        > .submenu {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

// Responsive for tablet
    // Responsive block carousel home
    .block-carousel {
        .slider-item {
            .itm-circle {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    //Responsive block event home
     .block-events {
         .article-circle {
             .article-item {          
                margin: 0px 30px !important;
             }
         } 
     }
     // response block block-feature
    .block-feature {
        &.teaser.teaser-left{
            &:before {
                left: 50%;
                bottom: -155%;
                transform: translate(-50%, 0);
                width: 230%;
                top: auto;
            }
            .teaser-content {
                left: 50%;
                transform: translate(-50%, 0);
                top: auto;
                bottom: 0;
                width: 100%;
                padding: 4rem;
            }
        }
    }
    // footer responsive on 960px breakpoint
    // responsve detaul template
    .block-default-tmp {
        padding-top: 7% !important;
        width: 90vw !important;
        .default-ttl {
            h3 {
                font-size: 3rem !important;
            }
        } 
    }
    // detail page Repsonsive
    .block-details {
        .detail-banner {
            .detail-ttl {
                left: 5% !important;
                max-width: 100% !important;
                border: none !important;
                h3 {
                    font-size: 33px;
                    line-height: 44px;
                    overflow: hidden;
                    display: inline-block;
                    max-height: 147px;
                    border: 1px solid #d24e20;
                    padding: 8px 15px !important;
                }
            }
        }
        .detail-body {
            padding: 0;
            padding-top: 25px !important;
            > * {
                max-width: 95vw !important;
            }
        }
    }

    .block-share {
        top: auto !important;
        width: 202px !important;
        text-align: center;
        left: 50% !important;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        bottom: 0 !important;
        li {
            float: left !important;
        }
    }
    header .gov_logo {
        width: calc(100vw - 217px - 60px);
        height: 89px;
        text-align: center;
    }
    header .gov_logo .gov-logo-background {
        display: inline-block;
        position: static;
    }
    header .navi {
        z-index: 10;
    }
}
