@media (max-width: 1024px) { 
    header {
        .navi {
            width: calc(100vw - 217px - 40px);
            .menu-item.has-child {
                &:hover > .submenu {
                    right: 0;
                    left: auto !important;
                    display: none;
                }
                .submenu {
                    left: auto !important;
                    right: 20px;
                    transition: right 0.3s, opacity 0.3s !important;
                }
            }
                
        }
    }
    // Responsive for tablet
    // Responsive block carousel home
    .block-carousel {
        .slider-item {
            .itm-circle {
                &:last-child {
                    display: none;
                }
            }
            .blk-sli-ct {
                width: calc(100vw - 100px);
                margin: 0 auto;
                .ttl-art {
                    font-size: 45px;
                }
            }
        }
    }
    //Responsive block event home
     .block-events {
         .article-circle {
             .article-item {
                width: 250px;
                height: 250px;                
                margin: 0px 15px;
             }
         } 
     }

     .footer {
        width: 100vw;
        .ft-top-wrap {
            width: 100%;
            padding-top: 25px;
            .ft-contact {
                margin-bottom: 12px;
            }
            .contact-info {
                padding: 0;
                width: 35%;
            }
            .contact-list {
                padding: 0;
                width: 65%;
                padding-left: 3rem;
                margin-bottom: 2rem;
                li {
                    display: inline-block; 
                    a {
                        padding: 3px 5px;
                    }
                } 
            }
            .contact-form {
                width: 64%;
                padding-left: 3rem;
                .ttl-sign-up {
                    font-size: 20px;
                }
                .frm-sign-up {
                    .ipt {
                        width: 60%;
                    }
                    .button {
                        width: 40%;
                    }
                }
            }
            .coppy-right {
                padding: 10px;
                text-align: center;
            }
        }
        .ft-bottom-wrap {
            width: 100%;
            .btm-col-left {
                width: 234px;
            }

        }
        .btm-col-center {
            width: calc(100% - 234px);
            display: table;
            p {
                line-height: 23px;
                padding: 8px 5px;
                display: table-cell;
                vertical-align: middle;
            }
        }
        .btm-col-right {
            width: 100%;
            text-align: center;
            .blk-social {
                margin-top: 10px;
                text-align: center;
                ul {
                    text-align: center;
                }
                li {
                    width: auto;
                    display: inline-block;
                    float: none;
                    a {
                        padding: 7px 10px;
                    }
                }
            } 
                
        }
    }
}
@media(min-width: 767px) and (max-width: 1023px) {
    .block-default-tmp {
        padding-top: 7% !important;
        width: 90vw !important;
        .default-ttl {
            h3 {
                font-size: 4rem !important;
            }
        } 
    }
}
@media (min-width: 1025px) {
    // fix me if you can
    .page-df-content {
        padding: 100px 100px 100px 115px;
        font-size: 1.8rem;
        line-height: 2.5rem;
        background-position: top right;
    }
    .block-about.teaser {
        &.teaser-summary-info {
            .content {
                height: calc(1.6em * 4);
                margin-bottom: 35px;

            }
        }
        .teaser-content {
            h1 {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 1.1em;
            }
            h2 {
                line-height: 1.2em;
                max-height: 2.4em;
                overflow: hidden;
                white-space: normal;
            }
        }
    }
      
    .block.teaser.teaser-left{
        .teaser-content {
            h1 {
                overflow: hidden;
                font-weight: bold;
                font-size: 6rem;
            }
            h2 {
                margin: 5px 0 16px;
                line-height: 1.3em;
                max-height: 3.9em;
                overflow: hidden;
            }
            .content {
                max-height: calc(1.7em * 6 );
                overflow: hidden;
                line-height: 1.7em;
                font-size: 1.7rem;
                p {
                    margin: 0;
                    padding: 0;
                    line-height: 1.4em;
                }
            }
        }
    }
    header {
        .navi {
            .menu {
                position: relative;
                .menu-item {
                    position: initial;
                    > a {
                        &:hover {
                            background-color: #000;
                            color: #fff;
                        }
                    }
                    &.has-child {
                        &:hover {
                            > .submenu {
                                opacity: 0.8;
                                left: -20px;
                                top: 22px;
                            }
                        }
                        > .submenu {
                            width: 105%;
                            border-bottom: none;
                            background-color: #000;
                            left: -40px;
                            .menu {
                                padding-top: 13px;
                                padding-bottom: 13px;
                                .menu-item {
                                    display: inline-block;
                                    &:after {
                                        content: '|';
                                        color: #7d7a7a;
                                    }
                                    &:last-child {
                                        &:after {
                                            display: none;
                                        }
                                    }
                                    &.active {
                                        a {
                                            color: #fff;
                                        }
                                    }
                                    &:hover {
                                        a {
                                            color: #fff;
                                        }
                                    }
                                    a {
                                        color: #6fb6f4;
                                        text-transform: capitalize;
                                        padding: 8px 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}