/**
 ProximaNova-Light
 ProximaNova-Medium
 ProximaNova-Regular
 ProximaNova-Semibold
*/
@import url("//hello.myfonts.net/count/3249b6");
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('webfonts/3249B6_B_0.eot');
    src: url('webfonts/3249B6_B_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3249B6_B_0.woff2') format('woff2'),url('webfonts/3249B6_B_0.woff') format('woff'),url('webfonts/3249B6_B_0.ttf') format('truetype');}
@font-face {
    font-family: 'ProximaNova-Medium';
    src: url('webfonts/3249B6_F_0.eot');
    src: url('webfonts/3249B6_F_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3249B6_F_0.woff2') format('woff2'),url('webfonts/3249B6_F_0.woff') format('woff'),url('webfonts/3249B6_F_0.ttf') format('truetype');}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('webfonts/3249B6_11_0.eot');
    src: url('webfonts/3249B6_11_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3249B6_11_0.woff2') format('woff2'),url('webfonts/3249B6_11_0.woff') format('woff'),url('webfonts/3249B6_11_0.ttf') format('truetype');}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('webfonts/3249B6_14_0.eot');
    src: url('webfonts/3249B6_14_0.eot?#iefix') format('embedded-opentype'),url('webfonts/3249B6_14_0.woff2') format('woff2'),url('webfonts/3249B6_14_0.woff') format('woff'),url('webfonts/3249B6_14_0.ttf') format('truetype');}
 