body.introduction{overflow:hidden;z-index:0!important}#page_wrapper,#page_wrapper *{box-sizing:content-box}.layout-fluid *{box-sizing:border-box}#page_wrapper{background-repeat:no-repeat;bottom:0;left:0;margin:0;padding:0;position:fixed;top:0;width:100%;opacity:1;z-index:9999999;-webkit-transition:opacity 5500ms ease;-moz-transition:opacity 5500ms ease;-o-transition:opacity 5500ms ease;transition:opacity 5500ms ease}#page_wrapper.end{opacity:0}#page_wrapper.disappear{z-index:-1}#wrapper{background:rgba(0,0,0,0) radial-gradient(ellipse at center center,#fff 25%,#acacac 78%) repeat scroll 0 0;bottom:0;display:table;height:100vh;left:0;opacity:1;overflow:hidden;position:absolute;top:0;transition:opacity 1000ms ease 0s;width:100%}#page_wrapper.active #wrapper{opacity:1}#page_wrapper.end #wrapper{opacity:0}#page_wrapper #wrapper .ani-wrapper{display:table;opacity:1;position:relative;vertical-align:middle;width:100%}#page_wrapper .toprule{height:6px;left:0;overflow:hidden;position:absolute;top:26px;width:51.5%}#page_wrapper #red{background-color:#ee4028;height:6px;left:-100%;position:absolute;top:0;width:100%}#page_wrapper.active #red{animation:1000ms linear 0s normal none 1 running scalewidthleft}@keyframes scalewidthleft {
0% {
    left: -100%;
}
100% {
    left: 100%;
}
}#page_wrapper .bottomrule{height:6px;overflow:hidden;position:absolute;right:0;top:11px;width:51%}#page_wrapper #orange{background-color:#f26c25;height:6px;position:absolute;right:-100%;top:0;width:100%}#page_wrapper.active #orange{animation:1000ms linear 0s normal none 1 running scalewidthright}@keyframes scalewidthright {
0% {
    right: -100%;
}
100% {
    right: 100%;
}
}#page_wrapper #halfclip{height:100%;overflow:hidden;position:absolute;right:0;transform-origin:left center 0;width:50%}#page_wrapper.active #halfclip{animation:2s linear 0s normal none 1 running cliprotate;transform:rotate(180deg)}@keyframes cliprotate {
0% {
    transform: rotate(0deg);
}
50% {
    transform: rotate(0deg);
}
50.01% {
    transform: rotate(180deg);
}
100% {
    transform: rotate(180deg);
}
}#page_wrapper .halfcircle{-moz-border-bottom-colors:none;-moz-border-left-colors:none;-moz-border-right-colors:none;-moz-border-top-colors:none;border-color:#ee4028 transparent transparent #ee4028;border-image:none;border-radius:50%;border-style:solid;border-width:6px;box-sizing:border-box;height:100%;position:absolute;right:0}#page_wrapper .orange .halfcircle{border-left-color:#f26c25;border-top-color:#f26c25}#page_wrapper #clipped{transform:rotate(-45deg);width:200%}#page_wrapper.active #clipped{animation:1s linear 0s normal none 2 running rotate;transform:rotate(135deg)}@keyframes rotate {
0% {
    transform: rotate(-45deg);
}
100% {
    transform: rotate(135deg);
}
}#page_wrapper #fixed{opacity:0;transform:rotate(135deg);width:100%}#page_wrapper.active #fixed{animation:2s linear 0s normal none 1 running showfixed;opacity:1}@keyframes showfixed {
0% {
    opacity: 0;
}
49.99% {
    opacity: 0;
}
50% {
    opacity: 1;
}
100% {
    opacity: 1;
}
}.watermark{height:486px;opacity:0;position:absolute;right:0;top:50vh;transition:all 3000ms ease 0s;width:528px}.delay .watermark{opacity:.7}#page_wrapper .container{border:medium none;height:362px;left:0;margin:auto;position:absolute;top:0;width:362px;z-index:11}#page_wrapper .container.r{left:29px;top:26px}#page_wrapper .container.o{left:17px;top:55px;transform:rotate(180deg);z-index:14}#page_wrapper .green{border:6px solid #18ac51;border-radius:50%;height:348px;left:-5px;opacity:0;position:absolute;top:-7px;transition:all 500ms ease 500ms;width:348px}#page_wrapper.delay .green{height:370px;left:-42px;opacity:1;top:-3px;width:370px}#page_wrapper .blue{border:6px solid #0672ba;border-radius:50%;height:348px;left:5px;opacity:0;position:absolute;top:7px;transition:all 500ms ease 0s;width:348px}#page_wrapper.delay .blue{left:15px;opacity:1;top:48px}#page_wrapper.burst .container{opacity:1;transition:all 250ms ease 0s}#page_wrapper .container.hide{opacity:0}#page_wrapper .container.cs{font-size:1.6em;left:-13px;position:absolute;top:8px;transition:all 800ms ease 0s;z-index:15}#page_wrapper .creative{border:medium none;color:#59595c;font-family:"Montserrat",sans-serif;font-size:2.35em;height:60px;left:85px;letter-spacing:0;opacity:0;position:absolute;text-align:left;text-transform:uppercase;top:185px;transition:all 250ms ease-out 650ms;width:360px}#page_wrapper.delay .creative{letter-spacing:0;opacity:1}#page_wrapper.delay .creative .sonoma{font-size:.73em;letter-spacing:.19em;opacity:0;position:absolute;top:0;transition:all 150ms ease-out 0s}#page_wrapper.delay .container.fling .creative{letter-spacing:.255em;transition-delay:0s}#page_wrapper.delay.burst .container .creative .sonoma{opacity:1;top:49px}#page_wrapper .container .rings{background: transparent url("../images/animation/cs_rings.png") no-repeat scroll left top / 443px 409px;height:409px;left:0;opacity:0;position:absolute;top:0;transition:all 40ms ease-out 650ms;width:443px}#page_wrapper.burst .container .rings{opacity:1;transition-delay:0s}#page_wrapper.end .container.cs{height:230px;left:0;margin-left:11px!important;margin-top:-58px!important;top:0;width:230px}#page_wrapper.end .container .rings{background: transparent url("../images/animation/cs_rings.png") no-repeat scroll left top / contain ;height:85%!important;left:21px}#page_wrapper.end .creative{color:#fff!important;font-size:1.05em;height:60px;left:54px;top:80px}#page_wrapper.end .container .creative .sonoma{color:#fff!important;left:2px;top:23px!important}#page_wrapper.burst .container .seg-blue,#page_wrapper.burst .container .seg-orange,#page_wrapper.burst .container .seg-green,#page_wrapper.burst .container .seg-red{background: transparent none no-repeat scroll left top / cover ;height:70px;opacity:1;position:absolute;top:160px;width:20px}#page_wrapper .container .seg-blue{background-image:url(../images/animation/seg_blue.png);right:-19px;transform:rotate(0deg);transition:all 1000ms ease-out 0ms}#page_wrapper .container .seg-orange{background-image:url(../images/animation/seg_orange.png);right:-31px;transform:rotate(0deg);transition:all 1000ms ease-out 0ms}#page_wrapper .container .seg-green{background-image:url(../images/animation/seg_green.png);right:-25px;transform:rotate(-7deg);transition:all 1000ms ease-out 0ms}#page_wrapper .container .seg-red{background-image:url(../images/animation/seg_red.png);right:-48px;transform:rotate(0deg);transition:all 1000ms ease-out 0ms}@media screen and (max-width:480px){#page_wrapper .toprule{height:5px;top:21px;width:39.5%}#page_wrapper .bottomrule{height:5px;top:-90px;width:67%}#page_wrapper #orange{height:5px}#page_wrapper .halfcircle{border-width:5px}#page_wrapper .container{height:272px;width:272px}#page_wrapper .container.cs{font-size:1.15em}#page_wrapper .container.o{left:9px;top:43px}#page_wrapper .container.r{left:19px;top:21px}#page_wrapper .container .rings{background-size:332px 307px;height:307px;width:332px}#page_wrapper.delay .container .green{border-width:5px;left:-33px;height:277px;width:277px}#page_wrapper .container .blue{border-width:5px;height:261px;width:261px}#page_wrapper.delay .container .blue{left:11px;top:35px}#page_wrapper .container .creative{font-size:2.5em;height:60px;left:64px;top:138px;width:272px}#page_wrapper.delay.burst .container .creative .sonoma{top:38px}#page_wrapper.delay .container.fling .creative{letter-spacing:.191em}#page_wrapper.burst .container .seg-blue,#page_wrapper.burst .container .seg-orange,#page_wrapper.burst .container .seg-green,#page_wrapper.burst .container .seg-red{height:52px;top:120px;width:15px}}#page_wrapper .container.fling .seg-blue{background-image:url(../images/animation/seg_blue.png);opacity:0;right:-139px;transform:rotate(-67deg)}#page_wrapper .container.fling .seg-orange{background-image:url(../images/animation/seg_orange.png);opacity:0;right:-151px;transform:rotate(-107deg)}#page_wrapper .container.fling .seg-green{background-image:url(../images/animation/seg_green.png);opacity:0;right:-105px;transform:rotate(-167deg)}#page_wrapper .container.fling .seg-red{background-image:url(../images/animation/seg_red.png);opacity:0;right:-188px;transform:rotate(-187deg)}div.ghost-ring{background: transparent url("../images/animation/cs_ring_ghost.png") no-repeat scroll center center / 300px 300px;height:100%;left:0;opacity:0;position:absolute;top:0;transition:opacity 5500ms ease 0s;width:100%}div.ghost-ring.one{transition:all 1000ms ease-out 700ms;z-index:1}div.ghost-ring.two{transition:all 1200ms ease-out 1200ms;z-index:2}div.ghost-ring.three{transition:all 1000ms ease-out 1800ms;z-index:3}div.ghost-ring.four{transition:all 500ms ease-out 1250ms;z-index:4}.burst div.ghost-ring{background-size:950px 950px}.burst div.ghost-ring.one{background-position:right 5vw top;opacity:.4}.burst div.ghost-ring.two{background-position:left 5vw bottom;opacity:.3}.burst div.ghost-ring.three{background-position:left -20vw center;opacity:.2}.burst div.ghost-ring.four{background-position:right -20vw center;opacity:.2}@supports (-ms-ime-align:auto) {
#page_wrapper.end .container.cs, #page_wrapper.end .watermark, #page_wrapper.end div.ghost-ring {
    opacity: 0 !important;
}
#page_wrapper .toprule {
    top: 26px;
}
#page_wrapper .bottomrule {
    top: 11px;
}
}
