/**
* style for child element of .content-wrapper
*/
.content-wrapper--master-layout {
  width: 100%;
}
.content-wrapper--master-layout:not(.has-sidebar-right):not(.has-sidebar-left) > .sidebar-left, .content-wrapper--master-layout:not(.has-sidebar-right):not(.has-sidebar-left) > .sidebar-right {
  display: none;
}
.content-wrapper--master-layout.content-width-fluid > * {
  max-width: 100%;
}
.content-wrapper--master-layout.content-width-fluid.has-sidebar-left:not(.has-sidebar-right) .main-contain-wrapper {
  width: 80%;
  float: left;
}
.content-wrapper--master-layout.content-width-fluid.has-sidebar-left:not(.has-sidebar-right) .sidebar-right {
  display: none;
}
.content-wrapper--master-layout.content-width-fluid.has-sidebar-right:not(.has-sidebar-left) .main-contain-wrapper {
  width: 80%;
  float: left;
}
.content-wrapper--master-layout.content-width-fluid.has-sidebar-right:not(.has-sidebar-left) .sidebar-left {
  display: none;
}
.content-wrapper--master-layout.content-width-fluid.has-sidebar-right.has-sidebar-left .main-contain-wrapper {
  width: 60%;
  float: left;
}
.content-wrapper--master-layout.content-width-fluid > .sidebar-left, .content-wrapper--master-layout.content-width-fluid > .sidebar-right {
  min-height: 1px;
  width: 20%;
  float: left;
}
.content-wrapper--master-layout.content-width-1000 > * {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-left:not(.has-sidebar-right) .main-contain-wrapper {
  width: 800px;
  float: left;
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-left:not(.has-sidebar-right) > .sidebar-left {
  margin-left: calc(50vw - 500px);
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-left:not(.has-sidebar-right) .sidebar-right {
  display: none;
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-right:not(.has-sidebar-left) .main-contain-wrapper {
  width: 800px;
  float: left;
  margin-left: calc(50vw - 500px);
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-right:not(.has-sidebar-left) .sidebar-left {
  display: none;
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-right.has-sidebar-left .main-contain-wrapper {
  width: 600px;
  float: left;
}
.content-wrapper--master-layout.content-width-1000.has-sidebar-right.has-sidebar-left > .sidebar-left {
  margin-left: calc(50vw - 500px);
}
.content-wrapper--master-layout.content-width-1000 > .sidebar-left, .content-wrapper--master-layout.content-width-1000 > .sidebar-right {
  min-height: 1px;
  width: 200px;
  float: left;
}
.content-wrapper--master-layout .force-width-1000 {
  max-width: 1000px !important;
  margin-left: auto;
  margin-right: auto;
}
.content-wrapper--master-layout > .force-width-fluid {
  max-width: 100% !important;
}

.content-wrapper--master-layout .rich-txt *:not(.fa) {
  font-family: 'ProximaNova-Regular', sans-serif;
}
.content-wrapper--master-layout .rich-txt p, 
.content-wrapper--master-layout .rich-txt span,
.content-wrapper--master-layout .rich-txt li {
  font-size: 1.6rem;
}
.content-wrapper--master-layout .rich-txt p {
  margin: 0 0 10px;
  clear: both;
}
.content-wrapper--master-layout .rich-txt h1 {
  font-size: 3.6rem;
  font-weight: bold;
}
.content-wrapper--master-layout .rich-txt h2 {
  font-size: 3rem;
  font-weight: bold;
}
.content-wrapper--master-layout .rich-txt h3 {
  font-size: 2.4rem;
  font-weight: bold;
}
.content-wrapper--master-layout .rich-txt h4 {
  font-size: 1.8rem;
  font-weight: bold;
}
.content-wrapper--master-layout .rich-txt h5 {
  font-size: 1.4rem;
  font-weight: bold;
}
.content-wrapper--master-layout .rich-txt h6 {
  font-size: 1.2rem;
  font-weight: bold;
}
.content-wrapper--master-layout .rich-txt pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.content-wrapper--master-layout .rich-txt ul {
  line-height: 1.7em;
  list-style-type: disc;
  margin-left: 30px;
}
.content-wrapper--master-layout .rich-txt ul li {
  list-style-type: disc;
}
.content-wrapper--master-layout .rich-txt blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1.75rem;
  border-left: 5px solid #eeeeee;
}
.content-wrapper--master-layout .rich-txt hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.content-wrapper--master-layout .rich-txt.rich-txt--hight-first-child > p:first-child {
  font-size: 1.4em;
  line-height: 1.4em;
  color: #f95f22;
}
