/* Begin: Sonoma Fire #15120*/

body.page-template-page_sonoma_fire_2017 {
  overflow-x: hidden;
}

.custom-block {
  max-width: 100%;
}

.block-events {
  background: none;
}

@media (min-width: 1200px) {
  .custom-block-large {
    width: 1100px !important;
    max-width: 100%;
  }

  .custom-block-large-x {
    width: 1200px !important;
  }

  .fix-circles-5-items .article-item {
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
}

.flex-justify-content-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-justify-content-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-justify-content-between:after {
  content: '';
  width: calc(100% / 5);
}

.text-color-primary {
  color: #ff6600 !important;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left !important;
}
a.show-more {
  font-weight: bold;
}

.block-events h1.block-title {
  font-size: 3.5rem;
  margin-top: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.article-circle.article-circle-custom {
  padding-left: 0px;
  padding-right: 0px;
}


@media (min-width: 1200px) {
  .article-circle.article-circle-custom.mini .article-item {
    width: 200px;
    height: 200px;
  }

  .article-circle.article-circle-custom.custom-block-happening .article-item {
    margin: 15px 40px !important;
  }
}


@media (min-width: 896px) and (max-width: 1460px) {
  .article-circle.article-circle-custom .article-item {
    width: 225px;
    height: 225px;
  }
}


.wrapper-events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}
.wrapper-events:after {
  content: '';
  width: calc(100% / 3 - 15px);
}
.wrapper-events .item-events {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 15px);
  margin-bottom: 15px;
  border: 1px solid #e2e0e3;
}

.wrapper-events .item-events .thumb {
  height: 150px;
  position: relative;
  background: #e6e6e6 no-repeat top center;
  background-size: cover;
}

.wrapper-events .item-events .thumb i.fa {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7px 8px;
  font-size: 1.7em !important;
  background: #000;
}

.wrapper-events .item-events .content {
  flex: 1;
  padding: 10px;
  color: #000;
}

.wrapper-events .item-events .content h3 {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.6rem;
  color: #676767;
}
.wrapper-events .item-events .content time {
  font-weight: normal;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .wrapper-events:after,
  .wrapper-events .item-events {
    width: calc(100% / 2 - 15px);
  }
}
@media (max-width: 480px) {
  .wrapper-events:after,
  .wrapper-events .item-events {
    width: 100%;
  }
  .wrapper-events .item-events .thumb {
    height: 180px;
  }
}

.videos-description {
  margin-top: 50px;
}

._js-btm-slider-wrap .bottom-slider .slides > li .hover-content {
  z-index: 10;
}

._js-btm-slider-wrap .bottom-slider .slides > li.video:after {
  position: absolute;
  content: '';
  width: 105px;
  height: 35px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/play-youtube.png) no-repeat center center;
  background-size: contain;
}

._js-btm-slider-wrap .bottom-slider .slides > li {
  max-height: 200px;
}

ul.slides {
  margin-left: 0px !important;
}

/* End: Sonoma Fire #15120*/
