@import url('layout.css');
@import url('style-our-work.css');

/*=======================================
*                 STYLE CSS             *
========================================*/
/**
* VAR STYLE CSS
*/
/* Color config */
/*
 * jQuery FlexSlider v2.6.2
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
    font-family: 'flexslider-icon';
    src: url('../fonts/flexslider-icon.eot');
    src: url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/flexslider-icon.woff') format('woff'),
    url('../fonts/flexslider-icon.ttf') format('truetype'),
    url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
    outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
    margin: 0;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flexslider .slides:after {
    content: '\0020';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .flexslider .slides {
    display: block;
}

* html .flexslider .slides {
    height: 1%;
}

.no-js .flexslider .slides > li:first-child {
    display: block;
}

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
    margin: 0 0 60px;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
    border-radius: 4px;
    -o-box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: '' 0 1px 4px rgba(0, 0, 0, 0.2);
}

.flexslider .slides {
    zoom: 1;
}

.flexslider .slides img {
    height: auto;
    -moz-user-select: none;
}

.flex-viewport {
    max-height: 2000px;
    transition: all 1s ease;
}

.loading .flex-viewport {
    max-height: 300px;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    text-decoration: none;
    display: block;
    width: 40px;
    height: 40px;
    margin: -20px 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    overflow: hidden;
    opacity: 0;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    transition: all 0.3s ease-in-out;
}

.flex-direction-nav a:before {
    font-family: 'flexslider-icon';
    font-size: 40px;
    display: inline-block;
    content: '\f001';
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.flex-direction-nav a.flex-next:before {
    content: '\f002';
}

.flex-direction-nav .flex-prev {
    left: -50px;
}

.flex-direction-nav .flex-next {
    right: -50px;
    text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 0.7;
    left: 10px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
    opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 0.7;
    right: 10px;
}

.flexslider:hover .flex-direction-nav .flex-next:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0 !important;
    filter: alpha(opacity=0);
    cursor: default;
    z-index: -1;
}

.flex-pauseplay a {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    left: 10px;
    opacity: 0.8;
    z-index: 10;
    overflow: hidden;
    cursor: pointer;
    color: #000;
}

.flex-pauseplay a:before {
    font-family: 'flexslider-icon';
    font-size: 20px;
    display: inline-block;
    content: '\f004';
}

.flex-pauseplay a:hover {
    opacity: 1;
}

.flex-pauseplay a.flex-play:before {
    content: '\f003';
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    position: static;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 25%;
    float: left;
    margin: 0;
}

.flex-control-thumbs img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.7;
    cursor: pointer;
    -moz-user-select: none;
    transition: all 1s ease;
}

.flex-control-thumbs img:hover {
    opacity: 1;
}

.flex-control-thumbs .flex-active {
    opacity: 1;
    cursor: default;
}

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 10px;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 10px;
    }
}

/*=======================================
*             STYLE ALL BLOCKS          *
========================================*/
/*=============================================
=            CSS BLOCK GENNERAL              =
=============================================*/
.block-cust {
    display: none;
}

.block {
    position: relative;
    padding: 0;
    margin: 0;
}

.block.teaser:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #2a99d7;
    opacity: 0.8;
    width: 200vw;
    height: 200vw;
    border-radius: 50%;
    z-index: 0;
}

.block.teaser.teaser-left:before {
    left: -108%;
    top: 50%;
    -webkit-transform: translate(-30%, -50%);
    transform: translate(-30%, -50%);
}

.block.teaser.teaser-left .teaser-content {
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.block.teaser.teaser-left.org-color:before {
    background-color: #d24e20;
}

.block.teaser.teaser-right:before {
    right: -70%;
    top: 50%;
    -webkit-transform: translate(30%, -50%);
    transform: translate(30%, -50%);
}

.block.teaser.teaser-right .teaser-content {
    right: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.block.teaser.teaser-bottom:before {
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.block.teaser .teaser-content {
    z-index: 1;
    position: absolute;
    top: 50%;
    padding: 2rem;
    width: 30%;
}

.block.teaser .teaser-content .content {
    margin-bottom: 2rem;
    /*min-height: 7.1em;*/
    line-height: 1.5em;
    max-height: calc(1.5em * 6);
    overflow: hidden;
}

.block.block-carousel {
    overflow: hidden;
}

/*=============================================
=            CSS BLOCK FEATURE                =
=============================================*/
.block-feature {
    width: 100%;
    height: calc(100vh - 89px);
    overflow: hidden;
    background: url(../images/demo/next_lv_01.jpg) no-repeat top right;
    background-size: cover;
}

.block-feature.org-color {
    background: url(../images/demo/transcendence-theatre-rehersal.jpg) no-repeat top right;
    background-size: cover;
}

.block-feature .teaser-content {
    padding-left: 4rem !important;
    color: #feffff;
}

.block-feature .teaser-content h1,
.block-feature .teaser-content h2,
.block-feature .teaser-content h3,
.block-feature .teaser-content h4,
.block-feature .teaser-content h5,
.block-feature .teaser-content h6 {
    color: #feffff;
}

.block-feature .teaser-content h1 {
    text-transform: uppercase;
    margin: 0;
}

.block-feature .teaser-content h2 {
    margin: 5px 0 16px;
}

/*=============================================
=            CSS BLOCK EVENTS                 =
=============================================*/
.block-events {
    background: url(../images/demo/bg_happend.png) no-repeat top center;
    background-size: cover;
    padding: 55px 0px;
}

.block-events h1,
.block-events h2 {
    color: #676767;
    padding-left: 55px;
    padding-right: 55px;
}

.block-events h2 {
    font-family: 'ProximaNova-Medium';
    font-size: 3rem;
}

.block-events h1 {
    font-family: 'ProximaNova-Semibold';
    font-size: 6rem;
    margin-top: 0;
    margin-bottom: 40px;
}

.block-events h2.late-new {
    margin-top: 0px;
    margin-bottom: 50px;
}

.block-events .article-circle {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 100px;
}

.block-events .article-circle .article-item {
    width: 295px;
    height: 295px;
    display: inline-block;
    position: relative;
    margin: 0px 32px;
}

.block-events .article-circle .article-item .teaser-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover; object-position: center;';
    transition: all 1s;
    border-radius: 50%;
}

.block-events .article-circle .article-item .content-teaser {
    padding: 10%;
}

.block-events .article-circle .article-item .content-teaser small {
    font-family: 'ProximaNovaCond-Regular';
    font-size: 1.8rem;
    font-weight: normal;
    display: block;
    line-height: 1.1em;
    max-height: 2.2em;
    overflow: hidden;
}

.block-events .article-circle .article-item .content-teaser span {
    font-family: 'ProximaNovaCond-Semibold';
    font-size: 2rem;
    font-weight: normal;
    display: block;
    line-height: 1em;
    max-height: 2.1em;
    overflow: hidden;
}

.block-events .article-circle .article-item:hover.article-item .circle-k {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
}

.block-events .article-circle .article-item:hover.article-item .content-teaser {
    opacity: 1;
    overflow: hidden;
}

.block-events
.article-circle
.article-item:hover.article-item
.content-teaser
> p {
    transform: translateY(0);
}

.block-events
.article-circle
.article-item:hover.article-item.item-orange
.content-teaser {
    background-color: rgba(255, 103, 20, 0.5);
}

.block-events
.article-circle
.article-item:hover.article-item.item-blue
.content-teaser {
    background-color: rgba(9, 92, 184, 0.5);
}

.block-events
.article-circle
.article-item:hover.article-item.item-green
.content-teaser {
    background-color: rgba(3, 171, 84, 0.5);
}

.block-events
.article-circle
.article-item:hover.article-item.item-white-left
.content-teaser,
.block-events
.article-circle
.article-item:hover.article-item.item-white-center
.content-teaser,
.block-events
.article-circle
.article-item:hover.article-item.item-white-right
.content-teaser,
.block-events
.article-circle
.article-item:hover.article-item.change-pst-crl
.content-teaser {
    background-color: rgba(251, 85, 72, 0.7);
}

.block-events .article-circle .article-item.item-orange:after {
    border: 3px solid #ff6714;
    top: 0;
}

.block-events .article-circle .article-item.item-blue:after {
    border: 3px solid #095cb8;
    top: 0;
}

.block-events .article-circle .article-item.item-green:after {
    border: 3px solid #03ab54;
    bottom: 0;
}

.block-events .article-circle .article-item:after {
    content: '';
    display: block;
    width: 93%;
    height: 93%;
    position: absolute;
    border: 3px solid;
    border-radius: 50%;
    z-index: 0;
}

.block-events .article-circle .article-item.item-white-left:after {
    top: 0;
}

.block-events .article-circle .article-item.item-white-center:after {
    top: 2px;
    left: 2px;
}

.block-events .article-circle .article-item.change-pst-crl:after {
    top: 5px;
    left: 15px;
}

.block-events .article-circle .article-item.item-white-right:after {
    top: 0px;
    left: 3px;
}

.block-events .article-circle .article-item .article-title {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc;
}

.block-events .article-circle .article-item .article-title .content-teaser {
    background: transparent;
    display: table;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all 0.3s;
}

.block-events .article-circle .article-item .article-title .content-teaser > p {
    display: table-cell;
    vertical-align: middle;
    transform: translateY(10%);
    transition: all 0.5s;
}

/*=============================================
=            CSS BLOCK ABOUTS                 =
=============================================*/
.block-about {
    min-height: 830px;
    height: calc(100vh - 89px);
    width: 100%;
    background-image: url(../images/demo/next_lv_05.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.block-about.teaser:before {
    background-color: #007519;
}

.block-about.teaser .teaser-content {
    text-align: center;
    width: 75%;
    left: 50%;
    bottom: 0;
    top: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-height: 270px;
}

.block-about.teaser .teaser-content h1,
.block-about.teaser .teaser-content h2 {
    color: #fff;
}

.block-about.teaser .teaser-content .content {
    font-size: 1.7rem;
    color: #fff;
    line-height: 1.6em;
    max-height: 3.2em;
    overflow: hidden;
}

.block-about.teaser .teaser-content .content p {
    margin: 0 !important;
}

.block-about .teaser-content .let-down {
    display: inline-block;
    line-height: 0;
    margin-top: 20px;
    transition: all 0.3s;
}

.teaser-content .ttl-feature {
    line-height: 1.3;
}

.org-color .teaser-content .btn.btn-viewmore:hover {
    background-color: #2a99d7;
    border-color: #2a99d7;
}

.block-events.block-board {
    background: url(../images/demo/bg_board.png) repeat-y top center;
    background-size: 100% auto;
}

.block-events.block-board h1 {
    color: #1c1c1c;
}

.block-events.block-board .article-circle {
    margin-top: 15px;
    margin-bottom: 25px;
}

.block-events.block-board .article-circle .article-item {
    margin-bottom: 30px;
}

.block-events.block-board .article-circle .article-item:after {
    border: 3px solid #fff;
}

/*=============================================
=            CSS BLOCK SUPPORT ICON           =
=============================================*/
.block-support-icon {
    text-align: center;
    left: 0;
    width: 100%;
    min-height: 169px;
    padding: 20px 10px;
    background: url(../images/demo/bg_sponsor.jpg) center top no-repeat;
    background-size: cover;
}

.block-support-icon > h2 {
    font-family: 'ProximaNova-Light';
    font-size: 2.6rem;
}

.block-support-icon .support-icon {
    width: 100%;
    text-align: center;
}

.block-support-icon .support-icon .icon-item {
    display: inline-block;
    margin: 3px 20px;
}

/*=============================================
=            CSS BLOCK DETAILS                =
=============================================*/
.block-details .detail-banner {
    position: relative;
    min-height: 606px;
    background: url('../images/demo/banner_detail.jpg') no-repeat top center;
    background-size: cover;
}

.block-details .detail-banner .detail-ttl {
    position: absolute;
    left: 70px;
    bottom: 40px;
    border: 1px solid #d24e20;
    max-width: 40%;
    padding: 15px;
}

.block-details .detail-banner .detail-ttl h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0px;
}

.block-details .detail-body {
    position: relative;
    padding: 100px 100px 100px 115px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top right;
}

.block-details .detail-body .desc-detail {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.block-details .detail-body .desc-detail p {
    font-size: 22px;
    color: #f95f22;
    line-height: 1.43333;
    margin-bottom: 0px;
    font-weight: 600;
}

.block-details .detail-body .img-bg-dtl {
    position: absolute;
    width: 45%;
    right: 0;
    opacity: 0.5;
    top: -18%;
    z-index: -1;
}

.specify-detail {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.specify-detail .dtl-top {
    height: 275px;
    margin-bottom: 50px;
}

.specify-detail .dtl-top .dtl-tp-left,
.specify-detail .dtl-top .dtl-tp-right {
    float: left;
    width: 50%;
    height: 275px;
}

.specify-detail .dtl-top .dtl-tp-left {
    padding-right: 30px;
}

.specify-detail .dtl-top .dtl-tp-left p {
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 1.6;
}

.specify-detail .dtl-top .dtl-tp-right {
    text-align: center;
    padding: 15px;
    background-color: rgba(221, 221, 221, 0.91);
}

.specify-detail .dtl-top .dtl-tp-right .icon-note {
    display: inline-block;
    width: 90px;
    height: 90px;
    background-image: url(../images/demo/note_icon.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.specify-detail .dtl-top .dtl-tp-right p {
    margin-top: 0px;
    font-size: 26px;
    line-height: 1.5;
}

.specify-detail .text-frt,
.specify-detail .text-snd {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0px;
    margin-bottom: 50px;
}

.image-detail {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.image-detail .img-item {
    display: inline-block;
    line-height: 0;
    overflow: hidden;
    width: 475px;
    height: 330px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
}

.image-detail .img-item:last-child {
    margin-right: 0px;
}

.block.block-share {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 40%;
    width: 40px;
}

.block.block-share li {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
}

.block.block-share li.bg-fb {
    background-color: #3b579c;
}

.block.block-share li.bg-twt {
    background-color: #50abf1;
}

.block.block-share li.bg-gg {
    background-color: #df4932;
}

.block.block-share li.bg-mail {
    background-color: #639c39;
}

.block.block-share li.bg-print {
    background-color: #ff6500;
}

.block.block-share li a {
    color: #fff;
    line-height: 1;
    display: inline-block;
}

.block.block-share li:hover {
    cursor: pointer;
}

.block.block-share li:hover a {
    transition: all 0.3s;
    color: #000;
}

/*=============================================
=            CSS MAIN SLIDER                  =
=============================================*/
.sm-main-slider {
    min-height: 830px;
    height: calc(100vh - 89px);
}

.sm-main-slider .slider-item {
    text-align: center;
    min-height: 830px;
    height: calc(100vh - 89px);
    background-repeat: no-repeat;
    background-size: cover;
}

.sm-main-slider .slider-item .blk-sli-ct {
    max-width: 960px;
    margin: 0 auto;
}

.slider-item.bg-blue {
    background-repeat: no-repeat;
    background-image: url(../images/demo/slider-bg-blue.png);
    background-position: center center;
}

.slider-item.bg-blue .itm-circle .art-title {
    border-color: #0b6cc1;
}

.slider-item.bg-green {
    background-repeat: no-repeat;
    background-image: url(../images/demo/slider-bg-green.png);
    background-position: center center;
}

.slider-item.bg-green .itm-circle .art-title {
    border-color: #1cba5d;
}

.slider-item.bg-red {
    background-repeat: no-repeat;
    background-image: url(../images/demo/slider-bg-red.png);
    background-position: center center;
}

.slider-item.bg-red .itm-circle .art-title {
    border-color: #f86450;
}

.slider-item .blk-sli-img {
    padding-top: 80px;
    padding-bottom: 40px;
}

.slider-item .itm-circle {
    width: 270px;
    height: 270px;
    display: inline-block;
    position: relative;
    margin: 0px 32px;
}

.slider-item .itm-circle .art-title {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc;
}

.slider-item .itm-circle .teaser-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    border-radius: 50%;
    font-family: 'object-fit: cover; object-position: center;';
}

.slider-item .blk-sli-ct .ttl-art {
    font-family: 'ProximaNova-Semibold';
    font-size: 65px;
    margin-bottom: 35px;
    line-height: 1.2em;
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.slider-item .blk-sli-ct .desc {
    height: 80px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
}

.slider-item .blk-sli-ct .btn.btn-explore {
    color: #fff;
    margin-bottom: 60px;
}

.slider-item .blk-sli-ct .btn.btn-explore:hover {
    background-color: rgba(0, 0, 0, 0.31);
    border-color: rgba(0, 0, 0, 0.08);
}

.slider-item .blk-sli-menu {
    width: 630px;
    margin: 0 auto;
    background-color: #000;
    opacity: 0.5;
}

.slider-item .blk-sli-menu li {
    float: left;
    width: 25%;
}

.slider-item .blk-sli-menu li.active a {
    color: #fff;
}

.slider-item .blk-sli-menu li a {
    text-transform: uppercase;
    display: inline-block;
    line-height: 1;
    padding: 15px 10px;
    color: #bfbfbf;
    transition: all 0.3s;
}

.slider-item .blk-sli-menu li a:hover {
    color: #fff;
}

.custom-navigation .sli-icon,
.cust-nav .sli-icon {
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
    opacity: 0.6;
    transition: background-color 0.2s;
}

.custom-navigation .sli-icon.icon-prev,
.cust-nav .sli-icon.icon-prev {
    left: -448px;
}

.custom-navigation .sli-icon.icon-next,
.cust-nav .sli-icon.icon-next {
    right: -448px;
}

.custom-navigation .sli-icon.bg-icon-gray,
.cust-nav .sli-icon.bg-icon-gray {
    background-color: #323639;
}

.custom-navigation .sli-icon.bg-icon-green,
.cust-nav .sli-icon.bg-icon-green {
    background-color: #00ab52;
}

.custom-navigation .sli-icon.bg-icon-blue,
.cust-nav .sli-icon.bg-icon-blue {
    background-color: #005db9;
}

.custom-navigation .sli-icon.bg-icon-red,
.cust-nav .sli-icon.bg-icon-red {
    background-color: #d8292f;
}

.custom-navigation .sli-icon.bg-icon-slive,
.cust-nav .sli-icon.bg-icon-slive {
    background-color: #323e48;
}

.custom-navigation .sli-icon .icon,
.cust-nav .sli-icon .icon {
    width: 25px;
    height: 55px;
    background-position: center center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-navigation .sli-icon .icon.ico-prev,
.cust-nav .sli-icon .icon.ico-prev {
    right: 20px;
}

.custom-navigation .sli-icon .icon.ico-next,
.cust-nav .sli-icon .icon.ico-next {
    left: 20px;
}

/*=============================================
=            CSS BLOCK DEFAULT                =
=============================================*/
.main-wrap {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

.main-wrap .block-default-tmp {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 60px;
}

.block-default-tmp .default-ttl {
    width: 100%;
    padding: 5px 0;
    text-align: left;
    margin-bottom: 30px;
}

.block-default-tmp .default-ttl h3 {
    font-family: 'ProximaNova-Semibold';
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1.4em;
    margin: 0;
    max-height: 2.8em;
    overflow: hidden;
}

.block-default-tmp .default-content {
    padding-bottom: 150px;
}

.block-default-tmp .default-content p {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 35px;
    line-height: 1.6;
}

.block-carousel {
    position: relative;
}

.block-carousel .blk-sli-menu {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1;
}

.block-carousel .blk-sli-menu .flex-control-nav {
    text-align: center;
}

.block-carousel .blk-sli-menu .flex-control-nav > li {
    display: inline-block;
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0.48);
    color: #ababab;
    margin: 0;
    font-size: 1.8rem;
    cursor: pointer;
}

.block-carousel .blk-sli-menu .flex-control-nav > li.flex-active {
    color: #ffffff;
}

.block-carousel .next-section {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    text-align: center;
}

header {
    display: block;
    height: 89px;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 8px -6px rgba(50, 50, 50, 0.75);
    background-color: #323639;
    z-index: 10000;
}

header .header-wrapper {
    color: #feffff;
    width: 1000px;
    margin: 0 auto;
}

header .logo {
    position: relative;
    width: 217px;
    height: 89px;
    float: left;
}

/*Re-style header logo using tag <img>*/
header .logo .logo-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(../images/demo/logo_white.png) 50% 57% no-repeat;*/
    background-size: cover;
    width: 217px;
    height: 89px;
    overflow: hidden;
}

header .logo .logo-background img {
    width: 217px;
    height: auto;
    position: absolute;
    top: -72px;
    left: 0;
}

header .navi {
    font-family: 'ProximaNova-Semibold';
    font-size: 1.5rem;
    position: relative;
    float: left;
    width: calc(1000px - 217px);
    margin: 15px 0;
}

header .navi .navi-first-line,
header .navi .navi-second-line {
    margin: 0 auto;
    float: right;
}

header .navi .navi-second-line {
    border-top: 1px solid #8d9194;
}

header .navi .menu {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 5px 0;
}

header .navi .menu .menu-item {
    display: inline-block;
    position: relative;
}

header .navi .menu .menu-item > a {
    padding: 8px 14px;
    color: #feffff;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: color 0.5s ease;
}

header .navi .menu .menu-item > a:hover,
header .navi .menu .menu-item > a:active {
    color: #2a99d7;
}

header .navi .menu .menu-item.active > a {
    color: #2a99d7;
}

header .navi .menu .menu-item.has-child:hover > .submenu {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    z-index: 1;
    left: 0;
}

header .navi .menu .menu-item.has-child > .submenu {
    opacity: 0;
    position: absolute;
    background: white;
    z-index: 1;
    width: 288px;
    text-align: left;
    border-bottom: 3px solid blue;
    top: 100%;
    left: -20px;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: left 0.3s, opacity 0.3s;
}

header .navi .menu .menu-item.has-child > .submenu h1 {
    padding: 0;
    margin: 0 1rem;
    font-size: 1.8rem;
}

header .navi .menu .menu-item.has-child > .submenu .menu {
    margin: 0;
    padding: 1rem;
}

header .navi .menu .menu-item.has-child > .submenu .menu .menu-item {
    text-align: left;
    display: block;
}

header .navi .menu .menu-item.has-child > .submenu .menu .menu-item a {
    color: #2a99d7;
}

header .navi .menu .menu-item.has-child > .submenu .menu .menu-item.active a,
header .navi .menu .menu-item.has-child > .submenu .menu .menu-item:hover a {
    color: #1b516f;
}

main .content-wrapper {
    display: block;
    margin-top: 89px;
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon.icon-fb {
    background-image: url(../images/demo/icon_fb.png);
}

.icon.icon-twt {
    background-image: url(../images/demo/icon_twt.png);
}

.icon.icon-mail {
    background-image: url(../images/demo/icon_mail.png);
}

.icon.icon-search {
    background-image: url(../images/demo/icon_search.png);
}

.icon.ico-prev {
    background-image: url(../images/demo/left_arrow.png);
}

.icon.ico-next {
    background-image: url(../images/demo/right_arrow.png);
}

.icon.ico-down {
    background-image: url(../images/demo/down_arrow.png);
}

/**
* CSS Footer
*/
.footer {
    font-family: 'ProximaNovaCond-Regular';
    background-image: url(../images/demo/footer-bg.jpg);
    background-position: bottom;
    background-repeat: repeat-x;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.footer .ft-top-wrap {
    width: 1200px;
    height: 230px;
    margin: 0 auto;
    background: url(../images/demo/bg_footer.png) top center no-repeat;
    z-index: 1;
}

.footer .ft-bottom-wrap {
    height: 75px;
    width: 1200px;
    margin: 0 auto;
    background: url(../images/demo/bg_footer.png) bottom center no-repeat;
    z-index: 1;
}

/*==== Footer top ====*/
.ft-top-wrap {
    padding: 55px 15px 15px 15px;
    color: #fff;
}

.ft-top-wrap .ft-contact {
    margin-bottom: 16px;
}

.ft-top-wrap .contact-info {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px;
}

.ft-top-wrap .contact-list {
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    width: 20%;
}

.ft-top-wrap .contact-form {
    float: left;
    width: 50%;
}

.ft-top-wrap .contact-info .ttl-info {
    font-family: 'ProximaNova-Semibold';
    color: #fff;
    text-transform: uppercase;
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.ft-top-wrap .contact-info p {
    margin: 0px;
    font-size: 2rem;
    line-height: 2.9rem;
}

.ft-top-wrap .contact-list li {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ft-top-wrap .contact-list li a {
    display: inline-block;
    color: #fff;
    line-height: 1;
    font-size: 1.9rem;
    transition: all 0.3s ease-in-out;
}

.ft-top-wrap .contact-list li a:hover {
    color: #161616;
}

.ft-top-wrap .contact-form {
    padding-left: 15px;
    padding-right: 15px;
}

.ft-top-wrap .contact-form .ttl-sign-up {
    font-family: 'ProximaNovaCond-Light';
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.52);
}

.ft-top-wrap .contact-form .frm-sign-up {
    border: 1px solid #fff;
}

.ft-top-wrap .contact-form .frm-sign-up .ipt {
    background-color: #f9aca3;
    border: none;
    border-radius: 0;
    padding: 18px 15px;
    width: 75%;
    font-size: 18px;
    float: left;
    outline: none;
    color: #89615c;
}

.ft-top-wrap .contact-form .frm-sign-up .button {
    font-family: 'ProximaNova-Semibold';
    width: 25%;
    padding: 14px 0;
    border: none;
    border-left: 1px solid #fff;
    text-transform: uppercase;
    color: #f7a197;
    font-size: 2.1rem;
    background-color: transparent;
    outline: none;
}

.ft-top-wrap .contact-form .frm-sign-up .button:hover {
    transition: all 0.3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.ft-top-wrap .coppy-right {
    margin: 0px;
    padding-left: 380px;
    font-size: 1.8rem;
}

/*==== Footer bottom ====*/
.ft-bottom-wrap {
    padding: 0 15px;
}

.ft-bottom-wrap .btm-col-left {
    width: 20%;
    float: left;
    height: 100%;
}

.ft-bottom-wrap .btm-col-center {
    width: 60%;
    float: left;
    height: 100%;
    line-height: 75px;
}

.ft-bottom-wrap .btm-col-right {
    width: 20%;
    float: left;
    height: 100%;
}

.btm-col-left {
    overflow: hidden;
    position: relative;
}

.btm-col-left .img-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/demo/logo_white.png) 50% 52% no-repeat;
    background-size: cover;
    width: 234px;
    height: 75px;
}

.btm-col-center {
    color: #fff;
}

.btm-col-center p {
    font-size: 1.6rem;
    margin: 0px;
}

.btm-col-right .blk-social {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.btm-col-right .blk-social li {
    float: left;
    width: 20%;
    display: block;
}

.btm-col-right .blk-social li a {
    display: inline-block;
    line-height: 1;
    transition: all 0.3s ease-in-out;
}

.btm-col-right .blk-social li a:hover {
    opacity: 0.7;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
    zoom: 1;
}

/* IE7 */
html {
    font-size: 10px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2.4rem;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'ProximaNova-Regular', sans-serif;
    font-size: 1.4rem;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    -webkit-transition: 250ms;
    -moz-transition: 250ms;
    -o-transition: 250ms;
    transition: 250ms;
}

.btn.btn-viewmore,
.btn.btn-explore {
    border: 1px solid #feffff;
    color: #feffff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s;
}

.btn.btn-viewmore:hover,
.btn.btn-explore:hover {
    background-color: #da3f3f;
    border-color: #da3f3f;
}

.btn.btn-explore {
    border: 1px solid #fff;
    color: #fff;
}

.layout.layout-fix {
    width: 1200px;
    margin: 0 auto;
}

.layout.layout-fluid {
    width: 100%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

h3 {
    margin-top: 0;
}

@media (min-width: 481px) {
    .hamburger-menu {
        display: none;
    }
}

@media (max-width: 480px) {
    .block.teaser .teaser-content .content {
        min-height: 7.1em;
    }

    .layout-fluid {
        overflow-x: hidden;
    }

    .block-carousel .slider-item .blk-sli-img {
        padding-top: 30px;
    }

    .block-carousel .slider-item .itm-circle {
        display: none;
    }

    .block-carousel .slider-item .itm-circle:first-child {
        display: inherit !important;
        margin: 0 auto;
    }

    .block-carousel .slider-item .blk-sli-ct {
        width: 100% !important;
    }

    .block-carousel .slider-item .blk-sli-ct .ttl-art {
        font-size: 35px !important;
        white-space: initial;
        text-overflow: initial;
        overflow: initial;
        max-height: 3.6em;
    }

    .block-carousel .slider-item .blk-sli-ct .desc {
        padding: 0 15px;
        height: 3em;
    }

    .block-carousel .slider-item .blk-sli-ct .desc p {
        margin: 0;
        line-height: 1em;
    }

    .block-carousel .blk-sli-menu {
        bottom: 120px;
    }

    .block-carousel .blk-sli-menu .flex-control-nav > li {
        width: 50%;
        padding: 10px 7px;
        font-size: 1.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .block-carousel .custom-navigation .sli-icon {
        top: 20%;
        background: none !important;
    }

    .block-events {
        padding: 30px 0;
        height: auto;
    }

    .block-events h1,
    .block-events h2 {
        padding: 0 0 0 20px;
        margin: 0;
    }

    .block-events h1 {
        font-size: 4rem;
        line-height: 0.8;
        margin-bottom: 1rem;
    }

    .block-events .article-circle {
        padding: 0;
    }

    .block-events .article-circle .article-item {
        margin: 1.5rem 0;
        width: 235px;
        height: 235px;
    }

    /*.block-events .bottom-slider .slides > li {
      width: 100vw !important; }
    .block-events .bottom-slider .slides > li img {
      width: 100vw !important; }*/
    .block-feature {
        height: calc(50vh - 89px);
        min-height: 50vh;
        margin-bottom: calc(50vh - 89px);
        overflow: visible;
    }

    .block-feature.teaser.teaser-left:before,
    .block-feature.teaser.teaser-left h2 {
        display: none;
    }

    .block-feature.teaser.teaser-left h1 {
        margin-bottom: 30px;
    }

    .block-feature.teaser.teaser-left .teaser-content {
        overflow: hidden;
        padding-top: calc(55vh - 89px) !important;
        position: relative;
        width: 100% !important;
        left: 0 !important;
        bottom: 0 !important;
        -webkit-transform: none !important;
        transform: none !important;
        top: auto !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        height: 100vh;
    }

    .block-feature.teaser.teaser-left .teaser-content:before {
        content: '';
        display: block;
        width: 300vw;
        height: 300vw;
        border-radius: 50%;
        background: rgba(50, 154, 212, 0.81);
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: 240px;
        z-index: -1;
    }

    .footer {
        width: 100vw;
        overflow-x: hidden;
    }

    .footer .ft-top-wrap {
        height: 356px;
        width: 100%;
        background: url(../images/demo/footer-mobile.png) left top no-repeat;
        overflow: hidden;
        padding-top: 20px;
        position: relative;
    }

    .footer .ft-top-wrap .contact-list {
        position: absolute;
        bottom: 18px;
        width: 100% !important;
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        left: 0;
    }

    .footer .ft-top-wrap .contact-list li {
        display: inline-block;
    }

    .footer .ft-top-wrap .contact-list li a {
        font-size: 12px !important;
        padding: 0 !important;
    }

    .footer .ft-top-wrap .contact-info {
        width: 100% !important;
        padding: 0 !important;
        text-align: center;
        margin-bottom: 25px;
    }

    .footer .ft-top-wrap .contact-info .ttl-info {
        color: #fff;
        margin-bottom: 9px;
    }

    .footer .ft-top-wrap .contact-form {
        width: 100% !important;
        padding: 0 !important;
    }

    .footer .ft-top-wrap .contact-form .ttl-sign-up {
        text-align: center;
        font-size: 22px !important;
        margin-bottom: 5px;
    }

    .footer .ft-top-wrap .contact-form .frm-sign-up {
        border: none;
        width: 100%;
        text-align: center;
    }

    .footer .ft-top-wrap .contact-form .frm-sign-up input {
        width: 100% !important;
        border: 1px solid #ffffff;
        margin-bottom: 10px;
        padding: 11px 15px;
        border-radius: 0;
    }

    .footer .ft-top-wrap .contact-form .frm-sign-up .button {
        border: 1px solid #ffffff;
        width: 200px !important;
        padding: 3px 15px;
    }

    .footer .ft-top-wrap .coppy-right {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 11px;
        display: block;
        width: 100% !important;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .footer .ft-bottom-wrap {
        height: 219px;
        width: 100%;
        background: url(../images/demo/footer-mobile.png) left bottom no-repeat;
        overflow: hidden;
        position: relative;
    }

    .footer .ft-bottom-wrap .btm-col-left {
        width: 100%;
        height: 76px;
    }

    .footer .ft-bottom-wrap .btm-col-center {
        width: 100%;
        line-height: 1;
        height: auto;
        margin-top: 18px;
    }

    .footer .ft-bottom-wrap .btm-col-center p {
        font-size: 12px;
        line-height: 19px;
    }

    .footer .ft-bottom-wrap .btm-col-right {
        width: 100%;
    }

    .block-support-icon {
        padding: 20px 0px;
    }

    .block-support-icon h2 {
        font-size: 1.6rem;
    }

    .block-support-icon .support-icon .icon-item {
        margin: 3px 5px;
    }

    .block-details .detail-banner .detail-ttl {
        left: 5% !important;
        top: 55vh !important;
    }

    .block-details .detail-body .specify-detail .dtl-top .dtl-tp-right,
    .block-details .detail-body .specify-detail .dtl-top .dtl-tp-left {
        width: 100%;
        padding: 0;
        height: auto;
        margin-bottom: 20px;
    }

    .block-details .detail-body .specify-detail .dtl-top .dtl-tp-right p {
        font-size: 20px;
        padding: 5px;
    }

    .block-details .detail-body .image-detail {
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .menu-open {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .menu-open .navi {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    header .hamburger-menu {
        display: block;
        position: absolute;
        right: 14px;
        padding: 10px;
        font-size: 3.6rem;
        color: white;
        top: 14px;
    }

    header .navi {
        position: fixed;
        left: 0;
        top: 88px;
        width: 100vw !important;
        height: calc(100vh - 87px);
        overflow-y: auto;
        background: rgba(50, 54, 57, 0.9);
        margin: 0;
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s;
    }

    header .navi .navi-first-line,
    header .navi .navi-second-line {
        width: 100vw;
        border: none;
    }

    header .navi .menu {
        margin: 0;
        padding: 0;
    }

    header .navi .menu .menu-item {
        display: block;
    }

    header .navi .menu .menu-item a {
        display: block;
        padding: 15px 14px;
        border-top: 1px solid #8d9296;
        font-size: 1.6rem;
    }

    header .navi .menu .menu-item.has-child:hover > .submenu {
        width: 100%;
    }

    .block-carousel .slider-item .itm-circle:last-child {
        display: none;
    }

    .block-events .article-circle .article-item {
        margin: 0px 30px !important;
    }

    .block-feature.teaser.teaser-left:before {
        left: 50%;
        bottom: auto;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 230%;
        top: 66%;
    }

    .block-feature.teaser.teaser-left .teaser-content {
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: auto;
        bottom: 0;
        width: 100%;
        padding: 4rem;
    }

    .block-default-tmp {
        padding-top: 7% !important;
        width: 90vw !important;
    }

    .block-default-tmp .default-ttl h3 {
        font-size: 3rem !important;
    }

    .block-details .detail-banner .detail-ttl {
        left: 5% !important;
        max-width: 100% !important;
        border: none !important;
    }

    .block-details .detail-banner .detail-ttl h3 {
        font-size: 33px;
        line-height: 44px;
        overflow: hidden;
        display: inline-block;
        max-height: 147px;
        border: 1px solid #d24e20;
        padding: 8px 15px !important;
    }

    .block-details .detail-body {
        padding: 0;
        padding-top: 25px !important;
    }

    .block-details .detail-body > * {
        max-width: 95vw !important;
    }

    /*.block-share {
      top: auto !important;
      width: 202px !important;
      text-align: center;
      left: 50% !important;
      -webkit-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 0 !important; }*/
    /*.block-share li {
      float: left !important; } */
}

@media (max-width: 1024px) {
    header .navi {
        width: calc(100vw - 217px - 40px);
    }

    header .navi .menu-item.has-child:hover > .submenu {
        right: 0;
        left: auto !important;
        display: none;
    }

    header .navi .menu-item.has-child .submenu {
        left: auto !important;
        right: 20px;
        transition: right 0.3s, opacity 0.3s !important;
    }

    .block-carousel .slider-item .itm-circle:last-child {
        display: none;
    }

    .block-carousel .slider-item .blk-sli-ct {
        width: calc(100vw - 100px);
        margin: 0 auto;
    }

    .block-carousel .slider-item .blk-sli-ct .ttl-art {
        font-size: 45px;
    }

    .block-events .article-circle .article-item {
        width: 250px;
        height: 250px;
        margin: 0px 15px;
    }

    .footer {
        width: 100vw;
    }

    .footer .ft-top-wrap {
        width: 100%;
        padding-top: 25px;
    }

    .footer .ft-top-wrap .ft-contact {
        margin-bottom: 12px;
    }

    .footer .ft-top-wrap .contact-info {
        padding: 0;
        width: 35%;
    }

    .footer .ft-top-wrap .contact-list {
        padding: 0;
        width: 65%;
        padding-left: 3rem;
        margin-bottom: 2rem;
    }

    .footer .ft-top-wrap .contact-list li {
        display: inline-block;
    }

    .footer .ft-top-wrap .contact-list li a {
        padding: 3px 5px;
    }

    .footer .ft-top-wrap .contact-form {
        width: 64%;
        padding-left: 3rem;
    }

    .footer .ft-top-wrap .contact-form .ttl-sign-up {
        font-size: 20px;
    }

    .footer .ft-top-wrap .contact-form .frm-sign-up .ipt {
        width: 60%;
    }

    .footer .ft-top-wrap .contact-form .frm-sign-up .button {
        width: 40%;
    }

    .footer .ft-top-wrap .coppy-right {
        padding: 10px;
        text-align: center;
    }

    .footer .ft-bottom-wrap {
        width: 100%;
    }

    .footer .ft-bottom-wrap .btm-col-left {
        width: 234px;
    }

    .footer .btm-col-center {
        width: calc(100% - 234px);
        display: table;
    }

    .footer .btm-col-center p {
        line-height: 23px;
        padding: 8px 5px;
        display: table-cell;
        vertical-align: middle;
    }

    .footer .btm-col-right {
        width: 100%;
        text-align: center;
    }

    .footer .btm-col-right .blk-social {
        margin-top: 10px;
        text-align: center;
    }

    .footer .btm-col-right .blk-social ul {
        text-align: center;
    }

    .footer .btm-col-right .blk-social li {
        width: auto;
        display: inline-block;
        float: none;
    }

    .footer .btm-col-right .blk-social li a {
        padding: 7px 10px;
    }
}

@media (min-width: 767px) and (max-width: 1023px) {
    .block-default-tmp {
        padding-top: 7% !important;
        width: 90vw !important;
    }

    .block-default-tmp .default-ttl h3 {
        font-size: 4rem !important;
    }
}

@media (min-width: 1025px) {
    .page-df-content {
        padding: 100px 100px 100px 115px;
        font-size: 1.8rem;
        line-height: 2.5rem;
        background-position: top right;
    }

    .block-about.teaser.teaser-summary-info .content {
        height: calc(1.6em * 4);
        margin-bottom: 35px;
    }

    .block-about.teaser .teaser-content h1 {
        font-family: 'ProximaNova-Semibold';
        font-size: 6rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 1.1em;
    }

    .block-about.teaser .teaser-content h2 {
        line-height: 1.2em;
        max-height: 2.4em;
        overflow: hidden;
        white-space: normal;
    }

    .block.teaser.teaser-left .teaser-content h1 {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 6.5rem;
        font-family: 'ProximaNova-Semibold';
        line-height: 6.5rem;
    }

    .block.teaser.teaser-left .teaser-content h2 {
        font-family: 'ProximaNova-Semibold';
        margin: 5px 0 16px;
        line-height: 1.3em;
        max-height: 3.9em;
        overflow: hidden;
    }

    .block.teaser.teaser-left .teaser-content .content {
        font-family: 'ProximaNova-Light';
        max-height: calc(1.7em * 6);
        overflow: hidden;
        line-height: 1.7em;
        font-size: 1.7rem;
    }

    .block.teaser.teaser-left .teaser-content .content p {
        margin: 0;
        padding: 0;
        line-height: 1.4em;
    }

    header .navi .menu {
        position: relative;
    }

    header .navi .menu .menu-item {
        position: initial;
    }

    header .navi .menu .menu-item > a:hover {
        background-color: #000;
        color: #fff;
    }

    header .navi .menu .menu-item.has-child:hover > .submenu {
        opacity: 0.8;
        left: -20px;
        top: 22px;
    }

    header .navi .menu .menu-item.has-child > .submenu {
        width: 105%;
        border-bottom: none;
        background-color: #000;
        left: -40px;
    }

    header .navi .menu .menu-item.has-child > .submenu .menu {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item {
        display: inline-block;
    }

    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item:after {
        content: '|';
        color: #7d7a7a;
    }

    header
    .navi
    .menu
    .menu-item.has-child
    > .submenu
    .menu
    .menu-item:last-child:after {
        display: none;
    }

    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item.active a {
        color: #fff;
    }

    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item:hover a {
        color: #fff;
    }

    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item a {
        color: #6fb6f4;
        text-transform: capitalize;
        padding: 8px 5px;
    }
}

* {
    box-sizing: border-box;
}

.wp-editor-container textarea.wp-editor-area {
    color: inherit;
}

.search-bkl.blk-show-list ul {
    font-size: 1.6rem;
}

/* Add new govement logo css*/
header .gov_logo {
    position: relative;
    width: 128px;
    height: 89px;
    float: left;
}

header .navi {
    width: calc(1000px - 345px);
}

/*Re-style header logo using tab <img>*/
header .gov_logo .gov-logo-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(../images/demo/govoment_logo_new.png) no-repeat;*/
    background-size: auto;
    width: 128px;
    height: 89px;
    background-position: center center;
}

header .gov_logo .gov-logo-background {
    text-align: center;
    line-height: 89px;
}

header .gov_logo .gov-logo-background img {
    height: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    header .gov_logo {
        width: calc(100vw - 217px - 60px);
        height: 89px;
        text-align: center;
    }

    header .gov_logo .gov-logo-background {
        display: inline-block;
        position: static;
    }

    header .navi {
        z-index: 10;
    }
}

@media (max-width: 480px) {
    header .gov_logo .gov-logo-background img {
        max-width: 40%;
    }
}

@media (max-width: 380px) {
    header .logo {
        width: 150px;
    }

    header .logo .logo-background {
        width: 150px;
    }

    header .gov_logo {
        width: calc(100vw - 150px - 60px);
    }
}

@media (max-width: 375px) {
    header .logo .logo-background img {
        top: -35px;
    }
}

@media (max-width: 320px) {
    header .gov_logo .gov-logo-background {
        width: 100%;
    }
}

/* [START] Author: ThinhND - fix issue http://redmine.elidev.info/issues/13048 */
@media (min-width: 667px) and (max-width: 768px) {
    .page-template-page_custom .block-about.teaser .teaser-content .content {
        min-height: 3.2em;
    }
}

/* [END] Author: ThinhND - fix issue http://redmine.elidev.info/issues/13048 */

/** Begin @ticket #18933: Apply reCaptcha to the FE registration form */
.regis-wrp .apl-capcha-label{
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
}

.regis-wrp input[name="captcha_code"]{
    margin: 0 0 10px 0;
}

.regis-wrp #_captcha_image{
    margin-bottom: 20px;
}

.account-info .info-frm #user-country, .regis-wrp #user-country {
    width: 100%;
    color: #666;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 38px;
    border: 1px solid #ccc;
    padding: 4px 5px;
    background: #f9f9f9;
    -webkit-appearance: menulist;
}

.regis-wrp .capcha-frm{
    margin-top: -20px;
}

/** End @ticket #18933: Apply reCaptcha to the FE registration form */

/*@ticket #19217*/
body.event-landing-page,
body.tax-event-type,
body.single-event {
    padding: 0.1px !important;
}
html.translated-ltr[lang="en"] body.event-landing-page,
html.translated-ltr[lang="es"] body.event-landing-page,
html.translated-ltr[lang="en"] body.tax-event-type,
html.translated-ltr[lang="es"] body.tax-event-type,
html.translated-ltr[lang="en"] body.single-event,
html.translated-ltr[lang="es"] body.single-event {
    padding-top: 40px !important;
    top: 0 !important;
}
.rating-art {
    float: left;
    width: 100%;
    position: relative;
}
.rating-box {
    float: left;
    width: 100%;
    position: relative;
}
.rating-box .box-action-wrap {
    display: inline-block;
}
.rating-box .like {
    float: left;
    position: relative;
    top: 4px;
}
.rating-box .cm {
    float: left;
    position: relative;
    top: 4px;
}
.rating-box .cm > a::before {
    content: "\f0e5";
    font-family: 'FontAwesome';
    font-size: 14px;
    margin-right: 5px;
}
.icons-list-after-thumbsup {
    vertical-align: middle;
    display: inline-block;
}
.icons-list {
    float: left;
    width: 100%;
    vertical-align: middle;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.icons-list span {
    width: auto !important;
    height: auto !important;
    margin-bottom: 0;
}
.icons-list-after-thumbsup .icons-list {
    width: auto;
    margin-left: 20px;
}
.list-category .cat-rating-box .like {
    display: inline-block;
    vertical-align: middle;
}
.category-lft-title .like,
.category-ttl .like,
.event-thumbs-up-next-the-title .like,
.more-cat-itm .more-ct h3 .like,
.more-cat-itm .box-action-wrap .like {
    display: inline;
    float: none;
    margin-left: 20px;
    margin-right: 20px;
}
.more-cat-itm .box-action-wrap .like {
    margin-left: 0;
    margin-right: 0;
}
.rating-box .box-action-wrap.box-action--empty + .icons-list-after-thumbsup  .icons-list {
    margin-left: 0 !important;
}
h1.p-ttl .like a,
.category-lft-title .like a,
.category-ttl .like a,
.event-thumbs-up-next-the-title .like a,
.more-cat-itm .more-ct h3 .like a {
    line-height: 1;
    vertical-align: inherit;
    font-size: 14px !important;
    font-weight: 400;
}
.meta.auth a:hover {
    text-decoration: underline;
}
.event-category-circle .block-events h1  {
    margin-bottom: 10px;
    font-size: 5rem;
}
.single-event .block-details-event .blog-bkl.organization .el-blk {
    position: relative;
}

.single-event .block-details-event .left-event-time {
    position: absolute;
    left: -10px;
    top: -22px;
    padding: 6px 16px;
    text-align: center;
    color: #fff;
    background: #fcb234;
    border-radius: 30px;
    z-index: 10;
    line-height: 1;
}

.single-event .block-details-event .left-event-time .month,
.single-event .block-details-event .left-event-time .date {
    font-size: 11px;
    padding-top: 6px;
    font-weight: 700;
    color: #fff;
    float: left;
    text-transform: uppercase;
}
.single-event .block-details-event .left-event-time .month span:last-child,
.single-event .block-details-event .left-event-time .date span:last-child {
    font-size: 15px;
    display: block;
    padding-top: 2px;
}
.single-event .block-details-event .left-event-time .th {
    float: left;
    width: auto;
    text-align: center;
    font-size: 15px;
    line-height: 34px;
    font-weight: 700;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: middle;
}

.single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-pic {
    max-height: 400px;
    width: 300px;
    margin: 0 20px 20px 0;
}

.single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-social {
    float: none;
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

.single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-social .b-btn.__inline_block_fix_space {
    margin-bottom: 15px;
}

.single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-social .a-desc p {
    word-break: break-all;
}

.single-event .block-details-event .event-time {
    background: #fcb234;
    padding: 7px 0;
    text-align: center;
    width: 100%;
    opacity: 0.9;
}
.single-event .block-details-event .event-time .md {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
/* more-frm-item */
.single-event .block-details-event .more-frm-itm {
    padding-bottom: 18px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
    float: left;
    width: 100%;
}
.single-event .more-frm-itm .more-pic {
    overflow: hidden;
    width: 60px;
    height: 60px;
    margin-right: 15px;
    float: left;
}
.single-event .more-frm-itm .more-ct {
    margin-right: 15px;
    float: left;
    width: calc(100% - 230px);
}
.single-event .more-frm-itm .more-ct h3 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 1.2;
}
.single-event .more-frm-itm .more-ct .meta {
    font-size: 13px;
    margin: 0;
}
.single-event .more-frm-itm .more-ct .p-date {
    font-size: 13px;
    margin: 0;
    line-height: 1.7;
}
.single-event .more-frm-itm .b-btn {
    width: 140px;
    text-align: center;
    float: left;
    line-height: 24px;
    margin-top: 10px;
}
.single-event .more-frm-itm .b-btn .btn.btn-b {
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.single-event .more-frm-itm .b-btn .show-tip {
    display: none;
    position: absolute;
    padding: 7px 15px;
    border: 1px solid #fcb234;
    background-color: #fff;
    z-index: 1000;
    height: auto;
    line-height: 18px;
    top: -15px;
    transition: all 0.3s;
}
.single-event .more-frm-itm .b-btn .show-tip::before {
    content: '';
    position: absolute;
    bottom: 0px;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid #fcb234;
    left: 50%;
    margin-left: -8px;
}
.single-event .more-frm-itm .b-btn .btn.btn-b:hover .show-tip {
    display: inherit;
    top: -62px;
    left: -10px;
    width: 150px;
    color: #666;
    font-weight: normal;
    text-transform: none !important
}
.single-event .more-frm-itm .b-btn .btn.btn-b:hover .show-tip::before {
    margin-left: -34px;
}
.single-event .org-type {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.single-event .org-type .artist-pic {
    float: left;
    height: 60px;
    margin-right: 15px;
    width: 60px;
    overflow: hidden;
}
.single-event .org-type a:hover {
    text-decoration: underline;
}
.single-event .more-frm-itm:last-child {
    border-bottom: 0;
}
.single-event .location-wrapper .location-btn {
    display: none;
}
.single-event .block-details-event .blog-bkl.organization h1.p-ttl {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}
.single-event .block-details-event .blog-bkl.organization .meta.auth {
    margin-top: 0;
}
.single-event .block-details-event .blog-bkl.organization .meta.auth a:hover {
    text-decoration: underline;
}
.single-event .block-details-event .blog-bkl.organization .b-share-cat {
    float: left;
    text-align: right;
}
.single-event .block-details-event .blog-bkl.organization .b-share-cat > a.sc {
    display: inline-block;
    margin: 0 5px 5px 0;
    border-radius: 100%;
    text-align: center;
    font-size: 13px;
}
.single-event .block-details-event .blog-bkl.organization .b-share-cat > a.pt {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    text-align: center;
}
.single-event .block-details-event .a-block.datetime ul.ind-time li {
    width: 50%;
    position: relative;
    float: left;
    display: inline-block;
    height: auto;
    line-height: 25px;
    font-size: 15px;
    color: #666;
    padding-right: 10px;
}
.single-event .block-details-content.block-details-event .load-more.b-btn {
    position: relative;
    height: 40px;
    text-align: right;
    margin-bottom: 20px;
}
.single-event .block-details-content.block-details-event .load-more.b-btn::before {
    content: '';
    height: 1px;
    background: #ddd;
    position: relative;
    top: 50%;
    display: block;
    width: 100%;
    z-index: 1;
}
.single-event .block-details-content.block-details-event .load-more.b-btn a.btn-b {
    width: 25%;
    display: inline-block;
    position: relative;
    margin: 0;
    background: #fff;
    padding: 10px 25px 10px 15px;
    text-align: center;
    border: 1px solid #fcb234;
    z-index: 10;
}
.single-event .block-details-content.block-details-event .load-more.b-btn a.btn-b::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #666 transparent transparent transparent;
    right: 10px;
    top: 18px;
}
.single-event .block-details-content.block-details-event .load-more.b-btn a.btn-b:hover {
    background-color: #fff !important;
}
#_popup_choose_event,
#_popup_google_map {
    left: 50%;
    margin: -100% 0 0 -40%;
    opacity: 0;
    position: fixed;
    top: -50%;
    visibility: hidden;
    width: 80%;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    z-index: 10000;
    height: 80%;
}

#_popup_choose_event {
    left: 70% !important;
    top: -50%;
    visibility: hidden;
    width: 40% !important;
    height: 143px !important;
}
#_popup_choose_event.active,
#_popup_google_map.active {
    opacity: 1;
    top: 50% !important;
    visibility: visible;
}

#_popup_choose_event .modal-content,
#_popup_google_map .modal-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    height: 100%;
    padding: 15px;
}

#_popup_choose_event .modal-content {
    background: #fff !important;
    position: relative;
    z-index: 20;
    border-radius: 0;
    height: 100%;
    padding: 15px;
}

#_popup_choose_event .modal-content,
#_popup_google_map .modal-content {
    position: relative;
}
#_popup_choose_event .modal-content .copy,
#_popup_google_map .modal-content .copy {
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
}
#_popup_choose_event .modal-content .copy .a-block-ct,
#_popup_google_map .modal-content .copy .a-block-ct {
    width: 100%;
}
#_popup_choose_event .modal-content .copy .el-blk .select-bkl,
#_popup_google_map .modal-content .copy .el-blk .select-bkl {
    width: 100%;
    height: 36px;
    overflow: hidden;
    float: left;
    position: relative;
    margin-bottom: 10px;
}
#_popup_choose_event .modal-content .copy .el-blk .select-bkl select.s,
#_popup_google_map .modal-content .copy .el-blk .select-bkl select.s {
    width: 100%;
    position: relative;
    float: left;
    height: 36px;
    background-color: #f9f9f9;
    font-size: 13px;
    color: #666666;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 5px;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-border-radius: 0px;
}
#_popup_choose_event .modal-content .copy .el-blk .select-bkl .arrow-down,
#_popup_google_map .modal-content .copy .el-blk .select-bkl .arrow-down {
    background-repeat: no-repeat;
    background-position: 0 15px;
    color: #666;
    display: inline-block;
    position: absolute;
    right: 0px;
    pointer-events: none;
    width: 20px;
    padding: 6px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    z-index: 100;
}
#_popup_choose_event .modal-content .copy .b-btn.__inline_block_fix_space {
    width: 100%;
    text-transform: uppercase;
}
#_popup_choose_event .modal-content .copy .b-btn.__inline_block_fix_space a.btn-b,
#_popup_google_map .modal-content .copy .b-btn.__inline_block_fix_space a.btn-b {
    text-transform: uppercase;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
#_popup_choose_event .fa.fa-close,
#_popup_google_map .fa.fa-close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -12px;
    right: -12px;
    cursor: pointer;
    border-radius: 50px;
}
#_popup_choose_event .fa.fa-close::before,
#_popup_google_map .fa.fa-close::before {
    top: 5px;
    left: 7px;
    position: absolute;
    color: #fff;
}
#_popup_choose_event .modal-content,
#_popup_google_map .modal-content{
    background: #fff;
}
.single-event .block-details-event .detail-conten-body .search-bkl.social-share {
    position: relative;
    top: 0;
}
@media (max-width: 960px) {
    .single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-pic {
        width: 200px;
    }
}
@media (max-width: 790px) {
    #_popup_choose_event.active {
        width: 90% !important;
        left: calc(90%/2) !important;
    }
    #_popup_choose_event .modal-content,
    #_popup_google_map .modal-content {
        width: 100%;
    }
    #_popup_choose_event .modal-content .a-block-ct,
    #_popup_google_map .modal-content .a-block-ct {
        width: 100%;
    }
    .single-event .more-frm-itm .more-pic {
        margin-left: 0;
    }
    .single-event .more-frm-itm .more-ct {
        float: left;
        width: calc(100% - 75px);
        margin-left: 0;
        margin-right: 0;
    }
    .single-event .more-frm-itm .b-btn {
        float: left;
        width: calc(100% - 75px);
        margin-left: 75px;
    }
}
@media (max-width: 768px) {
    .single-event .block-details-event .left-event-time {
        left: -1px;
        top: -20px;
    }

}
@media (max-width: 480px) {
    .single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-pic {
        float: none;
        width: 100%;
        text-align: center;
    }
    .single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-social .b-btn.__inline_block_fix_space {
        margin-bottom: 0px;
    }
    .single-event .block-details-event .b-btn.__inline_block_fix_space .btn.btn-b {
        display: block;
        margin-bottom: 10px;
    }
    .single-event .block-details-event .detail-conten-body .blog-bkl.organization .art-pic img {
        height: auto;
        width: auto;
        max-height: 100%;
    }
    .single-event .block-details-event .a-block.datetime ul.ind-time li {
        padding-right: 0;
        width: 100%;
    }
}

.single-event .block-details-event .a-block  .access-listing  > li {
    min-height: 45px;
}
.single-event .block-details-event .art-social-item {
    float: left;
    margin: 0 10px 10px 0;
}
.single-event .block-details-event .art-social-item .fa {
    color: #666;
}
.single-event .block-details-event .art-social-item a {
    color: #666;
}
.single-event .block-details-event .art-social-item a:hover {
    color: #fcb234;
}
.single-event .block-details-event .art-social-item .slash {
    display: inline-block;
    font-size: 28px;
    margin-left: 5px;
    margin-top: -5px;
}
.single-event .more-frm-itm .b-btn .btn.btn-b:hover .show-tip {
    background-color: #fff !important;
}

.single-event .apl-internal-content ul {
    margin-left: 0;
}

.single-event .apl-internal-content ul li {
    list-style-position: inside;
}

@media (max-width: 790px) {
    .single-event .more-frm-itm .more-ct .rating-box {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 660px) {
    .single-event .block-details-content.block-details-event .load-more.b-btn a.btn-b {
        width: 140px;
    }
}
@media (max-width: 480px) {
    .single-event .block-details-event .a-block  .access-listing  > li {
        width: 100%;
        min-height: auto;
    }
}

/** Event category page */
/*Style follow class name: event-category-circle*/
.event-category-circle .block .breadcrumbs + * {
    margin-top: 20px;
}
footer {
    float: left;
    width: 100%;
}
.event-category-circle .block {
    width: 100%;
    float: left;
}
.event-category-circle .block-events h2 {
    padding-right: 0px;
    padding-left: 0px;
}
.event-category-circle .block .social-share {
    position: relative;
    top: 0px;
    text-align: right;
    margin-bottom: 20px;
}
.event-category-circle .category-page-event-box:first-child {
    float: left;
    width: 100%;
}
.event-category-circle .category-page-event-box {
    clear: both;
}
.event-category-circle .list-category {
    clear: both;
}
.event-category-circle .category-page-event-box .astro-featr {
    float: left;
    width: 100%;
    clear: both;
}
.event-category-circle .blog-itm {
    float: left;
    width: 100%;
    clear: both;
}
.event-category-circle .blog-itm .pic {
    float: left;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0 20px 20px 0;
}
.event-category-circle .blog-itm .pic::after,
.event-category-circle .spotlight-top .pic::after {
    top: 0;
    content: '';
    display: block;
    width: 93%;
    height: 93%;
    position: absolute;
    border: 3px solid #ff6714;
    border-radius: 50%;
    z-index: 0;
}
.event-category-circle .spotlight-top {
    margin-bottom: 20px;
}
.event-category-circle .spotlight-top .pic {
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0 auto 20px auto;
}
.event-category-circle .spotlight-top .pic img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc;
}
.event-category-circle .spotlight-top .b-btn {
    text-align: center;
}
.event-category-circle .spotlight-top .b-btn .btn {
    padding: 0 15px;
    line-height: 38px;
    font-weight: 700;
}
.event-category-circle .spotlight-top .box-action-wrap .like {
    display: inline-block;
}
.event-category-circle .blog-itm .a-desc {
    margin-top: 15px;
}
.event-category-circle article.blog-itm .left-event-time {
    background-color: transparent;
    margin-bottom: 10px;
}
.event-category-circle .blog-itm .pic .article-title {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc;
}
.event-category-circle .blog-itm .b-btn .btn:hover .show-tip {
    background-color: #fff !important;
    color: #000;
}
.event-category-circle .list-category {
    border-top: 5px solid #ccc;
    border-bottom: 5px solid #ccc;
    margin-bottom: 20px;
}
.event-category-circle .list-category .category-itm {
    clear: both;
}
.event-category-circle article.category-itm .left-event-time {
    background-color: transparent;
    margin-bottom: 10px;
}
.event-category-circle article.category-itm .pic {
    float: left;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 15px 0 0;
}
.event-category-circle article.category-itm .pic::after {
    top: 0;
    content: '';
    display: block;
    width: 93%;
    height: 93%;
    position: absolute;
    border: 3px solid #ff6714;
    border-radius: 50%;
    z-index: 0;
}
.event-category-circle article.category-itm .pic img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc;
}
.event-category-circle article.category-itm .category-t {
    margin-left: 215px;
}
.event-category-circle article.category-itm .b-btn {
    margin-top: 10px;
}
.event-category-circle .list-category .category-itm {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
}
.event-category-circle .list-category .category-itm:last-child {
    border-bottom: 0;
}
.event-category-circle .list-more-category {
    float: left;
    width: 100%;
}
.event-category-circle .more-cat-itm {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c8c8c8;
}
.event-category-circle .more-cat-itm:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
}
.event-category-circle .more-cat-itm .more-pic {
    float: left;
    width: 150px;
    height: 150px;
    position: relative;
    margin: 0 15px 0 0;
}
.event-category-circle .more-cat-itm .more-pic::after {
    top: 0;
    content: '';
    display: block;
    width: 93%;
    height: 93%;
    position: absolute;
    border: 3px solid #ff6714;
    border-radius: 50%;
    z-index: 0;
}
.event-category-circle .more-cat-itm .more-pic img {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc;
}
.event-category-circle .more-cat-itm .more-ct {
    float: left;
    width: calc(100% - 325px);
    margin-right: 10px;
}
.event-category-circle .more-cat-itm .b-btn {
    float: left;
    width: 150px;
}
.event-category-circle .more-cat-itm .b-btn .btn {
    width: 100%;
}
.event-category-circle .more-cat-itm .b-btn .btn + .btn {
    margin-top: 5px;
}
.event-category-circle .b-btn .btn {
    position: relative;
}

.event-category-circle .b-btn .btn:hover .show-tip {
    display: block;
    transition: all 0.3s;
    color: #000;
    bottom: auto;
    top: -77px;
}
.event-category-circle .more-cat-itm .b-btn .btn:hover .show-tip {
    background-color: #fff !important;
    color: #000;
}

.event-category-circle .load-more.b-btn {
    position: relative;
    text-align: right !important;
}
.event-category-circle .load-more.b-btn::before {
    z-index: 1;
    content: '';
    height: 1px;
    background: #c8c8c8;
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
}
.event-category-circle .load-more.b-btn .btn-b {
    position: relative;
    z-index: 2;
    padding: 10px 30px 10px 20px;
    background-color: #fff !important;
    border: 1px solid;
}
.event-category-circle .load-more.b-btn .btn-b:hover {
    background-color: #fff !important;
}
.event-category-circle .load-more.b-btn .btn-b::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #666 transparent transparent transparent;
    right: 8px;
    top: 17px;
}
.event-category-circle .load-more.b-btn {
    float: left;
    width: 100%;
    margin-top: 30px;
}
@media (max-width: 768px) {
    .event-category-circle .blog-itm {
        margin-bottom: 10px;
    }
    .event-category-circle .blog-itm .pic {
        width: 220px;
        height: 220px;
    }
    .event-category-circle article.category-itm .pic {
        width: 170px;
        height: 170px;
    }
    .event-category-circle .more-cat-itm {
        margin-bottom: 10px;
    }
}

@media (max-width: 640px) {
    .event-category-circle .block .social-share {
        position: relative;
        top: 0;
        margin-bottom: 15px;
        text-align: right;
    }
    .event-category-circle .list-category .category-itm .b-btn .btn {
        width: 100%;
        text-align: center;
    }
    .event-category-circle .list-category .category-itm .b-btn .btn + .btn {
        margin-top: 10px;
    }
    .event-category-circle .list-category .category-itm .b-btn .btn:hover .show-tip {
        top: -40px;
    }
}
@media (max-width: 480px) {
    .event-category-circle .block-events h2 {
        font-size: 2rem;
    }
    .event-category-circle .blog-itm .b-btn .btn {
        width: 100%;
    }
    .event-category-circle .blog-itm .pic {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 210px;
        height: 210px;
    }
    .event-category-circle article.category-itm .category-t {
        margin-left: 0;
    }
    .event-category-circle article.category-itm .pic {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        width: 140px;
        height: 140px;
    }
    .event-category-circle .list-category .category-itm .b-btn .btn {
        width: 100%;
        border: 1px solid;
        text-align: center;
    }
    .event-category-circle .blog-itm .b-btn .btn + .btn {
        margin-top: 10px;
    }
    .event-category-circle .more-cat-itm .more-pic {
        width: 100px;
        height: 100px;
        margin: 0 10px 0 0;
    }
    .event-category-circle .more-cat-itm .more-ct {
        width: calc(100% - 110px);
        margin-right: 0;
    }
    .event-category-circle .more-cat-itm .b-btn {
        width: calc(100% - 110px);
        margin-left: 110px;
        margin-top: 10px;
    }
    .event-category-circle .more-cat-itm .b-btn .btn {
        width: 100%;
        text-align: center;
    }
    .event-category-circle .more-cat-itm .b-btn .btn:hover .show-tip {
        top: -42px;
    }

}

@media (max-width: 380px) {
    .event-category-circle .spotlight-top .b-btn .btn {
        display: block;
    }
    .event-category-circle .spotlight-top .b-btn .btn:hover .show-tip {
        top: 42px;
    }
    .event-category-circle .spotlight-top .b-btn .btn + .btn {
        margin-top: 5px;
    }
}

.event-category-circle .list-category .category-itm .b-btn .btn,
.event-category-circle .list-category .category-itm .b-btn .btn span,
.event-category-circle .b-btn .btn{
    color: white;
}

.event-category-circle .b-btn .btn span{
    color: white ;
}

.event-category-circle .block-events h1 a{
    color: #444;
    font-size: 4rem;
}

/*@ticket #19219 Update style search box*/
/*Update style search box*/
.top-search.event-widget-search-hor {
    position: relative;
    top: 0 !important;
    left: 0;
    transform: translate(0, 0);
    max-width: 1000px;
    margin: 20px auto 10px !important;
    background-color: transparent;
}

.top-search.event-widget-search-hor .inner::before,
.top-search.event-widget-search-hor .inner::after {
    display: table;
    content: "";
    line-height: 0;
}

.top-search.event-widget-search-hor .inner::after {
    clear: both;
}

.top-search.event-widget-search-hor .clearfix::before,
.top-search.event-widget-search-hor .clearfix::after {
    display: table;
    content: "";
    line-height: 0;
}

.top-search.event-widget-search-hor .clearfix::after {
    clear: both;
}

.top-search.event-widget-search-hor .top-search-row {
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
}
.top-search.event-widget-search-hor .top-search-row .btn-l {
    position: relative !important;
    float: left;
    margin-right: 11px;
    height: 29px !important;
    width: 29px !important;
    color: #fff !important;
    padding: 0;
    margin-bottom: 6px;
}
.top-search.event-widget-search-hor .top-search-row .btn-l.s {
    margin-top: 7px;
}

.top-search.event-widget-search-hor .top-search-row .btn.btn-l.s i {
    width: 29px !important;
    height: 29px !important;
}
.top-search.event-widget-search-hor .top-search-row .btn-l .fa {
    font-size: 20px;
    transform: scale(-1, 1);
}

.top-search.event-widget-search-hor .top-search-row form .inp.inp-txt {
    font-size: 13px;
    background-color: #fff;
}

.top-search.event-widget-search-hor .top-search-row #search-auto-complate-append-here-header {
    float: left;
    width: 180px;
    vertical-align: middle;
    height: 29px;
    margin-right: 10px;
    padding-top: 0;
    position: relative;
    margin-top: 7px;
    margin-bottom: 6px;
}

.top-search.event-widget-search-hor .top-search-row .event-search {
    float: left;
    vertical-align: middle;
    width: 180px;
    height: 29px;
    margin-right: 10px;
}

.top-search.event-widget-search-hor .top-search-row .el-blk {
    margin: 0;
    position: relative;
    float: left;
    padding: 0;
    width: 180px;
    vertical-align: middle;
    height: 29px;
    margin-right: 10px;
    margin-top: 7px;
    margin-bottom: 6px;
}

.top-search.event-widget-search-hor .top-search-row .select-bkl {
    width: 100%;
    height: 29px;
    overflow: hidden;
    float: left;
    position: relative;
}

.top-search.event-widget-search-hor .top-search-row .select2-container .select2-selection--single {
    height: 29px;
}

.top-search.event-widget-search-hor .top-search-row .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 29px;
    color: #444;
}

.top-search.event-widget-search-hor .top-search-row .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 25px;
    top: 2px;
}

.top-search.event-widget-search-hor .top-search-row .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 0;
    left: 0;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 0;
    width: 0;
    line-height: .75em;
    display: inline-block;
    font: normal normal normal 14px FontAwesome;
    font-size: 1.33333333em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.top-search.event-widget-search-hor .top-search-row .select2-container--default .select2-selection--single .select2-selection__arrow b::before {
    content: "\f0dd";
}

.top-search.event-widget-search-hor .top-search-row #event-location-sel-hor+.select2-container .selection .select2-selection .select2-selection__rendered .select2-selection__placeholder,
.top-search.event-widget-search-hor .top-search-row #event-location-sel-rgt+.select2-container .selection .select2-selection .select2-selection__rendered .select2-selection__placeholder {
    color: #444;
}

.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon {
    width: 262px;
}

.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon .accessibilyty-icons-search {
    float: left;
    width: 100%;
    position: relative;
}

.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon .accessibilyty-icons-search .accessibilyty-dropdown span {
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 35px;
}

.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon .accessibilyty-dropdown {
    width: 100%;
    position: relative;
}

.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon .accessibilyty-dropdown dt {
    display: block;
    height: 29px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
}

.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon .accessibilyty-dropdown dt a {
    color: #444;
}

.top-search.event-widget-search-hor .top-search-row #search-event .accessibilyty-dropdown dt::after,
.top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibilyty-dropdown dt::after {
    font-size: 17px;
    color: #444;
}

.top-search.event-widget-search-hor .top-search-row .el-blk-quicksearch {
    display: none;
    float: left;
    position: relative;
}

.top-search.event-widget-search-hor .top-search-row .el-blk-quicksearch label {
    color: #ccc;
    font-size: 13px;
    line-height: 1;
}

.top-search.event-widget-search-hor .top-search-row .el-blk-quicksearch .list-quicksearch {
    margin-top: -2px;
}

.top-search.event-widget-search-hor .top-search-row .el-blk-quicksearch .list-quicksearch a {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    border: 1px solid #999;
    padding: 0 3px;
}

.top-search.event-widget-search-hor .top-search-row .s-rw {
    float: left;
    position: relative;
    display: inline-block !important;
    margin-bottom: 12px;
    width: auto;
}

.top-search.event-widget-search-hor .top-search-row .s-rw.cln {
    margin-top: 7px;
    margin-right: 10px;
}

.top-search.event-widget-search-hor .top-search-row #top-c-s+.ui-datepicker-trigger,
.top-search.event-widget-search-hor .top-search-row #top-c-e+.ui-datepicker-trigger {
    display: none;
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt {
    position: relative;
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt>span {
    display: block;
    height: 29px;
    float: left;
    margin: 0 2px 0 0;
    width: 160px;
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt>span:nth-child(2n) {
    margin: 0;
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt>span .inp {
    width: 100%;
    display: block;
    float: left;
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt .fa {
    position: absolute;
    z-index: 2;
    top: 8px;
    color: #999;
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt .fa.ico-s {
    left: calc(50% - 20px);
}

.top-search.event-widget-search-hor .top-search-row .calendar-ipt .fa.ico-e {
    left: calc(100% - 20px);
}

.top-search.event-widget-search-hor .top-search-row .form-event .s-rw .inp {
    height: 29px;
}

.top-search.event-widget-search-hor .top-search-row .s-rw .lb-range {
    color: #444;
    width: auto !important;
    max-width: none !important;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 1px !important;
}

.top-search.event-widget-search-hor .top-search-row .s-rw .lst-lik {
    width: auto !important;
    max-width: none !important;
}

.top-search.event-widget-search-hor .top-search-row .lst-lik {
    margin-right: 10px !important;
    margin-top: 0;
}

.top-search.event-widget-search-hor .top-search-row .s-rw .lst-lik a {
    display: inline-block;
    border: 1px solid #999;
    font-size: 11px;
    color: #444;
    padding: 3px 5px;
    margin: 0 1px 5px 0;
    line-height: 1;
    cursor: pointer;
}

.top-search.event-widget-search-hor .top-search-row .s-rw .lst-lik a.active {
    color: #fff;
}

.top-search.event-widget-search-hor .top-search-row .form-event .s-rw .lst-lik span.no-line {
    font-size: 11px;
    margin: 0 1px;
    color: #444;
    padding: 3px 5px;
    line-height: 1;
}

.top-search.event-widget-search-hor .top-search-row .s-rw input[type="checkbox"] {
    position: relative;
    margin-top: 15px;
    margin-bottom: 0;
    vertical-align: middle;
    display: inline-block;
}

.top-search.event-widget-search-hor .top-search-row .s-rw .offers {
    display: inline-block;
    width: auto;
    margin-top: 17px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #666;
    margin-bottom: 3px;
    vertical-align: middle;
    margin-right: 15px;
}

.top-search.event-widget-search-hor .top-search-row .wrap-form-action {
    float: left;
    position: relative;
    display: inline-block;
}

.top-search.event-widget-search-hor .top-search-row .sub-blk::before,
.top-search.event-widget-search-hor .top-search-row .sub-blk::after {
    display: table;
    content: "";
    line-height: 0;
}

.top-search.event-widget-search-hor .top-search-row .sub-blk::after {
    clear: both;
}

.top-search.event-widget-search-hor .top-search-row .sub-blk {
    display: inline-block;
    float: left;
    width: 100px;
    height: 32px;
    margin-top: 2px;
    margin-left: 0;
}
.top-search.event-widget-search-hor .top-search-row .apl-search-btn-reset {
    margin-left: 10px;
}

.top-search.event-widget-search-hor .top-search-row .sub-blk .btn-l:last-child {
    margin-right: 0px;
}

.top-search.event-widget-search-hor .top-search-row .sub-blk .btn.btn-l.lgr.fr {
    display: inline-block;
    width: 100px !important;
    height: 32px !important;
    margin-left: 0;
}

@media (max-width: 939px) {
    .top-search.event-widget-search-hor .top-search-row #search-auto-complate-append-here-header {
        width: 140px;
    }

    .top-search.event-widget-search-hor .top-search-row .event-search {
        width: 140px;
    }

    .top-search.event-widget-search-hor .top-search-row .el-blk {
        width: 140px;
    }

    .top-search.event-widget-search-hor .top-search-row .select2-container {
        width: 140px;
        min-width: 140px;
    }

    .top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon {
        width: 220px;
    }
}

@media (max-width: 768px) {
    .top-search.event-widget-search-hor {
        height: auto !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .top-search.event-widget-search-hor .el-blk {
        display: inline-block;
    }
}

@media (max-width: 630px) {
    .block .breadcrumbs {
        padding-right: 0 !important;
    }
    .block .breadcrumbs .social-share {
        position: relative;
        top: 0;
        margin-top: 10px;
        text-align: right;
        width: 100%;
    }
    .top-search.event-widget-search-hor {
        margin-top: 10px !important;
    }
}

@media (max-width: 480px) {
    body.admin-bar .top-search.event-widget-search-hor {
        top: 0 !important;
    }
    .top-search.event-widget-search-hor {
        top: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0px;
    }

    .top-search.event-widget-search-hor .inner {
        width: 100%;
    }

    .top-search.event-widget-search-hor .top-search-row .btn-l.s {
        margin-bottom: 7px;
        margin-top: 0px;
    }

    .top-search.event-widget-search-hor .top-search-row #search-auto-complate-append-here-header {
        width: calc(100% - 40px);
        margin-right: 0;
        margin-bottom: 7px;
        margin-top: 0;
    }

    .top-search.event-widget-search-hor .top-search-row .event-search {
        width: 100%;
        margin-right: 0;
    }

    .top-search.event-widget-search-hor .top-search-row .el-blk {
        width: 100%;
        margin-right: 0px;
    }

    .top-search.event-widget-search-hor .top-search-row .select2-container {
        width: 100%;
        min-width: 100%;
    }

    .top-search.event-widget-search-hor .top-search-row #search-event-m-t .accessibility-icon {
        width: 100%;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw.cln {
        margin-top: 0;
        margin-right: 0px;
        display: none !important;
        width: 100%;
    }

    .top-search.event-widget-search-hor .top-search-row .calendar-ipt>span {
        width: calc((100% - 3px)/2);
    }

    .top-search.event-widget-search-hor .top-search-row .calendar-ipt .fa.ico-s {
        left: calc(50% - 22px);
    }

    .top-search.event-widget-search-hor .top-search-row .calendar-ipt .fa.ico-e {
        left: calc(100% - 22px);
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw {
        width: 100%;
        margin-bottom: 10px;
    }

    .top-search.event-widget-search-hor .top-search-row .el-blk {
        margin-top: 0;
        margin-bottom: 7px;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw input[type="checkbox"] {
        margin-top: 0;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw .offers {
        margin-top: 0;
        margin-right: 0;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw.quick-search-hidden {
        display: none !important;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw.quick-search-hidden.displayed {
        display: block !important;
    }

    .top-search.event-widget-search-hor .top-search-row .wrap-form-action {
        width: 100%;
    }

    .top-search.event-widget-search-hor .top-search-row .wrap-form-action .sub-blk {
        margin-left: 0;
        width: 100%;
    }

    .top-search.event-widget-search-hor .top-search-row .sub-blk {
        display: none;
        margin-top: 0;
    }

    .top-search.event-widget-search-hor .top-search-row .sub-blk .btn.btn-l.lgr.fr {
        width: 100% !important;
    }

    .top-search.event-widget-search-hor .top-search-row .el-blk.displayed {
        display: block !important;
    }
    .top-search.event-widget-search-hor .top-search-row .s-rw.cln.displayed {
        display: block !important;
    }

    .top-search.event-widget-search-hor.expand .s-rw.quick-search-hidden {
        display: block !important;
    }

    .top-search.event-widget-search-hor .top-search-row .sub-blk.displayed {
        display: block;
    }

    .top-search.event-widget-search-hor.expand .top-search-row .s-rw.cln {
        display: block !important;
    }

    .top-search.event-widget-search-hor.expand .top-search-row .sub-blk {
        display: block !important;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw .lb-range {
        font-size: 14px;
        margin-bottom: 4px !important;
    }

    .top-search.event-widget-search-hor .top-search-row .s-rw .lst-lik a {
        padding: 6px 5px;
    }

    .top-search.event-widget-search-hor .top-search-row .lst-lik {
        margin-right: 0 !important;
    }
}

.event-category-circle .list-category .category-itm .b-btn .btn {
    border-width: 1px;
    border-style: solid;
}

.event-landing-page .block-events--org,
.event-landing-page .block-events--org .search-artist-list .article-item .content-teaser a >.ev-tt,
.event-landing-page .block-events--org .search-artist-list .article-item .description,
.event-landing-page .block-events--org .search-artist-list .article-item .category-link a{
    color: #444;
}

.event-landing-page .block-events--org .search-artist-list .article-item:hover .description{
    color: #a7a7a7;
}

.block .breadcrumbs ul {
    text-overflow: ellipsis;
}
.block .breadcrumbs ul li {
    display: contents !important;
}

@media (min-width: 960px) {
    .block .breadcrumbs {
        padding-right: 360px !important;
    }
}
@media (max-width: 960px) {
    .block .breadcrumbs {
        padding-right: 360px !important;
    }
}
@media (min-width: 630px) {
    .block .breadcrumbs ul li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
@media (max-width: 630px) {
    .block .breadcrumbs {
        padding-right: 0 !important;
    }
}
@media (max-width: 480px) {
    .block .breadcrumbs ul {
        overflow: hidden !important;
    }
}

/** @ticket #19325*/
body.user-dashboard-body {
    padding: 0.1px !important;
}
html.translated-ltr[lang="en"] body.user-dashboard-body,
html.translated-ltr[lang="es"] body.user-dashboard-body {
    padding-top: 40px !important;
    top: 0 !important;
}
html.no-js {
    margin-top: 0px !important;
}
html.translated-ltr[lang="en"] body.logged-in.user-dashboard-body,
html.translated-ltr[lang="en"] body.logged-in.user-dashboard-body,
body.logged-in.user-dashboard-body {
    padding-top: 32px !important;
}
.expend-video, .expend {
    text-align: right;
    line-height: 36px;
}
.apply-all a .fa-3x,
.evt-blk .tt-bar .cl a .fa-3x {
    font-size: 3em;
}
.evt-blk .tt-bar .cl h4 {
    margin: 0px;
}
.evt-blk .information p .fa-calendar,
.evt-blk .information p .fa-link,
.nav-sidebar .dsb-main-nav>ul>li .l-ico .fa-2x {
    font-size: 2em
}
@media (max-width: 782px) {
    html.no-js {
        margin-top: 0px !important;
    }
    body.logged-in.user-dashboard-body,
    html.translated-ltr[lang="en"] body.logged-in.user-dashboard-body,
    html.translated-ltr[lang="en"] body.logged-in.user-dashboard-body {
        padding-top: 46px !important;
    }
}
@media(max-width: 1250px) and (min-width:961px) {
    .main-wrap .default-content.rich-txt {
        width: auto !important;
    }
}
@media(max-width: 960px) {
    .main-wrap .default-content.rich-txt {
        width: auto !important;
    }
}
@media (max-width: 768px) {
    body.user-dashboard-body header .hamburger-menu {
        display: block !important;
    }
}
@media (max-width: 767px) {
    .dsb-l {
        min-width: 60px !important;
    }
}
@media (max-width: 480px) {
    .dsb-l {
        min-width: 42px !important;
    }
}
@media (max-width: 380px) {
    .top-head .logo {
        width: 150px;
    }
}
/** End @ticket #19325 */