.page-template-page_custom .block.teaser.teaser-left:before {
  left: -108%;
}
@media (max-width: 480px) {
  .page-template-page_custom .block-feature {
    height: calc(100vh - 89px);
    margin-bottom: 0;
  } 
  .page-template-page_custom .block-feature.teaser.teaser-left .teaser-content {
    position: absolute;
    padding-top: 55vh !important;
  }
  .page-template-page_custom .block-feature.teaser.teaser-left .teaser-content:before {
    background-color: rgba(210, 78, 32, 0.77);
    top: 50vh !important;
  }
}

@media (max-width: 768px) {
  .page-template-page_custom .block-about.teaser .teaser-content {
    width: 100%;
  }
  .page-template-page_custom .block-about.teaser .teaser-content h1 {
    font-size: 3.5rem;
  }

  .page-template-page_custom .block-about.teaser .teaser-content h2 {
    font-size: 2rem;
  }

  .page-template-page_custom .block-about.teaser .teaser-content .content {
    font-size: 1.5rem;
    min-height: 6.7em;
  }

  .page-template-page_custom .block-feature.teaser.teaser-left h1 {font-size: 3.5rem;margin-bottom: 10px;}
  .page-template-page_custom .block-feature.teaser.teaser-left:before {
    left: 50%;
    bottom: auto;
    width: 230%;
    top: 61%;
  }
}