/** BLOCKS CSS **/
/**
 * TOP HEADER
 */
 #topbar{
    position: relative;
    background: #000;
    height: 70px;
    width: 100%;
    left: 0;
    top:0;
    z-index: 999;
 }
 .topbar-content{
    height: 70px;
 }
 .top-blk.login-top.topbar{
    float: right;
    padding-top: 40px;
    a{
        color: #fff;
        font-weight: 700;
        margin-right: 10px;
        &:hover{
            color: @ora;
        }
    }
 }
 span.logo-banner a{
    max-height: 70px;
    display: inline-block;
    overflow: hidden;
    img{
        max-height: 70px;
    }
 }

body {
    &.admin-bar {
        #topbar {
            &:not(.topbar--static) {
                top: 32px; /*admin bar height*/
            }
        }
    }
}


.top-head {
    height: 105px;
    position: relative;
    text-align:right;
    padding:0 10px;
    background-color:#fff;
    .clearfix();
    .logo {
        float: left;
        left:0;
        padding: 15px 0 10px 0;
        a {
            display: block;
            img{
                height:auto;
                width:100%;
            }
        }
    }
    .top-blk {
        a {
            color: #999;
            .border-radius(5px);
            &:hover {
                color: @ora;
            }
        }
        &.social-top {
            display:inline-block;
            margin: 30px 0 0 30px ;
            vertical-align:middle;
            height:64px;
            a {
                &:hover {
                    color: #fff;
                }
            }
        }
        &.login-top {
            display:inline-block;
            margin: 30px 0 0 0 ;
            vertical-align:middle;
            height:55px;
            text-align:center;
            a{
                font-weight:700;
                margin-right:10px;
                &:last-child{
                    margin-right:0;
                }
            }
        }
        &.search-box {
            display:inline-block;
            margin: 30px 0 0 30px;
            span.search-lbl {
                display: none;
            }
            .form-search{
                text-align:left;
            }
        }
    }
    .main-menu.tablet-show{
        text-align:left;
    }
}

  /*vu*/
  .top-head .top-blk.search-box ~ .mobile-menu {
      width: 48%;
      position: relative;
        float: right;
  }
    .form-search {
        border: 1px solid #ccc;
        background: #f9f9f9;
        padding: 5px;
        .inp.inp-txt {
            border: none;
        }
    }
    .social-top {
        a {
            display: inline-block;
            width: 30px;
            height: 30px;
            color: #999;
            text-align: center;
            i {
                vertical-align: -12px;
            }
        }
        a {

            &.lk {
                &:hover {
                    background-color: #005aa8;
                }
            }
            &.fb {
                &:hover {
                    background-color: #0089ff;
                }
            }
            &.go {
                &:hover {
                    background-color: #e32500;
                }
            }
            &.tu {
                &:hover {
                    background-color: #004b6a;
                }
            }
            &.yt {
                &:hover {
                    background-color: #e32500;
                }
            }
        }
    }
    .login-top {
        padding: 14px 0 0 0;
        .nav {
            li {
                font-weight: 700;
                &:first-child {
                    margin: 0 20px 0 0;
                }
            }
        }
    }
/**
 * MAIN SLIDER
 */
.main-slider.full {
    height: 350px;
    background: #fff;
    margin-top:15px;
    .slides {
        a {
            display: block;
        }
        .inner{
            position:relative;
        }
    }
}
.main-slider.mini {
    background: #fff;
}
.main-slider.mini .slides .i-slider a img{
    height: auto;
    width:100%;
    vertical-align: middle;
    position:relative;
}
/*.loading{
    position:absolute;
    z-index:5000;
    left:50%;
    margin-left:-16px;
    display:none;
    width:32px;
    height:32px;
    img{
        width:32px;
        height:32px;
    }
}*/
.main-slider-overlay {
    float: left;
    width: 100%;
    background: white;
    height: 350px;
    position: relative;
}
.loading {
    position: absolute;
    z-index: 5000;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    top: ~"calc( 210px - 32px )";
}
/* FULL WIDTH */
.fullw {
    padding: 20px 0 40px 0;
    background-color:#fff;
    &.clients {
        border-top: 1px solid #ddd;
        .f-ttl {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 15px 0;
        }
        .inner {
            > p {
                font-weight: 300;
                line-height: 1.7;
                padding: 0 100px;
            }
        }
    }
}
.list-logo {
    text-align: center;
    ul {
        display: inline-block;
    }
    li {
        > a {
            display: block;
            width: 180px;
            height: 102px;
        }
    }
}
/* FOOTER BLOCK */
#back-to-top{
    background: none;
    margin: 0;
    position: fixed;
    bottom: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
    z-index: 100;
    text-decoration: none;
    color: #ffffff;
    background-color:@ora;
    opacity:0.7;
    display:none;
}
#back-to-top > i{
    position: absolute;
    left:7px;
    top:8px;
}
#back-to-top:hover{
    opacity:1;
    color:#fff;
}
.ft-blk {
    .ft-ttl {
        font-size: 20px;
        font-weight: 400;
        margin: 0 0 15px 0;
    }
}
    .tw-blk {
        .item {
            margin: 0 0 15px 0;
            .clearfix();
            &:last-child {
                margin: 0;
            }
            .img {
                width: 50px;
                height: 50px;
                margin: 0 ;
                float: left;
                overflow: hidden;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .name {
                .f-biiter();
                color: @red;
                a {
                    color: #222;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .dsc {
                a {
                    color: #222;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .dateline {
                color: #999;
                a {
                    color: #999;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            p {
                margin: 0 0 0 60px;
            }
        }
    }
.contact-info {
    p {
        margin: 0 0 10px 0;
        span {
            display: inline-block;
            width: 20px;
        }
        label {
            font-weight: 700;
            margin: 0 10px 0 0;
        }
    }
}
/**
 * RIGHT COL
 */
.r-blk {
    border-bottom: 1px solid #eee;
    padding: 0 0 30px 0;
    margin:  0 0 30px 0;
    &.black {
        .r-ttl {
            color: #666;
            .btn {
                line-height: 1;
                font-family: 'Open Sans', arial;
            }
        }
    }
    .r-ttl {
        height:auto;
        line-height: 35px;
        font-size: 18px;
        font-weight:300;
        color: @ora;
        margin: 0 0 15px 0;
        i.fa {
            margin: 0 15px 0 0;
            color: #666;
        }
    }
    .r-ttl.datetime{
        height:36px;
        background: #000;
        color:#fff;
        padding: 0 5px;
        font-weight: 500;
    }
    .artist-search{
        width:100%;
        float:left;
        .inp.inp-txt{
            width:100%;
            padding:10px 5px;
            margin-bottom: 15px;
        }
        span.tt{
            margin:30px 0 20px 0;
            float:left;
        }
        .character-board{
            float:left;
            a{
                display:inline-block;
                width:37px;
                height:34px;
                .box-sizing();
                border:1px solid #ccc;
                margin-right:5px;
                text-align: center;
                line-height:32px;
                color:#666;
                margin-bottom:5px;
                &:hover{
                    color:#fff;
                    background-color:@ora;
                    border:1px solid @ora;
                }
                &.select{
                    color:#fff;
                    background-color:@ora;
                    border:1px solid @ora;
                }
            }
        }
    }
}
.r-blk:last-child{
    border-bottom:none;
}
.rvw-itm {
        display: block;
        .clearfix();
        margin: 0 0 15px 0;
        .rvw-pic  {
            float: left;
            width: 50px;
            max-height: 50px;
            overflow: hidden;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        > h4 {
            margin: 0 0 0 60px;
            color: #666;
            font-weight: 400;
            line-height: 18px;
        }
        > p {
            margin: 0 0 0 60px;
            color: #666;
            span {
                color: #222;
            }
        }
    }
    a.rvw-itm {
        &:hover {
            > h4 {
                text-decoration: underline;
            }
        }
    }
    .r-blk-ct {
        ul {
            li {
                &:last-child {
                    margin: 0;
            }
        }
    }
}
.r-blk-ct.datetime{
    width: 100%;
    position: relative;
}
.dt-row{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 10px 0 5px;
    font-size: 0;
}
.l-dt{
    width: 50%;
    display: inline-block;
    margin-right: 5%;
    padding: 7px 0;
}
.l-dt-tt{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    margin-bottom: 7px;
}
.l-dt-txt{
    font-size: 13px;
}
.r-dt{
    width: 45%;
    display: inline-block;
    vertical-align: top;
}
.btn.btn-l.dt{
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
    box-sizing: border-box;
    background: #179bd9;
    color: #fff;
    font-weight: 300;
    border:transparent;
}
.btn.btn-l.dt:last-child{
    background: #7fba42;
}
.load-mote-dt{
    width: 100%;
    text-align: center;
    position: relative;
    margin:10px 0;
}
.load-mote-dt a{
    color: #666;
    padding: 10px 0;
    width: 80%;
    display: block;
    border: 1px solid #ccc;
    margin: 0 auto;
}
/* NEWSLETTER */
.newsletter-frm {
    .clearfix();
    .ipt, .btn {
        float: left;
        .box-sizing();
        line-height: 1;
    }
    .btn.btn-l {
        padding: 11px 10px;
        background: #fff;
        font-family: "Open Sans", arial;
        line-height: 1;
        &:hover {
            background: @ora;
            border: 1px solid @ora;
            color: #fff;
        }
    }
    .newsletter {
        width: 163px;
        height: 39px;
        border: 1px solid #ddd;
        padding: 0 5px;

    }
}
/* RIGHT SLIDER */
.wg-slider {
    .wg-pic  {
        width: 100%;
        height: 180px;
        overflow: hidden;
        img {
            width: 300px;
            height: 180px;
        }
    }
    .flexslider {
        width: 100%;
        margin: 0;
        border: none;
        .border-radius(0);
        .box-shadow(none);
        max-width: 100%;
        overflow: hidden;
        .slides {
            li {
                > div {
                    width: 100%;
                    min-width: 260px;
                }
            }
        }
    }
    .flex-direction-nav a {
        top: 37%;
        height: 25px;
        width: 20px;
        &:before {
            font-size: 26px;
        }
    }
    .wg-caption {
        padding: 10px 10px 10px 15px;
        background: #f9f9f9;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        height: 44px;
        line-height: 18px;
    }
}
.r-blk {
    &.big {
        a {
            display: block;
        }
        img {
            width: 100%;
            height: auto;
        }
        .r-ttl {
            font-size: 22px;
            color: #666;
        }
    }
}
form {
    .inp {
        &.inp-txt {
            background: #f9f9f9;
        }
    }
}
.form-event {
    input, button, .btn.btn-l {
        .box-sizing();
    }
    .btn.btn-l {
        padding: 0;
        height: 40px;
        width: 40px;
    }
    .btn {
        cursor: pointer;
    }
    .clearfix {
        .inp {
            width: 251px;
            height: 40px;
        }
        input, button {
            float: left;
        }
        button {
            background: #fff;
            font-family: "Open Sans", arial;
            float: right;
        }
        .inp.event-search{
            width:~"calc(100% - 44px)";
        }
    }
    p.t-r {
        margin-top: 5px;
    }
    a.t-red {
        color: @red;
        font-size: 11px;
        &:hover {
            text-decoration: underline;
        }
    }
    .s-rw {
        .clearfix();
        margin: 0 0 15px 0;
        label {
            display: block;
            margin: 0 0 10px 0;
        }
        .lst-lik {
            a {
                display: inline-block;
                border: 1px solid #999;
                font-size: 11px;
                color: #666;
                padding: 6px 5px;
                margin: 0 1px 5px 0;
                &:fisrt-child {
                    margin: 0 1px 0 0;
                }

                &:hover {
                    background: @ora;
                    border: 1px solid @ora;
                    color: #fff;
                }
            }
            span {
                &.no-line {
                    display: inline-block;
                    font-size: 11px;
                    border: 1px solid #fff;
                    margin: 0 8px;
                    color: #666;
                    padding: 6px 5px;
                }
            }
        }
    }
}
.sub-blk {
    .clearfix();
    background: #f9f9f9;
    height:56px;
    .fl {
        width: 130px;
        padding: 10px;
        font-style: italic;
        font-size: 11px;
    }
    .btn.btn-l {
        background: #fff;
        font-family: "Open Sans", arial;
        float: right;
        &.lgr {
            height: 56px;
            width: 145px;
        }
        &:hover {
            background: @ora;
        }
    }
}
.r-search {
    .r-ttl  {
        i.fa {
            background: @ora;
            color: #fff;
            margin: 0 15px 0 0;
            height: 35px;
            width: 35px;
            text-align: center;
            line-height: 35px;
            float: left;
        }
        color: #666;
    }
}
.calendar-ipt {
    position: relative;
    > span {
        display: block;
        height: 37px;
        float: left;
        width: 127px;
        margin: 0 2px 0 0;
        .inp {
            width: 100% !important;
            height: 18px;
            display: block;
            height: 37px;
            float: left;
            width: 127px;
            margin: 0 2px 0 0;
        }
        &:nth-child(2n){
            margin: 0;
        }
    }

    .btn.btn-l {
        background: #fff;
        font-family: "Open Sans", arial;
        float: right;
        &:hover {
            background: @ora;
        }
    }
    .fa {
        position: absolute;
        z-index: 2;
        top: 14px;
        color: #999;
        &.ico-s {
            left: 35%;
        }
        &.ico-e {
            left: 78%;
        }
    }
}
/**
 * MAIN SLIDER CAPTION
 */
.i-slider {
    position: relative;
    .inner {
        height: 100%;
    }
    .i-caption {
        position: absolute;
        color: #fff;
        width: 100%;
        bottom: 30px;
        padding:5px 10px 10px 10px;
        background: rgba(0, 0, 0, 0.7);
        z-index:500;
        box-sizing:border-box;
        h4 {
            font-size: 28px;
            margin: 0 0 10px 0;
            line-height:30px;
        }
        p {
            font-size: 16px;
            line-height:1.2;
            max-height:40px;
            overflow:hidden;
        }
        a {
            font-style: italic;
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
/* PATHWAY */
.breadcrumbs {
    .clearfix();
    margin: 0 0 5px 0;
    li {
        margin: 0 9px 0 0;
        > a, > span {
            display: inline-block;
            line-height: 28px;
        }
        > a {
            color: @ora;
            &:hover {
                text-decoration: underline;
                &:after {
                    text-decoration: none;
                }
                &:before {
                    text-decoration: none;
                }
            }
        }
        &:after {
            color: #666;
            content: "\f105";
            font-family: 'FontAwesome';
            font-size: 14px;
            margin-left: 8px;
            text-decoration: none;
        }
        &:first-child {
            &:before {
                color: @ora;
                content: "\f015";
                font-family: 'FontAwesome';
                font-size: 14px;
                margin-right: 5px;
                text-decoration: none;
            }
        }
        &:last-child {
            &:after {
                content: "";
            }
        }
    }
}
/* COMMENT BLOCK */
.cm-frm {
    > p {
        font-size: 12px;
        line-height: 1.5;
    }
    .comment-form {
        > div {
            label {
                display: block;
                font-weight: 700;
                font-size: 13px;
                span {
                    margin: 0 0 0 5px;
                }
            }
            .inp-half {
                float: left;
                width: 48%;
                margin-right: 4%;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .inp {
            width: 98%;
            padding: 10px 1%;
            &.textarea {
                background: #f9f9f9;
                border: 1px solid #ccc;
            }
            &:focus {
                border: 1px solid #697a83;
            }
        }
        .pre-code {
            font-size: 12px;
        }
        .b-btn {
            text-align: left;
            .btn {
                cursor: pointer;
            }
        }
    }
}
.comments-area {
    .comments-title {
        font-size: 16px;
        position: relative;
        margin: 0 0 20px 0;
        > a {
            position: absolute;
            top: 3px;
            right: 0;
            font-size: 14px;
            color: #666;
            font-weight: 400;
            i {
                font-size: 12px;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .comment-avatar {
        width: 60px;
        height: 60px;
        float: left;
        overflow: hidden;
        img {
            height: 54px;
            border: 3px solid #fff;
        }
    }
}
.comment-ct {
    margin: 0 0 0 75px;
    .author-n {
        font-weight: bold;
        margin: 0 20px 0 0;
    }
    a.comment-meta-time {
        color: #999;
        font-size: 11px;
        &:hover {
            text-decoration: underline;
        }
    }
    p.t-l {
        margin: 15px 0 0 0;
        a {
            color: #666;
            border: 1px solid @ora;
            padding: 4px 10px;
            font-size: 11px;
            display: inline-block;
            &:hover {
                color: #fff;
                background-color: @ora;
            }
        }
    }
}
.a-block.grey {
    p.t-l {
        margin: 15px 0 0 0;
        a {
            color: #666;
            border: 1px solid @ora;
            padding: 4px 10px;
            font-size: 11px;
            &:hover {
                color: #fff;
                background-color: @ora;
            }
        }
    }
}
.commentlist {
    margin: 0 0 20px 0;
    position: relative;
    &:before {
        content: '';
        display: block;
        width: 3px;
        background-color: #eee;
        height: 100%;
        position: absolute;
        top: 0;
        left: 31px;
        z-index: 0;
    }
    > li {
        position: relative;
        z-index: 2;
        .clearfix();
        article {
            margin: 0 0 10px 0;
            .comment-ct {
                padding: 0 0 10px 0;
                border-bottom: 1px dotted #ddd;
            }
        }
    }
    .children {
        margin: 0 0 0 75px;
    }
}
.blk-fea-article {
    .two-col {
        .v-line {
            height: 92%;
        }
    }
    h2.fea-ttl {
        text-transform: uppercase;
        font-size: 24px;
        border-bottom: 2px solid #D5D5D5;
        margin-bottom: 30px;
        background-color: #fff;
        position: relative;
        z-index: 10;
        padding-bottom: 15px;
    }
    .list-blog, .fea-list {
        .blog-itm {
            width: 46%;
            text-align: center;
            height: auto;
            position: relative;
            padding-bottom: 0;
            margin-bottom: 0;
            &:nth-child(2n+1) {
                border-right: 1px solid #d5d5d5;
                padding-right: 15px;
                margin-right: 15px;
            }
        }
        .fea-img {
            background-size: cover;
            background-repeat: no-repeat;
            height: 160px;
            margin: 0 20px 10px 20px;
        }
        .fea-cat {
            text-transform: uppercase;
            color: #db0000;
            margin-bottom: 10px;
            font-weight: bold;
        }
        h3 {
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 10px;
            color: #110000;
            max-height: 40px;
            overflow: hidden;
        }
        .fea-author {
            color: #110000;
            margin-bottom: 10px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .desc {
            color: #333;
            margin-bottom: 0;
            max-height: 86px;
            min-height: 66px;
            overflow: hidden;
        }
    }
}
.blk-fea-article {
    margin-bottom: 40px;
    .wc-r, .wc-l {
        margin-bottom: 0;
    }
    .fea-list {
        margin-left: 20px;
        .fea-itm {
            border-bottom: 1px solid #D5D5D5;
            margin-bottom: 15px;
            padding-bottom: 15px;
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0;
            }
        }
        .fea-pic {
            width: 120px;
            height: 90px;
            float: left;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .fea-info {
            margin-left: 130px;
            text-align: center;
            h3 {
                font-size: 16px;
                max-height: 32px;
            }
        }
        .fea-cat, .fea-author {
            font-size: 12px;
        }
    }
}

.header.header-second-menu {
    background: #D6D1CE;
    .secondary-menu {
        .mn-menu {
            >ul {
                >li {
                    position: relative;
                    transition: background-color .3s;
                    >a {
                        display: inline-block;
                        padding: 13px 11px;
                        text-transform: uppercase;
                        font-size: 15px;
                        color: #494a4a;

                    }
                    &:hover {
                        background-color: #dedede;
                    }
                }
                >li.has-child {
                    &:hover {
                        .child-container {
                            opacity: 1;
                            z-index: 101;
                            top: 100%;
                        }
                    }
                    .child-container {
                        position: absolute;
                        top: 80%;
                        left: 0;
                        z-index: -1;
                        background: #dedede;
                        background-position: left bottom;
                        background-repeat: no-repeat;
                        opacity: 0;
                        transition: opacity 0.3s, top .5s;
                        &.three-col {
                            width: calc(255px *3);
                            .child {
                                width: 100%/3;
                            }
                            .child:first-child {
                                border: none;
                            }
                        }

                        &.two-col {
                            width: calc(255px *2);
                            .child {
                                width: 100%/2;
                            }
                            .child:first-child {
                                border: none;
                            }
                        }
                        &.one-col {
                            width: 255px;
                            .child {
                                width: 100%;
                            }
                        }

                        .child {
                            display: inline-block;
                            box-sizing: border-box;
                            margin: 15px 0;
                            border-left: 1px solid #c7c7c7;
                            float: left;
                            li {
                                padding: 0 20px;
                                transition: background-color 0.3s;
                                &.header-title {
                                    font-weight: bold;
                                    padding-bottom: 9px;
                                    color: grey;
                                }
                                >a {
                                    font-size: 14px;
                                    color: #494a4a;
                                    display: inline-block;
                                    padding: 7px 2px;
                                    width: 100%;
                                }
                                &:not(.header-title):hover {
                                    background: #e8e8e8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

