// Common
body { font-family: 'Open sans', Arial, Helvetica; color: #666; font-weight: 400; font-size: 13px; }

.custom-background{
    background-image: url('../uploads/background2.jpg');
    background-attachment: fixed;
    background-size:cover;
    background-position: center top;
    background-repeat:no-repeat;
}
button{font-family: 'Open sans', Arial, Helvetica, sans-serif;}
b { font-weight: 700; }
p { line-height: 1.7; }
.cke_chrome{
    margin-bottom:15px!important;
}
.clearfix {
    .clearfix();
}
.inner { 
    .clearfix();
    width: 970px;
    margin: 0 auto;
}
/* GRID SYSTEM 960 by mnwp */
// Reset utility classes due to specificity
[class*="col"].hide {  display: none;  }
[class*="col"].pull-right {  float: right; }
// Make all grid-sized elements block level again
[class*="col"]:not([class*="color"]) {    float: left;    display: block; .box-sizing(border-box);  }
.row {
    .clearfix();
    display: block;
    [class*="col"]:not([class*="color"]):first-child {
        padding: 20px 20px 20px 0;
    }
    [class*="col"]:not([class*="color"]):last-child {
        padding: 20px 0 20px 20px;
    } 
    .col-cter {
        padding: 20px;
    } 
    [class*="wc"] {
        float: left;
    } 
    .wc-3:last-child {
        margin: 0;
    }
}
/* 2 COLS - 960 / 2 = 480 */
.wc-3 { width: 300px; margin: 0 20px 0 0; }
.wc-l { width: 620px; margin: 0 20px 20px 0;}
.wc-r { width: 300px; margin-bottom: 20px;}
.wc-f { width: 100%!important; margin: 0 20px 20px 0;}
.col-cter { float: none; margin: 0 auto; }
/* RESPO */
.pc-show { display: block; }
.tablet-show { display: none; }
/* TXT */
.t-l { text-align: left; }
.t-r { text-align: right; }
.t-c { text-align: center!important; }
/* FLOAT */
.fl { float: left; }
.fr { float: right;}
/* FONT */
.f-biiter (@bold: 300) { font-family: 'Open sans', Arial, Helvetica; font-weight: @bold; }
/* FORM */
form {
    .inp.inp-txt {
        border: 1px solid #ccc;
        padding: 4px 5px;
    }
    input[type="submit"], button {
        border: none;
        background: none;
    }
}
.btn {
    display: inline-block;
    &.btn-l {
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        color: #666;
        padding: 10px 15px;
        border: 1px solid @ora;
        display: inline-block;
        margin: 0;
        &:first-child {
            margin: 0 10px 0 0;
        }
        &:hover {
            background: @ora;
            border: 1px solid @ora;
            color: #fff;
        }
    }
}
/* NAVI */
.nav {
    .clearfix();
    > li {
        float: left;
    }
}
/* TABLE */
table.tb {
    width: 100%;
}
/* =============================== */
.footer  {
    border-top: 1px solid #ddd;
    background: #f9f9f9;
    padding: 20px 0;
}
.footer > .inner > section.row{
    padding:0 10px;
    box-sizing:border-box;
}
.copyright {
    padding: 10px 0;
    border-top: 1px solid #ddd;
    background: #fff;
    text-align: center;
}
.main > .inner {
    margin: 15px 0;
    background-color:#fff;
    width:970px;
    position:relative;
    margin:15px auto 0 auto;
    padding:10px 10px 0 10px;
    box-sizing:border-box;
}
.two-col {
    position: relative;
    width:100%;
    .v-line {
        width: 1px;
        height: 100%;
        background: #ddd;
        top: 0;
        left: 630px;
        position: absolute;
    }
}
input[type="button"], button, input[type="submit"] {
    -webkit-appearance: none;
    .border-radius(0);
}
.tbl {
    width: 100%;    
}
.el-blk{
    width:100%;
    position:relative;
    float:left;
    padding:5px 0 0 0;
}
.el-blk.full{
    &:hover{
        .show-tip{
        display:block;
        right:5px;
        }
    }
}
.hafl{
    width:48%;
    position:relative;
}
.hafl:hover{
    .show-tip{
        display:block;
        right:0;
    }
}
.show-tip{
    display:none;
    position:absolute;
    padding:7px 15px;
    border:1px solid @ora;
    background-color:#fff;
    z-index:1000;
    height:auto;
    line-height:18px;
    top:-15px;
}
.show-tip:before {
  content: '';
  position: absolute;
  bottom: 0px;
  bottom: -16px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 8px solid @ora;
  left:50%;
  margin-left:-8px;
}
.inp.inp-txt.inp-error {
    border: 1px solid #fa2805;
}
.select-bkl{
    width:100%;
    height:36px;
    overflow:hidden;
    float:left;
    position:relative;
    margin-bottom:10px;
    select{
        width:100%;
        position:relative;
        float:left;
        height:36px;
        background-color:#f9f9f9;
        font-size:13px;
        color:#666666;
        border:1px solid #ccc;
        .box-sizing();   
        padding-right:40px;
        padding-left:5px;
        cursor:pointer;
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        -webkit-border-radius: 0px;
        option{
            width:100%;
            overflow:hidden;
        }
    }
    select::-ms-expand {
        display: none;
    }
    .arrow-down{
        background-repeat: no-repeat;
        background-position: 0 15px;
        color: #000;
        display: inline-block;
        position: absolute;
        right: 0px;
        pointer-events: none;
        width:20px;
        padding:6px 0;
        .box-sizing();
        height:36px;
        background-color:#f9f9f9;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        border-right:1px solid #ccc;
        z-index:100;
    }
    .arrow-down.aerror{
        border-right: 1px solid #fa2805!important;
        border-top: 1px solid #fa2805!important;
        border-bottom: 1px solid #fa2805!important;
    }
}
.list{
    position: relative;
    float: left;
    li{
        min-height: 30px;
        line-height: 30px;
        vertical-align: middle;
        position: relative;
        label{
            top: -2px;
            margin-left: 15px;
            position: relative;
        }
    }
}

/*=========== NEW FOOTER STYLE ================*/
.fullw {
    &.nw-bg-black {
        background-color: #000;
    }
    &.clients {
        padding: 0px;
        &.nw-bg-black {
            .f-ttl {
                margin-bottom: 30px;
                font-size: 16px;
            }
        }
    }
    &.clients {
        &.bdr-top-0 {
            border-top: none;
        }
    }
}

.clients {
    &.nw-bg-black {
        color: #fff;
        .inner {
            padding: 40px 15px;
            border-bottom: 2px solid #666;            
        }
        .list-logo {
            a {
                display: inline-block;
                vertical-align: middle;
                margin-left: 45px;
                margin-right: 45px;
                width: 180px;
                 img {
                    width: 100%;
                    height: auto;
                 }
            }
        }
        .list-social {
            li {
                margin-left: 45px;
                margin-right: 45px;
                display: inline-block;
                float: none;
                > a {
                    line-height: 1;
                    color: #fff;
                    display: inline-block;
                    i {
                        font-size: 50px;
                    }
                    &:hover {
                        transition: all 0.3s;
                        i {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
.menu-footer{
    &.nw-footer {
        > li {
            width: 39%;
            padding: 10px;
            float: left;
            &.li-last-child {
                width: 15%;
            }
        }
        h3 {
            font-size: 16px;
            color: #fff;
            margin-bottom: 15px;
            &.marg-btm-0 {
                margin-bottom: 0px;
            }
        }
        ul {
            > li {
                margin-bottom: 5px;
            }
        }
        a {
            color: #fff;
            line-height: 1;
            display: inline-block;
            font-size: 16px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.copyright {
    &.nw-bg-black {
        background-color: #000;
        border-top: none;
        color: #fff;
        padding: 20px 0px;
        a {
            color: #fff;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/* NEW STYLE FOR SEARCH MENU #10961  */
.section-slider {
    &.has-search-widget {
        position: relative;
        .top-search {
            position: absolute;
            z-index: 100;
            top: 57%;
            transform: translate(0, -10%);
            .top-search-row {
                padding-top: 0px;
                width: auto;
                left: 50%;
                transform: translate(-50%, 0);
            }
        }
    }
}
@media (max-width: 480px) {
    .section-slider {
        &.has-search-widget {
            .top-search {
                position: relative;
                transform: translate(0, 0);
                .top-search-row {
                    left: 0;
                    transform: translate(0, 0);
                }                
            }
        }
    }
}

/* NEW CUSTOM FONT-FACE*/
@font-face {
    font-family: 'Karla';
    src:   url('../fonts/Karla-Regular.ttf') format('truetype')
        ,  url('../fonts/Karla-Italic.ttf') format('truetype')
        ,  url('../fonts/Karla-Bold.ttf') format('truetype')
        ,  url('../fonts/Karla-BoldItalic.ttf') format('truetype') ;
    font-weight: normal;
    font-style: normal;
}