.career a{
    color:#999;
}
.career a:hover{
    color:#fff;
    text-decoration: underline;
}
.p-content{
    color:#666;
}
 .p-content:hover{
    color:#666;
    text-decoration: underline;
 }
.lo-left.public-art{
    max-height: 500px;
    overflow: hidden;
}
@media screen and (min-width: 700px)  and (max-width: 768px){
    div.wc-f .fea-evt-item {
        height: 320px;
    }
    
    div.wc-f .fea-evt-item .event-img {
        max-height: 252px;
    }
 div.wc-f .dv-front a {
     max-height: 216px;
 }
}


@media screen and (min-width: 650px)  and (max-width: 699px){
    div.wc-f .fea-evt-item {
        height: 270px;
    }
    
    div.wc-f .fea-evt-item .event-img {
        max-height: 200px;
    }
}

@media screen and (min-width: 601px)  and (max-width: 649px){
    div.wc-f .fea-evt-item {
        height: 240px;
    }
    
    div.wc-f .fea-evt-item .event-img {
        max-height: 175px;
    }
    
}

/* org-detail2*/

.img-responsive{
    width:100%;
}

.gallery-thumb
{
    ul {
        width: 100%;
        
        li {
            display:block;
            float:left;
            margin-right: 10px;
        }
    }
}

.d-slider-thumb-item{
    width: 150px;
    height: 110px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.d-content{
    line-height: 25px;
    margin-top: 50px;
}
.d-feature{
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    padding: 15px 10px;
    margin-top:20px;
    

    strong{
        text-transform: uppercase;
         color: #9ea5b4;
         margin-right: 10px;
    }
    span{
         text-transform: uppercase;
         color: #b2265a;
    }
}

.d-location{
    table {
        tr {
            td{
                padding: 10px;
                &.d-label{
                    font-weight: bold;
                }
            }
        }
    }
}

.d-block {
    margin-top: 20px;
    h4{
        color: #9ea5b4;
        padding-bottom: 15px;
        border-bottom: 2px solid #9ea5b4;
        margin-bottom:20px;
        text-transform: uppercase;
        font-size: 22px;
    }
}

.d-slider{
    overflow: hidden;
    margin-top:20px;
    .bx-prev,.bx-next{
        display: none;
    }

    .flexslider{
        margin-bottom: 0;
    }
    .business-slide-nav{
        margin-top: 5px;
        position: relative;
        ul>li>div{
            width:132px;
            height: 132px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }
    }
}
.d-black{
    background: #666 !important;
}

.business-slide-big {
    .flex-direction-nav {
        display: none;
    }
    .flex-viewport {
        background: #eee;
        max-height: 300px;
        .slides {
            li {
                line-height: 300px;
                text-align: center;
                height: 300px;
                img {
                    max-width: 100%;
                    max-height: 100%;
                    vertical-align: middle;
                    display: inline-block !important;
                    width: auto;
                    margin: auto;
                }
            }
        }
    }
}