/* Featured Event */
.featured-event-blk{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	h3{
		font-weight: 400;
		font-size: 20px;
		color:#666;
		margin-bottom: 15px;
	}
}
.item-cat{
	position: relative;
	width: 100%;
	float: left;
}
.item-cat.vertical{
	width: 23%;
	margin-right: 2.5%;
	display: inline-block;
}
.item-cat.vertical.four{
	width: 25%;
	margin-right: 0;
}
.item-cat.vertical.four .tab-tt.vertical::after{
	content: "\f054";
	font-family: "FontAwesome";
	color:#fff;
	font-size: 16px;
	padding:5px;
	background: rgba(255,255,255,0.3);
	right: 5px;
	position: absolute;
	top:5px;
}
.item-cat.vertical.four  .tab-tt.vertical{
	text-align: left;
	padding-left: 10px;
	box-sizing: border-box;
}
.wrapper-l .item-cat.vertical.four:first-child .tab-row .tab-tt{
	background: #becf3c;
}
.wrapper-l .item-cat.vertical.four:last-child .tab-row .tab-tt{
	background: #ffc20e;
}
.wrapper-r .item-cat.vertical.four:first-child .tab-row .tab-tt{
	background: #da2032;
}
.wrapper-r .item-cat.vertical.four:last-child .tab-row .tab-tt{
	background: #4f4365;
}
.wrapper-r .item-cat.vertical:last-child{
	margin-right: 0;
}
.tab-row{
	position: relative;
	float: left;
	width: 100%;
	height: 36px;
	border-bottom: 2px solid @ora;
	margin-bottom: 30px;
}
.four .tab-row{
	margin-bottom: 0;
}
.item-cat.vertical .tab-row{
	border-bottom: none;
}
.tab-tt{
	position: relative;
	float: left;
	padding: 10px 0;
	min-width: 142px;
	text-align: center;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	background: @ora;
}
.tab-tt.vertical{
	width: 100%;
	min-width: auto;
}
.fea-evt-row{
	width: 100%;
	position: relative;
	float: left;
	font-size: 0;
	margin-right: -2%;
}
.four .fea-evt-row{
	padding:0 10px;
	box-sizing: border-box;
	padding-top:20px;
	border-left: 1px solid #000;
}
.four .fea-evt-row .fea-evt-item.vertical{
	height: auto;
	border:none;
	border-bottom: 1px #ddd dotted;
	margin-bottom: 15px;
	.ev-tt{
		padding-left: 0;
	}
	.meta.auth{
		position: relative;
		float: left;
		font-size:13px;
		width: 100%;
		margin-bottom: 5px;
	}
	.dp{
		width: 100%;
		display: block;
		float: left;
		font-size: 13px;
		position: relative;
		margin-bottom: 10px;
		font-weight: 700;
	}
}
.four .fea-evt-row .fea-evt-item.vertical .dv-front{
	a{
		height: auto;
		display: inline!important;
	}
	&:hover{
		background: #fff;
	}
}
.wrapper-r .item-cat.vertical.four:last-child .fea-evt-row{
	border-right: 1px solid #000;
}
.fea-evt-row.vertical{
	width: 25%;
	float: left;
}
.fea-evt-item{
	width: 23.1%;
	display: inline-block;
	position: relative;
	border: 1px #ddd solid;
	height: 215px;
	box-sizing: border-box;
	margin-right: 2.5%;
	margin-bottom: 30px;
	&:last-child{
		margin-right: 0;
	}
}
.fea-evt-item.vertical{
	width: 100%;
}

.dv-front{
	position: relative;
	float: left;
	width: 100%;
	a{
	width: 100%;
	max-height: 160px;
	overflow: hidden;
	display: block;
	position: relative;
		img{
			width: 100%;
			height: auto;
		}
	}
	.ev-tt{
		color: #666;
		font-size: 13px;
		font-weight: 700;
		padding: 7px;
		line-height: 1.2;
		box-sizing: border-box;
	}
}
.dv-back{
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	display: none;
	overflow: hidden;
	padding:10px;
	box-sizing: border-box;
	.meta.auth{
		position: relative;
		float: left;
		color:#fff;
		font-size:13px;
		max-height: 27px;
		overflow: hidden;
		width: 100%;
		a{
			color:#fff;
		}
	}
	.back-desc{
		position: relative;
		float: left;
		max-height: 114px;
		overflow: hidden;
		color:#fff;
		font-size:13px;
		line-height: 16px;
		margin-bottom: 10px;
		width: 100%;
		&:hover{
			color:#fff;
		}
	}
	a.more{
		font-size:13px;
	}
}
.fea-evt-item:hover{
	background: #999;
}
.fea-evt-item:hover .dv-front{
	display: none;
}
.fea-evt-item:hover .dv-back{
	display: block;
	.more{
		display: block;
	}
}
/*Update style hover fea-evt*/
.fea-evt-item:hover .left-event-time{
	// display: none;
	display: block;
	opacity: 0;
}
.featured-event-blk{
	.load-more.b-btn{
		display: none;
	}
}
.four .fea-evt-item:hover .dv-front{
	display: block;
	background: #fff;
}
.left-event-time{
	position: absolute;
	left: -10px;
	top:-22px;
	padding:5px 10px;
	text-align: center;
	color: #fff;
	background: @ora;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	z-index: 10;
	line-height: 1;
	.month{
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		float: left;
		span:last-child{
			font-size: 18px;
			display: block;
			padding-top: 2px;
		}
	}
	.month.ongoing{
		font-size: 14px;
		padding:10px 10px;
	}
	.date{
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		float: left;
		span:last-child{
			font-size: 18px;
			display: block;
			padding-top: 2px;
		}
	}
	.th{
		float: left;
		line-height: 30px;
		vertical-align: middle;
		font-size: 12px;
		color: #fff;
	}
}
.left-event-time {
	&.nw-evt-blue {
		background-color: #283473;
		.border-radius(0);
		padding: 0 10px 0 15px;
		height: 40px;
		display: inline-block;
		top: -20px;
		// &::after {
		// 	content: "";
		// 	width: 9px;
		// 	height: 40px;
		// 	display: inline-block;
		// 	background-image: url('../images/bg-title-end.png');
		// 	background-repeat: no-repeat;
		// 	position: absolute;
		// 	right: -9px;
		// 	top: 0;
		// }
		// &::before {
		//     content: "";
		//     display: inline-block;
		//     width: 0px;
		//     height: 0px;
		//     position: absolute;
		//     right: -10px;
		//     top: 0px;
		//     border-style: solid;
		//     border-width: 20px 10px 0px 0px;
		//     border-color: rgb(40, 52, 115) transparent transparent;
		// }
		// &::after {
		//     content: "";
		//     display: inline-block;
		//     width: 0px;
		//     height: 0px;
		//     position: absolute;
		//     right: -10px;
		//     bottom: 0px;
		//     border-style: solid;
		//     border-width: 20px 0px 0px 10px;
		//     border-color: transparent transparent transparent rgb(40, 52, 115);
		// }
		.evt-arr {
			//background-image: url('../images/bg-title-end.svg');
		    display: inline-block;
		    width: 9px;
		    height: 40px;
		    background-size: cover;
		    position: absolute;
		    top: 0;
		    right: -9px;
	        //background-color: #283473;
		}
		.th {
			width: auto !important;
			font-size: 14px;
			line-height: 47px;
			padding: 0 5px;
			font-family: 'Times New Roman', sans-serif;
			font-style: italic;
		}
		.month, .date {
			position: relative;
			height: 40px;
			width: 30px;
			overflow: hidden;
			span {				
				&:last-child {
					font-size: 20px !important;
					top: 0;
					position: absolute;
					left: 0;
				}
				&:first-child {
					line-height: 60px;
				    font-size: 12px;
				}
			}
			&.ongoing {
				width: 100%;
				padding-left: 0;
				padding-top: 13px;
				font-size: 14px;
			}
		}
	}
}
.category-itm > .left-event-time{
	top:22px;
}
.astro-featr .left-event-time{
	.month{
		font-size: 18px;
		span:last-child{
			font-size: 23px;
		}
	}
	.date{
		font-size: 18px;
		span:last-child{
			font-size: 23px;
		}
	}
	.th{
		font-size:16px;
		line-height: 34px;
	}
}
.date > .left-event-time{
	.month{
		font-size: 18px;
		span:last-child{
			font-size: 23px;
		}
	}
	.date{
		font-size: 18px;
		span:last-child{
			font-size: 23px;
		}
	}
	.th{
		font-size:16px;
		line-height: 34px;
	}
}
.event-time{
	background: @ora;
	padding:7px 0;
	text-align: center;
	width: 100%;
	opacity: 0.9;
	.md{
		font-size: 13px;
		font-weight: 700;
		color: #fff;
	}
}
.top-pos{
	position: absolute;
	top: 0;
	left:0;
}
.bottom-pos{
	position: absolute;
	bottom: 0;
	left:0;
}
.right-pos{
	position: absolute;
	bottom: 0;
	right:0;
	width: auto;
	padding:5px 7px;
	.month{
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		float: left;
		span:last-child{
			font-size: 18px;
			display: block;
			padding-top: 2px;
		}
	}
	.date{
		font-size: 13px;
		font-weight: 700;
		color: #fff;
		float: left;
		span:last-child{
			font-size: 18px;
			display: block;
			padding-top: 2px;
		}
	}
	.th{
		float: left;
		line-height: 30px;
		vertical-align: middle;
		font-size: 12px;
		color: #fff;
	}
}
.show-more{
	position: relative;
	float: left;
	margin: 0 0 20px;
	width: 100%;
	text-align: center;
	display: none;
	&:last-child{
		margin-bottom: 0;
	}
}
#tb,#bb{
	display:none;
}
.wrapper-l, .wrapper-r{
	display: block;
	}
@media(max-width:768px){
	.wrapper-l, .wrapper-r{
		width: 100%;
		position: relative;
		float: left;
		overflow: hidden;
		margin-bottom: 20px;
		height:803px;	
	}
	.fea-evt-item{
		width: 47%;
		margin-right: 6%;
		margin-bottom: 30px;
		margin-top:10px;
	}
	.fea-evt-item:nth-child(2n){
		margin-right: 0;
	}
	.item-cat.vertical{
		width: 47%;
		margin-right: 6%;
	}
	.item-cat.vertical:last-child{
		margin-right: 0;
	}
	.left-event-time{
		left: -1px;
		top:-20px;
	}
	.show-more{
		display: block;
	}
	.show-more a:after{
		content:"  \f0d7";
		font-family:'FontAwesome';
		font-size: 14px;
	  }
	#tb,#bb{
	display:block;
	opacity:0;
	}
	#tb:checked + .wrapper-l{
		overflow:visible;
		margin-bottom: 0;
		
		height:auto;
		overflow:hidden;
	}
	#tb:checked + .wrapper-l + .show-more a:after{
		content:"  \f0d8";
		font-family:'FontAwesome';
		font-size: 14px;
	}
	#bb:checked + .wrapper-r{
		overflow:visible;
		margin-bottom: 0;
		height:auto;
		overflow:hidden;
	}
	#bb:checked + .wrapper-r + .show-more a:after{
		content:"  \f0d8";
		font-family:'FontAwesome';
		font-size: 14px;
	}
	.item-cat.vertical.four{
		width: 50%;
	}
	.wrapper-l .item-cat.vertical.four:last-child .fea-evt-row{
		border-right: 1px solid #000;
	}
}

/* START: New featured event style #10968*/
.wrapper-featured {
	.item-cat {
		&.vertical {
			margin-right: 2%;
		}
	}
	.item-feature-event {
		width: 100%;
		position: relative;
		float: left;
		font-size: 14px;
		margin-right: -2%;
		height: 435px;
		border: none;
		&:hover {
			background-color: transparent;
		}
	}
}

.item-feature-event {
	.img-wrap {
		width: 100%;
		height: 160px;
		background-color: #eee;
		margin-bottom: 5px;
		line-height: 160px;
		.evt-img {
			display: block;
			// line-height: 1;
			max-height: 160px;
			overflow: hidden;
			img {
				width: 100%;
				height: auto;
				vertical-align: middle;
			}
		}
	}
	.evt-time {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 5px;
		height: 55px;
		&.time-full-layout {
			height: auto;
		}
	}
	.evt-title {
		text-transform: uppercase;
		color: #000;
		height: 65px;
		width: 100%;
		font-size: 18px;
		line-height: 1.2em;
		display: inline-block;
		margin-bottom: 10px;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		&:hover {
			text-decoration: underline;
		}
	}
	.evt-description {
		margin-bottom: 10px;
		height: 60px;
		font-size: 14px;
		line-height: 1.4;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
	}
	.evt-action {
		.btn {
			text-transform: uppercase;
			margin-left: 0px;
			font-weight: normal;
			font-size: 14px;
			padding: 10px 5px;
			margin-right: 0px;
		}
		label {
			display: none;
		}
		a {
			font-size: 16px;
			margin-left: 5px;
			margin-right: 5px;
		}
		.social-has-sidebar {
			margin-top: 10px;
			a {
				margin-left: 5px;
				margin-right: 5px;
				&:first-child {
					margin-left: 0px;
				}
			}
		}
	}
}
/* END: New featured event style #10968*/
.single-event {
	.meta.auth+.apl-wrap-under-presented {
		.b-share-cat {
			float: left;
		}
	}
}