/* Import Event */
.event-import-wrapper{
	width: 100%;
	overflow:hidden;
	height: 560px;
	position: relative;
}
.evt-blk-import{
	background: #fff;
	width: 100%;
	position: relative;
	float: left;
	margin-bottom:30px;
	min-height: 600px;
}
.evt-blk-import.fscreen{
	width: 100%;
	position: fixed;
	z-index: 1000;
	height: auto;
	top:0;
	left: 0;
	padding-bottom: 100px;
}
.evt-blk-import.fscreen > .event-import-wrapper{
	position: absolute;
	top:50px;
	height:~"calc( 100% - 100px )";
}
#event-list{
	width: 100%;
}
.full-screen{
	float: right;
	right: 30px;
}
.full-screen a:hover, .close-fs:hover{
	text-decoration: underline;
	color:@ora;
}
.colHeader{
	padding-left: 5px!important;
	text-align: left;
}
.event-btn.import{
	text-align: center;
	margin-top:10px;
	width: 100%;
	margin-left: 0;
}

.evt-blk-import.fscreen .event-btn.import > button{
	width: 200px;
	display: inline-block;
	margin-right: 30px;
	border: 1px solid @ora;
	line-height: 30px;
	color:#666;
	padding: 0 15px;
	font-weight: 700;
	cursor: pointer;
}
.evt-blk-import .event-btn.import > button{
	width:48%;
	margin-right:0;
	display: inline-block;
	border: 1px solid @ora;
	line-height: 30px;
	color:#666;
	padding: 0 15px;
	font-weight: 700;
	cursor: pointer;
}
.event-btn.import > button:hover{
	color:#fff;
	background: @ora;
}
.close-fs{
	display: none;
	height: 30px;
	border: 1px solid @ora;
	line-height: 30px;
	color:#666;
	padding: 0 15px;
	font-weight: 700;
}
.close-fs:hover{
	color:#fff;
	background: @ora;
	text-decoration: none;
}
.close-fs.show{
	display: block;
	top:10px;
	right: 15px;
	position: absolute;
}
.handsontable td img{
	width: 100%;
	height: auto;
}
.handsontable .htAutocompleteArrow{
	font-size: 16px!important;
	width: 20px!important;
	color:#ccc!important;
}
body {
	.event-import-wrapper {
	  .handsontableInputHolder {
		.select2-container.handsontableInput {
		  padding-top: 2px;
		}
		.select2-dropdown-open {
		  .select2-choice {
			border: 0;
			border-radius: 0;
		  }
		}
	  }
	}
	.select2-drop {
		border-radius: 4px;
		&.select2-drop-above {
			border-radius: 4px;
			border-bottom: 1px solid #5897fb;
		}
	}
	.select2-drop-auto-width {
		border-top: 1px solid #5897fb;
	}
}
@media (max-width:767px){
	.event-btn.import{
		text-align: left;
		margin-left: 10px;
	}
	.evt-blk-import.fscreen .event-btn.import > button{
		width: auto;
		font-size: 10px;
		padding: 0 5px;
	}
	.evt-blk-import .event-btn{
		margin-left: 0;
	}
	
	.close-fs{
		font-size: 10px;
	}
	@media (max-width:480px){
		.evt-blk-import .event-btn.import > button{
			width: 100%;
			font-size: 10px;
			padding: 0 5px;
			margin-bottom: 10px;
		}
	}
}