// MAIN MENU 2TIERS
#main_nav {
	height: 74px;
	position:relative;
	top:0px;
	background-color:@ora;
	border-color:#3d3d3d;
	width:100%;
	border:0px;
	border-width:0px 0px 0;
	z-index: 200;
}
#main_nav > li{
	float:left;
	position:static!important;
	padding-top:3px;
	background: url(../images/divider-main_nav-1st_level.png) 0 50% no-repeat;
}
#main_nav li:first-child {
    background-image: none;
}
#main_nav  li > a {
		padding:0 12px;
		float:left;
		display:block;
		line-height: 36px;
		color:#333;
		text-decoration:none;
		font-size:14px;
		font-weight:bold;
		text-transform:uppercase;

	}

/* Top-level unselected links hover */
	#main_nav > li:hover > a{
		background-color:#ffaa1a;
		color:#ffffff;
	}
	
/* Selected tab */
	#main_nav > li.selected > a {
		background:#a00000;
		color:#fff;
		border-color:#a00000;
	}
	


/* Second-level menu */
	 #main_nav li.selected > ul {
		background-color:#a00000;
	}
	
/* Second-level menu links */
	#main_nav li.selected li a {
		color:white;
	}	

/* Second-level menu links hover */
	#main_nav li.selected ul li:hover > a {
		color:white;
		background-color:#ae110c;
	}


/* Dropdown menu links hover */
	#main_nav li.selected ul li li:hover {
		background:#fff;
	}

#main_nav > li > ul{
	z-index: -1;
	display:none;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
}
#main_nav li.selected > ul{
	z-index: 1;
	display:block;
}
#main_nav li.selected > ul > li{
	display: inline-block;
	float:left;
	position: relative;
	background: url(../images/divider-main_nav-1st_level.png) 0 50% no-repeat;
}

.menu-hover{
	background-color:#fffff!important;
	position:absolute;
	display:block;
	top:36px;
	left:-9999px;
	bottom:auto;
	float:left;
}
.menu-hover li{
	display:block;
	width:100%;
}
.menu-hover li a{
	width:100%;
	border-bottom:1px solid #ddd;
	}
#main_nav li li:hover .menu-hover {
	left:0;
	z-index: 900;
	background:#fff!important;
}
#main_nav li.selected ul li li{
	border-bottom:1px solid #ddd;

}
#main_nav li.selected ul li:hover .menu-hover a {
	display:block;
	line-height:16px;
	padding:10px 12px;
	float:left;
	white-space:nowrap;
	margin:0;
	min-width:125px;
	font-weight:700;
	text-transform:none;
	color:#000;
	background:#fff;
	text-transform: uppercase;
		
}
.menu-hover li:hover a{
	color:#a00000!important;
}

#main_nav li ul li a.two_line {
	text-align:center;
}

#main_nav li.selected li.dropdown a {
	padding-right:16px;
}

#main_nav li.selected li.dropdown a span {
	background:url(../images/icon-dropdown_arrow.png) 100% 50% no-repeat;
	padding-right:16px;
	margin-right:-16px;
	display:block;
}
.menu-background{
	background: #a00000;
	position: absolute;
	width:100%;
	height:36px;
	bottom:0;
}
// MAIN MENU 2TIERS


