/* nav-main */
/* MAIN MENU */
.main-menu {
    background: @ora;
    height: 74px;
    position:relative;
    .mn-menu {
        .nav {
            > li {
                border-right: 1px solid #ffc25a;                      
                > a {
                    color: #fff;
                    font-weight: 600;
                    font-size: 13px;
                    text-transform: uppercase;
                    display: block;
                    line-height: 71px;
                    padding: 0 10px;   
                    border-top: 3px solid @ora;       
                    &:hover {
                        border-top: 3px solid #333;
                    }
                }
                &.cur {
                    > a {
                        border-top: 3px solid #333;
                        background: #ffaa1a;
                    }
                }
            }
        }
    }
}
.mn-menu {
    > ul {
        > li {
            position: relative;
        }
    }
    .has-child {
        ul.sub-menu {
            position: absolute;
            top: 74px;
            left: -10px;
            z-index: 501;
            background: #222; 
            width: 220px;
            font-size: 14px;
            padding: 15px 0;   
            > li {
                padding: 0 10px;       
                position: relative;
                a {
                    color: #f9f9f9;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: block;
                    min-height: 32px;
                    line-height: 32px;
                    padding: 0 10px;                      
                    &:hover {
                        background: #f9f9f9;
                        color: #222;
                    }
                }
            }
            &.show {
                left: 0px;
            }
        }
    }
}
.mn-menu {
    .has-child {
        > ul.sub-menu.level-1 {
            > li.has-child {
                > a {                       
                    &:after {
                        content: '';                
                        position: absolute;                
                        display: block;
                        width: 0px;
                        height: 0px;
                        border-style: solid;
                        border-width: 5px 5px 0 5px;
                        border-color: #f9f9f9 transparent transparent transparent;
                        right: 20px;
                        top: 15px;           
                    }
                    &:hover {
                        &:after {
                            top: 11px;     
                            border-width:  5px 0 5px  5px;
                            border-color: transparent transparent  transparent #222;
                        }
                    }
                }
                ul.sub-menu {
                    background: #111; 
                    position: absolute;
                    /* left: 210px; */
                    top: 0;
                    display: block;
                    &.show {
                        /* left: 220px; */
                    }
                }
            }
        }
    }
}
.sub-menu {
    visibility: hidden;
    .opacity(0);
    display: none;     
    &.show {
        display: block;
        .opacity(1);
        visibility: visible;           
    }
}

.main-menu.tablet-show {
    .mn-menu {
        &.has-toogle__menu-child {
            width: 100%;
            .nav {
                > li {
                    &.has-child {
                        ul.sub-menu.level-1 {
                            display: none;
                            &.show-full-sub__child {
                                display: block;
                            }
                        }
                        >a {
                            position: relative;
                            &:after {
                                content: '';
                                position: absolute;
                                display: block;
                                width: 0px;
                                height: 0px;
                                border-style: solid;
                                border-width: 5px 5px 0 5px;
                                border-color: #fff transparent transparent transparent;
                                right: 10px;
                                top: 15px;
                            }
                            &.active-show--child {
                                &:after {
                                    border-width: 0px 5px 5px 5px;
                                    border-color: transparent transparent #fff transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
