/* 
* New template style 
* Create: 28/03/2017
*/
.search-bkl {
    &.business-search-blk {
        display: block;
        clear: both;
    }
}
h3.ttl-bs-list {
    text-transform: uppercase;
    color: #979797;
    margin-bottom: 10px;
}
nav {
    &.search-artist-list {
        &.business-search-list-blk {
            li {
                .search-img {
                    min-height: 160px;
                    width: 160px;
                    max-height: 160px;
                }
                .info-content {
                    left: 0;
                    position: relative;
                    height: auto;
                    .search-info {
                        .ev-tt {
                            color: #fcb234;
                            text-transform: uppercase;
                            font-weight: bold;
                            margin-bottom: 5px;
                            line-height: 1.6rem;
                            max-height: 3.2rem;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        .s-desc {
                            max-height: 4.8em;
                        }
                    }
                }
            }
        }
    }
}

nav {
    &.search-artist-list {
        &.business-search-list-blk {
            li {
                &:hover {
                    .info-content {
                        background-color: transparent;
                        .search-info {
                            .s-desc {
                                color: #666;
                            }
                        }
                    }
                }
            }
        }
    }
}

.business-search-list-blk {
    .summary-content-bs {
        margin-bottom: 15px;
        padding: 0 10px;
        .s-country {
            color: #000;
            font-weight: bold;
            margin-bottom: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .summary-contact-bs {
        padding: 0 10px;        
        .contact-address-bs {
            margin-bottom: 5px;
        }
        .contact-item-social-bs {
            float: left;
            margin-right: 15px;
            &:last-child {
                margin-right: 0px;
            }
        }
        .lbl-contact {
            font-weight: bold;
            text-transform: uppercase;
            color: #000;
            margin-right: 5px;
        }
        .contact-txt {
            color: #000;
        }
        .contact-txt-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/*RESPONSIVE*/
@media (max-width: 767px) {
    .business-search-list-blk {
        .summary-contact-bs {
            .contact-item-social-bs {
                float: none;
                margin-right: 0px;
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    nav {
        &.search-artist-list {
            &.business-search-list-blk {
                li {
                    .search-img {
                        min-height: 120px;
                        width: 120px;
                        max-height: 120px;
                    }
                }
            }
        }
    }
}