/**
 * PAGES CSS
 */
.sub-content-blk{
    display:block;
    position:relative;
    float:left;
    width:100%;
    border-top:1px solid #ccc;
    margin-top:20px;
    padding-top:20px;
    h2{
        margin-bottom:15px;
    }
    h3{
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    p{
        font-weight: normal;
        line-height: 1.7;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .description{
        img{
            float:right;
            margin:15px;
            position:relative;
        }
    }    
    .fanpage{
        img{
            width:100%;
            height:auto;
            position:relative;
            float:left;
        }
    }
}
.sub-content-blk.top{
    border-top:none;
    border-bottom:1px solid #ccc;
    padding-bottom:20px;
    padding-top:0;
    margin-bottom:30px;
    margin-top:0;
}
/** BLOG **/
.blog-blk{
    display:none;
    position:relative;
    float:left;
    width:100%;
}
.toggle{
    display:none;
    margin-bottom:30px;
}
.nav-tab{
    display:table;
    position:relative;
    width:auto;
 
}
.tab-list li{
    float:left;
    display:inline-block;
    margin-right:1px;
    margin-top:1px;
    background-color:#ededed;
    height:40px;
    text-align:center;
    overflow:hidden;
        a{
            line-height:40px;
            color:#414341;
            font-size:13px;
            padding:10px 15px;
            text-transform:uppercase;
        }
    &:last-child{
        border-right:none;
    }
    &:hover{
        
        background-color: lighten(@ora, 10%); 
        a{
            color:#fff;
        }
    }
    &.selected{
        font-weight:bold;
        background-color: lighten(@ora, 10%);
        a{
            color:#fff;
        }
    }     
}
.nav-tab-search{
    display:table;
    position:relative;
    width:auto;
 
}
.tab-list-search li{
    float:left;
    display:inline-block;
    margin-right:1px;
    margin-top:1px;
    background-color:#ededed;
    height:40px;
    text-align:center;
    
        a{
            line-height:40px;
            color:#414341;
            font-size:13px;
            padding:10px 15px;
            text-transform:uppercase;
        }
    &:last-child{
        border-right:none;
    }
    &:hover{
        
        background-color: lighten(@ora, 10%); 
        a{
            color:#6a6363;
        }
    }
    &.selected{
        font-weight:bold;
        background-color: lighten(@ora, 10%);
        a{
            color:#fff;
        }
    }     
}
.tab-bt{
    width:100%;
    height:3px;
    background-color: lighten(@ora, 10%);
    margin-bottom:40px;
}
.blog-itm { 
    .clearfix();   
    .pic {
        width: 200px;
        max-height: 200px;
        float: left;
        overflow: hidden;
        background: #eee;
        img {
            width: 100%;
            height: auto;
        }
        a {
            display: block;
            line-height: 1;
            position: relative;
        }
    }
    .blog-t {
        margin: 0 0 0 220px;        
    }
    .blog-ttl {
        .f-biiter();
        font-size: 20px;
        font-weight: normal;
        margin: 0 0 10px 0;
        line-height: 22px;
        a {  
            color: #666;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .desc {
        line-height: 1.7;
        font-weight: normal;
        margin: 0 0 15px 0;
    }    
}
.blog-itm { 
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 30px 0;
    border-bottom: 1px solid #ddd;
    &:last-child {
        margin: 0;
        border-bottom: none;
    }
    .b-time {
        position: absolute;
        background: @ora;
        .border-radius(30px);
        height: 40px;
        padding: 10px 15px;
        top: -20px;
        left: -20px;
        color: #fff;
        z-index: 50;
        > div {
            float: left;
        }
        .t {
            font-weight: bold;
            text-align: center;
            span {
                display: block;
                &:first-child {
                    font-size: 26px;
                }
            }
        }
        .t-th {
            line-height: 40px;
            height: 40px;
            text-align: center;
            padding: 0 5px;
            font-style: italic;
        }
    }
}
.blog-itm {
    > .b-btn {
        text-align: left;
        a.btn-b {
            padding: 6px 15px;
        }
    }
}
.b-btn {
    text-align: right;
    .btn-b {
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        color: #666;
        padding: 10px 15px;
        border: 1px solid @ora;
        display: inline-block;
        &:first-child {
            margin: 0 10px 0 0;
        }
        &:hover {
            background: @ora;
            border: 1px solid @ora;
            color: #fff;
        }
    }
}
.meta {
    margin: 0 0 10px 0;
    &.auth {
        font-style: italic;
        color: #666;
        a {
            color: #333;
            font-weight: normal;
            font-style:normal;
            &:hover {
                text-decoration: underline;               
            }
        }
    }
}
.b-share {
    margin: 0 0 10px 0;
    text-align: right;
    label {
        display: inline-block;
        background: url(../images/ico_share.png) no-repeat left center;
        color: #999;
        padding: 0 0 0 30px;
        line-height: 30px;
        height: 30px;
        margin: 0 15px 0 0;
    }
    > a {
        display: inline-block;
        margin: 0 10px 5px 0;
        .border-radius(100%);
        height: 24px;
        line-height: 24px;
        width: 24px;
        text-align: center;
        color: #fff;
        background: #ccc;        
        &.lk {
            background: #006699;
        }
        &.fb {
            background: #49659f;
        }
        &.tw {
            background: #00bbf5;
        }
        &.rss {
            background: #ff9900;
        }
        &:hover {
            .opacity(0.8);
        }
        &:last-child{
            margin-right: 0;
        }
        
    }
}
/* LOAD MORE LIST */
.load-more.b-btn {
    position: relative;
    height: 40px;
    &:before {
        content: '';
        height: 1px;
        background: #ddd;
        position: absolute;
        top: 40%;
        display: block;
        width: 100%;
    }
    a.btn-b {
        &:first-child {
            position: relative;
            margin: 0;
            background: #fff;            
            padding: 10px 25px 10px 15px;
            &:after {
                content: '';                
                position: absolute;                
                display: block;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #666 transparent transparent transparent;
                right: 10px;
                top: 15px;
            }
        }
        &:hover {
            background: @ora;
            &:after {             
                border-color: #fff transparent transparent transparent;              
            }
        }
    }
}
/* STYLE FOR 2 COLS */
.grid {
    a.btn-bm{
        margin-top:0!important;
    }  
    .list-blog {
        .clearfix();
        margin: 0 0 30px 0;
    }
    .blog-itm {
        width: 270px;
        margin: 0 0 30px 0;
        float: left;
        height:443px;
        border-bottom: none;
        &:nth-child(2n+1) {
            margin-right: 60px;
        }
            .pic {
                width: 270px;
                max-height: 270px;
                float: none;
                margin: 0 0 10px 0;
                a{
                    padding-top: 100%;
                    overflow: hidden;
                    img{
                        position: absolute;
                        top:50%;
                        transform:translateY(-50%);
                        -webkit-transform:translateY(-50%);
                        -moz-transform:translateY(-50%);
                        -ms-transform:translateY(-50%);
                    }
                }
            }
        &:last-child {
            margin: 0;
        }
    }
    .blog-t {
        margin: 0;
        .desc{
            display: none;
        }
        .b-btn{
            padding: 0 2px;
            .btn-b:first-child{
                margin-right: 7px;
            }
        }
        .blog-ttl{
            height: 46px;
            overflow: hidden;
        }
        .meta.auth{
            height: 44px;
            overflow: hidden;
        }
    }   
}
.grid .blog-itm.on-hover:hover{
            background: #999999;
            display: block;
            color: #fff;
            .pic{
                display: none;
            }
            .meta.auth{
                width: 90%;
                padding: 0 5%;
            }
            .blog-ttl{
                margin-top: 30px;
                margin-left: 5%;
            }
            .blog-ttl a, .meta.auth a, .meta.auth{
                color: #fff;
            }
            .desc{
                display: block;
                width: 90%;
                padding: 10px 5%;
                height: 210px;
                overflow: hidden;
                .read_more{
                    color:@ora;
                    &:hover{
                        color:@ora;
                        text-decoration: underline;
                    }
                }
            }
        }    
/*
 * DETAIL PAGE
 */
/* TOPTEN WIDGET */
.topten-list{
    height: 400px;
    overflow-y: scroll;
    padding-right: 5px;
}
.topten-item{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
    .pic{
        width:60px;
        height:60px;
        float: left;
        overflow: hidden;
        background: #fafafa;
        img{
            width: 100%;
            height: auto;
        }
    }
    .info{
        margin-left: 60px;
        padding: 0 5px 0 8px;
        height: 60px;
        p{
            line-height: 1.3;
            margin-bottom: 0;
            height:19px;
            overflow: hidden;
            font-size: 13px!important;
            a{
                color:#666;
            }
        }
        &:hover{
            background: #fcb234;
            cursor: pointer;
            h2 a, p, p a{
                color:#fff;
            }
        }
    }
    h2{
        height: 20px;
        overflow: hidden;
        margin-bottom: 2px;
    }
    h2 a{
        color:#666;
        font-size: 16px;
        font-weight: 600;
        line-height: 18px;
        vertical-align: top;
        &:hover{
            text-decoration: underline;
        }
    }
}
/* BOOKMARK */
.bok-mk {
    > a {
        color: #666;
        &:before {
            content: "\f097";
            font-family: 'FontAwesome';
            font-size: 14px;
            margin-right: 5px;
        }       
        &:hover {
            &:before {
                content: "\f02e";
            }
        }
    }               
}
.astro-featr {
    .clearfix();
    width:100%;
    line-height: 24px;
    float:left;
}
.p-ttl {
    font-size: 24px;
    margin-bottom: 10px;
}
    .p-meta {
        color: #999;
        font-style: italic;
        span {
            color: #333;
        }
    }
    .rating-box {
        .clearfix();
        margin: 0 0 40px 0;
        position: relative;
        width:100%;
        float:left;
        .category{
            height:30px;
        }
        i {
            font-size: 16px;
            margin: 0 7px  0 0;
            height: 22px;
            line-height: 22px;
            vertical-align: -6px;
            cursor: pointer;
            color: #999;
            &.active {
                color: @ora;         
            }
            &:hover {
                color: @ora;
            }
        }
        .star-bx, .rating-count {
            float: left;
        }
        .rating-count {
            margin-right:10px !important;
        }
    }
    .bok-mk {
        position: absolute;
        top: 4px;
        right: 0;
    }
.astro-featr {      
    .blog-itm {
        .pic {
            margin: 0 20px 20px 0;  
        }
    }
    .a-txt-fea {
        font-weight: 700;
        margin: 0 0 20px 0;
    }
    .b-btn {
        margin: 0 0 20px 0;
    }
    .a-desc {
        margin: 0 0 30px 0;
        .a-desc-more {
            display: none;
        }
        a.vmore {
            padding:  0 0 0 10px; 
            color: @ora;
            &:hover {
                color: @ora;
                text-decoration: underline;
            }
        }
        > p {
            margin: 0 0 10px 0;
        }
    }
}
    .a-block {
        margin: 0 0 30px 0;
        h4 {
            background-color: @ora;
            font-size: 16px;
            text-transform: uppercase;
            color: #fff;
            padding: 5px 0 5px 10px;
            margin: 0 0 15px 0;
            position: relative;
            > span {
                position: absolute;
                display: block;
                width: 20px;
                height: 20px;
                top: 7px;
                right: 10px;
                line-height: 20px;
                text-align: center;
                i {
                    font-size: 20px;
                }
            }
        }
        &.adm {
            h4 {
                > span {
                    .border-radius(50%);
                    background-color: #fff;
                    color: @ora;
                    i {
                        font-size: 15px;
                    }
                }
            }
        }
        &.grey {
            h4 {
                background-color: #999999;
            }            
        }        
    }
    .a-block {
        &.grey {
            p {
                margin: 0 0 10px 0;
            }
            .a-block-ct {
                > p {
                    margin: 0 0 10px 0;
                }
                > div {
                    margin: 0 0 10px 0;
                }
                ul.ind-time{
                    float:left;
                    margin-bottom:30px;
                    margin-top:10px;
                    width:100%;
                    li{
                        width:50%;
                        position:relative;
                        float:left;
                        display:inline-block;
                        height:auto;
                        line-height:25px;
                        font-size: 15px;
                        color:#666;
                    }
                }
            }
            &.review {
                p {
                    &.t-c {
                        width: 70%;
                        margin: 0 auto;
                    }                    
                }                
            }
            
        }
    }
.more-frm-itm {
    .clearfix();
    padding: 0 0 10px 0;
    margin: 0 0 18px 0;
    border-bottom: 1px solid #ddd;
    &:last-child {
        border-bottom: none;
    }
    .more-pic {
        width: 60px;
        height: 60px;
        margin-right: 15px;
        float: left;
        a {
            display: block;            
        }
        img {
                height: 60px;                
        }
    }
    .more-ct {
        width: 420px;
        margin-right: 15px;
        float: left;
        h3 {
            line-height: 1.2;
            a {
                color: #666;
                &:hover {
                    color: @ora;
                }
            }
        }
        .meta, .p-date {
            font-size: 13px;
            margin: 0;
        }
        .rating-box {
            margin: 5px 0 0 0;
            font-size: 13px;
            i {
                vertical-align: 0;
            }
        }
    }
    .b-btn {
        float: left;
        width: 110px;
        margin: 0;
        a.btn-b {
            display: block;
            padding: 6px 5px;
            &:first-child {
                margin: 0 0 10px 0;

            }
        }
    }
}
/* MAKE IT BLOCK */
.search-map-frm {
    height: 45px;
    i {
        font-size: 30px; 
        color: #bbb;
        vertical-align: -7px;
        margin: 0 10px 0 0;
    }
    input[type="text"] {
        height: 34px;
        width: 90%;
    }
}
.find-map {
    border: 1px solid #666;
    line-height: 1;
    margin: 0 0 15px 0;
    > img {
        width: 100%;
    }
}
.nofi-map {
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
    p {
        margin: 0;
        a {
            color: #db0000;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    a.nofi-exp {
        position: absolute;
        top: 13px;
        right: 15px;
        font-weight: 700;
        &:hover {
            text-decoration: underline;
            color: @ora;
        }
    }
}
.a-block.grey {
    .nofi-map {
       p {
            margin: 0;
       }
    }
}
.nofi-more {
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    display: none;
    .n-star {
        text-align: center;
        > span {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 38px;
            background-color: #e22a49;
            font-size: 28px;
            color: #fff;
            margin: 0 0 5px 0;
        }
        > p {
            font-weight: 700;
        }
    }
    .n-blk {
        margin: 0 0 15px 0;
        &:last-child {
           margin: 0; 
        }
        > label {
            display: block;
            position: relative;
            text-transform: uppercase;
            span {
                padding: 0 5px 0 0 ;
                background-color: #fff;
                position: relative;
                z-index: 2;
            }
            &:before {
                display: block;
                content: '';
                height: 1px;
                width: 100%;
                background-color: #ddd;
                position: absolute;
                top: 11px;
                left: 0;
                z-index: 1;
            }
        }
        .n-blk-ct {
            > ul {
                .clearfix();
                li {
                    float: left;
                    width: 50%;
                    img {
                        width: 30px;
                        vertical-align: -10px;
                    }
                }
            }
        }
    }
}

.filter-map {
    margin: 0 0 15px 0;
    td {
        width: 25%;
        img {
            width: 18px;
            vertical-align: -3px;
        }
        &.vtop {
             vertical-align: top;
        }
    }
}
/* LOCATION */
.locatn {
    .lo-left {        
        .lo-map {
            height: 180px;
            overflow: hidden;
            img {
                width: 100%;
            }            
        } 
        > p { 
            line-height: 18px;
            > a {                
                font-size: 11px;
                color: #666;
                text-decoration: underline;
                &:hover {
                    text-decoration: inherit;
                }  
            }
        }
    }
    .lo-right {
        text-align: center;
        margin: 15px 0 0 0;
    }
}
.lo-meta {
    margin: 20px 0 0 0;
    > p {
        margin: 0 0 10px 0;
    }
    .lo-link {
        display: inline-block;        
        height: 24px;
        line-height: 24px;
        text-align: center;
        background-color: #fa2805;        
        color: #fff;
        margin: 0 5px 0 0 ;
        i {
            &:before {
                margin: 0;
            }
        }
        &.fb {
            margin: 0 5px 0 10px ;
            width: 24px;
            background-color: #004088;
        }
        &.tw {
            width: 24px;
            background-color: #00abe3;
        }
        &.donat {
            padding: 0 5px;
        }
    }
}
/* DATE-TIME BLOCK : detail page */
.datetime {
    .a-block-ct {
        .clearfix();
        .clearfix {
            > div.fl {
            width: 48%;
            margin: 0 2% 0 0;
            &:last-child {
                    margin: 0 0 0 2%;
                }
            }
        }        
        .not {
            font-size: 11px;
            margin: 15px 0 0 0;
            > span {
                color: #fa2805;
            }
        }
    }    
}
.astro-detail {
    position: relative;
    .p-ttl {
        padding: 0 25% 0 0;
    }    
    .social-icon-pck {
        min-height: 30px;
        .clearfix(); 
        .s-ct {
            text-align: right;
        }     
    }
    .page-tool {
        position: absolute; 
        top: 34px;
        right: 0;       
        a {
            font-size: 18px;
            color: #999;
            display: inline-block;
            width: 25px;
            text-align: center;
            margin: 0 5px;
            &:hover {
                color: @ora;
            }
        }
    }
}
.more-from {
    .t-c {
        a {
            &:hover {
                text-decoration: underline;
                color: @ora;
            }
        }
    }
}

/* OTHER PAGE */
.content-page {
    .title-page {
        height: 35px;
        line-height: 35px;
        font-family: 'Open sans', Arial, Helvetica;
        font-weight: 300;
        font-size: 18px;
    }
}
.p-sub-ct {
    p {
        a {
            &:hover {
                text-decoration: underline;
                color: @ora;
            }
        }
    }
}

/* LOGIN PAGE */
.login-wrp {
    margin: 30px 0 40px 0;
    .clearfix();
    > div {
        float: left;
    }
    .log-frm {
        width: 300px;
        .inp-txt {
            width: 100%;
            .box-sizing();
            height: 38px;           
            margin: 0 0 10px 0;
            &:focus {
                border: 1px solid #999;
            }
        }
        .b-btn {
            text-align: left;
            .btn {
                font-size: 12px;
                width: 160px;
                text-align: center;
            }
            > a {
                font-size: 11px;
                color: #666;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .or-line {
        width: 90px;
        position: relative;
        height: 132px;
        &:before {
            content: '';
            height: 100%;
            width: 1px;
            background-color: #ddd;
            position: absolute;
            top: 0;
            left: 50%;
        }
        span {
            position: absolute;
            top:  50%;
            left: 50%;
            background-color: #fff;
            margin: -9px;
            font-size: 11px;
            padding: 3px;
        }

    }
    .log-fb {
        width: 230px;
        .log-fb-ct {
            margin: 28px 0 0 0;
        }
        .connect-fb {
            background-color: #3a599e;
            display: block;
            padding: 12px 5px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            span {
                display: inline-block;
                font-weight: 400;
                color: #809ad6;
                margin: 0 10px;
            }
            &:hover {
                background-color: #2d4989;
            }
        }
    }
}
/* RESGISTER PAGE */
p.warn {
    font-size: 12px; 
    text-align: justify;
    line-height: 16px;
    span {
        color: #fa2805;
    }
}
.benef {
    margin: 20px 0;
    > p {
        &:before {
            content: "\f00c";
            font-family: 'FontAwesome';
            margin: 0 5px 0 0;
        }
    }
}
.regis-wrp {
    margin: 0 0 30px 0;
    >form{
        width:70%;
    }
    .inp-txt {
        width: 100%;
        height: 38px;           
        margin: 0 0 10px 0;
        color:#666;
        z-index:100;
        .box-sizing();
        margin-bottom:15px;
        &:focus {
            border: 1px solid #999;
        }
    }
    .b-btn {
        text-align: left;
        .btn {
            font-size: 12px;
            width: 160px;
            text-align: center;
        }
    }
}
.f-row {
    > span {
        padding: 0 0 0 20px;
    }
    .inp.inp-error {
        border: 1px solid #fa2805;
    }
    .error {
        color: #fa2805;
    }
}

/* NOT FOUND PAGE */
.error-container{
    position:relative;
    margin-top:47px;
    margin-bottom:120px;
    width:100%;
 
}
ul.error{
    position:relative;
    display:inline-block;
    color:#ccc;
}
ul.error li{
    float:left;

}

ul.error li:first-child{
    width:280px;
    .magnify{
        display:inline-block;
        left:0;
        width:145px;
        position:relative;
        img{
            width:145px;
            height:145px;
        }
        .fa-exclamation{
            position:absolute;
            z-index:50;
            top:30px;
            left:47px;
            color:@ora;
        }
    }
    .text-404{
        display:inline-block;
        width:130px;
        span.top{
            position:absolute;
            top:25px;
            color:#fcb234;
            font-size:46px;
            left:135px;
            font-weight:700;
        }
        span.bottom{
            position:absolute;
            top:75px;
            color:#8c8c8c;
            font-size:22px;
            left:145px;
            font-weight:700;
        }
        
    }  
}
ul.error li:last-child{
    margin-right:0;

    p{
        padding:40px 0;
        width:310px;
        text-align:left;
        font-size:18px;
        font-weight:600;
        color:#9f9f9f;
        line-height:21px;
    }
}

/** CATEGORY LIST  **/
.list-category{
    position:relative;
    margin-bottom:30px;
    border-bottom: 5px #eaeaea solid;
}

.category-itm { 
    .clearfix();
    position: relative;
    padding: 45px 10px 20px 10px;
    background:#fbfbfb;
    border-bottom: 1px solid #f2f2f2;
    &:last-child {
        margin: 0;
        border-bottom: none;
    }   
    .pic {
        width: 200px;
        height: auto;
        max-height: 200px;
        float: left;
        overflow: hidden;
        background: #eee;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
        a {
            display: block;
            line-height: 1;
        }
        .rec_above_image {
            position: relative;
        }
    }
    .b-time {
        position: absolute;
        background: @ora;
        .border-radius(30px);
        height: 40px;
        padding: 10px 15px;
        top: 15px;
        left: -20px;
        color: #fff;
        > div {
            float: left;
        }
        .t {
            font-weight: bold;
            text-align: center;
            span {
                display: block;
                &:first-child {
                    font-size: 26px;
                }
            }
        }
        .t-th {
            line-height: 40px;
            height: 40px;
            text-align: center;
            padding: 0 5px;
            font-style: italic;
        }
    }
    .category-t {
        margin: 0 0 0 215px;
        .meta {
            margin: 0 0 10px 0;
            &.auth {
            font-size: 14px;
            font-style: italic;
            color: #666;
                a {
                    color: #333;
                    font-weight: normal;
                    &:hover {
                        text-decoration: underline;               
                    }
                }
            }
        }
       
    }
    .category-ttl {
        .f-biiter();
        font-size: 18px;
        font-weight: normal;
        margin: 0 0 10px 0;
        line-height: 21px;
        a {  
            color: #666;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .desc {
        line-height: 1.5;
        font-weight: normal;
        font-size:14px;
        margin: 0 0 10px 0;
    }
    a.vmore {
            padding:  0 0 0 0px; 
            color: @ora;
            &:hover {
                color: @ora;
                text-decoration: underline;
            }
    }   
}

.category-itm {
    > .b-btn {
        text-align: left;
        a.btn-b {
            padding: 6px 15px;
        }
    }
}
.b-btn.category {
    text-align:left;
    margin-top:20px;
    .btn-category {
        font-weight: 700;
        font-size: 13px;
        line-height:38px;
        text-align: center;
        color: #666;
        padding: 0 15px;
        border: 1px solid @ora;
        display: inline-block;
        margin:0 10px 10px 0;
        &:hover {
            background: @ora;
            border: 1px solid @ora;
            color: #fff;
            span{
                color:#fff;
            }
        }
    }
    
}
.cat-rating-box {     
                margin: -10px 0 10px 0;
                position: relative;
                height:16px; 
                i {
                    font-size: 16px;
                    margin: 0 8px  0 0;
                    height: 22px;
                    line-height: 22px;
                    vertical-align: -6px;
                    cursor: pointer;
                    color: #999;
                    &.active {
                        color: @ora;         
                    }
                    &:hover {
                        color: @ora;
                    }
                }
                .star-bx, .rating-count {
                    float: left;
                }
        }
.b-share-cat {
    margin: 0 0 10px 0;
    text-align: right;
    label {
        display: inline-block;
        background: url(../images/ico_share.png) no-repeat left center;
        color: #999;
        padding: 0 0 0 30px;
        line-height: 24px;
        height: 24px;
        margin: 0 15px 3px 0;
        vertical-align: middle;
    }
    > a.sc {
        display: inline-block;
        margin: 0 10px 5px 0;
        .border-radius(100%);
        border:2px solid #b3b3b3;
        height: 24px;
        line-height: 24px;
        width: 24px;
        text-align: center;
        color: #b3b3b3;
        background: rgba(0,0,0,0);     
    }
    > a.pt{
        color: #999;
        display: inline-block;
        font-size: 18px;
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 0;
        text-align: center;
        width: 25px;
        &:hover{
            color:@ora;
        }
        .fa-envelope-o{
            margin-right:10px;
        }
    }   
}

.b-share-cat > a.sc.fb:hover {
    border: 2px solid #49659f;   
}
.b-share-cat > a.sc.fb:hover i {
    color: #49659f;
}

.b-share-cat > a.sc.tw:hover {
    border: 2px solid #00bbf5;
}
.b-share-cat > a.sc.tw:hover i {
    color: #00bbf5;
}

.b-share-cat > a.sc.google:hover {
    border: 2px solid #d01717;
}
.b-share-cat > a.sc.google:hover i {
    color: #d01717;
}

.b-share-cat > a.sc.pin:hover {
    border: 2px solid #CE2026;
}
.b-share-cat > a.sc.pin:hover i {
    color: #CE2026;
}

.b-share-cat > a.sc.lk:hover {
    border: 2px solid #006699;
}
.b-share-cat > a.sc.lk:hover i {
    color: #006699;
}

.list-more-category{
    .more-cat-itm {
        .clearfix();
        padding: 0 0 20px 0;
        margin: 0 0 18px 0;
        border-bottom: 1px solid #ddd;
        &:last-child {
            border-bottom: none;
            padding-bottom:0;
        }
        .more-pic {
            max-width: 60px;
            height:auto;
            max-height: 60px;
            margin-right: 15px;
            overflow:hidden;
            float: left;
            a {
                display: block;            
            }
            img {
                    width:100%;                
            }
        }
        .more-ct {
            width: 400px;
            margin-right: 15px;
            float: left;
            h3 {
                line-height: 1.2;
                a {
                    color: #666;
                    &:hover {
                        color: @ora;
                    }
                }
            }
            .meta{
                font-size: 14px;
                margin: 0;
            }
            .p-date {
                font-size: 13px;
                margin-bottom: 10px;
            }
            .more-cat-rating-box {     
                margin: -10px 0 10px 0;
                position: relative;
                height:16px; 
                i {
                    font-size: 16px;
                    margin: 0 8px  0 0;
                    height: 22px;
                    line-height: 22px;
                    vertical-align: -6px;
                    cursor: pointer;
                    color: #999;
                    &.active {
                        color: @ora;         
                    }
                    &:hover {
                        color: @ora;
                    }
                }
                .star-bx, .rating-count {
                    float: left;
                }
        }
            .desc {
                line-height: 1.5;
                font-weight: normal;
                font-size:14px;
                margin: 0px 0 10px 0;
                a.vmore {
                    padding:  0 0 0 10px; 
                    color: @ora;
                    &:hover {
                        color: @ora;
                        text-decoration: underline;
                    }
                }
            }    
        }
        .b-btn {
            float: left;
            width: 130px;
            margin: 0;
            a.btn-b {
                display: block;
                padding: 12px 5px;
                margin: 0 0 10px 0;
                &:hover {
                    background: @ora;
                    border: 1px solid @ora;
                    color: #fff;
                }
                
            }
        }
    }
}
/* CATEGORY DETAIL */
.category-detail{
    position:relative;
    padding-bottom:35px;
    border-bottom: 5px #eaeaea solid;
    .p-ttl{
       margin-bottom:10px;
    }
    .meta{
        font-size:14px;
    }
    .desc {
        line-height: 1.5;
        font-weight: normal;
        font-size:14px;
        margin: 20px 0 10px 0;
        a.vmore {
            padding:  0 0 0 10px; 
            color: @ora;
            &:hover {
                color: @ora;
                text-decoration: underline;
            }
        }
    }    
    .pic{
        width:100%;
        text-align:center;
        position:relative;
        box-sizing:border-box;
        height:auto;
        margin-top:50px;
        .rec_above_image {
            position: relative;
        }
        a{
            position:relative;
            display:inline-block;
            max-width:100%;
            height:auto;
            max-height: 350px;
            img{
                width:100%;
                height:auto;
                margin:0 auto;
            }
        }
        span.date{
            position:absolute;
            width:100%;
            height:60px;
            display:inline-block;
            z-index:1;
        }
        .b-time {
                position: absolute;
                background: @ora;
                .border-radius(30px);
                height: 40px;
                padding: 10px 15px;
                top: 0;
                left:-20px;
                color: #fff;
                > div {
                    float: left;
                }
                .t {
                    font-weight: bold;
                    text-align: center;
                    span {
                        display: block;
                        &:first-child {
                            font-size: 26px;
                        }
                    }
                }
                .t-th {
                    line-height: 40px;
                    height: 40px;
                    text-align: center;
                    padding: 0 5px;
                    font-style: italic;
                }
            }
        
    }

}
.b-btn.cat-detail {
    text-align:center;
    margin-top:20px;
    .btn-cat-detail {
        font-weight: 700;
        font-size: 13px;
        line-height:38px;
        text-align: center;
        color: #666;
        padding: 12px auto;
        border: 1px solid @ora;
        display: inline-block;
        width:160px;
        margin: 0 10px 10px 0;
        &:last-child {
            margin-right:0;
        }
        &:hover {
            background: @ora;
            border: 1px solid @ora;
            color: #fff;
        }
    }
}
/* EDUCATION PAGE */

.education-search{
    width:100%;
    float:left;
}
.education-search .inp.inp-txt {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.education-search{
    span.tt{
        font-size:16px;
        padding:10px 0;
        float:left;
    }
}
.el-blk.bill{
    padding:10px 0;
}
.date-range-blk{
    width:100%;
    float:left;
    margin:7px 0;

    label{
        width:70px;
        float:left;
        left:0;
        line-height:36px;
    }
    .date-picker{
        margin-left:86px;
        float: none;
        position:relative;
        &:after{
            color: #666;
            content: "\f073";
            font-family: FontAwesome;
            font-size: 30px;
            height: 34px;
            pointer-events: none;
            position: absolute;
            right: 2px;
            top: 3px;
            width: 34px;
            background: #f9f9f9;
        }
    }

}
.JsDatePickBox {
        top: 27px;
        left:auto!important;
        right:0;
        position:absolute;
        background: #fff;
        border: 1px solid #ddd;
        .boxMain {
            padding: 0;
        }
        .controlsBar {
            background: #eee;
        }
        .boxMainInner { 
            .boxMainCellsContainer {
                > div {
                    .border-radius(4px);
                }
            }

            .dayDown, .dayDownToday {
                color: #fff;
                background: @ora;                
            }
            .dayNormalToday {
                color: @ora; 
                &.dayOver {
                    color: #000;
                }
            }
            .dayOver {
                color: #000; 
                background: #ddd;         
            }
            .ffa {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            .controlsBar {
                > div {                    
                    line-height: 20px;
                    text-align: center;
                }
            }
            .yearBackwardButton, .yearBackwardButtonOver {   
                .ffa();             
                &:before {
                    content: "\f100";
                }
            }
            .yearBackwardButtonOver, .monthBackwardButtonOver, .monthForwardButtonOver, .yearForwardButtonOver {
                color: @ora;
            }
            .monthBackwardButton, .monthBackwardButtonOver {
                .ffa();
                &:before {
                    content: "\f104";
                }
            }           
            .monthForwardButton, .monthForwardButtonOver {
                .ffa();
                &:before {
                    content: "\f105";
                }
            }
            .yearForwardButton, .yearForwardButtonOver {
                .ffa();
                &:before {
                    content: "\f101";
                }
            }
        }        
    }
label.biling{
    margin-left:10px;
}
.el-blk.mrg{
    margin-top:10px;
    margin-bottom:10px;
}
.qualification{
    font-size:16px;
    color:#666;
    width:100%;
}
.qualification:after{
    content: "\f055";
    font-family:FontAwesome;
    font-size:16px;
    color:#666;
    position:absolute;
    right:0;
}
.qualification.active + .quali-list{
    display:block;
}
.qualification.active:after{
    content: "\f056";
    font-family:FontAwesome;
    font-size:16px;
    color:#666;
    position:absolute;
    right:0;
}
.quali-list{
    display:none;
    margin-top:20px;
    li{
        margin: 10px 0 10px 20px;
        position:relative;
        float:left;
        input{
            position:absolute;
            left:0;
            top:3px;
        }
        label{
            float:left;
            margin-left:20px;
            position:relative;
            line-height:1.2em;
        }
    }
}
.edu-btn{
    width:140px;
    float:left;
    box-sizing:border-box;
}
.search-btn{
    width:140px;
    float:left;
    box-sizing:border-box;
}
nav.search-artist-thumb li.edu{
    height:260px;
}
.el-blk.edu-detail{
    margin: 10px 0 0 0;
}
.pgtt-blk{
    width:100%;
    position:relative;
    float:left;
    .pg-tt{
        background:#666;
        width:94%;
        float:left;
        h4{
            color: #fff;
            font-size: 16px;
            margin-bottom: 0px;
            margin-left: 0;
            margin-right: 0;
            padding-bottom: 10px;
            padding-left: 30px;
            padding-right: 0;
            padding-top: 10px;
            position: relative;
            text-transform: uppercase;
        }
    }
    &:before{
        content: "";
        position: absolute;
        display: block;
        border-style: solid;
        border-color: #9d9d9d transparent transparent transparent;
        bottom: -15px;
        left: 0;
        border-width: 15px 0 0 15px;
        }
}
.pg-bkl{
    width:92%;
    margin:0 auto 0 15px;
    float:left;
    border-left:1px #9d9d9d solid;
    position:relative;
    .des{
        margin-left:3%;
        margin-top:15px;
        float:left;
        position:relative;
        width:97%;
        .item{
            width:100%;
            float:left;
            margin:12px 0;
            span{
                font-size:15px;
                font-weight:700;
                line-height:1.2em;
            }
        }
        p{
            a.vmore{
                margin-left:10px;
                position:relative;
            }
            .avai-date{
                color:#666;
                font-weight:700;
                font-size:18px;
            }
        }
    }
    .booking{
        margin-left:3%;
        margin-top:15px;
        float:left;
        position:relative;
        width:97%;
    }
}

.pg-bkl h4 {
    background-color: #888888;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 0;
    padding-top: 5px;
    position: relative;
    text-transform: uppercase;
}
.arrow-right{
    float:left;
    left:10px;
    position:absolute;
    top:27px;
    z-index:10;
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    color:#fff;
    &:after{
        content:"\f0dd";
        font-family: 'FontAwesome';
        font-size:22px;
    }
}
.triangle-right {
    height:100%;
    position:absolute;
    left:94%;
    width: 6%;
}
.triangle-right img {
    width: 100%;
    height: 100%;
}
.event-btn.no-mar-l.edit{
    float:left;
    margin-left:20px;
    position:relative;
    margin-top:0;
}
.el-blk.social{
    width:100%;
    float:left;
    position:relative;
}
.el-blk.social > p{
    position:relative;
    width:100%;
    float:left;
}
.el-blk.social > p > i{
    width:30px;
    float:left;
    position:relative;
    margin-top:5px;
}
.el-blk.social > p > span{
    width:55px;
    float:left;
    position:relative;
}
.el-blk.social > p > a{
    width: ~"calc(100% - 100px)";
    position:relative;
    left:10px;
    float:left;
    overflow:hidden;
}
.edu-photo{
    margin-bottom:0!important;
}
.fa-skype{
    color:#27b3ec;
}
.skype{
    color:#27b3ec;
    margin-left:20px;
}
.skype:hover{
    text-decoration:underline;
    color:#27b3ec;
}
.edu-detail-desc {
    float: none;
    position: relative;
}
.el-blk .select-bkl{
    margin-bottom:15px;
}
#teacher-frm .inp.inp-txt {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    width: 100%;
    box-sizing:border-box;
    font-size:13px;
    margin-bottom: 15px;
}

.date-picker{
    float: none;
    position:relative;
    &:after{
        color: #666;
        content: "\f073";
        font-family: FontAwesome;
        font-size: 30px;
        height: 34px;
        pointer-events: none;
        position: absolute;
        right: 2px;
        top: 3px;
        width: 34px;
        background: #f9f9f9;
    }
}
label.sl{
    font-weight:700;
    padding-top:10px;
    float:left;
}
.grant-sl{
    float:left;
    margin-top:10px;
    width:100%;
}
.grant-sl li{
    width:48%;
    display:inline-block;
    margin-bottom:10px;
}
 span.permission{
    float:left;
    width:~"calc(100% - 65px)";
    font-weight:700;
    padding-top:10px;
}
span.permission + .onoffswitch{
    margin-top:10px;
}
.btn-form-submit{
    background:@ora;
    color:#fff;
    font-size:18px;
    padding:15px 25px;
    text-transform:uppercase;
    position:relative;
    float:left;
    box-sizing:border-box;
    margin-right:15px;
    margin-bottom:15px;
}
.btn-form-submit:hover{
    color:#fff;
}
.agree-list{
    width:100%;
    float:left;
}
.agree-list li{
    width:100%;
    margin:10px 0;
    position:relative;
    float:left;
}
.answer-sec{
    width:160px;
    float:left;
    display:inline-block;
}
.question-sec{
    width:~"calc(100% - 160px)";
    float:left;
    display:inline-block;
    font-weight: 700;
    padding:0 5px;
    box-sizing:border-box;
    line-height:1.5em;
}
.question-sec-full {
    width:100%;
    float:left;
    display:inline-block;
    font-weight: 700;
    padding:0 5px;
    box-sizing:border-box;
    line-height:1.5em;
    margin-bottom:10px;
}

.note p{
    font-size:12px;
    padding:15px 0;
}
#other-des{
    display:none;
}
#other-sl:checked + label + #other-des{
    display:block;
}

/* ORGANIZATION PAGE */

.organization-search{
    width:100%;
    float:left;
}
.organization-search .inp.inp-txt {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    width: 100%;
    margin-bottom: 15px;
}
.b-btn.bt{
    margin-top:15px;
    position:relative;
    float:left;
    width:100%;
}
.el-blk.blog-itm{
    margin-top:20px;
}
.meta.auth.classified{
    margin:10px 0 5px 0;
    position: relative;
    float: left;
}
.org-type {
    float: left;
    line-height: 1.2em;
    margin: 10px 0;
    width: 100%;
    a.link{
        color:#666;
        &:hover{
        text-decoration:underline;
        }
    }
}
.pt-date{
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
    float:left;
    width:100%;
    .fa-calendar{
        margin-right:10px;
    }
    span{
        font-size:13px;
        color:#666;
        line-height:13px;
        max-height:15px;
        overflow:hidden;   
    }
}
.company-name{
    color:#666;
    overflow:hidden;
    line-height:1.2em;
    width: 100%;
    margin-top:10px;
    margin-bottom:5px;
    float: left;
    position: relative;
}
.icons-list{
    float:left;
    width:100%;
    position:relative;
    margin-top:5px;
    margin-bottom: 5px;
    span{
        float:left;
        display:inline-block;
        cursor:pointer;
        margin-right:10px;
        width:40px;
        height:40px;
        overflow:hidden;
        margin-bottom: 5px;
        img{
            width:100%;
            height:auto;
        }
        .show-tip{
            position:absolute;
            z-index:100;
            left:0;
            top:30px;
            display:none;
            min-width: 90%;
        }
        .show-tip:before, .show-tip:after{
            content:'';
            border:none;
        }
        &:hover > .show-tip{
            display:block;
        }
    }
}
.icons-list span .ttip {
  color: @ora;
  position: absolute;
  left: 15px;
  top: 34px;
  display: none;
  font-size: 18px;
}
.icons-list span:hover > .ttip {
  display: block;
}
.audio-list li{
    margin:15px 0 20px 0;
    border-bottom:1px solid #ddd;
    position:relative;
    padding-bottom:10px;
}
/* VENUE PAGE */
.accessibilyty-icons-list{
    float:left;
    width:100%;
    position:relative;
    margin-top:10px;
    span{
        float:left;
        display:inline-block;
        cursor:pointer;
        margin-right:10px;
        width:50%;
        height:35px;
        overflow:hidden;
        margin-bottom: 10px;
        img{
            max-width:35px;
            height:auto;
        }
        label{
            position:relative;
            margin-top:-15px
        }
    }
    p{
        clear: both;
    }
}
.loc-address{
    margin-bottom:20px;
    position:relative;
    span{
        margin-bottom:5px;
        position:relative;
        display:block;
    }
}
.lo-left.venue{
    img{
        width:100%;
    }
}
.accessibilyty-icons-search{
    float:left;
    width:100%;
    position:relative;
    span{
        float:left;
        display:block;
        cursor:pointer;
        width:100%;
        height:35px;
        overflow:hidden;
        margin-bottom:10px;
        img{
            max-width:35px;
            height:auto;
            margin-right: 10px;
        }
        input{
            top:-10px;
            position: relative;
            margin-right: 10px;
        }
        label{
            top:-10px;
            position: relative;
            line-height: 25px;
        }
    }
}
.accessibilyty-dropdown{
    width: 100%;
    position: relative;
}
.accessibilyty-dropdown dt{
    display: block;
    height: 36px;
    width: 100%;
    border:1px solid #ccc;
    background-color: #f9f9f9;
    box-sizing: border-box;
    position: 100%;
    a{
        color: #666666;
        line-height: 36px;
        padding-left: 10px;
        width:100%;
        display: block;
    }
}
.multiSel{
    width: 100%;
    span{
        display: inline;
    }
}
.accessibilyty-dropdown dt:after{
    content:"\f0d7";
    position: absolute;
    right:10px;
    top:8px;
    font-family: "FontAwesome";
    font-size: 18px;
    color:#000;
    cursor: pointer;
    pointer-events:none;
}
.accessibilyty-dropdown dd{
    width: 100%;
    position: relative;
}
.accessibilyty-dropdown dd ul {
    background-color: #f9f9f9;
    border:0;
    color:#fff;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:100%;
    list-style:none;
    overflow: auto;
    height: 200px;
    box-sizing: border-box;
    z-index: 50;
    li{
        margin:5px;
        min-height: 32px;
        position: relative;
        float: left;
        width: 100%;
        input{
            display: inline-block;
            top:10px;
            position: relative;
            float: left;
        }
        img{
            margin:0 10px;
            display: inline-block;
            -ms-transform: scale(0.7); /* IE 9 */
            -webkit-transform: scale(0.7); /* Safari */
            transform: scale(0.7);
            float: left;
        }
        label{
            color:#666;
            display: inline-block;
            top:10px;
            position: relative;
            float: left;
        }
    }
}
.a-block.venue{
    margin-bottom: 0!important;
}
/**
 * CSS CLASSIFIED LISTING
 */
.blk-show-list {
    padding-top: 10px;
    padding-bottom: 10px;
    clear: both;
    ul.list-show {
        list-style: none;
        label.ttl-list {
            color: #000;
            font-weight: 700;
            span {
                text-transform: uppercase;
            }
        }
        li {
            display: inline-block;
            position: relative;
            margin-bottom: 5px;
            &::before {
                content: '|';
                color: #000;
                font-size: 10px;
                position: absolute;
                left: -3px;
                top: 0px;
            }
            a {
                display: inline-block;
                color: #444;
                text-transform: capitalize;
                padding-left: 5px;
                padding-right: 5px;
                font-size: 12px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.blk-list-table {
    clear: both;
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    padding-top: 20px;
    .table-info {
        .table {
            width: 100%;
            border-collapse: collapse;
            background-color: #fff;
            thead, tbody {
                > tr {
                    > th, > td {
                        text-align: left;
                        padding: 8px;
                        a {
                            text-transform: capitalize;
                            color: #444;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                    &.bg-gray {
                        background-color: #efefef;
                    }
                }
            }
        }
    }
}
.blk-list-table {
    .table-info {
        .table {
            thead {
                > tr {
                    > th {
                        position: relative;
                        min-width: 80px;
                        a.icon-sort {
                            margin-left: 5px;
                            color: #666;
                            display: inline-block;
                            position: absolute;
                            &.ic-sort-up {
                                top: 4px;
                            }
                            &.ic-sort-down {
                                bottom: 4px;
                            }
                            &:hover {
                                color: #999;
                            }
                        }
                    }
                    th.ttl-special {
                        width: 210px;
                    }
                }
            }
        }
    }
}
.blk-list-table {
    .table-info {
        .table {
            tbody {
                > tr {
                    border-bottom: 1px solid #d7d7d7;
                    &:nth-child(even) {
                        background-color: #f5f5f5;
                    }
                    > td {
                        display: table-cell;
                        vertical-align: middle;
                        a {
                            color: #666;
                            &:hover {
                                text-decoration: underline; 
                            }
                        }
                    }
                }
            }
        }
    }
}