// Print
    body {font-family: 'Karla', sans-serif;  background: transparent; color: #666; box-shadow: none; text-shadow: none; font-size:11pt; margin: 0; padding: 0; border: 0; outline: 0;}
    img, fieldset {border: 0}
    ol, ul{list-style-type: none;}
    li {list-style-type: disc;}
    dt {font-weight: bold;}
    a{color: #fcb234;text-decoration:none;}
    a:hover{text-decoration: underline; color: #fcb234;} 
    input, select, textarea{border: 1px solid #000;}
    input {padding: 1px 0}
    select {margin: 0; padding: 0; line-height: normal;}
    img {max-width: 100%;}
    pre, blockquote {border: 1px solid #000; page-break-inside: avoid;}
    div {text-align: left;}
    caption {display: none;}
    table {border-top: 1px solid #000; border-left: 1px solid #000; border-collapse: separate; border-spacing: 0;
    th, td {padding: 5px; border-right: 1px solid #000; border-bottom: 1px solid #000; text-align: left;}
}
h2{
    font-size:20pt;
    font-weight:700;
    color:#666;
    margin:5px 0;
}
  .top{
        width:100%;
        min-width:980px;
        border-bottom:1px solid #ccc;
        height:108px;
        vertical-align:middle;
  }
  .top-head{
        width:980px;
        margin:0 auto;
        top:19px;
        position:relative;
  }
  .wrapper{
        position:relative;
        display:table;
        width:980px;
        margin-top:40px;
        margin:0 auto;
        padding:0 20px;
  }
  .block-detail{
        width:100%;
        padding:20px 0;
        display:block;
        float:left;
        position:relative;
        &:last-child{
            border-bottom:none;
        }
        &:first-child{
            border-bottom:none;
        }
  }
  span.question{
    font-size:20pt;
    line-height:36pt;
    color:#666;
    font-weight:700;
  }
  .pic {
        width: 300px;
        max-height: 300px;
        float: left;
        overflow: hidden;
        background: #eee;
        img {
            width: 100%;
            height: auto;
        }
        a {
            display: block;
            line-height: 1;
        }
    }
    .art{
        width: 300px;
        max-height: 300px;
    }
.b-time {
        position: absolute;
        background:#fcb234;
        -webkit-border-radius: 30px;
        -moz-border-radius:30px;
        -ms-border-radius:30px;
        -o-border-radius:30px;
        border-radius:30px;
        height: 40px;
        padding: 10px 15px;
        left: -20px;
        color: #fff;
        > div {
            float: left;
        }
        .t {
            font-weight: bold;
            text-align: center;
            margin-top:-5px;
            span {
                display: block;
                &:first-child {
                    font-size: 20pt;
                }
                &:last-child {
                    font-size: 10pt;
                    margin-top:-8px;
                }
            }
        }
        .t-th {
            line-height: 40px;
            height: 40px;
            text-align: center;
            padding: 0 5px;
            font-style: italic;
        }
}
.event-des {
    margin-bottom: 0;
    margin-left: 338px;
    margin-right: 0;
    margin-top: 0;
}
.meta{
    color: #666;
    font-size: 11pt;
    font-weight:normal;
    a{
        color: #333;
        text-decoration:none;
        font-weight:normal;
        font-style:normal;
    }
}
.meta.auth{
    color: #666;
    font-size: 11pt;
    font-style:italic; 
}
.desc{
    position:relative;
    width:100%;
    float:left;
    display:block;
}
.tt-bar{
    width:240px;
    position:relative;
    float:left;
    height:36px;
    top:10px;
        a{
            color:#fcb234;
            left: 0;
            position:absolute;
            margin-right:10px;         
        }
        span{
            left: 40px;
            font-weight:700;
            color:#666;
            font-size:15pt;
            position:absolute;
        }
}
.tt-info{
    position:relative;
    float:left;
    width:100%;
    max-width:720px;
    .loc{
        margin-top:-4px;
    }
    p{
        label{
            color: #666;
            font-size: 12pt;
            font-weight: 700;
            margin-left: 0;
        }
        span{
            color: #666;
            font-size: 15pt;
            font-weight: 700;
        }
    }
    .map{
        width:598px;
        float:left;
        margin-right:20px;
        margin-top:15px;
    }
    
}
.ind-time {
    float: left;
    margin-top: 10px;
    list-style-type:none;
    position:relative;
    margin-top:-9px;
    width:100%;
    li{
        color: #666;
        display: inline-block;
        float: left;
        font-size: 12pt;
        height: auto;
        line-height: 25px;
        position: relative;
        width: 50%;
        text-align: left;
        left:-40px;
    }
}
.acces-list {
    float: left;
    list-style-type:none;
    margin-top:-9px;
}
.acces-list > li{
    display: block;
    float: left;
    height: 40px;
    margin-bottom: 7px;
    position: relative;
    width: 100%;
    left:-80px;
}
.acces-list > li ul li {
    display: inline-block;
    float: left;
    height: 40px;
    margin-right: 10px;
}
.acces-list > li ul li img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.acces-list > li label {
    line-height: 40px;
}
.lo-map {
   height: 238px;
}

#_event_map a {
    display: none !important;
}
.artist-des {
    margin-bottom: 0;
    margin-left: 330px;
    margin-right: 0;
    margin-top: 0;
}
i{
    margin-right:10px;
}
p > span{
    margin-right: 30px;
}
.h-line{
    width:100%;
    height:1px;
    background-color:#ccc;
    margin:0 0 10px 0;
    float:left;
}
#artist-print-page .art-social-item {
    padding-top: 10px;
}

#artist-print-page .art-social-item i {
    width: 25px;
}
#artist-print-page .artist-des span a, #artist-print-page .art-social-item a {
    color: #666;
    text-decoration: none;
}
#artist-print-page .artist-des span a:hover, #artist-print-page .art-social-item a:hover {
    text-decoration: underline;
}
/* EDUCATION */
.des-print{
    padding:10px 34px;
    position:relative;
}
.des-print .item span{
    font-weight:700;
}
span.pg-tt{
    font-size:16pt;
    line-height:20pt;
    color:#666;
    font-weight:700;
  }
  .des-print p{
    margin-top:5px;
    margin-bottom:5px;
  }
  /* Organization */
.social-item-link {
    padding-top: 10px;
}

.social-item-link i {
    width: 25px;
}
/* Classified */
.company-name, .pt-date{
    margin:10px 0
}
