// Reset 
* {margin: 0; padding: 0; border: 0; outline: 0; background: transparent;  vertical-align: baseline;} 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;} 
textarea {font-family: inherit; overflow: auto; vertical-align: top; resize: none;} 
ol, ul {list-style: none;}
blockquote, q {quotes: none;} 
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;} 
ins {text-decoration: none;} 
del {text-decoration: line-through;} 
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;} 
table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0;} 
table {border-spacing: 0;} 
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;} 
sup {top: -0.5em;} 
sub {bottom: -0.25em;} 
a {color: @linkColor; text-decoration: none;} 
a:hover {color: @linkColorHover; text-decoration: none;} 
:focus {outline: 0;} 
a:focus {outline: 0;} 
body {background: #fff; color: #414141; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 1;}
input[type="text"], textarea, select{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
input[type="password"]{
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
select::-ms-expand {
    display: none;
}
p img{
	max-width:100%;
	height:auto;
}

