//
// Landscape phones and down 
// --------------------------------------------------
.toggleSideBar {
    height: 100vh;
    overflow: hidden;
    .hamburger-menu {
        .hamburger-btn {
            background: url('../images/hamburger_menu_close.png') no-repeat center center;
        }
        .backdrop {
            opacity: 1;
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
        .mobile-navi {
            -webkit-transform: translate(0, 0); /* Safari */
            transform: translate(0, 0);
        }
    }
}
.hamburger-menu {
    display: block;
    position: absolute;
    .backdrop {
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,.5);
        z-index: -1;
        opacity: 0;
        -webkit-transform: translate(-70%, 0);
        transform: translate(-100%, 0);
        transition: opacity 0.4s ease-in;
    }
    .hamburger-btn {
        padding: 35px;
        display: block;
        float: left;
        background: url('../images/hamburger_menu.png') no-repeat center center;
    }
    .mobile-navi {
        width: 70vw;
        position: absolute;
        height: 100vh;
        padding-top: 70px;
        z-index: -1;
        transition: transform 0.4s ease-in;
        -webkit-transform: translate(-70%, 0);
        transform: translate(-100%, 0);
        .container {
            position: absolute;
            width: 100%;
            height: calc(~"100vh - 70px");
            overflow: auto;
            background-color: #c8c3c0;
            #search {
                padding: 25px 20px;
                input.search-field {
                    padding: 5px 5px 5px 25px;
                    background: url(../images/search@2x.png) no-repeat center left;
                    background-size: 20px auto;
                    width: 60%;
                }
                .searchSubmit {
                    border-radius: 4px;
                    border: 0;
                    background: #a89d96;
                    font-weight: bold;
                    padding: 5px 10px;
                    color: #fff;
                    float: right;
                    margin-right: 0;
                }
            }
            ul.nav {
                width: 100%;
                >li {
                    float: none;
                    display: block;
                    border-bottom: 1px solid #a89d96;
                    a {
                        display: block;
                        color: #494a4a;
                        padding: 15px 20px;
                    }
                }
                >.has-child {
                    position: relative;
                    &:before {
                        content: "\f078";
                        font-family: 'FontAwesome';
                        display: block;
                        position: absolute;
                        padding: 15px;
                        top: 0;
                        right: 0;
                        border-left: 1px solid #a89d96;
                        background-color: #c1bcb8;
                    }
                    &.expand{
                        &:before {
                            content: '\f077';
                        }
                        >.sub-menu {
                            display: block;
                            max-height: 1000px;
                            height: auto;
                        }
                    }
                    >.sub-menu {
                        opacity: 1;
                        display: block;
                        visibility: visible;
                        max-height: 0px;
                        transition: max-height 1s ease;
                        height: 0;
                        overflow: hidden;
                        li {
                            border-bottom: 1px solid #E4E1E0;
                            background-color: #d6d2d0;
                            &:last-child {
                                border-bottom: 0;
                            }
                        }
                    }
                }
            }
            .menu-footer {
                padding: 20px;
                p {
                    text-transform: capitalize;
                    color: #999;
                    font-size: 13px;
                    line-height: 14px;
                    margin: 5px 0 10px 0;
                }
            }
        }
    }
}
@media (min-width: 481px) and (max-width:768px) {
    .hamburger-menu;
    nav.search-list-thumb li{
        width:47%;
    }
    nav.search-artist-thumb li{
        width:47%;
    }
    nav.search-artist-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }
}
@media (min-width: 481px) and (max-width:700px) {
    nav.search-list{
        li {
            .search-info{
                width:60%;
            }
            .search-img{
                margin-bottom:0;
            }
        }    
    } 
    .a-block-ct-photo{
        overflow:hidden;
        .bx-wrapper{
            height:250px;
            overflow:hidden;
        }
    }
     /* SEARCH PAGE */
    nav.search-list{
        li {
            .searchdate{
                margin-left:75px;
                .sch-date{
                    font-size:13px;
                }
            }
            .ico-date{
                margin-left:75px;

            }
            .ico-date:hover{
                .show-date{
                    left: -60px;
                }
            }
        }   
    } 
    .bxslider li{
        line-height:250px;
        height:250px;
    }
    nav.search-list-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }

     nav.search-artist-list li .info-content .search-info .s-desc{
        max-height: 16px;
    }
    /* ARTIST DETAIL */
    .art-pic{
        width:100%;
        margin-bottom:15px;
        margin-right:0;
        text-align:center;
    }
    .art-social{
        width:100%;
    }
    .nav-tab-art{
    	width:100%;
    	.tab-list li a{
    		font-size:11px;
    	}
    }
}
@media (min-width: 481px) and (max-width:650px) {
    /* *****************************
    * CATEGORY LIST PAGE
    * ***************************** */  
    .b-btn.category{
        .btn-cat-detail:first-child{
            margin-right:0;
        }
    } 
    .category-itm{
        padding-top:20px;
        .b-time{
            left:30px;
            top:15px;
        }
        .pic{
            float:none;
            margin:20px auto;
        }
        .category-t{
            float:none;
            margin-left:0;
        }
    }
    .b-btn.cat-detail {
        text-align:center;
        margin-top:20px;
        .btn-cat-detail {
            width:100%;
            &:first-child {
                margin: 0 0 10px 0;
            }
        }
    }
}
@media (min-width: 621px) and (max-width:768px) {
    nav.searching-list li .search-info{
        margin-right:0;
        width:70%;
    }
    nav.searching-list li .searchdate{
        max-width:55%;
    }
    nav.blog-list li .blog-content .blog-pic{
        max-height:143px;
        width:215px;
    }
    nav.blog-list li .blog-tt .blog-name{
        max-width:54%;
    }
}
@media (min-width: 481px) and (max-width:620px) {
    .error-container{
        margin-bottom:47px;
    } 
    ul.error li{
        float:none;
        margin-right:0;
    }
    ul.error li:first-child{
        .text-404{
            span.top{
                left:175px;
            }
            span.bottom{
                left:185px;
            }
        }
    }
    .category-itm{
        padding-top:20px;
        .b-time{
            left:5%;
            top:15px;
        }
    }
    /* BLOG */
    .tab-list li{
        height:30px;
        margin-bottom:1px;
        a{
            padding:5px 5px;
            line-height:30px;
        }
    }
    .tab-bt{
        background-color:#fff;
    }
    /* EVENT PAGE */
    .event-btn{
        .btn-submit{
            width:75%;
        }
    } 
    .event-btn{
        width:75%;
        .btn-submit{
            width:100%;
        }
    }
    .event-btn.copy{
        width:75%;
        .btn-submit{
            width:100%;
        }
    }
    .event-list{
        width:75%;
        select.event{
            width:100%;
        }
    }
    .event-list.no-mrn[class*="more-orga"]{
        width:85%;
    }
    .event-edit-btn{
        width:75%;
        .btn-edit{
            width:100%;
            display:block;
            margin-bottom:10px;
        }
    }
     .uploading-list li .status img{
        width:100%;
    }
     /* Event Step 1 */
    .event-btn.no-mar-l{
        width:100%;
        margin-bottom:10px;
        .btn-noW{
            width:100%;
        }
    }
    .video-btn{
        width:100%;
        margin-bottom:10px;
        margin-left:0;
        .btn-noW{
            width:100%;
        }
    }
    .event-list.no-mrn{
        width:100%;
        margin-bottom:15px;
    }
    .cat-listing{
        > li{
            width:100%;
        }
    }
    .access-listing{
        > li{
            width:100%;
        }
    }
    .uploading-list li .status img{
        width:100%;
    }
    .upl-tt{
        width:180px;
        margin-bottom:15px;
    }
    .upl-btn{
        width:100%;
        .btn-noW{
            width:100%;
            margin-bottom:10px;
        }
    }
    .eventfrom{
        .calendar-ipt > span{
            width:90%;
            &:last-child{
                margin-left:0;
            }  
        }
        .calendar-ipt > label{
            margin-bottom:10px;
            margin-left:0;
        }
    }
    .more-org{
        margin-bottom:0;
    }
    nav.searching-list li .search-info{
        margin-right:0;
        width:60%;
    }
    nav.searching-list li .searchdate{
        max-width:55%;
    }
    /* BLOG PAGE */
    nav.blog-list li .blog-content .blog-pic{
        margin-right:0;
        margin-bottom:20px;
        width:100%;
        max-height:215px;
    }
    nav.blog-list li .blog-tt .blog-name{
        max-width:54%;
    }
    .event-btn.no-mar-l.edit{
        margin-left:0;
    }
}
@media (max-width: 480px) {
    .hamburger-menu;
    .blk-fea-article {
        .fea-list {
            .fea-pic {
                height: 220px;
            }
            .fea-cat, .fea-author {
                font-size: 14px;
            }
            .fea-info {
                h3 {
                    font-size: 20px;
                    max-height: none;
                }
            }
        }
        .list-blog, .fea-list {
            h3 {
                max-height: none;
            }
        }
    }
    .row [class*="wc"] {
        float: left;
        display:block;
    }
    .wc-l, .wc-r {
        width: 100%;
    }
    .wc-l {
        margin: 0 0 30px 0;
        border-bottom:1px solid #ccc;
        padding-bottom:20px;
    }
    .inner{
        width: 100%;
        padding:0;
    }
    .main > .inner{
        width: 100%;
        padding: 10px 10px 0 10px;
    }
    .two-col .v-line {
        display: none;
    }
    .top-head { 
        height: auto;
        .top-blk.search-box {
            width: 100%;
            margin-bottom:5px;
            .btn.btn-link{
                float:right;
            }
        }
        .logo {
            img {
                width: 100%;
                height: auto;
            }
        }
       .top-blk {
            margin: 33px 0 0 0px;
       }
    }
    .form-search { 
        .inp.inp-txt {
            width: 80%;
        }
    }
    a.mb-menu {
        width: 100%;
        height: 35px;
        .box-sizing();
    }
    .main-menu {
        &.tablet-show {            
            .box-sizing();
            width: 100%;           
        }
    }
    .calendar-ipt { 
        span:nth-child(2n+1) {      
            .JsDatePickBox {
               left: 0px !important;              
            }    
        }   
    }
    .fullw.clients .inner > p {
        padding: 0;
    }
    .list-logo { 
        li  {
            width: 50%;
            a {
                width: 70%;
            }
        }
    }
    .i-slider .i-caption{
        background: none;
        p{
            font-size: 14px;
            line-height:16px;
            max-height: 32px;
        }
        h4{
            font-size: 16px;
        }
    }
    .blog-itm {
        .pic {
            width: 200px;
            max-height: 200px;
        }
        .blog-t {
            margin: 0 0 0 215px;
        }
        .b-time {       
            .border-radius(30px);
            height: 40px;
            padding: 10px 15px;
            top: -10px;
            left: -10px;  
            .t {        
                span {          
                    &:first-child {
                        font-size: 26px;
                    }
                }
            }
            .t-th {
                line-height: 40px;
                height: 40px;    
                padding: 0 5px;
            }
        }
    }
    .more-frm-itm {
        padding: 0 0 15px 0;
    }
    .regis-wrp { 
        .b-btn { 
            .btn {
                width: 100%;
            }
        }
    }
     /* *****************************
    * DASHBOARD PAGE
    * ***************************** */    
    .dsb-r { margin-left: 50px }
    .dsb-l {     
        width: 42px;   
        .dsb-main-nav {
            > ul {
                > li {
                    &.active {
                        > a {
                            border-left: none;
                            background-color: #111;
                        }
                    }
                    > a {
                        border-left: none;                        
                        > span {
                            display: none;
                        }
                    }
                }
            }
            .sub-nav {               
                > ul {
                    padding: 0 0 0 18px;
                }
            }
        }        
    }
    .dsb-main-nav > ul > li .l-ico{
        left:7px;
        height:42px;
        margin-right:0;
    }
    /* EVENT PAGE */
    .event-btn{
        .btn-submit{
            width:75%;
        }
    } 
    .event-btn{
        width:75%;
        .btn-submit{
            width:100%;
        }
    }
    .event-btn.copy{
        width:75%;
        .btn-submit{
            width:100%;
        }
    }
    .event-list{
        width:75%;
        select.event{
            background-position: 95% center;  
            width:100%;
        }
    }
    .event-list.no-mrn[class*="more-orga"]{
        width:80%;
    }
    .event-list.cat .event{
        background-position: 92% center; 
    }
    .event-edit-btn{
        width:75%;
        .btn-edit{
            width:100%;
            display:block;
            margin-bottom:10px;
        }
    }
    .seperate{
        span.line{
            width:88%;
        }
    }
    .category-itm .category-t{
        margin-left:215px;
    }
    /* Event Step 1 */
    .event-btn.no-mar-l{
        width:100%;
        .btn-noW{
            width:100%;
        }
    }
    .video-btn{
        width:100%;
        margin-bottom:10px;
        margin-left:0;
        .btn-noW{
            width:100%;
        }
    }
    .event-list.no-mrn{
        width:100%;
        margin-bottom:15px;
    }
    .cat-listing{
        > li{
            width:100%;
        }
    }
    .access-listing{
        > li{
            width:100%;
        }
    }
    .uploading-list li .status img{
        width:100%;
    }
    .upl-tt{
        width:180px;
        margin-bottom:15px;
    }
    .upl-btn{
        width:100%;
        .btn-noW{
            width:100%;
            margin-bottom:10px;
        }
    }
    .cl-date .date-cell .day{
        width:35%;
    }
    .calendar-container.sevenday{
        .cl-date{
            .date-cell{
                .day{
                    width:35%;
                }
            }
        } 
    }
    .evt-blk{
        .category-itm{
            .pic{
                float:left;
                margin-bottom:20px;
                margin-left:20px;
            }
            .category-t{
                margin-left:0;
                width:100%;
                float:left;
            }
        }
    }
    .eventfrom{
        .calendar-ipt > span{
            width:90%;
            &:last-child{
                margin-left:0;
            }  
        }
        .calendar-ipt > label{
            margin-bottom:10px;
            margin-left:0;
        }
    }
    /* Step 3 */
    .evt-blk{
        .information{
            ul.ind-time{
                li{
                    width:85%;
                }
            }
            p{
                label{
                    a{
                        font-size: 18px;
                    }
                }
            }
            .event-btn{
                .btn-noW{
                    width:100%;
                }
            }
        } 
    } 
    .error-container{
        margin-bottom:47px;
    }  
    ul.error li{
        float:none;
        margin-right:0;
    }
    ul.error li:first-child{
        .text-404{
            span.top{
                left:175px;
            }
            span.bottom{
                left:185px;
            }
        }
    }
     /* *****************************
    * CATEGORY LIST PAGE
    * ***************************** */  
    .b-btn.category{
        .btn-cat-detail{
            width:135px;
            &:first-child{
                margin-right:5px;
            }
        }
    } 
    .category-itm{
        padding-left:5px;
        padding-right:5px;
        .b-time{
            left:-15px;
        }
    }
    .evt-blk{
        .category-itm{
            background-color: #fff;
            .b-time{
                left:0;
            }
        }
    }
    /* ACCOUNT- INFO PAGE */
    .account-info{
        .info-frm{
            .b-btn{
                float:none;
                .btn.btn-b{
                    float:none;                
                    width:100%;
                    &:first-child{
                        margin-bottom:15px;
                        margin-right:0;
                    }
                }   
            }
        }
    }
    .bookmark{
        .b-btn{
            .btn.btn-b{
                float:none;
                width:100%;
                &:first-child{
                    margin-bottom:15px;
                    margin-right:0;
                }
            }   
        }
    }
    .blk-bm-events{
        nav.events{
            li{
                .event-checkbox{
                    margin-left:15px;
                }
                .event-info{
                    float:none;
                }
            } 
        } 
    }
    /* VENUE PAGE */
    nav.venue{
        li{
            width:100%;
        }
    }
    /* BLOG */
    .tab-list li{
       height:30px;
       margin-bottom:1px;
        a{
            padding:15px 15px;
            line-height:30px;
        }
    }
    .tab-bt{
        background-color:#fff;
    }
    /* SECOND SLIDER */
    .second-slider{
        .slider-pic{
            width:100%;
        }
        .slider-content{
            width:100%;
        }
    }
    .more-org{
        margin-bottom:0;
    }
    /* SEARCH PAGE */
    nav.search-list{
        li{
            .search-info{
                width:auto!important;
                max-width:330px;
                overflow:hidden;
            }
            .ico-date:hover{
                .show-date{
                    left: -120px;
                }
            }
        }
    }
    /* DETAIL PAGE */
    .fullscreen{
        display:none;
    }
    /* SEARCHING PAGE */
    nav.search-list-thumb li .div-one .search-info .ev-tt{
        max-height:70px;
    }
    nav.searching-list li .info-content .meta{
        max-height:28px;
    }
    nav.searching-list li .info-content .ico-date{
        margin-top:-2px;
    }
     /* BLOG PAGE */
    nav.blog-list li .blog-tt .blog-name{
        max-width:55%;
    }
    nav.blog-list li .blog-content .blog-pic{
        width:214px;
        max-height:162px;
    }
    .top-head .top-blk.login-top{
        float:left;
        display:block;
        height:auto;
        width:100%;
        padding-top:0;
        margin-top:0;
        margin-bottom:10px;
    }
    .top-head .logo{
        float:none;
        margin:0 auto;
    }
    /* ARTIST PAGE */
    .submit-blk{
        width:100%;
    }
    .top-head .top-blk.search-box ~ .mobile-menu {
      width: 100%;
    }

    nav.search-artist-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }
    .tab-list li a{
    	padding-left:5px;
    	padding-right:5px;
    }
    .event-btn.no-mar-l.edit{
        margin-left:0;
    }
    .bxslider li{
        line-height:250px;
        height:250px;
    }
    
    .b-btn {
        a.btn-b.hfull {
            display: block;
            &:first-child {
                margin: 0 0 5px 0;
            }
        }
    }
    /**************************
    * CLASSIFIED LISTING TABLE
    ************************* */
    .blk-list-table {
        .table-info {
            .table {
                thead {
                    > tr {
                        th.ttl-special {
                            width: auto;
                        }
                    }
                }
            }
        }
    }
    /**************************
    * NEW STYLE FEATURE EVENT
    ************************* */
    .wrapper-featured {
        .item-feature-event {
            margin-right: 0px;
            height: 435px;
        }
    }
    .item-feature-event {
        .evt-title {
            max-height: 65px;
        }
        .evt-action {
            a {
                margin-top: 5px;
                margin-bottom: 5px;
                display: inline-block;
            }
        }
    }
    /* *****************************
    * NEW FOOTER STYLE
    * *****************************  */
    .clients{
        &.nw-bg-black {
            .inner {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .list-logo {
                a   {
                    display: block;
                    width: 200px;
                    margin: 0 auto 15px;
                }
            }
        }
    }
    .fullw {
        &.clients {
            &.nw-bg-black {
                .f-ttl {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
@media (max-width:460px){
    .eventfrm .calendar-ipt > span{
        width:80%;
        display:block;
        float:left;
        margin-bottom:15px;
    }
    nav.blog-list li .blog-tt .blog-name{
        max-width:50%;
    }
    .top-head {   
        height: auto;   
        .top-blk.login-top{
            width:100%;
        }
    }
}
@media (max-width:430px){
    /* EVENT PAGE */
    .event-btn{
        width:70%;
        .btn-submit{
            width:100%;
        }
    }
    .event-btn.copy{
        width:70%;
        margin-top:0;
        .btn-submit{
            width:100%;
        }
    }
    .event-list{
        width:70%;
        margin-top:0;
        select.event{
            width:100%;
        }
    }
    .event-edit-btn{
        width:70%;
        margin-top:0;
        .btn-edit{
            width:100%;
            display:block;
            margin-bottom:10px;
        }
    }
    .event-list{
        select.event{
        background-position: 94% center;   
            option{
                width:100%;
                overflow:hidden;
            }        
        }
    }
    .event-list.cat .event{
        background-position: 92% center; 
    }
    .seperate{
        span.line{
            width:84%;
        }
    }
     /* EVENT - STEP 1 */
    ul.steps{
        li{
            background-image:url(../images/step-bg-320.png);
            width:30%;
            height:41px;
            background-repeat: no-repeat;
            background-position:left top;
            a{
            float:left;
            margin-right:auto;
            margin-left: 19px;
            font-size:16px;
            top:12px;
            position:relative;
        }
        }
    }
    .event-contact{
        font-size: 14px;
        padding-left:15px;
    }
    .month-bar{
        .today{
            width:70px;
            span{
                font-size:16px;
            }
        }
        .next-month{
            width:70px;
            .prev-b{
                left:5px;
            }
            .next-b{
                right:5px;
            }
        }
    }
      /* SECOND SLIDER */
    .second-slider{
        .slider-pic{
            width:100%;
        }
        .slider-content{
            width:100%;   
        }
    }
    nav.blog-list li .blog-tt .blog-name{
        max-width:45%;
    }
    .top-head {   
        height: auto;   
    }
}
@media (min-width: 321px) and (max-width: 370px) {
    .form-search { 
        .inp.inp-txt {
            width: 80%;
        }
    }
    .top-head {      
        .logo {
            width: 45%;          
        }
     }
    .blk-bm-events{
        nav.events{
            li{
                .event-checkbox{
                    margin-left:15px;
                }
                .event-info{
                    float:left;
                    width:100%;
                }
            } 
        } 
    }
    /* EVENT PAGE */
   
    .event-btn{
        width:70%;
        margin-top:0;
        .btn-submit{
            width:100%;
        }
    }
    .event-btn.copy{
        width:70%;
        margin-left:70px;
        .btn-submit{
            width:100%;
        }
    }
    .event-edit-btn{
        width:70%;
        margin-left:70px;
        .btn-edit{
            width:100%;
            display:block;
            margin-bottom:10px;
        }
    }
    .event-icon{
        margin-right:10px;
        img{
            width:60%;
            height:auto;
        } 
    }
    .event-list{
        width:70%;
        select.event{
        background-position: 92% center;
        width:100%;
        font-size:12px;   
            option{
                width:100%;
                overflow:hidden;
            }    
        }
    }
    .eventfrm label{
        float:none;
        margin-bottom:10px;
        display:block;
    }
    .eventfrom{
        .calendar-ipt > span{
            width:90%;
            &:last-child{
                margin-left:0;
            }  
        }
        .calendar-ipt > label{
            margin-bottom:10px;
            margin-left:0;
        }
    }
    .gallery-list{
        text-align:center;
        li{
            width:100%;
        }
    }
    .month-bar{
        .today{
            width:70px;
            span{
                font-size:16px;
            }
        }
        .next-month{
            width:50px;
            .prev-b{
                left:5px;
            }
            .next-b{
                right:5px;
            }
        }
    }
    .cl-date{
        .date-cell{
            .day{
                width:40%;
            }
        }
    }
    .calendar-container.sevenday{
        .cl-date{
            .date-cell{
                .day{
                    width:40%;
                }
            }
        } 
    }
      /* SECOND SLIDER */
    .second-slider{
        .slider-pic{
            width:100%;
        }
        .slider-content{
            width:100%;

        }
    }
     /* SEARCH PAGE */
    nav.search-list{
        li{
            .searchdate{
                .sch-date{
                    font-size:13px;
                }     
            }
            .ico-date{
                float:right;
                margin-left:8px;
                .show-date{
                    width:130px;
                }
            }
            .search-info{
                width:220px;
            }
        }
    }
    .a-block-ct-photo{
        overflow:hidden;
        .bx-wrapper{
            height:250px;
            overflow:hidden;
        }
    }
    nav.search-list-thumb li{
        width:47%;
    }
    nav.search-artist-thumb li{
        width:47%;
    }
    .bxslider li{
        line-height:250px;
    }
    nav.search-list-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }
    /* BLOG PAGE */
    nav.blog-list li .blog-tt .blog-name{
        max-width:65%;
    }
    nav.blog-list li .blog-content .blog-pic{
        max-height:107px;
        width:143px;
    }
    .top-head {   
        height: auto;
        .logo{
            width:100%;
        } 
        .top-blk {           
            margin: 15px 0 0 0;
            &.social-top{
                height:auto;
            }
            &.login-top{
                float:left;
                display:block;
                height:auto;
                width:100%;
            }
        }
        .top-blk.social-top {
            a {
                margin: 0 10px 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
        
    }
    .tab-image-list li a{
        font-size:14px;
    }
    nav.search-artist-list li .info-content .search-info .s-desc{
        max-height: 16px;
    }
    nav.search-artist-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }
    nav.search-artist-thumb li .div-one .search-info .career{
        max-height: 37px;
    }
     /* ARTIST DETAIL */
    .art-pic{
        width:100%;
        margin-bottom:15px;
        margin-right:0;
        text-align:center;
    }
    .art-social{
        width:100%;
    }
}
@media (max-width:360px){
    .i-slider .i-caption{
        p{
            font-size: 14px;
            line-height:16px;
            max-height: 16px;
        }
        h4{
            font-size: 16px;
        }

    }
}
@media (max-width: 320px) {
    .hamburger-menu {
        .mobile-navi {
            width: 100vw;
        }
    }
    .top-head {   
        height: auto;
        .logo{
            width:100%;
        } 
        .top-blk {           
            margin: 15px 0 0 0;
            &.social-top{
                height:auto;
            }
            &.login-top{
                float:left;
                display:block;
                height:auto;
                width:100%;
            }
        }
        .top-blk.social-top {
            a {
                margin: 0 10px 0 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
        
    }
    .main-menu {
        &.tablet-show {            
            .box-sizing();
            width: 100%;           
        }
    }
    .form-search { 
        .inp.inp-txt {
            width :78%;
        }
    }
    /* BLOG */
    
    .blog-itm { 
        .pic {
            float: none;
            width: 100%;
            max-height: inherit;
            height: inherit;
            margin: 0 0 10px 0;
        }
        .blog-t {
            margin: 0 ;
        }        
    }
    .form-event {
        .s-rw { 
            .lst-lik { 
                a {
                    margin: 0 1px 2px 0;
                }
                a.weekend {
                    margin-right: 35%;
                }
                span.no-line {
                    padding: 6px 5px 6px 0;
                    margin: 0 8px 0 0;
                }
            }
        }
    }
    .newsletter-frm {
        .newsletter {
            width: 100%;
            margin: 0 0 2px 0;
        }
        .btn.btn-l {
            width: 100%;
        }
    }  
    .sub-blk {
        .fl  {
            width: 90%;
        }
        .btn.btn-l {
            &.lgr {
                width: 100%;
            }
        }
    } 
      /* *****************************
    * NOT FOUND PAGE
    * ***************************** */ 

    ul.error{
        width:100%
    }
    ul.error li:last-child{
        p{
            font-size:16px;
            width:100%;
        }
    }

    ul.error li:first-child{
        .text-404{
            span.top{
                font-size:36px;
            }
            span.bottom{
                font-size:18px;
            }
        }
    }
    /* *****************************
    * CATEGORY LIST PAGE
    * ***************************** */
    .category-itm{
        padding-top:20px;
        .b-time{
            left:-10px;
            top:15px;
        }
        .pic{
            float:none;
            margin:20px auto;
            width:100%;
            height:auto;
            max-height:none;
        }
        .category-t{
            float:none;
            margin-left:0;
        }
    }
    .b-btn.cat-detail {
        text-align:center;
        margin-top:20px;
        .btn-cat-detail {
            width:100%;
            margin: 0 0 10px 0;
        }
    }
    .blk-bm-events{
        nav.events{
            li{
                .event-checkbox{
                    margin-left:15px;
                }
                .event-info{
                    float:left;
                    width:100%;
                }
            } 
        } 
    }
    /* EVENT PAGE */
    .event-icon{
        margin-right:10px;
        width:30px;
        height:auto;
        img{
            width:100%;
            height:auto;
        }  
    }
    .event-btn{
        margin-top:0;
        margin-left:0;
        width:80%;
    }
    .event-list{
        width:80%;
        margin-top:0;
    }
    .event-edit-btn, .event-btn.copy{
        width:80%;
        margin-left:40px;
    }
    .seperate{
        span.line{
            width:82%;
        }
    }
    .event-list{
        select.event{
        background-position: 92% center;   
            option{
                width:100%;
                overflow:hidden;
            }
                
        }
    }
    .eventfrm label{
        float:none;
        margin-bottom:10px;
        display:block;
    }
    .eventfrm .calendar-ipt > span{
        width:90%;
        &:last-child{
            margin-left:0;
        }
    }
    .cat-txt{
        left:10px;
    }
    .expend{
        right:10px;
    }
    .tab-image-list li a{
        font-size:14px;
    }
    .gallery-list{
        text-align:center;
        li{
            width:100%;
        }
    } 
    .cl-date{
        .date-cell{
            .day{
                width:40%;
            }
        }
    } 
    .calendar-container.sevenday{
        .cl-date{
            .date-cell{
                .day{
                    width:40%;
                }
            }
        } 
    }
    .month-bar{
        .today{
            width:60px;
            span{
                font-size:16px;
            }
        }
        .next-month{
            width:50px;
            .prev-b{
                left:5px;
            }
            .next-b{
                right:5px;
            }
        }
    }
      /* SECOND SLIDER */
    .second-slider{
        .slider-pic{
            width:100%;
        }
        
    }
    .main-slider.mini .inner .i-caption{
        bottom:20px;
    }
    .i-slider { 
        .i-caption { 
            h4 {
                font-size: 16px;
                margin-bottom:0;
                max-height:26px;
                overflow:hidden;
            }           
        }
    }
     /* SEARCH PAGE */
    nav.search-list{
        li{
            .searchdate{
                .sch-date{
                    font-size:13px;
                }     
            }
            .ico-date{
                float:right;
                margin-left:8px;
                .show-date{
                    width:130px;
                }
            }
            .search-info{
                width:200px;
            }
        }
    }
    .a-block-ct-photo{
        overflow:hidden;
        .bx-wrapper{
            height:250px;
            overflow:hidden;
        }
    }
    nav.search-list-thumb li{
        width:47%;
    }
    nav.search-artist-thumb li{
        width:47%;
    }
    .bxslider li{
        line-height:250px;
    }
    nav.search-list-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }
    /* BLOG PAGE */
    nav.blog-list li .blog-tt .blog-name{
        max-width:65%;
    }
    nav.blog-list li .blog-content .blog-pic{
        margin-right:0;
        margin-bottom:20px;
        width:100%;
        max-height:215px;
    }
    nav.search-artist-list li .info-content .search-info .s-desc{
        max-height: 16px;
    }
    nav.search-artist-thumb li .div-one .search-info .ev-tt{
        max-height:55px;
    }
    nav.search-artist-thumb li .div-one .search-info .career{
        max-height: 55px;
    }
    /* ARTIST DETAIL */
    .art-pic{
        width:100%;
        margin-bottom:15px;
        margin-right:0;
        text-align:center;
    }
    .art-social{
        width:100%;
    }
}
@media (max-width: 480px) {
    .blk-fea-article {
        overflow: hidden;
    }
}
@media (max-width: 380px) {
    .blk-fea-article {
        .fea-list {
            .fea-pic {
                height: 170px;
            }
        }
        .list-blog, .fea-list {
            .fea-img {
                height: 170px;
            }
        }
    }
}
@media (max-width: 320px) {
    .item-feature-event {
        .evt-time {
            height: 55px;
            &.time-full-layout {
                height: 55px;
            }
        }
    }
}

@media (min-width: 280px) and (max-width: 319px) {
    .category-itm{
        padding-top:20px;
        .b-time{
            left:-10px;
            top:20px;
        }
    }
    .event-list{
        select.event{
        background-position: 90% center;   
            option{
                width:100%;
                overflow:hidden;
            }    
        }
    }
    /* BLOG PAGE */
    nav.blog-list li .blog-tt .blog-name{
        max-width:55%;
    }
}
.mobile-menu {
    position: relative;
    float: left;
    display: block;
    width: 100%;
}