//
// Landscape phone to portrait tablet 
// --------------------------------------------------
@media (max-width: 767px) {
     /* SECOND SLIDER */
    .second-slider{
        .slider-pic{
            width:100%;
            float:none;
        }
        .slider-content{
            width:100%;
            float:none;
        }
        &.second-slider-v1 {
            .slider-pic {
                float: right;
            }
            .slider-content {
                float: left;
                &::after {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 20px 20px 20px;
                    border-color: transparent transparent #283473 transparent;
                    content: "";
                    position: absolute;
                    top: -20px;
                    z-index: 9999;
                    left: 50%;
                    right: inherit;
                    margin-left: -20px;
                }
                .desc  {
                    max-height: 80px;
                }
            }
            .flex-control-nav {
                bottom: 10px !important;
            }
        }
    }
    /*.pc-show { display: none; }
    .tablet-show { display: block; }*/
    .wc-l {
        width: 50%;
        margin: 0 4% 0 0;
    }
    .wc-r {
        width: 46%;
    }
    .row {
        .wc-3 {
            &:first-child {
                margin-left: 0;
                margin-top: 0;
            }
            &:last-child {                
                margin-top: 30px;
            }
        }
    }
    .wc-3 {
        width: 100%;
        margin-left:0;
        margin-top: 30px;

    }
    .two-col {
        .v-line {
            left: 52%;
        }
    }
    /* BLOG */

    .tab-bt{
        background-color:#fff;
    }
    .meta.auth {
        font-size: 11px;
    }
    .blog-itm {
        .pic {
            width: 150px;
            max-height: 150px;
        }
        .blog-t {
            margin: 0 0 0 165px;
        }     
        .blog-ttl {
            font-size: 16px;
            line-height: 18px;
        }  
        .b-time {            
            .border-radius(16px);            
            height: 26px;
            padding: 5px 7px;
            top: -10px;
            left: -10px;
            color: #fff;
            .t {
                span {
                    font-size: 11px;
                    &:first-child {
                        font-size: 16px;
                    }
                }
            } 
            .t-th {
                line-height: 27px;
                height: 27px;
                font-size: 11px;
            }
        }
    }
    .b-btn {
        a.btn-b {
            display: block;
            &:first-child {
                margin: 0 0 5px 0;
            }
        }
    } 
    .b-btn {
        a.btn-b.hfull {
            display: inline-block;
            &:first-child {
                margin: 0 5px 0px 0;
            }
        }
    }
    .load-more.b-btn a.btn-b:first-child {
        width: 40%;
    }
    .b-share {
        .clearfix();
        height: 30px;
        label, a {
            float: left;
            margin: 0 5px 0 0;
        }
        label {
            display: none;
        }       
    }
    /* SIDEBAR */
    .calendar-ipt .JsDatePickBox {
        left: -60px !important;
    }
    .lo-meta {       
        > p {
            &:last-child {
                b {display: block;}
            }
        }
        .lo-link { 
            &.fb {
                margin: 0 5px 0 0 ;
            }
        }
    }
    /**
     * MAIN SLIDER CAPTION
     */
    .i-slider { 
        .i-caption { 
            h4 {
                font-size: 20px;
                margin-bottom:0;
                max-height:26px;
                overflow:hidden;
            }               
        }
    }
    /* STYLE FOR 2 COLS */
    .grid {
        .clearfix();
        margin: 0 0 30px 0;
        .blog-itm {
            width: 100%;
            height: auto;          
            margin: 0 0 20px 0;
            float: none;    
            .blog-t    {
                margin: 0;
            }  
        }      
    }
     .list-logo {
        li {
            text-align: center;
            a {
                display: block;
                width: 70%;
                height: inherit;        
                img {
                    width: 100%;
                }
            }
        }
    }  
    /* *****************************
    * DETAIL PAGE
    * *****************************  */
    .astro-featr { 
        .a-txt-fea {
            .clearfix();
        }
    }
    .datetime {
        .a-block-ct {           
            .clearfix {
                > div.fl {
                float: none;
                width: inherit;
                margin: 0;
                &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .filter-map {
        td {
            font-size: 0px;
            &.vtop {
                font-size: 11px;
            }
        }
    }
    .nofi-map {
        a.nofi-exp {
            top: 0;
            right: 6px;
        }
    }
    .a-block { 
        &.grey { 
            .nofi-map {
                p {
                    margin: 15px 0 0 0;
                }
            }
        }
    }
    .nofi-more { 
        .n-blk { 
            .n-blk-ct {
                > ul { 
                    li {
                        font-size: 12px;
                        float: none;
                        width: inherit;
                    }
                }
            }
        }
    }  
    .more-frm-itm { 
        padding: 0 0 15px 0;
        .more-pic {
            margin-right: 0;
        }
        .more-ct {
            .clearfix();
            float: none;
            margin-left: 75px;
            width: inherit;
        }
        .b-btn {          
            float: none;
            margin-left: 75px;
            text-align: left;
            width: inherit;
            overflow: hidden; 
        }        
    }
    .locatn { 
        .lo-map {
            overflow: hidden;
            > img {
                width: 100%;
            }
        }
        .lo-left {
            float: none;
            width: inherit;
        }
        .lo-right {
            margin: 0;
        }
    }
    .rating-box { 
        .star-bx, .rating-count {
            float: left;
        }
    }
    .a-block {
        h4 {
            font-size: 12px;
        }
    }
    .search-map-frm {
        input[type="text"] {
            width: 80%;
        }
    }
    .a-block.grey { 
        .a-block-ct {
            > div.t-c {
                > a {
                    display: block;
                    width: 60%;
                    margin: 0 auto 15px auto;
                }
            }
        }
    }
    .astro-featr {
        .blog-itm { 
            .b-time { 
                .t span {
                    line-height: 1;
                }
            }
        }
    }
    .astro-detail {
        .page-tool {
            position: static;
            text-align: right;
            margin: 10px 0;
        }
        .p-ttl {
            padding: 0;
        }
    }  
    .p-ttl {
        font-size: 22px;
    }
    /* *****************************
    * LOGIN PAGE
    * *****************************  */
    .login-wrp { 
        .log-frm { 
            .b-btn { 
                .btn {
                    width: 120px;
                }
            }
        }
    }
    .cm-frm { 
        .comment-form {
            > div {
                .inp-half {
                    float: none;
                    width: 100%;
                    margin-right: 0%;
                }
            }
        }
    }
    /* *****************************
    * DASHBOARD PAGE
    * ***************************** */
    .dsb-r { margin-left: 80px }
    .dsb-l { 
        width: 60px;
        .dsb-main-nav {
            > ul {
                > li {
                    &.active {
                        > a {
                            border-left: 4px solid #111;
                        }
                    }
                    > a {
                        border-left: 4px solid @lightgYellow;                        
                        > span {
                            display: none;
                        }
                    }
                }
            }
            .sub-nav {
                width: 230px;
                > ul {
                    padding: 0 0 0 27px;
                }
            }
        }        
    }
    i.dsb-ico {
        width: 50px;
        background-position: 5px 0;
        &.i-account {
            background-position: 5px -40px;
        }
        &.i-orga {
            background-position: 5px -82px;
        }
        &.i-venue {
            background-position: 5px -123px;
        }
        &.i-events {
            background-position: 5px -165px;
        }
        &.i-art {
            background-position: 5px -207px;
        }
        &.i-edu {
            background-position: 5px -247px;
        }
        &.i-buss {
            background-position: 5px -287px;
        }
        &.i-clss {
            background-position: 5px -327px;
        }
    }
    .dsb-main-nav > ul > li .arr.fa { display: none; }
    .dsb-main-nav > ul > li.mb-dsb-menu {
        > a {
            height: 40px;
            text-align: center;
        }
        .fa { 
            display: block; 
            position: static;
            line-height: 40px;
            font-size: 18px;
        }        
    }
    .dsb-main-nav > ul > li .l-ico{
        left:13px;
        height:42px;
    }

     /* *****************************
    * CATEGORY LIST PAGE
    * *****************************  */
   
    .category-itm {
        .pic {
            width: 150px;
            max-height: 150px;
        }
        .category-t {
            margin: 0 0 0 165px;
        }     
        .category-ttl {
            font-size: 16px;
            line-height: 18px;
        }
        
    }
    .category-itm{
        .category-t{
            .meta.auth{
                font-size:11px;
            }
        }
    }
    .category-detail .pic .b-time, .category-itm .b-time{
        left:-10px;
    }
    .list-more-category{
        .more-cat-itm {
            padding: 0 0 15px 0;
            .more-pic {
                margin-right: 0;
            }
            .more-ct {
                .clearfix();
                float: none;
                margin-left: 75px;
                width: inherit;
                .meta{
                    font-size:11px;
                }
            }
            .b-btn {          
                float: none;
                margin-left: 75px;
                margin-top:20px;
                text-align: left;
                width: inherit;
                overflow: hidden; 
            }    
        }
    }
    .b-btn.category {
        .btn-category {
            width:100%;
            padding:0;
        }
        .btn-cat-detail{
            width:140px;
            &:first-child{
                margin-right:10px;
            }
        }
    }
    .b-btn.category{
        .btn-cat-detail:first-child{
            margin-right:0;
        }
    } 
    .b-btn.cat-detail {
        text-align:center;
        margin-top:20px;
        .btn-cat-detail {
            width:100%;
            margin-bottom:10px;
            box-sizing: border-box;
            margin-right: 0;
        }
    }
    /* Education Form */
    .grant-sl li{
        width:100%;
    }
    .answer-sec, .question-sec{
        width:100%;
    }
    .question-sec{
        margin-bottom:10px;
    }
    .blk-fea-article {
        .list-blog, .fea-list {
            .blog-itm {
                margin-bottom: 30px;
            }
            .fea-img {
                height: 220px;
            }
        }
    }

    /******************************
    * CSS CLASSIFIED LISTING TABLE
    ****************************** */
    .blk-list-table {
        overflow-x: auto;
        overflow-y: hidden;
        .table-info {
            width: 960px;  
        }
    }

    /* *****************************
    * NEW FOOTER STYLE
    * *****************************  */
    .clients {
        &.nw-bg-black {
            .list-logo {
                a {
                    margin-left: 15px;
                    margin-right: 15px;
                }
            }
            .list-social {
                li {
                    margin-left: 15px;
                    margin-right: 15px;
                    > a {
                        i {
                            font-size: 40px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 740px) {
    /* *****************************
    * NEW FOOTER STYLE
    * *****************************  */
    .menu-footer {
        &.nw-footer {
            > li {
                width: 50%;
                float: none;
                text-align: center;
                margin: 0 auto;
                padding-left: 10px;
                &.li-last-child {
                    width: 50%;
                }
            }
        }
    }
    .fullw {
        &.ft-contact {
            padding-top: 15px;
            padding-bottom: 15px; 
        }
    }
}
@media (max-width: 650px){
    .category-itm .pic{
        width:200px;
        max-height:200px;
    }
}
@media (max-width: 640px){
    span.logo-banner{
        display: none;
    }
    .tellAF-popup{
        width:90%;
        margin:0 auto;
        left:5%;
        top:50px;
        height:auto;
        position:absolute;
    }    
    .eventfrm .calendar-ipt > span{
        width:70%;
        display:block;
        float:left;
        margin-bottom:15px;
    }
    .calendar-ipt > span:last-child{
        margin-left:5px;
    }
    /* EVENT PAGE */
    .event-list{
        select.event{
        background-position: 95% center;   
        }
    }
    .evt-blk{
        .category-itm{
            .pic{
                float:left;
            }
            .category-t{
                margin-left:0;
                width:100%;
                float:left;
            }
        }
    } 
    .form-event .clearfix .inp{
        width:100%;
    }
   
}
@media (max-width: 540px) {
    .blk-fea-article {
        .wc-l {
            border-bottom: none;
        }
        .fea-list {
            margin-left: 0;
            .fea-itm {
                border-bottom: none;
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            .fea-pic {
                float: none;
                margin: 0 auto;
                width: 90%;
                height: 120px;
                margin-bottom: 10px;
            }
            .fea-info {
                margin-left: 0;
                text-align: center;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 595px) {
    .form-search {
        .inp.inp-txt {
            width:~"calc(100% - 50px)";
        }
    }
    .newsletter-frm {
        .newsletter {
            width: 100%;
            margin: 0 0 2px 0;
        }
    }
    /* *****************************
    * LOGIN PAGE
    * *****************************  */
    .login-wrp { 
        .log-frm { 
            .b-btn { 
                .btn {
                    width: 90px;
                }
            }
        }
    }
     /* *****************************
    * CATEGORY LIST PAGE
    * *****************************  */
    .category-itm {
        .cat-rating-box {
            height:auto;
            .star-bx, .rating-count {
                float: none;
                i{
                    font-size:14px;
                }
            }
        }
    }  
    .list-more-category{
        .more-cat-itm{
            .more-ct{
                .more-cat-rating-box{
                    height:auto;
                    .star-bx, .rating-count{
                        float:none;
                        i{
                            font-size:14px;
                        }
                    }
                }
            }
        }
    }
    /* EVENTS PAGE */
    .seperate span.line{
        width:85%;
    }
}