@media (min-width:1020px){
    nav.blog-list li .blog-tt .blog-name{
        max-width:68%;
    }
}
@media (min-width:1060px){
    /* SEARCH PAGE */
    nav.search-list{
        li{
            .search-info{
                width:320px;
                overflow:hidden;
            }
        }
    }
}
@media (min-width: 980px) and (max-width: 1020px) {
     /* SEARCH PAGE */
    nav.search-list{
        li{
            .search-info{
                width:280px;
                overflow:hidden;
            }
        }
    }

}

@media (max-width: 1050px) {
    .inner{
        width: 100%;
        padding:0;
    }
    .main > .inner{
        width: 100%;
        padding: 10px 10px 0 10px;
    }
    .wc-l {
        width: 60%;
        margin: 0 4% 0 0;
    }
    .wc-r {
        width: 36%;
    }
    .row {
        .wc-3 {
            margin-left: 0;
        }
    }
    .wc-3 {
        width: 30%;
        margin-left:3%;

    }
    .two-col {
        .v-line {
            left: 62%;
        }
    }
   
    .form-event {
        .clearfix {
            .btn.btn-l {
                width: 13%
            }
            .inp.event-search{
                width:~"calc(100% - 13% - 4px)";
            }
        }
    }
    .calendar-ipt { 
        > span {
            *width: 43%; 
            width: 42.7%; 
            &:last-child {
                margin: 0;
            }
        }            
    }
    .load-more.b-btn a.btn-b:first-child {
        width: 30%;
        display: inline-block;
    }
   
    /* *****************************
     * DETAIL PAGE
     * *****************************  */
    .more-frm-itm {
        .more-ct {
            width: 62%;
        }
    }
    /* *****************************
    * LOGIN PAGE
    * *****************************  */
    .login-wrp {
        > div {
            float: none;
        }
        .log-frm {
            width: 100%;
            .b-btn { 
                > a {
                    float: right;
                    padding: 10px 0 0 0;
                }
            }
        }
        .or-line {
            width: 100%;
            position: relative;
            height: 60px;
            &:before {
                content: '';
                height: 1px;
                width: 100%;
                background-color: #eee;
                position: absolute;
                top: 50%;
                left: 0;
            }
            span {
                position: absolute;
                top:  50%;
                left: 50%;
                background-color: #fff;
                margin: -9px 0 0 -16px ;
                font-size: 14px;
                padding: 3px 10px;
            }
        }
        .log-fb {
            width: 100%;
            .log-fb-ct {
                margin: 0;
                text-align: center;
            }
            .connect-fb {                
                display: inline-block;               
                text-align: center; 
                padding: 12px 15px 12px 5px;
            }
        }
    }
     /* *****************************
    * REGISTER PAGE
    * *****************************  */
    .f-row {
        > span {
            display: block;
            padding: 0 10px;
        } 
    }
    .regis-wrp { 
        .inp-txt {
            margin: 0 0 15px 0;
            width: 100%;
        }
        .f-row {
            margin: 0 0 15px 0;
        }
        .b-btn {
            text-align: center;
        }
    }
     /* *****************************
    * CATEGORY LIST PAGE
    * *****************************  */
    .list-more-category{
        .more-cat-itm {
            .more-ct {
                width: 62%;
            }
        }
    }
    .b-btn.category {
        .btn-category {
            width:100%;
            margin-right:0;
            padding:0;
        }
    }
    /* *****************************
    * NEW FOOTER STYLE
    * *****************************  */
    .clients {
        &.nw-bg-black {
            .inner {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
    }
}
@media (min-width: 980px) and (max-width: 1005px) {
     /* *****************************
    * CATEGORY LIST PAGE
    * *****************************  */
    .list-more-category{
        .more-cat-itm {
            .more-ct {
                width: 58%;
            }
        }
    }
}

@media (max-width: 959px) {
    nav.search-list{
        li{
            .search-info{
                float:none;
            }
            .searchdate{
                float:left;
            }
            .ico-date{
                float:left;
                margin-left:20px;
            }
        }
    }
}
@media (max-width: 900px) {
    .clear-all, .apply-all{
        width:75px;
    }
    nav.search-list{
        li{
            .search-info{
               width:250px;
            }
        }
    }
}
