//
// Responsive: Tablet to desktop
// --------------------------------------------------
@media (max-width:1024px){
    .form-event .clearfix .inp{
        width:30%;
    }
}
@media (max-width: 900px) {
    .blk-fea-article {
        margin-bottom: 0;
        .list-blog, .fea-list {
            .blog-itm {
                width: 100%;
                &:nth-child(2n+1) {
                    border-right: none;
                }
            }
            .fea-img {
                height: 270px;
            }
        }
    }
}
@media (min-width: 769px) and (max-width: 970px) {
    nav.search-list-thumb li .div-one .search-info .ev-tt{
            max-height:55px;
    }
    nav.blog-list li .blog-tt .blog-name{
        max-width:58%;
    }
}
@media (max-width: 860px) {
    /* *****************************
    * NEW FOOTER STYLE
    * *****************************  */
    .clients {
        &.nw-bg-black {
            .list-logo {
                a {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
            .list-social {
                li {
                    margin-left: 30px;
                    margin-right: 30px;
                }
            }
        }
    }
    .menu-footer{
        &.nw-footer {
            > li {
                width: 30%;
                padding-left: 35px;
                &.li-last-child {
                    width: 20%;
                }
            }
        }
    }
}
@media(min-width:768px) and (max-width:820px){
    nav.search-list{
        li {
            .search-info{
                width:330px;
            }
        }
        
    }
}
@media(min-width:821px) and (max-width:959px){
    nav.search-list{
        li {
            .search-info{
                width:330px;
            }
        }
        
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .inner{
        width: 100%;
        padding:0;
    }
    .main > .inner{
        width: 100%;
        padding: 10px 10px 0 10px;
    }
    .calendar-ipt .JsDatePickBox {
        left: -60px !important;
    }
    /**
     * MAIN SLIDER
     */
    .main-slider {
         height: inherit;   
        .slides {
            a {
                height: inherit;
                img {
                    height: inherit;
                }
            }
        }
    }
    .b-btn {
        a.btn-b {
            display: block;
            &:first-child {
                margin: 0 0 5px 0;
            }
        }
    }
    .b-btn {
        a.btn-b.hfull {
            display: inline-block;
            &:first-child {
                margin: 0 5px 0px 0;
            }
        }
    }
    .sub-blk {
        .fl  {
            width: 90%;
        }
        .btn.btn-l {
            &.lgr {
                width: 100%;
            }
        }
    }  
    .newsletter-frm {
        .newsletter {
            width: 100%;
            margin: 0 0 2px 0;
        }
        .btn.btn-l {
            width: 100%;
        }
    }
    .b-share {
        label {
            margin: 0 10px 0 0;
            font-size: 11px;
        }
        a {
            margin: 0 6px 0 0;
        }
    }
    .form-event .s-rw .lst-lik a {
        margin: 0 1px 1px 0;
    }
    .top-head {
        height: auto;
        .top-blk {
        &.search-box {
            width: 100%;
            float: none;
            margin-left:0;
            margin-bottom:15px;
            margin-top:0;

        }
    }

    }
    .form-search .inp.inp-txt {
        width:~"calc(100% - 50px)";
    }   
    .ft-blk  {
        a {
            display: block;
            img {
                width: 100%;
                height: auto;        
            }
        }
    }

    /* *****************************
     * DETAIL PAGE
     * *****************************  */
    .astro-featr { 
        .a-txt-fea {
            .clearfix();
        }
    }
    .locatn { 
        .lo-map {
            overflow: hidden;
            > img {
                width: 100%;
            }
        }
        .lo-left {
            float: none;
            width: inherit;
        }
        .lo-right {
            margin: 0;
        }
    }
    .more-frm-itm {
        .more-ct {
            width: 56%;
        }
    }
     /* *****************************
    * CATEGORY LIST PAGE
    * *****************************  */
    .list-more-category{
        .more-cat-itm {
            .more-ct {
                width: 52%;
            }
        }
    }
   
}
@media (max-width: 959px) {
    /* EVENTS PAGE  Step 1*/
    ul.steps{
        li{
            background-image:url(../images/step-bg-768.png);
            width:33%;
            height:49px;
            background-repeat: no-repeat;
            background-position:left top;
            a{
                float:left;
                margin-right:auto;
                margin-left: 50px;
                font-size:16px;
                top:15px;
                position:relative;
            }
        }
    }
     /* EVENT PAGE */
    .event-list{
        select.event{
        background-position: 95% center;   
        }
    }
    .event-list.cat .event{
        background-position: 97% center; 
    }
    nav.search-list{
        li{
            .searchdate{
                margin-left:75px;
            }      
        }
    }
    nav.searching-list li .info-content .search-info{
        margin-right:0;
        width:90%;
    }
    nav.searching-list li .info-content .searchdate{
        max-width:65%;
        margin-left:10px;
    }
    nav.searching-list li .info-content .meta{
        max-height:28px;
    }
    nav.searching-list li .info-content .ico-date{
        margin-top:-2px;
    }
}
@media (min-width: 641px) {
    .hamburger-menu {
        display: none !important;
    }
}
@media (min-width: 768px) and (max-width: 820px) {
    .main-menu .mn-menu .nav > li > a {
        font-size: 12px;
        padding: 0 5px;
    }
    .form-event {
        .s-rw {
            .lst-lik {
                a {
                    padding: 6px 8px;
                }
                a.weekend {
                    margin-right: 20%;
                }
                span.no-line {
                    padding: 6px 5px 6px 0;
                    margin: 0 8px 0 0 ;                    
                }
            }
        }
    }   
    .blog-itm { 
        .b-time {
            left: -10px;
        }
    }
    .more-frm-itm {
        .more-ct {
            width: 50%;
        }
    }
    /* *****************************
    * DETAIL PAGE
    * *****************************  */
    .datetime {
        .a-block-ct {           
            .clearfix {
                > div.fl {
                float: none;
                width: inherit;
                margin: 0;
                &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
    .filter-map {
        td {
            font-size: 10px;
        }
    }
    .nofi-map {
        a.nofi-exp {
            top: 0;
            right: 6px;
        }
    }
    .a-block { 
        &.grey { 
            .nofi-map {
                p {
                    margin: 15px 0 0 0;
                }
            }
        }
    }
    .nofi-more { 
        .n-blk { 
            .n-blk-ct {
                > ul { 
                    li {
                        font-size: 11px;
                    }
                }
            }
        }
    }
    .filter-map {
        td { 
            img {
                vertical-align: -5px;
            }
            input[type="checkbox"] {
                vertical-align: -2px;
            }
        }
    }

     /* *****************************
    * CATEGORY LIST PAGE
    * *****************************  */
    .list-more-category{
        .more-cat-itm {
            .more-ct {
                width: 48%;
            }
        }
    }

    .b-btn.category {
        .btn-category {
            width:100%;
            &:first-child {
                margin: 0 0 5px 0;
            }
        }
        .btn-cat-detail{
            width:140px;
            &:first-child{
                margin-right:10px;
            }
        }
    }

    .list-more-category{
        .more-cat-itm {
            padding: 0 0 15px 0;
            .more-pic {
                margin-right: 0;
            }
            .more-ct {
                .clearfix();
                float: none;
                margin-left: 75px;
                width: inherit;
                .meta{
                    font-size:11px;
                }
            }
            .b-btn {          
                float: none;
                margin-left: 75px;
                margin-top:20px;
                text-align: left;
                width: inherit;
                overflow: hidden; 
            }    
        }
    }

    /* EVENT PAGE */
    .event-list{
        select.event{
        background-position: 95% center;   
        }
    }  
}
@media(max-width: 850px){
    .header {
        &.header-second-menu {
            .secondary-menu {
                .mn-menu {
                    > ul {
                        > li.has-child {
                            .child-container {
                                &.three-col {
                                    width: calc(670px);
                                }
                                .child {
                                    li {
                                        .cap-img {
                                            img {
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:768px){
    .tablet-show { display: block; }
     a.mb-menu {
        display: block;
        border: 1px solid #ccc;
        background: #f9f9f9;
        padding: 5px;
        line-height: 23px;
        position: relative;
        float:right;
        right: 0;
        width: 100%;
        font-weight: 700;
        color: #666;
        margin-bottom:10px;
        text-align:left;
        .box-sizing();
        &:hover {
            color: #333;
        }
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #666 transparent transparent transparent;
            right: 10px;
            top: 15px;
        }
        &.active {
            background: @ora;
            border-color: @ora;
            color: #fff;
            &:after {
                border-width: 0px 5px 5px 5px;
                border-color:  transparent transparent #fff transparent;
            }
        }
    }
    .main-menu {
        &.tablet-show {
            position: absolute;
            top: 35px;
            right: 0;
            width: 100%;
            z-index: -1;
            height: auto;
            visibility: hidden;
            .opacity(0);
            background: #fff;
            &.show {
                z-index: 1000;
                visibility: visible;
                .opacity(1);
                top: 35px;
                background: @ora;
            }
            .inner {
                padding: 0;
                width: auto;
            }
            .nav {
                li {
                    float: none;
                }
            }
            .mn-menu { 
                .nav { 
                    > li {
                        border-right: none;
                        a {
                            border-top: 1px solid #ffc25a;
                            line-height: 30px;
                        }
                        &.cur {                            
                            > a {
                                border-top: 1px solid #ffc25a;
                            }
                        }
                    }
                }
            }
           .has-child {
                ul.sub-menu {
                    position: static;
                    width: auto;                    
                    .opacity(1);
                    background: none;
                    display: block;
                    &.show {
                        display: block;
                    }
                }
                > ul.sub-menu.level-1 { 
                    padding: 0 0 0 15px;
                    li {
                        border-left: 1px solid #ffc25a;
                        padding: 0 0 0 15px;
                        a {
                            border-top: none;
                            padding: 0 10px 0 0 ;
                            &:hover {
                                background: none;
                                color: #fff;
                                &:after {
                                    border-width: 0px;
                                }
                            }
                            &:after {
                                border-width: 0px;
                            }
                        }                                                                        
                    }
                    > li {
                        > a {
                            font-size: 12px;
                        }
                    }
                    > li.has-child { 
                        ul.sub-menu {
                            position: static;
                            width: auto;
                            background: none;
                            padding: 0;
                            a {
                                font-size: 12px;
                                font-weight: normal;
                            }
                        }
                    }
                }
            } 
            .sub-menu {
                visibility: visible;
            }
        }
    }
    /* HEADER */
    .top-head {
        height: auto;
        .logo{
            position:relative;
            margin-bottom:0;
            width:58%;
            text-align:left;
        }
        .top-blk { 
            &.search-box {
                float:left;
                margin: 0;
                left: 0;
                display:block;
                width: 48%;
            } 
            &.social-top {
                float: left;
                display:block;
                margin-bottom:15px;
                margin-top:10px;
                left: 0;
                text-align: center;
                width: 100%;
                margin-left:0;
                height:auto;
                a {
                    margin: 0 20px 0 0;
                    &:last-child {
                        margin: 0;
                    }
                }
            }
            &.login-top{
                height:50px;
            }
        }
    }
    .form-search {
        .inp.inp-txt {
            width:~"calc(100% - 50px)";
        }
    }
    .edu-btn, .search-btn{
        width:100%;
    }
    /* REGISTER PAGE */
    .regis-wrp > form{
        width:100%;
    }
    .evt-blk.filter{
        display:none;
    }
    span.viewmore{
        display:none;
    }
    .blk-bm-events{
        nav.events{
            li{
                .event-checkbox{
                    margin-left:15px;
                }
                .event-info{
                    float:none;
                }
            } 
        } 
    }
    .gallery-list li{
        margin:7px;
    }
    .cl-head{
        display:none;
    }
    .cl-date{
        .date-cell{
            width:100%;
            float:left;
            height:auto;
            min-height:40px;
            .num{
                font-size:20px;
                left:20px;
                top:22px;
                display:inline;
            }
            .sun{
                font-size:20px;
                left:20px;
                top:20px;
                top:22px;
                display:inline;
            }
            .dName{
                font-size:20px;
                left:10px;
                top:22px;
                position:relative;
                color:#000;
                font-weight:700;
                display:inline;
            }
            .sun{
                    color:#c52e2e;
            }
            .event{
                width:auto;
                float:left;
                border-left:1px solid #ccc;
                min-height:60px;
                max-height:none;
                height:auto;
                .cl-event-list{
                    margin-bottom:10px;
                    margin-left:15px;
                }
            }
            .day{
                width:25%;
                float:left;
            }
        }  
    }
     /* SECOND SLIDER */
    .second-slider{
        height:600px;
        .slider-pic{
            width:100%;
        }
        .slider-content{
            width:100%;
        }
        .flexslider .slides li{
            height:auto;
        }
        li .b-share-cat{
            position:absolute;
        }
        &.second-slider-v1 {
            .slider-pic {
                float: right;
            }
            .slider-content {
                float: left;
                &::after {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 20px 20px 20px;
                    border-color: transparent transparent #283473 transparent;
                    content: "";
                    position: absolute;
                    top: -20px;
                    z-index: 9999;
                    left: 50%;
                    right: inherit;
                    margin-left: -20px;
                }
            }
            .flex-control-nav {
                bottom: 20px !important;
            }
        }
    }
    /* Step 3 */
    .evt-blk{
        .information{
            ul.ind-time{
                li{
                    width:100%;
                }
            }
        } 
    }
    .event-list.cat .event{
        background-position: 95% center; 
    }
    /* EVENT PAGE */
    .event-list{
        select.event{
        background-position: 94% center;   
        }
    }
    #print{
        display:none;
    }
    .blog-bkl #email{
        display:none;
    }
    /* SEARCH PAGE */
    nav.search-list{
        li{
            .search-info{
                float:none;
                margin-right:0;
            }
            .searchdate{
                float:left;
            }
            .ico-date{
                float:left;
                margin-left:20px;
            }
            .ico-date:hover{
                .show-date{
                    left: -120px;
                }
            }
        }
    }
    .search-bkl{
        
        nav.pg{
            display:none;
        }
    }
    .a-block-ct{
        ul.ind-time{
            li{
                width:100%!important;
            }
        }
    }
    #load-more{
        display:block;
    }
    .cm-form .ipt .inp-half{
    	margin-right:0;
    	width:100%;
    	&:first-child{
    		margin-bottom:25px;
    	}
    }
    /* ARTIST PAGE */
    .artist-blk .hafl{
        width:100%;
    }
    .artist-blk .art-email-check{
        margin-top:15px;
    }
    .artist-blk .vertical-line{
        margin-bottom:0;
    }
    .path-way{
        .path{
            width:100%;
            float:left;
            display:block;
        }
        display:block;
        height:auto;
        min-height:35px;
        float:none;
    }
    ul.image-step li{
        width:100%;
        margin-bottom:25px;
    }
    .hafl{
        width:100%;
    }
    /* Education Page */
    nav.search-artist-list li .info-content .search-info .s-desc.edu-des{
        max-height: 47px;
    }
    /* Education form */
    .btn-form-submit{
        width:100%;
        margin-right:0;
        text-align:center;
        line-height:1.2em;
    }
    /* Slider */
    .main-slider.full .slides .i-slider img{
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .main-slider.mini .slides .i-slider a img{
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        position:relative;
    }
    .category-itm .pic{
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
    .category-itm .category-t{
        float: none;
        margin-left: 0;
    }

    /*New Feater Event*/
    .item-feature-event {
        .evt-action {
            .social-has-sidebar {
                display: inline-block;
            }
        }
    }
}
@media(max-width: 767px) {
     .pc-show { display: none; }
}