.wi-text {}
.wi-text-1 {}
.wi-icon {}
.wi-icon-1 {}
.wi-button {}	
.wi-button-1 {}
.wi-frame {}	
.wi-frame-1 {}
.wi-box {
	.tl, .tr, .bl, .br {}
	.ml, .mr {}
	.mt, .mb {}
}	
.wi-box-1 {
	.tl {}
	.tr {}
	.bl {}
	.br {}
	.ml {}
	.mr {}
	.mt {}
	.mb {}
	.content {}
}
.wi-box-2 {
	.outer {
		.inner {}
  }
}       
.wi-layer {
	.tl, .tr, .bl, .br {}
	.ml, .mr {}
	.mt, .mb {}
}	
.wi-layer-1 {
	.tl {}
	.tr {}
	.bl {}
	.br {}
	.ml {}
	.mr {}
	.mt {}
	.mb {}
	.content {}
}
.wi-layer-2 {
	.outer {
		.inner {}
  }
}   
