// Variable
@import "variable.less";
// Mixin
@import "mixin.less";
// Reset
@import "reset.less";
// Common
@import "common.less";
// block
@import "block.less";
// MAIN MENU
@import "nav-main.less";
// MAIN MENU 2TIERS
@import "nav-main-2tiers.less";
// Page
@import "page.less";
// Page
@import "dashboard.less";
// Plugin
@import "plugin.less";
// Slider
@import "jquery.bxslider.less";
// Jquery UI
@import "jquery-ui.less";
// Featured Event
@import "featured-event.less";
// IMPORT Event
@import "import-event.less";
// Append form code
@import "extra.less";
// Append form code
@import "top-search.less";
// Responsive
@import "responsive.less";
// New Template
@import "search-business-list.less";

// Update new CSS
.nav-sidebar {
    .dsb-main-nav {
        > ul {
            > li {
                .l-ico {
                    float: left;
                }
                span {
                    float: left;
                    width: 60%;
                    white-space: normal;
                    &.long-ttl {
                        line-height: 2.0;
                        word-break: break-word;
                    }
                }
                a {
                    padding-right: 5px;
                    &.long-ttl {
                        line-height: 2.0;
                        white-space: normal;
                        word-break: break-word;
                    }
                }
            }
        }
    }
}
