#ui-datepicker-div{
        z-index: 100!important;
    }
.top-search{
    position: relative;
    width: 100%;
}
.top-search-row{
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 0 0;
}
.top-search-row  .btn.btn-l{
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 15px;
    background: @ora;
    height: 35px;
    width: 35px;
    color: #fff;
}
.top-search-row  .btn.btn-l.go{
    margin-left: 10px;
    margin-right: 0;
}
.top-search-row  .btn.btn-l i{
    font-size:26px;
}
.top-search-row .event-search{
    display: inline-block;
    vertical-align: middle;
    width: 180px!important;
    float: left;
    height: 36px!important;
    margin-right: 10px;
}
.top-search-row .el-blk{
    width: 180px;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    margin-right: 10px;
    padding-top:0;
}
.top-search-row .sub-blk {
    background: #fff;
    display: inline-block;
    float: left;
    width: 100px;
    height: 40px;
    margin-top:4px;
}
.top-search-row .sub-blk .btn.btn-l.lgr.fr{
    display: inline-block;
    background: #fff;
    color:#666;
    width: 100px;
    height: 40px;
}
.top-search-row .s-rw{
    display: inline-block;
    float: left;
    position: relative;
}
.top-search-row .s-rw label{
    margin-bottom:7px;
}
.top-search-row .s-rw input[type="checkbox"]{
    position: relative;
    margin-top:25%;
}
.top-search-row .form-event{
    margin-bottom: 0;
}
.offers{
    width: 50px;
    display: inline-block;
    font-size: 12px;
    margin-left: 20px;
    margin-top:10px;
    margin-right: 15px;
}
.top-search-row .form-event .s-rw .inp{
    height: 36px;
}
.top-search-row .calendar-ipt .fa.ico-s{
    left:42%;
}
.top-search-row .calendar-ipt .fa.ico-e{
    left:92%;
}
.top-search-row 
    .lst-lik {
        margin-right: 20px;
        margin-top:-2px;          
        a {
            display: inline-block;
            border: 1px solid #999;
            font-size: 11px;
            color: #666;
            padding: 6px 5px;
            margin: 0 1px 0px 0;
            &:fisrt-child {
                margin: 0 1px 0 0;
            }
           
            &:hover {
                background: @ora;
                border: 1px solid @ora;
                color: #fff;
            }
        }
        span {
            &.no-line {
                display: inline-block;
                font-size: 11px;
                border: 1px solid #fff;
                margin: 0 8px;
                color: #666;
                padding: 6px 5px;                
            }
        }
}
@media (max-width:1050px){
    .top-search-row  .form-event .clearfix .btn.btn-l.go{
        width: 35px!important;
    }
    .form-event .clearfix .btn.btn-l{
        width: 35px!important;
    }
    .top-search-row .calendar-ipt > span{
        width: 127px;
    }
    .top-search-row {
        padding-left:5px;
        box-sizing: border-box;
    }
    
}
@media (max-width:926px){
    .top-search-row .event-search, .top-search-row .el-blk{
        width: 130px!important;
    }
}
@media (max-width:840px){
    .top-search-row{
        padding:10px;
        box-sizing: border-box;
    }
    
    .top-search-row .form-event .s-rw .lst-lik a.weekend{
        margin-right: 10px;
    }
    .top-search-row .sub-blk{
        margin-top:12px;
    }
    .top-search-row .event-search, .top-search-row .el-blk{
        width: 110px!important;
    }
}
@media (max-width:767px){
    
    .top-search-row .event-search, .top-search-row .el-blk{
        width: 30%!important;
    }
}
@media (max-width:480px){
    
    .top-search-row .event-search{
        width: ~"calc(100% - 50px)"!important;
        margin-right: 0;
    }
    .top-search-row .el-blk{
        width:100%!important;
        margin-top:10px;
        display: none;
    }
    .top-search-row .lst-lik{
        margin-right: 20px;
    }
    .top-search-row .s-rw{
        display: none;
    }
    .top-search-row .s-rw.cln{
        position: relative;
        width: 100%;
        
    }
    .top-search-row .calendar-ipt > span{
        width:~"calc((100% - 5px)/2)";
    }
    .top-search-row .sub-blk{
        display: none;
    }
    .displayed{
        display: block!important;
    }
    .top-search-row .calendar-ipt .fa.ico-s{
        left:~"calc(50% - 25px)";
    }
    .top-search-row .calendar-ipt .fa.ico-e{
        left:~"calc(100% - 25px)";
    }   
}

.top-search-row {
    .el-blk-quicksearch{
        display: none;
    }
}