block vars
  -title="Artsopolis - Dashboard, Events Page Step 2"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .events
                        .evt-blk
                            ul(class="steps")
                                li
                                    a 1
                                li(class="active")
                                    a 2
                                li
                                    a 3

                        .evt-blk
                            .event-tt DATES AND TIMES
                        .evt-blk.filter
                            .time-filter
                                .start
                                    label &nbsp; Start time *
                                    select.time
                                        option(value="1") 01
                                        option(value="2") 02
                                        option(value="3") 03
                                        option(value="4") 04
                                        option(value="5") 05
                                        option(value="6") 06
                                        option(value="7") 07
                                        option(value="8") 08
                                        option(value="9") 09
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                    span.arrowH
                                    select.time.mins
                                        option(value="00") 00
                                        option(value="05") 05
                                        option(value="10") 10
                                        option(value="15") 15
                                        option(value="20") 20
                                        option(value="25") 25
                                        option(value="30") 30
                                        option(value="35") 35
                                        option(value="40") 40
                                        option(value="45") 45
                                        option(value="50") 50
                                        option(value="55") 55
                                    span.arrowM
                                    select.time.ap
                                        option(value="am") AM
                                        option(value="pm") PM
                                    span.arrowAP
                                    span.clock
                                        <i class="fa fa-clock-o"></i>
                                .end
                                    label &nbsp; End time
                                    select.time
                                        option(value="1") 01
                                        option(value="2") 02
                                        option(value="3") 03
                                        option(value="4") 04
                                        option(value="5") 05
                                        option(value="6") 06
                                        option(value="7") 07
                                        option(value="8") 08
                                        option(value="9") 09
                                        option(value="10") 10
                                        option(value="11") 11
                                        option(value="12") 12
                                    span.arrowH
                                    select.time.mins
                                        option(value="00") 00
                                        option(value="05") 05
                                        option(value="10") 10
                                        option(value="15") 15
                                        option(value="20") 20
                                        option(value="25") 25
                                        option(value="30") 30
                                        option(value="35") 35
                                        option(value="40") 40
                                        option(value="45") 45
                                        option(value="50") 50
                                        option(value="55") 55
                                    span.arrowM
                                    select.time.ap
                                        option(value="am") AM
                                        option(value="pm") PM
                                    span.arrowAP
                                    span.clock
                                        <i class="fa fa-clock-o"></i>
                                    span.op (optional)
                            .clear-all
                                a(href="#")
                                    img(src="../images/clear-all-ico.png")
                                    span CLEAR ALL
                            .apply-all
                                a(href="#")
                                    <i class="fa fa-file-text fa-3x"></i>
                                    span APPLY TO ALL
                        .calendar-container
                            .month-bar
                                span.m DEC
                                span.y 2014
                                .today
                                    span TODAY
                                .next-month
                                    .prev-b
                                        <i class="fa fa-chevron-left fa-2x"></i>
                                    .next-b
                                        <i class="fa fa-chevron-right fa-2x"></i>
                            .cl-head
                                .day.sun SUN
                                .day MON
                                .day TUE
                                .day WED
                                .day THU
                                .day FRI
                                .day SAT
                            .cl-date
                                .date-cell
                                    .day
                                        span(class="dName sun") SUN
                                        span(class="sun") 1
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") MON
                                        span(class="num") 2
                                    .event
                                        ul(class="cl-event-list")
                                            li(class="evt-itm")
                                                a(href="#")
                                                    span(class="from") 07:00AM-
                                                    span(class="to") 08:00AM
                                            li(class="evt-itm")
                                                a(href="#")
                                                    span(class="from") 08:15AM-
                                                    span(class="to") 09:30AM
                                            li(class="evt-itm")
                                                a(href="#")
                                                    span(class="from") 09:45AM-
                                                    span(class="to") 10:45AM
                                            li(class="evt-itm")
                                                a(href="#")
                                                    span(class="from") 09:00AM-
                                                    span(class="to") 10:00AM
                                            li(class="evt-itm")
                                                a(href="#")
                                                    span(class="from") 09:00AM-
                                                    span(class="to") 10:00AM
                                            li(class="evt-itm")
                                                a(href="#")
                                                    span(class="from") 09:00AM-
                                                    span(class="to") 10:00AM
                                .date-cell
                                    .day
                                        span(class="dName") TUE
                                        span(class="num") 3
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") WED
                                        span(class="num") 4
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") THU
                                        span(class="num") 5
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") FRI
                                        span(class="num") 6
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") SAT
                                        span(class="num") 7
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName sun") SUN
                                        span(class="sun") 8
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") MON
                                        span(class="num") 9
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") TUE
                                        span(class="num") 10
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") WED
                                        span(class="num") 11
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") THU
                                        span(class="num") 12
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") FRI
                                        span(class="num") 13
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") SAT
                                        span(class="num") 14
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName sun") SUN
                                        span(class="sun") 15
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") MON
                                        span(class="num") 16
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") TUE
                                        span(class="num") 17
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") WED
                                        span(class="num") 18
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") THU
                                        span(class="num") 19
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") FRI
                                        span(class="num") 20
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") SAT
                                        span(class="num") 21
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName sun") SUN
                                        span(class="sun") 22
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") MON
                                        span(class="num") 23
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") TUE
                                        span(class="num") 24
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") WED
                                        span(class="num") 25
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") THU
                                        span(class="num") 26
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") FRI
                                        span(class="num") 27
                                    .event
                                        ul(class="cl-event-list")
                                .date-cell
                                    .day
                                        span(class="dName") SAT
                                        span(class="num") 28
                                    .event
                                        ul(class="cl-event-list")
                        .evt-blk
                            #arrow
                                a(href="#")
                                    span Next 3

    .viewmore-box
        img(class="arrow-box", src="../images/viewmore-bg.png")
        .closeviewmore
            img(src="../images/close-ico.png")
    .boxEdit
        .time-bar
            .start
                label &nbsp; Start time
                select.time
                    option(value="1") 01
                    option(value="2") 02
                    option(value="3") 03
                    option(value="4") 04
                    option(value="5") 05
                    option(value="6") 06
                    option(value="7") 07
                    option(value="8") 08
                    option(value="9") 09
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12
                span.arrowH
                select.time.mins
                    option(value="00") 00
                    option(value="05") 05
                    option(value="10") 10
                    option(value="15") 15
                    option(value="20") 20
                    option(value="25") 25
                    option(value="30") 30
                    option(value="35") 35
                    option(value="40") 40
                    option(value="45") 45
                    option(value="50") 50
                    option(value="55") 55
                span.arrowM
                select.time.ap
                    option(value="am") AM
                    option(value="pm") PM
                span.arrowAP
                span.clock
                    <i class="fa fa-clock-o"></i>
            .end
                label &nbsp; End time
                select.time
                    option(value="1") 01
                    option(value="2") 02
                    option(value="3") 03
                    option(value="4") 04
                    option(value="5") 05
                    option(value="6") 06
                    option(value="7") 07
                    option(value="8") 08
                    option(value="9") 09
                    option(value="10") 10
                    option(value="11") 11
                    option(value="12") 12
                span.arrowH
                select.time.mins
                    option(value="00") 00
                    option(value="05") 05
                    option(value="10") 10
                    option(value="15") 15
                    option(value="20") 20
                    option(value="25") 25
                    option(value="30") 30
                    option(value="35") 35
                    option(value="40") 40
                    option(value="45") 45
                    option(value="50") 50
                    option(value="55") 55
                span.arrowAP
                select.time.ap
                    option(value="am") AM
                    option(value="pm") PM
                span.arrowM
                span.clock
                    <i class="fa fa-clock-o"></i>
        .popup-btn
            button(type="submit", class="btn-noW", id="update-event") UPDATE
            button(type="submit", class="btn-noW", id="delete-event") DELETE
        .closepopup
            img(src="../images/close-ico.png")









