block vars
  -title="Artsopolis - Dashboard, Events Page Step 3"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .events
                        .evt-blk
                            ul(class="steps")
                                li
                                    a 1
                                li
                                    a 2
                                li(class="active")
                                    a 3

                        .evt-blk
                            .event-tt PREVIEW YOUR LISTING
                        .evt-blk
                            p Below is the information you are about to submit. If you would like to edit any of this information you may return to the previous screen using the “Return to Edit” button below. If you are satisfied with your submission you may click “Submit Listing” below to complete the process.
                                | Please note that we reserve the right to edit submissions for grammar, style and accuracy.
                        .evt-blk(style="margin-top:-15px")
                            article.category-itm
                                .b-time
                                    .t
                                        span 29
                                        span AUG
                                    .t-th
                                        | thru
                                    .t
                                        span 12
                                        span SEP
                                .pic
                                    a(href="#")
                                        img(src="../assets/uploads/step-3-pic.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                                .category-t
                                    h2.category-ttl
                                        a(href="#")  Healing The Planet, Healing Ourselves
                                    h3 Academy of Chinese Performing Arts and Actors Theatre Center
                                    p.desc Below is the information you are about to submit. If you would like to edit any of this information you may return to the previous screen using the “Return to Edit” button below.
                        .evt-blk(style="margin-top:-15px")
                            .tt-bar.clearfix
                                .cl
                                    a
                                        <i class="fa fa-bars fa-3x"></i>
                                    h4 Admission Info
                                .line-bar
                            .information
                                p
                                    label Admission Details:
                                    | Below is the information you are about to submit. If you would like to edit any of.
                                p
                                    label Ticket / Info Phone:
                                    | 18001568.
                                .event-btn(style="margin-left:45px")
                                    button(type="submit", class="btn-noW") BUY TICKETS
                        .evt-blk
                            .tt-bar.clearfix
                                .cl
                                    a
                                        <i class="fa fa-user fa-3x"></i>
                                    h4 Contact Info
                                .line-bar
                            .information
                                p
                                    label Contact name:
                                    | Micheal
                                p
                                    label Contact email:
                                    a(href="mailto:contact@gmail.com", class="email-contact")  contact@gmail.com
                        .evt-blk(style="margin-top:-15px")
                            .tt-bar.clearfix
                                .cl
                                    a
                                        <i class="fa fa-clock-o fa-3x"></i>
                                    h4 Dates & Times
                                .line-bar
                            .information
                                p
                                    <i class="fa fa-calendar fa-2x"></i>
                                    label(height="26px") Dates:
                                    span 09/03/2014 - 20/03/2014
                                p
                                    label Individual Date & Times:
                                .clearfix
                                    ul(class="ind-time")
                                        li
                                            Dec 3, 2014: 3:35 pm - 4 pm (Wed)
                                        li
                                            Dec 3, 2014: 3:35 pm - 4 pm (Wed)

                                p
                                    <i class="fa fa-link fa-2x"></i>
                                    label
                                        a(href="#")
                                            | Official Website
                        .evt-blk
                            .tt-bar.clearfix
                                .cl
                                    a
                                        <i class="fa fa-building-o fa-3x"></i>
                                    h4 Venue Info
                                .line-bar
                            .information
                                p 9Lives <br/>
                                    |150 Nguyen Campbell, CA 80
                        .evt-blk(style="margin-top:-15px")
                            .tt-bar.clearfix
                                .cl
                                    a
                                        <i class="fa fa-book fa-3x"></i>

                                    h4 Accessibility Info
                                .line-bar
                            .information
                                p Below is the information you are about to submit.
                                    | If you would like to edit any of this information you may return to the previous screen using the “Return to Edit” button below.
                                ul(class="acces-list")
                                    li
                                        ul
                                            li
                                                img(src="../images/2x/img-7.png", width="30px",height="36px")
                                            li
                                                label Audio Description
                                    li
                                        ul
                                            li
                                                img(src="../images/2x/img-6.png", width="33px",height="29px")
                                            li
                                                label Closed Caption
                                    li
                                        ul
                                            li
                                                img(src="../images/2x/img-5.png", width="33px",height="29px")
                                            li
                                                label Large Print
                                    li
                                        ul
                                            li
                                                img(src="../images/2x/img-4.png",width="33px",height="29px")
                                            li
                                                label Open Caption
                        .evt-blk
                            #event-submit-btn
                                a(href="#")
                                    span SUBMIT LISTING
                            #arrow-3
                                a(href="#")
                                    span RETURN TO EDIT
























