block vars
  -title="Artsopolis - Dashboard, Events Page Step 1"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    form(id="events-frm", method="", action="")
                        .events
                            .evt-blk
                                ul(class="steps")
                                    li(class="active")
                                        a 1
                                    li
                                        a 2
                                    li
                                        a 3
                            .evt-blk
                                .event-tt ENTER EVENT DETAILS
                            .evt-blk
                                <span class="error"> * Please enter valid value</span>
                                .el-blk.full
                                    input(type="text", placeholder="Event name (*)", class="inp-txt-event inp-error")
                                    .show-tip
                                        |Event name
                                span(class="txt") Titles may not exceed 100 characters, including spaces.
                            .evt-blk.org
                                .event-list.no-mrn
                                    select(class="event", id="org-select")
                                        option(value="0") Select Registered Organization:
                                        option(value="Organization") Organization A
                                        option(value="Organization") Organization B
                                        option(value="Organization") Organization C
                                        option(value="Organization") Organization D
                                        option(value="Organization") Organization E
                                    .arrow-down
                                        <i class="fa fa-sort-desc fa-lg"></i>
                                .event-btn.no-mar-l
                                    button(type="button", class="btn-noW", id="add-org") ADD ORGANIZATION
                            .evt-blk(class="add-organization", style="display:none")
                                .event-list.no-mrn
                                    .el-blk.full
                                        input(type="text", placeholder="Organization’s name (*)", class="inp-txt-event")
                                        .show-tip
                                            | Organization name
                                .event-btn.no-mar-l
                                    button(type="button", class="btn-noW", id="back-selec-list") GO BACK TO SELECTION LIST
                            .evt-blk(class="add-co", style="margin-top:-15px")
                                .event-btn.no-mar-l.fL
                                    button(class="btn-noW", id="add-co", data-title ="Select Co-presenter", data-img="../images/delete-org.png") ADD CO-PRESENTER
                            .evt-blk
                                .el-blk.full
                                    textarea(placeholder="Type your description here...(*)", class="inp-desc-event", name="editor1", id="editor1", rows="5" )
                                    .show-tip
                                        | Type your description here
                                .el-blk.full
                                    input(type="text", placeholder="Event website (*)", class="inp-txt-event")
                                    .show-tip
                                        | Event website
                            .evt-blk
                                .event-contact Your Contact Information
                                p Contact information is necessary in case we need to follow up with you regarding your submission.
                                  |This information will NOT appear on our website.
                                .el-blk.full
                                    input(type="text", placeholder="Contact name (*)", class="inp-txt-event")
                                    .show-tip
                                        | Contact name
                                .el-blk.full
                                    input(type="text", placeholder="Contact Email (*)", class="inp-txt-event")
                                    .show-tip
                                        | Contact Email
                                .el-blk.full
                                    input(type="text", placeholder="Contact Phone", class="inp-txt-event")
                                    .show-tip
                                        | Contact Phone
                            .evt-blk
                                .event-contact Dates and Times
                                .eventfrom.form-event
                                    <span class="error"> * Please enter Start day</span>
                                    <span class="error"> * Please enter End day</span>
                                    .calendar-ipt.clearfix
                                        label Start day (*):
                                        input(type="text", size="12", id="c-s", class="inp inp-txt caldr")
                                        label End day (*):
                                        input(type="text", size="12", id="c-e", class="inp inp-txt caldr")
                            .evt-blk
                                .event-contact Ticket / Admission / Registration Information
                                p Please list your ticket contact information below.
                                  |Please be as detailed as possible with ticket prices, locations for the seats, and discounts for different groups (Seniors? Students? etc.).
                                  |Enter "Free" if the event is free and open to the public.
                                .el-blk.full
                                    textarea(placeholder="Ticket / Admission prices or Class Fee / Tuition... or “FREE” if applicable", class="inp-desc-event")
                                    .show-tip
                                        | Ticket / Admission prices or Class Fee / Tuition... or “FREE” if applicable
                                p Please enter the phone number that patrons should be directed to for either ticket or general information about your event.
                                .el-blk.full
                                    input(type="text", placeholder="Ticket / Information phone (*)", class="inp-txt-event")
                                    .show-tip
                                        | Ticket / Information phone
                                .el-blk.full
                                    input(type="text", placeholder="Ticket website", class="inp-txt-event")
                                    .show-tip
                                        | Ticket website
                                .el-blk.full
                                    input(type="text", placeholder="Ticket / Information email:", class="inp-txt-event")
                                    .show-tip
                                        | Ticket / Information email
                                .el-blk.full
                                    input(type="checkbox", class="free-event")
                                    label(class="free-evt") Free Event
                            .evt-blk
                                .event-contact Category Type
                                .event-list.cat
                                    select.event.sl-error
                                        option(value="Past Events:") Select Primary Category (*):
                                        option(value="Past Events") Category A
                                        option(value="Past Events") Category B
                                        option(value="Past Events") Category C
                                        option(value="Past Events") Category D
                                        option(value="Past Events") Category E
                                    .arrow-down.aerror
                                        <i class="fa fa-sort-desc fa-lg"></i>
                                .add-more-cat
                                    span(class="cat-txt") Add more category types
                                    .expend
                                        <i class="fa fa-chevron-circle-down fa-3x"></i>
                                    .cat-list(style="display:none")
                                        ul(class="cat-listing")
                                            li
                                                ul(class="Llist")
                                                    li
                                                        input(type="checkbox")
                                                        label ART
                                                    li
                                                        input(type="checkbox")
                                                        label CLASS
                                                        ul
                                                            li
                                                                input(type="checkbox")
                                                                label WORKSHOPS
                                                            li
                                                                input(type="checkbox")
                                                                label WORKSHOPS
                                                            li
                                                                input(type="checkbox")
                                                                label WORKSHOPS
                                                    li
                                                        input(type="checkbox")
                                                        label COMMUNITY MEETINGS
                                                    li
                                                        input(type="checkbox")
                                                        label CONSUMER SHOWS
                                                    li
                                                        input(type="checkbox")
                                                        label CONVENTIONS / TRADE SHOWS
                                                    li
                                                        input(type="checkbox")
                                                        label ENVIRONMENTAL / GREEN
                                                    li
                                                        input(type="checkbox")
                                                        label FAITH-BASED
                                                    li
                                                        input(type="checkbox")
                                                        label FAITH-BASED
                                                    li
                                                        input(type="checkbox")
                                                        label FAITH-BASED
                                                    li
                                                        input(type="checkbox")
                                                        label FAITH-BASED
                                            li
                                                ul(class="Rlist")
                                                    li
                                                        input(type="checkbox")
                                                        label MUSIC
                                                        ul
                                                            li
                                                                input(type="checkbox")
                                                                label ACOUSTIC / FOLK / WORLD
                                                            li
                                                                input(type="checkbox")
                                                                label CLASSICAL / OPERA
                                                            li
                                                                input(type="checkbox")
                                                                label JAZZ / BLUES
                                                            li
                                                                input(type="checkbox")
                                                                label KARAOKE / OPEN MIC
                                                    li
                                                        input(type="checkbox")
                                                        label NON-ARTS SPECIAL EVENTS
                                                    li
                                                        input(type="checkbox")
                                                        label PARTICIPATORY
                                                    li
                                                        input(type="checkbox")
                                                        label PET RELATED
                            .evt-blk
                                .event-contact Venue/Location Info
                                h1 SELECT REGISTERED VENUE (*)
                                p Please type in a KEYWORD from the Venue’s name, and select it from the list below:
                                .venue
                                    .event-list.no-mrn
                                        select.event
                                            option(value="9Lives") 9Lives:
                                            option(value="9Lives") 9Lives
                                            option(value="9Lives") 9Lives
                                            option(value="9Lives") 9Lives
                                            option(value="9Lives") 9Lives
                                            option(value="9Lives") 9Lives
                                        .arrow-down
                                            <i class="fa fa-sort-desc fa-lg"></i>
                                    .event-btn.no-mar-l
                                        button(class="btn-noW", id="add-venue") ADD NEW VENUE
                            .evt-blk(class="newvenue", style="display:none")
                                .el-blk.full
                                    input(type="text", placeholder="New Venue Name (*)", class="inp-txt-event")
                                    .show-tip
                                        |New Venue Name
                                .el-blk.full
                                    input(type="text", placeholder="Venue Address", class="inp-txt-event")
                                    .show-tip
                                        |Venue Address
                                .el-blk.full
                                    input(type="text", placeholder="Venue City", class="inp-txt-event")
                                    .show-tip
                                        |Venue City
                                .el-blk.full
                                    input(type="text", placeholder="Venue State", class="inp-txt-event")
                                    .show-tip
                                        |Venue State
                                .el-blk.full
                                    input(type="text", placeholder="Venue Zip", class="inp-txt-event")
                                    .show-tip
                                        |Venue Zip
                                .el-blk.full
                                    input(type="text", placeholder="Venue Website", class="inp-txt-event")
                                    .show-tip
                                        |Venue Website
                                .event-btn.no-mar-l.fL
                                    button(class="btn-noW", id="back-venue-list") GO BACK TO SELECTION LIST
                            .evt-blk.access
                                .event-contact Accessibility Information
                                .expend-access
                                    <i class="fa fa-chevron-circle-down fa-3x"></i>
                                .access-list(style="display:none")
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-1.png")
                                                        label Assisted Listening System
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-12.png")
                                                        label Braille
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-11.png")
                                                        label Info
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-9.png")
                                                        label Low Vision
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-8.png")
                                                        label Sign Language
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-10.png")
                                                        label Volumn Control Telephone
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-7.png")
                                                        label Audio Description
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-6.png")
                                                        label Closed Caption
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-5.png")
                                                        label Large Print
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-4.png")
                                                        label Open Caption
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-3.png")
                                                        label TDD/TTY
                                                    li
                                                        input(type="checkbox")
                                                        img(src="../images/2x/img-2.png")
                                                        label Wheelchair Acces
                                        .el-blk.full
                                            textarea(placeholder="Additional accessibility info", class="inp-desc-event")
                                            .show-tip
                                                |Additional accessibility info
                            .evt-blk
                                .event-contact Images
                                h1 SELECT REGISTERED ORGANIZATION (*)
                                p You can upload a primary event image and up to 3 additional gallery images below - the primary image will be the default image displayed with your event.
                                  |The gallery images will appear on the event detail page under the “Media Gallery” section.
                                p Each image should be at least 250 pixels wide. All images must be .JPG (RGB) format only and each image should be smaller than 1 MB in size. Filenames cannot be longer than 50 characters or contain special symbols or spaces.
                                nav(class="nav-tab")
                                    ul(class="tab-image-list")
                                        li(class="selected")
                                            a(href="#", data-id="1") PRIMARY IMAGE
                                        li
                                            a(href="#", data-id="2") GALLERY
                                div(class="gallery-bkl", data-target="1")
                                    .upload-img
                                        button(class="btn-noW", id="select-image") UPLOAD IMAGE
                                        input(type="file", id="uploadBtn", class="inp-file")
                                    .crop-img
                                        .upload-bar
                                            .upl-tt
                                                a
                                                    .l-outer
                                                        .l-inner
                                                    .r-outer
                                                        .r-inner
                                                    span Crop Photos
                                            .upl-btn
                                                button(class="btn-noW", id="save-crop") SAVE
                                                button(class="btn-noW", id="cancel-crop") CANCEL
                                        .img-crop
                                        .crop-tool
                                            img(src="../images/crop-tool.png")
                                div(class="gallery-bkl", data-target="2")
                                    .upload
                                        .upload-bar
                                            .upl-tt
                                                .upload
                                                    a
                                                        .up-img
                                                            .triangle-up
                                                            .line-up
                                                            .mask-up
                                                            .bottom-up
                                                        span Upload Files
                                                        input(type="file", id="uploadBtn", class="inp-file")
                                            .upl-btn
                                                button(class="btn-noW", id="upload", type="button") UPLOAD
                                                button(class="btn-noW", id="cancell-all", type="button") CANCEL ALL
                                        ul.uploading-list
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-1.png")
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-2.png")
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-1.png")
                                        ul.gallery-list
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-1.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")

                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-2.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                            .evt-blk.venue
                                .event-contact Video
                                .expend-video
                                    <i class="fa fa-chevron-circle-down fa-3x"></i>
                                .video-area(style="display:none")
                                    .des-list
                                        .video-item(id="video-group")
                                            .el-blk.full
                                                input(id = "video-link", type="text", placeholder="YouTube video links", class="inp-txt-event", name="video_embed[]")
                                                .show-tip
                                                    |YouTube video links
                                            .el-blk.full
                                                textarea(id = "video-desc", placeholder="Description", class="desc-video")
                                                .show-tip
                                                    |Description
                                    .video-btn
                                        button(class="btn-noW", id="video-addmore", data-img="../images/delete-org.png") ADD MORE
                                    .video-btn
                                        button(class="btn-noW", id="video-preview") PREVIEW
                            .video-box
                                .video(class="selected", data-target="1")
                                    iframe(src="http://www.youtube.com/embed/7cqKa6DAU9I")
                                .video(data-target="2")
                                    iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ")
                                .video(data-target="3")
                                    iframe(src="http://www.youtube.com/embed/_7jUA-Gqp4M")
                                .video(data-target="4")
                                    iframe(src="http://www.youtube.com/embed/Ps464zKauUk")
                                .video(data-target="5")
                                    iframe(src="http://www.youtube.com/embed/7cqKa6DAU9I")
                                .video(data-target="6")
                                    iframe(src="http://www.youtube.com/embed/Ps464zKauUk")
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(href="#",data-id="1")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>
                            .evt-blk
                                #arrow
                                    a(href="#")
                                        span Next 2














