block vars
  -title="Artsopolis - Dashboard, Events Page"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout-event
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .events
                        .evt-blk
                            h1 Bulk Import
                            p Please enter your event information...
                            .full-screen
                                a(href="#")
                                    |View full screen
                        .evt-blk-import
                            .event-import-wrapper
                                div(id="event-list")
                            .event-btn.import
                                button(id="btn-submit", data-dump="#event-list", data-instance="hot", name="dump") IMPORT EVENTS
                                button(id="save-later") SAVE FOR LATER
                                a(class="close-fs", href="#")
                                    |CLOSE



