block vars
  -title="Artsopolis - Dashboard, Events Page"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .events
                        .evt-blk
                            h1 Events
                            p Please select one of the following options:
                        .evt-blk
                            .event-icon
                                img(src="../images/ico-submit-event.png")
                            .event-btn
                                button(type="submit", class="btn-submit") SUBMIT A NEW EVENT
                        .seperate
                            span(class="or") or
                            span(class="line")
                        .evt-blk
                            .event-icon
                                img(src="../images/ico-edit-event.png")
                            .event-list
                                select.event
                                    option(value="Choose a Current/Upcoming Event:") Choose a Current/Upcoming Event:
                                    option(value="Current/Upcoming Event") Current/Upcoming Event
                                    option(value="Current/Upcoming Event") Current/Upcoming Event
                                    option(value="Current/Upcoming Event") Current/Upcoming Event
                                    option(value="Current/Upcoming Event") Current/Upcoming Event
                                    option(value="Current/Upcoming Event") Current/Upcoming Event
                                .arrow-down
                                    <i class="fa fa-sort-desc fa-lg"></i>
                            .event-edit-btn
                                button(type="submit", class="btn-edit") EDIT  EVENT
                                button(type="submit", class="btn-edit") COPY  EVENT
                        .seperate
                            span(class="or") or
                            span(class="line")
                        .evt-blk
                            .event-icon
                                img(src="../images/ico-copy-event.png")
                            .event-list
                                select.event
                                    option(value="Past Events:") Past Events:
                                    option(value="Past Events") Past Events
                                    option(value="Past Events") Past Events
                                    option(value="Past Events") Past Events
                                    option(value="Past Events") Past Events
                                    option(value="Past Events") Past Events
                                .arrow-down
                                    <i class="fa fa-sort-desc fa-lg"></i>

                            .event-btn.copy
                                button(type="submit", class="btn-submit") COPY EVENT




