/*For all education page*/
.educator-landing-page,
.program-landing-page,
.single-program,
.single-educator,
.blog-landing-page,
.page-template-educator-landing-template,
.tax-educator-type,
.tax-program-type,
.tax-artistic-discipline{
  .main-menu {
    background: #f16923;

    .mn-menu .nav > li {
      border-right: 1px solid #f16923;

      > a {
        border-top: 3px solid #f16923;
        &:hover {
          border-top: 3px solid #333;
        }
      }
    }

    .mn-menu .nav > li.cur > a{
      background-color: #f58e59;
    }
  }

  .apl-place-global-search-below-nav {

    .main-menu .inner .form-search {
      .btn {
        background-color: #f16923;
        &:hover {
          background-color: #f58e59 !important;
        }
      }

      .fa {
        color: #403e3e;
        font-size: 22px;

      }
    }

    .top-head .mobile-menu {
      .nav-global-search, .form-search .btn {
        background-color: #f16923;
      }
    }

    .main-menu .inner .form-search.open {
      border-left: 2px solid #f16923;
      border-bottom: 2px solid #f16923;
    }

  }

  .show-tip {
    border-color: #f16923;
    &:before{
      border-top: 8px solid #f16923;
    }
  }
}

@media (max-width: 768px) {
  .educator-landing-page,
  .program-landing-page,
  .single-educator,
  .single-program,
  .blog-landing-page,
  .page-template-educator-landing-template,
  .tax-educator-type,
  .tax-program-type,
  .tax-artistic-discipline
  {
    .mobile-menu a.mb-menu.active {
      background: #f16923;
      border-color: #f16923;
    }

    .main-menu.tablet-show.show {
      background: #f16923;
    }
  }
}

.educator-landing-page,
.program-landing-page,
.single-educator,
.single-program,
.page-template-educator-landing-template:not(.page-id-71305),
.blog-landing-page:not(.category):not(.author):not(.blog){
  .top-head .logo{
    display: none
  }
  .top-head .art-education-header  {
    display: flex;
    align-items: center;

    > div {
      left: 0;
      position: relative;
      top: 0;

      img{
        max-width: 290px;
        margin-left: 10px;
        width: auto;
      }
    }
  }
}



@media (max-width: 767px) {
  .educator-landing-page,
  .program-landing-page,
  .single-educator,
  .single-program,
  .page-template-educator-landing-template:not(.page-id-71305),
  .blog-landing-page:not(.category):not(.author):not(.blog){
    .top-head .art-education-header  > div img {
      max-width: 210px;
    }
  }
}

@media (max-width: 600px) {
  .educator-landing-page,
  .program-landing-page,
  .single-educator,
  .single-program,
  .page-template-educator-landing-template:not(.page-id-71305),
  .blog-landing-page:not(.category):not(.author):not(.blog){
    .top-head .art-education-header  > div img {
      max-width: 140px;
    }
  }
}

@media (max-width: 480px) {
  .educator-landing-page,
  .program-landing-page,
  .single-educator,
  .single-program,
  .page-template-educator-landing-template:not(.page-id-71305),
  .blog-landing-page:not(.category):not(.author):not(.blog){
    .top-head .art-education-header  {
      -webkit-justify-content: center;
      justify-content: center;

      > div img{
        max-width: 170px;
      }

      > a img{
        max-width: 100px;
      }
    }
  }
}

.page.page-id-71198 section.fullw.clients {
  display: none;
}

.page.page-id-71198 section.fullw.clients.education-partners {
  display: block;
}

.page.page-id-71198 section.fullw.clients.education-partners h2 {
  margin-bottom: 40px
}

.art-education-header {
  display: none;
}