/*
Theme Name:     Sonoma Theme
Description:    Responsive theme
Version:        1.0.0
Author:         Elinext
Author URI:     http://www.elinext.com/
Template:       apollo
*/

html{
    margin : 0 !important;
}
.block .search-tt,
.block > .search-bkl,
.row.two-col >.breadcrumbs,
.block .breadcrumbs {
    position: relative;
    max-width: 1000px;
    margin: 15px auto;
}
.row.two-col >.breadcrumbs ul::-webkit-scrollbar,
.block .breadcrumbs ul::-webkit-scrollbar {
    display: none;
}

.row.two-col >.breadcrumbs ul,
.block .breadcrumbs ul {
    white-space: nowrap;
    overflow-x: hidden;
}

.block .breadcrumbs + * {
    margin-top: 76px;
}

.block.block-events--venue .breadcrumbs + * {
    margin-top: 124px;
}
.row.two-col >.breadcrumbs ul li:before,
.block .breadcrumbs ul li:before {
    content: "//";
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 10px;
}

.block .blk-paging .paging .page-numbers li > * {
    display: inline-block;
    padding: 10px 15px;
    color: #888888;
}

.block .blk-paging {
    display: inline-block !important;
}

.block .blk-paging.end-pager {
    text-align: center;
    display: block;
}
.block .blk-paging .paging .page-numbers li {
    display: inline-block;
}
.block .view-mode .type,
.block .view-mode .pg {
    display: inline-block;
}
.block .view-mode .pg li > *{
    padding: 10px 15px;
    color: #888888;
}
.block .view-mode .type ul li {
    display: inline-block;
}
.block .view-mode .type ul li a:hover,
.block .view-mode .type ul li.current a {
    color: #fcb234;
}
.block .view-mode .type ul li:hover,
.block .view-mode .type ul li.current {
    background: none;
}
.block .view-mode .type ul li a{
    display: inline-block;
    padding: 5px 5px 0 5px;
    top: 7px;
    position: relative;
    color: #de9f33;
    font-size: 2.5rem;
}

.block .view-mode .pg li {
    display: inline-block;
}

.block .view-mode {
    float: right;
    height: 40px;
}

.block .blk-paging .paging{
    display: inline-block;
    margin-left: 15px;
}
.row.two-col >.breadcrumbs ul li,
.block .breadcrumbs ul li {
    display: inline-block;
    padding-left: 15px;
}

.row.two-col >.breadcrumbs ul li:first-child:before,
.block .breadcrumbs ul li:first-child:before {
    content: "\f015";
}

.row.two-col >.breadcrumbs ul li:first-child,
.block .breadcrumbs ul li:first-child {
    padding-left: 0;
}

.block .social-share {
    position: absolute;
    top: -10px;
    right: 0;
}
.block .social-share a:hover {
    color: #de9f33;
}

.block .social-share a {
    display: inline-block;
    padding: 10px;
    font-size: 1.7rem;
    color: #fcb234;
}

.block-events--org {
    padding-top: 10px;
}

.block-events--org {
    color: #888888;
}

.block-events--org .article-circle .article-item .content-teaser small{
    max-height: 2.4em;
    overflow: hidden;
    line-height: 1.2em;
}
.block-events--org .article-circle .article-item:hover.article-item .content-teaser {
    z-index: 1;
}

.block-events--org .article-circle .article-item .content-teaser span {
    line-height: 1.2em;
}
.block-events--org .article-circle .article-item .content-teaser a {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 1.2em;
    color: #ffffff;
}
.block-events--org .search-artist-list,
.block-events--org .search-artist-thumb {
    margin-top: 50px;
}
.block-events--org .search-artist-list {
    margin: 50px auto 100px auto;
    max-width: 1000px;
}

.block-events--org .search-artist-list .article-item {
    padding-bottom: 35px;
    margin-top: 35px;
    border-bottom: 1px solid #d6d2d2;
}

.block-events--org .search-artist-list .article-item:last-child {
    border-bottom: none;
}

.block-events--org .search-artist-list .article-item img.wp-post-image {
    width: 100%;
    height: auto;
}

.search-artist-list .article-item .content-title a {
    display: block;
    height: 140px;
    overflow: hidden;
    background: #f7f7f7;
}

.block-events--org .search-artist-list .article-item:hover .content-teaser {
    background-color: #2d2d2d;
}
.block-events--org .search-artist-list .article-item:hover .content-teaser a >.ev-tt,
.block-events--org .search-artist-list .article-item:hover .content-teaser a{
    color: #fcb234;
}

.block-events--org .search-artist-list .article-item .content-teaser {
    padding-top: 10px;
    transition: background 0.3s;
}
.block-events--org .search-artist-list .article-item .content-teaser a >.ev-tt {
    color: #8c8c8c;
    font-size: 18px;
    font-weight: bold;
}

.block-events--org .search-artist-list .article-item .category-link a {
    color: #8c8c8c;
}

.block-events--org .search-artist-list .article-item .description {
    color: #a7a7a7;
}

.block-detail--venue .breadcrumbs + *{
    margin-top: 110px;
}

.block-events--public-art .breadcrumbs + *{
    margin-top: 180px;
}
.block-events--art .breadcrumbs + *{
    margin-top: 180px;
}
.top-search.venue-s-t-m .custom-el-blk .character-board a.active,
.top-search.artist-s-t-m .custom-el-blk .character-board a.active,
.top-search.venue-s-t-m .custom-el-blk .character-board a:hover,
.top-search.artist-s-t-m .custom-el-blk .character-board a:hover {
    border-color: #fcb234;
    background: #fcb234;
    color: #fff;
}

.top-search.venue-s-t-m .custom-el-blk .character-board a,
.top-search.artist-s-t-m .custom-el-blk .character-board a{
    display: inline-block;
    padding: 4px 0;
    text-align: center;
    border: 1px solid lightgrey;
    margin: 2px;
    color: #444;
    width: 30px;
    height: 30px;

}
.top-search.venue-s-t-m .custom-el-blk,
.top-search.artist-s-t-m .custom-el-blk{
    display: block;
    margin: 0;
    left: 0;
    margin-top: 10px;
    width: 100%;
}
 
.top-search {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, 0);
    top: 158px;
    width: 1000px;
}
.top-search .sub-blk {
    width: auto;
    display: inline-block;
    margin-left: 10px;
}

.top-search.accessibilyty-search {
    width: 300px;
}

.top-search .el-blk.accessibilyty-search {
    width: 35%;
}

.top-search .el-blk {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    margin-bottom: 10px;
    width: calc(20% - 20px);
    vertical-align: top;
}

.top-search.organization-s-t-m .el-blk {
    width: auto;
}
.top-search.organization-s-t-m .el-blk.search-input-wrapper {
    width: 25% !important;
}

.top-search select,
.top-search .select2-container {
    width: 100% !important;
    min-width: 160px;
} 

.top-search .search-row >*:last-child {
    margin-right: 0;
}
.top-search .search-row >*:first-child {
    margin-left: 0;
}
.top-search .event-search {
    padding: 7px;
    padding-right: 30px;
    border: none;
    height: 29px;
    width: 100%;
    display: inline-block;
    position: static;
    top: 0;
    left: 0;
    border: 1px solid lightgray;
}

.top-search .el-blk {
    position: relative;
}
.top-search #search-organization-m-t {
    /*height: 29px;*/
}
.top-search .el-blk select {
    padding: 0 7px;
    height: 30px;
    background: white;
    /*border: none;*/
    border: 1px solid lightgray;
}

.top-search .el-blk .arrow-down {
    position: absolute;
    right: 1px;
    top: 0;
    background: white;
    display: none;
}

.top-search .top-search-row .btn.btn-l.s {
    position: absolute;
    right: 0;
    top: 0;
    height: 29px;
    z-index: 1;
    width: 38px;
}

/**
* Detail CSS
*/
.block-details-content a,
.block-details-content a span {
    color: #fcb234;
}
.block-details-content {
    padding-top: 15px;
}

.block-details-content .detail-conten-body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.block-details--map.block-details---art-map .breadcrumbs + * {
    margin-top: 40px;
}
.block-details--map .breadcrumbs + * {
    margin-top: 180px;
}

.block-details-artist .breadcrumbs + * {
    margin-top: 180px;
}

.im_map_control {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.block-details-content .blog-bkl {
    margin-bottom: 50px;
}

.block-details-content .detail-conten-body > .nav-link {
    height: 25px;
}

.block-details-content .detail-conten-body > .nav-link i {
    color: #fcb234;
}

.block-details-content .detail-conten-body > .nav-link li.next {
    float: right;
}

.block-details-content .detail-conten-body > .nav-link li.pre {
    float: left;
}

.block-details-content .detail-conten-body .blog-bkl.organization > .el-blk {
    clear: both;
    margin-bottom: 20px;
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-social,
.block-details-content .detail-conten-body .blog-bkl.organization .art-pic{
    float: left;
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-social .slash {
    display: none;
}
.blog-bkl.organization .p-ttl {
    font-size: 3rem;
}
.blog-bkl.organization .art-social {
    -webkit-column-count: 0; /* Chrome, Safari, Opera */
    -moz-column-count: 0; /* Firefox */
    column-count: 0;
}
.blog-bkl.organization .art-social .art-social-item {
    margin-bottom: 10px;
}

.blog-bkl.organization .art-social .art-social-item a {
    color: #444;
}
.blog-bkl.organization .art-social .art-social-item >i {
    width: 30px;
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-social{
    margin-left: 30px;
    width: 50%;
    padding-left: 30px;
    border-left: 1px solid #fff7e9;
}

.block-details-content .btn.btn-b *,
.block-details-content .btn.btn-b {
    text-align: center;
    transition: all 0.3s;
    background: #fcb234;
    color: white;
}
.block-details-content .btn.btn-b:hover,
.block-details-content .btn.btn-b:hover *{
    color: #fff;
    background: #ffaa19 !important;
}

.block-details-content .load-more.b-btn {
    text-align: center;
    clear: both;
}

.block-details-content .load-more.b-btn a:hover {
    background: none !important;
    color: inherit !important;
}
.block-details-content .load-more.b-btn a {
    padding: 5px;
    display: inline-block;
    border: none;
}
.block-details-content .load-more.b-btn a:hover {
    color: #fff;
}

/* Author : Xuan Anh - listing circle images increases the clicking area. */
.block-events--org .article-circle .article-item:hover .event-org-lk {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 50%;
}
.snm-list-default ul {
    line-height: 1.7em;
    list-style-type: disc;
    margin-left: 30px;
}
.snm-list-default ul li {
    list-style-type: disc;
}

@media (min-width: 1025px) {
    header .navi .menu .menu-item.has-child > .submenu .menu {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    header .navi .menu .menu-item.has-child > .submenu .menu .menu-item a {
        padding: 5px;
    }
}

/* Author : Xuan Anh - END listing circle images increases the clicking area. */

/* Author : Thinhnd - Derail Page. */
.block-details-content .blog-bkl .a-block {
    /*border-bottom: 1px solid #fcb234;*/
    /*margin-bottom: 20px;*/
}
.cm-comment {
    display: inline-block;
}
.cm-comment a:hover {
    color: #000;
}
.rating-art .like a:hover:before {
    color: #000;
}
.rating-art .like a:hover span {
    color: #000;
}
.cm-comment a:before{
    content: "\f0e5";
    font-family: 'FontAwesome';
    font-size: 14px;
    margin-right: 5px;
}
.like > a:before {
    content: "\f087";
    font-family: 'FontAwesome';
    font-size: 14px;
    margin-right: 5px;
}
.comments-area .comments-title {
    font-size: 16px;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0px;
}
.comments-area .comments-title > a {
    position: absolute;
    top: 3px;
    right: 0;
    font-size: 14px;
    color: #666;
    font-weight: 400;
}
.comments-area .commentlist {
    list-style: none;
}
.commentlist {
    margin: 0 0 20px 0;
    position: relative;
    padding-left: 0px; 
}
.commentlist:before {
    content: '';
    display: block;
    width: 3px;
    background-color: #ddd;
    height: 100%;
    position: absolute;
    top: 0;
    left: 31px;
    z-index: 0;
}
.commentlist > li {
    position: relative;
    z-index: 2;
}
.commentlist > li article {
    margin: 0 0 10px 0;
}
.comments-area .comment-avatar {
    width: 60px;
    height: 60px;
    float: left;
    overflow: hidden;
}
.comments-area .comment-avatar img {
    height: 54px;
    border: 3px solid #fff;
}
.commentlist > li article .comment-ct {
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #ddd;
}
.comment-ct {
    margin: 0 0 0 75px;
}
.comment-ct .author-n {
    font-weight: bold;
    margin: 0 20px 0 0;
}
.comment-ct a.comment-meta-time {
    color: #999;
    font-size: 11px;
}
.comment-ct p.t-l {
    margin: 15px 0 0 15px;
    display: inline-block;
}
.comment-ct p.t-l a {
    color: #666;
    border: 1px solid #fcb234;
    padding: 4px 10px;
    font-size: 11px;
    display: inline-block;
}
.block-details-content .blog-bkl .a-block h4 {
    padding: 5px 00px;
    text-transform: uppercase;
    font-size: 2rem;
    background: transparent;
    color: #fcb234;
    letter-spacing: 4px;
    margin: 0;
    border-bottom: 2px solid #fcb234;
    /*display: inline-block;*/
    margin-bottom: 20px;
}
#apollo-view-more-classified-container .more-frm-itm:first-child {
    margin-left: 0;
}

#apollo-view-more-classified-container .more-frm-itm{
    display: block;
    float: left;
    width: 20%;
    margin: 0 10px;
    border: 1px solid #ffe9c4;
    background: rgba(255, 255, 255, 0.5);
}
#apollo-view-more-classified-container .more-frm-itm .b-btn.custom a *,
#apollo-view-more-classified-container .more-frm-itm .b-btn.custom a {
    width: 100%;
    border: none;
    background: transparent;
    color: black;
}
#apollo-view-more-classified-container .more-frm-itm .b-btn.custom a:hover * {
    background: none !important;
    color: white;
}

#apollo-view-more-classified-container .more-frm-itm .more-pic img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
#apollo-view-more-classified-container .more-frm-itm .more-ct.custom {
    padding: 3px 10px;
    height: 122px;
}
#apollo-view-more-classified-container .more-frm-itm .more-ct.custom h3{
    margin-bottom: 0;
    line-height: 1.5em;
    max-height: calc(1.5em * 2);
    overflow: hidden;
}

#apollo-view-more-classified-container .more-frm-itm .more-ct.custom .org-type {
    line-height: 1.5em;
    max-height: calc(1.5em * 2);
    overflow: hidden;
}

#apollo-view-more-classified-container .more-frm-itm .more-ct.custom .p-date {
    margin-top: 0;
    font-size: 0.9em;
    color: #828282;
}

.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border-color: lightgray !important;

}
.cm-frm .comment-form > div .inp-half {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.cm-frm .comment-form > div .inp-half:last-child {
    margin-right: 0
}

.cm-frm .comment-form > div label {
    display: block;
    font-weight: 700;
    font-size: 13px;
}
.cm-frm .comment-form .inp {
    width: 98%;
    padding: 10px 1%;
}
form .inp.inp-txt {
    background: #f9f9f9;
}
form .inp.inp-txt {
    border: 1px solid #ccc;
    padding: 4px 5px;
}
.cm-frm .comment-form .inp.textarea {
    background: #f9f9f9;
    border: 1px solid #ccc;
    width: 99%;
}
.cm-frm .comment-form .inp {
    width: 98%;
    padding: 10px 1%;
}

.cm-frm .comment-form .pre-code {
    font-size: 12px;
}
.cm-frm .comment-form .b-btn {
    text-align: left;
}
.cm-frm .comment-form .b-btn .btn {
    cursor: pointer;
}
.error {
    color: #fa2805;
    padding: 10px 0;
    display: block;
}
._comment_err_container .error {
    color: #fa2805;
    padding: 0 0 0 20px;
    font-size: 12px;
    display: block;
    margin: 5px 0;
}
#comments {
    max-width: 1000px;
    overflow: hidden;
}

#comments :not(pre) > code {
    white-space: normal;
}
.hidden {
    display: none;
}

body.admin-bar header {
    top: 32px;
}
body.admin-bar main .content-wrapper {
    margin-top: 121px;
}

body.admin-bar .top-search {
    top: 190px;
}

.alert.alert-warning {
    text-align: center;
    font-size: 3rem;
}
/* Author : Thinhnd - END Derail Page. */

.block-details-content .detail-conten-body .blog-bkl {
    margin-bottom: 30px;
}
.block-details-content .detail-conten-body .blog-bkl.organization .p-ttl {
    margin-bottom: 20px;
}
.block-details-content h1.p-ttl {
    padding-left: 0;
    padding-right: 0;
}
.block-details-content .detail-conten-body .blog-bkl.organization .rating-art {
    margin-bottom: 20px;
}
.rating-art .like, .cm {
    display: inline-block;
    margin-right: 20px;
}
.rating-art .like, .cm a {
    color: #444;
}
.rating-art .like, .cm a span {
    color: #444;    
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-pic {
    max-height: 300px;
    overflow: hidden;
}
.art-pic img {
    height: auto;
    width: 100%;
    max-width: 300px;
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-social {
    border-left: none;
}
/*.block-details-content .detail-conten-body .blog-bkl.organization .art-social {
    -webkit-column-count: 0 !important;
    -moz-column-count: 0 !important;
    column-count: 0 !important;
}*/
.block-details-content .detail-conten-body .blog-bkl.organization .art-social .art-social-item {
    display: inline-block;
    margin-right: 10px;
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-social .art-social-item a:hover {
    color: #fcb234;
}
.block-details-content .detail-conten-body .blog-bkl.organization .art-social .slash {
    display: inline-block;
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
    vertical-align: -5px;
}
.art-social .b-btn .btn-b {
    background-color: transparent;
    position: relative;
    font-weight: 600;
}
.art-social .b-btn .btn-b span {
    background-color: transparent;
    color: #444;
}
.art-social .b-btn .btn-b:hover span {
    background-color: transparent !important;
}
.art-social .b-btn .btn-b:hover .show-tip{
    background-color: #fff !important;
    display: block;
}
.art-social .b-btn .btn-b .show-tip {
    display: none;
    position: absolute;
    top: -65px;
    width: 200px;
    padding: 7px 15px;
    color: #666;
    border: 1px solid #fcb234;
    z-index: 1;
    left: -15px;
}
.art-social .b-btn .btn-b .show-tip:before {
    content: '';
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid #fcb234;
    left: 50%;
    margin-left: -60px;
}
.block-details-content .blog-bkl .a-block h4 {
    padding: 5px 0px 5px 10px;
    border-bottom: none;
    color: #fff;
    background-color: #fcb234;
    position: relative;
}
.block-details-content .blog-bkl .a-block h4 span {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    top: 6px;
    line-height: 20px;
}
.block-details-content .blog-bkl .a-block h4 span > i {
    font-size: 20px;
}

/** CSS video frame **/
.a-block-ct-video {
    width: 100%;
    display: block;
    position: relative;
    margin-bottom: -16px;
}
.lazyYT-container {
    position: relative;
    display: block;
    height: 0;
    padding: 0 0 56.25% 0;
    overflow: hidden;
    background-color: #000000;
}
.a-block-ct-video .lazyYT-container {
    margin-bottom: 10px;
}
.ytp-thumbnail {
    padding-bottom: inherit;
    cursor: pointer;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.ytp-large-play-button {
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    width: 86px !important;
    height: 60px !important;
    padding: 0 !important;
    margin: -29px 0 0 -42px !important;
    font-size: normal !important;
    font-weight: normal !important;
    line-height: 1 !important;
    opacity: .9;
}
.lazyYT-container .html5-info-bar {
    position: absolute;
    top: 0;
    z-index: 935;
    width: 100%;
    height: 30px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    -moz-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    display: none;
}
.lazyYT-container .html5-title {
    padding-right: 6px;
    padding-left: 12px;
}
.lazyYT-container .html5-title-text-wrapper {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
}
.lazyYT-container .html5-title-text {
    width: 100%;
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}
.video-description {
    padding: 0 10px 10px 10px;
    text-align: center;
}
.video-description li p {
    margin-bottom: 0px;
}
.pbx-wrapper {
    position: relative;
    margin: 0 auto 10px;
    padding: 0;
}
.pbx-wrapper, .bx-wrapper .bx-viewport {
    background: #eee;
    max-height: 392px;
    height: auto;
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
    margin-bottom: 30px;
}
.pbx-wrapper .bx-viewport {
    max-height:60px !important;
    height:60px !important;
}
#video-pager {
    position: relative;
    margin: 0 auto 20px;
    padding: 0;
}
#video-pager a {
    width: 60px;
    min-height: 60px;
    display: inline-block;
    float: left;
    position: relative;
    overflow: hidden;
}
.pbx-wrapper img {
    width: 100%;
    display: block;
}
#video-pager img {
    width: 100%;
    height: auto;
}
.bx-default-pager {
    display: none;
}
.lazyYT-container iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.a-block-ct-video .video-wrapper iframe {
    width: 100%;
}

/*CSS Revise the styles for Grid Circle Images */
.block-events .article-circle .article-item .content-teaser span {
    line-height: 1.2em;
}
.block-events .article-circle .article-item .content-teaser small {
    line-height: 1.5em;
    max-height: 3.0em;
}
.block .blk-paging.end-pager {
    display: block !important;
}
.block-events--org .article-circle .article-item .content-teaser a {
    max-height: 3.6em;
    font-size: 2rem;
}
.block-events .article-circle .article-item .content-teaser span {
    max-height: 3.6em;
}

.icons-list {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}
.icons-list span {
    float: left;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin-bottom: 5px;
}
.icons-list span img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.icons-list span .ttip {
    color: #fcb234;
    position: absolute;
    left: 15px;
    top: 34px;
    display: none;
    font-size: 18px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    vertical-align: 0;
}
.icons-list span .show-tip {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 30px;
    display: none;
    min-width: 90%;
}
.icons-list span .show-tip {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 30px;
    display: none;
    min-width: 50%;
}
.show-tip {
    display: none;
    position: absolute;
    padding: 7px 15px;
    border: 1px solid #fcb234;
    background-color: #fff;
    z-index: 1000;
    height: auto;
    line-height: 18px;
    top: -15px;
}
.icons-list span:hover > .ttip {
    display: block;
}
.fa-caret-down:before {
    content: "\f0d7";
}
.icons-list span:hover > .show-tip {
    display: block;
}
.show-tip:before {
    content: '';
    position: absolute;
    bottom: 0px;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: 8px solid #fcb234;
    left: 50%;
    margin-left: -8px;
}
.icons-list span .show-tip:before, .icons-list span .show-tip:after {
    content: '';
    border: none;
}

.block-default-tmp .default-content p {
    margin-bottom: 7px;
}

.block-details--public-art .breadcrumbs + * {
    margin-top: 180px;
}

.accessibilyty-icons-search {
    float: left;
    width: 100%;
    position: relative;
}

.accessibilyty-dropdown {
    width: 100%;
    position: relative;
    margin: 0;
}

.accessibilyty-dropdown dt {
    display: block;
    height: 30px;
    width: 100%;
    border: 1px solid lightgray;
    background-color: #fff;
    box-sizing: border-box;
    position: 100%;
}

.accessibilyty-dropdown dt a {
    color: #666666;
    line-height: 28px;
    padding-left: 10px;
    width: 100%;
    display: block;
}

.accessibilyty-icons-search span {
    float: left;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 30px;
    color: #444;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
}

.multiSel {
    width: 100%;
}

.accessibilyty-dropdown dt:after {
    content: "\f0d7";
    position: absolute;
    right: 10px;
    top: 8px;
    font-family: "FontAwesome";
    font-size: 13px;
    color: #888;
    cursor: pointer;
    pointer-events: none;
}

.accessibilyty-dropdown dd {
    width: 100%;
    position: relative;
}

.accessibilyty-dropdown dd ul {
    background-color: #f9f9f9;
    border: 0;
    color: #fff;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px;
    position: absolute;
    top: 2px;
    width: 100%;
    list-style: none;
    overflow: auto;
    height: 200px;
    box-sizing: border-box;
    z-index: 50;
}

.accessibilyty-dropdown dd ul li {
    margin: 5px;
    min-height: 32px;
    position: relative;
    float: left;
    width: 100%;
}

.accessibilyty-dropdown dd ul li input {
    display: inline-block;
    top: 10px;
    position: relative;
    float: left;
}

.accessibilyty-dropdown dd ul li img {
    margin: 0 10px;
    display: inline-block;
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    float: left;
}

.accessibilyty-dropdown dd ul li label {
    color: #666;
    display: inline-block;
    top: 10px;
    position: relative;
    float: left;
}

.blk-list-table .table-info .table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.blk-list-table .table-info .table thead > tr.bg-gray, .blk-list-table .table-info .table tbody > tr.bg-gray {
    background-color: #efefef;
}
.bg-gray {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    background: #f9f9f9;
}

.blk-list-table .table-info .table thead > tr > th {
    position: relative;
    min-width: 80px;
}

.blk-list-table .table-info .table thead > tr > th, .blk-list-table .table-info .table tbody > tr > th, .blk-list-table .table-info .table thead > tr > td, .blk-list-table .table-info .table tbody > tr > td {
    text-align: left;
    padding: 8px;
}

.blk-list-table .table-info .table thead > tr > th a, .blk-list-table .table-info .table tbody > tr > th a, .blk-list-table .table-info .table thead > tr > td a, .blk-list-table .table-info .table tbody > tr > td a {
    text-transform: capitalize;
    color: #444;
}

.blk-list-table .table-info .table thead > tr > th a.icon-sort.ic-sort-up {
    top: 4px;
}
.blk-list-table .table-info .table thead > tr > th a.icon-sort.ic-sort-down {
    bottom: 4px;
}
.blk-list-table .table-info .table thead > tr > th a.icon-sort {
    margin-left: 5px;
    color: #666;
    display: inline-block;
    position: absolute;
}

.blk-list-table.classified-column #column-title, .blk-list-table.classified-column #td-title {
    padding-right: 15px;
}

.blk-list-table .table-info .table tbody > tr {
    border-bottom: 1px solid #d7d7d7;
}

.blk-list-table .table-info .table tbody > tr > td {
    padding: 10px 8px 10px 8px !important;
}
.blk-list-table .table-info .table tbody > tr > td {
    display: table-cell;
    vertical-align: middle;
}

.blk-list-table.classified-column #column-title, .blk-list-table.classified-column #td-title {
    padding-right: 15px;
}
.blk-list-table .table-info .table tbody > tr > td {
    padding: 10px 8px 10px 8px !important;
}
.blk-list-table .table-info .table tbody > tr > td {
    display: table-cell;
    /* vertical-align: middle; */
}

.blk-list-table .table-info .table tbody > tr:nth-child(even) {
    background-color: #f5f5f5;
}
#art_map_slider {
    display: -webkit-inline-box;
    width: 100%;
}
.art_map_slider_content {
    white-space: nowrap;
}
.art_map_slider_content {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-x: auto;
    height: auto;
    overflow-y: hidden;
}
.art_map_slider_content {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.art_map_slider_content .map_slider_item.active {
    opacity: 1;
}
.art_map_slider_content .map_slider_item {
    opacity: 0.8;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.art_map_slider_content .map_slider_item {
    width: 150px;
    height: 188px;
    margin-left: 5px;
    margin-right: 5px;
}

.art_map_slider_content .map_slider_item {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 8%;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.art_map_slider_content .map_slider_item {
    margin-top: 10px;
    margin-bottom: 10px;
    /*width: 15%;*/
    text-align: center;
    display: inline-block;
    cursor: pointer;
    height: auto;;
    overflow: hidden;
    width: 150px;;
}

#art_map_canvas {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.art_map_slider_content .map_slider_item .title, .art_map_slider_content .map_slider_item .title_trim {
    font-size: 12px;
}
.map_slider_item.active .title_trim {
    font-weight: bold;
}
.art_map_slider_content .map_slider_item .title, .art_map_slider_content .map_slider_item .thumbnail, .art_map_slider_content .map_slider_item .address, .art_map_slider_content .map_slider_item .thumbnail img, .art_map_slider_content .map_slider_item .title_trim {
    float: left;
    width: 100%!important;
    margin-bottom: 10px;
    height: auto!important;
    position: relative!important;
}

.art_map_slider_content .map_slider_item .title {
    display: none;
}

.map_slider_item .description, .map_slider_item .address, .map_slider_item .sitelink {
    display: none;
}
.r-search.map-filter i.fa {
    background: none;
    line-height: 0;
}
.artist-search {margin-bottom: 20px;}
.artist-search .el-blk {
    display: inline-block; margin-right: 10px; margin-bottom: 10px;
}

.r-search.map-filter .select2-container {
    min-width: 135px;
}

/**
* Xuan anh:  CSS page venue
*/
.lo-left.venue h4 {
    font-weight: 600;
    line-height: 24px;
}
.search-map-frm {
    height: 45px;
}
.search-map-frm i {
    font-size: 30px;
    color: #bbb;
    vertical-align: -7px;
    margin: 0px 10px 0px 0px;
}
.search-map-frm input[type="text"] {
    height: 34px;
    width: 90%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}
.search-map-frm input[type="text"]:focus {
    outline: none;
}
.locatn .lo-left .lo-map {
    height: 300px;
}
.locatn .lo-left .t-r {
    margin: 0px;
    text-align: right;
    line-height: 22px;
}
.locatn .lo-left .t-r a {
    color: #000;
    text-decoration: underline;
}
.locatn .lo-left .t-r a:hover {
    text-decoration: none;
}
.nofi-map {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: none !important;
    padding-top: 15px;
    position:relative;
}
.nofi-map > p {
    margin-bottom: 0;
}
.nofi-map a.nofi-exp {
    position: absolute;
    top: 13px;
    right: 15px;
    font-weight: 700;
}
.nofi-more {
    padding: 15px 5px 15px 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.nofi-more .n-star {
    text-align: center;
}
.nofi-more .n-star > span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: #e22a49;
    font-size: 28px;
    color: #fff;
    margin: 0 0 5px 0;
}
.nofi-more .n-star > p {
    margin-top: 0px;
    font-weight: 700;
}
.nofi-more .n-blk {
    margin-bottom: 15px;
}
.nofi-more .n-blk > label {
    display: block;
    position: relative;
    text-transform: uppercase;
}
.nofi-more .n-blk > label:before {
    display: block;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #ddd;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 1;
}
.nofi-more .n-blk > label span {
    padding: 0 5px 0 0;
    background-color: #fff;
    position: relative;
    z-index: 2;
}
.nofi-more .n-blk .n-blk-ct > ul {
    display: table;
    width: 100%;
}
.nofi-more .n-blk .n-blk-ct > ul li {
    float: left;
    width: 50%;
}
.nofi-more .n-blk .n-blk-ct > ul li img {
    padding-right: 5px;
}
.access-listing {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}
.access-listing > li {
    display: inline-block;
    float: left;
    width: 50%;
    text-align: left;
}
.ACLlist li, .ACRlist li {
    padding: 5px 0;
    width: 100%;
    float: left;
    display: table;
    height: 40px;
}
.ACLlist li img, .ACRlist li img {
    position: relative;
    margin-right: 10px;
    float: left;
    cursor: default;
}
.ACLlist li label, .ACRlist li label {
    margin-top: 2px;
    position: relative;
    float: left;
    cursor: default;
}
.a-block-ct-photo {
    margin-bottom: 25px;
    position: relative;
}
.a-block-ct-photo a.fullscreen i {
    font-size: 22px;
}
.a-block-ct-photo a.fullscreen {
    display: block;
    right: 10px;
    top: 5px;
    color: #999;
    z-index: 2;
    position: absolute;
}
.a-block-ct-photo a.fullscreen:hover {
    color: #fcb234;
}
.a-block-ct-photo .photo-inner .bx-wrapper {
    margin: 0px auto 10px;
}
.photo-inner .bx-wrapper .bx-viewport {
    background-color: #cfd5e4;
}

.pbx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 14px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}
.pbx-wrapper .bx-prev {
    left: 10px;
    background: url(assets/controls.png) no-repeat 0 -32px;
}
.pbx-wrapper .bx-next {
    right: 10px;
    background: url(assets/controls.png) no-repeat -43px -32px;
}
.bxslider li {
    line-height: 392px;
    height: 392px;
    text-align: center;
}
.bx-description {
    padding: 0px 10px 10px;
    text-align: center;
}
.bx-description li p {
    margin: 0px;
}
.bxslider li img {
    vertical-align: middle;
    display: inline-block !important;
    width: auto;
    margin: auto;
    top: auto !important;
    max-height: 100%;
    max-width: 100%;

}
.a-block-ct-photo {
    width: 100%;
    display: block;
    position: relative;
}
/** Css block Audio */
.a-block-ct .audio-list li {
    display: block;
    margin-bottom: 30px;
}
.a-block-ct .audio-list li iframe {
    height: 100%;
}
/** plugins bx slider */
/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
    /*fix other elements on the page moving (on Chrome)*/
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 10px;
    background: url(assets/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 10px;
    background: url(assets/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

 /** CSS photo light box**/
.photo-box {
    width: 100%;
    height: 100vh !important;
    position: fixed;
    top: 0px;
    left: 0;
    display: none;
    z-index: 1000001;
    background-color: rgba(0, 0, 0, 0.6);
}
.photo-box #slider1next a {
    background-image: url(../images/next-btn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 44px;
    position: absolute;
    right: 3%;
    bottom: 26px;
    font-size: 0;
}
.photo-box #slider1prev a {
    position: absolute;
    bottom: 26px;
    left: 3%;
    background-image: url(../images/prev-btn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 44px;
    font-size: 0;
}
.photo-box .photo {
    width: 100%;
    height: 400px;
    position: relative;
    margin-top: 0px;
    display: none;
    float: left;
    margin-bottom: 30px;
    overflow: hidden;
    top: auto !important;
    text-align: center;
}
.photo-box .photo img {
    width: auto;
    max-height: 100%;
    position: relative;
    overflow: hidden;
    top: 22px;
    width: auto !important;
    vertical-align: middle;
    max-width: 100%;
}
.photo-box .photo.selected {
    display: block;
}
.photo-box .photo .photo-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #000;
    text-align: left;
    padding: 5px 30px 5px 10px;
    overflow: hidden;
}
.photo-box .photo .photo-caption p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5em;
}
.photo-box .thumb-slider {
    position: absolute;
    display: block;
    float: left;
    width: 80%;
    height: 80px;
    overflow: hidden;
    left: 10%;
    bottom: 20px;
}
.photo-box .thumb-slider ul li {
    float: left;
    position: relative;
    display: inline-block;
    width: 80px;
    height: 60px;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.photo-box .thumb-slider ul li a {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}
.photo-box .thumb-slider ul li a.current {
    opacity: 0.7;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.photo-box .thumb-slider ul li a:hover {
    opacity: 0.7;
    border: 1px solid #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.photo-box .thumb-slider ul li a img {
    width: 100%;
    height: auto;
    position: relative;
}
.closevideo {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 10px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fcb234;
}
.closevideo .fa-times {
    top: 6px;
}
.close .fa-times, .closevideo .fa-times {
    top: 5px;
    left: 6px;
    position: absolute;
    color: #fff;
}
.photo-box #slider1prev a {
    position: absolute;
    bottom: 26px;
    left: 3%;
    background-image: url(assets/prev-btn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 44px;
    font-size: 0;
}
.photo-box #slider1next a {
    background-image: url(assets/next-btn.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 44px;
    position: absolute;
    right: 3%;
    bottom: 26px;
    font-size: 0;
}
.commentlist > li article .comment-ct *{
    word-wrap: break-word;
}

.list-show li {
    display: inline-block;
    padding-left: 5px;
}

.list-show li:before {
    content: '| ';
}

/*.list-show li:last-child:after {
    content: '';
}*/


/* CSS BLOG LISTING PAGE */
.block-events--post .blog-bkl {
    width: 1000px;
    margin: 0 auto;
}
.block-events--post .blog-list li {
    list-style-type: none;
}
nav.blog-list > li {
    display: block;
    width: 100%;
    padding: 0 0 15px 0;
    border-bottom: 1px #e1e1e1 solid;
    margin-bottom: 20px;
}
nav.blog-list > li .blog-content .blog-pic-detail {
    margin-bottom: 15px;
    z-index: 1;
    text-align: center;
}
nav.blog-list > li .blog-content .blog-pic-detail.allow-max-height {
    max-height: 100%;
}
.blog-category-list {
    text-align: center;
    margin-bottom: 5px;
}
.apl-blog-author, .apl-blog-cat {
    text-transform: uppercase;
}
nav.blog-list > li .blog-tt, nav.blog-list > li .blog-tt .blog-date.namedetail-txt {
    margin-bottom: 10px;
}
nav.blog-list > li .blog-tt .blog-name .namedetail-txt {
    font-weight: 700;
    font-size: 20px;
    color: #666;
}
nav.blog-list > li .blog-tt .blog-name a {
    font-size: 22px;
    color: #666;
    font-weight: normal;
    display: inline-block;
    line-height: 1.2;
}
nav.blog-list > li .blog-tt .blog-name a:hover {
    text-decoration: underline;
}
.listing-post-author {
    color: #c4c4c4;
}
.listing-post-author a {
    color: #666;
}
.blog-text.center {
    text-align: center;
}
.blog-text.center p {
    font-size: 16px;
}
.blog-text .vmore:hover {
    text-decoration: underline;    
}
.breadcrumbs .nav li a:hover {
    text-decoration: underline;
}
.author-info {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #ddd solid; 
}
.author-info .author-name {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}
.author-info #about .author-image {
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
}
.author-info #about .author-image img {
    max-width: 250px;
    height: auto;
}
.author-info #about .author-bio {
    padding: 0 10px;
    font-size: 14px;
}
/** Responsive css */
@media (min-width: 1600px) {
    .block-events--org .article-circle .article-item {
        margin: 15px 35px;
    }
}
@media (max-width: 1540px) {
    .block-events--org .article-circle .article-item {
        width: 260px;
        height: 260px;
    }
}

@media (max-width: 1460px) {
    .block-events--org .article-circle .article-item {
        width: 210px;
        height: 210px;
    }
}


@media (max-width: 1330px) {
    .block-events--org .article-circle .article-item {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .block-events--org .article-circle .article-item {
        margin: 10px 5px;
    }
    /*.top-search {
        width: 1200px;
    }*/

}

@media (max-width: 1200px) {
    .block-events .article-circle {
        padding-left: 15px;
        padding-right: 15px;
    }
    .block-events .article-circle .article-item {
        margin: 0px 15px;
    }
}

@media (min-width: 960px) {
    .block .breadcrumbs {
        padding-right: 240px; 
    }
}

@media (min-width: 961px) and (max-width: 1250px) {
    .top-search,
    .block > *:not(.detail-banner):not(.sm-main-slider):not(._js-btm-slider-wrap):not(.teaser-content):not(.detail-body):not(li) {
        width: 95vw;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .block .breadcrumbs {
        padding-right: 240px;
    }
}

@media (max-width: 992px) {
    .block-events .article-circle .article-item {
        margin: 0 5px;
    }
}

@media (max-width: 960px) {
    .top-search,
    .block > *:not(.detail-banner):not(.sm-main-slider):not(._js-btm-slider-wrap):not(.teaser-content):not(.detail-body) {
        width: 95vw;
        /*margin: 0 auto;*/
        margin-left: auto;
        margin-right: auto;
        /*overflow: hidden;*/
    }
    
    .block-events .article-circle {
        padding-left: 0;
        padding-right: 0;
    }
    .block .breadcrumbs {
        padding-right: 160px;
    }
}

@media (max-width: 768px) {
    .block .breadcrumbs + * {
        margin-top: 76px;
    }

    .search-artist-list .article-item .content-title a {
        display: inline;
    }

    .block.block-events--venue .breadcrumbs + * {
        margin-top: 76px;
    }

    #wpadminbar {
        position: fixed;
    }
    body.admin-bar .top-search {
        top: 190px;
    }
    .block-events h1, .block-events h2{
        padding-left: 0;
        padding-right: 0;
    }
    #apollo-view-more-classified-container .more-frm-itm {
        width: calc(100% / 3 - 10px) !important;
    }
    .audio-list iframe {
        width: 100%;
        min-height: 315px;
    }
    .top-search .el-blk,
    .top-search .sub-blk{
        display: none;
    }
    .top-search .search-input-wrapper {
        display: block;
        position: absolute;
        top: 0 !important;
        margin: 0 !important;
        padding: 0;
    }
    .top-search.organization-s-t-m .el-blk.search-input-wrapper {
        width: 100% !important;
    }
    .top-search.expand .el-blk,
    .top-search.expand .sub-blk{
        display: block;
    }
    .top-search.expand {
        height: auto;
        padding-bottom: 10px;
    }
    .top-search .event-search {
        width: 100%;
        border: 1px solid lightgray;
    }
    .top-search .top-search-row .btn.btn-l.s {
        right: 0;
        left: auto;
    }
    .top-search .el-blk, .top-search .sub-blk {
        width: 100%;
        left: 0;
        margin: 10px 0;
    }
    .top-search {
        top: 155px;
        background: white;
        padding: 0 10px;
        height: 29px;
        overflow: hidden;
        transition: height 0.3s;
        padding-top: 29px;
    }
    .top-search .el-blk select {
        padding: 0 7px;
        height: 30px;
        background: white;
        width: 100%;
        border: 1px solid lightgray;
    }
    .playing_absolute {
        width: 100%;
        height: 100%;
    }
    .block-events .article-circle .article-item {
        width: 200px;
        height: 200px;
    }
    .block-events .article-circle .article-item {
        margin: 0px 15px !important;
        margin-bottom: 15px !important;
    }

    .top-search .artist-s-t-m .custom-el-blk {
        height: 116px;
    }

    .block-events--org .search-artist-list .article-item .content-teaser {
        background: white;
    }
    .block-events--post .blk-paging {
        margin: 0 auto;
        display: block !important;
        text-align: center;
    }
    .author-info #about .author-bio {
        padding: 0px;
    }
}

@media (max-width: 735px) {
    .block-events .article-circle .article-item {
        margin: 0px 5px !important;
    }
}

@media (max-width: 480px) {
    .a-block-ct-video .ytp-thumbnail.lazyYT-image-loaded {
        width: 100%;
    }
    .artist-search .el-blk input[type="text"],
    .artist-search .el-blk .select2-container {
        width: 100% !important;
    }
    .block .breadcrumbs ul {
        white-space: nowrap;
        overflow-x: scroll;
    }
    .block.block-details--map .breadcrumbs + * {
        margin-top: 140px;
    }
    .block-details--map.block-details---art-map .breadcrumbs + * {
        margin-top: 40px;
    }
    .artist-search .el-blk {
        display: block;
        width: 100%;
    }
    .block .breadcrumbs {
        padding-right: 0;
    }
    .block .social-share {
        position: relative;
        text-align: right;
        top: 0;
    }
    .top-search {
        top: 190px !important;
    }

    .admin-bar .top-search { 
        top: 220px !important;
    }

    .block .blk-paging .view-mode .pg {
        display: none;
    }

    .block .blk-paging .view-mode .type ul li a {
        padding: 0px 5px 0 5px;
    }
    .block-events--org .search-artist-list .article-item .content-teaser >* {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.5em;
        max-height: calc(1.5em * 3);
        overflow: hidden;
        margin-bottom: 20px;
    }

    .block-events--org .search-artist-list .article-item:hover .content-teaser,
    .block-events--org .search-artist-list .article-item {
        border-bottom: none;
        margin-top: 0;
    }
    .block-details-content .detail-conten-body .blog-bkl.organization .art-social,
    .block-details-content .detail-conten-body .blog-bkl.organization .art-pic {
        width: 100% !important;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }
    .block-details-content .detail-conten-body .blog-bkl.organization .art-pic img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        max-width: 100%;
    }

    .block-details-content .detail-conten-body .blog-bkl.organization .art-social {
        margin-left: 0 !important;
        padding-left: 0 !important;
        border-left: none !important;
    }
    .blog-bkl.organization .art-social {
        -webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
        -moz-column-count: 1 !important; /* Firefox */
        column-count: 1 !important;
    }
    .blog-bkl.organization .art-social .art-social-item {
        margin-bottom: 15px;
    }
    #apollo-view-more-classified-container .more-frm-itm {
        width: calc(50% - 10px) !important;
        margin: 5px !important;
        margin-bottom: 15px !important;
    }

    .cm-frm .comment-form > div .inp-half {
        width: 100% !important;
        margin-right: 0 !important;
    }
    .cm-frm .comment-form .inp {
        width: 100% !important;
        margin-bottom: 15px;
    }
    /*body.admin-bar .top-search {
        top: 230px !important;
    }*/
    .art-social .b-btn .btn-b .show-tip {
        left: 0px;
    }
    .block-events .article-circle .article-item {
        width: 160px;
        height: 160px;
    }
    .block-events .article-circle .article-item {
        margin: 0px 15px !important;
    }
    .block-events .article-circle .article-item .article-title .content-teaser {
        font-size: 1.4rem;
    }
}

@media (max-width: 405px) {
    .block-events .article-circle .article-item {
        width: 125px;
        height: 125px;
    }
    .block-events .article-circle .article-item {
        margin: 0px 10px !important;
    }
    .block-events .article-circle .article-item .article-title .content-teaser {
        font-size: 1.2rem;
    }
}
.art-social .art-social-item:last-child > .slash {
    display: none !important;
}
.page-not-found .block-events{
    padding: 115px 0px;
    height: 395px;
}

/*CSS full google map*/
#_popup_google_map, #_popup_choose_event {
    left: 50%;
    margin: -100% 0 0 -40%;
    opacity: 0;
    position: fixed;
    top: -50%;
    visibility: hidden;
    width: 80%;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    z-index: 10000;
    height: 80%;
}
#_popup_google_map .modal-content, #_popup_choose_event .modal-content {
    background: #f7f7f7;
    position: relative;
    z-index: 20;
    border-radius: 5px;
    height: 100%;
    padding: 15px;
}
#_popup_google_map .modal-content {
    z-index: 0;
}
#_popup_google_map .overlay, #_popup_choose_event .overlay {
    background-color: #000;
    background: rgba(0,0,0,.5);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
#_popup_google_map .copy, #_popup_choose_event .copy {
    background: #fff;
    height: 100%;
}
#_popup_google_map .fa-close, #_popup_choose_event .fa-close {
    position: absolute;
    top: 2px; 
    right: 3px;
    cursor: pointer;
}
#_popup_google_map.active, #_popup_choose_event.active {
    opacity: 1;
    top: 50%;
    visibility: visible;
}

/** Artist TImeline 
*/
.main-menu,
.mobile-menu {
  display: none;
}

.artist-timeline .main .inner {
  margin-top: 89px;
  padding-top: 1px;
}

#timeline-embed .icon {
    background-size: auto;
}
.block-events--org .sub-content-blk.custom-block {
    width: 1000px;
    margin: 0 auto;
}
.block-events--org .sub-content-blk.custom-block h1 {
    line-height: 1;
    margin-bottom: 25px;
    padding-right: 0px;
    padding-left: 0px;
}
.block-events--org .sub-content-blk.custom-block ul {
    line-height: 1.7em;
    list-style-type: disc;
    margin-left: 30px;
}
.block-events--org .sub-content-blk.custom-block ul li {
    list-style-type: disc;
}
.block-events h2 > p {
    font-size: 60%;
}

.ft-top-wrap .contact-form .frm-sign-up .button{
    padding-left: 10px;
}


/* Custom style alert*/

.alertify,
.alertify-show,
.alertify-log {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
    -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
    -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
    position: fixed; z-index: 99999;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color:white;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
}
.alertify-cover-hidden {
    display: none;
}
.alertify {
    position: fixed; z-index: 99999;
    top: 50px; left: 50%;
    width: 550px;
    margin-left: -275px;
    opacity: 1;
}
.alertify-hidden {
    -webkit-transform: translate(0,-150px);
    -moz-transform: translate(0,-150px);
    -ms-transform: translate(0,-150px);
    -o-transform: translate(0,-150px);
    transform: translate(0,-150px);
    opacity: 0;
    display: none;
}
/* overwrite display: none; for everything except IE6-8 */
:root *> .alertify-hidden {
    display: block;
    visibility: hidden;
}
.alertify-logs {
    position: fixed;
    z-index: 5000;
    bottom: 10px;
    right: 10px;
    width: 300px;
}
.alertify-logs-hidden {
    display: none;
}
.alertify-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0;
}
.alertify-log-show {
    right: 0;
    opacity: 1;
}
.alertify-log-hide {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);
    opacity: 0;
}
.alertify-dialog {
    padding: 50px;
}
.alertify-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.alertify-inner {
    text-align: left;
}
.alertify-text {
    margin-bottom: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}
.alertify-buttons {
}

@media only screen and (max-width: 680px) {
    .alertify,
    .alertify-logs {
        width: 90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .alertify {
        left: 5%;
        margin: 0;
    }
}

.alertify,
.alertify-log {
    font-family: sans-serif;
}
.alertify {
    background: #FFF;
    /*border: 1px solid #333; *//* browsers that don't support rgba */
    /*border: 1px solid rgba(0,0,0,.7);*/
    /*box-shadow: 0 3px 3px rgba(0,0,0,.3);*/
    -webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
    -moz-background-clip: padding;     /* Firefox 3.6 */
    background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.alertify-text {
    border: 1px solid #CCC;
    padding: 10px;
}
.alertify-button {

}
.alertify-button:hover{
    outline: none;
    background: #fcb234;
}
.alertify-button:focus {
}
.alertify-button:active {
    position: relative;
    /*box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);*/
}
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
    background-color: #FE1A00;
    border: 1px solid #D83526;
}
.alertify-button-ok,
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
    font-size: 12px;

    border: 1px solid #fcb234;
    padding: 10px 15px;
    text-align: center;
    color: #666;
    font-weight: 700;
    cursor: pointer;
    margin: 20px 0 0;
}
.alertify-button-ok:hover,
.alertify-button-cancel:hover{
    background-color: #fcb234;
    color: #fff;
}

.alertify-button-cancel,
.alertify-button-cancel:hover{
    margin-right: 15px;
}

.alertify-button-ok,
.alertify-button-cancel
{
    background-color: #fff;
}
.alertify-log {
    background: #1F1F1F;
    background: rgba(0,0,0,.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
.alertify-log-error {
    background: #FE1A00;
    background: rgba(254,26,0,.9);
}
.alertify-log-success {
    background: #5CB811;
    background: rgba(92,184,17,.9);
}
#apollo-view-more-upcomming-org-event .more-frm-itm .b-btn a:hover {
    text-decoration: none;
}

.alertify-close {
    position: absolute;
    right: -12px;
    top: -12px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    background-color: #fcb234;
    cursor: pointer;
    color: #fff;
}

.alertify-close .fa-times {
    position: absolute;
    top: 5px;
    left: 5px
}

/* End custom style alert box*/

/**
* Author: Thinhnd 
*Issue #10473
*/

.block-events .gallery-description {
    /*max-width: 1000px;*/
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    font-size: 16px;
}



/*
 * Emphasize
 */
em {
  color: #444;
}

/* IE10+ CSS styles go here */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* style menu child */
    header .navi .menu .menu-item {
        position: static;
    }
}

/* Update new icon footer*/
.icon.icon-pint {
    background-image: url(assets/images/demo/icon_pint.png);
}
.icon.icon-inst {
    background-image: url(assets/images/demo/icon_inst.png);
}

/* START: Fixed someissues #10653 */
.snm-list-default ul li {
    font-size: 16px;
}
._js-btm-slider-wrap .slider-description {
    font-size: 16px;
}
.apl-internal-content {
    font-size: 16px;
}
.apl-internal-content ul {
    line-height: 1.7em;
    list-style-type: disc;
    margin-left: 30px;
}
.apl-internal-content ul li {
    list-style-type: disc;
    font-size: 16px;
}
@media (max-width: 1250px) {
    .block-carousel .next-section {
        right: 0;
    }
}
@media (max-width: 768px) {
    .footer .ft-top-wrap .copy-right {
        padding: 0px;
        font-size: 12px;;
        margin: 0px;
    }
    .footer .ft-top-wrap .ft-contact {
        margin-bottom: 8px; 
    }
}

@media (max-width: 767px) {
    .footer .ft-top-wrap .contact-list {
        margin-bottom: 1rem;
    }
    .ft-top-wrap .contact-list li {
        margin-bottom: 5px;
    }
    .footer .ft-top-wrap .coppy-right {
        margin: 0px;
        padding: 0px;
    }
    .ft-top-wrap .contact-info p {
        line-height: 2.4rem;
    }
    .footer .ft-top-wrap .ft-contact {
        margin-bottom: 5px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .ipt {
        padding: 9px 15px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .button {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .ft-top-wrap .contact-info .ttl-info {
        font-size: 2.3rem;
    }
    .ft-top-wrap .contact-info p {
        font-size: 1.6rem;
    }
}

@media (max-width: 736px) and (min-width: 480px) {
    .block-feature.teaser.teaser-left .teaser-content {
        left: 0;
        width: 50%;
        top: auto;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        bottom: auto;
        padding: 1rem 4rem;
    }
    .page-template-page_custom .block-feature.teaser.teaser-left:before {
        left: -108%;
        top: 50%;
        width: 230%;
        bottom: auto;
        -webkit-transform: translate(-30%, -50%);
        transform: translate(-30%, -50%);
    }
    .block-feature {
        height: 100vh;
    }
}

@media (max-width: 671px) {
    .slider-item .blk-sli-img {
        padding-bottom: 15px;
        padding-top: 285px;
    }
    .block-carousel .slider-item .itm-circle {
        display: none;
    }
    .block-carousel .slider-item .itm-circle:first-child {
        display: inherit !important;
        margin: 0 auto;
    }
    .block-carousel .slider-item .blk-sli-ct .ttl-art {
        font-size: 36px;
        margin-bottom: 15px;
    }
}
@media (max-width: 570px) {
    .ft-top-wrap .contact-form .frm-sign-up .ipt {
        font-size: 13px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .ipt {
        padding: 12px 15px;
    }
    .ft-top-wrap .contact-form .frm-sign-up .button {
        font-size: 14px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .button {
        padding-bottom: 9px;
        padding-top: 10px;
    }
}
@media (max-width: 480px) {
    .footer .ft-top-wrap .contact-info {
        margin-bottom: 10px;
    }
    .footer .ft-top-wrap .contact-list {
        bottom: 0px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .button {
        margin-bottom: 0px;
    }
    .footer .ft-top-wrap .coppy-right {
        font-size: 14px;
    }
    .page-template-page_custom .block-feature.teaser.teaser-left .teaser-content:before {
        background: rgba(50, 154, 212, 0.81);
    }
    /* Specific background color in mobile devices for page - custom template at FEATURE block */
    .page-template-page_custom #feature.block-feature.teaser.teaser-left .teaser-content:before {
        background-color: rgba(210, 78, 32, 0.77);
    }
    .footer .ft-top-wrap .contact-list li {
        margin-right: 5px;
    }
    .ft-top-wrap .contact-form .frm-sign-up .ipt {
        font-size: 18px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .ipt {
        padding: 9px 15px;
    }
    .ft-top-wrap .contact-form .frm-sign-up .button {
        font-size: 2.1rem;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .button {
        padding-bottom:5px;
        padding-top: 5px;
    }
}

@media (max-width: 368px) {
    .ft-top-wrap .contact-info p {
        font-size: 1.6rem;
    }
    .footer .ft-top-wrap .contact-info {
        margin-bottom: 5px;
    }
    .footer .ft-top-wrap .contact-form .frm-sign-up .ipt {
        margin-bottom: 5px;
    }
    .footer .ft-top-wrap .ft-contact{ 
        margin-bottom: 2px;
    }
}
/* END: Fixed someissues #10653 */

/* START: Apply the changes in styles for main navigation*/
header .navi {
    margin: 12px 0;
}
header .navi .menu {
    margin: 0;
}
header .navi .menu .menu-item > a {
    padding: 6px 14px;
    color: #feffff;
    text-transform: uppercase;
    font-size: 1.5rem;
    transition: color 0.5s ease;
    display: inline-block;
}
header .navi .menu .menu-item.has-child:hover > .submenu{
    opacity: 0.8;
    left: -20px;
    top: 30px;
}
header .navi .menu .menu-item.has-child > .submenu .menu{
    padding-top: 8px;
    padding-bottom: 8px;
}
@media (max-width: 768px) {
    header .navi {
        margin: 0px;
    }
    header .navi .menu .menu-item > a {
        border-top: none;
    }
    header .navi .menu .menu-item {
        border-top: 1px solid #8d9296;
    }
}
/* END: Apply the changes in styles for main navigation*/

/*Start: custom new icon social*/
.block .social-share a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #f95f22;
    background-color: #fff;
    text-align: center;
    padding: 0px;
    border-radius: 50%;
}
.block .social-share a:hover {
    background-color: #f95f22;
    color: #fff;
}
.block .view-mode .type ul li a {
    border: 1px solid #f95f22;
    background-color: #fff;
    color: #f95f22;
    padding: 5px 6px 2px 5px;
}
.block .view-mode .type ul li a:hover {
    border: 1px solid #f95f22;
    background-color: #f95f22;
    color: #fff;
}
.block .view-mode .type ul li.current a {
    border: 1px solid #f95f22;
    background-color: #f95f22;
    color: #fff;
}
/*End: custom new icon social*/

/* Add new logo all body page detail*/
.organization {
    position: relative;
}
.organization .org-logo-smn {
    position: absolute;
    right: -25px;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;
}

@media (max-width: 960px) {
    .organization .org-logo-smn {
        right: 0px;
    }
}

/* Tell friend Pop-up */
.tellafriend {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.8;
    z-index: 1000;
}
.tellAF-popup {
    width: 600px;
    height: 520px;
    background: #fff;
    position: fixed;
    top: 200px;
    left: 50%;
    display: none;
    z-index: 1500;
    vertical-align: middle;
    transform: translateX(-50%);
    margin-left: 0;
}
.tellAF-popup .ct {
    width: 80%;
    margin: 50px auto;
    position: relative;
    display: block;
}
.tellAF-popup h1 {
    margin-bottom: 20px;
}
.tellAF-popup .btn {
    float: left;
    margin: 20px 0;
    width: 100%;
}
.tellAF-popup .btn .btn-b {
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #fcb234;
    padding: 10px 15px;
    text-align: center;
    color: #666;
    font-weight: 700;
    cursor: pointer;
}
.tellAF-popup .btn .btn-b:hover {
    background-color: #fcb234;
    border: 1px solid #fcb234;
    color: #fff;
}
.tellAF-popup .note {
    font-style: italic;
    font-size: 11px;
}
.close {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -12px;
    right: -12px;
    cursor: pointer;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fcb234;
}

/*START: Fix someissues row spreadsheets*/
@media (max-width: 768px) {
    .block.block-share li {
        width: 40px !important;
    }
}
@media (max-width: 480px) {
    header .gov_logo .gov-logo-background {
        background-size: 40%;
    }
}
/*END: Fix someissues row spreadsheets*/
/* Start: Responsive classified #10756 */
@media (max-width: 1024px) {
    .classified-column .table-info .table {
        width: 100% !important;
    }
    .classified-column .table-info .table thead > tr > th,
    .classified-column .table-info .table tbody > tr > th,
    .classified-column .table-info .table thead > tr > td,
    .classified-column .table-info .table tbody > tr > td {
        padding: 8px 5px;
    }
    .classified-column .table-info .table tbody > tr > td {
        padding: 10px 5px 10px 5px !important;
    }
    .classified-column .table-info .table thead > tr > th a.icon-sort {
        margin-left: 2px;
    }
}
@media (max-width: 767px) {
    .classified-column .table-info .table thead {
        display: none;
    }
    .classified-column .table-info .table {
        border: 1px solid #d7d7d7;
    }
    .classified-column .table-info table {
        display: block;
    }
    .classified-column .table-info .table tbody > tr > td {
        display: block;
    } 
    .classified-column .table-info .classified-table-view {
        display: block;
    }
    .classified-column .table-info .table tbody > tr > td {
        position: relative;
        padding-left: 30% !important;
        min-height: 40px;
        color: #000;
        /*font-weight: bold;*/
        border-bottom: 1px solid #d7d7d7;        
    }
    .classified-column .table-info .table tbody > tr > td a {
        color: #000;
    }
    .classified-column .table-info .table tbody > tr > td:before {
        position: absolute;
        width: 25%;
        left: 8px;
        white-space: nowrap;
        padding-right: 10px;
    }
    .classified-column .table-info .table tbody > tr:last-child {
        border-bottom: none;
    }
    .classified-column .table-info .table tbody > tr {
        display: block;
    }
    .classified-column .table-info .table tbody > tr > td#td-title {
        word-break: normal;
        white-space: normal;
    }
}
/* End: Responsive classified #10756 */

/* Start: Responsive classified #10813 */
@media (max-width: 360px) {
    .classified-column .table-info .table tbody > tr > td {
        padding-left: 35% !important;      
    }
    .block-carousel .slider-item .blk-sli-img {
        padding-top: 50px;
    }
    .block-carousel .slider-item .itm-circle {
        width: 230px;
        height: 230px;
    }
    .custom-navigation .sli-icon .icon
    , .cust-nav .sli-icon .icon {
        width: 20px;
        height: 40px;
    }
}
/* End: Responsive classified #10813 */
/* Start: Update new style for Associated Artist #11119*/
.single-public-art .artist .artist-pic {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 15px;
    overflow: hidden;
}
.single-public-art .artist .artist-pic img {
    height: auto;
    width: 100px;
}
.single-public-art .artist .link:hover {
    text-decoration: underline;
}
.single-public-art .artist span {
    vertical-align: top;
    font-size: 18px;
}
.page-template-page_sonoma_fire_2017 .pbm-load-more{
    border: 0px;
    font-weight: bold;
}
.page-template-page_sonoma_fire_2017 .pbm-load-more:hover{
    background: none !important;
    text-decoration: underline;
}
.page-template-page_sonoma_fire_2017 .block .social-share a{
    background: none;
}
/* End: Update new style for Associated Artist #11119*/