
/*CSS USER DASHBOARD*/


.dsb-l {
    min-width: 235px;
}
.user-dashboard-body header {
    z-index: 1024;
}
.user-dashboard-body .main .inner {
    margin-top: 105px;
    min-height: 400px;    
}
.user-dashboard-body .main-wrap .block-default-tmp {
    padding-top: 0px;
}
.user-dashboard-body .block-default-tmp .default-ttl {
    margin-bottom: 5px
}
.user-dashboard-body .dsb-welc h1 {
    font-weight: 600;
}
.user-dashboard-body .block-default-tmp .default-content .dsb-support {
    margin-top: 30px;
}
.user-dashboard-body .top-head {
    background-color: transparent;
}
.user-dashboard-body .main-menu.pc-show.def {
    display: none;
}
.user-dashboard-body .main .inner .dsb-l {
    margin-top: 0px;
    z-index: 2;
}
.user-dashboard-body .footer {
    padding-top: 0px;
    padding-bottom: 0px;
}
.user-dashboard-body .artist-blk .art-email-check .art-email-chk {
    margin-top: 20px;
}
.block-default-tmp .default-ttl {
    margin-bottom: 15px;
}
.block-default-tmp .default-ttl h3 {
    text-transform: capitalize;
}
.block-default-tmp .default-content h1.title-page {
    font-size: 3em;
    margin-bottom: 5px;
}
.login-wrp, .regis-wrp {
    margin: 30px 0px;
}
.login-wrp .log-frm {
    width: 350px;
}
.login-wrp .el-blk{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.login-wrp .el-blk:hover > .show-tip{
    display: block !important; 
}
.regis-wrp .el-blk:hover > .show-tip{
    display: block !important; 
}
.login-wrp .el-blk:hover .show-tip {
    right: 5px;
}
.regis-wrp .el-blk:hover .show-tip {
    right: 5px;
}
.log-frm .inp.inp-txt {
    width: 100%;
    height: 40px;
}
.log-frm .inp.inp-txt:focus {
    outline: none;
    border: 1px solid #999;
}
.login-wrp .btn.btn-b {
    width: 150px;
    padding: 10px 15px;
    font-weight: 600;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    background-color: #fff;
}
.login-wrp .btn.btn-b:hover {
    background-color: #fcb234;
    color: #fff;
}
.login-wrp .btn.btn-b:focus {
    outline: none;
}
.login-wrp .b-btn a:hover {
    text-decoration: underline;
}
.p-sub-ct p a {
    color: #fcb234;
}
.p-sub-ct p a:hover {
    text-decoration: underline;    
}
.benef > p:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    margin: 0 5px 0 0;
}
.regis-wrp form{
    width: 50%;
}
.regis-wrp .el-blk{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.regis-wrp .inp.inp-txt {
    width: 100%;
    height: 40px;
}
.regis-wrp .btn.btn-b {
    width: 150px;
    padding: 10px 15px;
    font-weight: 600;
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
    background-color: #fff;
}
.regis-wrp .inp.inp-txt:focus {
    outline: none;
    border: 1px solid #999;
}
.regis-wrp .btn.btn-b:hover {
    background-color: #fcb234;
    color: #fff;
}
.regis-wrp .btn.btn-b:focus {
    outline: none;
}
.regis-wrp .b-btn a:hover {
    text-decoration: underline;
}
.warn span {
    color: #fa2805;
}
.uploading-list .box_info {
    height: 35px;
}
.uploading-list li .tt {
    height: 25px;
}
@media (min-width: 961px) and (max-width: 1250px) {
    .user-dashboard-body .default-ttl {
        width: 100% !important;
    }
    .user-dashboard-body .default-content.snm-list-default {
        width: 100% !important;
    }
}
@media (max-width: 1023px) and (min-width: 767px) {
    .user-dashboard-body .main-wrap .block-default-tmp {
        max-width: 100%;
    }
    .user-dashboard-body .block-default-tmp {
        width: 100% !important;
        padding-top: 0 !important;
    }
}


@media (max-width: 960px) {
    .user-dashboard-body .default-ttl {
        width: 100% !important;
    }
    .user-dashboard-body .default-content.snm-list-default {
        width: 100% !important;
    }
}
@media (max-width: 768px) {
    .user-dashboard-body .block-default-tmp {
        width: 100% !important;
        padding-top: 0 !important;
    }
    .block-default-tmp .default-content h1.title-page {
        font-size: 2em;
    }
}

@media (max-width: 480px) {
    .user-dashboard-body .top-head .logo {
        margin-left: 0px;
    }
    .block-default-tmp .default-content h1.title-page {
        font-size: 1.7em;
    }
    .p-sub-ct {
        margin-right: 20px;
    }
    .regis-wrp form {
        width: 100%;
    }
    .login-wrp .log-frm {
        width: 100%;
    }
}
