/*=============================================
=            CSS BLOCK GENNERAL              =
=============================================*/

.block-cust {
    display: none;
}

.block {
    position: relative;
    padding: 0;
    margin: 0;
    &.teaser {
        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: #2a99d7;
            opacity: .8;
            width: 150%;
            height: calc(1200px * 1.5);
            border-radius: 50%;
            z-index: 0;

        }
        &.teaser-left {
            &:before {
                left: -70%;
                top: 50%;
                transform: translate(-30%, -50%);
            }
            .teaser-content {
                left: 0;
                transform: translate(0, -50%);
            }
            &.org-color {
                &:before {
                    background-color: $orange;
                }
            }
        }
        &.teaser-right {
            &:before {
                right: -70%;
                top: 50%;
                transform: translate(30%, -50%);
            }
            .teaser-content {
                right: 0;
                transform: translate(0, -50%);
            }
        }
        &.teaser-bottom {
            &:before {
                left: 50%;
                bottom: -1450px;
                transform: translate(-50%, 0);
            }
        }
        .teaser-content {
            z-index: 1;
            position: absolute;
            top: 50%;
            padding: 2rem;
            width: 30%;
            .content {
                margin-bottom: 2rem;
            }
        }
    }
    &.block-carousel {
        overflow: hidden;
    }
}