/*=============================================
=            CSS BLOCK FEATURE                =
=============================================*/

.block-feature {
    width: 100%;
    // min-height: 923px;
    height: calc(100vh - 89px);
    overflow: hidden;
    background: url(../images/demo/next_lv_01.jpg) no-repeat top right;
    background-size: cover;
    &.org-color {
        background: url(../images/demo/transcendence-theatre-rehersal.jpg) no-repeat top right;
        background-size: cover;
    }
    .teaser-content {
        padding-left: 4rem !important;
        color: #feffff;
        h1, h2, h3, h4, h5, h6 {
            color: #feffff;
        }
        h1 {
            text-transform: uppercase;
            margin: 0;
        }
        h2 {
            margin: 5px 0 16px;
        }
    }
}