/*=============================================
=            CSS BLOCK EVENTS                 =
=============================================*/

.block-events {
    background: url(../images/demo/bg_happend.png) no-repeat top center;
    background-size: cover;
    // min-height: 970px;
    padding: 55px 0px;
    h1, h2 {
        color: #676767;
        padding-left: 55px;
        padding-right: 55px;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 40px;
    }
    h2.late-new {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .article-circle {
        text-align: center;
        padding-left: 55px;
        padding-right: 55px;
        margin-bottom: 100px; 
        .article-item {
            width: 295px;
            height: 295px;
            display: inline-block;
            position: relative;
            margin: 0px 32px;
            .teaser-bg {
                width: 100%;
                height: 100%;
                object-fit: cover;
                font-family: 'object-fit: cover; object-position: center;';
                transition: all 1s;
                border-radius: 50%;
            }
            .content-teaser {
                padding: 10%;
                small {
                    display: block;
                    line-height: 1.1em;
                    max-height: 2.2em;
                    overflow: hidden;
                }
                span {
                    display: block;
                    line-height: 1em;
                    max-height: 2.1em;
                    overflow: hidden;
                }
            }
            &:hover {
                &.article-item {
                    .circle-k {
                        position: absolute;
                        display: block;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        border-radius: 50%;
                    }
                    .teaser-bg {
                        // transform: rotate(-5deg);
                    }
                    .content-teaser {
                        opacity: 1;
                        overflow: hidden;
                        >p {
                            top: 0;
                            
                        }
                        
                    }
                    &.item-orange {
                        .content-teaser {
                            background-color: rgba(255, 103, 20, 0.5); 
                        }
                    }
                    &.item-blue {
                        .content-teaser {
                            background-color: rgba(9, 92, 184, 0.5); 
                        }
                    }
                    &.item-green {
                        .content-teaser {
                            background-color: rgba(3, 171, 84, 0.5); 
                        }
                    }
                    &.item-white-left, &.item-white-center, &.item-white-right, &.change-pst-crl {
                        .content-teaser {
                            background-color: rgba(251, 85, 72, 0.7); 
                        }
                    }
                }    
            }
            &.item-orange {
                &:after {
                    border: 3px solid #ff6714;
                    top: 0;
                }    

            }
            &.item-blue {
                &:after {
                    border: 3px solid #095cb8;
                    top: 0;
                }
            }
            &.item-green {
                &:after {
                    border: 3px solid #03ab54;
                    bottom: 0;
                }
            }
            &:after {
                content: '';
                display: block;
                width: 93%;
                height: 93%;
                position: absolute;
                border: 3px solid;
                border-radius:50%; 
                z-index: 0;
            }
            &.item-white-left {
                &:after {
                    top: 0;
                }
            }
            &.item-white-center {
                &:after {
                    top: 11px;
                    left: 11px;
                }
            }
            &.change-pst-crl {
               &:after {
                    top: 5px;
                    left: 15px;
                } 
            }
            &.item-white-right {
                &:after {
                    top: 8px;
                    left: 12px;
                }
            }
            .article-title {
                background-size: cover;
                background-position: center center; 
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: inline-block;
                border-radius: 50%;
                border: 10px solid #dcdcdc;
                .content-teaser {
                    background: transparent;
                    display: table;
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    left: 0;
                    color: white;
                    font-weight: bold;
                    font-size: 1.7rem;    
                    color: white;
                    font-weight: bold;
                    font-size: 1.7rem;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    transition: all 0.3s;
                    >p {
                        display: table-cell;
                        vertical-align: middle;
                        position: relative;
                        top: 10%;
                        transition: all 0.5s;
                    }
                }
            }
        }
    }
}