/*=============================================
=            CSS BLOCK DEFAULT                =
=============================================*/
.main-wrap {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    .block-default-tmp {
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 235px;
    }
} 
.block-default-tmp {
    .default-ttl {
        width: 100%;
        padding: 5px 0;
        //border: 1px solid #ee422e;
        text-align: left;
        margin-bottom: 30px;
        h3 {
            text-transform: uppercase;
            font-size: 50px;
            line-height: 1.4em;
            margin: 0;
            max-height: 2.8em;
            overflow: hidden;
        }
    }
    .default-content {
        padding-bottom: 150px;    
        p {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 35px;
            line-height: 1.6;
        }
    }
}