/*=======================================
*             STYLE ALL BLOCKS          *
========================================*/

@import 'blocks/block-genneral';
@import 'blocks/block-feature';
@import 'blocks/block-events';
@import 'blocks/block-abouts';
@import 'blocks/block-support-icon';
@import 'blocks/block-details';
@import 'blocks/block-slider';
@import 'blocks/block-default-tpl';

.block-carousel {
    position: relative;
    .blk-sli-menu {
        position: absolute;
        bottom: 150px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 1;
        .flex-control-nav {
            text-align: center;
            >li {
                display: inline-block;
                padding: 10px 16px;
                background: rgba(0, 0, 0, 0.48);
                color: #ababab;
                margin: 0;
                font-size: 1.8rem;
                cursor: pointer;
                &.flex-active {
                    color: #ffffff;
                }
            }
        }
    }
    .next-section {
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        text-align: center;
    }
}