main {
    .content-wrapper {
        display: block;
        margin-top: $header-height;
    }
}
.icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    &.icon-fb {
        background-image: url(../images/demo/icon_fb.png);
    }
    &.icon-twt {
        background-image: url(../images/demo/icon_twt.png);
    }
    &.icon-mail {
        background-image: url(../images/demo/icon_mail.png);
    }
    &.icon-search {
        background-image: url(../images/demo/icon_search.png);
    }
    &.ico-prev {
        background-image: url(../images/demo/left_arrow.png);
    }
    &.ico-next {
        background-image: url(../images/demo/right_arrow.png);
    }
    &.ico-down {
        background-image: url(../images/demo/down_arrow.png);
    }
}