block vars
  -title="Artsopolis - Blog Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/pathway_blog-detail.jade
            include ../blocks/blog_detail.jade
        include ../includes/sidebar.jade