$nc-font-path:        "../fonts/icons" !default;
$nc-font-size-base:   14px !default;
$nc-css-prefix:       nc-icon !default;
$nc-background-color: #eee !default;
$nc-li-width:         (30em / 14) !default;
$nc-padding-width:    (1em/3) !default;
