
.blog-bkl
    .a-block-ct.locatn
        div(class="loc-address")
            span
                b Indianapolis, IN 46241, USA
            p 7800 Col. H. Weir Cook Memorial Dr
        .lo-left.public-art
            img(src="../assets/uploads/public-art-map.jpg", alt="map-location.jpg")

