.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated
.el-blk
    nav.type
        ul
            li
                a(href="art-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-classified-list")
        li
            .search-img
                    a(href="art-detail.html")
                        img(src="../assets/uploads/grape-in-fog-venue_medium.jpg")
            .info-content
                .search-info
                    a(href="art-detail.html")
                        span.ev-tt Benjamin Harrison
                    .career Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
                    .career Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
                    .career Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
        li
            .search-img
                    a(href="art-detail.html")
                        img(src="../assets/uploads/cantor-300x300.jpg")
            .info-content
                .search-info
                    a(href="art-detail.html")
                        span.ev-tt Benjamin Harrison
                    .career Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
                    .career Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
                    .career Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
        li
            .search-img
                    a(href="art-detail.html")
                        img(src="../assets/uploads/Akoma2012-292x300.jpg")
            .info-content
                .search-info
                    a(href="art-detail.html")
                        span.ev-tt Benjamin Harrison
                    .career Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
                    .career Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
                    .career Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
