.search-tt
    p Search "
        a
            |a
        |" (06 result)
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated

.el-blk
    nav.type
        ul
            li
                a(href="artist-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-list")
        li
            .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img5.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img4.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .search-img
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career Visual Artist: Drawing Illustration Visual Artist: Painting - Visual Artist: Print / Digital Art / Drawing Illustration Visual Artist
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
