.blog-bkl
    nav(class="blog-list")
        li
            .blog-tt
                .blog-date
                .blog-name
                    .namedetail-txt Wednesday Brown Bag Lunch - Beauty in Batik
                .blog-like
                    a.likeicon(href="#")
                        i(class="fa fa-thumbs-o-up fa-lg")
                    .num
                        label
                            |25
            .b-share-cat
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc google")
                     i.fa.fa-google-plus
            .blog-category
                .cate-blk
                    i(class="fa fa-user fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | St. Helena Public Library
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-comment fa-lg")&nbsp;&nbsp;
                    a.cm-num(href="#")
                        | (02)
                    a(href="#")
                        | Comments

            .blog-content
                .blog-pic-detail
                    img.detail(src="../assets/uploads/blog-detail.jpg")
                .blog-pic-detail
                    img.detail(src="../assets/uploads/heli.jpeg")
                .blog-pic-detail
                    img.detail(src="../assets/uploads/Suzuki.jpg")
                .blog-text-detail
                    p This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        |This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        |This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
            .blog-tags
                label Tags:
                a(href="#")
                   | News
                |,
                a(href="#")
                   | Audio
                |,
                a(href="#")
                   | Video
.blog-bkl
    .comment-box
        p.cment
            a (02)
            | comments
        ul(class="comment-list")
                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply

                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply
.blog-bkl
    .cm-form
                h3 Post a Comment
                form( method="post", action="#", id="commentform", class="comment-form", novalidate="")
                    .ipt
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your name")
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your email")
                    .ipt
                        textarea(class="inp-desc-event", placeholder="Comment")

                    p.t-l.b-btn.aln-l
                        input(type="submit", name="submit", class="btn btn-b", value="Post Comment", tabindex="4")

