.blog-bkl
    nav(class="blog-list")
        li
            .blog-tt
                .blog-date
                    a Jan 30
                .blog-name
                    .name-txt
                        a(href="blog-detail.html")
                            |Wednesday Brown Bag Lunch - Beauty in Batik
                .blog-like
                    a.likeicon(href="#")
                        i(class="fa fa-thumbs-o-up fa-lg")
                    .num
                        label
                            |25
            .b-share-cat
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc google")
                     i.fa.fa-google-plus
            .blog-category
                .cate-blk
                    i(class="fa fa-user fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | St. Helena Public Library
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-folder-open fa-lg")&nbsp;&nbsp;
                    a(href="#")
                        | Community
                    a.coma
                        | ,
                    a(href="#")
                        | News
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-comment fa-lg")&nbsp;&nbsp;
                    a.cm-num(href="#")
                        | (02)
                    a(href="#")
                        | Comments

            .blog-content
                .blog-pic
                    img(src="../assets/uploads/blog-thumb.jpg")
                .blog-text
                    p This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        a(class="vmore", href="javascript:;")
                            |View more

            .blog-tags
                label Tags:
                a(href="#")
                   | News
                |,
                a(href="#")
                   | Audio
                |,
                a(href="#")
                   | Video
        li
            .blog-tt
                .blog-date
                    a Jan 30
                    .blog-seperate
                .blog-name
                    .name-txt
                        a(href="blog-detail.html")
                            |Wednesday Brown Bag Lunch - Beauty in Batik
                .blog-like
                    a.likeicon(href="#")
                        i(class="fa fa-thumbs-o-up fa-lg")
                    .num
                        label
                            |25
            .b-share-cat
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc google")
                     i.fa.fa-google-plus
            .blog-category
                .cate-blk
                    i(class="fa fa-user fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | St. Helena Public Library
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-folder-open fa-lg")&nbsp;&nbsp;
                    a(href="#")
                        | Community
                    a.coma
                        | ,
                    a(href="#")
                        | News
                    a.slash
                        | /
                .cate-blk
                    i(class="fa fa-comment fa-lg")&nbsp;&nbsp;
                    a.cm-num(href="#")
                        | (02)
                    a(href="#")
                        | Comments
            .blog-content
                .blog-pic
                    img(src="../assets/uploads/blog-thumb.jpg")
                .blog-text
                    p This shopping runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way!
                        a(class="vmore", href="javascript:;")
                            |View more

            .blog-tags
                label Tags:
                a(href="#")
                   | News
                |,
                a(href="#")
                   | Audio
                |,
                a(href="#")
                   | Video
.blog-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
