.bookmark-view
    a.bookmark-view__button(href="javascript:void(0);", title="View Bookmarks", data-toggle="show")
        i.fa.fa-bookmark-o
    .bookmark-view__container.overplay
        .container-inner
            p.text-center.text-bold Recent Bookmarks
            .list-bookmarks
                a.bookmark-item(href="#") Wednesday Brown Bag Lunch - Beauty in Batik
                a.bookmark-item(href="#") Time is valuable. Don't waste it
                a.bookmark-item(href="#") Spring workshop - modern life style
                a.bookmark-item(href="#") Life peace activation - Kick off the happiness
                a.bookmark-item(href="#") Baroque concert on Mondays - Revise the art
                a.bookmark-item(href="#") Top portrait exhibition
                a.bookmark-item(href="#") 1980s Rock retro
                a.bookmark-item(href="#") New York still singing
                a.bookmark-item(href="#") Break taking festival in the island
                a.bookmark-item(href="#") Traffic topic art - Life category
            a.view-all(href="#") View all bookmarks
            //p.text-center.text-bold You have no bookmarks