.blog-bkl.organization
    h1(class="p-ttl") 888 Monkeys Summer Arts Program
    .d-slider
        .business-slide-big#business-slide-big
            ul.slides
                li
                    img(src='../assets/uploads/3spotlight-647x300.png')
                li
                    img(src='../assets/uploads/9lives_lg_medium.jpg')
                li
                    img(src='../assets/uploads/3spotlight-647x300.png')
                li
                    img(src='../assets/uploads/888_medium.jpg')
                li
                    img(src='../assets/uploads/3spotlight-647x300.png')
                li
                    img(src='../assets/uploads/3spotlight-647x300.png')
        .business-slide-nav#business-slide-nav
            ul.slides
                li
                    div(style='background-image:url(../assets/uploads/3spotlight-647x300.png)')
                li
                    div(style='background-image:url(../assets/uploads/9lives_lg_medium.jpg)')
                li
                    div(style='background-image:url(../assets/uploads/3spotlight-647x300.png)')
                li
                    div(style='background-image:url(../assets/uploads/888_medium.jpg)')
                li
                    div(style='background-image:url(../assets/uploads/3spotlight-647x300.png)')
                li
                    div(style='background-image:url(../assets/uploads/3spotlight-647x300.png)')
       .clearfix
    .d-content
        | Centrally located in Silicon Valley, this excep&quot;onal restaurant has epitomized fine
        | dining since its founding in 1977. California&shy;inspired modern French cuisine is
        | beau&quot;fully presented in an elegant, quiet se#ng. Chef Sco$ Cooper&rsquo;s innova&quot;ve
        | menu and culinary talents have garnered numerous accolades over the years, including
        | the highest of ra&quot;ngs in Zagat Survey (Zagat&rsquo;s 2010 Survey ranked Le Papillon
        | as one of the top five restaurants south of San Francisco), flawless reviews
        | by the San Jose Mercury News, and inclusion in Michelin guides. Reflec&quot;ng
        | Cooper&rsquo;s passion and dedica&quot;on to world&shy;class cuisine, the extensive &agrave; la carte
        | and tas&quot;ng menus change seasonally in order to incorporate organic and sustainably
        | grown local ingredients. Whether for lunch, dinner or catered events, Le Papillon
        | provides the same high level of excellence. Private rooms available. Lunch,
        | Fri. Dinner nightly.


.blog-bkl
    .d-feature
        strong FEATURES
        span DINNER, FULL BAR, PRIVATE EVENTS/ROOM(S), CATERING

 .d-location
    table.table
        tr
            td.d-label LOCATION:
            td 410 Saratoga Ave., San Jose
        tr
            td.d-label TEL:
            td 408.296.3730
        tr
            td.d-label WEBSITE:
            td Le Papillon
        tr
            td.d-label HOURS:
            td Dinner: 5:30­9:30pm, daily.
        tr
            td.d-label RESERVATIONS:
            td opentable.com
         tr
            td.d-label OTHER INFO:
            td Corkage Fee $30

.blog-bkl
    .d-block
        h4 NEARBY EVENTS
        img(alt="image",class='img-responsive', src="../assets/uploads/maps.jpg")