.search-tt
    p Search "
        a
            |a
        |" (06 result)
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated

.el-blk
    nav.type
        ul
            li
                a(href="artist-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
.search-bkl.business-search-blk-2
    h3.ttl-bs-list restaurant listings
    nav(class="search-artist-list business-search-list-2 clearfix")
        li
            .summary-content-bs.clearfix
                .search-img
                        a(href="#")
                            img(src="../assets/uploads/artist-img5.jpg")
                .info-content
                    .search-info
                        a(href="#")
                            span.ev-tt Birk's
                        .s-country
                            | Cuisine:
                            a(href="#") American
                        .s-desc
                            | Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
            .summary-contact-bs.clearfix
                div.contact-address-bs
                    span.lbl-contact address:
                    span.contact-txt 3955 Freedom Circle, Santa Clara CA 95054
                div.contact-social-info-bs.clearfix
                    .contact-item-social-bs
                        span.lbl-contact tel:
                        span.contact-txt 408.980.6400
                    .contact-item-social-bs
                        span.lbl-contact website:
                        a.contact-txt-link(href="#") Birk's Restaurant
        li
            .summary-content-bs.clearfix
                .search-img
                        a(href="#")
                            img(src="../assets/uploads/artist-img4.jpg")
                .info-content
                    .search-info
                        a(href="#")
                            span.ev-tt Burma ruby
                        .s-country
                            | Cuisine:
                            a(href="#") American
                        .s-desc
                            | Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
            .summary-contact-bs.clearfix
                div.contact-address-bs
                    span.lbl-contact address:
                    span.contact-txt 445 Emerson St., Palo Alto CA 94301
                div.contact-social-info-bs.clearfix
                    .contact-item-social-bs
                        span.lbl-contact tel:
                        span.contact-txt 650-285-2270
                    .contact-item-social-bs
                        span.lbl-contact website:
                        a.contact-txt-link(href="#") Burma Ruby

.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
