.search-tt
    p Search "
        a
          |a
        |" (04 result)
.search-bkl
    nav(class="nav-tab")
        ul(class="tab-list-search")
            li(class="selected")
                a(href="#", data-id="1") CLASSIDIED
                    span.cl (3)
    div(class="tab-bt")
.search-bkl
    nav(class="search-classified-list")
        li
            .search-img
                    a(href="classified-detail.html")
                        img(src="../assets/uploads/grape-in-fog-venue_medium.jpg")
            .info-content
                .search-info
                    a(href="classified-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .meta.auth.comp-name
                        | Presented by
                        a(href="#", target="_blank")  Organization
                    .career Type: Commercial Business, Educational, Festivals...
                    .post-date
                        span Posted: June 10, 2015
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
        li
            .search-img
                    a(href="classified-detail.html")
                        img(src="../assets/uploads/cantor-300x300.jpg")
            .info-content
                .search-info
                    a(href="classified-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .meta.auth.comp-name
                        | Presented by
                        a(href="#", target="_blank")  Organization
                    .career Type: Commercial Business, Educational, Festivals...
                    .post-date
                        span Posted: June 10, 2015
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
        li
            .search-img
                    a(href="classified-detail.html")
                        img(src="../assets/uploads/Akoma2012-292x300.jpg")
            .info-content
                .search-info
                    a(href="classified-detail.html")
                        span.ev-tt Pineapple Productions ChellyD
                    .meta.auth.comp-name
                        | Presented by
                        a(href="#", target="_blank")  Organization
                    .career Type: Commercial Business, Educational, Festivals...
                    .post-date
                        span Posted: June 10, 2015
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
