.blog-bkl
    .b-share-cat
        label
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc tw") 
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-pinterest-square
        a(href="#", target="_blank", class="sc lk") 
            i.fa.fa-linkedin
        a(href="#", id="print", class="pt print")
            i.fa.fa-print
        a(href="#", id="email", class="pt email")
            i.fa.fa-envelope-o
// END: blk blog
.blk-show-list
    ul.list-show
        label.ttl-list
            | Showing:
            span &nbsp;All
        li
            a(href="#") event 1
        li
            a(href="#") vutest
        li
            a(href="#") test sent mail
        li
            a(href="#") 123 verified
        li
            a(href="#") Smith's
        li
            a(href="#") D-region 3
        li
            a(href="#") Event Test 2340
// END : blk showing all list
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span One page 
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span Paginated
.el-blk
    nav.type
        ul
            li
                a(href="#")
                    i(class="fa fa-table fa-2x")
            li
                a(href="organization-thumb.html")
                    i(class="fa fa-th fa-2x")
            li.current
                a
                    i(class="fa fa-bars fa-2x")
// END : blk search paging
.blk-list-table
    .table-info
        table.table
            thead
                tr.bg-gray
                    th
                        a(href="#") posted
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th.ttl-special
                        a(href="#") title
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th
                        a(href="#") organization
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th
                        a(href="#") city
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
                    th
                        a(href="#") deadline
                        a(href="#", class="icon-sort ic-sort-up")
                            i(class="fa fa-caret-up")
                        a(href="#", class="icon-sort ic-sort-down")
                            i(class="fa fa-caret-down")
            tbody
                tr 
                    td 06/21/16
                    td 
                        a(href="#") event 1
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") test sent mail
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") 123 verified
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") FE Smith's! - test
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") Add New Event Happy birthday...
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") Auto Spotlight
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") New event...
                    td Young Picassos Houston
                    td St. AR Center Park  
                    td 06/25/16
                tr 
                    td 06/21/16
                    td 
                        a(href="#") Event Test 2340
                    td City of Austin: Austin-Bergstrom International Airport
                    td St. AR Center Park  
                    td 06/25/16
// END : Listing table info
.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
// END : blk search paging
.load-more.b-btn(id="load-more", style="display:none")
    a(href="#", class="btn-b arw") SHOW MORE
