section.fullw.clients
    .inner.t-c
        h3.f-ttl SITE INFO / CLIENTS
        p.dsc Sizzling blues combined with tasty micro brews headline the Brews and Blues event, sponsored by the Saratoga Chamber of Commerce. Performing will be the.
        .list-logo
            ul.nav
                li
                    a(href="#")
                        img(src="../assets/uploads/l1.jpg", alt="logo 1")
                li
                    a(href="#")
                        img(src="../assets/uploads/l2.jpg", alt="logo 1")
                li
                    a(href="#")
                        img(src="../assets/uploads/l3.jpg", alt="logo 1")
                li
                    a(href="#")
                        img(src="../assets/uploads/l4.jpg", alt="logo 1")
                li
                    a(href="#")
                        img(src="../assets/uploads/l5.jpg", alt="logo 1")



