nav.dsb-main-nav
    ul        
        li.li-h-menu.active
            a(href="#", class="h-menu")
                .l-ico
                    i(class="fa fa-home fa-2x")
                span DASHBOARD
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-account", class="has-child") 
                .l-ico
                    i(class="fa fa-user fa-2x")
                span ACCOUNT
            .sub-nav(id="#sub-account")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-orga", class="has-child") 
                .l-ico
                    i(class="fa fa-users fa-2x")
                span.long-ttl Organization/ Business
            .sub-nav(id="#sub-orga")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#", class="long-ttl") MANAGE ORGANIZATION/ BUSINESS
                    li 
                        a(href="#") Ativity 2
                    li 
                        a(href="#") Ativity 3
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-venue", class="has-child") 
                .l-ico
                    i(class="fa fa-university fa-2x")
                span Venue
            .sub-nav(id="#sub-venue")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
                    li 
                        a(href="#") Ativity 2
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-events", class="has-child") 
                .l-ico
                    i(class="fa fa-calendar fa-2x")
                span Events
            .sub-nav(id="#sub-events")
                ul 
                    li 
                        a(href="#") Events
                    li.active
                        a(href="#") Import
        li 
            i.arr.fa.fa-angle-right 
            a(href="#", data-tgr="sub-art", class="has-child") 
                .l-ico
                    i(class="fa fa-paint-brush fa-2x")
                span Artist Profile
            .sub-nav(id="#sub-art")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-edu", class="has-child") 
                .l-ico
                    i(class="fa fa-graduation-cap fa-2x")
                span Education
            .sub-nav(id="#sub-edu")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-buss", class="has-child") 
                .l-ico
                    i(class="fa fa-suitcase fa-2x")
                span Business
            .sub-nav(id="#sub-buss")
                ul 
                    li.active 
                        a(href="#") Account Info
                    li 
                        a(href="#") Bookmark
                    li 
                        a(href="#") Ativity
        li 
            i.arr.fa.fa-angle-right
            a(href="#", data-tgr="sub-clss", class="has-child") 
                .l-ico
                    i(class="fa fa-file-text-o fa-2x")
                span Classifieds
            .sub-nav(id="#sub-clss")
                ul 
                    li.active 
                        a(href="#") Add Classified
                    li 
                        a(href="#") Published Classifieds