article.content-page.category-detail
    .b-share-cat
        a(href="#", target="_blank", class="sc lk")
            i.fa.fa-linkedin
        a(href="#", target="_blank", class="sc tw")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc google")
             i.fa.fa-google-plus
    h1.p-ttl Super Scenic 72 Mile Garage Sale
    p.meta.auth
        | Presented by
        a(href="#", target="_blank")  St. Helena Public Library
        | at
        a(href="#", target="_blank")  Public Library
    .cat-rating-box.rating-action
        .star-bx
            i.fa.fa-star.active
            i.fa.fa-star.active
            i.fa.fa-star.active
            i.fa.fa-star
            i.fa.fa-star
        p.rating-count ( 1 vote )
    .bok-mk.bok-mk--clickable
        a.bookmark_highlight(href="javascript:void(0);")
    .pic
         a(href="#")
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            img(src="../assets/uploads/slider-03.jpeg", alt="Super Scenic 72 Mile Garage Sale")
    .b-btn.cat-detail
        a(href="#", class="btn btn-cat-detail") BUY TICKETS
        a(href="#", class="btn btn-cat-detail") CHECK DISCOUNT
        a(href="#", class="btn btn-cat-detail") ADD IT
    p.desc This shopping extravaganza runs from Ponte Vedra to Flagler Beach offering 10 community shopping sites and 100 others along the way! Don’t miss the opportunity for rare finds, antiques, art and everything else you can imagine. Along the way, pick up raffle tickets for a chance to win one of four vacation prize at ...
        a(href="javascript:;", class="vmore") View more
section.list-category
    article.category-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            .bok-mk.bok-mk--clickable
                a.bookmark_highlight(href="javascript:void(0);")
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
    article.category-itm
        .left-event-time
            .month
                span AUG
                span 17
        .pic
            a(href="#")
                img(src="../assets/uploads/testw.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            .bok-mk.bok-mk--clickable
                a.bookmark_highlight(href="javascript:void(0);")
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
            .b-btn.category
                a(href="#", class="btn btn-category") BUY TICKETS
                a(href="#", class="btn btn-category") CHECK DISCOUNT
                a(href="#", class="btn btn-category") ADD IT

    article.category-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/joy_thumb-300x200.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            .bok-mk.bok-mk--clickable
                a.bookmark_highlight(href="javascript:void(0);")
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
            .b-btn.category
                a(href="#", class="btn btn-category") BUY TICKETS
                a(href="#", class="btn btn-category") CHECK DISCOUNT
                a(href="#", class="btn btn-category") ADD IT
    article.category-itm
        .left-event-time
            .month
                span AUG
                span 17
        .pic
            a(href="#")
                img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .category-t
            h2.category-ttl
                a(href="#")  Wednesday Brown Bag Lunch - Beauty in Batik
            p.meta.auth Presented by
                a(href="#", target="_blank") St. Helena Public Library
                |  at
                a(href="#", target="_blank") Public Library
            .cat-rating-box.rating-action
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
            a(href="javascript:;", class="vmore") View more
            .b-btn.category
                a(href="#", class="btn btn-category") BUY TICKETS
                a(href="#", class="btn btn-category") CHECK DISCOUNT
                a(href="#", class="btn btn-category") ADD IT
section.list-more-category
    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/b1.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT

    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/b1.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT

    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/test.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT
    .more-cat-itm
        .more-pic
            a(href="#", target="_blank")
                img(src="../assets/uploads/testw.jpg", alt="The Layered Surface on Clay with Meredith Host")
        .more-ct
            h3
                a(href="#", target="_blank") The Layered Surface on Clay with Meredith Host
            p.meta.auth
                | Presented by
                a(href="#", target="_blank")  St. Helena Public Library
                | at
                a(href="#", target="_blank")  Public Library
            p.p-date
                | Oct 10 - Nov 2,
                span  2014
            .more-cat-rating-box
                .star-bx
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star.active
                    i.fa.fa-star
                    i.fa.fa-star
                p.rating-count ( 1974 votes )
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the ...
                a(href="javascript:;", class="vmore") View more
        .b-btn
            a(href="#", class="btn btn-b") BUY TICKETS
            a(href="#", class="btn btn-b") CHECK DISCOUNT
            a(href="#", class="btn btn-b") ADD IT
