.pic
    a(href="#")
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
.blk-detail-single--event.clearfix
    h1.p-ttl 20 Inspiring Free WordPress Themes To Start Anew in 2014
    p.meta.auth
        | Presented by
        a(href="#", target="_blank")  St. Helena Public Library
        | at
        a(href="#", target="_blank")  Public Library
    .b-share-cat.b-share--full
        label
            | &nbsp;
            span Share
        a(href="#", target="_blank", class="sc lk bg_social")
            i.fa.fa-linkedin
        a(href="#", target="_blank", class="sc tw bg_social")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc fb bg_social")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc google bg_social")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc inst bg_social")
            span
                i.fa.fa-instagram
        a(href="#", id="print2", class="pt print")
            i.fa.fa-print
        a(href="#", class="pt email")
            i.fa.fa-envelope-o
    .rating-box.rating-action
        .like
            a(href="javascript:;") 1974
        .cm
            a(href="javascript:;") Comment
        .bok-mk
            a(href="javascript:;") Bookmark
h3.a-txt-fea
    | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
.b-btn
    a(href="#", class="btn btn-b") BUY TICKETS
    a(href="#", class="btn btn-b") CHECK DISCOUNT
.a-desc
    p But when they unexpectedly discover they’re now in the same high school.
    p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
        a(href="javascript:;", class="vmore") View more
    .a-desc-more
        p But when they unexpectedly discover they’re now in the same high school.
        p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG