.blog-bkl
    .b-share-cat.art
        label
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc tw")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-pinterest-square
        a(href="#", target="_blank", class="sc lk")
            i.fa.fa-linkedin
        a(href="#", id="print", class="pt print")
            i.fa.fa-print
        a(href="#", id="email", class="pt email")
            i.fa.fa-envelope-o
    h1(class="p-ttl") 1440 Countdown: Make A Play In 24 Hours
    .el-blk.edu-detail
        .art-pic
            img(alt="image", src="../assets/uploads/edu-detail.jpg")
        .edu-detail-desc
             p Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process.  Located in the Saratoga hills, Montalvo occupies a
                |Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process.  Located in the Saratoga hills, Montalvo occupies a
.blog-bkl
    .a-block
        h4 EDUCATOR CONTACT INFO
        .art-desc
            .el-blk.social
                P
                    i(class="fa fa-envelope fa-lg")
                    span Email:
                    a(class="vmore", href="#") email@gmail.com
                P
                    i(class="fa fa-link fa-lg")
                    span Website:
                    a(class="vmore", href="#") http://www.abhinaya.org

                p
                    i(class="fa fa-star fa-lg")
                    span Blog:
                    a(class="vmore", href="#") blog link
                p
                    i(class="fa fa-facebook fa-lg")
                    span Facebook:
                    a(class="vmore", href="#") www.facebook.com/pages/Abhinaya-Dance-Company-of-San-Jose/1145958 05246422
                p
                    i(class="fa fa-twitter fa-lg")
                    span Twitter:
                    a(class="vmore", href="#") Twitter link
                p
                    i(class="fa fa-camera-retro fa-lg")
                    span Instagram:
                    a(class="vmore", href="#") Instagram link
                p
                    i(class="fa fa-linkedin-square fa-lg")
                    span LinkedIn:
                    a(class="vmore", href="#") LinkedIn link
            .el-blk.location
                p
                    span
                        i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;&nbsp;
                    label 361 Ivy Stone Dr, Macon, GA 31220
                p
                    span
                        i(class="fa fa-phone fa-lg")&nbsp;&nbsp;
                    label (84) 920256301
                p
                    span
                        i(class="fa fa-fax fa-lg")&nbsp;&nbsp;
                        i(class="fa fa-skype fa-lg")&nbsp;&nbsp;
                    a(href="#", class="skype")
                        span (84) 920256311

            .el-blk
                .b-btn.t-c
                    a(class="btn btn-b", href="#") TEACHERS! APPLY FOR A GRANT FOR THIS PROGRAM
.blog-bkl
    .a-block
        h4 SELECT A PROGRAM
        .el-blk
            .select-bkl
                select
                    option(value="0") 1400 Countdown: Make a Play in 24 hours
                    option(value="") A
                    option(value="") B
                    option(value="") C
                    option(value="") D
                    option(value="") E
                .arrow-down
                    <i class="fa fa-sort-desc fa-lg"></i>
.blog-bkl
    .pgtt-blk
        .pg-tt
            h4 1400 Countdown: Make a Play in 24 hours
        .triangle-right
            img(alt="arrow", src="../images/r-arrow.jpg")
    .pg-bkl
        .arrow-right
        h4 Program description
        .des
            p Program description Program description Program description <a href="http://www.sbmp.com/">Santa Barbara Music Publishing</a> Program description Program description Program description Program description Program description.
                a(href="javascript:;", class="vmore") View more
    .pg-bkl
        .arrow-right
        h4 Booking / scheduling contact
        .booking
            p
                span
                    i(class="fa fa-fax fa-lg")&nbsp;&nbsp;&nbsp;
                    i(class="fa fa-skype fa-lg")
                a(href="#", class="skype sc")
                    span (84) 920256311
            P
                i(class="fa fa-envelope fa-lg")&nbsp;
                a(class="vmore", href="#")  Email@gmail.com
            P
                i(class="fa fa-check-square fa-lg")&nbsp;
                a(class="vmore", href="#")&nbsp;&nbsp;Book this organizayion
    .pg-bkl
        .arrow-right
        h4 Program Detail
        .des
            .item
                span Artistic discipline:
                p Dance, Literary Arts, Media, Multi-discipline, Music, Storytelling, Theater, Visual Arts
            .item
                span Program type:
                p Professional Development
            .item
                span Population served:
                p Pre-K, Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8
            .item
                span Subject:
                p Fine Arts, Language Arts, Math, Science
            .item
                span Bilingual:
                p No
            .item
                span Available dates:
                p
                    i(class="fa fa-calendar fa-2x") &nbsp;&nbsp;
                    a(class="avai-date") 09/03/2014
            .item
                span Location(s):
                p Montalvo Arts Center
    .pg-bkl
        .arrow-right
        h4 support material
        .des
            p
                i(class="fa fa-file-pdf-o")
                a(class="vmore", href="#") 2015 pdf document
    .pg-bkl
        .arrow-right
        h4 other qualifications
        .des
            .item
                span Conducts educational programming for 2 or more years:
                |Yes
            .item
                span Performs criminal background checks on staff with youth contact:
                |Yes
            .item
                span Maintains general liability insurance:
                |Yes
            .item
                span Three letters of recommendation / references available:
                |Yes
            .item
                span Provides study guides for teachers and or students:
                |Yes
            .item
                span Connects to State and or Common Core Curriculum Standards:
                |Yes
            .item
                span Provides tools to assess student learning (workshops and residencies):
                |Yes
            .item
                span Provides scholarship and reduced fees:
                |Yes
            .item
                span Conducts ongoing assessments of program quality:
                |Yes
    .pg-bkl
        .arrow-right
        h4 photos
        .des
            .a-block-ct-photo.edu-photo
                .photo-inner
                        a(href="#", class="fullscreen")
                            <i class="fa fa-arrows-alt fa-2x"></i>
                        ul.bxslider
                            li
                                img(src="../assets/uploads/mixed2-04.jpg")
                            li
                                img(src="../assets/uploads/test.jpg")
                            li
                                img(src="../assets/uploads/recent-00.jpg")
                            li
                                img(src="../assets/uploads/mixed2-04.jpg")
                            li
                                img(src="../assets/uploads/sculpt-03.jpg")
                        #bx-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/abhinaya1-150x150.jpg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/test.jpg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/recent-00.jpg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/mixed2-04.jpg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/sculpt-03.jpg")
                .loader
                    a
                        <i class="fa fa-spinner fa-spin fa-3x"></i>
            .photo-box(style="display:none")
                                .photo(class="selected", data-target="1")
                                    img(src="../assets/uploads/recent-00.jpg")
                                    .photo-caption
                                        p The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1
                                .photo(data-target="2")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 2
                                .photo(data-target="3")
                                    img(src="../assets/uploads/mixed1-00.jpg")
                                    .photo-caption
                                        p The picture caption 3
                                .photo(data-target="4")
                                    img(src="../assets/uploads/mixed2-04.jpg")
                                    .photo-caption
                                        p The picture caption 4
                                .photo(data-target="5")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 5
                                .photo(data-target="6")
                                    img(src="../assets/uploads/test2.jpg")
                                    .photo-caption
                                        p The picture caption 6
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(class="current", href="#",data-id="1")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>

    .pg-bkl
        .arrow-right
        h4 videos
        .des
            .a-block-ct-video.edu-photo
                    .video-inner
                        ul.video-block
                            li.vdeo(class="selected", data-target="1")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="0")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="1")
                                iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;wmode=opaque")
                            li.vdeo(data-target="2")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="3")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="4")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="5")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="6")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                        ul.video-description
                            li
                                p Video description here Video description here Video description here Video description here Video description here Video description here
                        #video-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/test2_thum.jpg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                    .vd-loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>

.line-light
.blog-bkl
    .comment-box
        p.cment
            a (02)
            | comments
        ul(class="comment-list")
                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply

                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply
.blog-bkl
    .cm-form
                h3 Post a Comment
                form( method="post", action="#", id="commentform", class="comment-form", novalidate="")
                    .ipt
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your name")
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your email")
                    .ipt
                        textarea(class="inp-desc-event", placeholder="Comment")

                    p.t-l.b-btn.aln-l
                        input(type="submit", name="submit", class="btn btn-b", value="Post Comment", tabindex="4")

