.pic
    a(href="#")
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
h3.a-txt-fea
    | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
.b-btn
    a(href="#", class="btn btn-b") BUY TICKETS
    a(href="#", class="btn btn-b") CHECK DISCOUNT
.a-desc
    p But when they unexpectedly discover they’re now in the same high school.
    p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
        a(href="javascript:;", class="vmore") View more
    .a-desc-more
        p But when they unexpectedly discover they’re now in the same high school.
        p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG