.a-block.datetime
    h4 INDIVIDUAL DATES & TIMES *
        span 
            i.fa.fa-clock-o
    .a-block-ct
        .clearfix
            ul(class="ind-time")
                li
                    |Dec 3, 2014: 3:35 pm - 4 pm (Wed)
                li
                    |Dec 3, 2014: 3:35 pm - 4 pm (Wed)
                                     
        p.t-r 
                <a class="vmore" href="javascript:;">View more</a>
        .not
            span * 
            |  Event durations (if noted) are approximate. Please check with the presenting organization or venue to confirm start times and duration.
