h1.p-ttl Susan Mincey
    p.meta
        |Visual Artist: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art
    .rating-box.rating-action
        .like
            a(href="javascript:;") 1974
        .cm
            a(href="javascript:;") Comment
.pic
    a(href="#")
        img(src="../assets/uploads/artist-detail-img.jpg", alt="Susan Mincey")
h3.a-txt-fea
    | Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.
.b-btn
    a(href="#", class="btn btn-b") BUY TICKETS
    a(href="#", class="btn btn-b") CHECK DISCOUNT
.a-desc
    p But when they unexpectedly discover they’re now in the same high school.
    p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG
        a(href="javascript:;", class="vmore") View more
    .a-desc-more
        p But when they unexpectedly discover they’re now in the same high school.
        p Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG