.a-block.grey
    h4 MAKE IT A NIGHT
        span
            i.fa.fa-map-marker
    .a-block-ct
        form(id="search-map", class="search-map-frm", method="POST", action="")
            i.fa.fa-search.fa-flip-horizontal
            input(type="text", placeholder="Find Restaurants near this venue..." )
    .find-map
        img(src="../assets/uploads/find-map.jpg", alt="find map")
    .filter-map
        table.tbl
            tr
                td(rowspan="2", class="vtop") FILTER MAP BY
                td
                    input(type="checkbox", name="f-map-all", value="all", id="m-all")
                    label(for="m-all")
                        img(src="../images/ico-g-all.png", alt="ico-g-all.png")
                        |  All
                td
                    input(type="checkbox", name="f-map-drink", value="drink", id="m-drink")
                    label(for="m-drink")
                        img(src="../images/ico-g-cup.png", alt="ico-g-cup.png")
                        |  Drink
                td
                    input(type="checkbox", name="f-map-venue", value="venue", id="m-venue")
                    label(for="m-venue")
                        img(src="../images/ico-g-star.png", alt="ico-g-star.png")
                        |  Venue only
            tr
                td
                    input(type="checkbox", name="f-map-food", value="food", id="m-food")
                    label(for="m-food")
                        img(src="../images/ico-g-knife.png", alt="ico-g-knife.png")
                        |  Food
                td(colspan="2")
                    input(type="checkbox", name="f-map-accom", value="food", id="m-accom")
                    label(for="m-accom")
                        img(src="../images/ico-g-wscreen.png", alt="ico-g-wscreen.png")
                        |  Accommodation
    .nofi-map
        p Don’t see your business listed here?
            a(href="http://", target="_blank") Email us
            |   to add it!
        a(href="javascript:;", data-target="nofi-more", class="nofi-exp") Expand [+]
    .nofi-more
        .n-star
            span
                i.fa.fa-star
            p ALBUQUERQUE LITTLE THEATRE
        .n-blk
            label
                span FOOD
            .n-blk-ct
                ul
                    li
                        img(src="../images/ico-y-knife.png", alt="ico-y-knife.png")
                        |  Cheese Coffee Caf Downtown
                    li
                        img(src="../images/ico-y-knife.png", alt="ico-y-knife.png")
                        |  Liu Chinese Fast Food
                    li
                        img(src="../images/ico-y-knife.png", alt="ico-y-knife.png")
                        |  Vinaigrette
                    li
                        img(src="../images/ico-y-knife.png", alt="ico-y-knife.png")
                        |  Garcias Kitchen The Original
                    li
                        img(src="../images/ico-y-knife.png", alt="ico-y-knife.png")
                        |  Route 66 Malt Shop
                    li
                        img(src="../images/ico-y-knife.png", alt="ico-y-knife.png")
                        |  Bottger Mansion of Old Town
        .n-blk
            label
                span Accommodation
            .n-blk-ct
                ul
                    li
                        img(src="../images/ico-y-wscreen.png", alt="ico-y-wscreen.png")
                        |  Bottger Mansion of Old Town
                    li
                        img(src="../images/ico-y-wscreen.png", alt="ico-y-wscreen.png")
                        |  Liu Chinese Fast Food
        .n-blk
            label
                span Drink
            .n-blk-ct
                ul
                    li
                        img(src="../images/ico-y-cup.png", alt="ico-y-wscreen.png")
                        |  Bottger Mansion of Old Town
                    li
                        img(src="../images/ico-y-cup.png", alt="ico-y-wscreen.png")
                        |  Liu Chinese
                    li
                        img(src="../images/ico-y-cup.png", alt="ico-y-wscreen.png")
                        |  Vinaigrette