.a-block.more-from
    h4 MORE FROM LIMELIGHT THEATRE
    .a-block-ct
        .more-frm-list
            .more-frm-itm
                .more-pic
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/squr_1.jpg", alt="squr")
                .more-ct
                    h3
                        a(href="#", target="_blank") CHINA OPERA PHANTOM
                    p.meta.auth
                        | Presented by
                        a(href="#", target="_blank")  St. Helena Public Library
                        | at
                        a(href="#", target="_blank")  Public Library
                    p.p-date
                        | Oct 10 - Nov 2,
                        span  2014
                    .rating-box.rating-action
                        .like
                            a(href="javascript:;") 1974
                .b-btn
                    a(href="#", class="btn btn-b") BUY TICKETS
                    a(href="#", class="btn btn-b") ATTENDING?
            .more-frm-itm
                .more-pic
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/squr_2.jpg", alt="squr")
                .more-ct
                    h3
                        a(href="http://", target="_blank") ULTRON VS AVENGERS 2015
                    p.meta.auth
                        | Presented by
                        a(href="#", target="_blank")  St. Helena Public Library
                        | at
                        a(href="#", target="_blank")  Public Library
                    p.p-date
                        | Oct 9 - Nov 7,
                        span  2014
                    .rating-box.rating-action
                        .like
                            a(href="javascript:;") 1974
                .b-btn
                    a(href="#", class="btn btn-b") BUY TICKETS
                    a(href="#", class="btn btn-b") ATTENDING?
            p.t-r
                <a class="vmore" href="javascript:;">View more</a>