article.content-page.astro-detail
    h1.p-ttl 20 Inspiring Free WordPress Themes To Start Anew in 2014
    p.meta.auth
        | Presented by
        a(href="#", target="_blank")  St. Helena Public Library
        | at
        a(href="#", target="_blank")  Public Library
    .b-share-cat.b-share--full
        label
            | &nbsp;
            span Share
        a(href="#", target="_blank", class="sc lk bg_social")
            i.fa.fa-linkedin
        a(href="#", target="_blank", class="sc tw bg_social")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc fb bg_social")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc google bg_social")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc inst bg_social")
            span
                i.fa.fa-instagram
        a(href="#", id="print2", class="pt print")
            i.fa.fa-print
        a(href="#", class="pt email")
            i.fa.fa-envelope-o
    .rating-box.rating-action
        .like
            a(href="javascript:;") 1974
        .cm
            a(href="javascript:;") Comment
        .bok-mk
            a(href="javascript:;") Bookmark
    .astro-featr
        article.blog-itm
            include detail_feature.jade
            .clearfix
            .a-block.adm
                h4 ADMISSION INFO
                    span
                        i.fa.fa-info
                .a-block-ct
                    p Adult $24.00, Senior (65 & up) $22.00, Student (13-University) $18, Child (12 & under) $12
                    p
                        b Contact:
                        | 928-555-555
            include detail_datetime.jade
            include detail_location.jade
            .a-block.fb-comment
                | FB COMMNENT PLUGIN
            include detail_makeit.jade
            include detail_more_from.jade
            .a-block
                h4 VIDEOS
                    span
                        i.fa.fa-film
                .a-block-ct-video
                    .video-inner
                        ul.video-block
                            li.vdeo(class="selected", data-target="1")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="0")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="1")
                                iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;wmode=opaque")
                            li.vdeo(data-target="2")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="3")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="4")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="5")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="6")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                        #video-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/slider-01.jpeg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/slider-02.jpeg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/slider-03.jpeg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/slider-04.jpeg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/slider-05.jpeg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/slider-06.jpeg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/slider-07.jpeg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/slider-08.jpeg")
                    .vd-loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                h4 PHOTOS
                    span
                        i.fa.fa-picture-o
                .a-block-ct-photo
                    .photo-inner
                        a(href="#", class="fullscreen")
                            <i class="fa fa-arrows-alt fa-2x"></i>
                        ul.bxslider
                            li
                                img(src="../assets/uploads/slider-01.jpeg")
                            li
                                img(src="../assets/uploads/slider-02.jpeg")
                            li
                                img(src="../assets/uploads/slider-03.jpeg")
                            li
                                img(src="../assets/uploads/slider-04.jpeg")
                            li
                                img(src="../assets/uploads/slider-05.jpeg")
                            li
                                img(src="../assets/uploads/slider-06.jpeg")
                            li
                                img(src="../assets/uploads/slider-07.jpeg")
                            li
                                img(src="../assets/uploads/slider-08.jpeg")
                        #bx-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/slider-01.jpeg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/slider-02.jpeg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/slider-03.jpeg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/slider-04.jpeg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/slider-05.jpeg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/slider-06.jpeg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/slider-07.jpeg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/slider-08.jpeg")
                    .loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                .photo-box(style="display:none")
                                .photo(class="selected", data-target="1")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1
                                .photo(data-target="2")
                                    img(src="../assets/uploads/Suzuki.jpg")
                                    .photo-caption
                                        p The picture caption 2
                                .photo(data-target="3")
                                    img(src="../assets/uploads/squr_1.jpg")
                                    .photo-caption
                                        p The picture caption 3
                                .photo(data-target="4")
                                    img(src="../assets/uploads/squr_2.jpg")
                                    .photo-caption
                                        p The picture caption 4
                                .photo(data-target="5")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 5
                                .photo(data-target="6")
                                    img(src="../assets/uploads/test2.jpg")
                                    .photo-caption
                                        p The picture caption 6
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(href="#",data-id="1")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>

            .a-block.review
                h4 MEMBER REVIEWS
                    span
                        i.fa.fa-user
                .a-block-ct
                    p.t-c There are currently no reviews/comments for this event. Be the first to add a review/comment , and let folks know what you think!
            include detail_comment.jade




