.blog-bkl
    .b-share-cat.art
        label
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc tw")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-pinterest-square
        a(href="#", target="_blank", class="sc lk")
            i.fa.fa-linkedin
        a(href="#", id="print", class="pt print")
            i.fa.fa-print
        a(href="#", id="email", class="pt email")
            i.fa.fa-envelope-o
    h1(class="p-ttl") Susan Mincey
    .art-career Visual Artist: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art
    .rating-box.rating-action.rating-art
        .like
            a(href="javascript:;") 1974
        .cm
            a(href="javascript:;") Comment
    .el-blk
        .art-pic
            img(alt="image", src="../assets/uploads/Chihuly.jpeg")
        .art-social
            .el-blk
                .art-social-item
                    i(class="fa fa-envelope fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Email
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-link fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Website
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-star fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Blog
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-facebook fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Facebook
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-twitter fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Twitter
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-camera-retro fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Instagram
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-linkedin-square fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | LinkedIn
            .el-blk.location
                p
                    span
                        i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;&nbsp;
                    label 361 Ivy Stone Dr, Macon, GA 31220
                p
                    span
                        i(class="fa fa-phone fa-lg")&nbsp;&nbsp;
                    label (84) 920256301
                p
                    span
                        i(class="fa fa-fax fa-lg")&nbsp
                    label (84) 920256311
            .el-blk
                .b-btn.fl
                    a(href="#", class="btn btn-b") ADD IT
    .el-blk
        .art-desc
            p At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
                 |adult. Learn to read music, use good technique and be proud of your results.
                 | Audience or an audience of one, love the music that you create.
                 | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                 |it, why is it so important to me.
                 |adult. Learn to read music, use good technique and be proud of your results.
                 | Audience or an audience of one, love the music that you create.
                 | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                 |it, why is it so important to me.
                 a(href="javascript:;", class="more") View more
.blog-bkl
    .a-block

                h4 PHOTOS
                    span
                        i.fa.fa-picture-o
                .a-block-ct-photo
                    .photo-inner
                        a(href="#", class="fullscreen")
                            <i class="fa fa-arrows-alt fa-2x"></i>
                        ul.bxslider
                            li
                                img(src="../assets/uploads/mixed2-04.jpg")
                            li
                                img(src="../assets/uploads/test.jpg")
                            li
                                img(src="../assets/uploads/recent-00.jpg")
                            li
                                img(src="../assets/uploads/mixed2-04.jpg")
                            li
                                img(src="../assets/uploads/sculpt-03.jpg")
                        #bx-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/mixed2-04.jpg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/test.jpg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/recent-00.jpg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/mixed2-04.jpg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/sculpt-03.jpg")
                    .loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                .photo-box(style="display:none")
                                .photo(class="selected", data-target="1")
                                    img(src="../assets/uploads/recent-00.jpg")
                                    .photo-caption
                                        p The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1
                                .photo(data-target="2")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 2
                                .photo(data-target="3")
                                    img(src="../assets/uploads/mixed1-00.jpg")
                                    .photo-caption
                                        p The picture caption 3
                                .photo(data-target="4")
                                    img(src="../assets/uploads/mixed2-04.jpg")
                                    .photo-caption
                                        p The picture caption 4
                                .photo(data-target="5")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 5
                                .photo(data-target="6")
                                    img(src="../assets/uploads/test2.jpg")
                                    .photo-caption
                                        p The picture caption 6
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(class="current", href="#",data-id="1")
                                                img(src="../assets/uploads/mixed2-04.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/recent-00.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/mixed2-04.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/recent-00.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/recent-00.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>
                h4 VIDEOS
                    span
                        i.fa.fa-film
                .a-block-ct-video
                    .video-inner
                        ul.video-block
                            li.vdeo(class="selected", data-target="1")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="0")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="1")
                                iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;wmode=opaque")
                            li.vdeo(data-target="2")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="3")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="4")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="5")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="6")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                        ul.video-description
                            li
                                p Video description here Video description here Video description here Video description here Video description here Video description here
                        #video-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/test2_thum.jpg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                    .vd-loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                h4 AUDIO
                    span
                        i.fa.fa-file-audio-o
                .a-block-ct
                    ul(class="audio-list")
                        li
                            p
                                iframe(name="mini", style="border:0px;width:100%;height:100px;", src="http://widget.cdbaby.com/85125bbb-7ec6-47e8-8dec-aeadd8f97504/mini/light/opaque")
                        li
                            p
                                strong The audio title
                            p
                                audio(controls="controls", style="border:0px;width:100%;height:50px;")
                                    source(src="http://www.w3schools.com/html/horse.ogg", type="audio/ogg")
                                    source(src="http://www.w3schools.com/html/horse.mp3", type="audio/mpeg")
                                    embed(height="50", width="100%",  src="http://www.w3schools.com/html/horse.mp3")
                        li
                            p
                                iframe(title="Store Widget", src="http://www.cdbaby.com/widgets/store/store.aspx?id=CsfSGWXefhFmksmRlJNx9A%3d%3d&type=ByCustomer&c1=0x000000&c2=0xE0E0E0&c3=0xCCCCCC&c4=0x666666&c5=0x333333&c6=0xFFFFFF&c7=0xFFFFFF", width="100%", height="575px", frameborder="0", scrolling="no")
                    p.t-r
                        <a class="vmore" href="javascript:;">View more</a>
.blog-bkl
    .a-block
        h4 MORE ABOUT THE ARTIST
        .el-blk
            p.custom
                strong
                    |What did the Fellowship or Laureate mean to you at the time you received it?
            p.custom
                |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .el-blk
            p.custom
                strong
                    |What did the Fellowship or Laureate mean to you at the time you received it?
            p.custom
                |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .el-blk
            p.custom
                strong
                    |What did the Fellowship or Laureate mean to you at the time you received it?
            p.custom
                |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .el-blk
            p.custom
                strong
                    |What did the Fellowship or Laureate mean to you at the time you received it?
            p.custom
                |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
.blog-bkl.artist-tab
    nav(class="nav-tab")
        ul(class="tab-list")
            li
                a(href="#", data-id="1") UPCOMING EVENTS
            li
                a(href="#", data-id="2") PAST EVENTS
    div(class="tab-bt art")
.blog-bkl.tab(data-target="1")
    .a-block-ct
            .more-frm-itm
                .more-pic
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/artist-thumb.jpg", alt="squr")
                .more-ct
                    h3
                        a(href="#", target="_blank") GREASE
                    p.meta.auth
                        | Presented by
                        a(href="#", target="_blank")  St. Helena Public Library
                        | at
                        a(href="#", target="_blank")  Public Library
                    p.p-date
                        | Oct 10 - Nov 2,
                        span  2014
                    .rating-box.rating-action
                        .like
                            a(href="javascript:;") 1974
                .b-btn
                    a(href="#", class="btn btn-b") ADD IT
            .more-frm-itm
                .more-pic
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/artist-thumb.jpg", alt="squr")
                .more-ct
                    h3
                        a(href="http://", target="_blank") GREASE
                    p.meta.auth
                        | Presented by
                        a(href="#", target="_blank")  St. Helena Public Library
                        | at
                        a(href="#", target="_blank")  Public Library
                    p.p-date
                        | Oct 9 - Nov 7,
                        span  2014
                    .rating-box.rating-action
                        .like
                            a(href="javascript:;") 1974
                .b-btn
                    a(href="#", class="btn btn-b") ADD IT
            p.t-r
                <a class="vmore" href="javascript:;">View more</a>
    .line-light
.blog-bkl.tab(data-target="2")
    .a-block-ct
            .more-frm-itm
                .more-pic
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/artist-thumb.jpg", alt="squr")
                .more-ct
                    h3
                        a(href="#", target="_blank") Susan
                    p.meta.auth
                        | Presented by
                        a(href="#", target="_blank")  St. Helena Public Library
                        | at
                        a(href="#", target="_blank")  Public Library
                    p.p-date
                        | Oct 10 - Nov 2,
                        span  2014
                    .rating-box.rating-action
                        .like
                            a(href="javascript:;") 1974
                .b-btn
                    a(href="#", class="btn btn-b") ADD IT
            .more-frm-itm
                .more-pic
                    a(href="#", target="_blank")
                        img(src="../assets/uploads/artist-thumb.jpg", alt="squr")
                .more-ct
                    h3
                        a(href="http://", target="_blank") GREASE
                    p.meta.auth
                        | Presented by
                        a(href="#", target="_blank")  St. Helena Public Library
                        | at
                        a(href="#", target="_blank")  Public Library
                    p.p-date
                        | Oct 9 - Nov 7,
                        span  2014
                    .rating-box.rating-action
                        .like
                            a(href="javascript:;") 1974
                .b-btn
                    a(href="#", class="btn btn-b") ADD IT
            p.t-r
                <a class="vmore" href="javascript:;">View more</a>
    .line-light
.blog-bkl
    .comment-box
        p.cment
            a (02)
            | comments
        ul(class="comment-list")
                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply

                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                | I would like to look at you boots but cant get prices
                            p.t-l
                                a(class="comment-reply-link", href="#")
                                    i(class="fa fa-reply-all")
                                    |Reply
.blog-bkl
    .cm-form
                h3 Post a Comment
                form( method="post", action="#", id="commentform", class="comment-form", novalidate="")
                    .ipt
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your name")
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your email")
                    .ipt
                        textarea(class="inp-desc-event", placeholder="Comment")

                    p.t-l.b-btn.aln-l
                        input(type="submit", name="submit", class="btn btn-b", value="Post Comment", tabindex="4")

