.blog-bkl.organization
    .b-share-cat.art
        label
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc tw")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-google-plus
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-pinterest-square
        a(href="#", target="_blank", class="sc lk")
            i.fa.fa-linkedin
        a(href="#", id="print", class="pt print")
            i.fa.fa-print
        a(href="#", id="email", class="pt email")
            i.fa.fa-envelope-o
    h1(class="p-ttl") Benjamin Harrison
    .icons-list
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowmenty.
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.
        span
            img(src="../assets/uploads/icon-crf1.jpg")
            i(class="fa fa-caret-down ttip")
            .show-tip
                | Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.
    .org-type Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a>
    .org-type Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a>
    .org-type Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a>
    .rating-box.rating-action.rating-art
        .like
            a(href="javascript:;") 1974
        .cm
            a(href="javascript:;") Comment
    .el-blk
        .art-pic
            img(alt="image", src="../assets/uploads/art.jpg")
        .art-social
            .el-blk
                .art-social-item
                    i(class="fa fa-envelope fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Email
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-link fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Website
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-star fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Blog
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-facebook fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Facebook
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-twitter fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Twitter
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-camera-retro fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | Instagram
                    .slash
                        | /
                .art-social-item
                    i(class="fa fa-linkedin-square fa-lg")&nbsp;&nbsp;&nbsp;
                    a(href="#")
                        | LinkedIn
            .el-blk.location
                p
                    span
                        i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;&nbsp;
                    label 361 Ivy Stone Dr, Macon, GA 31220
                p
                    span
                        i(class="fa fa-phone fa-lg")&nbsp;&nbsp;
                    label (84) 920256301
                p
                    span
                        i(class="fa fa-fax fa-lg")&nbsp
                    label (84) 920256311
            .el-blk
                .b-btn.fl
                    a(href="#", class="btn btn-b") ADD IT
    .el-blk
        .art-desc
            p 888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an organization dedicated to promoting, performing and teaching circus arts in order to build confidence, expand life choices and inspire artistry. Each summer, experienced educators team up with drama, art, circus, and movement professionals to offer kids ages 9-16 an...
                a(href="javascript:;", class="more") View more
    .el-blk
        p Medium type: <a class="p-content", href="#">Architectural Detailing</a>
        p Date created: 2008
        p Dimensions: 1,000 sq. feet
.blog-bkl
    .a-block
        h4 LOCATION
            span
                i(class="fa fa-map-marker")
    .a-block-ct.locatn
        div(class="loc-address")
            span
                b Old Trafford
            p Old Trafford, Manchester, CA, 0192
        .lo-left.venue
            img(src="../assets/uploads/find-map.jpg", alt="map-location.jpg")
            p.t-r
                a(href="http://", target="_blank") Full map and directions
.blog-bkl
    .a-block
        h4 ASSOCIATED ARTISTS
        .el-blk
            p . <a class="p-content", href="#">Tom Torluemke</a>
            p . <a class="p-content", href="#">Tom Torluemke</a>
            p . <a class="p-content", href="#">Tom Torluemke</a>
.blog-bkl
    .a-block
        h4 MORE ABOUT THIS PIECE
        .el-blk
            p.custom
                strong
                    |What did the Fellowship or Laureate mean to you at the time you received it?
            p.custom
                |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .el-blk
            p.custom
                strong
                    |What did the Fellowship or Laureate mean to you at the time you received it?
            p.custom
                |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
.blog-bkl
    .a-block

                h4 PHOTOS
                    span
                        i.fa.fa-picture-o
                .a-block-ct-photo
                    .photo-inner
                        a(href="#", class="fullscreen")
                            <i class="fa fa-arrows-alt fa-2x"></i>
                        ul.bxslider
                            li
                                img(src="../assets/uploads/mixed2-04.jpg")
                            li
                                img(src="../assets/uploads/test.jpg")
                            li
                                img(src="../assets/uploads/recent-00.jpg")
                            li
                                img(src="../assets/uploads/mixed2-04.jpg")
                            li
                                img(src="../assets/uploads/sculpt-03.jpg")
                        #bx-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/mixed2-04.jpg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/test.jpg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/recent-00.jpg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/mixed2-04.jpg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/sculpt-03.jpg")
                    .loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
                .photo-box(style="display:none")
                                .photo(class="selected", data-target="1")
                                    img(src="../assets/uploads/recent-00.jpg")
                                    .photo-caption
                                        p The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1
                                .photo(data-target="2")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 2
                                .photo(data-target="3")
                                    img(src="../assets/uploads/mixed1-00.jpg")
                                    .photo-caption
                                        p The picture caption 3
                                .photo(data-target="4")
                                    img(src="../assets/uploads/mixed2-04.jpg")
                                    .photo-caption
                                        p The picture caption 4
                                .photo(data-target="5")
                                    img(src="../assets/uploads/test.jpg")
                                    .photo-caption
                                        p The picture caption 5
                                .photo(data-target="6")
                                    img(src="../assets/uploads/test2.jpg")
                                    .photo-caption
                                        p The picture caption 6
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(class="current", href="#",data-id="1")
                                                img(src="../assets/uploads/mixed2-04.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/recent-00.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/mixed2-04.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/recent-00.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/recent-00.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>
                h4 VIDEOS
                    span
                        i.fa.fa-film
                .a-block-ct-video
                    .video-inner
                        ul.video-block
                            li.vdeo(class="selected", data-target="1")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="0")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="1")
                                iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;wmode=opaque")
                            li.vdeo(data-target="2")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="3")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="4")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="5")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                            li.vdeo(data-target="6")
                                iframe(src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;wmode=opaque")
                        ul.video-description
                            li
                                p Video description here Video description here Video description here Video description here Video description here Video description here
                        #video-pager
                            a(data-slide-index="0", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="1", href="")
                                img(src="../assets/uploads/test2_thum.jpg")
                            a(data-slide-index="2", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="3", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="4", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="5", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                            a(data-slide-index="6", href="")
                                img(src="../assets/uploads/squr_1_thum.jpg")
                            a(data-slide-index="7", href="")
                                img(src="../assets/uploads/test-thum.jpg")
                    .vd-loader
                        a
                            <i class="fa fa-spinner fa-spin fa-3x"></i>
.blog-bkl
    .comment-box
        .a-block
            h4 COMMENTS
                span
                    i.fa.fa-comment
            .a-block-ct
                .comments-area(id="comments")
                    h2.comments-title
                        | 4 comments
                        a(href="#respond")
                            | Add yours
                            i.fa.fa-long-arrow-right
        ul(class="comment-list")
                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                p
                                    |I would like to look at you boots but cant get prices
                            div(class="b-btn fl")
                                a(class="btn btn-b", href="#")
                                    |Reply

                li(class="comment-item")
                    .comment-pic
                        img(alt="avatr", src="../assets/uploads/a1.jpg")
                    .comment-ctent
                            label.author-n
                                | Brenda Wilson
                            .comment-content.comment
                                p
                                    | I would like to look at you boots but cant get prices
                            div(class="b-btn fl")
                                a(class="btn btn-b", href="#")
                                    |Reply
.blog-bkl
    .cm-form
                h3 Post a Comment
                form( method="post", action="#", id="commentform", class="comment-form", novalidate="")
                    .ipt
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your name")
                        .inp-half
                            input(type="text", class="inp-txt-event", placeholder="Your email")
                    .ipt
                        textarea(class="inp-desc-event", placeholder="Comment")

                    p.t-l.b-btn.aln-l
                        input(type="submit", name="submit", class="btn btn-b", value="Post Comment", tabindex="4")

