.a-block.locatn
    h4 LOCATION
        span
            i.fa.fa-map-marker
    .a-block-ct
        .lo-left
            .lo-map
                img(src="../assets/uploads/find-map.jpg", alt="map-location.jpg")
            .location-btn.b-btn
                a(href="#", class="btn btn-b") GET DIRECTIONS
        .lo-right
            b Albuquerque Little Theatre
            p 224 San Pasquale Avenue SW Albuquerque, NM 87104
        .clearfix
        .lo-meta.clearfix
            p
                b Accessibility Information:
                |  Currently, no accessibility information is available for this event.
            p
                b Connect with this Organization:
                a(href="http://", target="_blank", class="lo-link fb")
                    i.fa.fa-facebook.fa-lg
                a(href="http://", target="_blank", class="lo-link tw")
                    i.fa.fa-twitter.fa-lg
                a(href="http://", target="_blank", class="lo-link donat")
                    | DONATE