.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.el-blk
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="education-list.html")
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-thumb")
        li.edu
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img1.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...
        li.edu
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img2.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...
        li.edu
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img3.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...
        li.edu
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img2.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...
        li.edu
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img2.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...
        li.edu
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/edu-img3.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
