section.blk-fea-article.clearfix
    h2.fea-ttl.fea-ttl__centered
        span.fea-ttl__text featured articles
    .row.two-col
        .v-line
        .wc-l
            section.list-blog
                article.blog-itm
                    a(href="#")
                        figure.fea-img(style="background-image: url('../assets/uploads/bg4-s.jpg')")
                        .fea-cat john cassidy
                        h3 an attack on all of europe
                        .fea-author by john cassidy
                        .desc Can the E.U. respond effectively to Tueday's violence in Brussels white staying true to its inclusive value?
                article.blog-itm
                    a(href="#")
                        figure.fea-img(style="background-image: url('../assets/uploads/bg2-s.jpg')")
                        .fea-cat books
                        h3 why big business and big government haunt america
                        .fea-author by nicholas lemann
                        .desc From the Halmiton-Jefferson split to Bernie Sanders, our mistrust of magnitude has long played a role in politics
        .wc-r
            .fea-list
                .fea-itm
                    figure.fea-pic(style="background-image: url('../assets/uploads/bg3-s.jpg')")
                    .fea-info
                        .fea-cat cultural comment
                        h3 the stakes in hulk hogan's gawker lawsuit
                        .fea-author by fabio bertoni
                // END : ITM
                .fea-itm
                    figure.fea-pic(style="background-image: url('../assets/uploads/bg3-s.jpg')")
                    .fea-info
                        .fea-cat cultural comment
                        h3 the stakes in hulk hogan's gawker lawsuit
                        .fea-author by fabio bertoni
                // END : ITM
                .fea-itm
                    figure.fea-pic(style="background-image: url('../assets/uploads/bg3-s.jpg')")
                    .fea-info
                        .fea-cat cultural comment
                        h3 the stakes in hulk hogan's gawker lawsuit
                        .fea-author by fabio bertoni
                // END : ITM