section.featured-event-blk
    h3 Featured Events
    .wrapper-featured.clearfix
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time.time-full-layout
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master
                        | musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        label &nbsp;
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians
                        | was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
        .item-cat.vertical
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin
            .fea-evt-row
                .fea-evt-item.vertical.item-feature-event
                    .img-wrap
                        a(href="#", class="evt-img")
                            img(src="../assets/uploads/bg2-s.jpg", alt="")
                    p.evt-time
                        | Jan. 7
                    a(href="#", class="evt-title")
                        | south florida jazz: new york standards quartet
                    p.evt-description
                        | The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians
                    .evt-action
                        a(href="#", class="btn btn-l") more info
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin

