.top-blk.social-top
    a(href="#", target="_blank", class="lk") 
        i.fa.fa-linkedin.fa-lg
    a(href="#", target="_blank", class="go") 
        i.fa.fa-google-plus.fa-lg
    a(href="#", target="_blank", class="fb") 
        i.fa.fa-facebook.fa-lg
    a(href="#", target="_blank", class="tu") 
        i.fa.fa-twitter.fa-lg
    a(href="#", target="_blank", class="yt") 
        i.fa.fa-youtube.fa-lg