.top-blk.search-box(data-oct-title="Search")
    span.search-lbl SEARCH
    form(method="get", id="searchform", action="", class="form-search")
        input(type="text", class="inp inp-txt", placeholder="Search...")
        button(type="submit", class="btn btn-link") 
            i.fa.fa-search.fa-flip-horizontal.fa-lg

