include second_slider.jade
.featured-event-blk
    h3 FEATURED EVENTS
    .item-cat
        .tab-row
            span(class="tab-tt") THEATRE
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17-25
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                        .event-time.bottom-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") DANCE
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13-30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13
                            .th thru
                            .date
                                span SEP
                                span 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13
                            .th thru
                            .date
                                span SEP
                                span 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.right-pos
                            .month
                                span AUG
                                span 13
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") MUSIC
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") VISUAL ART
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
