include second_slider.jade
.featured-event-blk
    h3 FEATURED EVENTS
    input(type="checkbox", id="tb")
    .wrapper-l
        .item-cat.vertical
            .tab-row
                span(class="tab-tt vertical") THEATRE
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .left-event-time
                        .month
                            span AUG
                            span 17
                        .th thru
                        .date
                            span AUG
                            span 25
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s Live At Silo’s Live At Silo’s Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/artist-img1.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .left-event-time
                        .month
                            span AUG
                            span 17 - 25
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more

        .item-cat.vertical
            .tab-row
                span(class="tab-tt vertical") DANCE
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/Akoma2012-292x300.jpg")
                            .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more

    .show-more
        a(class="btn btn-l", href="#",id="evt-top-blk", data-viewmore="VIEW MORE", data-viewless="VIEW LESS") VIEW MORE
    input(type="checkbox", id="bb")
    .wrapper-r
        .item-cat.vertical
            .tab-row
                span(class="tab-tt vertical") MUSIC
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.bottom-pos
                                .md
                                    |SEP 19 - 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.bottom-pos
                                .md
                                    |JUN 30 - SEP 19
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/dancer.jpg")
                            .event-time.top-pos
                                .md
                                    |SEP 19 - 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.bottom-pos
                                .md
                                    |SEP 19 - 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
        .item-cat.vertical
            .tab-row
                span(class="tab-tt vertical") VISUAL ART
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.right-pos
                                .month
                                    span AUG
                                    span 13
                                .th thru
                                .date
                                    span SEP
                                    span 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.bottom-pos
                                .md
                                    |SEP 19 - 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.bottom-pos
                                .md
                                    |SEP 19 - 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                            .event-time.bottom-pos
                                .md
                                    |SEP 19 - 30
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                    .dv-back
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                        .back-desc
                            |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                        a(href="javascript:;", class="more") View more
    .show-more
        a(class="btn btn-l", href="#",id="evt-bottom-blk", data-viewmore="VIEW MORE", data-viewless="VIEW LESS") VIEW MORE

