include second_slider.jade
nav(class="nav-tab")
    ul(class="tab-list")
        li(class="selected")
            a(href="#", data-id="1") TOP TEN
        li
            a(href="#", data-id="2") MUSIC
        li
            a(href="#", data-id="3") ART
        li
            a(href="#", data-id="4") FAMILY
        li
            a(href="#", data-id="5") FOOD & WINE
        li
            a(href="#", data-id="6") FAIRS & FESTIVAL
div(class="tab-bt")
div(class="blog-blk", data-target="1")
    section.list-blog
        article.blog-itm
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.top-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b3.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.bottom-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b4.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.right-pos
                        .month
                            span AUG
                            span 10-30
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows : Testing Very Long Title- Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT

    .load-more.b-btn
        a(href="#", class="btn-b arw") SHOW MORE
div(class="blog-blk", data-target="2")
    section.list-blog
        article.blog-itm
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.top-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b3.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.bottom-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b4.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.right-pos
                        .month
                            span AUG
                            span 10-30
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows : Testing Very Long Title- Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
    .load-more.b-btn
        a(href="#", class="btn-b arw") SHOW MOR
div(class="blog-blk", data-target="3")
    section.list-blog
        article.blog-itm
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.top-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b3.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.bottom-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b4.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.right-pos
                        .month
                            span AUG
                            span 10-30
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows : Testing Very Long Title- Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
    .load-more.b-btn
        a(href="#", class="btn-b arw") SHOW MORE
div(class="blog-blk", data-target="4")
    section.list-blog
        article.blog-itm
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.top-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b3.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.bottom-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b4.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.right-pos
                        .month
                            span AUG
                            span 10-30
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows : Testing Very Long Title- Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
    .load-more.b-btn
        a(href="#", class="btn-b arw") SHOW MORE
div(class="blog-blk", data-target="5")
    section.list-blog
        article.blog-itm
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.top-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b3.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.bottom-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b4.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.right-pos
                        .month
                            span AUG
                            span 10-30
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows : Testing Very Long Title- Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
    .load-more.b-btn
        a(href="#", class="btn-b arw") SHOW MORE
div(class="blog-blk", data-target="6")
    section.list-blog
        article.blog-itm
            .left-event-time
                .month
                    span AUG
                    span 17
                .th thru
                .date
                    span AUG
                    span 25
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.top-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b3.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.bottom-pos
                        .md
                            |JUN 30 - SEP 19
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b4.jpg", alt="Night, Smoke, and Shadows - Exhibition")
                    .event-time.right-pos
                        .month
                            span AUG
                            span 10-30
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows : Testing Very Long Title- Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b1.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Night, Smoke, and Shadows - Exhibition
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
        article.blog-itm
            .pic
                a(href="#")
                    img(src="../assets/uploads/b2.jpg", alt="Night, Smoke, and Shadows - Exhibition")
            .blog-t
                h2.blog-ttl
                    a(href="#")  Happy Birds Show
                p.meta.auth Presented by
                    a(href="#", target="_blank") Live At Silo’s
                    |  at
                    a(href="#", target="_blank") Silo’s
                .b-share
                    label Share:
                    a(href="#", target="_blank", class="lk")
                        i.fa.fa-linkedin
                    a(href="#", target="_blank", class="tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="rss")
                        i.fa.fa-rss
                p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...
                .b-btn
                    a(href="#", class="btn btn-b hfull") BUY TICKETS
                    a(href="#", class="btn btn-b hfull") CHECK DISCOUNT
    .load-more.b-btn
        a(href="#", class="btn-b arw") SHOW MORE