section.list-blog
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/joan-armatrading-450x450.png", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Night, Smoke, and Shadows - Exhibition
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/test.jpg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT
    article.blog-itm
        .left-event-time
            .month
                span AUG
                span 17
            .th thru
            .date
                span AUG
                span 25
        .pic
            a(href="#")
                img(src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg", alt="Night, Smoke, and Shadows - Exhibition")
        .blog-t
            h2.blog-ttl
                a(href="#")  Happy Birds Show
            p.meta.auth Presented by
                a(href="#", target="_blank") Live At Silo’s
                |  at
                a(href="#", target="_blank") Silo’s
            .b-share-cat
                label
                a(href="#", target="_blank", class="sc fb")
                    i.fa.fa-facebook
                a(href="#", target="_blank", class="sc tw")
                    i.fa.fa-twitter
                a(href="#", target="_blank", class="sc google")
                    i.fa.fa-google-plus
                a(href="#", target="_blank", class="sc pin")
                    i.fa.fa-pinterest-square
                a(href="#", target="_blank", class="sc lk")
                    i.fa.fa-linkedin
            p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
                    |Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...
                    a(href="#", class="read_more") More Info
            .b-btn
                a(href="#", class="btn btn-b") BUY TICKETS
                a(href="#", class="btn btn-b") CHECK DISCOUNT

