include second_slider.jade
.featured-event-blk.four
    input(type="checkbox", id="tb")
    .wrapper-l
        .item-cat.vertical.four
            .tab-row
                span(class="tab-tt vertical") MUSIC
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/fea-img.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/artist-img1.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15 - 09/20/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/artist-img1.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/artist-img1.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#", class="event-img")
                            img(src="../assets/uploads/artist-img1.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
        .item-cat.vertical.four
            .tab-row
                span(class="tab-tt vertical") STAGE
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/fea-img1.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                                a(href="#", target="_blank") Live At Silo’s
                                | at
                                a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/Akoma2012-292x300.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/Akoma2012-292x300.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/Akoma2012-292x300.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/Akoma2012-292x300.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
    .show-more
        a(class="btn btn-l", href="#",id="evt-top-blk", data-viewmore="VIEW MORE", data-viewless="VIEW LESS") VIEW MORE
    input(type="checkbox", id="bb")
    .wrapper-r
        .item-cat.vertical.four
            .tab-row
                span(class="tab-tt vertical") VISUAL
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/dancer.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
        .item-cat.vertical.four
            .tab-row
                span(class="tab-tt vertical") FREE
            .fea-evt-row
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
                .fea-evt-item.vertical
                    .dv-front
                        a(href="#")
                            img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        a(href="#", class="ev-tt")
                            | Deborah Mills Thackrey
                        .meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            | at
                            a(href="#", target="_blank") Silo’s
                        .dp 06/26/15
    .show-more
        a(class="btn btn-l", href="#",id="evt-bottom-blk", data-viewmore="VIEW MORE", data-viewless="VIEW LESS") VIEW MORE

