section.section-slider
    .main-slider.full
        .main-slider-overlay
            .loading(style="display: none;")
                a
                    i(class="fa fa-spinner fa-spin fa-3x")
        .flexslider
            ul.slides
                li
                    .i-slider
                        .blk-button-call
                            .inner
                                a(href="#", class="btn btn-callToAction") call to action
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Huey Lewis And The News
                                p
                                    b SEP 08
                                    span  -&nbsp;
                                    b SEP 12
                                    |  Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/main-slider-1.jpg", alt="slide 1")
                li
                    .i-slider
                        .blk-button-call
                            .inner
                                a(href="#", class="btn btn-callToAction") call to action
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Family Tradition Always Worth
                                p
                                    b SEP 08
                                    span  -&nbsp;
                                    b SEP 12
                                    |  Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/main-slider-2.jpg", alt="slide 2")
                li
                    .i-slider
                        .blk-button-call
                            .inner
                                a(href="#", class="btn btn-callToAction") call to action
                        .inner
                            .i-caption
                                h4
                                    a(href="#")
                                        |Essential Visual Feedback
                                p
                                    b SEP 08
                                    span -&nbsp;
                                    b SEP 12
                                    |  Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion.
                        a(href="#")
                            img(src="../assets/uploads/main-slider-3.jpg", alt="slide 3")
