.main-menu.pc-show
    .inner
        nav.mn-menu
            ul#main_nav
                li(class="selected")
                    a(href="#") HOME
                    ul
                        li
                            a(href="#") SUB HOME
                li
                    a(href="#") Events
                    ul
                        li
                            a(href="#") THEATRE
                        li(class="dropdown")
                            a(href="#")
                                span Music
                            ul.menu-hover
                                li
                                    a(href="#") Line 1 Line 1 Line 1 
                                li
                                    a(href="#") Line 2
                                li
                                    a(href="#") Line 3
                                li
                                    a(href="#") Line 4
                li
                    a(href="#") DIRECTORIES
                    ul
                        li
                            a(href="#") Organizations
                        li
                            a(href="#") Venues
                li
                    a(href="#") MORE
    .menu-background


