.main-menu.tablet-show
    .inner
        nav.mn-menu
            ul.nav 
                li
                    a(href="#") HOME
                li.has-child(data-lvl="level-1")
                    a(href="#") Events
                    ul.sub-menu.level-1
                        li
                            a(href="http://www.google.com") THEATRE
                        li.has-child(data-lvl="level-2")
                            a(href="#") Music
                            ul.sub-menu.level-2
                                li
                                    a(href="#") Line 1
                                li
                                    a(href="#") Line 2
                                li
                                    a(href="#") Line 3
                                li
                                    a(href="#") Line 3
                li.has-child(data-lvl="level-1")
                    a(href="#") DIRECTORIES
                    ul.sub-menu.level-1
                        li
                            a(href="http://www.google.com") Organizations
                        li
                            a(href="http://www.google.com") Venues              
                