.secondary-menu.pc-show
    .inner
        nav.mn-menu
            ul.nav
                li.cur
                    a(href="#") Home
                li.has-child
                    a(href="#") Classes
                    div.child-container.three-col(style="background-image: url(../images/menu-bgr-music.png)")
                        ul.child.clearfix
                            li.header-title
                                a(href="#", class="cap-img")
                                    img(src="../images/capital-public-radio-news-logo.png")
                        ul.child.clearfix
                            li.header-title
                                span Header text
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                        ul.child.clearfix
                            li.header-title
                                span Header text
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                li.item.has-child
                    a(href="#") News
                    div.child-container.two-col
                        ul.child.clearfix
                            li.header-title
                                span Header text
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                        ul.child.clearfix
                            li.header-title
                                span Header text
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                li.item.has-child
                    a(href="#") Music
                    div.child-container.one-col
                        ul.child.clearfix
                            li.header-title
                                span Header text
                            li
                                a(href="#") level 1
                            li
                                a(href="#") level 1b
                            li
                                a(href="#") level 1c
                            li
                                a(href="#") level 1d
                li.item
                    a(href="#") Programs
                li.item
                    a(href="#") Schedule
                li.item
                    a(href="#") Events
                li.item
                    a(href="#") Support


