.main-menu.tablet-show.pc-show
    .inner
        nav.mn-menu.has-toogle__menu-child
            ul.nav
                li.cur
                    a(href="#") Art
                li.has-child(data-lvl="level-1")
                    a(href="javascript:;") Classes
                    ul.sub-menu.level-1
                        li
                            a(href="http://www.google.com") level 1
                        li
                            a(href="#") level 1b
                        li
                            a(href="#") level 1c
                        li
                            a(href="#") level 1d
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f
                li.has-child(data-lvl="level-1")
                    a(href="javascript:;") Family
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f
                li
                    a(href="#") Festival
                li
                    a(href="#") Food
                li.has-child(data-lvl="level-1")
                    a(href="javascript:;") Free
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f
                li
                    a(href="#") Literature
                //li
                //    a(href="#") Music
                //li
                //    a(href="#") Screen
                //li
                //    a(href="#") Sports
                //li
                //    a(href="#") State
                li.has-child(data-lvl="level-1")
                    a(href="javascript:;") More
                    ul.sub-menu.level-1
                        li
                            a(href="#") level 1
                        li
                            a(href="#") level 1b level 1b level 1b level 1b level 1b level 1b level 1b
                        li
                            a(href="#") level 1c
                        li
                            a(href="#") level 1d
                        li.has-child(data-lvl="level-2")
                            a(href="#") level 1e
                            ul.sub-menu.level-2
                                li
                                    a(href="#") level 2 level 2 level 2 level 2 level 2
                                li
                                    a(href="#") level 2b
                                li
                                    a(href="#") level 2c
                        li
                            a(href="#") level 1f


