.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.el-blk
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="organization-list.html")
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-thumb")
        li
            .div-one
                .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/grape-in-fog-venue_medium.jpg")
                .search-info
                    a(href="org-detail.html")
                        span.ev-tt A Grape In The Fog
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |A Grape in the Fog is a charming wine bar in Pacifica which celebrates the best of coastal living and lovely boutique wines from around the world. Located one block from Rockaway Beach, it boasts a constantly changing wine menu, available by the glass, flight or bottle.
                        |From the Tuscan seaside-inspired décor to its friendly and knowledgeable staff, it has created the perfect place for Pacifica locals and visitors alike to share amazing wine or craft-style beer, relax with friends, and enjoy special events.
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/placeholder.png")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/9lives_lg_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 9Lives
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |9Lives is the Central Coast’s premiere live entertainment venue that is a showcase for local and regional performers, with national headliners performing on its stage regularly. Its 4,500 square foot venue has been many things: an auto repair shop, a factory, beer distributor, a church, the Gaslighter Theater.... You can understand where it got its name.
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/888_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 888 Monkeys Summer Arts Program
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an orga
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/1870_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 1870 Art Center
                    .career
                        |Type: Commercial Business, Educational, Festivals, Foundation
                    .s-desc
                        |The 1870 Art Center is a cultural resource for the community. It provides working studios for professional artists and has an established art gallery
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="org-detail.html")
                        img(src="../assets/uploads/abhinaya-lg_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Type: Commercial Business, Educational, Festivals, Foundation
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
