.breadcrumbs
    ul.nav
        li
            a(href="/", target="_blank") Home
        li 
            a(href="/", target="_blank") Blog
        li 
            a(href="blog.html") Community
        li 
            span Wednesday Brown Bag Lunch - Beauty in Batik
    
    
    