.search-tt
    p Search "
        a
            | events
        |" between
        a
            | 1/7/2015
        | and
        a
            | 1/7/2015
        a
            | (04 results)

.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.search-bkl
    nav(class="nav-tab-search")
        ul(class="tab-list-search")
            li(class="selected")
                a(href="#", data-id="1") EVENTS
                    span.cl (4)
            li
                a(href="#", data-id="2") ORGS
                    span.cl (1)
            li
                a(href="#", data-id="3") VENUES
                    span (0)
            li
                a(href="#", data-id="4") CLASSIFFIEDS
                    span (0)
            li
                a(href="#", data-id="5") ARTIST
                    span (0)
    div(class="tab-bt")
.search-bkl
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="event-search-list.html")
                    i(class="fa fa-bars fa-2x")
            li
                a(href="event-search-map.html")
                    i(class="fa fa-map-marker fa-2x")
.search-bkl
    nav(class="search-list-thumb")
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
        li
            .div-one
                .search-img
                    a(href="#")
                        img(src="../assets/uploads/search-thumb.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Wednesday Brown Bag Lunch - Beauty in Batik Wednesday Brown Bag Lunch - Beauty in Batik
                    p.meta.auth Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                            |  at
                            a(href="#", target="_blank") Silo’s
                    span.sch-date 10 Dec 2014 - 20 Jan 201

            .ico-date
                a
                    i(class="fa fa-clock-o fa-2x")
            .div-two
                .show-events
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
                    .item 01/13/2015 at 7:00 pm (Tue)
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
