.second-slider.second-slider-v1
    .flexslider
        ul.slides

            li
                .left-event-time.nw-evt-blue
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 25
                .slider-pic(style="background:url(../assets/uploads/sc-slider.jpg) center top; background-repeat: no-repeat; background-size:cover;")
                .slider-content
                    h2(class="blog-ttl")
                        a(href="#") Many artists active in the 19th century manipulated test test test test test
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s test test test test test test
                    p.date Dec 26 - Dec 28, 2014
                    p.desc Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of
                    a(class="vmore", href="javascript:;") View more
                .b-share-cat
                    a(href="#", target="_blank", class="sc fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="sc tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="sc google")
                        i.fa.fa-google-plus
                    a(href="#", target="_blank", class="sc google")
                        i.fa.fa-pinterest-square
                    a(href="#", target="_blank", class="sc lk")
                        i.fa.fa-linkedin
            li
                .left-event-time.nw-evt-blue
                    .month
                        span AUG
                        span 17
                .slider-pic(style="background:url(../assets/uploads/Suzuki.jpg) center top; background-repeat: no-repeat; background-size:cover;")
                .slider-content
                    h2(class="blog-ttl")
                        a(href="#") Many artists active in the 19th century manipulated the test test test test test test test
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p.date Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014
                    p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of
                    a(class="vmore", href="javascript:;") View more
            li
                .left-event-time.nw-evt-blue
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 25
                .slider-pic(style="background:url(../assets/uploads/test-img.jpg) center top; ackground-repeat: no-repeat; background-size:cover;")
                .slider-content
                    h2(class="blog-ttl")
                        a(href="#") Many artists active in the 19th century manipulated the test test test test test test test
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    p.date Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014
                    p.desc Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of
                    a(class="vmore", href="javascript:;") View more
                .b-share-cat
                    a(href="#", target="_blank", class="sc fb")
                        i.fa.fa-facebook
                    a(href="#", target="_blank", class="sc tw")
                        i.fa.fa-twitter
                    a(href="#", target="_blank", class="sc google")
                        i.fa.fa-google-plus
                    a(href="#", target="_blank", class="sc google")
                        i.fa.fa-pinterest-square
                    a(href="#", target="_blank", class="sc lk")
                        i.fa.fa-linkedin
        .silder-footer
    .loader
        a
            <i class="fa fa-spinner fa-spin fa-3x"></i>
