.r-blk.r-search
    h3.r-ttl
        i.fa.fa-search.fa-flip-horizontal.fa-lg
        span Find A Venue

    form(method="", id="search-venue", action="", class="form-event")
        .organization-search
            .el-blk.full
                input(type="text", placeholder="Search by keyword", class="inp inp-txt")
                .show-tip
                    |Search by keyword
            .el-blk
                .select-bkl
                    select
                        option(value="0") Venue
                        option(value="") A
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Venue Type
                        option(value="") Amusement Park
                        option(value="") Arena/Stadium
                        option(value="") Bookstore
                        option(value="") Campground
                        option(value="") Community Center
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") City
                        option(value="") Alviso
                        option(value="") Atherton
                        option(value="") Belmont
                        option(value="") Brisbane
                        option(value="") Burlingame
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Zip
                        option(value="") A
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .accessibilyty-icons-search
                    dl(class="accessibilyty-dropdown")
                        dt
                            a(href="javascript:void(0)")
                              span(class="access-drop")
                                | Accessibility Information
                              <p class="multiSel">
                        dd
                            div(class="mutliSelect")
                                ul
                                    li
                                        input(type="checkbox", value="Assisted Listening System")
                                        img(src="../images/2x/img-1.png")
                                        label Assisted Listening System
                                    li
                                        input(type="checkbox", value="Braille")
                                        img(src="../images/2x/img-12.png")
                                        label Braille
                                    li
                                        input(type="checkbox", value="Low Vision")
                                        img(src="../images/2x/img-9.png")
                                        label Low Vision
                                    li
                                        input(type="checkbox", value="Sign Language")
                                        img(src="../images/2x/img-8.png")
                                        label Sign Language
                                    li
                                        input(type="checkbox", value="Sign Language")
                                        img(src="../images/2x/img-8.png")
                                        label Sign Language
                                    li
                                        input(type="checkbox", value="Sign Language")
                                        img(src="../images/2x/img-8.png")
                                        label Sign Language
                                    li
                                        input(type="checkbox", value="Sign Language")
                                        img(src="../images/2x/img-8.png")
                                        label Sign Language

                .b-btn.bt
                    a(class="btn btn-b search-btn") SEARCH





