.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg.d-black     
        span Find Organization    

    form(method="", id="search-organization", action="", class="form-event")
        .organization-search
            .el-blk.full       
                input(type="text", placeholder="Search by Cuisine", class="inp inp-txt")
                .show-tip
                    |Search by Cuisine
            .el-blk.full       
                input(type="text", placeholder="Search by Location", class="inp inp-txt")
                .show-tip
                    |Search by Location
            .el-blk.full       
                input(type="text", placeholder="Search by Region", class="inp inp-txt")
                .show-tip
                    |Search by Region
            .el-blk.full       
                input(type="text", placeholder="Search by Criteria", class="inp inp-txt")
                .show-tip
                    |Search by Criteria

            
                
                    



