.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg      
        span Find Classified   

    form(method="", id="search-classified", action="", class="form-event")
        .organization-search
            .el-blk.full       
                input(type="text", placeholder="Search by keyword", class="inp inp-txt")
                .show-tip
                    |Search by keyword
            .el-blk
                .select-bkl
                    select
                        option(value="0") Classified Type
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") City
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Zip
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .b-btn.bt
                a(class="btn btn-b search-btn") SEARCH
                
                    



