.r-blk.black
    h3.r-ttl
        span Special Offers
        a(href="#", class="btn btn-l fr") VIEW MORE
    .r-blk-ct
        .wg-slider
            .flexslider
                ul.slides
                    li
                        div
                            .wg-pic
                                img(src="../assets/uploads/r1.jpg", alt="r 1")
                            .wg-caption 40 shiny new icons in version 4.2
                    li
                        div
                            .wg-pic
                                img(src="../assets/uploads/r2.jpg", alt="r 1")
                            .wg-caption Need vectors or want to use on the desktop?
                    li
                        div
                            .wg-pic
                                img(src="../assets/uploads/r3.jpg", alt="r 1")
                            .wg-caption ou can edit this home page using our free, drag and drop Page Builder ...