.r-blk
    h3.r-ttl
        i.fa.fa-eye.fa-lg
        span Most Reviews
    .r-blk-ct
        ul
            li
                a(href="#", class="rvw-itm")
                    .rvw-pic
                        img(src="../assets/uploads/b1.jpg", alt="b 1")
                    h4 This widget uses FontAwesome
                    p at
                      span St. Helena Library
            li
                a(href="#", class="rvw-itm")
                    .rvw-pic
                        img(src="../assets/uploads/b2.jpg", alt="b 1")
                    h4 You can edit this home page using our free, drag and drop Page Builder
                    p at
                      span St. AR Center Park
            li
                a(href="#", class="rvw-itm")
                    .rvw-pic
                        img(src="../assets/uploads/b3.jpg", alt="b 1")
                    h4 Time is valuable. Don't waste it.
                    p at
                      span HOREU Restaurant
            li
                a(href="#", class="rvw-itm")
                    .rvw-pic
                        img(src="../assets/uploads/b4.jpg", alt="b 1")
                    h4 This widget uses FontAwesome
                    p at
                      span St. Helena Library
            li
                a(href="#", class="rvw-itm")
                    .rvw-pic
                        img(src="../assets/uploads/b1.jpg", alt="b 1")
                    h4 Great for testimonials.
                    p at
                      span St. Helena Library

