.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg      
        span Find A Event        
    .r-blk-ct
        form(method="get", id="searchevent", action="", class="form-event")
            .clearfix
                input(type="text", class="inp inp-txt event-search", placeholder="Search by keyword, organization or venue")
                button(type="button", class="btn btn-l") GO
            p.t-r 
                a(href="#", class='t-red') Advanced Search » 
            .s-rw
                label Seach by date:
                .calendar-ipt.clearfix
                    span               
                        input(type="text", size="12", id="c-s", class="inp inp-txt side-bar caldr", placeholder="Start")
                    span
                        input(type="text", size="12", id="c-e", class="inp inp-txt side-bar caldr", placeholder="End")
                    button(type="button", class="btn btn-l") GO
                    i.fa.fa-calendar.fa-lg.ico-s
                    i.fa.fa-calendar.fa-lg.ico-e   
            .s-rw
                label Search by date range:
                .lst-lik
                    a(href="#", class="today") Today
                    a(href="#", class="tomorrow") Tomorrow
                    a(href="#", class="weekend") Weekend
                    span.no-line next
                    a(href="#", class="seven" ) 7
                    a(href="#", class="fourteen" ) 14
                    a(href="#", class="thirsty" ) 30
            .s-rw.apl-filter-location.el-blk
                input(class="by_my_location has-map-icon", name="by_my_location", id="by_my_location", type="checkbox")
                label(for="by_my_location", class="map-icon-ipt") Filter by my location
            .sub-blk
                p.fl Do you have an event you’d like to have listed?
                button(type="button", class="btn btn-l lgr fr") SUBMIT A LISTING

