.r-blk
    h3.r-ttl.datetime 
        span Date and Times
    .r-blk-ct.datetime
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .dt-row
            .l-dt  
                .l-dt-tt
                    |Thursday, Sep 24
                .l-dt-txt
                    p 08:00 pm at ShanLin Liu
                    p Performance Center
            .r-dt
                a(class="btn btn-l dt", href="#") OFFICIAL WEBSITE
                a(class="btn btn-l dt", href="#") POSTIX DEAL
        .load-mote-dt
            a(href="#") Load More....
           

