.r-blk.r-search
    h3.r-ttl  
        i.fa.fa-search.fa-flip-horizontal.fa-lg      
        span Find An Artist       

    form(method="", id="searchartist", action="", class="form-event")
        .artist-search
            .el-blk.full       
                input(type="text", placeholder="Search by keyword", class="inp inp-txt")
                .show-tip
                    |Search by keyword
            .el-blk
                .select-bkl
                    select
                        option(value="0") Artist Type
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") City
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .b-btn.bt   
                button(type="button", class="btn btn-b search-btn") SEARCH
            .el-blk
                span.tt Search by artist’s last name:
                .character-board
                    a(href="#") A
                    a(href="#") B
                    a.select(href="#") C
                    a(href="#") D
                    a(href="#") E
                    a(href="#") F
                    a(href="#") G 
                    a(href="#") H 
                    a(href="#") I 
                    a(href="#") J
                    a(href="#") K
                    a(href="#") L 
                    a(href="#") M 
                    a(href="#") N 
                    a(href="#") O
                    a(href="#") P
                    a(href="#") Q
                    a(href="#") R
                    a(href="#") S
                    a(href="#") T
                    a(href="#") U
                    a(href="#") V
                    a(href="#") W
                    a(href="#") X
                    a(href="#") Y
                    a(href="#") Z
                    



