.r-blk 
    h3.r-ttl
        i.fa.fa-envelope-o.fa-lg
        span E-Newsletter
    .r-blk-ct
        form(id="newsletter", class="newsletter-frm", method="#", action="#")
            input(type="text", placeholder="Your e-mail", class="ipt newsletter")
            button(type="button", class="btn btn-l" ) SUBSCRIBE NOW
