.sticky-social
    a
        i.fa.fa-facebook-f
        span Facebook
    a
        i.fa.fa-youtube-play
        span Youtube
    a
        i.fa.fa-twitter
        span Twitter
    a
        i.fa.fa-instagram
        span Instagram
