form(id="teacher-frm", method="", action="")
    .blog-bkl
        .b-share-cat.art
            label
            a(href="#", target="_blank", class="sc fb")
                i.fa.fa-facebook
            a(href="#", target="_blank", class="sc tw") 
                i.fa.fa-twitter
            a(href="#", target="_blank", class="sc google")
                i.fa.fa-google-plus
            a(href="#", target="_blank", class="sc google")
                i.fa.fa-pinterest-square
            a(href="#", target="_blank", class="sc lk") 
                i.fa.fa-linkedin
            a(href="#", id="print", class="pt print")
                i.fa.fa-print
            a(href="#", id="email", class="pt email")
                i.fa.fa-envelope-o
        h2 Teacher Evaluation
        .el-blk.edu-detail
            .edu-detail-desc 
                 p Dear Teacher, we’re glad your students attended this program. Please return this evaluation immediately (cultural organizations are not paid without evaluations). We value your opinion! – United Arts
    .blog-bkl
        .a-block
            h4 SCHOOL INFORMATION
            .el-blk
                .select-bkl
                    select
                        option(value="0") Your School District (*)
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Your School Name (*)
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
    .blog-bkl
        .a-block
            h4 CULTURAL PROGRAM INFORMATION
            .el-blk
                .select-bkl
                    select
                        option(value="0") Cultural Organization (*)
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk
                .select-bkl
                    select
                        option(value="0") Cultural Program Provided (*)
                        option(value="") A  
                        option(value="") B
                        option(value="") C
                        option(value="") D
                        option(value="") E
                    .arrow-down
                        <i class="fa fa-sort-desc fa-lg"></i>
            .el-blk.full
                input(type="text", placeholder="Program Date(s) (*)", class="inp inp-txt")
                .show-tip
                    | Program Date(s)
            .el-blk.full
                input(type="text", placeholder="Program Time(s) (*)", class="inp inp-txt")
                .show-tip
                    | Program Time(s)
            .el-blk
                span.permission Lesson Plans Received (*)
                .onoffswitch
                    input(type="checkbox", name="onoffswitch", class="onoffswitch-checkbox", id="myonoffswitch", checked)
                    label(class="onoffswitch-label", for="myonoffswitch")
                        span(class="onoffswitch-inner")
                        span(class="onoffswitch-switch")
            .el-blk
                h2 PARTICIPATION
            .el-blk.full
                input(type="text", placeholder="# Classes (*)", class="inp inp-txt")
                .show-tip
                    | Classes
            .el-blk.full
                input(type="text", placeholder="# Students (*)", class="inp inp-txt")
                .show-tip
                    | Students
            .el-blk.full
                input(type="text", placeholder="Grade Levels (*)", class="inp inp-txt")
                .show-tip
                    | Grade Levels
    .blog-bkl
        .a-block
            h4 CONTACT INFORMATION (OPTIONAL)
            .el-blk.full
                input(type="text", placeholder="Teacher name/Filled out by", class="inp inp-txt")
                .show-tip
                    | Teacher name/Filled out by
            .el-blk.full
                input(type="text", placeholder="Contact Phone", class="inp inp-txt")
                .show-tip
                    | Contact Phone
            .el-blk.full
                input(type="text", placeholder="Email Address", class="inp inp-txt")
                .show-tip
                    | Email Address
    .blog-bkl
        .el-blk
            ul(class="agree-list")
                li 
                    .question-sec
                        |1. The lesson plans were adequate to prepare students. (If not received, leave blank.)
                    .answer-sec
                        .select-bkl
                            select
                                option(value="0") Strongly Disagree
                                option(value="") 1  
                                option(value="") 2
                                option(value="") 3
                                option(value="") 4
                                option(value="") 5
                            .arrow-down
                                <i class="fa fa-sort-desc fa-lg"></i>
                li 
                    .question-sec
                        |2. The program correlates to the Florida Sunshine State Standards.
                    .answer-sec
                        .select-bkl
                            select
                                option(value="0") Strongly Disagree
                                option(value="") 1  
                                option(value="") 2
                                option(value="") 3
                                option(value="") 4
                                option(value="") 5
                            .arrow-down
                                <i class="fa fa-sort-desc fa-lg"></i>
                li 
                    .question-sec
                        |3. The program was appropriate for the students (content, length, etc)
                    .answer-sec
                        .select-bkl
                            select
                                option(value="0") Strongly Disagree
                                option(value="") 1  
                                option(value="") 2
                                option(value="") 3
                                option(value="") 4
                                option(value="") 5
                            .arrow-down
                                <i class="fa fa-sort-desc fa-lg"></i>
                li 
                    .question-sec
                        |4. The presenter engaged the students, helping them learn. 
                    .answer-sec
                        .select-bkl
                            select
                                option(value="0") Strongly Disagree
                                option(value="") 1  
                                option(value="") 2
                                option(value="") 3
                                option(value="") 4
                                option(value="") 5
                            .arrow-down
                                <i class="fa fa-sort-desc fa-lg"></i>
                li 
                    .question-sec
                        |5. How likely are you to return to this program with another group? 
                    .answer-sec
                        .select-bkl
                            select
                                option(value="0") Strongly Disagree
                                option(value="") 1  
                                option(value="") 2
                                option(value="") 3
                                option(value="") 4
                                option(value="") 5
                            .arrow-down
                                <i class="fa fa-sort-desc fa-lg"></i>
                li 
                    .question-sec
                        |6. How valuable was this experience for your students? Explain below
                    .answer-sec
                        .select-bkl
                            select
                                option(value="0") Strongly Disagree
                                option(value="") 1  
                                option(value="") 2
                                option(value="") 3
                                option(value="") 4
                                option(value="") 5
                            .arrow-down
                                <i class="fa fa-sort-desc fa-lg"></i>
                    textarea(class="inp inp-txt inp-desc", style="margin-top:20px")
        .el-blk
            .question-sec-full 
                |7. How will you integrate this learning experience into your classroom lesson planning?
            textarea( class="inp inp-txt inp-desc")
            .note
                p   Help available for...
                    br
                    |Orange County School District teachers: 
                    |Scott Evans, Fine Arts Coordinator, at 407-317-3200 x2002769 or scott.evans@ocps.net
                    br
                    br
                    |Osceola County School District teachers: 
                    |Debbie Fahmie, Fine & Performing Arts Specialist, at 407-346-2444 or fahmied@osceola.k12.fl.us
                    br
                    br
                    |Lake County School District teachers: 
                    Laura Woodham, Program Specialist, at 352-742-6909 or woodhaml@lake.k12.fl.us
                    br
                    br
                    |Seminole County School District teachers: 
                    |Mary Lane, Curriculum Specialist, at 407-320-0192 or Mary_Lane@scps.k12.fl.us
        .el-blk
            .question-sec-full 
                |8. How did the booking process go and do you have any suggestions for how to make it easier for teachers?
            textarea(class="inp inp-txt inp-desc")
        .el-blk
            .question-sec-full 
                |9. Additional comments/suggestions?
            textarea(class="inp inp-txt inp-desc")
    .blog-bkl
        a(class="btn-form-submit", href="#")
            | Submit
        a(class="btn-form-submit", href="#")
            | Submit Another Evaluation


