#topbar
    .inner
        .topbar-content
            span.logo-banner
                a(href="#")
                    img(src="../assets/uploads/NPN.png", alt="banner")
                a(href="#")
                    img(src="../assets/uploads/CFMT.png", alt="banner")
                a(href="#")
                    img(src="../assets/uploads/GM.png", alt="banner")
                a(href="#")
                    img(src="../assets/uploads/CN.png", alt="banner")
            .top-blk.login-top.topbar
                a(href="#") LOGIN
                a(href="#") REGISTER
            .hamburger-menu
                include ../blocks/hamburger_menu.jade