.search-bkl.search-bkl-paging
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
    nav.pg
        li.txt
                span Show:
        li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value ="op")
                span.pg
                span.tx One page
         li
            .pg-rad
                input(type="radio", name="radioshowpg", class="rad-pg", value="pg", checked="checked")
                span.pg
                span.tx Paginated
.el-blk
    nav.type
        ul
            li.current
                a
                    i(class="fa fa-th fa-2x")
            li
                a(href="organization-list.html")
                    i(class="fa fa-bars fa-2x")
.search-bkl
    nav(class="search-artist-thumb")
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/a-work-of-heart_medium.jpg")
                .search-info
                    a(href="venue-detail.html")
                        span.ev-tt A Work of Heart Studio
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |A Work of Heart Studio is a workspace equipped with art and craft tools and supplies that empower creativity. Workshop time and classes are available for a variety of art and craft projects.
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/placeholder.png")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/aegis_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Aegis Gallery of Fine Art
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |Aegis Gallery of Fine Art is a cooperative gallery located in downtown Saratoga. Its artists participate in a wide variety of media, including watercolors, oil, pastels, paper, ceramics, prints, photography, jewelry, glass, sculpture and more
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/888_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 888 Monkeys Summer Arts Program
                    .career
                        |Type: Commercial Business, Educational, Festivals...
                    .s-desc
                        |888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an orga
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/1870_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt 1870 Art Center
                    .career
                        |Type: Commercial Business, Educational, Festivals, Foundation
                    .s-desc
                        |The 1870 Art Center is a cultural resource for the community. It provides working studios for professional artists and has an established art gallery
                    a(href="javascript:;", class="more") View more
        li
            .div-one
                .search-img
                    a(href="venue-detail.html")
                        img(src="../assets/uploads/abhinaya-lg_medium.jpg")
                .search-info
                    a(href="#")
                        span.ev-tt Pineapple Productions ChellyD
                    .career
                        |Type: Commercial Business, Educational, Festivals, Foundation
                    .s-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the
                    a(href="javascript:;", class="more") View more
.load-more.b-btn(id="load-more", style="display:none")
        a(href="#", class="btn-b arw") SHOW MORE
.search-bkl
    .blk-paging
        span.pg-tt Pages:
            nav.paging
                li
                    a <
                li
                    a 1
                li
                    a(class="active") 2
                li
                    a 3
                li
                    a 4
                li
                    ...
                li
                    a 21
                li
                    a >
