
<div class="blog-bkl">
  <div class="a-block-ct locatn">
    <div class="loc-address"><span><b>Indianapolis, IN 46241, USA</b></span>
      <p>7800 Col. H. Weir Cook Memorial Dr</p>
    </div>
    <div class="lo-left public-art"><img src="../assets/uploads/public-art-map.jpg" alt="map-location.jpg"/></div>
  </div>
</div>