
<div class="bookmark-view"><a href="javascript:void(0);" title="View Bookmarks" data-toggle="show" class="bookmark-view__button"><i class="fa fa-bookmark-o"></i></a>
  <div class="bookmark-view__container overplay">
    <div class="container-inner">
      <p class="text-center text-bold">Recent Bookmarks</p>
      <div class="list-bookmarks"><a href="#" class="bookmark-item">Wednesday Brown Bag Lunch - Beauty in Batik</a><a href="#" class="bookmark-item">Time is valuable. Don't waste it</a><a href="#" class="bookmark-item">Spring workshop - modern life style</a><a href="#" class="bookmark-item">Life peace activation - Kick off the happiness</a><a href="#" class="bookmark-item">Baroque concert on Mondays - Revise the art</a><a href="#" class="bookmark-item">Top portrait exhibition</a><a href="#" class="bookmark-item">1980s Rock retro</a><a href="#" class="bookmark-item">New York still singing</a><a href="#" class="bookmark-item">Break taking festival in the island</a><a href="#" class="bookmark-item">Traffic topic art - Life category</a></div><a href="#" class="view-all">View all bookmarks</a>
      <!--p.text-center.text-bold You have no bookmarks-->
    </div>
  </div>
</div>