
<div class="blog-bkl organization">
  <h1 class="p-ttl">888 Monkeys Summer Arts Program</h1>
  <div class="d-slider">
    <div id="business-slide-big" class="business-slide-big">
      <ul class="slides">
        <li><img src="../assets/uploads/3spotlight-647x300.png"/></li>
        <li><img src="../assets/uploads/9lives_lg_medium.jpg"/></li>
        <li><img src="../assets/uploads/3spotlight-647x300.png"/></li>
        <li><img src="../assets/uploads/888_medium.jpg"/></li>
        <li><img src="../assets/uploads/3spotlight-647x300.png"/></li>
        <li><img src="../assets/uploads/3spotlight-647x300.png"/></li>
      </ul>
    </div>
    <div id="business-slide-nav" class="business-slide-nav">
      <ul class="slides">
        <li>
          <div style="background-image:url(../assets/uploads/3spotlight-647x300.png)"></div>
        </li>
        <li>
          <div style="background-image:url(../assets/uploads/9lives_lg_medium.jpg)"></div>
        </li>
        <li>
          <div style="background-image:url(../assets/uploads/3spotlight-647x300.png)"></div>
        </li>
        <li>
          <div style="background-image:url(../assets/uploads/888_medium.jpg)"></div>
        </li>
        <li>
          <div style="background-image:url(../assets/uploads/3spotlight-647x300.png)"></div>
        </li>
        <li>
          <div style="background-image:url(../assets/uploads/3spotlight-647x300.png)"></div>
        </li>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="d-content">
    Centrally located in Silicon Valley, this excep&quot;onal restaurant has epitomized fine
    dining since its founding in 1977. California&shy;inspired modern French cuisine is
    beau&quot;fully presented in an elegant, quiet se#ng. Chef Sco$ Cooper&rsquo;s innova&quot;ve
    menu and culinary talents have garnered numerous accolades over the years, including
    the highest of ra&quot;ngs in Zagat Survey (Zagat&rsquo;s 2010 Survey ranked Le Papillon
    as one of the top five restaurants south of San Francisco), flawless reviews
    by the San Jose Mercury News, and inclusion in Michelin guides. Reflec&quot;ng
    Cooper&rsquo;s passion and dedica&quot;on to world&shy;class cuisine, the extensive &agrave; la carte
    and tas&quot;ng menus change seasonally in order to incorporate organic and sustainably
    grown local ingredients. Whether for lunch, dinner or catered events, Le Papillon
    provides the same high level of excellence. Private rooms available. Lunch,
    Fri. Dinner nightly.
  </div>
</div>
<div class="blog-bkl">
  <div class="d-feature"><strong>FEATURES</strong><span>DINNER, FULL BAR, PRIVATE EVENTS/ROOM(S), CATERING</span></div>
</div>
<div class="d-location">
  <table class="table">
    <tr>
      <td class="d-label">LOCATION:</td>
      <td>410 Saratoga Ave., San Jose</td>
    </tr>
    <tr>
      <td class="d-label">TEL:</td>
      <td>408.296.3730</td>
    </tr>
    <tr>
      <td class="d-label">WEBSITE:</td>
      <td>Le Papillon</td>
    </tr>
    <tr>
      <td class="d-label">HOURS:</td>
      <td>Dinner: 5:30­9:30pm, daily.</td>
    </tr>
    <tr>
      <td class="d-label">RESERVATIONS:</td>
      <td>opentable.com</td>
    </tr>
    <tr>
      <td class="d-label">OTHER INFO:</td>
      <td>Corkage Fee $30</td>
    </tr>
  </table>
</div>
<div class="blog-bkl">
  <div class="d-block">
    <h4>NEARBY EVENTS</h4><img alt="image" src="../assets/uploads/maps.jpg" class="img-responsive"/>
  </div>
</div>