
<div class="search-tt">
  <p>Search "<a>a</a>" (04 result)</p>
</div>
<div class="search-bkl">
  <nav class="nav-tab">
    <ul class="tab-list-search">
      <li class="selected"><a href="#" data-id="1">CLASSIDIED<span class="cl">(3)</span></a></li>
    </ul>
  </nav>
  <div class="tab-bt"></div>
</div>
<div class="search-bkl">
  <nav class="search-classified-list">
    <li>
      <div class="search-img"><a href="classified-detail.html"><img src="../assets/uploads/grape-in-fog-venue_medium.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="classified-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="meta auth comp-name">Presented by<a href="#" target="_blank"> Organization</a></div>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="post-date"><span>Posted: June 10, 2015</span></div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="classified-detail.html"><img src="../assets/uploads/cantor-300x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="classified-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="meta auth comp-name">Presented by<a href="#" target="_blank"> Organization</a></div>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="post-date"><span>Posted: June 10, 2015</span></div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="classified-detail.html"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="classified-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="meta auth comp-name">Presented by<a href="#" target="_blank"> Organization</a></div>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="post-date"><span>Posted: June 10, 2015</span></div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>