
<section class="fullw clients">
  <div class="inner t-c">
    <h3 class="f-ttl">SITE INFO / CLIENTS</h3>
    <p class="dsc">Sizzling blues combined with tasty micro brews headline the Brews and Blues event, sponsored by the Saratoga Chamber of Commerce. Performing will be the.</p>
    <div class="list-logo">
      <ul class="nav">
        <li><a href="#"><img src="../assets/uploads/l1.jpg" alt="logo 1"/></a></li>
        <li><a href="#"><img src="../assets/uploads/l2.jpg" alt="logo 1"/></a></li>
        <li><a href="#"><img src="../assets/uploads/l3.jpg" alt="logo 1"/></a></li>
        <li><a href="#"><img src="../assets/uploads/l4.jpg" alt="logo 1"/></a></li>
        <li><a href="#"><img src="../assets/uploads/l5.jpg" alt="logo 1"/></a></li>
      </ul>
    </div>
  </div>
</section>