
<div class="a-block grey">
  <h4>MAKE IT A NIGHT<span><i class="fa fa-map-marker"></i></span></h4>
  <div class="a-block-ct">
    <form id="search-map" method="POST" action="" class="search-map-frm"><i class="fa fa-search fa-flip-horizontal"></i>
      <input type="text" placeholder="Find Restaurants near this venue..."/>
    </form>
  </div>
  <div class="find-map"><img src="../assets/uploads/find-map.jpg" alt="find map"/></div>
  <div class="filter-map">
    <table class="tbl">
      <tr>
        <td rowspan="2" class="vtop">FILTER MAP BY</td>
        <td>
          <input type="checkbox" name="f-map-all" value="all" id="m-all"/>
          <label for="m-all"><img src="../images/ico-g-all.png" alt="ico-g-all.png"/> All</label>
        </td>
        <td>
          <input type="checkbox" name="f-map-drink" value="drink" id="m-drink"/>
          <label for="m-drink"><img src="../images/ico-g-cup.png" alt="ico-g-cup.png"/> Drink</label>
        </td>
        <td>
          <input type="checkbox" name="f-map-venue" value="venue" id="m-venue"/>
          <label for="m-venue"><img src="../images/ico-g-star.png" alt="ico-g-star.png"/> Venue only</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="f-map-food" value="food" id="m-food"/>
          <label for="m-food"><img src="../images/ico-g-knife.png" alt="ico-g-knife.png"/> Food</label>
        </td>
        <td colspan="2">
          <input type="checkbox" name="f-map-accom" value="food" id="m-accom"/>
          <label for="m-accom"><img src="../images/ico-g-wscreen.png" alt="ico-g-wscreen.png"/> Accommodation</label>
        </td>
      </tr>
    </table>
  </div>
  <div class="nofi-map">
    <p>Don’t see your business listed here?<a href="http://" target="_blank">Email us</a>  to add it!</p><a href="javascript:;" data-target="nofi-more" class="nofi-exp">Expand [+]</a>
  </div>
  <div class="nofi-more">
    <div class="n-star"><span><i class="fa fa-star"></i></span>
      <p>ALBUQUERQUE LITTLE THEATRE</p>
    </div>
    <div class="n-blk">
      <label><span>FOOD</span></label>
      <div class="n-blk-ct">
        <ul>
          <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Cheese Coffee Caf Downtown</li>
          <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Liu Chinese Fast Food</li>
          <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Vinaigrette</li>
          <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Garcias Kitchen The Original</li>
          <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Route 66 Malt Shop</li>
          <li><img src="../images/ico-y-knife.png" alt="ico-y-knife.png"/> Bottger Mansion of Old Town</li>
        </ul>
      </div>
    </div>
    <div class="n-blk">
      <label><span>Accommodation</span></label>
      <div class="n-blk-ct">
        <ul>
          <li><img src="../images/ico-y-wscreen.png" alt="ico-y-wscreen.png"/> Bottger Mansion of Old Town</li>
          <li><img src="../images/ico-y-wscreen.png" alt="ico-y-wscreen.png"/> Liu Chinese Fast Food</li>
        </ul>
      </div>
    </div>
    <div class="n-blk">
      <label><span>Drink</span></label>
      <div class="n-blk-ct">
        <ul>
          <li><img src="../images/ico-y-cup.png" alt="ico-y-wscreen.png"/> Bottger Mansion of Old Town</li>
          <li><img src="../images/ico-y-cup.png" alt="ico-y-wscreen.png"/> Liu Chinese</li>
          <li><img src="../images/ico-y-cup.png" alt="ico-y-wscreen.png"/> Vinaigrette</li>
        </ul>
      </div>
    </div>
  </div>
</div>