
<div class="blog-bkl">
  <div class="b-share-cat art">
    <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" id="print" class="pt print"><i class="fa fa-print"></i></a><a href="#" id="email" class="pt email"><i class="fa fa-envelope-o"></i></a>
  </div>
  <h1 class="p-ttl">1440 Countdown: Make A Play In 24 Hours</h1>
  <div class="el-blk edu-detail">
    <div class="art-pic"><img alt="image" src="../assets/uploads/edu-detail.jpg"/></div>
    <div class="edu-detail-desc">
      <p>
        Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process.  Located in the Saratoga hills, Montalvo occupies a
        Montalvo Arts Center is an oasis of culture and nature whose mission is to create and present arts of all types, nurture artists, and use our historic Villa, buildings, and grounds in innovative ways that engage people in the creative process.  Located in the Saratoga hills, Montalvo occupies a
      </p>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>EDUCATOR CONTACT INFO</h4>
    <div class="art-desc">
      <div class="el-blk social">
        <P><i class="fa fa-envelope fa-lg"></i><span>Email:</span><a href="#" class="vmore">email@gmail.com</a></P>
        <P><i class="fa fa-link fa-lg"></i><span>Website:</span><a href="#" class="vmore">http://www.abhinaya.org</a></P>
        <p><i class="fa fa-star fa-lg"></i><span>Blog:</span><a href="#" class="vmore">blog link</a></p>
        <p><i class="fa fa-facebook fa-lg"></i><span>Facebook:</span><a href="#" class="vmore">www.facebook.com/pages/Abhinaya-Dance-Company-of-San-Jose/1145958 05246422</a></p>
        <p><i class="fa fa-twitter fa-lg"></i><span>Twitter:</span><a href="#" class="vmore">Twitter link</a></p>
        <p><i class="fa fa-camera-retro fa-lg"></i><span>Instagram:</span><a href="#" class="vmore">Instagram link</a></p>
        <p><i class="fa fa-linkedin-square fa-lg"></i><span>LinkedIn:</span><a href="#" class="vmore">LinkedIn link</a></p>
      </div>
      <div class="el-blk location">
        <p><span><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;&nbsp;</i></span>
          <label>361 Ivy Stone Dr, Macon, GA 31220</label>
        </p>
        <p><span><i class="fa fa-phone fa-lg">&nbsp;&nbsp;</i></span>
          <label>(84) 920256301</label>
        </p>
        <p><span><i class="fa fa-fax fa-lg">&nbsp;&nbsp;</i><i class="fa fa-skype fa-lg">&nbsp;&nbsp;</i></span><a href="#" class="skype"><span>(84) 920256311</span></a></p>
      </div>
      <div class="el-blk">
        <div class="b-btn t-c"><a href="#" class="btn btn-b">TEACHERS! APPLY FOR A GRANT FOR THIS PROGRAM</a></div>
      </div>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>SELECT A PROGRAM</h4>
    <div class="el-blk">
      <div class="select-bkl">
        <select>
          <option value="0">1400 Countdown: Make a Play in 24 hours</option>
          <option value="">A</option>
          <option value="">B</option>
          <option value="">C</option>
          <option value="">D</option>
          <option value="">E</option>
        </select>
        <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
      </div>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="pgtt-blk">
    <div class="pg-tt">
      <h4>1400 Countdown: Make a Play in 24 hours</h4>
    </div>
    <div class="triangle-right"><img alt="arrow" src="../images/r-arrow.jpg"/></div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>Program description</h4>
    <div class="des">
      <p>Program description Program description Program description <a href="http://www.sbmp.com/">Santa Barbara Music Publishing</a> Program description Program description Program description Program description Program description.<a href="javascript:;" class="vmore">View more</a></p>
    </div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>Booking / scheduling contact</h4>
    <div class="booking">
      <p><span><i class="fa fa-fax fa-lg">&nbsp;&nbsp;&nbsp;</i><i class="fa fa-skype fa-lg"></i></span><a href="#" class="skype sc"><span>(84) 920256311</span></a></p>
      <P><i class="fa fa-envelope fa-lg">&nbsp;</i><a href="#" class="vmore"> Email@gmail.com</a></P>
      <P><i class="fa fa-check-square fa-lg">&nbsp;</i><a href="#" class="vmore">&nbsp;&nbsp;Book this organizayion</a></P>
    </div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>Program Detail</h4>
    <div class="des">
      <div class="item"><span>Artistic discipline:</span>
        <p>Dance, Literary Arts, Media, Multi-discipline, Music, Storytelling, Theater, Visual Arts</p>
      </div>
      <div class="item"><span>Program type:</span>
        <p>Professional Development</p>
      </div>
      <div class="item"><span>Population served:</span>
        <p>Pre-K, Kindergarten, Grade 1, Grade 2, Grade 3, Grade 4, Grade 5, Grade 6, Grade 7, Grade 8</p>
      </div>
      <div class="item"><span>Subject:</span>
        <p>Fine Arts, Language Arts, Math, Science</p>
      </div>
      <div class="item"><span>Bilingual:</span>
        <p>No</p>
      </div>
      <div class="item"><span>Available dates:</span>
        <p><i class="fa fa-calendar fa-2x">&nbsp;&nbsp;</i><a class="avai-date">09/03/2014</a></p>
      </div>
      <div class="item"><span>Location(s):</span>
        <p>Montalvo Arts Center</p>
      </div>
    </div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>support material</h4>
    <div class="des">
      <p><i class="fa fa-file-pdf-o"></i><a href="#" class="vmore">2015 pdf document</a></p>
    </div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>other qualifications</h4>
    <div class="des">
      <div class="item"><span>Conducts educational programming for 2 or more years:</span>Yes</div>
      <div class="item"><span>Performs criminal background checks on staff with youth contact:</span>Yes</div>
      <div class="item"><span>Maintains general liability insurance:</span>Yes</div>
      <div class="item"><span>Three letters of recommendation / references available:</span>Yes</div>
      <div class="item"><span>Provides study guides for teachers and or students:</span>Yes</div>
      <div class="item"><span>Connects to State and or Common Core Curriculum Standards:</span>Yes</div>
      <div class="item"><span>Provides tools to assess student learning (workshops and residencies):</span>Yes</div>
      <div class="item"><span>Provides scholarship and reduced fees:</span>Yes</div>
      <div class="item"><span>Conducts ongoing assessments of program quality:</span>Yes</div>
    </div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>photos</h4>
    <div class="des">
      <div class="a-block-ct-photo edu-photo">
        <div class="photo-inner"><a href="#" class="fullscreen"><i class="fa fa-arrows-alt fa-2x"></i></a>
          <ul class="bxslider">
            <li><img src="../assets/uploads/mixed2-04.jpg"/></li>
            <li><img src="../assets/uploads/test.jpg"/></li>
            <li><img src="../assets/uploads/recent-00.jpg"/></li>
            <li><img src="../assets/uploads/mixed2-04.jpg"/></li>
            <li><img src="../assets/uploads/sculpt-03.jpg"/></li>
          </ul>
          <div id="bx-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/abhinaya1-150x150.jpg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/test.jpg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/recent-00.jpg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/mixed2-04.jpg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/sculpt-03.jpg"/></a></div>
        </div>
        <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
      </div>
      <div style="display:none" class="photo-box">
        <div data-target="1" class="photo selected"><img src="../assets/uploads/recent-00.jpg"/>
          <div class="photo-caption">
            <p>The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1</p>
          </div>
        </div>
        <div data-target="2" class="photo"><img src="../assets/uploads/test.jpg"/>
          <div class="photo-caption">
            <p>The picture caption 2</p>
          </div>
        </div>
        <div data-target="3" class="photo"><img src="../assets/uploads/mixed1-00.jpg"/>
          <div class="photo-caption">
            <p>The picture caption 3</p>
          </div>
        </div>
        <div data-target="4" class="photo"><img src="../assets/uploads/mixed2-04.jpg"/>
          <div class="photo-caption">
            <p>The picture caption 4</p>
          </div>
        </div>
        <div data-target="5" class="photo"><img src="../assets/uploads/test.jpg"/>
          <div class="photo-caption">
            <p>The picture caption 5</p>
          </div>
        </div>
        <div data-target="6" class="photo"><img src="../assets/uploads/test2.jpg"/>
          <div class="photo-caption">
            <p>The picture caption 6</p>
          </div>
        </div>
        <div class="thumb-slider">
          <ul class="slider-video">
            <li><a href="#" data-id="1" class="current"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
            <li><a href="#" data-id="2"><img src="../assets/uploads/video-thumb-2.jpg"/></a></li>
            <li><a href="#" data-id="3"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
            <li><a href="#" data-id="4"><img src="../assets/uploads/video-thumb-2.jpg"/></a></li>
            <li><a href="#" data-id="5"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
            <li><a href="#" data-id="6"><img src="../assets/uploads/video-thumb-2.jpg"/></a></li>
          </ul>
        </div>
        <div class="closevideo"><i class="fa fa-times fa-lg"></i></div>
      </div>
    </div>
  </div>
  <div class="pg-bkl">
    <div class="arrow-right"></div>
    <h4>videos</h4>
    <div class="des">
      <div class="a-block-ct-video edu-photo">
        <div class="video-inner">
          <ul class="video-block">
            <li data-target="1" class="vdeo selected">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="0" class="vdeo">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="1" class="vdeo">
              <iframe src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="2" class="vdeo">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="3" class="vdeo">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="4" class="vdeo">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="5" class="vdeo">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
            <li data-target="6" class="vdeo">
              <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
            </li>
          </ul>
          <ul class="video-description">
            <li>
              <p>Video description here Video description here Video description here Video description here Video description here Video description here</p>
            </li>
          </ul>
          <div id="video-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/test2_thum.jpg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="5" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="6" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="7" href=""><img src="../assets/uploads/test-thum.jpg"/></a></div>
        </div>
        <div class="vd-loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
      </div>
    </div>
  </div>
</div>
<div class="line-light"></div>
<div class="blog-bkl">
  <div class="comment-box">
    <p class="cment"><a>(02)</a>comments</p>
    <ul class="comment-list">
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">I would like to look at you boots but cant get prices</div>
          <p class="t-l"><a href="#" class="comment-reply-link"><i class="fa fa-reply-all"></i>Reply</a></p>
        </div>
      </li>
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">I would like to look at you boots but cant get prices</div>
          <p class="t-l"><a href="#" class="comment-reply-link"><i class="fa fa-reply-all"></i>Reply</a></p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="blog-bkl">
  <div class="cm-form">
    <h3>Post a Comment</h3>
    <form method="post" action="#" id="commentform" novalidate="" class="comment-form">
      <div class="ipt">
        <div class="inp-half">
          <input type="text" placeholder="Your name" class="inp-txt-event"/>
        </div>
        <div class="inp-half">
          <input type="text" placeholder="Your email" class="inp-txt-event"/>
        </div>
      </div>
      <div class="ipt">
        <textarea placeholder="Comment" class="inp-desc-event"></textarea>
      </div>
      <p class="t-l b-btn aln-l">
        <input type="submit" name="submit" value="Post Comment" tabindex="4" class="btn btn-b"/>
      </p>
    </form>
  </div>
</div>