
<div class="a-block locatn">
  <h4>LOCATION<span><i class="fa fa-map-marker"></i></span></h4>
  <div class="a-block-ct">
    <div class="lo-left">
      <div class="lo-map"><img src="../assets/uploads/find-map.jpg" alt="map-location.jpg"/></div>
      <div class="location-btn b-btn"><a href="#" class="btn btn-b">GET DIRECTIONS</a></div>
    </div>
    <div class="lo-right"><b>Albuquerque Little Theatre</b>
      <p>224 San Pasquale Avenue SW Albuquerque, NM 87104</p>
    </div>
    <div class="clearfix"></div>
    <div class="lo-meta clearfix">
      <p><b>Accessibility Information:</b> Currently, no accessibility information is available for this event.</p>
      <p><b>Connect with this Organization:</b><a href="http://" target="_blank" class="lo-link fb"><i class="fa fa-facebook fa-lg"></i></a><a href="http://" target="_blank" class="lo-link tw"><i class="fa fa-twitter fa-lg"></i></a><a href="http://" target="_blank" class="lo-link donat">DONATE</a></p>
    </div>
  </div>
</div>