
<div class="pic"><a href="#">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
<div class="blk-detail-single--event clearfix">
  <h1 class="p-ttl">20 Inspiring Free WordPress Themes To Start Anew in 2014</h1>
  <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
  <div class="b-share-cat b-share--full">
    <label>&nbsp;<span>Share</span></label><a href="#" target="_blank" class="sc lk bg_social"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="sc tw bg_social"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc fb bg_social"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc google bg_social"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc inst bg_social"><span><i class="fa fa-instagram"></i></span></a><a href="#" id="print2" class="pt print"><i class="fa fa-print"></i></a><a href="#" class="pt email"><i class="fa fa-envelope-o"></i></a>
  </div>
  <div class="rating-box rating-action">
    <div class="like"><a href="javascript:;">1974</a></div>
    <div class="cm"><a href="javascript:;">Comment</a></div>
    <div class="bok-mk"><a href="javascript:;">Bookmark</a></div>
  </div>
</div>
<h3 class="a-txt-fea">Put on your leather jackets and take a trip to the nifty fifties with the original rock ‘n’ roll high school musical, GREASE! Good girl Sandy and greaser Danny fell in love over the summer.</h3>
<div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
<div class="a-desc">
  <p>But when they unexpectedly discover they’re now in the same high school.</p>
  <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG<a href="javascript:;" class="vmore">View more</a></p>
  <div class="a-desc-more">
    <p>But when they unexpectedly discover they’re now in the same high school.</p>
    <p>Come find out in this exciting production featuring the irresistible songs from the Broadway show and hit movie! Rated PG</p>
  </div>
</div>