
<div id="comment" class="a-block">
  <h4>COMMENTS<span><i class="fa fa-comment"></i></span></h4>
  <div class="a-block-ct">
    <div id="comments" class="comments-area">
      <h2 class="comments-title">4 comments<a href="#respond">Add yours<i class="fa fa-long-arrow-right"></i></a></h2>
      <ol class="commentlist">
        <li id="li-comment-20" class="comment even thread-even depth-1">
          <article id="comment-20" class="comment clearfix">
            <div class="comment-avatar"><img alt="avatr" src="../assets/uploads/a1.jpg" class="avatar"/></div>
            <div class="comment-ct">
              <label class="author-n">Brenda Wilson</label><a href="#" class="comment-meta-time muted-small">
                <time datetime="2013-12-08T02:49:18+00:00">18 January 2014</time></a>
              <div class="comment-content comment">I would like to look at you boots but cant get prices</div>
              <p class="t-l"><a href="#" class="comment-reply-link">Reply</a></p>
            </div>
          </article>
          <ul class="children">
            <li class="comment odd depth-2 clearfix">
              <article id="comment-23" class="comment clearfix">
                <div class="comment-avatar"><img alt="avatr" src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=75" class="avatar"/></div>
                <div class="comment-ct">
                  <label class="author-n">Brad TohnJon</label><a href="#" class="comment-meta-time muted-small">
                    <time datetime="2013-12-08T02:49:18+00:00">18 January 2014</time></a>
                  <div class="comment-content comment">One of the reason for abandoning the cart is simply because we can’t get a price until we reach the cart. It would happen a lot less if companies would put the price of an item from the start. I often don’t even get to the cart because they want me to register before seing the cart.</div>
                </div>
              </article>
            </li>
          </ul>
        </li>
        <li id="li-comment-21" class="comment even thread-even depth-1">
          <article id="comment-20" class="comment clearfix">
            <div class="comment-avatar"><img alt="avatr" src="../assets/uploads/a2.png" class="avatar"/></div>
            <div class="comment-ct">
              <label class="author-n">J-Sequeiros</label><a href="#" class="comment-meta-time muted-small">
                <time datetime="2013-12-08T02:49:18+00:00">12 January 2014</time></a>
              <div class="comment-content comment">Quisiera visitar el sitio en la versión en spanish, Quisiera visitar el sitio en la versión en spanish</div>
              <p class="t-l"><a href="#" class="comment-reply-link">Reply</a></p>
            </div>
          </article>
        </li>
        <li id="li-comment-25" class="comment even thread-even depth-1">
          <article id="comment-25" class="comment clearfix">
            <div class="comment-avatar"><img alt="avatr" src="../assets/uploads/a3.jpg" class="avatar"/></div>
            <div class="comment-ct">
              <label class="author-n">Josephin Ala</label><a href="#" class="comment-meta-time muted-small">
                <time datetime="2013-12-08T02:49:18+00:00">12 January 2014</time></a>
              <div class="comment-content comment">I agree. The most common reason I abandon a cart is because it is the only way to see the full price incl. shipping and if the shipping is too much I’ll leave. I love stores that offer free shipping or flat rates that take the guess work out of shopping.</div>
              <p class="t-l"><a href="#" class="comment-reply-link">Reply</a></p>
            </div>
          </article>
        </li>
      </ol>
      <div id="respond" class="cm-frm">
        <h3>Leave a Comment</h3>
        <p>Your email address will not be published.</p>
        <form method="post" action="#" id="commentform" novalidate="" class="comment-form">
          <div class="clearfix">
            <div class="inp-half">
              <label for="comment_author">Your name<span class="required">*</span></label>
              <input type="text" name="author" id="comment_author" tabindex="1" class="inp inp-txt"/>
            </div>
            <div class="inp-half">
              <label for="email">Your email<span class="required">*</span></label>
              <input type="text" name="email" id="email" tabindex="2" class="inp inp-txt"/>
            </div>
          </div>
          <div class="clearfix">
            <label for="comment">Comment<span class="required">*</span></label>
            <textarea id="comment" rows="10" tabindex="3" class="inp inp-txt textarea"></textarea>
          </div>
          <p class="pre-code"><b>You may use these HTML tags and attributes:</b>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt;</p>
          <p class="t-l b-btn">
            <input type="submit" name="submit" value="Post Comment" tabindex="4" class="btn btn-b"/>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>