
<div class="blog-bkl organization">
  <div class="b-share-cat art">
    <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" id="print" class="pt print"><i class="fa fa-print"></i></a><a href="#" id="email" class="pt email"><i class="fa fa-envelope-o"></i></a>
  </div>
  <h1 class="p-ttl">888 Monkeys Summer Arts Program</h1>
  <div class="icons-list"><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowmenty.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.</div></span></div>
  <div class="org-type">Type: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a></div>
  <div class="rating-box rating-action rating-art">
    <div class="like"><a href="javascript:;">1974</a></div>
    <div class="cm"><a href="javascript:;">Comment</a></div>
  </div>
  <div class="el-blk">
    <div class="art-pic"><img alt="image" src="../assets/uploads/Akoma2012-292x300.jpg"/></div>
    <div class="art-social">
      <div class="el-blk">
        <div class="art-social-item"><i class="fa fa-envelope fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Email</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-link fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Website</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-star fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Blog</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-facebook fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Facebook</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-twitter fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Twitter</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-camera-retro fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Instagram</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-linkedin-square fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">LinkedIn</a></div>
      </div>
      <div class="el-blk location">
        <p><span><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;&nbsp;</i></span>
          <label>361 Ivy Stone Dr, Macon, GA 31220</label>
        </p>
        <p><span><i class="fa fa-phone fa-lg">&nbsp;&nbsp;</i></span>
          <label>(84) 920256301</label>
        </p>
        <p><span><i class="fa fa-fax fa-lg">&nbsp</i></span>
          <label>(84) 920256311</label>
        </p>
      </div>
      <div class="el-blk">
        <div class="b-btn fl"><a href="#" class="btn btn-b">ADD IT</a></div>
      </div>
    </div>
  </div>
  <div class="el-blk">
    <div class="art-desc">
      <p>888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an organization dedicated to promoting, performing and teaching circus arts in order to build confidence, expand life choices and inspire artistry. Each summer, experienced educators team up with drama, art, circus, and movement professionals to offer kids ages 9-16 an...<a href="javascript:;" class="more">View more</a></p>
    </div>
  </div>
</div>
<div class="blog-bkl artist-tab">
  <nav class="nav-tab">
    <ul class="tab-list">
      <li><a href="#" data-id="1">UPCOMING EVENTS</a></li>
      <li><a href="#" data-id="2">PAST EVENTS</a></li>
    </ul>
  </nav>
  <div class="tab-bt art"></div>
</div>
<div data-target="1" class="blog-bkl tab">
  <div class="a-block-ct">
    <div class="more-frm-itm">
      <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/artist-thumb.jpg" alt="squr"/></a></div>
      <div class="more-ct">
        <h3><a href="#" target="_blank">GREASE</a></h3>
        <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
        <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
        <div class="rating-box rating-action">
          <div class="like"><a href="javascript:;">1974</a></div>
        </div>
      </div>
      <div class="b-btn"><a href="#" class="btn btn-b">ADD IT</a></div>
    </div>
    <div class="more-frm-itm">
      <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/artist-thumb.jpg" alt="squr"/></a></div>
      <div class="more-ct">
        <h3><a href="http://" target="_blank">GREASE</a></h3>
        <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
        <p class="p-date">Oct 9 - Nov 7,<span> 2014</span></p>
        <div class="rating-box rating-action">
          <div class="like"><a href="javascript:;">1974</a></div>
        </div>
      </div>
      <div class="b-btn"><a href="#" class="btn btn-b">ADD IT</a></div>
    </div>
    <p class="t-r"><a class="vmore" href="javascript:;">View more</a></p>
  </div>
</div>
<div data-target="2" class="blog-bkl tab">
  <div class="a-block-ct">
    <div class="more-frm-itm">
      <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/artist-thumb.jpg" alt="squr"/></a></div>
      <div class="more-ct">
        <h3><a href="#" target="_blank">Susan</a></h3>
        <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
        <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
        <div class="rating-box rating-action">
          <div class="like"><a href="javascript:;">1974</a></div>
        </div>
      </div>
      <div class="b-btn"><a href="#" class="btn btn-b">ADD IT</a></div>
    </div>
    <div class="more-frm-itm">
      <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/artist-thumb.jpg" alt="squr"/></a></div>
      <div class="more-ct">
        <h3><a href="http://" target="_blank">GREASE</a></h3>
        <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
        <p class="p-date">Oct 9 - Nov 7,<span> 2014</span></p>
        <div class="rating-box rating-action">
          <div class="like"><a href="javascript:;">1974</a></div>
        </div>
      </div>
      <div class="b-btn"><a href="#" class="btn btn-b">ADD IT</a></div>
    </div>
    <p class="t-r"><a class="vmore" href="javascript:;">View more</a></p>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>MORE ABOUT THIS ORGANIZATION</h4>
    <div class="el-blk">
      <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
      <p class="custom">
        Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
        Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
      </p>
    </div>
    <div class="el-blk">
      <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
      <p class="custom">
        Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
        Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
      </p>
    </div>
    <div class="el-blk">
      <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
      <p class="custom">
        Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
        Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
      </p>
    </div>
    <div class="el-blk">
      <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
      <p class="custom">
        Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
        Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
      </p>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>PHOTOS<span><i class="fa fa-picture-o"></i></span></h4>
    <div class="a-block-ct-photo">
      <div class="photo-inner"><a href="#" class="fullscreen"><i class="fa fa-arrows-alt fa-2x"></i></a>
        <ul class="bxslider">
          <li><img src="../assets/uploads/mixed2-04.jpg"/></li>
          <li><img src="../assets/uploads/test.jpg"/></li>
          <li><img src="../assets/uploads/recent-00.jpg"/></li>
          <li><img src="../assets/uploads/mixed2-04.jpg"/></li>
          <li><img src="../assets/uploads/sculpt-03.jpg"/></li>
        </ul>
        <div id="bx-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/mixed2-04.jpg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/test.jpg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/recent-00.jpg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/mixed2-04.jpg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/sculpt-03.jpg"/></a></div>
      </div>
      <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
    </div>
    <div style="display:none" class="photo-box">
      <div data-target="1" class="photo selected"><img src="../assets/uploads/recent-00.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1</p>
        </div>
      </div>
      <div data-target="2" class="photo"><img src="../assets/uploads/test.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 2</p>
        </div>
      </div>
      <div data-target="3" class="photo"><img src="../assets/uploads/mixed1-00.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 3</p>
        </div>
      </div>
      <div data-target="4" class="photo"><img src="../assets/uploads/mixed2-04.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 4</p>
        </div>
      </div>
      <div data-target="5" class="photo"><img src="../assets/uploads/test.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 5</p>
        </div>
      </div>
      <div data-target="6" class="photo"><img src="../assets/uploads/test2.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 6</p>
        </div>
      </div>
      <div class="thumb-slider">
        <ul class="slider-video">
          <li><a href="#" data-id="1" class="current"><img src="../assets/uploads/mixed2-04.jpg"/></a></li>
          <li><a href="#" data-id="2"><img src="../assets/uploads/recent-00.jpg"/></a></li>
          <li><a href="#" data-id="3"><img src="../assets/uploads/mixed2-04.jpg"/></a></li>
          <li><a href="#" data-id="4"><img src="../assets/uploads/recent-00.jpg"/></a></li>
          <li><a href="#" data-id="5"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
          <li><a href="#" data-id="6"><img src="../assets/uploads/recent-00.jpg"/></a></li>
        </ul>
      </div>
      <div class="closevideo"><i class="fa fa-times fa-lg"></i></div>
    </div>
    <h4>VIDEOS<span><i class="fa fa-film"></i></span></h4>
    <div class="a-block-ct-video">
      <div class="video-inner">
        <ul class="video-block">
          <li data-target="1" class="vdeo selected">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="0" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="1" class="vdeo">
            <iframe src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="2" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="3" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="4" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="5" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="6" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
        </ul>
        <ul class="video-description">
          <li>
            <p>Video description here Video description here Video description here Video description here Video description here Video description here</p>
          </li>
        </ul>
        <div id="video-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/test2_thum.jpg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="5" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="6" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="7" href=""><img src="../assets/uploads/test-thum.jpg"/></a></div>
      </div>
      <div class="vd-loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
    </div>
    <h4>AUDIO<span><i class="fa fa-file-audio-o"></i></span></h4>
    <div class="a-block-ct">
      <ul class="audio-list">
        <li>
          <p>
            <iframe name="mini" style="border:0px;width:100%;height:100px;" src="http://widget.cdbaby.com/85125bbb-7ec6-47e8-8dec-aeadd8f97504/mini/light/opaque"></iframe>
          </p>
        </li>
        <li>
          <p><strong>The audio title</strong></p>
          <p>
            <audio controls="controls" style="border:0px;width:100%;height:50px;">
              <source src="http://www.w3schools.com/html/horse.ogg" type="audio/ogg"/>
              <source src="http://www.w3schools.com/html/horse.mp3" type="audio/mpeg"/>
              <embed height="50" width="100%" src="http://www.w3schools.com/html/horse.mp3"></embed>
            </audio>
          </p>
        </li>
        <li>
          <embed width="100%" height="100px" name="plugin" src="http://static.mp3.zdn.vn/skins/mp3_main/flash/embed/embed_1.0.swf?xmlURL=http://mp3.zing.vn/xml/song-xml/ZGxGykmNpBmxGNGtLvJTbHkH&amp;amp;autostart=true" type="application/x-shockwave-flash"></embed>
        </li>
        <li>
          <p>
            <iframe title="Store Widget" src="http://www.cdbaby.com/widgets/store/store.aspx?id=CsfSGWXefhFmksmRlJNx9A%3d%3d&amp;type=ByCustomer&amp;c1=0x000000&amp;c2=0xE0E0E0&amp;c3=0xCCCCCC&amp;c4=0x666666&amp;c5=0x333333&amp;c6=0xFFFFFF&amp;c7=0xFFFFFF" width="100%" height="575px" frameborder="0" scrolling="no"></iframe>
          </p>
        </li>
      </ul>
      <p class="t-r"><a class="vmore" href="javascript:;">View more</a></p>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="comment-box">
    <div class="a-block">
      <h4>COMMENTS<span><i class="fa fa-comment"></i></span></h4>
      <div class="a-block-ct">
        <div id="comments" class="comments-area">
          <h2 class="comments-title">4 comments<a href="#respond">Add yours<i class="fa fa-long-arrow-right"></i></a></h2>
        </div>
      </div>
    </div>
    <ul class="comment-list">
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">
            <p>I would like to look at you boots but cant get prices</p>
          </div>
          <div class="b-btn fl"><a href="#" class="btn btn-b">Reply</a></div>
        </div>
      </li>
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">
            <p>I would like to look at you boots but cant get prices</p>
          </div>
          <div class="b-btn fl"><a href="#" class="btn btn-b">Reply</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="blog-bkl">
  <div class="cm-form">
    <h3>Post a Comment</h3>
    <form method="post" action="#" id="commentform" novalidate="" class="comment-form">
      <div class="ipt">
        <div class="inp-half">
          <input type="text" placeholder="Your name" class="inp-txt-event"/>
        </div>
        <div class="inp-half">
          <input type="text" placeholder="Your email" class="inp-txt-event"/>
        </div>
      </div>
      <div class="ipt">
        <textarea placeholder="Comment" class="inp-desc-event"></textarea>
      </div>
      <p class="t-l b-btn aln-l">
        <input type="submit" name="submit" value="Post Comment" tabindex="4" class="btn btn-b"/>
      </p>
    </form>
  </div>
</div>