
<div class="blog-bkl organization">
  <div class="b-share-cat art">
    <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a><a href="#" id="print" class="pt print"><i class="fa fa-print"></i></a><a href="#" id="email" class="pt email"><i class="fa fa-envelope-o"></i></a>
  </div>
  <h1 class="p-ttl">Benjamin Harrison</h1>
  <div class="icons-list"><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowmenty.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program. Originally conceived as a renewal opportunity similar to an academic sabbatical, this groundbreaking initiative offers mid-career artists and arts administrators the opportunity to renew and refresh their creativity.</div></span><span><img src="../assets/uploads/icon-crf1.jpg"/><i class="fa fa-caret-down ttip"></i>
      <div class="show-tip">Creative Renewal Arts Fellow - In 1999, the Arts Council of Indianapolis, with generous support from the Lilly Endowment, established the Creative Renewal Arts Fellowship program.</div></span></div>
  <div class="org-type">Category: <a class="link", href="#">Eduacation</a>, <a class="link", href="#">Music</a>, <a class="link", href="#">Foundation</a></div>
  <div class="org-type">Location: <a class="link", href="#">Broad Ripple Village</a>, <a class="link", href="#">Canal and White River State Park</a>, <a class="link", href="#">Carmel Arts District</a></div>
  <div class="org-type">Collection: <a class="link", href="#">46 for XLVI</a>, <a class="link", href="#">Arts Council of Indianapolis</a>, <a class="link", href="#">City of Indianapolis</a></div>
  <div class="rating-box rating-action rating-art">
    <div class="like"><a href="javascript:;">1974</a></div>
    <div class="cm"><a href="javascript:;">Comment</a></div>
  </div>
  <div class="el-blk">
    <div class="art-pic"><img alt="image" src="../assets/uploads/art.jpg"/></div>
    <div class="art-social">
      <div class="el-blk">
        <div class="art-social-item"><i class="fa fa-envelope fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Email</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-link fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Website</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-star fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Blog</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-facebook fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Facebook</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-twitter fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Twitter</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-camera-retro fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">Instagram</a>
          <div class="slash">/</div>
        </div>
        <div class="art-social-item"><i class="fa fa-linkedin-square fa-lg">&nbsp;&nbsp;&nbsp;</i><a href="#">LinkedIn</a></div>
      </div>
      <div class="el-blk location">
        <p><span><i class="fa fa-map-marker fa-lg">&nbsp;&nbsp;&nbsp;</i></span>
          <label>361 Ivy Stone Dr, Macon, GA 31220</label>
        </p>
        <p><span><i class="fa fa-phone fa-lg">&nbsp;&nbsp;</i></span>
          <label>(84) 920256301</label>
        </p>
        <p><span><i class="fa fa-fax fa-lg">&nbsp</i></span>
          <label>(84) 920256311</label>
        </p>
      </div>
      <div class="el-blk">
        <div class="b-btn fl"><a href="#" class="btn btn-b">ADD IT</a></div>
      </div>
    </div>
  </div>
  <div class="el-blk">
    <div class="art-desc">
      <p>888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an organization dedicated to promoting, performing and teaching circus arts in order to build confidence, expand life choices and inspire artistry. Each summer, experienced educators team up with drama, art, circus, and movement professionals to offer kids ages 9-16 an...<a href="javascript:;" class="more">View more</a></p>
    </div>
  </div>
  <div class="el-blk">
    <p>Medium type: <a class="p-content", href="#">Architectural Detailing</a></p>
    <p>Date created: 2008</p>
    <p>Dimensions: 1,000 sq. feet</p>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>LOCATION<span><i class="fa fa-map-marker"></i></span></h4>
  </div>
  <div class="a-block-ct locatn">
    <div class="loc-address"><span><b>Old Trafford</b></span>
      <p>Old Trafford, Manchester, CA, 0192</p>
    </div>
    <div class="lo-left venue"><img src="../assets/uploads/find-map.jpg" alt="map-location.jpg"/>
      <p class="t-r"><a href="http://" target="_blank">Full map and directions</a></p>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>ASSOCIATED ARTISTS</h4>
    <div class="el-blk">
      <p>. <a class="p-content", href="#">Tom Torluemke</a></p>
      <p>. <a class="p-content", href="#">Tom Torluemke</a></p>
      <p>. <a class="p-content", href="#">Tom Torluemke</a></p>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>MORE ABOUT THIS PIECE</h4>
    <div class="el-blk">
      <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
      <p class="custom">
        Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
        Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
      </p>
    </div>
    <div class="el-blk">
      <p class="custom"><strong>What did the Fellowship or Laureate mean to you at the time you received it?</strong></p>
      <p class="custom">
        Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
        Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
      </p>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="a-block">
    <h4>PHOTOS<span><i class="fa fa-picture-o"></i></span></h4>
    <div class="a-block-ct-photo">
      <div class="photo-inner"><a href="#" class="fullscreen"><i class="fa fa-arrows-alt fa-2x"></i></a>
        <ul class="bxslider">
          <li><img src="../assets/uploads/mixed2-04.jpg"/></li>
          <li><img src="../assets/uploads/test.jpg"/></li>
          <li><img src="../assets/uploads/recent-00.jpg"/></li>
          <li><img src="../assets/uploads/mixed2-04.jpg"/></li>
          <li><img src="../assets/uploads/sculpt-03.jpg"/></li>
        </ul>
        <div id="bx-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/mixed2-04.jpg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/test.jpg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/recent-00.jpg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/mixed2-04.jpg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/sculpt-03.jpg"/></a></div>
      </div>
      <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
    </div>
    <div style="display:none" class="photo-box">
      <div data-target="1" class="photo selected"><img src="../assets/uploads/recent-00.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1 The picture caption 1</p>
        </div>
      </div>
      <div data-target="2" class="photo"><img src="../assets/uploads/test.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 2</p>
        </div>
      </div>
      <div data-target="3" class="photo"><img src="../assets/uploads/mixed1-00.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 3</p>
        </div>
      </div>
      <div data-target="4" class="photo"><img src="../assets/uploads/mixed2-04.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 4</p>
        </div>
      </div>
      <div data-target="5" class="photo"><img src="../assets/uploads/test.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 5</p>
        </div>
      </div>
      <div data-target="6" class="photo"><img src="../assets/uploads/test2.jpg"/>
        <div class="photo-caption">
          <p>The picture caption 6</p>
        </div>
      </div>
      <div class="thumb-slider">
        <ul class="slider-video">
          <li><a href="#" data-id="1" class="current"><img src="../assets/uploads/mixed2-04.jpg"/></a></li>
          <li><a href="#" data-id="2"><img src="../assets/uploads/recent-00.jpg"/></a></li>
          <li><a href="#" data-id="3"><img src="../assets/uploads/mixed2-04.jpg"/></a></li>
          <li><a href="#" data-id="4"><img src="../assets/uploads/recent-00.jpg"/></a></li>
          <li><a href="#" data-id="5"><img src="../assets/uploads/video-thumb-1.jpg"/></a></li>
          <li><a href="#" data-id="6"><img src="../assets/uploads/recent-00.jpg"/></a></li>
        </ul>
      </div>
      <div class="closevideo"><i class="fa fa-times fa-lg"></i></div>
    </div>
    <h4>VIDEOS<span><i class="fa fa-film"></i></span></h4>
    <div class="a-block-ct-video">
      <div class="video-inner">
        <ul class="video-block">
          <li data-target="1" class="vdeo selected">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="0" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="1" class="vdeo">
            <iframe src="http://www.youtube.com/embed/XFSAh0OhTEQ&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="2" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="3" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="4" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="5" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
          <li data-target="6" class="vdeo">
            <iframe src="http://www.youtube.com/embed/3QP0yx0T_CY&amp;amp;wmode=opaque"></iframe>
          </li>
        </ul>
        <ul class="video-description">
          <li>
            <p>Video description here Video description here Video description here Video description here Video description here Video description here</p>
          </li>
        </ul>
        <div id="video-pager"><a data-slide-index="0" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="1" href=""><img src="../assets/uploads/test2_thum.jpg"/></a><a data-slide-index="2" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="3" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="4" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="5" href=""><img src="../assets/uploads/test-thum.jpg"/></a><a data-slide-index="6" href=""><img src="../assets/uploads/squr_1_thum.jpg"/></a><a data-slide-index="7" href=""><img src="../assets/uploads/test-thum.jpg"/></a></div>
      </div>
      <div class="vd-loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
    </div>
  </div>
</div>
<div class="blog-bkl">
  <div class="comment-box">
    <div class="a-block">
      <h4>COMMENTS<span><i class="fa fa-comment"></i></span></h4>
      <div class="a-block-ct">
        <div id="comments" class="comments-area">
          <h2 class="comments-title">4 comments<a href="#respond">Add yours<i class="fa fa-long-arrow-right"></i></a></h2>
        </div>
      </div>
    </div>
    <ul class="comment-list">
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">
            <p>I would like to look at you boots but cant get prices</p>
          </div>
          <div class="b-btn fl"><a href="#" class="btn btn-b">Reply</a></div>
        </div>
      </li>
      <li class="comment-item">
        <div class="comment-pic"><img alt="avatr" src="../assets/uploads/a1.jpg"/></div>
        <div class="comment-ctent">
          <label class="author-n">Brenda Wilson</label>
          <div class="comment-content comment">
            <p>I would like to look at you boots but cant get prices</p>
          </div>
          <div class="b-btn fl"><a href="#" class="btn btn-b">Reply</a></div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="blog-bkl">
  <div class="cm-form">
    <h3>Post a Comment</h3>
    <form method="post" action="#" id="commentform" novalidate="" class="comment-form">
      <div class="ipt">
        <div class="inp-half">
          <input type="text" placeholder="Your name" class="inp-txt-event"/>
        </div>
        <div class="inp-half">
          <input type="text" placeholder="Your email" class="inp-txt-event"/>
        </div>
      </div>
      <div class="ipt">
        <textarea placeholder="Comment" class="inp-desc-event"></textarea>
      </div>
      <p class="t-l b-btn aln-l">
        <input type="submit" name="submit" value="Post Comment" tabindex="4" class="btn btn-b"/>
      </p>
    </form>
  </div>
</div>