
<div class="a-block more-from">
  <h4>MORE FROM LIMELIGHT THEATRE</h4>
  <div class="a-block-ct">
    <div class="more-frm-list">
      <div class="more-frm-itm">
        <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/squr_1.jpg" alt="squr"/></a></div>
        <div class="more-ct">
          <h3><a href="#" target="_blank">CHINA OPERA PHANTOM</a></h3>
          <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
          <p class="p-date">Oct 10 - Nov 2,<span> 2014</span></p>
          <div class="rating-box rating-action">
            <div class="like"><a href="javascript:;">1974</a></div>
          </div>
        </div>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">ATTENDING?</a></div>
      </div>
      <div class="more-frm-itm">
        <div class="more-pic"><a href="#" target="_blank"><img src="../assets/uploads/squr_2.jpg" alt="squr"/></a></div>
        <div class="more-ct">
          <h3><a href="http://" target="_blank">ULTRON VS AVENGERS 2015</a></h3>
          <p class="meta auth">Presented by<a href="#" target="_blank"> St. Helena Public Library</a>at<a href="#" target="_blank"> Public Library</a></p>
          <p class="p-date">Oct 9 - Nov 7,<span> 2014</span></p>
          <div class="rating-box rating-action">
            <div class="like"><a href="javascript:;">1974</a></div>
          </div>
        </div>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">ATTENDING?</a></div>
      </div>
      <p class="t-r"><a class="vmore" href="javascript:;">View more</a></p>
    </div>
  </div>
</div>