
<div class="a-block datetime">
  <h4>INDIVIDUAL DATES & TIMES *<span> <i class="fa fa-clock-o"></i></span></h4>
  <div class="a-block-ct">
    <div class="clearfix">
      <ul class="ind-time">
        <li>Dec 3, 2014: 3:35 pm - 4 pm (Wed)</li>
        <li>Dec 3, 2014: 3:35 pm - 4 pm (Wed)</li>
      </ul>
    </div>
    <p class="t-r">
       
      <a class="vmore" href="javascript:;">View more</a>
    </p>
    <div class="not"><span>* </span> Event durations (if noted) are approximate. Please check with the presenting organization or venue to confirm start times and duration.</div>
  </div>
</div>