
<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span class="tx">One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span class="tx">Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li class="current"><a><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="education-list.html"><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-thumb">
    <li class="edu">
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img1.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...</div>
        </div>
      </div>
    </li>
    <li class="edu">
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img2.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...</div>
        </div>
      </div>
    </li>
    <li class="edu">
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img3.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...</div>
        </div>
      </div>
    </li>
    <li class="edu">
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img2.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...</div>
        </div>
      </div>
    </li>
    <li class="edu">
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img2.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...</div>
        </div>
      </div>
    </li>
    <li class="edu">
      <div class="div-one">
        <div class="search-img"><a href="#"><img src="../assets/uploads/edu-img3.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the...</div>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>