
<section class="featured-event-blk">
  <h3>Featured Events</h3>
  <div class="wrapper-featured clearfix">
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time time-full-layout">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">
            The New York Standands Quartet(NYSQ) was formed in 2006 by four master
            musicians was formed in 2006 by four master musicians
          </p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a>
            <label>&nbsp;</label><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">
            The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians
            was formed in 2006 by four master musicians was formed in 2006 by four master musicians
          </p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four masterrecommend naming props from the component's own point of view rather than the context in which it is being</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical item-feature-event">
          <div class="img-wrap"><a href="#" class="evt-img"><img src="../assets/uploads/bg2-s.jpg" alt=""/></a></div>
          <p class="evt-time">Jan. 7</p><a href="#" class="evt-title">south florida jazz: new york standards quartet</a>
          <p class="evt-description">The New York Standands Quartet(NYSQ) was formed in 2006 by four master musicians was formed in 2006 by four master musicians</p>
          <div class="evt-action"><a href="#" class="btn btn-l">more info</a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-google-plus"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>