
<section class="blk-fea-article clearfix">
  <h2 class="fea-ttl fea-ttl__centered"><span class="fea-ttl__text">featured articles</span></h2>
  <div class="row two-col">
    <div class="v-line"></div>
    <div class="wc-l">
      <section class="list-blog">
        <article class="blog-itm"><a href="#">
            <figure style="background-image: url('../assets/uploads/bg4-s.jpg')" class="fea-img"></figure>
            <div class="fea-cat">john cassidy</div>
            <h3>an attack on all of europe</h3>
            <div class="fea-author">by john cassidy</div>
            <div class="desc">Can the E.U. respond effectively to Tueday's violence in Brussels white staying true to its inclusive value?</div></a></article>
        <article class="blog-itm"><a href="#">
            <figure style="background-image: url('../assets/uploads/bg2-s.jpg')" class="fea-img"></figure>
            <div class="fea-cat">books</div>
            <h3>why big business and big government haunt america</h3>
            <div class="fea-author">by nicholas lemann</div>
            <div class="desc">From the Halmiton-Jefferson split to Bernie Sanders, our mistrust of magnitude has long played a role in politics</div></a></article>
      </section>
    </div>
    <div class="wc-r">
      <div class="fea-list">
        <div class="fea-itm">
          <figure style="background-image: url('../assets/uploads/bg3-s.jpg')" class="fea-pic"></figure>
          <div class="fea-info">
            <div class="fea-cat">cultural comment</div>
            <h3>the stakes in hulk hogan's gawker lawsuit</h3>
            <div class="fea-author">by fabio bertoni</div>
          </div>
        </div>
        <!-- END : ITM-->
        <div class="fea-itm">
          <figure style="background-image: url('../assets/uploads/bg3-s.jpg')" class="fea-pic"></figure>
          <div class="fea-info">
            <div class="fea-cat">cultural comment</div>
            <h3>the stakes in hulk hogan's gawker lawsuit</h3>
            <div class="fea-author">by fabio bertoni</div>
          </div>
        </div>
        <!-- END : ITM-->
        <div class="fea-itm">
          <figure style="background-image: url('../assets/uploads/bg3-s.jpg')" class="fea-pic"></figure>
          <div class="fea-info">
            <div class="fea-cat">cultural comment</div>
            <h3>the stakes in hulk hogan's gawker lawsuit</h3>
            <div class="fea-author">by fabio bertoni</div>
          </div>
        </div>
        <!-- END : ITM-->
      </div>
    </div>
  </div>
</section>