
<form id="teacher-frm" method="" action="">
  <div class="blog-bkl">
    <div class="b-share-cat art">
      <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"> <i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"> <i class="fa fa-linkedin"></i></a><a href="#" id="print" class="pt print"><i class="fa fa-print"></i></a><a href="#" id="email" class="pt email"><i class="fa fa-envelope-o"></i></a>
    </div>
    <h2>Grant Application</h2>
    <div class="el-blk edu-detail">
      <div class="edu-detail-desc"> 
        <p>Teachers - thank you for your interest in exposing our youth to creative experiences. If you have identified a program or organization you want your students to experience then you have come to the right place. Please fill out the application below to request funds to help pay for the creative venture, the transportation, materials, or all of the above. Our team will review the application and get back in touch with you in the next two weeks. You can apply for up to $1,000 per teacher, per classroom.</p>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>Teacher/School Information</h4>
      <div class="el-blk full">
        <input type="text" placeholder="Teacher's Name (*)" class="inp inp-txt"/>
        <div class="show-tip">Teacher's Name</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Teacher Contact Information" class="inp inp-txt"/>
        <div class="show-tip">Teacher Contact Information</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="School Name (*)" class="inp inp-txt"/>
        <div class="show-tip">School Name</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="District (*)" class="inp inp-txt"/>
        <div class="show-tip">District</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Grade (*)" class="inp inp-txt"/>
        <div class="show-tip">Grade</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Number of students (*)" class="inp inp-txt"/>
        <div class="show-tip">Number of students</div>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>Arts Program Information</h4>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">What is the name of the program organization?</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="If not listed above, please enter other organization here" class="inp inp-txt"/>
        <div class="show-tip">If not listed above, please enter other organization here</div>
      </div>
      <div class="el-blk full">
        <textarea placeholder="What is the name of the program you are applying for? (50 words max)" class="inp inp-txt inp-desc"></textarea>
        <div class="show-tip">What is the name of the program you are applying for? (50 words max)</div>
      </div>
      <div class="el-blk">
        <label class="sl">
           
          The grant is primaryly for: (select one)
        </label>
        <ul class="grant-sl">
          <li> 
            <input type="radio" name="grant-list[]"/>
            <label>Field trip/admission fees</label>
          </li>
          <li> 
            <input type="radio" name="grant-list[]"/>
            <label>Artist fees</label>
          </li>
          <li> 
            <input type="radio" name="grant-list[]"/>
            <label>Transportation</label>
          </li>
          <li> 
            <input type="radio" name="grant-list[]"/>
            <label>Materials/supplies</label>
          </li>
          <li> 
            <input type="radio" name="grant-list[]" id="other-sl"/>
            <label>Other (describe)</label>
            <textarea style="margin-top:10px" id="other-des" class="inp inp-txt inp-desc"></textarea>
          </li>
        </ul>
      </div>
      <div class="el-blk">
        <div class="date-picker">
          <input type="text" placeholder="Date of event or program" size="12" id="c-s" class="inp inp-txt caldr"/>
        </div>
      </div>
      <div class="el-blk">
        <div class="date-picker">
          <input type="text" placeholder="Date when funds are needed" size="12" id="c-e" class="inp inp-txt caldr"/>
        </div>
      </div>
      <div class="el-blk"><span class="permission">I have permission from my principal to apply for this grant </span>
        <div class="onoffswitch permiss">
          <input type="checkbox" name="onoffswitch" id="myonoffswitch" checked="checked" class="onoffswitch-checkbox"/>
          <label for="myonoffswitch" class="onoffswitch-label"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>BUDGET INFORMATION</h4>
      <div class="el-blk full">
        <input type="text" placeholder="Total amount requested($) (up to $1,000) (*)" class="inp inp-txt"/>
        <div class="show-tip">Total amount requested($) (up to $1,000)</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Transportation($)" class="inp inp-txt"/>
        <div class="show-tip">Transportation($)</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Ticket/ admission fees($)" class="inp inp-txt"/>
        <div class="show-tip">Ticket/ admission fees($)</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Artist fees($)" class="inp inp-txt"/>
        <div class="show-tip">Artist fees($)</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Materials/ supplies($)" class="inp inp-txt"/>
        <div class="show-tip">Materials/ supplies($)</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Other($)" class="inp inp-txt"/>
        <div class="show-tip">Other($)</div>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>NARRATIVE QUESTIONS</h4>
      <div class="el-blk full">
        <textarea placeholder="What is the purpose of the program/activity? (150 words max) (*)" class="inp inp-txt inp-desc"></textarea>
        <div class="show-tip">What is the purpose of the program/activity? (150 words max)</div>
      </div>
      <div class="el-blk full">
        <textarea placeholder="How does this relate to your curriculum and what in-class activities will be planned to reinforce the learning? (150 words max) (*)" class="inp inp-txt inp-desc"></textarea>
        <div class="show-tip">How does this relate to your curriculum and what in-class activities will be planned to reinforce the learning? (150 words max)</div>
      </div>
      <div class="el-blk full">
        <textarea placeholder="How will students benefit from this experience? (150 words max) (*)" class="inp inp-txt inp-desc"></textarea>
        <div class="show-tip">How will students benefit from this experience? (150 words max)</div>
      </div>
    </div>
  </div>
  <div class="blog-bkl"><a class="btn-form-submit">Submit application</a></div>
</form>