
<div class="backdrop"></div><a href="javascript:;" class="hamburger-btn"></a>
<div class="mobile-navi">
  <div class="container">
    <form id="search" class="search">
      <input placeholder="Search" type="text" name="search" class="search-field"/>
      <button class="searchSubmit">Go </button>
    </form>
    <ul class="nav">
      <li class="search-form"></li>
      <li class="cur"><a href="#">Art</a></li>
      <li data-lvl="level-1" class="has-child"><a href="#">Classes</a>
        <ul class="sub-menu level-1">
          <li><a href="http://www.google.com">level 1</a></li>
          <li><a href="#">level 1b</a></li>
          <li><a href="#">level 1c</a></li>
          <li><a href="#">level 1d</a></li>
          <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
            <ul class="sub-menu level-2">
              <li><a href="#">level 2</a></li>
              <li><a href="#">level 2b</a></li>
              <li><a href="#">level 2c                      </a></li>
            </ul>
          </li>
          <li><a href="#">level 1f</a></li>
        </ul>
      </li>
      <li data-lvl="level-1" class="has-child"><a href="#">Family</a>
        <ul class="sub-menu level-1">
          <li><a href="#">level 1                        </a></li>
          <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
            <ul class="sub-menu level-2">
              <li><a href="#">level 2</a></li>
              <li><a href="#">level 2b</a></li>
              <li><a href="#">level 2c                      </a></li>
            </ul>
          </li>
          <li><a href="#">level 1f</a></li>
        </ul>
      </li>
      <li><a href="#">Festival</a></li>
      <li><a href="#">Food</a></li>
      <li data-lvl="level-1" class="has-child"><a href="#">Free</a>
        <ul class="sub-menu level-1">
          <li><a href="#">level 1                        </a></li>
          <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
            <ul class="sub-menu level-2">
              <li><a href="#">level 2</a></li>
              <li><a href="#">level 2b</a></li>
              <li><a href="#">level 2c                      </a></li>
            </ul>
          </li>
          <li><a href="#">level 1f</a></li>
        </ul>
      </li>
      <li><a href="#">Literature</a></li>
      <li><a href="#">Music</a></li>
      <li><a href="#">Screen</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">State</a></li>
      <li data-lvl="level-1" class="has-child"><a href="#">More</a>
        <ul class="sub-menu level-1">
          <li><a href="#">level 1</a></li>
          <li><a href="#">level 1b level 1b level 1b level 1b level 1b level 1b level 1b</a></li>
          <li><a href="#">level 1c</a></li>
          <li><a href="#">level 1d</a></li>
          <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
            <ul class="sub-menu level-2">
              <li><a href="#">level 2 level 2 level 2 level 2 level 2</a></li>
              <li><a href="#">level 2b</a></li>
              <li><a href="#">level 2c                      </a></li>
            </ul>
          </li>
          <li><a href="#">level 1f</a></li>
        </ul>
      </li>
    </ul>
    <div class="menu-footer">
      <p><span>Capital Public Radio, Inc.</span><br/><span class="addr"><span class="stress">7055 Folsom Boulevard</span><br/><span class="location">Sacramento, </span><span class="region">CA</span><span class="postal-code">95826</span></span></p>
      <p><a href="#" class="gray-btn">View map</a></p>
      <p><span class="tel">(916) 278-8900</span><br/><span class="tel">(877) 480-5900</span></p>
      <p>NEWS STATIONS:<br/>90.9 FM Sacramento<br/>90.5 FM Tahoe/Reno<br/>91.3 FM Stockton/Modesto<br/>88.1 FM Quincy</p>
      <p>MUSIC STATIONS:<br/>88.9 FM Sacramento<br/>91.7 FM Groveland/Sonora<br/>88.7 FM Sutter/Yuba City</p>
    </div>
  </div>
</div>