
<div class="top-blk social-top"><a href="#" target="_blank" class="lk"> <i class="fa fa-linkedin fa-lg"></i></a><a href="#" target="_blank" class="go"> <i class="fa fa-google-plus fa-lg"></i></a><a href="#" target="_blank" class="fb"> <i class="fa fa-facebook fa-lg"></i></a><a href="#" target="_blank" class="tu"> <i class="fa fa-twitter fa-lg"></i></a><a href="#" target="_blank" class="yt"> <i class="fa fa-youtube fa-lg"></i></a></div>