
<div data-oct-title="Search" class="top-blk search-box"><span class="search-lbl">SEARCH</span>
  <form method="get" id="searchform" action="" class="form-search">
    <input type="text" placeholder="Search..." class="inp inp-txt"/>
    <button type="submit" class="btn btn-link"> <i class="fa fa-search fa-flip-horizontal fa-lg"></i></button>
  </form>
</div>