
<section class="list-blog">
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/joan-armatrading-450x450.png" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/test.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
  <article class="blog-itm">
    <div class="left-event-time">
      <div class="month"><span>AUG</span><span>17</span></div>
      <div class="th">thru</div>
      <div class="date"><span>AUG</span><span>25</span></div>
    </div>
    <div class="pic"><a href="#"><img src="../assets/uploads/primary-La-Boheme-1434483675-350x233.jpeg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
    <div class="blog-t">
      <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
      <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
      <div class="b-share-cat">
        <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc pin"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a>
      </div>
      <p class="desc">
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion
        Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion...<a href="#" class="read_more">More Info</a>
      </p>
      <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
    </div>
  </article>
</section>