
<div class="second-slider">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>25</span></div>
        </div>
        <div style="background:url(../assets/uploads/sc-slider.jpg) center top; background-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s test test test test test test</a></p>
          <p class="date">Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
        <div class="b-share-cat"><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a></div>
      </li>
      <li>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
        </div>
        <div style="background:url(../assets/uploads/Suzuki.jpg) center top; background-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated the test test test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p class="date">Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
      </li>
      <li>
        <div class="left-event-time">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>25</span></div>
        </div>
        <div style="background:url(../assets/uploads/test-img.jpg) center top; ackground-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated the test test test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p class="date">Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
        <div class="b-share-cat"><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a></div>
      </li>
    </ul>
    <div class="silder-footer"></div>
  </div>
  <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
</div>
<div class="featured-event-blk">
  <h3>FEATURED EVENTS</h3>
  <input type="checkbox" id="tb"/>
  <div class="wrapper-l">
    <div class="item-cat vertical">
      <div class="tab-row"><span class="tab-tt vertical">THEATRE</span></div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#" class="event-img"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="left-event-time">
            <div class="month"><span>AUG</span><span>17</span></div>
            <div class="th">thru</div>
            <div class="date"><span>AUG</span><span>25</span></div>
          </div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s Live At Silo’s Live At Silo’s Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#" class="event-img"><img src="../assets/uploads/artist-img1.jpg"/></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="left-event-time">
            <div class="month"><span>AUG</span><span>17 - 25</span></div>
          </div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/dancer.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div>
          </div><a href="javascript:;" class="more">View more</a>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/pexel-art-1.jpeg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="tab-row"><span class="tab-tt vertical">DANCE</span></div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="left-event-time">
            <div class="month"><span>AUG</span><span>17</span></div>
          </div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="left-event-time">
            <div class="month"><span>AUG</span><span>17</span></div>
          </div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/pexel-art-3.jpeg"/>
              <div class="event-time right-pos">
                <div class="month"><span>AUG</span><span>13</span></div>
                <div class="th">thru</div>
                <div class="date"><span>SEP</span><span>30</span></div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/pexel-art-2.jpeg"/>
              <div class="event-time right-pos">
                <div class="month"><span>AUG</span><span>13</span></div>
                <div class="th">thru</div>
                <div class="date"><span>SEP</span><span>30</span></div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-more"><a href="#" id="evt-top-blk" data-viewmore="VIEW MORE" data-viewless="VIEW LESS" class="btn btn-l">VIEW MORE</a></div>
  <input type="checkbox" id="bb"/>
  <div class="wrapper-r">
    <div class="item-cat vertical">
      <div class="tab-row"><span class="tab-tt vertical">MUSIC</span></div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">JUN 30 - SEP 19</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/dancer.jpg"/>
              <div class="event-time top-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="item-cat vertical">
      <div class="tab-row"><span class="tab-tt vertical">VISUAL ART</span></div>
      <div class="fea-evt-row">
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time right-pos">
                <div class="month"><span>AUG</span><span>13</span></div>
                <div class="th">thru</div>
                <div class="date"><span>SEP</span><span>30</span></div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
        <div class="fea-evt-item vertical">
          <div class="dv-front"><a href="#"><img src="../assets/uploads/ThackreyDeborahMills-238x350.jpg"/>
              <div class="event-time bottom-pos">
                <div class="md">SEP 19 - 30</div>
              </div></a><a href="#" class="ev-tt">Deborah Mills Thackrey</a></div>
          <div class="dv-back">
            <div class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></div>
            <div class="back-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.</div><a href="javascript:;" class="more">View more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="show-more"><a href="#" id="evt-bottom-blk" data-viewmore="VIEW MORE" data-viewless="VIEW LESS" class="btn btn-l">VIEW MORE</a></div>
</div>