
<nav class="nav-tab">
  <ul class="tab-list">
    <li class="selected"><a href="#" data-id="1">TOP TEN</a></li>
    <li><a href="#" data-id="2">MUSIC</a></li>
    <li><a href="#" data-id="3">ART</a></li>
    <li><a href="#" data-id="4">FAMILY</a></li>
    <li><a href="#" data-id="5">FOOD & WINE</a></li>
    <li><a href="#" data-id="6">FAIRS & FESTIVAL</a></li>
  </ul>
</nav>
<div class="tab-bt"></div>
<div data-target="1" class="blog-blk">
  <section class="list-blog">
    <article class="blog-itm on-hover">
      <div class="left-event-time">
        <div class="month"><span>AUG</span><span>17</span></div>
        <div class="th">thru</div>
        <div class="date"><span>AUG</span><span>25</span></div>
      </div>
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time top-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm on-hover">
      <div class="pic"><a href="#"><img src="../assets/uploads/b3.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time bottom-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm on-hover">
      <div class="pic"><a href="#"><img src="../assets/uploads/b4.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time right-pos">
            <div class="month"><span>AUG</span><span>13-30</span></div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows : Testing Very Long Title- Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm on-hover">
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s active in the 19th century manipulated the appearance</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm on-hover">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
  </section>
  <div class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
</div>
<div data-target="2" class="blog-blk">
  <section class="list-blog">
    <article class="blog-itm">
      <div class="left-event-time">
        <div class="month"><span>AUG</span><span>17</span></div>
        <div class="th">thru</div>
        <div class="date"><span>AUG</span><span>25</span></div>
      </div>
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time top-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b3.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time bottom-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b4.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time right-pos">
            <div class="month"><span>AUG</span><span>13-30</span></div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows : Testing Very Long Title- Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
  </section>
  <div class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MOR</a></div>
</div>
<div data-target="3" class="blog-blk">
  <section class="list-blog">
    <article class="blog-itm">
      <div class="left-event-time">
        <div class="month"><span>AUG</span><span>17</span></div>
        <div class="th">thru</div>
        <div class="date"><span>AUG</span><span>25</span></div>
      </div>
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time top-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b3.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time bottom-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b4.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time right-pos">
            <div class="month"><span>AUG</span><span>13-30</span></div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows : Testing Very Long Title- Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
  </section>
  <div class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
</div>
<div data-target="4" class="blog-blk">
  <section class="list-blog">
    <article class="blog-itm">
      <div class="left-event-time">
        <div class="month"><span>AUG</span><span>17</span></div>
        <div class="th">thru</div>
        <div class="date"><span>AUG</span><span>25</span></div>
      </div>
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time top-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b3.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time bottom-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b4.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time right-pos">
            <div class="month"><span>AUG</span><span>13-30</span></div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows : Testing Very Long Title- Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
  </section>
  <div class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
</div>
<div data-target="5" class="blog-blk">
  <section class="list-blog">
    <article class="blog-itm">
      <div class="left-event-time">
        <div class="month"><span>AUG</span><span>17</span></div>
        <div class="th">thru</div>
        <div class="date"><span>AUG</span><span>25</span></div>
      </div>
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time top-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b3.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time bottom-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b4.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time right-pos">
            <div class="month"><span>AUG</span><span>13-30</span></div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows : Testing Very Long Title- Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
  </section>
  <div class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
</div>
<div data-target="6" class="blog-blk">
  <section class="list-blog">
    <article class="blog-itm">
      <div class="left-event-time">
        <div class="month"><span>AUG</span><span>17</span></div>
        <div class="th">thru</div>
        <div class="date"><span>AUG</span><span>25</span></div>
      </div>
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time top-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b3.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time bottom-pos">
            <div class="md">JUN 30 - SEP 19</div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b4.jpg" alt="Night, Smoke, and Shadows - Exhibition"/>
          <div class="event-time right-pos">
            <div class="month"><span>AUG</span><span>13-30</span></div>
          </div></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows : Testing Very Long Title- Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b1.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Night, Smoke, and Shadows - Exhibition</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
    <article class="blog-itm">
      <div class="pic"><a href="#"><img src="../assets/uploads/b2.jpg" alt="Night, Smoke, and Shadows - Exhibition"/></a></div>
      <div class="blog-t">
        <h2 class="blog-ttl"><a href="#"> Happy Birds Show</a></h2>
        <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
        <div class="b-share">
          <label>Share:</label><a href="#" target="_blank" class="lk"><i class="fa fa-linkedin"></i></a><a href="#" target="_blank" class="tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="rss"><i class="fa fa-rss"></i></a>
        </div>
        <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in order to create the illusion ...</p>
        <div class="b-btn"><a href="#" class="btn btn-b">BUY TICKETS</a><a href="#" class="btn btn-b">CHECK DISCOUNT</a></div>
      </div>
    </article>
  </section>
  <div class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
</div>