
<div class="main-menu pc-show">
  <div class="inner">
    <nav class="mn-menu">
      <ul id="main_nav">
        <li class="selected"><a href="#">HOME</a>
          <ul>
            <li><a href="#">SUB HOME</a></li>
          </ul>
        </li>
        <li><a href="#">Events</a>
          <ul>
            <li><a href="#">THEATRE</a></li>
            <li class="dropdown"><a href="#"><span>Music</span></a>
              <ul class="menu-hover">
                <li><a href="#">Line 1 Line 1 Line 1 </a></li>
                <li><a href="#">Line 2</a></li>
                <li><a href="#">Line 3</a></li>
                <li><a href="#">Line 4</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">DIRECTORIES</a>
          <ul>
            <li><a href="#">Organizations</a></li>
            <li><a href="#">Venues</a></li>
          </ul>
        </li>
        <li><a href="#">MORE</a></li>
      </ul>
    </nav>
  </div>
  <div class="menu-background"></div>
</div>