
<div class="main-menu tablet-show pc-show">
  <div class="inner">
    <nav class="mn-menu has-toogle__menu-child">
      <ul class="nav">
        <li class="cur"><a href="#">Art</a></li>
        <li data-lvl="level-1" class="has-child"><a href="javascript:;">Classes</a>
          <ul class="sub-menu level-1">
            <li><a href="http://www.google.com">level 1</a></li>
            <li><a href="#">level 1b</a></li>
            <li><a href="#">level 1c</a></li>
            <li><a href="#">level 1d</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
        <li data-lvl="level-1" class="has-child"><a href="javascript:;">Family</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
        <li><a href="#">Festival</a></li>
        <li><a href="#">Food</a></li>
        <li data-lvl="level-1" class="has-child"><a href="javascript:;">Free</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
        <li><a href="#">Literature</a></li>
        <!--li-->
        <!--    a(href="#") Music-->
        <!--li-->
        <!--    a(href="#") Screen-->
        <!--li-->
        <!--    a(href="#") Sports-->
        <!--li-->
        <!--    a(href="#") State-->
        <li data-lvl="level-1" class="has-child"><a href="javascript:;">More</a>
          <ul class="sub-menu level-1">
            <li><a href="#">level 1</a></li>
            <li><a href="#">level 1b level 1b level 1b level 1b level 1b level 1b level 1b</a></li>
            <li><a href="#">level 1c</a></li>
            <li><a href="#">level 1d</a></li>
            <li data-lvl="level-2" class="has-child"><a href="#">level 1e</a>
              <ul class="sub-menu level-2">
                <li><a href="#">level 2 level 2 level 2 level 2 level 2</a></li>
                <li><a href="#">level 2b</a></li>
                <li><a href="#">level 2c</a></li>
              </ul>
            </li>
            <li><a href="#">level 1f</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>