
<div class="secondary-menu pc-show">
  <div class="inner">
    <nav class="mn-menu">
      <ul class="nav">
        <li class="cur"><a href="#">Home</a></li>
        <li class="has-child"><a href="#">Classes</a>
          <div style="background-image: url(../images/menu-bgr-music.png)" class="child-container three-col">
            <ul class="child clearfix">
              <li class="header-title"><a href="#" class="cap-img"><img src="../images/capital-public-radio-news-logo.png"/></a></li>
            </ul>
            <ul class="child clearfix">
              <li class="header-title"><span>Header text</span></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
            </ul>
            <ul class="child clearfix">
              <li class="header-title"><span>Header text</span></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
            </ul>
          </div>
        </li>
        <li class="item has-child"><a href="#">News</a>
          <div class="child-container two-col">
            <ul class="child clearfix">
              <li class="header-title"><span>Header text</span></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
            </ul>
            <ul class="child clearfix">
              <li class="header-title"><span>Header text</span></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
            </ul>
          </div>
        </li>
        <li class="item has-child"><a href="#">Music</a>
          <div class="child-container one-col">
            <ul class="child clearfix">
              <li class="header-title"><span>Header text</span></li>
              <li><a href="#">level 1</a></li>
              <li><a href="#">level 1b</a></li>
              <li><a href="#">level 1c</a></li>
              <li><a href="#">level 1d</a></li>
            </ul>
          </div>
        </li>
        <li class="item"><a href="#">Programs</a></li>
        <li class="item"><a href="#">Schedule</a></li>
        <li class="item"><a href="#">Events</a></li>
        <li class="item"><a href="#">Support</a></li>
      </ul>
    </nav>
  </div>
</div>