
<div class="search-tt">
  <p>Search "<a>a</a>" (04 result)</p>
</div>
<div class="search-bkl">
  <nav class="nav-tab">
    <ul class="tab-list-search">
      <li class="selected"><a href="#" data-id="1">ORGS<span class="cl">(4)</span></a></li>
    </ul>
  </nav>
  <div class="tab-bt"></div>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li class="current"><a><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="organization-list-search.html"><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-thumb">
    <li>
      <div class="div-one">
        <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/grape-in-fog-venue_medium.jpg"/></a></div>
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">A Grape In The Fog</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">
            A Grape in the Fog is a charming wine bar in Pacifica which celebrates the best of coastal living and lovely boutique wines from around the world. Located one block from Rockaway Beach, it boasts a constantly changing wine menu, available by the glass, flight or bottle.
            From the Tuscan seaside-inspired décor to its friendly and knowledgeable staff, it has created the perfect place for Pacifica locals and visitors alike to share amazing wine or craft-style beer, relax with friends, and enjoy special events.
          </div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/placeholder.png"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/9lives_lg_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">9Lives</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">9Lives is the Central Coast’s premiere live entertainment venue that is a showcase for local and regional performers, with national headliners performing on its stage regularly. Its 4,500 square foot venue has been many things: an auto repair shop, a factory, beer distributor, a church, the Gaslighter Theater.... You can understand where it got its name.</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/888_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">888 Monkeys Summer Arts Program</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art. It is a nonprofit educational project of Fool Time Circus, an orga</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/1870_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">1870 Art Center</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals, Foundation</div>
          <div class="s-desc">The 1870 Art Center is a cultural resource for the community. It provides working studios for professional artists and has an established art gallery</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="div-one">
        <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/abhinaya-lg_medium.jpg"/></a></div>
        <div class="search-info"><a href="#"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals, Foundation</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>