
<div class="search-bkl search-bkl-paging">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
  <nav class="pg">
    <li class="txt"><span>Show:</span></li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="op" class="rad-pg"/><span class="pg"></span><span>One page</span>
      </div>
    </li>
    <li>
      <div class="pg-rad">
        <input type="radio" name="radioshowpg" value="pg" checked="checked" class="rad-pg"/><span class="pg"></span><span>Paginated</span>
      </div>
    </li>
  </nav>
</div>
<div class="el-blk">
  <nav class="type">
    <ul>
      <li><a href="organization-thumb.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-bars fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <nav class="search-artist-list">
    <li>
      <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/grape-in-fog-venue_medium.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/cantor-300x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
    <li>
      <div class="search-img"><a href="org-detail.html"><img src="../assets/uploads/Akoma2012-292x300.jpg"/></a></div>
      <div class="info-content">
        <div class="search-info"><a href="org-detail.html"><span class="ev-tt">Pineapple Productions ChellyD</span></a>
          <div class="career">Type: Commercial Business, Educational, Festivals...</div>
          <div class="s-desc">Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the  Soon thereafter, he completed a M.F.A. in Painting at the</div><a href="javascript:;" class="more">View more</a>
        </div>
      </div>
    </li>
  </nav>
</div>
<div id="load-more" style="display:none" class="load-more b-btn"><a href="#" class="btn-b arw">SHOW MORE</a></div>
<div class="search-bkl">
  <div class="blk-paging"><span class="pg-tt">Pages:
      <nav class="paging">
        <li><a><</a></li>
        <li><a>1</a></li>
        <li><a class="active">2</a></li>
        <li><a>3</a></li>
        <li><a>4</a></li>
        <li>...</li>
        <li><a>21</a></li>
        <li><a>></a></li>
      </nav></span></div>
</div>