
<div class="breadcrumbs">
  <ul class="nav">
    <li><a href="/" target="_blank">Home</a></li>
    <li> <a href="/" target="_blank">Blog</a></li>
    <li> <a href="blog.html">Community</a></li>
    <li> <span>Wednesday Brown Bag Lunch - Beauty in Batik</span></li>
  </ul>
</div>