
<div class="search-tt">
  <p>Search "<a>events</a>" between<a>1/7/2015</a>and<a>1/7/2015</a><a>(04 results)</a></p>
</div>
<div class="search-bkl">
  <nav class="nav-tab-search">
    <ul class="tab-list-search">
      <li class="selected"><a href="#" data-id="1">EVENTS<span class="cl">(4)</span></a></li>
      <li><a href="#" data-id="2">ORGS<span class="cl">(1)</span></a></li>
      <li><a href="#" data-id="3">VENUES<span>(0)</span></a></li>
      <li><a href="#" data-id="4">CLASSIFFIEDS<span>(0)</span></a></li>
      <li><a href="#" data-id="5">ARTIST<span>(0)</span></a></li>
    </ul>
  </nav>
  <div class="tab-bt"></div>
</div>
<div class="search-bkl">
  <nav class="type">
    <ul>
      <li><a href="event-search-thumb.html"><i class="fa fa-th fa-2x"></i></a></li>
      <li><a href="event-search-list.html"><i class="fa fa-bars fa-2x"></i></a></li>
      <li class="current"><a><i class="fa fa-map-marker fa-2x"></i></a></li>
    </ul>
  </nav>
</div>
<div class="search-bkl">
  <div class="search-map"><img src="../images/search-map.jpg"/></div>
</div>