
<div class="second-slider second-slider-v1">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="left-event-time nw-evt-blue">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>25</span></div>
        </div>
        <div style="background:url(../assets/uploads/sc-slider.jpg) center top; background-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s test test test test test test</a></p>
          <p class="date">Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
        <div class="b-share-cat"><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a></div>
      </li>
      <li>
        <div class="left-event-time nw-evt-blue">
          <div class="month"><span>AUG</span><span>17</span></div>
        </div>
        <div style="background:url(../assets/uploads/Suzuki.jpg) center top; background-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated the test test test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p class="date">Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
      </li>
      <li>
        <div class="left-event-time nw-evt-blue">
          <div class="month"><span>AUG</span><span>17</span></div>
          <div class="th">thru</div>
          <div class="date"><span>AUG</span><span>25</span></div>
        </div>
        <div style="background:url(../assets/uploads/test-img.jpg) center top; ackground-repeat: no-repeat; background-size:cover;" class="slider-pic"></div>
        <div class="slider-content">
          <h2 class="blog-ttl"><a href="#">Many artists active in the 19th century manipulated the test test test test test test test</a></h2>
          <p class="meta auth">Presented by<a href="#" target="_blank">Live At Silo’s</a> at<a href="#" target="_blank">Silo’s</a></p>
          <p class="date">Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014 Dec 26 - Dec 28, 2014</p>
          <p class="desc">Many artists active in the 19th century manipulated the appearance of atmosphere in Many artists active in the 19th century manipulated the appearance of Many artists active in the 19th century manipulated the appearance of</p><a href="javascript:;" class="vmore">View more</a>
        </div>
        <div class="b-share-cat"><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"><i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"><i class="fa fa-linkedin"></i></a></div>
      </li>
    </ul>
    <div class="silder-footer"></div>
  </div>
  <div class="loader"><a><i class="fa fa-spinner fa-spin fa-3x"></i></a></div>
</div>