
<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg d-black">    </i><span>Find Organization    </span></h3>
  <form method="" id="search-organization" action="" class="form-event">
    <div class="organization-search">
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Cuisine" class="inp inp-txt"/>
        <div class="show-tip">Search by Cuisine</div>
      </div>
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Location" class="inp inp-txt"/>
        <div class="show-tip">Search by Location</div>
      </div>
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Region" class="inp inp-txt"/>
        <div class="show-tip">Search by Region</div>
      </div>
      <div class="el-blk full">      
        <input type="text" placeholder="Search by Criteria" class="inp inp-txt"/>
        <div class="show-tip">Search by Criteria</div>
      </div>
    </div>
  </form>
</div>