
<div class="r-blk black">
  <h3 class="r-ttl"><span>Special Offers</span><a href="#" class="btn btn-l fr">VIEW MORE</a></h3>
  <div class="r-blk-ct">
    <div class="wg-slider">
      <div class="flexslider">
        <ul class="slides">
          <li>
            <div>
              <div class="wg-pic"><img src="../assets/uploads/r1.jpg" alt="r 1"/></div>
              <div class="wg-caption">40 shiny new icons in version 4.2</div>
            </div>
          </li>
          <li>
            <div>
              <div class="wg-pic"><img src="../assets/uploads/r2.jpg" alt="r 1"/></div>
              <div class="wg-caption">Need vectors or want to use on the desktop?</div>
            </div>
          </li>
          <li>
            <div>
              <div class="wg-pic"><img src="../assets/uploads/r3.jpg" alt="r 1"/></div>
              <div class="wg-caption">ou can edit this home page using our free, drag and drop Page Builder ...</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>