
<div class="r-blk">
  <h3 class="r-ttl"><i class="fa fa-eye fa-lg"></i><span>Most Reviews</span></h3>
  <div class="r-blk-ct">
    <ul>
      <li><a href="#" class="rvw-itm">
          <div class="rvw-pic"><img src="../assets/uploads/b1.jpg" alt="b 1"/></div>
          <h4>This widget uses FontAwesome</h4>
          <p>at<span>St. Helena Library</span></p></a></li>
      <li><a href="#" class="rvw-itm">
          <div class="rvw-pic"><img src="../assets/uploads/b2.jpg" alt="b 1"/></div>
          <h4>You can edit this home page using our free, drag and drop Page Builder</h4>
          <p>at<span>St. AR Center Park</span></p></a></li>
      <li><a href="#" class="rvw-itm">
          <div class="rvw-pic"><img src="../assets/uploads/b3.jpg" alt="b 1"/></div>
          <h4>Time is valuable. Don't waste it.</h4>
          <p>at<span>HOREU Restaurant</span></p></a></li>
      <li><a href="#" class="rvw-itm">
          <div class="rvw-pic"><img src="../assets/uploads/b4.jpg" alt="b 1"/></div>
          <h4>This widget uses FontAwesome</h4>
          <p>at<span>St. Helena Library</span></p></a></li>
      <li><a href="#" class="rvw-itm">
          <div class="rvw-pic"><img src="../assets/uploads/b1.jpg" alt="b 1"/></div>
          <h4>Great for testimonials.</h4>
          <p>at<span>St. Helena Library</span></p></a></li>
    </ul>
  </div>
</div>