
<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg">     </i><span>Find An Artist       </span></h3>
  <form method="" id="searchartist" action="" class="form-event">
    <div class="artist-search">
      <div class="el-blk full">      
        <input type="text" placeholder="Search by keyword" class="inp inp-txt"/>
        <div class="show-tip">Search by keyword</div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Artist Type</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">City</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="b-btn bt">  
        <button type="button" class="btn btn-b search-btn">SEARCH</button>
      </div>
      <div class="el-blk"><span class="tt">Search by artist’s last name:</span>
        <div class="character-board"><a href="#">A</a><a href="#">B</a><a href="#" class="select">C</a><a href="#">D</a><a href="#">E</a><a href="#">F</a><a href="#">G </a><a href="#">H </a><a href="#">I </a><a href="#">J</a><a href="#">K</a><a href="#">L </a><a href="#">M </a><a href="#">N </a><a href="#">O</a><a href="#">P</a><a href="#">Q</a><a href="#">R</a><a href="#">S</a><a href="#">T</a><a href="#">U</a><a href="#">V</a><a href="#">W</a><a href="#">X</a><a href="#">Y</a><a href="#">Z</a></div>
      </div>
    </div>
  </form>
</div>