
<div class="r-blk">
  <h3 class="r-ttl datetime"> <span>Date and Times</span></h3>
  <div class="r-blk-ct datetime">
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="dt-row">
      <div class="l-dt"> 
        <div class="l-dt-tt">Thursday, Sep 24</div>
        <div class="l-dt-txt">
          <p>08:00 pm at ShanLin Liu</p>
          <p>Performance Center</p>
        </div>
      </div>
      <div class="r-dt"><a href="#" class="btn btn-l dt">OFFICIAL WEBSITE</a><a href="#" class="btn btn-l dt">POSTIX DEAL</a></div>
    </div>
    <div class="load-mote-dt"><a href="#">Load More....</a></div>
  </div>
</div>