
<div class="r-blk r-search">
  <h3 class="r-ttl"> <i class="fa fa-search fa-flip-horizontal fa-lg">     </i><span>Find Organization    </span></h3>
  <form method="" id="search-organization" action="" class="form-event">
    <div class="organization-search">
      <div class="el-blk full">      
        <input type="text" placeholder="Search by keyword" class="inp inp-txt"/>
        <div class="show-tip">Search by keyword</div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Organization</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Organization Type</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">City</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Zip</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="b-btn bt"><a class="btn btn-b search-btn">SEARCH</a></div>
    </div>
  </form>
</div>