
<div class="r-blk"> 
  <h3 class="r-ttl"><i class="fa fa-envelope-o fa-lg"></i><span>E-Newsletter</span></h3>
  <div class="r-blk-ct">
    <form id="newsletter" method="#" action="#" class="newsletter-frm">
      <input type="text" placeholder="Your e-mail" class="ipt newsletter"/>
      <button type="button" class="btn btn-l">SUBSCRIBE NOW</button>
    </form>
  </div>
</div>