
<form id="teacher-frm" method="" action="">
  <div class="blog-bkl">
    <div class="b-share-cat art">
      <label></label><a href="#" target="_blank" class="sc fb"><i class="fa fa-facebook"></i></a><a href="#" target="_blank" class="sc tw"> <i class="fa fa-twitter"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank" class="sc google"><i class="fa fa-pinterest-square"></i></a><a href="#" target="_blank" class="sc lk"> <i class="fa fa-linkedin"></i></a><a href="#" id="print" class="pt print"><i class="fa fa-print"></i></a><a href="#" id="email" class="pt email"><i class="fa fa-envelope-o"></i></a>
    </div>
    <h2>Teacher Evaluation</h2>
    <div class="el-blk edu-detail">
      <div class="edu-detail-desc"> 
        <p>Dear Teacher, we’re glad your students attended this program. Please return this evaluation immediately (cultural organizations are not paid without evaluations). We value your opinion! – United Arts</p>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>SCHOOL INFORMATION</h4>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Your School District (*)</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Your School Name (*)</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>CULTURAL PROGRAM INFORMATION</h4>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Cultural Organization (*)</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk">
        <div class="select-bkl">
          <select>
            <option value="0">Cultural Program Provided (*)</option>
            <option value="">A  </option>
            <option value="">B</option>
            <option value="">C</option>
            <option value="">D</option>
            <option value="">E</option>
          </select>
          <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
        </div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Program Date(s) (*)" class="inp inp-txt"/>
        <div class="show-tip">Program Date(s)</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Program Time(s) (*)" class="inp inp-txt"/>
        <div class="show-tip">Program Time(s)</div>
      </div>
      <div class="el-blk"><span class="permission">Lesson Plans Received (*)</span>
        <div class="onoffswitch">
          <input type="checkbox" name="onoffswitch" id="myonoffswitch" checked="checked" class="onoffswitch-checkbox"/>
          <label for="myonoffswitch" class="onoffswitch-label"><span class="onoffswitch-inner"></span><span class="onoffswitch-switch"></span></label>
        </div>
      </div>
      <div class="el-blk">
        <h2>PARTICIPATION</h2>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="# Classes (*)" class="inp inp-txt"/>
        <div class="show-tip">Classes</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="# Students (*)" class="inp inp-txt"/>
        <div class="show-tip">Students</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Grade Levels (*)" class="inp inp-txt"/>
        <div class="show-tip">Grade Levels</div>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="a-block">
      <h4>CONTACT INFORMATION (OPTIONAL)</h4>
      <div class="el-blk full">
        <input type="text" placeholder="Teacher name/Filled out by" class="inp inp-txt"/>
        <div class="show-tip">Teacher name/Filled out by</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Contact Phone" class="inp inp-txt"/>
        <div class="show-tip">Contact Phone</div>
      </div>
      <div class="el-blk full">
        <input type="text" placeholder="Email Address" class="inp inp-txt"/>
        <div class="show-tip">Email Address</div>
      </div>
    </div>
  </div>
  <div class="blog-bkl">
    <div class="el-blk">
      <ul class="agree-list">
        <li> 
          <div class="question-sec">1. The lesson plans were adequate to prepare students. (If not received, leave blank.)</div>
          <div class="answer-sec">
            <div class="select-bkl">
              <select>
                <option value="0">Strongly Disagree</option>
                <option value="">1  </option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
            </div>
          </div>
        </li>
        <li> 
          <div class="question-sec">2. The program correlates to the Florida Sunshine State Standards.</div>
          <div class="answer-sec">
            <div class="select-bkl">
              <select>
                <option value="0">Strongly Disagree</option>
                <option value="">1  </option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
            </div>
          </div>
        </li>
        <li> 
          <div class="question-sec">3. The program was appropriate for the students (content, length, etc)</div>
          <div class="answer-sec">
            <div class="select-bkl">
              <select>
                <option value="0">Strongly Disagree</option>
                <option value="">1  </option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
            </div>
          </div>
        </li>
        <li> 
          <div class="question-sec">4. The presenter engaged the students, helping them learn. </div>
          <div class="answer-sec">
            <div class="select-bkl">
              <select>
                <option value="0">Strongly Disagree</option>
                <option value="">1  </option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
            </div>
          </div>
        </li>
        <li> 
          <div class="question-sec">5. How likely are you to return to this program with another group? </div>
          <div class="answer-sec">
            <div class="select-bkl">
              <select>
                <option value="0">Strongly Disagree</option>
                <option value="">1  </option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
            </div>
          </div>
        </li>
        <li> 
          <div class="question-sec">6. How valuable was this experience for your students? Explain below</div>
          <div class="answer-sec">
            <div class="select-bkl">
              <select>
                <option value="0">Strongly Disagree</option>
                <option value="">1  </option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
              </select>
              <div class="arrow-down"><i class="fa fa-sort-desc fa-lg"></i></div>
            </div>
          </div>
          <textarea style="margin-top:20px" class="inp inp-txt inp-desc"></textarea>
        </li>
      </ul>
    </div>
    <div class="el-blk">
      <div class="question-sec-full">
         
        7. How will you integrate this learning experience into your classroom lesson planning?
      </div>
      <textarea class="inp inp-txt inp-desc"></textarea>
      <div class="note">
        <p>  Help available for...<br/>Orange County School District teachers: 
          Scott Evans, Fine Arts Coordinator, at 407-317-3200 x2002769 or scott.evans@ocps.net<br/><br/>Osceola County School District teachers: 
          Debbie Fahmie, Fine & Performing Arts Specialist, at 407-346-2444 or fahmied@osceola.k12.fl.us<br/><br/>Lake County School District teachers: 
          <Laura>Woodham, Program Specialist, at 352-742-6909 or woodhaml@lake.k12.fl.us</Laura><br/><br/>Seminole County School District teachers: 
          Mary Lane, Curriculum Specialist, at 407-320-0192 or Mary_Lane@scps.k12.fl.us
        </p>
      </div>
    </div>
    <div class="el-blk">
      <div class="question-sec-full">
         
        8. How did the booking process go and do you have any suggestions for how to make it easier for teachers?
      </div>
      <textarea class="inp inp-txt inp-desc"></textarea>
    </div>
    <div class="el-blk">
      <div class="question-sec-full">
         
        9. Additional comments/suggestions?
      </div>
      <textarea class="inp inp-txt inp-desc"></textarea>
    </div>
  </div>
  <div class="blog-bkl"><a href="#" class="btn-form-submit">Submit</a><a href="#" class="btn-form-submit">Submit Another Evaluation</a></div>
</form>