
<div class="sub-content-blk top">
  <section class="description">
    <h3>THANK YOU FOR A SPECTACULAR SOLD OUT WEEKEND!</h3>
    <p><img align="right" src="../assets/uploads/gallery-1.jpg"/>From all of us at The Choral Project, we'd like to thank everyone who attended our SOLD OUT Winter's Gifts concert with the San Jose Chamber Orchestra and special guest Taylor Eigsti. From all of us at The Choral Project, we'd like to thank everyone who attended our SOLD OUT Winter's Gifts concert with the San Jose Chamber Orchestra and special guest Taylor Eigsti. From all of us at The Choral Project, we'd like to thank everyone who attended our SOLD OUT Winter's Gifts concert with the San Jose Chamber Orchestra and special guest Taylor Eigsti. From all of us at The Choral Project, we'd like to thank everyone who attended our SOLD OUT Winter's Gifts concert with the San Jose Chamber Orchestra and special guest Taylor Eigsti</p>
  </section>
  <section class="fanpage"><img src="../images/fanpage.png"/></section>
</div>