mixin sharePost(cls)
    .b-share-cat(class=cls||'')
        label
            | &nbsp;
            span Share
        a(href="#", target="_blank", class="sc lk")
            i.fa.fa-linkedin
        a(href="#", target="_blank", class="sc tw")
            i.fa.fa-twitter
        a(href="#", target="_blank", class="sc fb")
            i.fa.fa-facebook
        a(href="#", target="_blank", class="sc google")
            i.fa.fa-google-plus
        a(href="#", id="print22", class="pt print")
            i.fa.fa-print
        a(href="#", class="pt email")
            i.fa.fa-envelope-o

mixin commentBox
    .comment-box
        p.cment
            a (02)
            | comments
        ul(class="comment-list")
            li(class="comment-item")
                .comment-pic
                    img(alt="avatr", src="../assets/uploads/artist-img2.jpg")
                .comment-ctent
                    label.author-n
                        | Brenda Wilson
                    .comment-content.comment
                        | I would like to look at you boots but cant get prices
                    p.t-l
                        a(class="comment-reply-link", href="#")
                            i(class="fa fa-reply-all")
                            | Reply

            li(class="comment-item")
                .comment-pic
                    img(alt="avatr", src="../assets/uploads/artist-img1.jpg")
                .comment-ctent
                    label.author-n
                        | Brand Smith
                    .comment-content.comment
                        | Honestly, I do not know why people keep using those shapes when you can write semantic to enjoy.
                    p.t-l
                        a(class="comment-reply-link", href="#")
                            i(class="fa fa-reply-all")
                            | Reply
