.section-block.has-underline.block-1-item
    h3.block__title Events
    .block__content.flex-row
        .equal
            .featured-item
                .featured__thumbnail
                    img(src="../assets/uploads/slider-09.jpeg")
                .featured__description
                    p Find out what’s happening—from music, theater and art exhibits to festivals, expos and spectator sports.
                        | These tempting options will satisfy all cravings. Search by cuisine, location, and more.
.section-block.has-underline.block-2-item
    h3.block__title DINING & NIGHTLIFE
    .block__content.flex-row.equal-md-up
        for i in [1,2]
            .equal
                .featured-item
                    .featured__thumbnail
                        img(src="../assets/uploads/slider-0#{i}.jpeg")
                    .featured__description
                        a.featured__title(href="#", title="The title") NIGHTLIFE
                        p These tempting options will satisfy all cravings. Search by cuisine, location, and more.
.section-block.has-underline.block-3-item
    h3.block__title shopping, spas & fitness
    .block__content.flex-row.equal-md-up
        for i in [3,4,5]
            .equal
                .featured-item
                    .featured__thumbnail
                        img(src="../assets/uploads/slider-0#{i}.jpeg")
                    .featured__description
                        a.featured__title(href="#", title="The title") SHOPPING
                        p These tempting options will satisfy all cravings. Search by cuisine, location, and more.
.section-block.block-3-item
    h3.block__title visitor information
    .block__content.flex-row.equal-md-up
        for i in [2,1,5,6]
            .equal
                .featured-item
                    .featured__thumbnail
                        img(src="../assets/uploads/pexel-#{i}.jpeg")
                    .featured__description
                        a.featured__title(href="#", title="The title") Nearby
                        p These tempting options will satisfy all cravings. Search by cuisine, location, and more.
