include ../full-screen-second-slider.jade
.featured-event-blk
    h3 FEATURED EVENTS
    .item-cat.oc-date-bubble-or-flag
        .tab-row
            span(class="tab-tt") THEATRE
            .wrapper-scroll--action
                a(href="#", class="fea-act-prev")
                    i.fa.fa-arrow-left
                a(href="#", class="fea-act-next")
                    i.fa.fa-arrow-right
        .fea-evt-row.fea-evt-list--scroll
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17-25
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                        .event-time.bottom-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
    .item-cat.oc-date-bubble-or-flag
        .tab-row
            span(class="tab-tt") DANCE
            .wrapper-scroll--action
                a(href="#", class="fea-act-prev")
                    i.fa.fa-arrow-left
                a(href="#", class="fea-act-next")
                    i.fa.fa-arrow-right
        .fea-evt-row.fea-evt-list--scroll
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17-25
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                        .event-time.bottom-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |JUN 30 - SEP 19
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
    .item-cat
        .tab-row
            span(class="tab-tt") MUSIC
            .wrapper-scroll--action
                a(href="#", class="fea-act-prev")
                    i.fa.fa-arrow-left
                a(href="#", class="fea-act-next")
                    i.fa.fa-arrow-right
        .fea-evt-row.fea-evt-list--scroll
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                        .event-time.bottom-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
    .item-cat
        .tab-row
            span(class="tab-tt") VISUAL ART
            .wrapper-scroll--action
                a(href="#", class="fea-act-prev")
                    i.fa.fa-arrow-left
                a(href="#", class="fea-act-next")
                    i.fa.fa-arrow-right
        .fea-evt-row.fea-evt-list--scroll
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                        .event-time.top-pos
                                .md
                                    |AUG 12 - 30
                    a(href="#", class="ev-tt")
                        | Deborah Mills Thackrey
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
