include ../../blocks/second_slider.jade
.featured-event-blk.featured-event-hor
    h3 FEATURED EVENTS 90 DEGREE TITLE
    .item-cat.oc-date-bubble-or-flag.item-cat__rotate-title.under-image__event-time
        .tab-row
            span(class="tab-tt") THEATRE
            .wrapper-scroll--action
                a(href="#", class="fea-act-prev")
                    i.fa.fa-arrow-left
                a(href="#", class="fea-act-next")
                    i.fa.fa-arrow-right
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    .ev-tt
                        a(href="#")
                            | Copy Event Test Event Something Something Something Something Something Something (*)
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                            |  and
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                            |  and
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                            |  and
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17-25
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    .ev-tt
                        a(href="#")
                            | Copy Event Test Event Something Something Something Something Something Something (*)
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    .ev-tt
                        a(href="#")
                            | Copy Event Test Event Something Something Something Something Something Something (*)
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    .ev-tt
                        a(href="#")
                            | Deborah Mills Thackrey
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item.last-item
                .view-more
                    a(href="page/full-screen-category.html") View more Theatre
            //- end feature
    .item-cat.oc-date-bubble-or-flag.item-cat__rotate-title.under-image__event-time
        .tab-row
            span(class="tab-tt") THEATRE
            .wrapper-scroll--action
                a(href="#", class="fea-act-prev")
                    i.fa.fa-arrow-left
                a(href="#", class="fea-act-next")
                    i.fa.fa-arrow-right
        .fea-evt-row
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    .ev-tt
                        a(href="#")
                            | Deborah Mills Thackrey
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17-25
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/ThackreyDeborahMills-238x350.jpg")
                    .ev-tt
                        a(href="#")
                            | Deborah Mills Thackrey
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .back-title
                        a(href="#") Deborah Mills Thackrey
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                    .ev-tt
                        a(href="#")
                            | Deborah Mills Thackrey
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            //- end feature
            .fea-evt-item
                .dv-front
                    a(href="#")
                        img(src="../assets/uploads/artist-img3.jpg")
                    .ev-tt
                        a(href="#")
                            | Deborah Mills Thackrey
                        .apl-event-org-name Presented by
                            a(href="#", target="_blank") Live At Silo’s
                            |  and
                            a(href="#", target="_blank") Silo’s
                .left-event-time
                    .month
                        span AUG
                        span 17
                    .th thru
                    .date
                        span AUG
                        span 17
                .dv-back
                    .meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                    .back-desc
                        |Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts. Charlie Agnew attended Bluefield College where he completed a Bachelor’s degree in Fine Arts.
                    a(href="javascript:;", class="more") View more
            .fea-evt-item.last-item
                .view-more
                    a(href="page/full-screen-category.html") View more Theatre
            //- end feature