.search-tt
    p Search "
        a
            | events
        |" between
        a
            | 1/7/2015
        | and
        a
            | 1/7/2015
        a
            | (04 results)

.search-bkl
    nav(class="nav-tab-search")
        ul(class="tab-list-search")
            li(class="selected")
                a(href="#", data-id="1") EVENTS
                    span.cl (4)
            li
                a(href="#", data-id="2") ORGS
                    span.cl (1)
            li
                a(href="#", data-id="3") VENUES
                    span (0)
            li
                a(href="#", data-id="4") CLASSIFFIEDS
                    span (0)
            li
                a(href="#", data-id="5") ARTIST
                    span (0)
    div(class="tab-bt")
.search-bkl
    nav.type.type--mobile
        ul
            li
                a(href="event-search-thumb.html")
                    i(class="fa fa-th fa-2x")
            li
                a(href="event-search-list.html")
                    i(class="fa fa-bars fa-2x")
            li.current
                a
                    i(class="fa fa-map-marker fa-2x")
.search-bkl
    nav.search-map--event
        .blk-map-content(id="map-Event")
            img(src="../images/search-map.jpg")
        .blk-maps-events-filter
            .maps-events-filter--result
                p 1-24 of 100 events found
            .maps-events-filter--view
                a(href="#", class="btn-prev octave-disabled") Previous
                a(href="#", class="btn-next") View next 24 events
    nav(class="searching-list blk-event-map-item")
        li
            .search-img
                a(href="#")
                    img(src="../assets/uploads/searching-list.jpg")
            .info-content
                .search-info
                    a(href="#")
                        span.ev-tt The Layered Surface
                    p.meta.auth Presented by
                        a(href="#", target="_blank") Live At Silo’s
                        |  at
                        a(href="#", target="_blank") Silo’s
                        |  at
                        a(href="#", target="_blank") Public Library
                .searchdate
                    span.sch-date 10 Dec 2014
                .ico-date
                    a
                        i(class="fa fa-clock-o fa-2x")
                    .show-date
                        .item 01/13/2015 at 7:00 pm (Tue)
                        .item 01/13/2015 at 7:00 pm (Tue)
                        .item 01/13/2015 at 7:00 pm (Tue)
                .event-map-desc
                    p Bridges Not Walls and Marta Hewett Gallery present: The Banana Issue - the