.top-search.search-new
    .inner
        .top-search-row
            form(method="get", id="searchevent", action="", class="form-event")
                .search-inputs-wrapper
                    .el-blk
                        input.event-search-new(type="text", class="inp inp-txt", placeholder="Search by keyword")
                    .el-blk
                        .select-bkl
                            select
                                option(value="0") Select Category
                                option(value="") A
                                option(value="") B
                                option(value="") C
                                option(value="") D
                                option(value="") E
                            .arrow-down
                                i.fa.fa-sort-desc.fa-lg
                    .el-blk
                        .select-bkl
                            select
                                option(value="0") Select Venue
                                option(value="") A
                                option(value="") B
                                option(value="") C
                                option(value="") D
                                option(value="") E
                            .arrow-down
                                i.fa.fa-sort-desc.fa-lg
                    .el-blk
                        .input-with-icon
                            input(type="text", size="12", id="c-s", class="inp inp-txt caldr", placeholder="Start")
                            i.fa.fa-calendar.fa-lg.ico-s
                    .el-blk
                        .input-with-icon
                            input(type="text", size="12", id="c-e", class="inp inp-txt caldr", placeholder="End")
                            i.fa.fa-calendar.fa-lg.ico-e
                .flex-wrapper
                    .search-by-group
                        label.search-by-label Search by date range:
                        .lst-lik
                            a(href="#", class="today") Today
                            a(href="#", class="tomorrow") Tomorrow
                            a(href="#", class="weekend") Weekend
                            span.no-line next
                            a(href="#", class="seven" ) 7
                            a(href="#", class="fourteen" ) 14
                            a(href="#", class="thirsty" ) 30
                    .offer-check
                        input(type="checkbox", id="offerCheck")
                        label(for="offerCheck") Include Discount Offers
                    .action-buttons
                        button.ov-btn.ov-btn-outline.btn-search(type="button") SEARCH
                    .clearfix
