block vars
  -title="Artsopolis - Artist Search Page"
  -sidebar = false
  -isCategory  = true
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        span Public Art
            include ../blocks/art-thumb.jade
        include ../includes/sidebar-art.jade