block vars
  -title="Artsopolis - Detail Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="art-list.html")  Public Art
                    li
                        span Public Artwork Name
            include ../blocks/detail_art.jade
        include ../includes/sidebar-art.jade