block vars
  -title="Artsopolis - Detail Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="/") Artist
                    li
                        span Susan Mincey
            include ../blocks/detail_artist.jade
        include ../includes/sidebar-artist.jade