block vars
  -title="Artsopolis - Dashboard, Artist Info"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Artist Profile
                li
                    span Profile
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Artist Info
                    form(id="artist-frm", method="", action="")
                        .artist-blk
                            .el-blk.full
                                input(type="text", placeholder="First name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |First name
                                span(class="error") * Please enter First Name
                            .el-blk.full
                                input(type="text", placeholder="Last name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Last name
                            .el-blk.full
                                input(type="text", placeholder="Address", class="inp inp-txt")
                                .show-tip
                                    |Address
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="City", class="inp inp-txt")
                                    .show-tip
                                        |City
                                    span(class="error") * Please enter City
                                .hafl.fr
                                    input(type="text", placeholder="State", class="inp inp-txt")
                                    .show-tip
                                        |State
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Zip", class="inp inp-txt")
                                    .show-tip
                                        |Zip
                                .hafl.fr
                                    input(type="text", placeholder="Country", class="inp inp-txt")
                                    .show-tip
                                        |Country
                                    span(class="error") * Please enter Country
                            .el-blk.full
                                input(type="text", placeholder="Email", class="inp inp-txt")
                                .show-tip
                                    |Email
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Phone", class="inp inp-txt")
                                    .show-tip
                                        |Phone
                                .hafl.fr
                                    .year-list
                                        select(class="event")
                                            option(value="0") Year:
                                            option(value="") 2015
                                            option(value="") 2014
                                            option(value="") 2013
                                            option(value="") 2012
                                            option(value="") 2011
                                        .arrow-down
                                            <i class="fa fa-sort-desc fa-lg"></i>
                            .art-email-check
                                input(type="checkbox", class="art-email-chk")
                                p(class="art-email-label") Check here if you would like your Email Address to appear on your Artist Profile page, so people looking at your profile can contact you.
                        .artist-blk
                            .title-bar-blk Do you have your own website and/or blog?
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Blog URL", class="inp inp-txt")
                                    .show-tip
                                        |Blog URL
                                .hafl.fr
                                    input(type="text", placeholder="Web URL", class="inp inp-txt")
                                    .show-tip
                                        |Web URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Instagram URL", class="inp inp-txt")
                                    .show-tip
                                        |Instagram URL
                                .hafl.fr
                                    input(type="text", placeholder="Pinterest URL", class="inp inp-txt")
                                    .show-tip
                                        |Pinterest URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Facebook URL", class="inp inp-txt")
                                    .show-tip
                                        |Facebook URL
                                .hafl.fr
                                    input(type="text", placeholder="Twitter URL", class="inp inp-txt")
                                    .show-tip
                                        |Twitter URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="LinkedIn URL", class="inp inp-txt")
                                    .show-tip
                                        |LinkedIn URL
                        .artist-blk
                            .title-bar-blk Artist categories
                            p What type of artist do you consider yourself?
                            .access-list.artist
                                        ul(class="access-listing")
                                            li
                                                ul(class="ACLlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Actor
                                                    li
                                                        input(type="checkbox")
                                                        label Choreographer
                                                    li
                                                        input(type="checkbox")
                                                        label Composer
                                                    li
                                                        input(type="checkbox")
                                                        label Dancer
                                                    li
                                                        input(type="checkbox")
                                                        label Director
                                                    li
                                                        input(type="checkbox")
                                                        label Filmmaker
                                            li
                                                ul(class="ACRlist")
                                                    li
                                                        input(type="checkbox")
                                                        label Musician
                                                    li
                                                        input(type="checkbox")
                                                        label Poet
                                                    li
                                                        input(type="checkbox")
                                                        label Singer
                                                    li
                                                        input(type="checkbox")
                                                        label Visual Artist
                                                    li
                                                        input(type="checkbox")
                                                        label Writer
                            p  Other type not listed above:
                            input(type="text", class="inp inp-txt", style="margin-top:15px;")
                        .artist-blk
                            .title-bar-blk Artist bio
                            p  Tell us about yourself, or simply paste your resume.
                            textarea(placeholder="Type your description here...(*)", class="inp-desc-event", name="resume", id="resume", rows="5" )
                        .artist-blk
                            .title-bar-blk Questions
                            p
                                strong Q1.
                                |What did the Fellowship or Laureate mean to you at the time you received it?
                            input(type="text", class="inp inp-txt")
                            p
                                strong Q2.
                                |What did the Fellowship or Laureate mean to you at the time you received it?
                            input(type="text", class="inp inp-txt")
                            p
                                strong Q3.
                                |What did the Fellowship or Laureate mean to you at the time you received it?
                            input(type="text", class="inp inp-txt")
                            p
                                strong Q4.
                                |What did the Fellowship or Laureate mean to you at the time you received it?
                            input(type="text", class="inp inp-txt")
                            .vertical-line
                            .art-email-check
                                input(type="checkbox", class="art-email-chk")
                                p(class="art-email-label")
                                    strong CHECK THIS BOX
                                    |if you would like your Artist Profile page to appear on livesv.com. If you do not check this box your profile will not display in livesv.com’s Artist Directory.
                        .artist-blk
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |UPDATE PROFILE




