block vars
  -title="Artsopolis - Dashboard, Events Page Step 1"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Artist Profile
                li
                    span Photo
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Images
                    p All images must be .JPG (RGB) format only. Each image should be at least 400 pixels in either direction (vertical or horizontal) and should not exceed a file size of 1 megabyte (mb). Image file names must NOT contain spaces between words, question marks, exclamation points, apostrophes, quotation marks, or most other symbols (hyphens and underscore marks are OK). Our system automatically rejects images with bad file names.
                    form(id="artist-frm", method="", action="")
                            .artist-blk
                                h4 PRIMARY IMAGE
                                p No primary image currently available.
                            .vertical-light
                            .artist-blk
                                span.it To submit your primary image:
                                ul(class="image-step")
                                    li
                                        .step-num
                                            |1
                                        .step-des
                                            |Use the
                                            strong "Upload Image"
                                            |button below to locate the image on your computer.
                                    li
                                        .step-num
                                            |2
                                        .step-des
                                            |Select your image and then click
                                            strong "Open"
                                    li
                                        .step-num
                                            |3
                                        .step-des
                                            |Once you have selected your image click
                                            strong "Submit Record"
                                            |below.
                            .artist-blk
                                nav(class="nav-tab")
                                    ul(class="tab-image-list")
                                        li(class="selected")
                                            a(href="#", data-id="1") PRIMARY IMAGE
                                        li
                                            a(href="#", data-id="2") GALLERY
                                div(class="gallery-bkl", data-target="1")
                                    .upload-img
                                        button(class="btn-noW", id="select-image") UPLOAD IMAGE
                                        input(type="file", id="uploadBtn", class="inp-file")
                                    .crop-img
                                        .upload-bar
                                            .upl-tt
                                                a
                                                    .l-outer
                                                        .l-inner
                                                    .r-outer
                                                        .r-inner
                                                    span Crop Photos
                                            .upl-btn
                                                button(class="btn-noW", id="save-crop") SAVE
                                                button(class="btn-noW", id="cancel-crop") CANCEL
                                        .img-crop
                                        .crop-tool
                                            img(src="../images/crop-tool.png")
                                div(class="gallery-bkl", data-target="2")
                                    .upload
                                        .upload-bar
                                            .upl-tt
                                                .upload
                                                    a
                                                        .up-img
                                                            .triangle-up
                                                            .line-up
                                                            .mask-up
                                                            .bottom-up
                                                        span Upload Files
                                                        input(type="file", id="uploadBtn", class="inp-file")
                                            .upl-btn
                                                button(class="btn-noW", id="upload", type="button") UPLOAD
                                                button(class="btn-noW", id="cancell-all", type="button") CANCEL ALL
                                        ul.uploading-list
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-1.png")
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-2.png")
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-1.png")
                                        ul.gallery-list
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-1.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")


                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-s.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/manchester.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a.plus(href="#")
                                                    i(class="fa fa-plus-circle fa-3x")
                            .artist-blk
                                    .submit-blk
                                        a(href="#",class="submit-btn")
                                            |SUBMIT PHOTO














