block vars
  -title="Artsopolis - Dashboard, Artist Video"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Artist Profile
                li
                    span Video
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Video
                    p This form accepts URL links or video embed code provided by YouTube.com’s “Share” option.
                    form(id="artist-frm", method="", action="")
                            .artist-blk
                                .artist-video-area
                                    .des-list
                                        .video-item(id="video-group")
                                            .el-blk.full
                                                input(id = "video-link", type="text", placeholder="YouTube video links", class="inp-txt-event", name="video_embed[]")
                                                .show-tip
                                                    |YouTube video links
                                            .el-blk.full
                                                textarea(id = "video-desc", placeholder="Description", class="desc-video")
                                                .show-tip
                                                    |Description
                                    .video-btn
                                        button(class="btn-noW", id="video-addmore", data-img="../images/delete-org.png") ADD MORE
                                    .video-btn
                                        button(class="btn-noW", id="video-preview") PREVIEW
                            .video-box
                                .video(class="selected", data-target="1")
                                    iframe(src="http://www.youtube.com/embed/7cqKa6DAU9I")
                                .video(data-target="2")
                                    iframe(src="http://www.youtube.com/embed/XFSAh0OhTEQ")
                                .video(data-target="3")
                                    iframe(src="http://www.youtube.com/embed/_7jUA-Gqp4M")
                                .video(data-target="4")
                                    iframe(src="http://www.youtube.com/embed/Ps464zKauUk")
                                .video(data-target="5")
                                    iframe(src="http://www.youtube.com/embed/7cqKa6DAU9I")
                                .video(data-target="6")
                                    iframe(src="http://www.youtube.com/embed/Ps464zKauUk")
                                .thumb-slider
                                    ul(class="slider-video")
                                        li
                                            a(href="#",data-id="1")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="2")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="3")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="4")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                        li
                                            a(href="#",data-id="5")
                                                img(src="../assets/uploads/video-thumb-1.jpg")
                                        li
                                            a(href="#",data-id="6")
                                                img(src="../assets/uploads/video-thumb-2.jpg")
                                .closevideo
                                    <i class="fa fa-times fa-lg"></i>
                            .artist-blk
                                    .submit-blk
                                        a(href="#",class="submit-btn")
                                            |SUBMIT VIDEO














