/*=======================================
*                 STYLE CSS             *
========================================*/
/**
* VAR STYLE CSS
*/
/* Color config */
/*
 * jQuery FlexSlider v2.6.2
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */
/* ====================================================================================================================
 * FONT-FACE
 * ====================================================================================================================*/
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover {
  outline: none; }

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

.flexslider .slides img {
  width: 100%;
  display: block; }

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .flexslider .slides {
  display: block; }

* html .flexslider .slides {
  height: 1%; }

.no-js .flexslider .slides > li:first-child {
  display: block; }

/* ====================================================================================================================
 * DEFAULT THEME
 * ====================================================================================================================*/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  zoom: 1;
  border-radius: 4px;
  -o-box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: "" 0 1px 4px rgba(0, 0, 0, 0.2); }

.flexslider .slides {
  zoom: 1; }

.flexslider .slides img {
  height: auto;
  -moz-user-select: none; }

.flex-viewport {
  max-height: 2000px;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.carousel li {
  margin-right: 5px; }

.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001';
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3); }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1; }

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-direction-nav .flex-next:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1; }

.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 20px; }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  height: auto;
  display: block;
  opacity: .7;
  cursor: pointer;
  -moz-user-select: none;
  transition: all 1s ease; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

/* ====================================================================================================================
 * RESPONSIVE
 * ====================================================================================================================*/
@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }
  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }

/*=======================================
*             STYLE ALL BLOCKS          *
========================================*/
/*=============================================
=            CSS BLOCK GENNERAL              =
=============================================*/
.block-cust {
  display: none; }

.block {
  position: relative;
  padding: 0;
  margin: 0; }
  .block.teaser:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #2a99d7;
    opacity: .8;
    width: 150%;
    height: calc(1200px * 1.5);
    border-radius: 50%;
    z-index: 0; }
  .block.teaser.teaser-left:before {
    left: -70%;
    top: 50%;
    -webkit-transform: translate(-30%, -50%);
            transform: translate(-30%, -50%); }
  .block.teaser.teaser-left .teaser-content {
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .block.teaser.teaser-left.org-color:before {
    background-color: #d24e20; }
  .block.teaser.teaser-right:before {
    right: -70%;
    top: 50%;
    -webkit-transform: translate(30%, -50%);
            transform: translate(30%, -50%); }
  .block.teaser.teaser-right .teaser-content {
    right: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  .block.teaser.teaser-bottom:before {
    left: 50%;
    bottom: -1450px;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .block.teaser .teaser-content {
    z-index: 1;
    position: absolute;
    top: 50%;
    padding: 2rem;
    width: 30%; }
    .block.teaser .teaser-content .content {
      margin-bottom: 2rem; }
  .block.block-carousel {
    overflow: hidden; }

/*=============================================
=            CSS BLOCK FEATURE                =
=============================================*/
.block-feature {
  width: 100%;
  min-height: 923px;
  height: calc(100vh - 89px);
  overflow: hidden;
  background: url(../images/demo/next_lv_01.jpg) no-repeat top right;
  background-size: cover; }
  .block-feature.org-color {
    background: url(../images/demo/transcendence-theatre-rehersal.jpg) no-repeat top right;
    background-size: cover; }
  .block-feature .teaser-content {
    padding-left: 4rem !important;
    color: #feffff; }
    .block-feature .teaser-content h1, .block-feature .teaser-content h2, .block-feature .teaser-content h3, .block-feature .teaser-content h4, .block-feature .teaser-content h5, .block-feature .teaser-content h6 {
      color: #feffff; }
    .block-feature .teaser-content h1 {
      text-transform: uppercase;
      margin: 0; }
    .block-feature .teaser-content h2 {
      margin: 5px 0 16px; }

/*=============================================
=            CSS BLOCK EVENTS                 =
=============================================*/
.block-events {
  background: url(../images/demo/bg_happend.png) no-repeat top center;
  background-size: cover;
  min-height: 970px;
  padding: 55px 0px; }
  .block-events h1, .block-events h2 {
    color: #676767;
    padding-left: 55px;
    padding-right: 55px; }
  .block-events h1 {
    margin-top: 0;
    margin-bottom: 40px; }
  .block-events h2.late-new {
    margin-top: 0px;
    margin-bottom: 50px; }
  .block-events .article-circle {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 100px; }
    .block-events .article-circle .article-item {
      width: 295px;
      height: 295px;
      display: inline-block;
      position: relative;
      margin: 0px 32px; }
      .block-events .article-circle .article-item .teaser-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s;
        border-radius: 50%; }
      .block-events .article-circle .article-item:hover.article-item .teaser-bg {
        -webkit-transform: rotate(-5deg);
                transform: rotate(-5deg); }
      .block-events .article-circle .article-item:hover.article-item .content-teaser {
        opacity: 1;
        overflow: hidden; }
        .block-events .article-circle .article-item:hover.article-item .content-teaser > p {
          top: 0; }
      .block-events .article-circle .article-item:hover.article-item.item-orange .content-teaser {
        background-color: rgba(255, 103, 20, 0.5); }
      .block-events .article-circle .article-item:hover.article-item.item-blue .content-teaser {
        background-color: rgba(9, 92, 184, 0.5); }
      .block-events .article-circle .article-item:hover.article-item.item-green .content-teaser {
        background-color: rgba(3, 171, 84, 0.5); }
      .block-events .article-circle .article-item:hover.article-item.item-white-left .content-teaser, .block-events .article-circle .article-item:hover.article-item.item-white-center .content-teaser, .block-events .article-circle .article-item:hover.article-item.item-white-right .content-teaser, .block-events .article-circle .article-item:hover.article-item.change-pst-crl .content-teaser {
        background-color: rgba(251, 85, 72, 0.7); }
      .block-events .article-circle .article-item.item-orange:after {
        border: 3px solid #ff6714;
        top: 0; }
      .block-events .article-circle .article-item.item-blue:after {
        border: 3px solid #095cb8;
        top: 0; }
      .block-events .article-circle .article-item.item-green:after {
        border: 3px solid #03ab54;
        bottom: 0; }
      .block-events .article-circle .article-item:after {
        content: '';
        display: block;
        width: 93%;
        height: 93%;
        position: absolute;
        border: 3px solid;
        border-radius: 50%;
        z-index: 0; }
      .block-events .article-circle .article-item.item-white-left:after {
        top: 0; }
      .block-events .article-circle .article-item.item-white-center:after {
        top: 11px;
        left: 11px; }
      .block-events .article-circle .article-item.change-pst-crl:after {
        top: 5px;
        left: 15px; }
      .block-events .article-circle .article-item.item-white-right:after {
        top: 8px;
        left: 12px; }
      .block-events .article-circle .article-item .article-title {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        display: inline-block;
        border-radius: 50%;
        border: 10px solid #dcdcdc; }
        .block-events .article-circle .article-item .article-title .content-teaser {
          background: transparent;
          display: table;
          position: absolute;
          opacity: 0;
          top: 0;
          left: 0;
          color: white;
          font-weight: bold;
          font-size: 1.7rem;
          color: white;
          font-weight: bold;
          font-size: 1.7rem;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: all 0.3s; }
          .block-events .article-circle .article-item .article-title .content-teaser > p {
            display: table-cell;
            vertical-align: middle;
            position: relative;
            top: 10%;
            transition: all 0.5s; }

/*=============================================
=            CSS BLOCK ABOUTS                 =
=============================================*/
.block-about {
  min-height: 830px;
  height: calc(100vh - 89px);
  width: 100%;
  background-image: url(../images/demo/next_lv_05.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;
  background-size: cover;
  overflow: hidden; }
  .block-about.teaser:before {
    background-color: #007519; }
  .block-about.teaser .teaser-content {
    text-align: center;
    width: 55%;
    left: 50%;
    bottom: 0;
    top: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .block-about.teaser .teaser-content h1, .block-about.teaser .teaser-content h2 {
      color: #fff; }
    .block-about.teaser .teaser-content .content {
      color: #fff; }
  .block-about .teaser-content .let-down {
    display: inline-block;
    line-height: 0;
    margin-top: 20px;
    transition: all 0.3s; }

.teaser-content .ttl-feature {
  line-height: 1.3; }

.org-color .teaser-content .btn.btn-viewmore:hover {
  background-color: #2a99d7;
  border-color: #2a99d7; }

.block-events.block-board {
  background: url(../images/demo/bg_board.png) no-repeat top center;
  background-size: cover;
  height: 1666px; }
  .block-events.block-board h1 {
    color: #1c1c1c;
    font-weight: 600; }
  .block-events.block-board .article-circle {
    margin-bottom: 25px; }
    .block-events.block-board .article-circle .article-item {
      margin-bottom: 30px; }
      .block-events.block-board .article-circle .article-item:after {
        border: 3px solid #fff; }

/*=============================================
=            CSS BLOCK SUPPORT ICON           =
=============================================*/
.block-support-icon {
  text-align: center;
  left: 0;
  width: 100%;
  min-height: 169px;
  padding: 20px 10px;
  background: url(../images/demo/bg_sponsor.jpg) center top no-repeat;
  background-size: cover; }
  .block-support-icon .support-icon {
    width: 100%;
    text-align: center; }
    .block-support-icon .support-icon .icon-item {
      display: inline-block;
      margin: 3px 20px; }

/*=============================================
=            CSS BLOCK DETAILS                =
=============================================*/
.block-details .detail-banner {
  position: relative;
  height: 606px;
  background: url("../images/demo/banner_detail.jpg") no-repeat top center;
  background-size: cover; }
  .block-details .detail-banner .detail-ttl {
    position: absolute;
    left: 70px;
    bottom: 40px;
    border: 1px solid #d24e20;
    width: 400px;
    padding: 15px; }
    .block-details .detail-banner .detail-ttl h3 {
      text-transform: uppercase;
      color: #fff;
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 0px; }

.block-details .detail-body {
  position: relative;
  padding: 100px 100px 100px 115px;
  overflow: hidden; }
  .block-details .detail-body .desc-detail {
    margin-bottom: 50px; }
    .block-details .detail-body .desc-detail p {
      font-size: 22px;
      color: #f95f22;
      line-height: 1.43333;
      margin-bottom: 0px;
      font-weight: 600; }
  .block-details .detail-body .img-bg-dtl {
    position: absolute;
    width: 45%;
    right: 0;
    opacity: 0.5;
    top: -18%;
    z-index: -1; }

.specify-detail .dtl-top {
  height: 275px;
  margin-bottom: 50px; }
  .specify-detail .dtl-top .dtl-tp-left, .specify-detail .dtl-top .dtl-tp-right {
    float: left;
    width: 50%;
    height: 275px; }
  .specify-detail .dtl-top .dtl-tp-left {
    padding-right: 30px; }
    .specify-detail .dtl-top .dtl-tp-left p {
      font-size: 18px;
      margin-bottom: 0px;
      line-height: 1.6; }
  .specify-detail .dtl-top .dtl-tp-right {
    text-align: center;
    padding: 15px;
    background-color: rgba(221, 221, 221, 0.91); }
    .specify-detail .dtl-top .dtl-tp-right .icon-note {
      display: inline-block;
      width: 90px;
      height: 90px;
      background-image: url(../images/demo/note_icon.png);
      background-repeat: no-repeat;
      background-size: 100%; }
    .specify-detail .dtl-top .dtl-tp-right p {
      margin-top: 0px;
      font-size: 26px;
      line-height: 1.5; }

.specify-detail .text-frt, .specify-detail .text-snd {
  font-size: 18px;
  line-height: 1.6;
  margin-top: 0px;
  margin-bottom: 50px; }

.image-detail .img-item {
  display: inline-block;
  line-height: 0;
  overflow: hidden;
  width: 475px;
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 15px; }
  .image-detail .img-item:last-child {
    margin-right: 0px; }

.block.block-share {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 40%;
  width: 40px; }
  .block.block-share li {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px; }
    .block.block-share li.bg-fb {
      background-color: #3b579c; }
    .block.block-share li.bg-twt {
      background-color: #50abf1; }
    .block.block-share li.bg-gg {
      background-color: #df4932; }
    .block.block-share li.bg-mail {
      background-color: #639c39; }
    .block.block-share li.bg-print {
      background-color: #ff6500; }
    .block.block-share li a {
      color: #fff;
      line-height: 1;
      display: inline-block; }
    .block.block-share li:hover {
      cursor: pointer; }
      .block.block-share li:hover a {
        transition: all 0.3s;
        color: #000; }

/*=============================================
=            CSS MAIN CLIDER                  =
=============================================*/
.main-slider {
  min-height: 830px;
  height: calc(100vh - 89px); }
  .main-slider .slider-item {
    text-align: center;
    min-height: 830px;
    height: calc(100vh - 89px);
    background-repeat: no-repeat;
    background-size: cover; }

.slider-item.bg-blue {
  background-repeat: no-repeat;
  background-image: url(../images/demo/slider-bg-blue.png);
  background-position: center center; }
  .slider-item.bg-blue .itm-circle .art-title {
    border-color: #0b6cc1; }

.slider-item.bg-green {
  background-repeat: no-repeat;
  background-image: url(../images/demo/slider-bg-green.png);
  background-position: center center; }
  .slider-item.bg-green .itm-circle .art-title {
    border-color: #1cba5d; }

.slider-item.bg-red {
  background-repeat: no-repeat;
  background-image: url(../images/demo/slider-bg-red.png);
  background-position: center center; }
  .slider-item.bg-red .itm-circle .art-title {
    border-color: #f86450; }

.slider-item .blk-sli-img {
  padding-top: 80px;
  padding-bottom: 40px; }

.slider-item .itm-circle {
  width: 270px;
  height: 270px;
  display: inline-block;
  position: relative;
  margin: 0px 32px; }
  .slider-item .itm-circle .art-title {
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #dcdcdc; }
  .slider-item .itm-circle .teaser-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s;
    border-radius: 50%; }

.slider-item .blk-sli-ct .ttl-art {
  font-size: 65px;
  margin-bottom: 35px;
  line-height: 1;
  color: #fff; }

.slider-item .blk-sli-ct .desc {
  height: 70px;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #fff;
  line-height: 1.4; }

.slider-item .blk-sli-ct .btn.btn-explore {
  color: #fff;
  margin-bottom: 60px; }
  .slider-item .blk-sli-ct .btn.btn-explore:hover {
    background-color: rgba(0, 0, 0, 0.31);
    border-color: rgba(0, 0, 0, 0.08); }

.slider-item .blk-sli-menu {
  width: 630px;
  margin: 0 auto;
  background-color: #000;
  opacity: 0.5; }
  .slider-item .blk-sli-menu li {
    float: left;
    width: 25%; }
    .slider-item .blk-sli-menu li.active a {
      color: #fff; }
    .slider-item .blk-sli-menu li a {
      text-transform: uppercase;
      display: inline-block;
      line-height: 1;
      padding: 15px 10px;
      color: #bfbfbf;
      transition: all 0.3s; }
      .slider-item .blk-sli-menu li a:hover {
        color: #fff; }

.custom-navigation .sli-icon, .cust-nav .sli-icon {
  color: #fff;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  width: 500px;
  height: 500px;
  line-height: 500px;
  border-radius: 50%;
  text-align: center;
  background-color: #ddd;
  opacity: 0.6;
  transition: background-color 0.2s; }
  .custom-navigation .sli-icon.icon-prev, .cust-nav .sli-icon.icon-prev {
    left: -448px; }
  .custom-navigation .sli-icon.icon-next, .cust-nav .sli-icon.icon-next {
    right: -448px; }
  .custom-navigation .sli-icon.bg-icon-gray, .cust-nav .sli-icon.bg-icon-gray {
    background-color: #323639; }
  .custom-navigation .sli-icon.bg-icon-green, .cust-nav .sli-icon.bg-icon-green {
    background-color: #00ab52; }
  .custom-navigation .sli-icon.bg-icon-blue, .cust-nav .sli-icon.bg-icon-blue {
    background-color: #005db9; }
  .custom-navigation .sli-icon.bg-icon-red, .cust-nav .sli-icon.bg-icon-red {
    background-color: #d8292f; }
  .custom-navigation .sli-icon.bg-icon-slive, .cust-nav .sli-icon.bg-icon-slive {
    background-color: #323e48; }
  .custom-navigation .sli-icon .icon, .cust-nav .sli-icon .icon {
    width: 25px;
    height: 55px;
    background-position: center center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
    .custom-navigation .sli-icon .icon.ico-prev, .cust-nav .sli-icon .icon.ico-prev {
      right: 20px; }
    .custom-navigation .sli-icon .icon.ico-next, .cust-nav .sli-icon .icon.ico-next {
      left: 20px; }

.bottom-slider .slides > li {
  max-height: 250px; }
  .bottom-slider .slides > li img {
    min-height: 250px;
    height: 100%;
    width: 100%;
    object-fit: cover; }

.btm-slider-wrap {
  position: relative;
  overflow: hidden; }
  .btm-slider-wrap .cust-nav .sli-icon {
    background-color: #323639;
    opacity: 0.5;
    width: 300px;
    height: 300px;
    line-height: 300px; }
    .btm-slider-wrap .cust-nav .sli-icon.icon-prev {
      left: -235px; }
    .btm-slider-wrap .cust-nav .sli-icon.icon-next {
      right: -235px; }

.block-carousel {
  position: relative; }
  .block-carousel .blk-sli-menu {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1; }
    .block-carousel .blk-sli-menu .flex-control-nav {
      text-align: center; }
      .block-carousel .blk-sli-menu .flex-control-nav > li {
        display: inline-block;
        padding: 10px 16px;
        background: rgba(0, 0, 0, 0.48);
        color: #ababab;
        margin: 0;
        font-size: 1.8rem;
        cursor: pointer; }
        .block-carousel .blk-sli-menu .flex-control-nav > li.flex-active {
          color: #ffffff; }
  .block-carousel .next-section {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    text-align: center; }

header {
  display: block;
  height: 89px;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: 0px 5px 8px -6px rgba(50, 50, 50, 0.75);
  background-color: #323639;
  z-index: 10; }
  header .header-wrapper {
    color: #feffff;
    width: 1200px;
    margin: 0 auto;
    padding: 0 1rem; }
  header .logo {
    position: relative;
    width: 217px;
    height: 89px;
    float: left; }
    header .logo .logo-background {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: url(../images/demo/logo_rgb.png) 50% 57% no-repeat;
      background-size: cover;
      width: 217px;
      height: 89px; }
  header .navi {
    position: relative;
    float: left;
    width: calc(1200px - 217px - 40px);
    margin: 15px 0; }
    header .navi .navi-first-line,
    header .navi .navi-second-line {
      width: 619px;
      margin: 0 auto; }
    header .navi .navi-second-line {
      border-top: 1px solid #8d9194; }
    header .navi .menu {
      list-style: none;
      text-align: center;
      padding: 0;
      margin: 5px 0; }
      header .navi .menu .menu-item {
        display: inline-block;
        position: relative; }
        header .navi .menu .menu-item > a {
          padding: 8px 14px;
          color: #feffff;
          text-transform: uppercase;
          font-size: 1.4rem;
          transition: color 0.5s ease;
          font-weight: bold; }
          header .navi .menu .menu-item > a:hover, header .navi .menu .menu-item > a:active {
            color: #2a99d7; }
        header .navi .menu .menu-item.active > a {
          color: #2a99d7; }
        header .navi .menu .menu-item.has-child:hover > .submenu {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1;
          z-index: 1;
          left: 0; }
        header .navi .menu .menu-item.has-child > .submenu {
          opacity: 0;
          position: absolute;
          background: white;
          z-index: 1;
          width: 288px;
          text-align: left;
          border-bottom: 3px solid blue;
          top: 100%;
          left: -20px;
          -webkit-transform: scale(0);
                  transform: scale(0);
          transition: left 0.3s, opacity 0.3s; }
          header .navi .menu .menu-item.has-child > .submenu h1 {
            padding: 0;
            margin: 0 1rem;
            font-size: 1.8rem; }
          header .navi .menu .menu-item.has-child > .submenu .menu {
            margin: 0;
            padding: 1rem; }
            header .navi .menu .menu-item.has-child > .submenu .menu .menu-item {
              text-align: left;
              display: block; }
              header .navi .menu .menu-item.has-child > .submenu .menu .menu-item a {
                color: #2a99d7; }
              header .navi .menu .menu-item.has-child > .submenu .menu .menu-item.active a, header .navi .menu .menu-item.has-child > .submenu .menu .menu-item:hover a {
                color: #1b516f; }

main .content-wrapper {
  display: block;
  margin-top: 89px; }

.icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: cover; }
  .icon.icon-fb {
    background-image: url(../images/demo/icon_fb.png); }
  .icon.icon-twt {
    background-image: url(../images/demo/icon_twt.png); }
  .icon.icon-mail {
    background-image: url(../images/demo/icon_mail.png); }
  .icon.icon-search {
    background-image: url(../images/demo/icon_search.png); }
  .icon.ico-prev {
    background-image: url(../images/demo/left_arrow.png); }
  .icon.ico-next {
    background-image: url(../images/demo/right_arrow.png); }
  .icon.ico-down {
    background-image: url(../images/demo/down_arrow.png); }

/**
* CSS Footer
*/
.footer {
  background-image: url(../images/demo/footer-bg.jpg);
  background-position: bottom;
  background-repeat: repeat-x;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  .footer .ft-top-wrap {
    width: 1200px;
    height: 230px;
    margin: 0 auto;
    background: url(../images/demo/bg_footer.png) top center no-repeat;
    z-index: 1; }
  .footer .ft-bottom-wrap {
    height: 75px;
    width: 1200px;
    margin: 0 auto;
    background: url(../images/demo/bg_footer.png) bottom center no-repeat;
    z-index: 1; }

/*==== Footer top ====*/
.ft-top-wrap {
  padding: 55px 15px 15px 15px;
  color: #fff; }
  .ft-top-wrap .ft-contact {
    margin-bottom: 25px; }
  .ft-top-wrap .contact-info {
    float: left;
    width: 30%;
    padding-left: 30px;
    padding-right: 30px; }
  .ft-top-wrap .contact-list {
    padding-left: 30px;
    padding-right: 30px;
    float: left;
    width: 20%; }
  .ft-top-wrap .contact-form {
    float: left;
    width: 50%; }

.ft-top-wrap .contact-info .ttl-info {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 5px; }

.ft-top-wrap .contact-info p {
  margin: 0px;
  font-size: 16px; }

.ft-top-wrap .contact-list li {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px; }
  .ft-top-wrap .contact-list li a {
    display: inline-block;
    color: #fff;
    line-height: 1;
    font-size: 16px;
    transition: all 0.3s ease-in-out; }
    .ft-top-wrap .contact-list li a:hover {
      color: #161616; }

.ft-top-wrap .contact-form {
  padding-left: 15px;
  padding-right: 15px; }
  .ft-top-wrap .contact-form .ttl-sign-up {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 30px;
    text-transform: uppercase;
    color: #f6a096;
    font-weight: normal; }
  .ft-top-wrap .contact-form .frm-sign-up {
    border: 1px solid #fff; }
    .ft-top-wrap .contact-form .frm-sign-up .ipt {
      background-color: #f9aca3;
      border: none;
      padding: 17px 15px;
      width: 75%;
      font-size: 18px;
      float: left;
      outline: none;
      color: #89615c; }
    .ft-top-wrap .contact-form .frm-sign-up .button {
      width: 25%;
      padding: 17px 15px;
      border: none;
      border-left: 1px solid #fff;
      text-transform: uppercase;
      color: #f7a197;
      font-size: 18px;
      background-color: transparent;
      outline: none; }
      .ft-top-wrap .contact-form .frm-sign-up .button:hover {
        transition: all 0.3s ease-in-out;
        color: #fff;
        cursor: pointer; }

.ft-top-wrap .coppy-right {
  margin: 0px;
  padding-left: 380px;
  font-size: 16px; }

/*==== Footer bottom ====*/
.ft-bottom-wrap {
  padding: 0 15px; }
  .ft-bottom-wrap .btm-col-left {
    width: 20%;
    float: left;
    height: 100%; }
  .ft-bottom-wrap .btm-col-center {
    width: 60%;
    float: left;
    height: 100%;
    line-height: 75px; }
  .ft-bottom-wrap .btm-col-right {
    width: 20%;
    float: left;
    height: 100%; }

.btm-col-left {
  overflow: hidden;
  position: relative; }
  .btm-col-left .img-logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/demo/logo_white.png) 50% 52% no-repeat;
    background-size: cover;
    width: 234px;
    height: 75px; }

.btm-col-center {
  color: #fff; }
  .btm-col-center p {
    font-size: 14px;
    margin: 0px; }

.btm-col-right .blk-social {
  color: #fff;
  text-align: center;
  margin-top: 20px; }
  .btm-col-right .blk-social li {
    float: left;
    width: 25%;
    display: block; }
    .btm-col-right .blk-social li a {
      display: inline-block;
      line-height: 1;
      transition: all 0.3s ease-in-out; }
      .btm-col-right .blk-social li a:hover {
        opacity: 0.7; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
html {
  font-size: 10px; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 2.4rem; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1.4rem; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.btn {
  display: inline-block;
  padding: 5px 10px; }
  .btn.btn-viewmore, .btn.btn-explore {
    border: 1px solid #feffff;
    color: #feffff;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s; }
    .btn.btn-viewmore:hover, .btn.btn-explore:hover {
      background-color: #da3f3f;
      border-color: #da3f3f; }
  .btn.btn-explore {
    border: 1px solid #fff;
    color: #fff; }

.layout.layout-fix {
  width: 1200px;
  margin: 0 auto; }

.layout.layout-fluid {
  width: 100%;
  margin: 0 auto; }

.text-center {
  text-align: center; }

a {
  text-decoration: none; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none; }

h3 {
  margin-top: 0; }

@media (min-width: 481px) {
  .hamburger-menu {
    display: none; } }

@media (max-width: 480px) {
  .layout-fluid {
    overflow-x: hidden; }
  .block-carousel .slider-item .blk-sli-img {
    padding-top: 30px; }
  .block-carousel .slider-item .itm-circle {
    display: none; }
    .block-carousel .slider-item .itm-circle:first-child {
      display: inherit !important;
      margin: 0 auto; }
  .block-carousel .slider-item .blk-sli-ct {
    width: 100% !important; }
    .block-carousel .slider-item .blk-sli-ct .ttl-art {
      font-size: 35px !important; }
    .block-carousel .slider-item .blk-sli-ct .desc {
      padding: 0 15px;
      height: 104px; }
  .block-carousel .blk-sli-menu {
    bottom: 120px; }
    .block-carousel .blk-sli-menu .flex-control-nav > li {
      width: 50%;
      padding: 10px 7px;
      font-size: 1.5rem; }
  .block-carousel .custom-navigation .sli-icon {
    top: 20%;
    background: none !important; }
  .block-events {
    padding: 30px 0;
    height: auto; }
    .block-events h1, .block-events h2 {
      padding: 0 0 0 20px;
      margin: 0; }
    .block-events h1 {
      font-size: 4rem;
      line-height: 0.8;
      margin-bottom: 1rem; }
    .block-events .article-circle {
      padding: 0; }
      .block-events .article-circle .article-item {
        margin: 1.5rem 0;
        width: 235px;
        height: 235px; }
    .block-events .bottom-slider .slides > li {
      width: 100vw !important; }
      .block-events .bottom-slider .slides > li img {
        width: 100vw !important; }
  .block-feature {
    height: calc(50vh - 89px);
    min-height: 50vh;
    margin-bottom: calc(50vh - 89px);
    overflow: visible; }
    .block-feature.teaser.teaser-left:before,
    .block-feature.teaser.teaser-left h2 {
      display: none; }
    .block-feature.teaser.teaser-left h1 {
      margin-bottom: 30px; }
    .block-feature.teaser.teaser-left .teaser-content {
      padding-top: calc(55vh - 89px) !important;
      position: relative;
      width: 100% !important;
      left: 0 !important;
      bottom: 0 !important;
      -webkit-transform: none !important;
              transform: none !important;
      top: auto !important;
      padding-left: 15px !important;
      padding-right: 15px !important; }
      .block-feature.teaser.teaser-left .teaser-content:before {
        content: '';
        display: block;
        width: 300vw;
        height: 300vw;
        border-radius: 50%;
        background: rgba(50, 154, 212, 0.81);
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
        top: 240px;
        z-index: -1; }
  .footer {
    width: 100vw;
    overflow-x: hidden; }
    .footer .ft-top-wrap {
      height: 356px;
      width: 100%;
      background: url(../images/demo/footer-mobile.png) left top no-repeat;
      overflow: hidden;
      padding-top: 20px;
      position: relative; }
      .footer .ft-top-wrap .contact-list {
        position: absolute;
        bottom: 25px;
        width: 100% !important;
        text-align: center;
        padding: 0 !important;
        margin: 0 !important;
        left: 0; }
        .footer .ft-top-wrap .contact-list li {
          display: inline-block; }
          .footer .ft-top-wrap .contact-list li a {
            font-size: 12px !important;
            padding: 0 !important; }
      .footer .ft-top-wrap .contact-info {
        width: 100% !important;
        padding: 0 !important;
        text-align: center;
        margin-bottom: 25px; }
        .footer .ft-top-wrap .contact-info .ttl-info {
          color: #fff;
          margin-bottom: 9px; }
      .footer .ft-top-wrap .contact-form {
        width: 100% !important;
        padding: 0 !important; }
        .footer .ft-top-wrap .contact-form .ttl-sign-up {
          text-align: center;
          font-size: 16px !important; }
        .footer .ft-top-wrap .contact-form .frm-sign-up {
          border: none;
          width: 100%;
          text-align: center; }
          .footer .ft-top-wrap .contact-form .frm-sign-up input {
            width: 100% !important;
            border: 1px solid #ffffff;
            margin-bottom: 20px;
            padding: 11px 15px; }
          .footer .ft-top-wrap .contact-form .frm-sign-up .button {
            border: 1px solid #ffffff;
            width: 200px !important;
            padding: 11px 15px; }
      .footer .ft-top-wrap .coppy-right {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 11px;
        display: block;
        width: 100% !important;
        position: absolute;
        bottom: 11px;
        left: 0; }
    .footer .ft-bottom-wrap {
      height: 219px;
      width: 100%;
      background: url(../images/demo/footer-mobile.png) left bottom no-repeat;
      overflow: hidden;
      position: relative; }
      .footer .ft-bottom-wrap .btm-col-left {
        width: 100%;
        height: 76px; }
      .footer .ft-bottom-wrap .btm-col-center {
        width: 100%;
        line-height: 1;
        height: auto;
        margin-top: 18px; }
        .footer .ft-bottom-wrap .btm-col-center p {
          font-size: 12px;
          line-height: 19px; }
      .footer .ft-bottom-wrap .btm-col-right {
        width: 100%; }
  .block-support-icon {
    padding: 20px 0px; }
    .block-support-icon h2 {
      font-size: 1.6rem; }
    .block-support-icon .support-icon .icon-item {
      margin: 3px 5px; } }

@media (max-width: 768px) {
  .menu-open {
    width: 100vw;
    height: 100vh;
    overflow: hidden; }
    .menu-open .navi {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
  header .hamburger-menu {
    display: block;
    position: absolute;
    right: 14px;
    padding: 10px;
    font-size: 3.6rem;
    color: white;
    top: 14px; }
  header .navi {
    position: fixed;
    left: 0;
    top: 88px;
    width: 100vw !important;
    height: calc(100vh - 87px);
    overflow-y: auto;
    background: rgba(50, 54, 57, 0.9);
    margin: 0;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    header .navi .navi-first-line,
    header .navi .navi-second-line {
      width: 100vw;
      border: none; }
    header .navi .menu {
      margin: 0;
      padding: 0; }
      header .navi .menu .menu-item {
        display: block; }
        header .navi .menu .menu-item a {
          display: block;
          padding: 15px 14px;
          border-top: 1px solid #8d9296;
          font-size: 1.6rem; }
        header .navi .menu .menu-item.has-child:hover > .submenu {
          width: 100%; }
  .block-carousel .slider-item .itm-circle:last-child {
    display: none; }
  .block-events .article-circle .article-item {
    margin: 0px 30px !important; }
  .block-feature.teaser.teaser-left:before {
    left: 50%;
    bottom: -155%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 230%;
    top: auto; }
  .block-feature.teaser.teaser-left .teaser-content {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: auto;
    bottom: 0;
    width: 100%;
    padding: 4rem; } }

@media (max-width: 1024px) {
  header .navi {
    width: calc(100vw - 217px - 40px); }
    header .navi .menu-item.has-child:hover > .submenu {
      right: 0;
      left: auto !important; }
    header .navi .menu-item.has-child .submenu {
      left: auto !important;
      right: 20px;
      transition: right 0.3s, opacity 0.3s !important; }
  .block-carousel .slider-item .itm-circle:last-child {
    display: none; }
  .block-carousel .slider-item .blk-sli-ct {
    width: calc(100vw - 100px);
    margin: 0 auto; }
    .block-carousel .slider-item .blk-sli-ct .ttl-art {
      font-size: 45px !important; }
  .block-events .article-circle .article-item {
    width: 250px;
    height: 250px;
    margin: 0px 15px; }
  .footer {
    width: 100vw; }
    .footer .ft-top-wrap {
      width: 100%;
      padding-top: 25px; }
      .footer .ft-top-wrap .ft-contact {
        margin-bottom: 12px; }
      .footer .ft-top-wrap .contact-info {
        padding: 0;
        width: 35%; }
      .footer .ft-top-wrap .contact-list {
        padding: 0;
        width: 65%;
        padding-left: 3rem;
        margin-bottom: 2rem; }
        .footer .ft-top-wrap .contact-list li {
          display: inline-block; }
          .footer .ft-top-wrap .contact-list li a {
            padding: 3px 5px; }
      .footer .ft-top-wrap .contact-form {
        width: 64%;
        padding-left: 3rem; }
        .footer .ft-top-wrap .contact-form .ttl-sign-up {
          font-size: 20px; }
        .footer .ft-top-wrap .contact-form .frm-sign-up .ipt {
          width: 60%; }
        .footer .ft-top-wrap .contact-form .frm-sign-up .button {
          width: 40%; }
      .footer .ft-top-wrap .coppy-right {
        padding: 10px;
        text-align: center; }
    .footer .ft-bottom-wrap {
      width: 100%; }
      .footer .ft-bottom-wrap .btm-col-left {
        width: 234px; }
    .footer .btm-col-center {
      width: calc(100% - 234px);
      display: table; }
      .footer .btm-col-center p {
        line-height: 23px;
        padding: 8px 5px;
        display: table-cell;
        vertical-align: middle; }
    .footer .btm-col-right {
      width: 100%;
      text-align: center; }
      .footer .btm-col-right .blk-social {
        margin-top: 10px;
        text-align: center; }
        .footer .btm-col-right .blk-social ul {
          text-align: center; }
        .footer .btm-col-right .blk-social li {
          width: auto;
          display: inline-block;
          float: none; }
          .footer .btm-col-right .blk-social li a {
            padding: 7px 10px; } }

* {
  box-sizing: border-box; }
