@charset "UTF-8";
/*
Theme Name:     Octave Theme
Description:    Responsive theme
Version:        1.0.0
Author:         Elinext
Author URI:     http://www.elinext.com/
Template:       apollo
*/


@font-face {
    font-family: Brandon;
    font-weight: 500;
    src: url("../../assets/fonts/Brandon_reg_it.otf") format("opentype");
}
