section.blk-new-content-tmpl
    .bs-container
        .blk-row-data
            h3.ttl-row things to do
            .bs-row
                .bs-col-md-6.bs-col-sm-6
                    .item-data-custom.has-border-data
                        .img-item-data.img-rows-2
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") events
                        div.description-item
                            p
                                | An abundance of fun and interesting events—from performing arts and
                                | exhibits to spectator sports and more— oﬀers year-round entertainment.
                .bs-col-md-6.bs-col-sm-6
                    .item-data-custom.has-border-data
                        .img-item-data.img-rows-2
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") attractions & museums
                        div.description-item
                            p
                                | From amusement parks to museums and historic sites,
                                | visit the many fun and interesting places the area has to oﬀer.
            .bs-row
                .bs-col-md-6.bs-col-sm-6
                    .item-data-custom.has-border-data
                        .img-item-data.img-rows-2
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") outdoor activities
                        div.description-item
                            p
                                | Everything from parks and wilderness preserves to beaches,
                                | ocean sports and golf make this an outdoor enthusiast’s paradise.
                .bs-col-md-6.bs-col-sm-6
                    .item-data-custom.has-border-data
                        .img-item-data.img-rows-2
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") wineries
                        div.description-item
                            p
                                |  The Santa Clara Valley and Santa Cruz Mountains wine
                                | appellation boasts world-class wines and more than 75 wineries, many open for winetasting.
        //- END : .blk-row-data
        .blk-row-data
            h3.ttl-row where to eat, shop and unwind
            .bs-row
                .bs-col-md-4.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-3
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") dining
                        div.description-item
                            p
                                | Search tempting op-tions by cuisine type, geographic area and other features.
                .bs-col-md-4.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-3
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") Shopping
                        div.description-item
                            p
                                | Charming downtowns and world-class malls oﬀer many shopping opportunities.
                .bs-col-md-4.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-3
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") nightlife
                        div.description-item
                            p
                                | Unwind at the end of the day at one of the area's options for evening entertainment.
        //- END : .blk-row-data
        .blk-row-data.small-txt-cate
            h3.ttl-row visitor information
            .bs-row
                .bs-col-md-3.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-4
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") city profiles
                        div.description-item
                            p
                                | The area's cities have their own distinctive cultures and personalities.
                .bs-col-md-3.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-4
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") destinations
                        div.description-item
                            p
                                | Venturing farther aﬁeld: San Francisco, Monterey and more.
                .bs-col-md-3.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-4
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") getting around
                        div.description-item
                            p
                                | A guide to public transportation and car rentals, plus maps.
                .bs-col-md-3.bs-col-sm-6
                    .item-data-custom
                        .img-item-data.img-rows-4
                            a(href="#")
                                img(src="../assets/uploads/sgl.jpg", alt="")
                        h3.ttl-item
                            a(href="#") lodging
                        div.description-item
                            p
                                | Your guide to the area's best places to stay, from hotels to B&Bs.
        //- END : .blk-row-data

