.main-slider.full
    .inner
        .main-slider-overlay
            .loading(style="display: none;")
                a
                    i(class="fa fa-spinner fa-spin fa-3x")
        .flexslider
            ul.slides
                li
                    .i-slider
                        .inner
                            .i-caption-dine.clearfix
                                .capt-dine-category
                                    h3 Dining
                                .capt-dine-content
                                    h4.capt-ct-name
                                        a(href="#")
                                            | alexander's steakhouse
                                    p.capt-ct-desc
                                        | The South Bay's restaurant of choice for the finest of steaks.
                        a(href="#")
                            img(src="../assets/uploads/dennis-nahat_2000x900-889x400.jpg", alt="slide 1")
                li
                    .i-slider
                        .inner
                            .i-caption-dine.clearfix
                                .capt-dine-category
                                    h3 Dining
                                .capt-dine-content
                                    h4.capt-ct-name
                                        a(href="#")
                                            | alexander's steakhouse
                                    p.capt-ct-desc
                                        | The South Bay's restaurant of choice for the finest of steaks.
                        a(href="#")
                            img(src="../assets/uploads/3spotlight-647x300.png", alt="slide 2")
                li
                    .i-slider
                        .inner
                            .i-caption-dine.clearfix
                                .capt-dine-category
                                    h3 Dining
                                .capt-dine-content
                                    h4.capt-ct-name
                                        a(href="#")
                                            | alexander's steakhouse
                                    p.capt-ct-desc
                                        | The South Bay's restaurant of choice for the finest of steaks.
                        a(href="#")
                            img(src="../assets/uploads/2spotlight-647x300.png", alt="slide 3")
