/**
 * Author: Xuan anh
 * Update: 21/01/2017
 * Content: New spotlight template
 */
.i-slider .i-caption-dine {
    position: absolute;
    color: #fff;
    width: 100%;
    bottom: 30px;
    padding: 15px 25px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 500;
    box-sizing: border-box;
}
.i-slider .i-caption-dine .capt-dine-category,
.i-slider .i-caption-dine .capt-dine-content {
    display: inline-block;
    vertical-align: middle;
}
.i-slider .i-caption-dine .capt-dine-category {
    padding-right: 15px;
    max-width: 30%;
    overflow: hidden;
}
.i-slider .i-caption-dine .capt-dine-category h3 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.i-slider .i-caption-dine .capt-dine-content {
    padding-left: 20px;
    border-left: 1px solid #fff;
    overflow: hidden;
    max-width: 65%;
}
.i-slider .i-caption-dine .capt-dine-content h4.capt-ct-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
}
.i-slider .i-caption-dine .capt-dine-content h4.capt-ct-name a {
    color: #fff;
}
.i-slider .i-caption-dine .capt-dine-content h4.capt-ct-name a:hover {
    text-decoration: underline;
}
.i-slider .i-caption-dine .capt-dine-content p {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Responsive business spotlight */
@media (max-width: 767px) {
    .i-slider .i-caption-dine {
        /*background-color: transparent;*/
        bottom: 5px;
    }
    .i-slider .i-caption-dine .capt-dine-category,
    .i-slider .i-caption-dine .capt-dine-content {
        width: 100%;
        max-width: 100%;
        padding: 0px;
        text-align: center;
    }
    .i-slider .i-caption-dine .capt-dine-category {
        margin-bottom: 10px;
    }
    .i-slider .i-caption-dine .capt-dine-category h3 {
        font-size: 24px;
    }
    .i-slider .i-caption-dine .capt-dine-content {
        border-left: none;
    }
    .i-slider .i-caption-dine .capt-dine-content h4.capt-ct-name {
        font-size: 16px;
    }
    .i-slider .i-caption-dine .capt-dine-content p {
        font-size: 16px;
    }
}

/** @Ticket #13130 */
@media (max-width: 480px) {
    .main-slider .i-slider .inner {
        display: none;
    }
}