/*
  Author: donlq
  Date: 10/10/2018
  Description: Use this file to fix and override Apollo global styles
*/
/**
 * BEGIN - donlq - fixes 17839 - Business slider show captopn on mobile 480px 
*/
@media (max-width: 480px) {
  .event-landing-page-slider .main-slider-overlay,
  .tax-business-type .main-slider-overlay {
    display: none;
  }
  .event-landing-page-slider.main-slider,
  .tax-business-type.main-slider,
  .event-landing-page-slider .main-slider,
  .tax-business-type .main-slider {
    height: auto!important;
  }
  .event-landing-page-slider .flexslider,
  .tax-business-type .flexslider {
    position: relative;
    overflow: visible;
    margin-bottom: 25px;
  }
  .event-landing-page-slider .flexslider .wrap-inner .inner,
  .tax-business-type .flexslider .wrap-inner .inner {
    height: 100%;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner,
  .event-landing-page-slider .flexslider .i-slider .inner,
  .tax-business-type .flexslider .i-slider .inner {
    height: 100%;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine {
    bottom: 0;
    padding: 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine a,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine a,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine a,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine a {
    display: block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-category,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-category,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine .capt-dine-category,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine .capt-dine-category {
    margin-bottom: 7px;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-category h3,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-category h3,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine .capt-dine-category h3,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine .capt-dine-category h3 {
    font-size: 18px;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-content h4.capt-ct-name,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-content h4.capt-ct-name,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine .capt-dine-content h4.capt-ct-name,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine .capt-dine-content h4.capt-ct-name {
    font-size: 16px;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-content h4.capt-ct-name a,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-content h4.capt-ct-name a,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine .capt-dine-content h4.capt-ct-name a,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine .capt-dine-content h4.capt-ct-name a {
    line-height: 1.3;
  }
  .event-landing-page-slider .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-content p,
  .tax-business-type .flexslider .i-slider ~ .wrap-inner .i-caption-dine .capt-dine-content p,
  .event-landing-page-slider .flexslider .i-slider .inner .i-caption-dine .capt-dine-content p,
  .tax-business-type .flexslider .i-slider .inner .i-caption-dine .capt-dine-content p {
    line-height: 1.3;
    max-height: 2.6em;
    overflow: hidden;
  }
  .event-landing-page-slider .flexslider .flex-control-paging,
  .tax-business-type .flexslider .flex-control-paging {
    top: calc(100% + 10px);
  }
  .event-landing-page-slider .flexslider .flex-direction-nav.flex-direction-nav a.flex-next,
  .tax-business-type .flexslider .flex-direction-nav.flex-direction-nav a.flex-next {
    right: 10px!important;
  }
  .event-landing-page-slider .flexslider .flex-direction-nav.flex-direction-nav a.flex-prev,
  .tax-business-type .flexslider .flex-direction-nav.flex-direction-nav a.flex-prev {
    left: 10px!important;
  }
  .event-landing-page-slider .flexslider .slides .i-slider,
  .tax-business-type .flexslider .slides .i-slider {
    position: relative;
    overflow: visible!important;
    height: 0!important;
    padding-bottom: 250px;
    background-color: #f5f5f5;
  }
  .event-landing-page-slider .flexslider .slides .i-slider ~ .wrap-inner,
  .tax-business-type .flexslider .slides .i-slider ~ .wrap-inner,
  .event-landing-page-slider .flexslider .slides .i-slider .inner,
  .tax-business-type .flexslider .slides .i-slider .inner {
    display: block!important;
  }
  .event-landing-page-slider .flexslider .slides .i-slider ~ .wrap-inner a,
  .tax-business-type .flexslider .slides .i-slider ~ .wrap-inner a,
  .event-landing-page-slider .flexslider .slides .i-slider .inner a,
  .tax-business-type .flexslider .slides .i-slider .inner a {
    background-color: initial;
  }
  .event-landing-page-slider .flexslider .slides .i-slider .inner,
  .tax-business-type .flexslider .slides .i-slider .inner {
    position: static;
    height: auto;
  }
  .event-landing-page-slider .flexslider .slides .i-slider img,
  .tax-business-type .flexslider .slides .i-slider img {
    position: absolute!important;
    width: auto!important;
    height: auto!important;
    max-width: 100%;
    max-height: 100%;
    min-height: initial;
    left: 50%;
    top: 0!important;
    transform: translate(-50%, 0) !important;
  }
}
@media (max-width: 480px) and (max-width: 360px) {
  .event-landing-page-slider.main-slider .flexslider,
  .tax-business-type.main-slider .flexslider,
  .event-landing-page-slider .main-slider .flexslider,
  .tax-business-type .main-slider .flexslider {
    padding-bottom: 0;
  }
}
/* Caption under images */
@media (max-width: 480px) {
  .event-landing-page-slider .flexslider.business-semi-trans,
  .tax-business-type .flexslider.business-semi-trans {
    margin-bottom: 100px;
  }
  .event-landing-page-slider .flexslider.business-semi-trans .wrap-inner,
  .tax-business-type .flexslider.business-semi-trans .wrap-inner {
    height: 100px;
    top: 100%;
    bottom: initial;
    overflow: hidden;
    position: absolute;
  }
  .event-landing-page-slider .flexslider.business-semi-trans .i-slider .inner .i-caption-dine,
  .tax-business-type .flexslider.business-semi-trans .i-slider .inner .i-caption-dine {
    height: 100%;
    height: 100px;
    top: 100%;
    bottom: initial;
    overflow: hidden;
    position: absolute;
    padding: 10px 20px 10px;
  }
  .event-landing-page-slider .flexslider.business-semi-trans .i-slider img,
  .tax-business-type .flexslider.business-semi-trans .i-slider img {
    transform: translate(-50%, -50%) !important;
    top: 50%!important;
  }
  .event-landing-page-slider .flexslider.business-semi-trans .flex-control-paging,
  .tax-business-type .flexslider.business-semi-trans .flex-control-paging {
    top: initial;
    bottom: 10px!important;
  }
  .event-landing-page-slider .flexslider.business-semi-trans .i-caption-dine,
  .tax-business-type .flexslider.business-semi-trans .i-caption-dine {
    height: 100%;
  }
  .event-landing-page-slider .flexslider.business-semi-trans .i-caption-dine .capt-dine-category h3,
  .tax-business-type .flexslider.business-semi-trans .i-caption-dine .capt-dine-category h3,
  .event-landing-page-slider .flexslider.business-semi-trans .i-caption-dine .capt-dine-content h4.capt-ct-name,
  .tax-business-type .flexslider.business-semi-trans .i-caption-dine .capt-dine-content h4.capt-ct-name {
    max-height: 1.3em;
    line-height: 1.3;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
/**
 * END - donlq - fixes 17839 - Business slider show captopn on mobile 480px 
*/
