/*
* The styling uses for ShortCode Photo Slider
* Apollo Theme
* Redmine : Task #10233 0001430 - [Sonoma][CF] - 20161031 - [#c9016] Implement the additional shortcode 'Photo Slider' AND have possibility to use in the whole Artsopolis websites
* Author : ThienLD
*/
._js-btm-slider-wrap .bottom-slider .slides > li {
    position: relative;
}
._js-btm-slider-wrap .bottom-slider .slides > li .hover-content .link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
._js-btm-slider-wrap .bottom-slider .slides > li .hover-content {
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s;
}
._js-btm-slider-wrap .bottom-slider .slides > li:hover .hover-content {
    transform: scale(1);
    opacity: 1;
}
._js-btm-slider-wrap .bottom-slider .slides > li .hover-content .wrapper-middle {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}
._js-btm-slider-wrap .bottom-slider .slides > li:hover .hover-content h1.content-title {
    font-size: 1.6rem;
    line-height: 1.8rem;
    text-align: center;
    max-height: 3.6rem;
    overflow: hidden;
    margin-bottom: 0;
    color: white;
}

._js-btm-slider-wrap .bottom-slider .slides > li:hover .hover-content h2.content-subtitle {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-align: center;
    max-height: 2.8rem;
    overflow: hidden;
    color: white;
    margin-top: 7px;
}

._js-btm-slider-wrap {
    position: relative;
    overflow: hidden;
}

._js-btm-slider-wrap .bottom-slider .slides>li {
    max-height: 250px;
}

._js-btm-slider-wrap .bottom-slider .slides>li img {
    min-height: 250px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover; object-position: center;';
}

._js-btm-slider-wrap .cust-nav .sli-icon.icon-prev {
    left: -235px;
}
._js-btm-slider-wrap .cust-nav .sli-icon {
    background-color: #323639;
    opacity: .5;
    width: 300px;
    height: 300px;
    line-height: 300px;
}

._js-btm-slider-wrap .cust-nav .sli-icon.icon-next {
    right: -235px;
}

._js-btm-slider-wrap .cust-nav .sli-icon {
    background-color: #323639;
    opacity: .5;
    width: 300px;
    height: 300px;
    line-height: 300px;
}

._js-btm-slider-wrap .bottom-slider {
    position: relative;
}

._js-btm-slider-wrap .bottom-slider .flex-direction-nav {
    margin: 0;
    padding: 0;
}
._js-btm-slider-wrap .bottom-slider .flex-direction-nav li:last-child{
    right: 0;
    
}
._js-btm-slider-wrap .bottom-slider .flex-direction-nav li:first-child{
    left: 0;
}
._js-btm-slider-wrap .bottom-slider .flex-direction-nav li {
    display: block;
    position: absolute;
    height: 100%;
    width: 65px;
    overflow: hidden;
    top: 0;
}
._js-btm-slider-wrap .bottom-slider .flex-direction-nav li .flex-next, 
._js-btm-slider-wrap .bottom-slider .flex-direction-nav li .flex-prev{
    color: #fff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: inline-block;
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    text-align: center;
    background-color: #333;
    opacity: .6;
    transition: background-color .2s;
    margin-top: 0;
}

._js-btm-slider-wrap .bottom-slider .flex-direction-nav li .flex-prev{    
    right: 0;
    left: auto;
}
._js-btm-slider-wrap .bottom-slider .flex-direction-nav li .flex-next {
    left: 0;
    right: auto;
}

._js-btm-slider-wrap .bottom-slider .flex-direction-nav li .flex-next:before {
    left: 23px;
}

._js-btm-slider-wrap .bottom-slider .flex-direction-nav li .flex-prev:before {
    right: 23px;
}

._js-btm-slider-wrap .bottom-slider .flex-direction-nav li a:before {
    display: block;
    position: absolute;
    top: 0;
    color: #fff;
}

._js-btm-slider-wrap .bottom-slider .slides {
    margin-left: 0;
}
._js-btm-slider-wrap .slider-description h1,
._js-btm-slider-wrap .slider-description h2 {
    padding-left:0;
    padding-right: 0;
}
._js-btm-slider-wrap .slider-description {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
}
._js-btm-slider-wrap .slider-description h1 {
    font-size: 32px;
}