body {
  font-family: 'Open sans', Arial, Helvetica, sans-serif;
  background: transparent;
  color: #666;
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
/*.apl-internal-content div,
.apl-internal-content span,
.apl-internal-content applet,
.apl-internal-content object,
.apl-internal-content iframe,
.apl-internal-content h1,
.apl-internal-content h2,
.apl-internal-content h3,
.apl-internal-content h4,
.apl-internal-content h5,
.apl-internal-content h6,
.apl-internal-content p,
.apl-internal-content blockquote,
.apl-internal-content pre,
.apl-internal-content a,
.apl-internal-content abbr,
.apl-internal-content acronym,
.apl-internal-content address,
.apl-internal-content big,
.apl-internal-content cite,
.apl-internal-content code,
.apl-internal-content del,
.apl-internal-content dfn,
.apl-internal-content em,
.apl-internal-content img,
.apl-internal-content ins,
.apl-internal-content kbd,
.apl-internal-content q,
.apl-internal-content s,
.apl-internal-content samp,
.apl-internal-content small,
.apl-internal-content strike,
.apl-internal-content strong,
.apl-internal-content tt,
.apl-internal-content var,
.apl-internal-content b,
.apl-internal-content u,
.apl-internal-content i,
.apl-internal-content center,
.apl-internal-content dl,
.apl-internal-content dt,
.apl-internal-content dd,
.apl-internal-content ol,
.apl-internal-content ul,
.apl-internal-content li,
.apl-internal-content fieldset,
.apl-internal-content form,
.apl-internal-content label,
.apl-internal-content legend,
.apl-internal-content input,
.apl-internal-content article,
.apl-internal-content aside,
.apl-internal-content canvas,
.apl-internal-content details,
.apl-internal-content embed,
.apl-internal-content figure,
.apl-internal-content figcaption,
.apl-internal-content footer,
.apl-internal-content header,
.apl-internal-content hgroup,
.apl-internal-content menu,
.apl-internal-content nav,
.apl-internal-content output,
.apl-internal-content ruby,
.apl-internal-content section,
.apl-internal-content summary,
.apl-internal-content time,
.apl-internal-content mark,
.apl-internal-content audio,
.apl-internal-content video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}*/
.apl-internal-content article,
.apl-internal-content aside,
.apl-internal-content details,
.apl-internal-content figcaption,
.apl-internal-content figure,
.apl-internal-content footer,
.apl-internal-content header,
.apl-internal-content hgroup,
.apl-internal-content menu,
.apl-internal-content nav,
.apl-internal-content section {
  display: block;
}
.apl-internal-content textarea {
  font-family: inherit;
  overflow: auto;
  vertical-align: top;
  resize: none;
}

.apl-internal-content blockquote,
.apl-internal-content q {
  quotes: none;
}
.apl-internal-content blockquote:before,
.apl-internal-content blockquote:after,
.apl-internal-content q:before,
.apl-internal-content q:after {
  content: '';
  content: none;
}
.apl-internal-content ins {
  text-decoration: none;
}
.apl-internal-content del {
  text-decoration: line-through;
}
.apl-internal-content abbr[title],
.apl-internal-content dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
.apl-internal-content table,
.apl-internal-content caption,
.apl-internal-content tbody,
.apl-internal-content tfoot,
.apl-internal-content thead,
.apl-internal-content tr,
.apl-internal-content th,
.apl-internal-content td {
  margin: 0;
  padding: 0;
}
.apl-internal-content table {
  border-spacing: 0;
}
.apl-internal-content sub,
.apl-internal-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.apl-internal-content sup {
  top: -0.5em;
}
.apl-internal-content sub {
  bottom: -0.25em;
}
.apl-internal-content :focus {
  outline: 0;
}
.apl-internal-content a:focus {
  outline: 0;
}

.apl-internal-content input[type="text"],
.apl-internal-content textarea,
.apl-internal-content select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.apl-internal-content input[type="password"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.apl-internal-content select::-ms-expand {
  display: none;
}
p img {
  max-width: 100%;
  height: auto;
}

.apl-internal-content ul {
  line-height: 1.7em;
  list-style-type:disc;
  margin-left: 30px;
}
.apl-internal-content ol {
  line-height: 1.7em;
  list-style-type:decimal;
  margin-left: 30px;
}
.apl-internal-content  ol ol {
  list-style: upper-alpha;
}
.apl-internal-content ol ol ol {
  list-style: lower-roman;
}
.apl-internal-content ol ol ol ol {
  list-style: lower-alpha;
}

.apl-internal-content h1 {
  font-size: 2em;
}

.apl-internal-content h2 {
  font-size: 1.5em;
}

.apl-internal-content .wp-caption.aligncenter {
  margin: auto;
}
img,
fieldset {
  border: 0;
}
ol,
ul {
  list-style-type: none;
}
li {
  list-style-type: disc;
}
dt {
  font-weight: bold;
}
a,
a:visited {
  text-decoration: underline;
  color: #000;
}
input,
select,
textarea {
  border: 1px solid #000;
}
input {
  padding: 1px 0;
}
select {
  margin: 0;
  padding: 0;
  line-height: normal;
}
img {
  max-width: 100%;
}

div {
  text-align: left;
}
caption {
  display: none;
}
table {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-collapse: separate;
  border-spacing: 0;
}
table th,
table td {
  padding: 5px;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  text-align: left;
}
h2 {
  font-size: 20pt;
  font-weight: 700;
  color: #666;
  margin: 5px 0;
}
.top {
  width: 100%;
  min-width: 980px;
  border-bottom: 1px solid #ccc;
  height: 108px;
  vertical-align: middle;
}
.top-head {
  width: 980px;
  margin: 0 auto;
  top: 19px;
  position: relative;
}
.wrapper {
  position: relative;
  display: table;
  width: 980px;
  margin-top: 40px;
  margin: 0 auto;
  padding: 0 20px;
}
.block-detail {
  width: 100%;
  padding: 20px 0;
  display: block;
  float: left;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.block-detail:last-child {
  border-bottom: none;
}
.block-detail:first-child {
  border-bottom: none;
}
span.question {
  font-size: 20pt;
  line-height: 36pt;
  color: #666;
  font-weight: 700;
}
.pic {
  width: 300px;
  max-height: 300px;
  float: left;
  overflow: hidden;
  background: #eee;
}
.pic img {
  width: 100%;
  height: auto;
}
.pic a {
  display: block;
  line-height: 1;
}
.art {
  width: 300px;
  max-height: 300px;
}
.b-time {
  position: absolute;
  background: #fcb234;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  height: 40px;
  padding: 10px 15px;
  left: -20px;
  color: #fff;
}
.b-time > div {
  float: left;
}
.b-time .t {
  font-weight: bold;
  text-align: center;
  margin-top: -5px;
}
.b-time .t span {
  display: block;
}
.b-time .t span:first-child {
  font-size: 20pt;
}
.b-time .t span:last-child {
  font-size: 10pt;
  margin-top: -8px;
}
.b-time .t-th {
  line-height: 40px;
  height: 40px;
  text-align: center;
  padding: 0 5px;
  font-style: italic;
}
.event-des {
  margin-bottom: 0;
  margin-left: 338px;
  margin-right: 0;
  margin-top: 0;
}
.meta {
  color: #666;
  font-size: 11pt;
  font-weight: normal;
}
.meta a {
  color: #333;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
}
.meta.auth {
  color: #666;
  font-size: 11pt;
  font-style: italic;
}
.desc {
  position: relative;
  width: 100%;
  float: left;
  display: block;
}
.tt-bar {
  width: 240px;
  position: relative;
  float: left;
  height: 36px;
  top: 10px;
}
.tt-bar a {
  color: #fcb234;
  left: 0;
  position: absolute;
  margin-right: 10px;
}
.tt-bar span {
  left: 40px;
  font-weight: 700;
  color: #666;
  font-size: 15pt;
  position: absolute;
}
.tt-info {
  position: relative;
  float: left;
  width: 100%;
  max-width: 720px;
}
.tt-info .loc {
  margin-top: -4px;
}
.tt-info p label {
  color: #666;
  font-size: 12pt;
  font-weight: 700;
  margin-left: 0;
}
.tt-info p span {
  color: #666;
  font-size: 15pt;
  font-weight: 700;
}
.tt-info .map {
  width: 598px;
  float: left;
  margin-right: 20px;
  margin-top: 15px;
}
.ind-time {
  float: left;
  margin-top: 10px;
  list-style-type: none;
  position: relative;
  margin-top: -9px;
  width: 100%;
}
.ind-time li {
  color: #666;
  display: inline-block;
  float: left;
  font-size: 12pt;
  height: auto;
  line-height: 25px;
  position: relative;
  width: 50%;
  text-align: left;
  left: -40px;
}
.acces-list {
  float: left;
  list-style-type: none;
  margin-top: -9px;
}
.acces-list > li {
  display: block;
  float: left;
  height: 40px;
  margin-bottom: 7px;
  position: relative;
  width: 100%;
  left: -80px;
}
.acces-list > li ul li {
  display: inline-block;
  float: left;
  height: 40px;
  margin-right: 10px;
}
.acces-list > li ul li img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.acces-list > li label {
  line-height: 40px;
}
.lo-map {
  height: 238px;
}
#_event_map a {
  display: none !important;
}
.artist-des {
  margin-bottom: 0;
  margin-left: 330px;
  margin-right: 0;
  margin-top: 0;
}
i {
  margin-right: 10px;
}
p > span {
  margin-right: 30px;
}
.h-line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0 0 10px 0;
  float: left;
}
#artist-print-page .art-social-item {
  padding-top: 10px;
}
#artist-print-page .art-social-item i {
  width: 25px;
}
#artist-print-page .artist-des span a,
#artist-print-page .art-social-item a {
  color: #666;
  text-decoration: none;
}
#artist-print-page .artist-des span a:hover,
#artist-print-page .art-social-item a:hover {
  text-decoration: underline;
}
/* EDUCATION */
.des-print {
  padding: 10px 34px;
  position: relative;
}
.des-print .item span {
  font-weight: 700;
}
span.pg-tt {
  font-size: 16pt;
  line-height: 20pt;
  color: #666;
  font-weight: 700;
}
.des-print p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.top-head {
    background: none;
}
.art-social-item {
    width: 100%;
}
.top-head .logo.print-page {
    padding-top: 0;
}
.block-detail .desc {
    padding-top: 15px;
}
/**Tri Fix broken layout */
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
.additional-item{
    float: left;
    width: 100%;
}
.text-left{
    float: left;

}
.label.text-left{
    width: auto;
    margin-right: 10px;
}
.artist-des a.link, .artist-des a.link+a {
    text-decoration: none;
}
/* Hong fix bubble date */
.left-event-time {
  position: absolute;
  left: -10px;
  top: 15px;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  background: #fcb234;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  z-index: 10;
  line-height: 1;
}
.left-event-time .month ,.left-event-time .date {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  float: left;
  text-align: center;
}

.left-event-time .month, .left-event-time .date {
  text-transform: uppercase;
  padding: 10px 10px;
}
.left-event-time .th {
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}
.left-event-time .th {
  float: left;
  vertical-align: middle;
  color: #fff;
}
.left-event-time .date span:last-child,.left-event-time .month span:last-child {
  font-size: 23px;
  display: block;
  padding-top: 2px;
}
.acbFullContent{
  clear: both;
}

@media (min-width: 960px) {
  .astro-detail .blog-itm .pic {width: 300px;}
  .astro-detail .blog-itm .pic { max-height: 300px; }
}

@media (max-width: 1024px) {
  .b-share-cat label {
    display: none;
  }
}
.wp-caption img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.apl-internal-content figure {
  display: table;
}
.wp-caption.alignright,
img.alignright {
  float: right;
}
.wp-caption.alignleft,
img.alignleft {
  float: left;
}

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.apl-internal-content a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  .apl-internal-content figure {
    display: table;
  }
}

@media (max-width: 910px) {
  .apl-internal-content figure {
    display: block;
  }
}


.apl-internal-content .sam-container.sam-place+p,
.apl-internal-content .sam-container.sam-place+figure {
  padding-top: 30px;
}

.apl-internal-content p+.sam-container.sam-place,
.apl-internal-content figure+.sam-container.sam-place {
  padding-top: 30px;
}

.apl-internal-content .sam-container.sam-place {
  display: block;
}
.apl-internal-content a img{
  padding-right:10px;
}
.apl-internal-content #teacher-frm a:hover {
  text-decoration: none;
}
.apl-internal-content .blog-text-detail iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.apl-internal-content blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid #eeeeee;
}

.apl-internal-content blockquote, .blog-bkl blockquote , .sub-content-blk blockquote,.tax-top-content blockquote{
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 15px;
  border-left: 5px solid #eeeeee;
}

/*Trilm print post*/
#post-print-page .post-des{
  float: left;
  width: 100%;
}

#post-print-page .category_post_date ul{
  float: left;
  width: 100%;
  display: inline-flex;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#post-print-page .category_post_date ul li{
  list-style: none;
  text-transform: uppercase;
}

#post-print-page .category_post_date ul li.categories span {
  margin-left: 3px;
  margin-right: 9px;
  text-align: center;
}

#post-print-page .category_post_date ul li a{
  text-decoration: none;
  font-weight: bold;
}
#post-print-page .post-author{
  text-transform: uppercase;
}

#post-print-page .blog-tags{
  float: left;
  width: 100%;
}

#post-print-page  .pic-caption-title .title,
#post-print-page  .pic-caption-title .caption,
#post-print-page  .pic-caption-title{
  float: left;
  width: 100%;
}
#post-print-page .art,
#post-print-page .pic
{
  max-height: inherit;
  background: white;
  max-width: 40%;
  width: inherit;
}
#post-print-page .pic-caption-title .caption,
#post-print-page .pic-caption-title .title{
  text-align: right;
  margin-bottom: 0px;
}
#post-print-page .pic-caption-title .title{
  font-size: 12px;
}

#post-print-page .pic-caption-title .caption{
  text-align: center;
  margin-top: 7px;
}

#post-print-page .blog-detail-meta{
  float: left;
  width: 100%;
}

#post-print-page .blog-detail-row{
  float: left;
  width: 100%;
}

#post-print-page .blog-detail-row .art,
#post-print-page .blog-detail-row .pic{
  float: left;
  width: 40%;
  max-width: 40%;
}

#post-print-page .blog-detail-meta{
  float: right;
  width: 58%;
}
#post-print-page  .blog-tags a ,
#post-print-page  .blog-tags label
{
  color: #666;
  font-style: italic;
  text-decoration: none;
  font-size: 13px;
}

/** @ticket #19431, 19432 */
#post-print-page .blog-detail-row .blog-detail-meta:first-child{
    float: left;
    width: 100%;
}

.block-detail .des-print .item,
.pg-bkl .des .item
{
  margin: 12px 0;
}

.pg-bkl  .arrow-right {
  float: left;
  margin-right: 10px;
}
.pg-bkl .arrow-right:after {
  content: "\f04b";
  font-family: FontAwesome;
  font-size: 1.33333333em;
  line-height: .75em;
}

.pg-bkl h4{
  font-size: 16pt;
  line-height: 10pt;
  display: inline;
}

.pg-bkl .item span:first-of-type{
  font-weight: 700!important;
}

.pg-bkl .des .item span {
  line-height: 1.2em;
}


.pg-bkl .des {
  margin-left: 3%;
}

.pg-bkl {
  width: 100%;
  padding: 20px 0;
  float: left;
  border-bottom: 1px solid #ccc;
  padding-top: 20px
}

.pg-bkl .des .item {
  padding-bottom: 10px;
}

/** End @ticket #19431, 19432 */

#post-print-page .pic-caption-title .title a{
  display: inline-block;
}