.logo.print-page {
    text-align: center !important;
}
.logo.print-page img{
    max-height:81px;
}
nav.searching-list li .search-img {
    float: left;
    margin-right: 10px;
    height: auto;
    min-height: 130px;
    width: 130px;
    max-height: 130px;
    background-color: #eee;
    overflow: hidden;
}

nav.searching-list li .info-content {
    width: 850px;
    position: absolute;
    left: 130px;
    height: 100px;
}

nav.searching-list li .info-content .desc {
    float: left;
    max-height: 48px;
    clear: both;
    color: #000000;
    padding-top: 5px;
}
nav.searching-list li .info-content .desc p {
    margin-top: 0;
    font-size: 14px;
}

nav.searching-list li:hover{
    background-color: transparent !important;
}

nav.searching-list li .search-img img {
    width: 100%;
    height: auto;
}

nav.searching-list li .info-content .search-info {
    float: left;
    width: 850px;
    min-height: 30px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 10px;
}

nav.searching-list li .info-content .searchdate {
    float: left;
    max-height: 19px;
    overflow: hidden;
    margin-bottom: 5px;
}

nav.searching-list li .info-content .searchdate .sch-date {
    display: block;
    color: #000000;
    font-size: 14px;
    line-height: 19px;
}

nav.searching-list li .info-content span, nav.search-list-thumb li .div-one .search-info .ev-tt {
    line-height: 20px;
}

.print-footer {
    width: 100%;
    min-width: 980px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.print-footer .prt-ft-blk{
    width: 980px;
    margin: 0 auto;
    padding: 20px;
}

.top-custom {
    width: 100%;
    min-width: 980px;
    margin: 15px auto 20px;
    vertical-align: middle;
}

.top-custom .top-head{
    /*border-bottom: 1px solid #ccc;*/
    padding-bottom: 8px;
}

.vertical-light {
    width: 100%;
    float: left;
    height: 1px;
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.block-detail:first-child, .block-detail:last-child {
    border-bottom: 1px solid #ccc;
}

nav.searching-list li .info-content .cbox {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 0px;
}

.b-btn .btn-b {
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #666;
    padding: 10px 15px;
    display: inline-block;
    background: none;
    cursor: pointer;
}

a{
    text-decoration: none;
}

/*nav.searching-list li:hover .info-content .search-info .meta.auth {*/
    /*color: #fff;*/
/*}*/

nav.searching-list li .info-content .meta {
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 1.2;
    margin-top: 0px;
}

nav.searching-list li .info-content .ev-tt {
    color: #000000;
    font-size: 15pt;
    line-height: 27px;
    font-weight: bold;
    padding-left: 0;
    display: block;
    max-height: 39px;
    overflow: hidden;
    margin-top: 5px;
}

nav p.meta.auth {
    font-style: italic;
    font-size: 14px;
    color: #000000 !important;
}

nav.searching-list li.block-detail{
    padding: 8px 0;
}

nav.searching-list li.hd-blk h3{
    padding-top: 10px;
    color: #000000;
    font-size: 15pt;
}

.b-btn .btn-b:hover {
    color: #fff;
}

nav.searching-list li .info-content .desc {
    padding-top: 2px;
}

nav.searching-list li .info-content .desc p {
    line-height: 16px;
}
.apl-event-search-terms {
    font-size: 15pt;
    margin-bottom: -15px;
    margin-top: 25px;
    color: #000000;
}