/*.apl-internal-content div,
.apl-internal-content span,
.apl-internal-content applet,
.apl-internal-content object,
.apl-internal-content iframe,
.apl-internal-content h1,
.apl-internal-content h2,
.apl-internal-content h3,
.apl-internal-content h4,
.apl-internal-content h5,
.apl-internal-content h6,
.apl-internal-content p,
.apl-internal-content blockquote,
.apl-internal-content pre,
.apl-internal-content a,
.apl-internal-content abbr,
.apl-internal-content acronym,
.apl-internal-content address,
.apl-internal-content big,
.apl-internal-content cite,
.apl-internal-content code,
.apl-internal-content del,
.apl-internal-content dfn,
.apl-internal-content em,
.apl-internal-content img,
.apl-internal-content ins,
.apl-internal-content kbd,
.apl-internal-content q,
.apl-internal-content s,
.apl-internal-content samp,
.apl-internal-content small,
.apl-internal-content strike,
.apl-internal-content strong,
.apl-internal-content tt,
.apl-internal-content var,
.apl-internal-content b,
.apl-internal-content u,
.apl-internal-content i,
.apl-internal-content center,
.apl-internal-content dl,
.apl-internal-content dt,
.apl-internal-content dd,
.apl-internal-content ol,
.apl-internal-content ul,
.apl-internal-content li,
.apl-internal-content fieldset,
.apl-internal-content form,
.apl-internal-content label,
.apl-internal-content legend,
.apl-internal-content input,
.apl-internal-content article,
.apl-internal-content aside,
.apl-internal-content canvas,
.apl-internal-content details,
.apl-internal-content embed,
.apl-internal-content figure,
.apl-internal-content figcaption,
.apl-internal-content footer,
.apl-internal-content header,
.apl-internal-content hgroup,
.apl-internal-content menu,
.apl-internal-content nav,
.apl-internal-content output,
.apl-internal-content ruby,
.apl-internal-content section,
.apl-internal-content summary,
.apl-internal-content time,
.apl-internal-content mark,
.apl-internal-content audio,
.apl-internal-content video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}*/
.apl-internal-content article,
.apl-internal-content aside,
.apl-internal-content details,
.apl-internal-content figcaption,
.apl-internal-content figure,
.apl-internal-content footer,
.apl-internal-content header,
.apl-internal-content hgroup,
.apl-internal-content menu,
.apl-internal-content nav,
.apl-internal-content section {
  display: block;
}
.apl-internal-content textarea {
  font-family: inherit;
  overflow: auto;
  vertical-align: top;
  resize: none;
}

.apl-internal-content blockquote,
.apl-internal-content q {
  quotes: none;
}
.apl-internal-content blockquote:before,
.apl-internal-content blockquote:after,
.apl-internal-content q:before,
.apl-internal-content q:after {
  content: '';
  content: none;
}
.apl-internal-content ins {
  text-decoration: none;
}
.apl-internal-content del {
  text-decoration: line-through;
}
.apl-internal-content abbr[title],
.apl-internal-content dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
.apl-internal-content table,
.apl-internal-content caption,
.apl-internal-content tbody,
.apl-internal-content tfoot,
.apl-internal-content thead,
.apl-internal-content tr,
.apl-internal-content th,
.apl-internal-content td {
  margin: 0;
  padding: 0;
}
.apl-internal-content table {
  border-spacing: 0;
}
.apl-internal-content sub,
.apl-internal-content sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.apl-internal-content sup {
  top: -0.5em;
}
.apl-internal-content sub {
  bottom: -0.25em;
}
.apl-internal-content :focus {
  outline: 0;
}
.apl-internal-content a:focus {
  outline: 0;
}

.apl-internal-content input[type="text"],
.apl-internal-content textarea,
.apl-internal-content select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.apl-internal-content input[type="password"] {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}
.apl-internal-content select::-ms-expand {
  display: none;
}
p img {
  max-width: 100%;
  height: auto;
}

.apl-internal-content ul {
    line-height: 1.7em;
    list-style-type:disc;
    margin-left: 30px;
}
.apl-internal-content ol {
    line-height: 1.7em;
    list-style-type:decimal;
    margin-left: 30px;
}
.apl-internal-content  ol ol {
    list-style: upper-alpha;
}
.apl-internal-content ol ol ol {
    list-style: lower-roman;
}
.apl-internal-content ol ol ol ol {
    list-style: lower-alpha;
}

.apl-internal-content h1 {
    font-size: 2em;
}

.apl-internal-content h2 {
    font-size: 1.5em;
}

.apl-internal-content .wp-caption.aligncenter {
    margin: auto;
}

#vcv-editor {
    min-height: auto;
    min-width: unset;
}

#vcv-editor *,
.vce-row-container *{
    min-width: unset;
}

#vcv-editor [class*="col"],
.vce-row-container [class*="col"]{
    float: none;
}
#vcv-editor .vce-col,
.vce-row-container .vce-col{
    min-width: 1em;
}
#vcv-editor [class*="col"]:not([class*="color"]):first-child,
.vce-row-container [class*="col"]:not([class*="color"]):first-child
{
    padding: 0px;
}

#vcv-editor [class*="col"]:not([class*="color"]):last-child,
.vce-row-container [class*="col"]:not([class*="color"]):last-child
{
    padding: 0px;
}

.vce-row-container {
    width: 100%;
    display: flex;
}

.vce-row-container .vce-row{
    width: 100%;
}