.logo.print-page {
    text-align: center !important;
}
.logo.print-page img{
    max-height:81px;
}
table.searching-list,
table.searching-list tr td,
table.searching-list tr.block-detail{
    border: none;
    /*padding: 4px 0;*/
}

table.searching-list tr.block-detail table,
table.searching-list tr.block-detail table tr,
table.searching-list tr.block-detail table tr td{
    border: none;
    padding: 0;
}

table.searching-list tr td{
    border-bottom: 1px solid #ccc;
    /*padding-top: 5px;*/
}

a{
    text-decoration: none;
}

/*table.searching-list tr:hover .info-content .search-info .meta.auth {*/
    /*color: #fff;*/
/*}*/

table.searching-list tr .info-content .meta {
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 1.2;
    margin-top: 0px;
}

table.searching-list tr .info-content .ev-tt {
    color: #000000;
    font-size: 15pt;
    font-weight: bold;
    padding-left: 0;
    display: block;
    max-height: 39px;
    overflow: hidden;
    margin-top: 5px;
}

table p.meta.auth {
    font-style: italic;
    font-size: 12pt;
    color: #000000 !important;
}

table p.meta.auth a{
    color: #000000 !important;
}

/*table.searching-list tr td:first-child{
    width: 100px;
}*/

table.searching-list tr td.hd-blk{
    width: 100%;
}
table.searching-list tr td.hd-blk{
    height: 100px;
}
table.searching-list tr td.hd-blk h3{
    padding-top: 10px;
}
table.searching-list td.hd-blk h3{
    color: #000000;
    font-size: 15pt;
}

table.searching-list td .search-img {
    float: left;
    /*margin-right: 10px;*/
    height: auto;
    min-height: 100px;
    width: 100px;
    max-height: 100px;
    background-color: #eee;
    overflow: hidden;
}

table.searching-list td.info-content {
    width: 850px;
}

table.searching-list tr:hover{
    background-color: transparent !important;
}

.block-detail td table td .search-img img {
    width: 100%;
    height: auto;
    border: 0;
}

table.searching-list td .search-img img.placeholder-img {
    width: 150px;
    height: auto;
}



table.searching-list td.info-content .search-info {
    float: left;
    width: 850px;
    min-height: 30px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 10px;
}

table.searching-list td.info-content .search-info a {
    color: #666 !important;
}

table.searching-list td.info-content .searchdate {
    float: left;
    overflow: hidden;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 22px;
}

table.searching-list td.info-content .searchdate .sch-date {
    display: block;
    color: #000000;
    font-size: 12pt;
    height: 22px;
    line-height: 22px;
}

table.searching-list td.info-content span, table.search-list-thumb td .div-one .search-info .ev-tt {
    line-height: 20px;
    height: 20px;
}

.print-footer {
    width: 100%;
    min-width: 980px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.top-custom {
    width: 100%;
    min-width: 980px;
    margin: 15px auto 20px;
    vertical-align: middle;
}

.vertical-light {
    width: 100%;
    float: left;
    height: 1px;
    background-color: #ccc;
    margin: 0 0 20px 0;
}

.block-detail:first-child, .block-detail:last-child {
    border-bottom: 1px solid #ccc;
}

table.searching-list td.info-content .cbox {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 0;
}

.b-btn .btn-b {
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #666;
    padding: 10px 15px;
    display: inline-block;
    background: none;
}

.bold-text{
    font-weight: bold;
}

.apl-event-search-terms {
    margin-bottom: -10px;
    margin-top: 25px;
    color: #000000;
    border-bottom: 1px solid #ccc;
}