/** @Ticket #13913 */
.tellAF-popup{
    height: auto;
    min-height: 360px;
}
.tellAF-popup .ct{
    height: auto;
    overflow: unset;
}
#popup-tell-a-friend-captcha-wrap .clearfix{
    clear: both;
}
#popup-tell-a-friend-captcha-wrap .inp-half{
    float: left;
    width: 50%;
    margin-top: 10px;
}
#popup-tell-a-friend-captcha-wrap .inp-half label{
    display: block;
    font-weight: 700;
    font-size: 13px;
    padding: 5px 0px;
}
#popup-tell-a-friend-captcha-wrap #_tell_a_friend_email{
    width: 100%;
    border: 1px solid #ccc;
    height: 30px;
    margin-bottom: 10px;
    padding: 4px 5px;
    text-indent: 5px;
}
#popup-tell-a-friend-captcha-wrap ._tell_a_friend_err_container{
}
#popup-tell-a-friend-captcha-wrap #_tell_a_friend_captcha_image{
    margin-left: 20px;
    height: 40px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
#popup-tell-a-friend-captcha-wrap .error{
    padding: 0px;
}
#popup-tell-a-friend-captcha-wrap .btn-submit{
    border: 1px solid #fcb234;
    font-weight: 700;
    font-size: 13px;
    text-align: center;
    color: #666;
    padding: 10px 15px;
    display: block;
    width: auto;
    cursor: pointer;
}
#popup-tell-a-friend-captcha-wrap .btn-submit:hover{
    background-color: #fcb234;
    border: 1px solid #fcb234;
    color: #fff;
}
#popup-tell-a-friend-captcha-wrap .popup-tell-a-friend-inp{
    width: 100%;
    text-indent: 5px;
    border: 1px solid #ccc;
    height: 30px;
    margin-bottom: 10px;
}