/** Truonghn : update two row navigation bar stype*/
@media (min-width : 769px) {
    .main-menu .mn-menu .nav > li{
        width: 24.8%;
        text-align: center;
    }

    .main-menu {
        height: auto !important;
    }
    .main-menu .mn-menu .nav > li > a{
        padding: 0 !important;
        line-height: 51px !important;
        overflow: hidden;
        height: 51px
    }
    .mn-menu .has-child ul.level-1  {
        top: 55px !important;
    }

}
@media (min-width : 769px) and (max-width: 980px) {
    .main-menu .mn-menu .nav > li:nth-child(4n +4){
        width: 25%;
    }
}
@media (min-width : 981px) {
    .main-menu .mn-menu .nav > li{
        width: 19.8%;
    }
    .main-menu .mn-menu .nav > li:nth-child(5n +5){
        width: 20.2%;
    }

}