
/**
 * Content: New-template-custom style
 * Author: Xuân Anh
 * Update: 01/18/2017
 */

/*
*
* font-family: 'Roboto Condensed', sans-serif;
* font-family: 'Lato', sans-serif;
*
*/

/* NEW CUSTOM FONT-FACE*/
@font-face {
    font-family: 'Lato regular';
    src:   url('../fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.blk-new-content-tmpl {
    .bs-container {
        width: auto;
    }
    .blk-row-data {
        h3.ttl-row {
            text-transform: uppercase;
            margin-bottom: 20px;
            color: #979797;
            font-size: 40px;
            font-weight: bold;
            font-family: 'Roboto Condensed', sans-serif;
        }
        .has-border-data {
            border-bottom: 1px solid #272526;
        }
        &.small-txt-cate {
            .item-data-custom {
                h3.ttl-item {
                    font-size: 16px;
                }
                .description-item {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
        .item-data-custom {
            margin-bottom: 25px;
            .img-item-data {
                margin-bottom: 10px; 
                width: 100%;
                background-color: #eee;
                a {
                    display: block;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: auto;
                        vertical-align: middle;
                    }
                }
                &.img-rows-2 {
                    height: 200px;
                    line-height: 200px;
                    a {
                        max-height: 200px;
                    }
                }
                &.img-rows-3 {
                    height: 125px;
                    line-height: 125px;
                    a {
                        max-height: 125px;
                    }
                }
                &.img-rows-4 {
                    height: 95px;
                    line-height: 95px;
                    a {
                        max-height: 95px;
                    }
                }
            }
            h3.ttl-item {
                font-family: 'Roboto Condensed', sans-serif;
                text-transform: uppercase;
                margin-bottom: 5px;
                color: #ad292f;
                font-size: 24px;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                a {
                    color: #ad292f;
                }
                &:hover {
                    a {
                        text-decoration: underline;
                    }
                }         
            }
            .description-item {
                margin-bottom: 30px;
                p {
                    font-family: 'Lato regular';
                    font-size: 16px;
                    line-height: 1.2rem;
                    height: 4.8rem;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}