.bs-container:before,
.bs-container:after,
.bs-container-fluid:before,
.bs-container-fluid:after,
.bs-row:before,
.bs-row:after {
  display: table;
  content: " ";
}
.bs-container:after,
.bs-container-fluid:after,
.bs-row:after {
  clear: both;
}
.bs-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row .bs-container [class*="col"]:first-child {
    padding: 0px 15px;
}
.row .bs-container [class*="col"]:last-child {
    padding: 0px 15px;
}
@media (min-width: 768px) {
  .bs-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .bs-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .bs-container {
    width: 1170px;
  }
}
.bs-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.bs-row {
  margin-right: -15px;
  margin-left: -15px;
}
.bs-col-xs-1, .bs-col-sm-1, .bs-col-md-1, .bs-col-lg-1, 
.bs-col-xs-2, .bs-col-sm-2, .bs-col-md-2, .bs-col-lg-2, 
.bs-col-xs-3, .bs-col-sm-3, .bs-col-md-3, .bs-col-lg-3, 
.bs-col-xs-4, .bs-col-sm-4, .bs-col-md-4, .bs-col-lg-4, 
.bs-col-xs-5, .bs-col-sm-5, .bs-col-md-5, .bs-col-lg-5, 
.bs-col-xs-6, .bs-col-sm-6, .bs-col-md-6, .bs-col-lg-6, 
.bs-col-xs-7, .bs-col-sm-7, .bs-col-md-7, .bs-col-lg-7, 
.bs-col-xs-8, .bs-col-sm-8, .bs-col-md-8, .bs-col-lg-8, 
.bs-col-xs-9, .bs-col-sm-9, .bs-col-md-9, .bs-col-lg-9, 
.bs-col-xs-10, .bs-col-sm-10, .bs-col-md-10, .bs-col-lg-10, 
.bs-col-xs-11, .bs-col-sm-11, .bs-col-md-11, .bs-col-lg-11, 
.bs-col-xs-12, .bs-col-sm-12, .bs-col-md-12, .bs-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.bs-col-xs-1, .bs-col-xs-2, .bs-col-xs-3, .bs-col-xs-4, .bs-col-xs-5, .bs-col-xs-6, .bs-col-xs-7, .bs-col-xs-8, .bs-col-xs-9, .bs-col-xs-10, .bs-col-xs-11, .bs-col-xs-12 {
  float: left;
}
.bs-col-xs-12 {
  width: 100%;
}
.bs-col-xs-11 {
  width: 91.66666667%;
}
.bs-col-xs-10 {
  width: 83.33333333%;
}
.bs-col-xs-9 {
  width: 75%;
}
.bs-col-xs-8 {
  width: 66.66666667%;
}
.bs-col-xs-7 {
  width: 58.33333333%;
}
.bs-col-xs-6 {
  width: 50%;
}
.bs-col-xs-5 {
  width: 41.66666667%;
}
.bs-col-xs-4 {
  width: 33.33333333%;
}
.bs-col-xs-3 {
  width: 25%;
}
.bs-col-xs-2 {
  width: 16.66666667%;
}
.bs-col-xs-1 {
  width: 8.33333333%;
}
@media (min-width: 1200px) {
  .bs-col-lg-1, .bs-col-lg-2, .bs-col-lg-3, .bs-col-lg-4, .bs-col-lg-5, .bs-col-lg-6, .bs-col-lg-7, .bs-col-lg-8, .bs-col-lg-9, .bs-col-lg-10, .bs-col-lg-11, .bs-col-lg-12 {
    float: left;
  }
  .bs-col-lg-12 {
    width: 100%;
  }
  .bs-col-lg-11 {
    width: 91.66666667%;
  }
  .bs-col-lg-10 {
    width: 83.33333333%;
  }
  .bs-col-lg-9 {
    width: 75%;
  }
  .bs-col-lg-8 {
    width: 66.66666667%;
  }
  .bs-col-lg-7 {
    width: 58.33333333%;
  }
  .bs-col-lg-6 {
    width: 50%;
  }
  .bs-col-lg-5 {
    width: 41.66666667%;
  }
  .bs-col-lg-4 {
    width: 33.33333333%;
  }
  .bs-col-lg-3 {
    width: 25%;
  }
  .bs-col-lg-2 {
    width: 16.66666667%;
  }
  .bs-col-lg-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .bs-col-md-1, .bs-col-md-2, .bs-col-md-3, .bs-col-md-4, .bs-col-md-5, .bs-col-md-6, .bs-col-md-7, .bs-col-md-8, .bs-col-md-9, .bs-col-md-10, .bs-col-md-11, .bs-col-md-12 {
    float: left;
  }
  .bs-col-md-12 {
    width: 100%;
  }
  .bs-col-md-11 {
    width: 91.66666667%;
  }
  .bs-col-md-10 {
    width: 83.33333333%;
  }
  .bs-col-md-9 {
    width: 75%;
  }
  .bs-col-md-8 {
    width: 66.66666667%;
  }
  .bs-col-md-7 {
    width: 58.33333333%;
  }
  .bs-col-md-6 {
    width: 50%;
  }
  .bs-col-md-5 {
    width: 41.66666667%;
  }
  .bs-col-md-4 {
    width: 33.33333333%;
  }
  .bs-col-md-3 {
    width: 25%;
  }
  .bs-col-md-2 {
    width: 16.66666667%;
  }
  .bs-col-md-1 {
    width: 8.33333333%;
  }
}
@media (max-width: 768px) {
  .bs-col-sm-1, .bs-col-sm-2, .bs-col-sm-3, .bs-col-sm-4, 
  .bs-col-sm-5, .bs-col-sm-6, .bs-col-sm-7, .bs-col-sm-8, .bs-col-sm-9, 
  .bs-col-sm-10, .bs-col-sm-11, .bs-col-sm-12 {
    float: left;
  }
  .bs-col-sm-12 {
    width: 100%;
  }
  .bs-col-sm-11 {
    width: 91.66666667%;
  }
  .bs-col-sm-10 {
    width: 83.33333333%;
  }
  .bs-col-sm-9 {
    width: 75%;
  }
  .bs-col-sm-8 {
    width: 66.66666667%;
  }
  .bs-col-sm-7 {
    width: 58.33333333%;
  }
  .bs-col-sm-6 {
    width: 50%;
  }
  .bs-col-sm-5 {
    width: 41.66666667%;
  }
  .bs-col-sm-4 {
    width: 33.33333333%;
  }
  .bs-col-sm-3 {
    width: 25%;
  }
  .bs-col-sm-2 {
    width: 16.66666667%;
  }
  .bs-col-sm-1 {
    width: 8.33333333%;
  }
}

