/**
 * Content: New-template-custom style
 * Author: Xuân Anh
 * Update: 01/18/2017
 */
@media (max-width: 992px) {
    .blk-new-content-tmpl {
        .blk-row-data {
            .bs-row {
                .bs-col-sm-6 {
                    width: 50%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .blk-new-content-tmpl {
        .blk-row-data {
            h3.ttl-row {
                font-size: 24px;
            }
            .item-data-custom {
                h3.ttl-item {
                    font-size: 18px;
                }
            }
            &.small-txt-cate {
                .item-data-custom {
                    h3.ttl-item {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .blk-new-content-tmpl {
        .blk-row-data {
            .bs-row {
                .bs-col-sm-6 {
                    width: 100%;
                }
            }
            .item-data-custom {
                .description-item {
                    margin-bottom: 25px;
                    p {
                        height: auto;
                    }
                }
            }
        }
    }
}