block vars
  -title="Artsopolis - Dashboard, Organization Profile"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .path-way
            ul.path
                li
                    a(href="/", target="_blank") Home
                li
                    a(href="/", target="_blank") Organization Profile
                li
                    span Profile
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Organization Information
                    p The following information will appear in our organization directory. Links to your organization's page are also available on any events that your organization is associated with.
                    form(id="organization-frm", method="", action="")
                        .artist-blk
                            .el-blk.full
                                input(type="text", placeholder="Organization name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Organization Name
                                span(class="error") * Please enter Organization Name
                            .el-blk.full
                                textarea(placeholder="Description", class="inp inp-txt inp-desc", name="venua-des", id="venue-des", rows="5" )
                                .show-tip
                                    | Description
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Address 1", class="inp inp-txt")
                                    .show-tip
                                        |Address 1
                                    span(class="error") * Please enter Address 1
                                .hafl.fr
                                    input(type="text", placeholder="Address 2", class="inp inp-txt")
                                    .show-tip
                                        |Address 2
                            .el-blk.full
                                .select-bkl
                                    select(class="event")
                                        option(value="0") City:
                                        option(value="") Alviso
                                        option(value="") Atherton
                                        option(value="") Belmont
                                        option(value="") Brisbane
                                        option(value="") Burlingame
                                    .arrow-down
                                        <i class="fa fa-sort-desc fa-lg"></i>
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="State", class="inp inp-txt")
                                    .show-tip
                                        |State
                                .hafl.fr
                                    input(type="text", placeholder="Zip", class="inp inp-txt")
                                    .show-tip
                                        |Zip
                                    span(class="error") * Please enter Zip
                            .el-blk.full
                                input(type="text", placeholder="Public Phone", class="inp inp-txt")
                                .show-tip
                                    |Public Phone
                            .el-blk.full
                                input(type="text", placeholder="Fax", class="inp inp-txt")
                                .show-tip
                                    |Fax
                            .el-blk.full
                                input(type="text", placeholder="Email", class="inp inp-txt")
                                .show-tip
                                    |Email
                        .artist-blk
                            .title-bar-blk Do you have your own website and/or blog?
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Blog URL", class="inp inp-txt")
                                    .show-tip
                                        |Blog URL
                                .hafl.fr
                                    input(type="text", placeholder="Web URL", class="inp inp-txt")
                                    .show-tip
                                        |Web URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Instagram URL", class="inp inp-txt")
                                    .show-tip
                                        |Instagram URL
                                .hafl.fr
                                    input(type="text", placeholder="Pinterest URL", class="inp inp-txt")
                                    .show-tip
                                        |Pinterest URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Facebook URL", class="inp inp-txt")
                                    .show-tip
                                        |Facebook URL
                                .hafl.fr
                                    input(type="text", placeholder="Twitter URL", class="inp inp-txt")
                                    .show-tip
                                        |Twitter URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="LinkedIn URL", class="inp inp-txt")
                                    .show-tip
                                        |LinkedIn URL
                        .artist-blk
                            .title-bar-blk Contact Info
                            .el-blk.full
                                input(type="text", placeholder="Contact Name", class="inp inp-txt")
                                .show-tip
                                    |Contact Name
                            .el-blk.full
                                input(type="text", placeholder="Contact Email", class="inp inp-txt")
                                .show-tip
                                    |Contact Email
                            .el-blk.full
                                input(type="text", placeholder="Contact Phone", class="inp inp-txt")
                                .show-tip
                                    |Contact Phone
                        .artist-blk
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |UPDATE PROFILE





