html
  head
    <title>Artsopolis - Organization Detail Print</title>
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet',  type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    link(rel="stylesheet", href="../css/print.css", type="text/css")


  body
    .top
        .top-head
            .logo
                a
                    img(src="../assets/uploads/logo.png")
    .wrapper
        .block-detail
          .pic.art
              a
                  img(src="../assets/uploads/Akoma2012-292x300.jpg", alt="Akoma2012-292x300")
          .artist-des
              h2.tt 888 Monkeys Summer Arts Program
              p Type: Drawing Illustration - Visual Artist: Painting - Visual Artist: Print / Digital Art.
              p
                i(class="fa fa-link fa-lg")
                span Website:
                  a(href="#", target="blank") www.susan-abc.com
              p
                  i(class="fa fa-phone fa-lg")&nbsp;
                  span (84) 920256301
              p
                  i(class="fa fa-fax fa-lg")
                  span (84) 920256302
              p
                  i(class="fa fa-map-marker fa-lg")&nbsp;&nbsp;
                  span 361 Ivy Stone Dr, Macon, GA 31220
          .desc
              p 888 Monkeys Summer Arts Program offers professional instruction in circus arts, drama, music and visual art
                   |. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
              p At Mincey’s Musicians Studio, I teach piano to ages 7 to adult and voice to ages 12 to
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
                   |adult. Learn to read music, use good technique and be proud of your results.
                   | Audience or an audience of one, love the music that you create.
                   | Just love it. I have been asked how often I look at it, why I won’t stop looking at
                   |it, why is it so important to me.
        .h-line
        .block-detail
          a
            i(class="fa fa-info-circle fa-2x")
          span.question MORE ABOUT THIS ORGANIZATION
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
          .el-blk
              p.custom
                  strong
                      |What did the Fellowship or Laureate mean to you at the time you received it?
              p.custom
                  |Learn to read music, use good technique and be proud of your results. Audience or an audience of one, love the music that you create.
                  |Just love it. I have been asked how often I look at it, why I won’t stop looking at it, why is it so important to me.
        .h-line
        .block-detail
          a
            i(class="fa fa-external-link fa-2x")
          span.question SOCIAL MEDIA LINKS
          .el-blk
            .social-item-link
              a(href="http://facebook.com", target="_blank") http://facebook.com
            .social-item-link
              a(href="http://twitter.com", target="_blank") http://twitter.com
            .social-item-link
              a(href="http://Instagram.com", target="_blank") http://Instagram.com
            .social-item-link
              a(href="http://linkedin.com", target="_blank") http://linkedin.com







