block vars
  -title="Artsopolis - Dashboard, Organization - Audio"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    p Audio files added to this form will appear on your organization page.
                    .account-info
                        .info-frm
                            form(id="org-profile-frm", method="", action="")
                                label.t Caption
                                input(type="text", class="inp inp-txt")
                                label.t URL Link
                                input(type="text", class="inp inp-txt")
                                .file-upload
                                    span CHOOSE FILE
                                    input(type="file", id="uploadBtn", class="inp-file")
                                    input(type="text", value="FILE NOT CHOSEN", disabled="disabled", id="uplFile")
                                label.t   Upload Audio Widget - Embed code:
                                textarea(row="5", class="inp inp-txt inp-desc")
                                ul.media-list
                                    li
                                        .audio-rad
                                            input(type="radio", name="radioList", id="rad-audio")
                                            span.rad
                                        h3.media-tt
                                            The Potter Family Show Highlights
                                        p.p-date
                                            | September 10 - 2014
                                        p https://www.youtube.com/watch?v=f1vLsxMLOhk
                                        a(href="javascript:;", class="edit") Remove
                                        a(href="javascript:;", class="edit") Edit
                                    li
                                        .audio-rad
                                            input(type="radio", name="radioList", id="rad-audio")
                                            span.rad
                                        h3.media-tt
                                            The Potter Family Show Highlights
                                        p.p-date
                                            | September 10 - 2014
                                        p https://www.youtube.com/watch?v=f1vLsxMLOhk
                                        a(href="javascript:;", class="edit") Remove
                                        a(href="javascript:;", class="edit") Edit
                                    li
                                        .audio-rad
                                            input(type="radio", name="radioList", id="rad-audio")
                                            span.rad
                                        h3.media-tt
                                            The Potter Family Show Highlights
                                        p.p-date
                                            | September 10 - 2014
                                        p https://www.youtube.com/watch?v=f1vLsxMLOhk
                                        a(href="javascript:;", class="edit") Remove
                                        a(href="javascript:;", class="edit") Edit
                                    li
                                        .audio-rad
                                            input(type="radio", name="radioList", id="rad-audio")
                                            span.rad
                                        h3.media-tt
                                            The Potter Family Show Highlights
                                        p.p-date
                                            | September 10 - 2014
                                        p https://www.youtube.com/watch?v=f1vLsxMLOhk
                                        a(href="javascript:;", class="edit") Remove
                                        a(href="javascript:;", class="edit") Edit
                            .b-btn
                                button(type="submit", class="btn btn-b") SUBMIT RECORD

