block vars
  -title="Artsopolis - Organazation List"
  -sidebar = false
  -isCategory  = true
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        span Organization
            include ../blocks/org-thumb.jade
        include ../includes/sidebar-org.jade