.bookmark-view {
  position: relative;
  margin-right: 5px;
  display: inline-block;
  .bookmark-view__button {
    font-size: 16px;

    i {
      font-size: 1.6em;
    }
    &.show,
    &:hover {
      color: @color-main;
    }

    &.show + .bookmark-view__container {
      display: block;
    }
  }

  .bookmark-view__container {
    .depth-shadow;
    z-index: 100;
    display: none;
    font-size: @text-s45;
    position: absolute;
    background-color: #ffffff;
    width: 280px;
    right: -15px;
    top: calc(~"100% + 14px");
    border-radius: 4px;
  }
  .container-inner {
    position: relative;
    padding: 10px;
    height: 100%;
    &:before {
      position: absolute;
      bottom: 100%;
      right: 14px;
      content: ' ';
      border-bottom: 12px solid #ffffff;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      -webkit-filter: drop-shadow(0px 0px 0px rgba(0,0,0,.7));
      filter: drop-shadow(0px 0px 0px rgba(0,0,0,.7));
    }

  }
  .list-bookmarks {
    margin: 10px 0;
  }
  .view-all {
    color: @color-main;
    display: block;
    text-align: center;
  }

  .bookmark-item {
    padding: 12px 15px;
    display: block;
    border: 1px solid rgba(0,0,0,0.1);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    &:not(:last-child) {
      border-bottom: 0;
    }
    &:first-child {
      border-radius: 4px 4px 0 0;
    }
    &:last-child {
      border-radius: 0 0 4px 4px;
    }
    &:hover {
      color: #ffffff;
      background-color: @color-main;
    }
  }
}

/*Update style bookmark has logo-icon*/
body.full-theme {
  .category-page-event-box {
    .icons-list-after-thumbsup .icons-list {
      margin-left: 10px;
    }
  }
  .list-category {
    .category-page-event-box {
      .cat-rating-box .box-action-wrap {
        vertical-align: -7px;
      }
      .bok-mk.bok-mk--clickable.bok-mk--item {
        vertical-align: middle;
      }
    }
  } 
}

body.full-theme {
  &.single-event {
    .blk-detail-single--event {
      .bok-mk.bok-mk--clickable.bok-mk--item {
        float: right;
        vertical-align: 0px;
      }
    }
  }
}

@media (max-width: 746px) {
  body.full-theme {
    &.single-event {
      .blk-detail-single--event {
        .icons-list-after-thumbsup {
          float: left;
          width: 100%;
          .icons-list {
            margin-top: 10px;
            span {
              float: left;
            }
          }
        }
        .box-action-wrap.box-action--empty {
          ~ .icons-list-after-thumbsup {
            width: auto;
            .icons-list {
              margin-top: 0px;
            }
          }
        }
      }
    }
  }  
}