@-moz-document url-prefix() {
    body.full-theme:not(.apl-default-header).header-bar--right .header .top-blk.login-top a {
        display: inline-flex;
    }

    * {
        min-height: 1px;
        min-width: 1px;
    }      
}