.ov-btn {
  box-sizing: border-box;
  cursor: hand;
  cursor: pointer;
  padding: 0.4em 2em;
  font-size: @text-s45;
  background-color: @color-main;
  color: #ffffff;
  text-align: center;
}

.ov-btn-outline {
  color: #333333;
  background-color: transparent;
  border: 1px solid @color-main;
  &:hover {
    background-color: @color-main;
    color: #ffffff;
  }
}
