body.full-theme {


  .fea-rules() {
    .fea-itm {
      a figure {
        height: 105px;
        width: 125px;
      }
      .fea-info {
        margin-left: 135px;
      }
      h3 {
        margin-bottom: 5px;
      }
    }

    .post-sponsored-content-small-feature-blog .sponsored-content-text {
      padding: 5px 0;

    }
  }


  .wc-r .fea-list {
    .fea-rules();
    .fea-itm {
      padding-bottom: 0;
      .fea-pic {
        margin-bottom: 0;
      }
    }
    @media (max-width: 540px) {
      .blk-fea-article .fea-list .fea-itm {
        padding-bottom: 0;
      }
    }

  }
  /**
  Hot fix
   */
  @media (min-width: 1050px) {
    .second-row {
      .fea-rules()
    }
  }

  @media (max-width: 1024px) {
    .second-row {
      .fea-itm {
        a figure {
          .responsive-frame(442/280);
        }
      }
    }
  }

  /**
  ------------
   */

  .sub-content-blk.top{
    border-top: 0 none;
  }

  .blk-fea-article,
  .blk-fea-article.featured-posts-widget {
    h2.fea-ttl {
      font-size: 28px;
      margin-bottom: 20px;
      text-transform: uppercase;
      color: #979797;
      font-weight: bold;
      border-bottom: 1px solid #dddddd;;
    }

    .row.two-col {
      //border-bottom: 1px solid #dddddd;
      padding-bottom: 20px;
      margin-bottom: 40px;
      padding-top: 10px;
      .blog-itm {
        &:nth-child(1) {
          padding-right: 7px;
        }
        &:nth-child(2) {
          padding-left: 7px;
        }
      }
    }

    .list-blog {
      margin-bottom: 0;
      &:before {
        display: none;
      }
      .blog-itm {
        width: 50%;
        margin: 0!important;
        float: left;
        border: none;
        color: #666;
        height: auto !important;
        @media (max-width: 992px) {
          width: 100%;
          float: none;
          padding: 0;
          font-size: 16px;
        }
        a {
          figure {
            margin: 0 0 15px 0;
            .responsive-frame(442/280);
          }
          h3 {
            line-height: 1.4;
            max-height: 2.8em;
          }
          .fea-cat {
            color: #ad292f;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
            font-weight: bold;
            line-height: 1.4;
            font-size: 16px;

          }
        }

      }

      .fea-author  {
        font-weight: normal;
      }
    }

    // right column
    .fea-list {
      margin-left: 0;
    }

    .fea-info {
      text-align: left;
    }

    .fea-author  {
      font-weight: normal;
    }

    .fea-itm {
      border-bottom: none;

      h3 {
        line-height: 1.3;
        max-height: 2.6em;
      }
    }
    .fea-cat {
      color: #ad292f;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 3px;
      display: block;
      font-weight: bold;
      line-height: 1.4;
    }


    @media (max-width: 480px) {
      .two-col {
        display: block;
        .wc-r {
          display: block;
          .fea-list {
            .fea-itm {
              figure {
                width: 125px;
                height: 105px;
                float: left;
                margin-right: 10px;
              }
              h3 {
                font-size: 16px;
              }
              .fea-author {
                font-size: 12px;
              }
            }
          }
        }
        .wc-l {
          padding-left: 0;
          margin-bottom: 20px;
          .list-blog {
            .blog-itm {
              padding-left: 0;
              padding-right: 0;
            }
          }
        }
      }
    }


    /*Override old style responsive*/
    @media (max-width: 540px) {
      .fea-list .fea-pic {
        width: 100%;
      }
    }
  }
}


/*Update feature text*/
body.full-theme {
  .section-block {
    clear: both;
  }
  .blk-fea-article {
    + .section-block {
      clear: both;
    }
    h2.fea-ttl {
      &.fea-ttl__centered {
        border-bottom: 0px;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          width: 100%;
          height: 4px;
          background-color: #666666;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
  .fea-ttl__centered {
    margin-top: 0px;
    position: relative;
    padding-bottom: 0px !important;
    text-align: center;
    border-bottom: 0px !important;
    margin-bottom: 30px !important;
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: #666666;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .fea-ttl__text {
      display: inline-block;
      padding-left: 20px;
      padding-right: 20px;
      background-color: #fff;
      position: relative;
      z-index: 1;
    }
  }
}

@media (max-width: 480px) {
  body.full-theme {
    .blk-fea-article {
      h2.fea-ttl {
        &.fea-ttl__centered::before {
          height: 3px;
        }
      }
    }
    .fea-ttl__centered {
      font-size: 20px !important;
      &::before {
        height: 3px;
      }
      .fea-ttl__text {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

/*Update blog item align left*/
body.full-theme {
  .blk-fea-article {
    .list-blog {
      .blog-itm {
        text-align: left;
      }
    }
  }
}
@media (min-width: 481px) {
  body.full-theme {
    .blk-fea-article {
      .list-blog {
        .blog-itm {
          text-align: left;
        }
      }
    }
    .blk-fea-article {
      .fea-cat {
        font-size: 12px;
      }
      .fea-itm {
        h3 {
          font-size: 18px;
        }
      }
      .fea-author {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  body.full-theme .wc-r .fea-list .fea-itm {
    float: left;
    width: 100%;
  }
}