// Featured event 4 columns

body.demo-event-fours {
  .second-slider {
    display: none;
  }
}

body.full-theme {
  .tab-tt {
    font-size: 18px;
    background-color: @color-main;
    padding-top: 0;
    padding-bottom: 0;
    height: 36px;
    line-height: 36px;
  }

  .item-cat.vertical.four .tab-tt.vertical::after {
    right: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 10px;
  }

  .wrapper-r .item-cat.vertical.four:last-child .fea-evt-row {
    border-right-color: @color-gray-border;
  }
  .featured-event-blk {
    height: auto;
  }

  .four {
    .fea-evt-row {
      border-color: @color-gray-border;
      .fea-evt-item.vertical {
        margin-bottom: 20px;
        .dv-front {
          padding-bottom: 5px;
        }
        img {
          margin-bottom: 5px;
        }
        .meta {
          font-size: 16px;
          margin: 5px 0;
        }
        .ev-tt {
          font-size: 15px;
        }
        .dp {
          font-size: 16px;
        }
      }
    }
    @media (max-width: 600px) {
      .item-cat.vertical.four {
        width: 100%;
        .fea-evt-row {
          border: none;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }

  .wrapper-l {
    .item-cat:first-child .fea-evt-row {
      border-color: @color-gray-border;
    }
  }

  .featured-event-blk h3 {
    font-size: @title-s1;
    margin-bottom: 20px;
    margin-top: 40px;
    text-transform: uppercase;
    color: @title-gray;
    font-weight: bold;
  }

  .item-cat:not(.four) {

    .fea-evt-item {
      margin-top: 15px;
      border: none;
      height: auto;
      margin-bottom: 15px;
      a.more {
        color: #ffffff;
        text-decoration: underline;
      }

      .dv-front > a:first-child,
      .event-img {
        height: 0;
        position: relative;
        max-height: initial;
        padding-bottom: ~"calc(100% - 34px)";
        background-color:#f5f5f5;
        img {
          margin: auto;
        }
        
      }
    }
    .ev-tt {
      font-size: 16px;
      padding-left: 0;
    }
  }

}

/**
Fix feature event
 */
body.full-theme {

  .fea-evt-item:hover .left-event-time {
    display: block;
    opacity: 0;
  }

  .item-cat:not(.four) {
    .fea-evt-item {
      height: auto;
      vertical-align: top;
      &:hover {
        .dv-front {
          display: block;
          opacity: 0;
        }
        .dv-back {
          position: absolute;
          padding-top: 20px;
        }
      }
    }
  }

  /*Update style feature-event*/
  .dv-front {
    a {
      img {
        width: auto;
        max-width: 100%;
      }
    }
  }

  /*Styke feature-event four column*/
  .four {
    .fea-evt-row {
      .fea-evt-item.vertical {
        .dv-front {
          > a:first-child {
            display: inline-block !important;
            max-height: none;
            text-align: center;
          }
        }
      }
    }
  }

  /*Style categories detail*/
  .category-detail {
    .pic {
      a {
        img {
          width: auto;
          max-width: 100%;
        }
      }
    }
  }

  /*Style more categories*/
  .list-more-category {
    .more-cat-itm {
      .more-pic {
        img {
          max-width: 100%;
          width: auto;
        }
      }
    }
  }
}

/*Update single event*/
body.full-theme {
  &.single-event {
    .grid {
      .blog-itm {
        .pic {
          a {
            img {
              left: 0;
              transform: translate(0);
            }
          }
        }
      }
    }
    .astro-featr {
      .blog-itm {
        .pic {
          max-height: none;
          overflow: inherit;
        }
      }
    }
    .blog-itm {
      .pic {
        text-align: center;
        background-color: transparent;
        a {
          display: inline-block;
          margin-top: 0;
          max-width: 100%;
          padding-top: 0;
          overflow: inherit;
          img {
            position: relative;
            left: 0;
            top: 0;
            transform: translate(0)
          }
        }
      }
    }
  }
}

/*New update global featured event*/
body.full-theme {
  // With feature have bubble
  .featured-event-blk {
    .item-cat.oc-date-bubble-or-flag {
      .tab-row {
        margin-bottom: 5px;
      }
    }
  }
  .item-cat.oc-date-bubble-or-flag:not(.four) {
    .fea-evt-row.fea-evt-list--scroll {
      padding-top: 10px;
    }
  }
  // With feature do not have bubble
  .featured-event-blk {
    .tab-row {
      margin-bottom: 0;
    }
  }
  .item-cat:not(.four) {
    .fea-evt-row {
      &.fea-evt-list--scroll {
        padding-top: 0;
      }
    }
  }
}

body.full-theme {
  .item-cat:not(.four) {
    .tab-row {
      .wrapper-scroll--action {
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        a {
          font-size: 13px;
          display: inline-block;
          width: 36px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          background-color: #429ad4;
          &:hover {
            opacity: 0.9;
          }
          .fa {
            font-size: 16px;
            color: #fff;
          }
          & + a {
            margin-left: 15px;
          }
        }
      }
    }

    .fea-evt-row{
      .slick-slide:last-child{
        position: relative;
        height: auto;

        .fea-evt-item.last-item{
          padding-bottom: 65px;
          position: absolute;
          height: 100%;
          &:hover{
            background-color: transparent;
          }
          .view-more{
            background: @linkColorHover;
            display: block;
            text-align: center;
            height: 0;
            max-height: 264px;
            box-sizing: border-box;
            padding-bottom: 100%;
            line-height: 30px;
            clear: both;
            text-align: center;
            position: relative;
            a {
              padding: 15% 0;
              position: absolute;
              z-index: 1;
              top: 50%;
              left: 10px;
              right: 10px;
              text-align: center;
              display: block;
              transform: translateY(-50%);
              font-size: 16pt;
              color: #fff;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }

    .fea-evt-row {
      &.fea-evt-list--scroll {
        margin-bottom: 15px;
        width: 100%;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        transition: all 0.25s ease-in-out;
        .fea-evt-item {
          width: ~"calc(100%/3 - 10px)";
          margin-right: 15px;
          &:last-child {
            margin-right: 0;
          }
          .left-event-time {
            left: 0;
          }
          .dv-back {
            .back-title, .meta.auth, .back-desc, a.more {
              white-space: normal;
            }
          }
        }
        .fea-evt-item {
          .left-event-time {
            .month {
              font-size: 15px;
              &.ongoing {
                font-size: 16px;
              }
            }
            .date {
              font-size: 15px;
            }
          }
          .event-time .md {
            font-size: 16px;
          }
          .right-pos {
            .month {
              font-size: 15px;
            }
            .date {
              font-size: 15px;
            }
          }
          .dv-front {
            .ev-tt {
              white-space: normal;
            }
          }
          .dv-back {
            .back-title {
              position: relative;
              float: left;
              color: #fff;
              font-size: 14px;
              max-height: 29px;
              overflow: hidden;
              width: 100%;
              margin-bottom: 4px;
              a {
                &:hover {
                  color: #fff;
                  text-decoration: underline;
                }
              }
            }
          }
        }
        @media (max-width: 768px) {
          .fea-evt-item {
            width: ~"calc(100%/2 - 8px)";
            &:nth-child(2n) {
              margin-right: 15px;
            }
            &:last-child {
              margin-right: 0px;
            }
          }
        }
        @media (max-width: 480px) {
          .fea-evt-item {
            width: 100%
          }
        }
      }
      &.fea-evt-list--scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0);
        border-radius: 10px;
        background-color: transparent;
      }

      &.fea-evt-list--scroll::-webkit-scrollbar {
        width: 8px;
        height: 8px;
        background-color: transparent;
      }

      &.fea-evt-list--scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0);
        background-color: #7f7f7f;
      }
    }
  }
}
body.full-theme {
  .item-cat:not(.four) {
    .fea-evt-row{
      .fea-evt-item {
        .left-event-time {
          &.nw-evt-blue {
            padding: 0px;
            .date, .month {
              span:first-child {
                font-size: 10px
              }
            }
            .date, .month {
              span:last-child {
                font-size: 14px !important;
              }
            }
            .evt-arr {
              right: -5px;
            }
          }
        }
      }
    }
  }
}
/* Update featured event three column*/
body.full-theme {
  .grid {
    .blog-blk.featured-blog-list {
      .list-blog {
        margin-right: -15px;
        margin-left: -15px;
        .blog-itm {
          height: 570px !important;
          width: ~"calc((100%/3) - 31px)";
          margin-left: 15px;
          margin-right: 15px;
          &:nth-child(2n) {
            margin-left: 15px;
          }
          &:nth-child(2n+1) {
            margin-right: 15px !important;
          }
        }
      }
    }
  }
  .grid {
    .blog-t {
      .b-btn {
        .btn-b {
          max-width: 100%;
          min-width: 70%;
          margin-bottom: 0 !important;
          &:first-child {
            margin-bottom: 0 !important;
          }
          & + .btn-b {
            margin-right: 0;
            margin-left: 0;
            margin-top: 7px !important;
          }
        }
      }
    }
    .on-hover {
      &:hover {
        .blog-t {
          left: 0;
        }
        .b-btn {
          display: block;
          text-align: right;
          .btn-b {
            display: inline-block;
            min-width: 75%;
          }
        }
      }
    }
  }
  // Update style bockmark in list feature
  .grid {
    .blog-itm {
      .blog-t {
        .b-share-cat {
          .bok-mk.bok-mk--clickable {
            margin-bottom: 5px;
            margin-right: 0px;
            display: block;
          }
          a.sc {
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .on-hover {
      &:hover {
        .blog-t {
          .b-share-cat {
            .bok-mk.bok-mk--clickable {
              margin-right: 5px;
            }
            a.sc {
              &:last-child {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm {
      height: 550px !important;
    }
  }

  @media (max-width: 886px) {
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm {
      height: 530px !important;
    }
  }

  @media (max-width: 768px) {
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm {
      width: ~"calc((100%/2) - 31px)";
      // height: 545px !important;
      height: auto !important;
    }
    .grid .list-blog .blog-itm.on-hover {
      pointer-events: none;
    }
  }

  @media (max-width: 767px) {
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm {
      // height: 460px !important;
      height: auto !important;
    }
    .grid .list-blog .blog-itm {
      margin-bottom: 30px;
    }
    .grid .blog-t .meta.auth {
      height: auto;
    }
  }

  @media (max-width: 480px) {
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm {
      height: auto !important;
      width: 100%;
    }
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm .pic {
      max-height: 250px;
    }
    .grid .blog-blk.featured-blog-list .list-blog .blog-itm .pic a {
      padding-top: 250px;
    }
  }

  /*Update style standard*/
  @media (max-width: 480px) {
    .grid {
      .list-blog {
        .blog-itm {
          width: 100%;
          &:nth-child(2n + 1) {
            margin-right: 0px !important;
          }
          &:nth-child(2n) {
            margin-left: 0px;
          }
          .pic {
            max-height: 300px;
            a {
              padding-top: 300px;
            }
          }
        }
      }
      .blog-itm {
        .blog-ttl {
          font-size: 18px;
        }
        .meta.auth {
          font-size: 15px;
        }
      }
      .blog-t {
        .b-btn {
          .btn-b {
            font-size: 13px;
          }
        }
      }
      .on-hover:hover {
        .b-btn {
          .btn-b {
            width: 100%;
            min-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.full-theme {
    .second-slider {
      .flex-control-nav {
        display: block;
      }
      .flex-direction-nav {
        display: none;
      }
    }
    .top-head .top-blk.social-top {
      width: auto;
    }
  }
}
@media (max-width: 680px) {
  body.full-theme {
    .second-slider {
      .b-share-cat {
        display: none !important;
      }
      .b-share-cat:not(.b-share--full) {
        display: none !important;
      }
    }
    .b-share-cat:not(.b-share--full) {
      display: none !important;
    }
  }
}

body.full-theme {
  &.single-event {
    .astro-featr {
      .a-desc {
        a.vmore {
          font-size: 13px;
        }
      }
    }
  }
  .second-slider {
    height: 340px;
    .flexslider {
      .slides {
        li {
          height: 290px;
        }
      }
    }
    .slider-pic {
      height: 290px;
    }
    .slider-content {
      height: 290px;
      .desc {
        max-height: none;
        font-size: 13px;
        .txt-desc {
          display: inline;
        }
        a.vmore {
          font-size: 14px;
          margin-left: 5px;
        }
      }
      a.vmore {
        position: relative;
        right: auto;
        bottom: 0;
      }
      .discount-desc {
        color: #dd271c;
        font-size: 28px;
        margin-top: 5px;
        line-height: 1.1;
      }
    }
    .silder-footer {
      height: 43px;
    }
  }
  @media (max-width: 1040px) {
    .second-slider {
      .slider-content {
        .discount-desc {
          font-size: 24px;
        }
      }
    }
  }
  @media (min-width: 1024px) {
    .second-slider {
      .slides {
        height: 290px !important;
      }
    }
  }
  @media (min-width: 768px) {
    .second-slider {
      .slider-content {
        .meta.auth {
          max-height: 48px;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .second-slider {
      height: auto;
      .slider-content {
        h2 {
          max-height: 93px;
        }
      }
      .flexslider {
        margin-bottom: 15px;
        .slides {
          li {
            height: auto;
          }
        }
      }
    }
  }
  @media (max-width: 630px) {
    .second-slider {
      .slider-content {
        .discount-desc {
          font-size: 20px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .second-slider {
      .slider-content {
        .discount-desc {
          margin-top: 10px;
        }
      }
    }
  }
}

body.full-theme {
  &.single-event {
    .breadcrumbs {
      & + .astro-detail {
        margin-top: 35px;
      }
      & + .b-share-cat {
        margin-top: 10px;
        & + .astro-detail {
          margin-top: 30px;
        }
      }
    }
  }
  .blk-detail-single--event {
    h1.p-ttl {
      margin-top: 0px;
      line-height: 1.1;
    }
    .rating-box {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: 1280px) {
  body.full-theme {
    .astro-featr {
      .blk-detail-single--event {
        & + .a-txt-fea {
          & + .b-btn {
            margin-top: 15px;
          }
        }
        & + .b-btn {
          margin-top: 0px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.full-theme {
    .content-page.category-detail {
      .desc {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 480px) {
  body.full-theme {
    .content-page.category-detail {
      .desc {
        font-size: 14px;
      }
    }
  }
}

body.full-theme {
  .list-blog {
    .blog-itm {
      .btn.btn-b  {
        &:first-child {
          margin-right: 0px;
        }
        + .btn.btn-b {
          margin-left: 10px;
        }
      }
    }
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  body.full-theme {
    .list-blog {
      .blog-itm {
        .btn.btn-b  {
          &:first-child {
            margin-bottom: 0px;
          }
          + .btn.btn-b {
            margin-left: 0px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  body.full-theme {
    .list-blog {
      .blog-itm {
        .b-share {
          height: auto;
          max-height: 56px;
          > a {
            margin-top: 2px;
          }
        }
        .btn.btn-b  {
          display: inline-block;
          margin-top: 5px;
          min-width: 150px;
          &:first-child {
            margin-bottom: 0px;
          }
          + .btn.btn-b {
            margin-left: 5px;
          }
        }
        .pic {
          margin-right: 15px;
        }
        .blog-t {
          margin-left: 0px;
          .b-btn {
            clear: both;
            float: left;
            width: 100%;
            text-align: right;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  body.full-theme {
    .list-blog {
      .blog-itm {
        .btn.btn-b {
          display: block;
          + .btn.btn-b {
            margin-left: 0px;
          }
        }
      }
    }
  }
}

/*Featured event using slick slider */
body.full-theme {
  .sub-content-blk {
    h3 {
      font-size: 28px;
      font-weight: 700;
      color: #979797;
    }
  }
}
/*Item categpries rotate title 90 degree*/
@media (min-width: 1320px) {
  body.full-theme {
    .featured-event-blk {
      .item-cat__rotate-title {
        &.oc-date-bubble-or-flag {
          .tab-row {
            bottom: 60px;
          }
        }
      }
      .item-cat__rotate-title {
        .tab-tt {
          background-color: transparent !important;
          color: #429ad4;
          min-width: auto;
          height: auto;
          line-height: normal;
          position: absolute;
          font-weight: 400;
          font-size: 30px;
          left: 0;
          top: 0;
          padding: 0 5px;
          text-transform: uppercase;
        }
        .tab-row {
          border-bottom: 0px;
          position: absolute;
          height: auto;
          width: auto;
          left: -40px;
          bottom: 65px;
          -moz-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
        }
      }
    }
    .item-cat.item-cat__rotate-title:not(.four) {
      .tab-tt {
        white-space: nowrap;
        a {
          white-space: nowrap;
        }
      }
    }
  }
}

body.full-theme {
  .item-cat.oc-date-bubble-or-flag.item-cat__rotate-title:not(.four) {
    .fea-evt-item {
      margin-top: 25px;
    }
  }
}

@media (max-width: 1320px) {
  body.full-theme {
    .featured-event-blk {
      .item-cat.oc-date-bubble-or-flag.item-cat__rotate-title:not(.four) {
        .tab-row {
          margin-bottom: 5px;
        }
        .fea-evt-row {
          padding-top: 10px;
        }
      }
    }
  }
}

body.full-theme {
  .item-cat.item-cat__rotate-title:not(.four) {
    .fea-evt-row {
      margin-bottom: 30px;
    }
    .fea-evt-item {
      margin-bottom: 0px;
    }
    .tab-row {
      .wrapper-scroll--action {
        display: none;
      }
    }
  }
  .item-cat.under-image__event-time:not(.four) {
    .fea-evt-item {
      padding-bottom: 40px;
    }
    .ev-tt {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.7);
      padding: 10px 5px;
      font-size: 14px;
      line-height: 20px;
      max-height: calc(~"18px*3 + 20px");
    }
    .left-event-time {
      position: absolute;
      width: 100%;
      height: auto;
      border-radius: 0;
      top: auto;
      bottom: 0;
      left: 0;
      text-align: left;
      background-color: transparent !important;
      padding: 10px 5px !important;
      > * {
        padding: 0 2px;
      }
      .th {
        color: #666;
        line-height: inherit;
        font-size: 14px;
        float: none;
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
      }
      .month {
        padding-left: 0px;
      }
      .date {
        padding-right: 0px;
      }
      .month, .date {
        color: #666;
        font-size: 14px;
        display: inline-block;
        vertical-align: middle;
        float: none;
        font-weight: 400;
        span:first-child {
          text-transform: capitalize;
        }
        span:last-child {
          display: inline-block;
          margin-left: 2px;
          font-size: 14px;
        }
      }
    }
  }

  .item-cat.item-cat__rotate-title:not(.four) {
    .fea-evt-item {
      .dv-front {
        > a:first-child {
          > img {
            top: 0;
            -moz-transform: scale(1.2) translate(-42%, 0);
            -webkit-transform: scale(1.2) translate(-42%, 0);
            -o-transform: scale(1.2) translate(-42%, 0);
            -ms-transform: scale(1.2) translate(-42%, 0);
            transform: scale(1.2) translate(-42%, 0);
          }
        }
      }
      &:hover {
        .dv-back {
          .back-title {
            font-size: 16px;
            color: #fff;
            margin-bottom: 15px;
            line-height: 18px;
            max-height: calc(~"18px*2");
            overflow: hidden;
            a:hover {
              color: #fff;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  @media (max-width: 1280px) {
    .item-cat.under-image__event-time:not(.four) {
      .left-event-time {
        > * {
          padding: 0 2px;
        }
      }
    }
  }
}

body.full-theme {
  .item-cat__rotate-title {
    margin-bottom: 2px;
    .slick-track {
      margin-left: 0;
      margin-right: 0;
      display: flex;
    }
    .slick-slider {
      .slick-list {
        margin-left: -10px;
        margin-right: -10px;
        padding:0 10% 0 0 !important;
        .slick-slide {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
    .fea-evt-row {
      .slick-dots {
        li {
          width: 10px;
          height: 10px;
          margin: 0 3px;
          button {
            width: 10px;
            height: 10px;
            &:before {
              font-size: 35px;
              line-height: 10px;
              width: 10px;
              height: 10px;
              content: '';
              background-color: #000;
              border-radius: 50%;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .item-cat__rotate-title {
      .slick-slider {
        .slick-list {
          padding:0 15% 0 0 !important;
        }
      }
      .fea-evt-row {
        .slick-dots {
          bottom: -18px;
        }
      }
    }
  }
  @media (max-width: 480px) {
    .item-cat__rotate-title {
      .slick-slider {
        .slick-list {
          padding:0 20% 0 0 !important;
        }
      }
    }
  }
}

/*Remove event hover mobile*/
@media (max-width: 1024px) {
  body.full-theme {
    .item-cat:not(.four) {
      .fea-evt-item:hover {
        background-color: transparent;
        .dv-back {
          display: none;
        }
        .dv-front {
          opacity: 1;
        }
        .left-event-time {
          opacity: 1;
        }
      }
    }
  }
}

/*featured-event-hor*/
@media (min-width: 769px) {
  body.full-theme {
    .featured-event-hor {
      .fea-evt-item:hover {
        background: #666666;
      }
    }
  }
}

body.full-theme {
  .featured-event-hor {
    .item-cat.under-image__event-time:not(.four) .left-event-time {
      .date, .month {
        font-size: 18px;
        font-weight: bold;

        span {
          font-size: 18px;
          font-weight: bold;
        }
      }
    }

    .item-cat.under-image__event-time:not(.four) .ev-tt {
      max-height: calc(24px * 3 + 20px)
    }

    .item-cat:not(.four) .fea-evt-item .dv-front > a:first-child {
      background-color: white;
    }

    .dv-front .ev-tt {
      width: 100%;
      a{
        color: #666;
        line-height: 1.3;
        max-height: 2.6em;
      }

      .apl-event-org-name {
        line-height: 1.3;
        max-height: 2.6em;
        overflow: hidden;
        a {
          display: inline;
          max-height: none;
        }
      }
    }

    .under-image__event-time  .dv-front .ev-tt a, .dv-back .back-title a {
      color: white;
    }
  }
  @media (max-width: 992px) {
    .featured-event-hor {
      .item-cat.under-image__event-time:not(.four) .left-event-time {
        .date, .month {
          font-size: 16px;
          span {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (max-width: 820px) {
    .featured-event-hor {
      .item-cat.under-image__event-time:not(.four) .left-event-time {
        .date, .month {
          font-size: 14px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .item-cat.item-cat__rotate-title:not(.four) {
      .fea-evt-item {
        .dv-front {
          > a:first-child {
            > img {
              -moz-transform: scale(1) translate(-50%, 0);
              -webkit-transform: scale(1) translate(-50%, 0);
              -o-transform: scale(1) translate(-50%, 0);
              -ms-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
              width: 120%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}

/*Update feature event show arrow button*/
body.full-theme {
  .item-cat__rotate-title {
    .slick-slider {
      .wrapper-action-slick {
        position: absolute;
        width: 100%;
        bottom: -22px;
        text-align: center;
        .slick-dots {
          display: inline-block !important;
          position: relative;
          bottom: 0;
          left: 0;
          transform: translateX(0);
          width: auto;
        }
        .slick-prev, .slick-next {
          top: 0;
          transform: translate(0, 0);
          position: relative;
          display: inline-block !important;
          vertical-align: -7px;
          &::before {
            font-size: 20px !important;
            color: #000000;
            font-weight: bold;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            transform: translate(0, 0);
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            text-indent: 0;
          }
        }
        .slick-prev {
          left: 0;
          margin-right: 5px;
          &:before {
            content: "\f104";
          }
        }
        .slick-next {
          right: 0;
          margin-left: 5px;
          &:before {
            content: "\f105";
          }
        }
      }
    }
  }
}