/* BEGIN @ticket @17715 - Responsive bottom slider  */
body.full-theme {
  .bottom-slider {
    margin: 5px 0 10px 0;
    .flex-viewport {
      .slides {
        margin-bottom: 0;
      }
    }
    &.slider--disabled {
      .flex-viewport {
        .slides {
          display: flex;
          width: auto !important;
          li {
            flex: 1;
          }
        }
      }
    }
  }
}
/* END @ticket @17715 - Responsive bottom slider  */