.responsive-slider {
  .flexslider {
    .i-slider {
      position: relative;
      background-color: #f3f3f3;
      img {
        position: absolute;
        left: 50%;
        width: auto;
        max-width: 100%;
        transform: translate(-50%,0)!important;
        top: 0!important;
        height: auto;

        @media(max-width: 768px) {
          transform: translate(-50%, -50%)!important;
          top: 50%!important;
        }
      }
    }
  }


  // Out side
  .main-slider {
    margin-top: 0;
    margin-bottom: 40px;
    .inner {
      position: static!important;
    }
    .i-slider {
      .responsive-ratio(1920/1080);

      @media (min-width: 1280px) {
        padding-bottom: 700px!important;
      }

      .i-caption {
        bottom: 30px;
        width: 100%;
        max-width: 1260px;

        padding: 15px 10px 15px 10px;
        h4 {
          font-size: 28px;
        }
        p {
          font-size: 18px;
        }
      }
    }
    .flex-control-paging {
      bottom: 10px;
      li a.flex-active {
        background-color: @color-main;
      }
    }
  }

  .main-slider.mini {
    margin-top: 0;
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;

    margin-left: auto;
    margin-right: auto;
    .i-slider {
      margin-left: auto;
      margin-right: auto;
    }
  }


  .main-slider.mini,
  .main-slider.full {
    &.semi-trans-large,
    &.semi-trans-small {
      height: auto!important;
    }
  }

  .main-slider-overlay {
    display: none;
  }
}


body.full-theme {
  // Override
  .main-slider.full {
    height: initial;
    margin-top: 0;
  }
}

//before js
.apl-home-slider-display-full {
  &.responsive-slider {
    .flexslider {
      .slides {
        background-color: #f0f0f0!important;
        li {
          position: static!important;
        }
      }

      .i-slider {
        padding-bottom: 0!important;
        height: auto;
        position: static;
  
        a {
          max-height: initial;
          img {
            position: static;
            left: 0;
            width: auto;
            max-width: 100%;
            transform: none !important;
            top: 0 !important;
            height: auto;
            margin: 0 auto;
          }
        }
      }
    }
    }
}
