.full-theme {
  form {
    .input-with-button {
      display: flex;
      input {
        margin-right: 0;
        flex: 1;
        font-size: 15px;
      }
      button {
        margin-left: 10px;
        padding: 5px 15px;
      }
    }
  }
}