@media (min-width: 769px) {
  body.full-theme.oct-transparent--bg {
    &:not(.apl-default-header) {
      .header {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.15);
        width: 100%;
        z-index: 1100;
        > .inner {
          background-color: transparent;
        }
        .top-head {
          background-color: transparent;
          .mobile-menu .main-menu.tablet-show {
            background-color: transparent;
          }
        }
      }
      .header {
        &.header--fixed {
          position: fixed;
          background-color: #ffffff;
        }
        &:not(.header--fixed) {
          .bookmark-view .bookmark-view__button,
          .main-menu .mn-menu .nav > li > a,
          .top-head .top-blk.search-box:before,
          .top-head .top-blk.search-box span.search-lbl,
          .top-head .top-blk.login-top a,
          .top-head .top-blk.login-top a:before {
            color: #fff;
            text-shadow: 1.176px 1.618px 4px rgba(1, 0, 0, 0.2);
          }
        }
      }
    }


    //&.apl-default-header .header {
    //  .main-menu {
    //    background-color: rgba(255, 255, 255, 0.15);
    //  }
    //  &.header--fixed {
    //    background-color: rgba(255, 255, 255, 0.15);
    //  }
    //  .bookmark-view,
    //  .main-menu .mn-menu .nav > li > a,
    //  .top-head .top-blk.search-box:after,
    //  .top-head .top-blk.login-top a,
    //  .top-head .top-blk.login-top a:before {
    //    color: #fff;
    //    text-shadow: 1.176px 1.618px 4px rgba(1, 0, 0, 0.2);
    //  }
    //}
  }

}

