body.full-theme:not(.apl-default-header) {

  @media(min-width: 769px) {
    &.no-topbar.admin-bar {
      .header {
        top: @admin-bar-height;
      }
    }
  }

  @media (min-width: 768px) {
    .header {
      transition: all 0.3s ease-in-out;
      position: static;
      background-color: #fff;


      * {
        box-sizing: border-box;
      }

      > .inner {
        max-width: initial;
        padding: 0 15px;
        position: relative;
        z-index: 1000;

        .drop-shadow;

        & + .main-menu {
          display: none;
        }
      }

      .main-menu {
        .inner {
          max-width: initial;
        }
      }
    }

    .top-head {
      display: flex;
      align-items: center;

      // the logo
      .logo {
        padding: 10px 10px 10px 0;
        max-width: 40%;
        img {
          max-height: 120px;
          max-width: 100%;
          width: auto;
        }
      }

      .top-blk {
        order: 95;
        flex-shrink: 0;
      }

      //hide social block
      .top-blk.social-top {
        .sticky-social;
        margin: 0;
        a {
          margin: 0;
          padding-left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0;
          font-size: 19px;
          // Hard code for fixing icon font-size
          i.fa.fa-google-plus {
            font-size: 1.2em;
            margin-right: -7px;
          }
          i.fa.fa-vimeo-square {
            font-size: 1.3em;
          }
        }
      }

      .bookmark-view {
        order: 97;

        & ~ .top-blk.login-top {
          margin-left: initial;
        }
      }

      .top-blk.login-top {
        margin-right: 0;
        order: 98;
        padding-top: 0;
        margin-top: 0;
        height: initial;
        display: flex;
        flex-shrink: 0;
        //Button
        a {
          .ov-btn-outline;
          padding: 8px 10px 8px 10px;
          border-radius: 0;
          margin-right: 0;
          margin-left: 8px;
          font-weight: normal;
          font-size: 16px;
          min-width: 95px;
          display: inline-block;
          text-align: center;
          &:first-child {
            margin-left: 0px;
          }
          &:nth-child(2) {
            // background-color: #7fba42;
            // color: #ffffff;
            // border: 1px solid #7fba42;
          }
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            background-color: @color-main;
            border-color: @color-main;
            transition: all 0.3s;
          }
        }
      }

      // search
      .top-blk.search-box {
        margin: 0;
        order: 99;
        font-size: 16px;
        margin-left: 8px;
        // cursor: hand;
        cursor: pointer;
        width: auto;
        span.search-lbl {
          display: none;
        }
        &:before {
          .fa-icon;
          content: "\f002"; // fa-search
          transform: rotate(90deg);
          font-size: 1.4em;
        }

        &.show {
          .form-search {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
          }
        }
        // Absolute search
        .form-search {
          visibility: hidden;
          opacity: 0;

          position: absolute !important;
          transform: translateY(-10px);
          transition: all 0.1s ease-in-out;
          right: 0;
          width: 400px;
          z-index: 10;
          padding: 5px;
          background: #fff;
          top: 100%;
          box-shadow: 0 2px 2px 0 rgba(59, 14, 14, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

          display: flex;
          input {
            width: auto;
            flex: 1;
            display: block;
            height: 30px;
            font-size: 16px;
            padding: 0 10px;
          }
          button {
            font-size: 1em;
            padding: 0 5px 0 10px;
          }
        }
      }

    }
  }

}

/*Responsive header*/
body.full-theme:not(.apl-default-header) {
  //Tablet
  @media (min-width: 768px) and (max-width: 1111px) {
    .top-head {
      flex-wrap: wrap;


      .mobile-menu {
        order: 100;
        width: calc(~"100% + 30px");
        height: 60px;
        margin-left: -15px;
        margin-right: -15px;
        .main-menu {
          width: 100%;
          ul.nav {
            display: flex;
            justify-content: space-between;
          }

          .mn-menu {
            margin-left: 0;
          }

          .mn-menu .nav > li {
            float: none;
            display: block;
            width: 100%;
            flex-shrink: initial;
            > a {
              display: flex;
              justify-content: center;
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  // Small
  @media (max-width: 767px) {
    .top-head {
      padding: 0 10px;
      .top-blk.login-top {
        float: right;
        display: inline-block;
        width: auto;
      }
      .form-search .inp.inp-txt {
        width: calc(~"100% - 25px");
      }

      @media (min-width: 481px) {
        .bookmark-view {
          margin-top: 40px;
          float: right;
          margin-left: 10px;
        }
      }
    }
  }

  // supper small
  @media (max-width: 480px) {
    .top-head {
      text-align: center;
      .bookmark-view {
        display: inline-block;
      }
      .top-blk.login-top {
        float: none;
      }
    }
  }
}

/* ==== FIX STYLE OLD HEADER =======*/
body.full-theme.apl-default-header {

  &.static-demo {
    .main-menu {
      background-color: @color-main;
    }

    .main-menu .mn-menu .nav {
      > li {
        border-right: none;
        > a {
          border-top: @color-main;
          @media (min-width: 768px) {
            line-height: 74px;
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
        &.cur > a {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }
    }



    @media (max-width: 768px) {

      a.mb-menu.active {
        background-color: @color-main;
        border-color: @color-main;
      }
    }
  }

  .top-blk.search-box {
    .fa-lg {
      vertical-align: initial;
      margin-top: 3px;
    }
  }

  .header {
    .inner {
      padding: 0 10px;
    }
  }

  .top-head {
    @media (min-width: 769px) {
      display: flex;
      flex-wrap: wrap;
      > * {
        flex-shrink: 0;
      }

      align-items: center;
      .logo {
        margin-right: auto;
      }

      .top-blk.search-box {
        order: 99;
        margin-top: 0;
        @media (max-width: 979px) and (min-width: 768px) {
          margin-left: 0;
          .form-search .inp.inp-txt {
            width: calc(~"100% - 20px");
          }
        }
      }

      .top-blk.login-top {
        order: 98;
        margin-top: 0;
        height: initial;
        padding-top: 0;
        a {
          border: none;
        }
      }

      .mobile-menu {
        display: none;
      }

      .top-blk.social-top {
        order: 96;
        margin-right: 10px;
      }

      .top-blk {
        order: 95;
        flex-shrink: 0;
      }

      .bookmark-view {
        order: 97;
        margin-right: 15px;
        vertical-align: middle;
      }

      //hide social block
      .top-blk.social-top {
        .sticky-social;
        margin: 0;
        a {
          padding-left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 0;
          font-size: 19px;
          margin: 0;
          // Hard code for fixing icon font-size
          i.fa.fa-google-plus {
            font-size: 1.2em;
            margin-right: -7px;
          }
          i.fa.fa-vimeo-square {
            font-size: 1.3em;
          }
        }
      }
    }

    @media (min-width: 481px) and (max-width: 767px) {
      .top-blk.login-top {
        display: inline;
        float: right;
      }

      .bookmark-view {
        display: inline;
        float: right;
        margin-top: 40px;
        margin-left: 10px;
      }
    }

    @media (max-width: 480px) {
      // top head tex align center
      text-align: center;
      .top-blk.login-top {
        // display: inline;
        display: inline-block;
        vertical-align: middle;
        width: auto;
        float: none;
      }

      .bookmark-view {
        display: inline;
        vertical-align: middle;
      }
    }
  }

}

@import "../components/nav-main.less";

/*Add style button CallToAction*/
body.full-theme {
  .main-slider.full:not(.semi-trans-large) {
    .blk-button-call {
      .inner {
        max-width: 1260px;
      }
    }
  }
}
body.full-theme {
  .main-slider {
    .blk-button-call {
      position: absolute;
      z-index: 5;
      width: 100%;
      bottom: 150px;
      .inner {
        text-align: right;
        padding-left: 10px;
        padding-right: 10px;
        .btn.btn-callToAction {
          padding: 12px 30px;
          background-color: rgba(66, 154, 212, 0.75);
          color: #fff;
          box-shadow: 1px 3px 10px -3px #A6A6A6;
          font-size: 18px;
          line-height: normal;
          text-transform: uppercase;
          display: inline-block;
          letter-spacing: 1px;
          text-align: center;
          &:hover {
            cursor: pointer;
            transition: all 0.3s;
            background-color: rgba(66, 154, 212, 1);
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  body.full-theme {
    .main-slider {
      .blk-button-call {
        width: auto;
        right: 10px;
        bottom: 145px;
      }
    }
  }

  body.full-theme {
    .main-slider {
      .blk-button-call {
        .inner {
          padding-left: 0px;
          padding-right: 0px;
          .btn.btn-callToAction {
            font-size: 16px;
            width: auto !important;
            height: auto !important;
            line-height: normal !important;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  body.full-theme {
    .main-slider {
      .blk-button-call {
        bottom: 140px;
      }
    }
  }

  body.full-theme {
    .main-slider {
      .i-slider {
        .i-caption {
          h4 {
            max-height: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 740px) {
  body.full-theme {
    .main-slider:not(.semi-trans-large) {
      .blk-button-call {
        bottom: 85px;
        z-index: 600;
      }
    }
  }
}

@media (max-width: 600px) {
  body.full-theme {
    .main-slider.semi-trans-large {
      .blk-button-call {
        bottom: 120px;
      }
    }
  }
}

@media (max-width: 480px) {
  body.full-theme .main-slider:not(.semi-trans-large) {
    .blk-button-call {
      bottom: 30px;
    }
  }

  body.full-theme {
    .main-slider.semi-trans-large {
      .blk-button-call {
        bottom: 95px;
      }
    }
  }

  body.full-theme .main-slider {
    .i-slider {
      .blk-button-call {
        .inner {
          display: block;
          .btn.btn-callToAction {
            padding: 12px 20px;
            font-size: 14px;
            width: auto !important;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  body.full-theme .main-slider:not(.semi-trans-large) {
    .blk-button-call {
      bottom: 10px;
    }
  }

  body.full-theme {
    .main-slider.semi-trans-large {
      .blk-button-call {
        bottom: 40px;
        z-index: 600;
      }
    }
  }

  body.full-theme .main-slider {
    .i-slider {
      .blk-button-call {
        .inner {
          .btn.btn-callToAction {
            padding: 10px;
            font-size: 12px;
            letter-spacing: normal;
          }
        }
      }
    }
  }
}