body.full-theme {
  .event-time {
    padding-top: 10px;
    padding-bottom: 10px;
    .md {
      font-size: @text-s45;
    }
  }

  .tab-t {
    margin-bottom: 50px;
  }
  .tab-list li a {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .b-share > a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .grid {
    .list-blog {
      display: flex;
      flex-wrap: wrap;
      &:after, &:before {
        display: none;
      }
      .row{
        margin: 0 -15px;
      }

      .blog-itm {
        height: auto !important;
        width: calc(~"50% - 31px");
        padding-bottom: 20px;
        margin-bottom: 40px;

        &:after, &:before {
          display: none;
        }

        .pic {
          width: 100%;
          max-height: initial;
        }
        .b-share {
          margin: 10px 0;
        }

        &:nth-child(2n) {
          //margin-left: 30px;
        }
        // Update
        &:nth-child(2n + 1) {
          //margin-right: 30px !important;
        }
      }
    }

    .blog-t {
      .b-btn {
        .btn-b:first-child {
          margin-right: 0px;
          margin-bottom: 7px;
        }
        .btn-b {
          & + .btn-b {
            margin-left: 7px;
          }
        }
      }
    }

    .on-hover:hover {
      .blog-t {
        .b-btn {
          .btn-b:first-child {
            margin-bottom: 0px;
          }
        }
      }
      .b-share {
        margin: 15px 0 0 0;
        padding-right: 15px;
        padding-left: 15px;
        label {
          color: #fff;
        }
      }

      .b-btn {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        .btn {
          flex: 1;
          border-color: #fff;
          color: #fff;
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .blog-ttl {
        margin-top: 40px;
      }
    }
  }

  .grid .blog-blk{
    .blog-itm:nth-child(2n+1) {
      margin-right: 0;
    }
    .list-blog{
      &.col-4, &.col-3, &.col-6{
        padding: 0;
        margin: 0 -15px;
        float: none;
        .blog-itm, .blog-itm:nth-child(2n+1){
          margin-right: 0 !important;
          margin-left: 0 !important;
        }

        .blog-itm{
          height: unset !important;
          min-height: 550px;

          &.on-hover{
            &:hover{
              .desc{
                max-height: 160px;
              }

              .b-btn{
                display: block;
              }
            }
          }
        }

      }

      &.col-4{
        .blog-itm{
          width: 33.3%;
          padding: 0 15px;
          //height: 600px !important;
        }
      }

      &.col-3{
        .blog-itm{
          width: 24.9%;
          padding: 0 15px;
          //height: 600px !important;
          .b-share-cat label {
            display: block;
            margin-right: 5px;
          }
          .blog-t .b-btn .btn-b{
            min-width: 92%;
          }
        }
      }

      &.col-6{
        .blog-itm{
          width: 50%;
          padding: 0 15px;
        }
      }
    }

  }

  @media (max-width: 1200px) {

    .grid .blog-blk{
      .list-blog.col-3, .list-blog.col-4{
        .blog-itm{
          width: 50%;
        }
      }
    }
    .grid .blog-blk{
      .list-blog {
        .blog-itm {
          //height: 700px !important;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    .grid .blog-blk{
      .list-blog {
        .blog-itm {
          //height: 550px !important;
          .left-event-time{
            left: 0;
          }

          .b-share-cat label, .b-share label {
            display: block;
          }

        }
      }
    }

    .grid .blog-blk{
      .list-blog.col-4, .list-blog.col-3, .list-blog.col-6 {
        .blog-itm {
          width: 50%;
        }
      }
    }

  }

  @media (max-width: 886px) {
    .grid {
      .blog-t {
        .b-btn {
          display: block;
          .btn-b {
            &:first-child {
              margin-bottom: 0px;
            }
            & + .btn-b {
              margin-left: 0px;
            }
            & + .btn-b {
              margin-top: 7px;
              & + .btn-b {
                margin-top: 7px;
              }
            }
          }
        }
      }
      .blog-itm.on-hover:hover {
        .desc {
          height: 185px;
        }
      }
      .on-hover:hover {
        .b-btn {
          display: block;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .grid .blog-blk{
      .list-blog.col-3, .list-blog.col-4, .list-blog.col-6 {
        .blog-itm{
          height: auto !important;
          min-height: 0 !important;

          .blog-t .b-btn .btn-b {
            display: block;
            min-width: 100%;
            margin: 0;
          }

        }
      }

      .blog-itm.on-hover:hover {
        .desc {
          height: 95px;
        }
      }
      .blog-t {
        .blog-ttl {
          height: 38px;
        }
      }
      .on-hover {
        &:hover {
          .blog-ttl {
            height: 36px;
          }
        }
      }
    }

    .grid .blog-blk{
      .list-blog.col-4, .list-blog.col-3, .list-blog.col-6 {
        .blog-itm {
          width: 100%;
        }
      }
    }

    .grid .blog-blk .blog-t .blog-ttl, .grid .blog-t .meta.auth{
      height: auto !important;
    }

  }
  @media (max-width: 696px) {
    .grid {
      .list-blog {
        .blog-itm {
          .b-share {
            height: auto;
            > a {
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }

  @media (max-width: 580px) {
    .grid {
      .blog-t {
        .meta.auth {
          height: 40px;
        }
        .b-btn {
          .btn-b {
            font-size: 11px;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
  }

  @media (max-width: 390px) {

  }
}


/**
Fix blog item on hover
 */

body.full-theme {
  .grid {
    .list-blog {
      .blog-itm.on-hover {
        position: relative;

        &:hover {
          .blog-t {
            top: 0;
            position: absolute;
            z-index: 1;
            width: 100%;
          }
          .pic {
            display: block;
            opacity: 0;
          }
        }
      }
    }
  }

  &:not(.grid) {
    .wc-f {
      .blog-itm {
        @media (min-width: 992px) {
          .pic {
            width: 350px;
            max-height: 350px;
            margin-right: 20px;
          }
        }
      }
    }
  }
}