
body.full-theme:not(.apl-default-header) {
  //tophead, hover padding
  @media (min-width: 768px) {
    // Color and other thing override
    .main-menu {
      color: #333;
      .mn-menu {
        * {
          box-sizing: border-box;
        }
        .nav {
          > li {
            &.cur > a {
              background-color: transparent;
              color: #ffffff;
            }
            & > a {
              color: #333333;
              border-top: transparent;
            }

            border-right: 1px solid rgba(255, 255, 255, 0.1);
          }
        }
        .has-child > ul.sub-menu.level-1 > li.has-child ul.sub-menu.show {
          left: 220px;
        }

        .has-child ul.sub-menu > li {
          padding: 0;
        }
      }
    }
  }

}

body.full-theme:not(.apl-default-header) .top-head  {
  @media (min-width: 768px) {
    // Enable this mobile menu
    .mobile-menu {
      align-self: stretch;
      display: flex;

      // toggle
      > a.tablet-show {
        display: none;
      }

      .main-menu {
        background-color: #fff;
        &:not([style^="position: fixed;"]) {
          height: 100%;
        }

        &[style^="position: fixed;"] {
          .depth-shadow;
        }

        //make 100% height
        .inner,
        .inner > nav,
        .inner > nav > ul,
        .inner > nav > ul > li,
        .inner > nav > ul > li > a {
          height: 100%;
        }

        .inner > nav > ul > li > a {
          display: inline-flex;
          align-items: center;
          line-height: inherit;
        }

        .mn-menu .has-child ul.sub-menu {
          &.level-1 {
            top: calc(~"100% - 3px");
          }
        }

        .mn-menu .nav > li > a {
          font-weight: normal;
          font-size: 15px;
        }

        .sub-menu.level-1 > li a:hover {
          border: none;
        }

        &.tablet-show {
          display: block;
          .mn-menu.has-toogle__menu-child .nav > li.has-child > a:after {
            position: static;
            display: inline-block;
            margin-bottom: 5px;
            color: inherit;
          }
        }
      }

      .sub-menu.level-1 {
        left: 0;
        &.show-full-sub__child {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

}

body.full-theme:not(.apl-default-header) {
  @media (min-width: 768px) {
    /*Reset*/
    .main-menu.tablet-show .mn-menu.has-toogle__menu-child .nav > li.has-child > a {
      &:after {
        .fa-icon;
        .fa-caret-down;
        padding-left: 7px;
        position: static;
        width: auto;
        height: auto;
        border: none;
      }

      // ignore js show, arrow up, just show when hover
      &.active-show--child {
        &:after {
          //.fa-caret-up;
        }
      }
    }

    .mn-menu .has-child > ul.sub-menu.level-1 > li.has-child > a {
      &:after {
        .fa-icon;
        .fa-caret-right;
        position: static;
        width: auto;
        height: auto;
        border: none;
      }
    }
  }
  @media (width: 768px) {
    .top-head .mobile-menu {
      z-index: 50;
    }
    .top-head .mobile-menu .main-menu.tablet-show {
      position: relative;
      top: 0;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      z-index: 1;
    }
    .top-head .top-blk.social-top {
      width: auto;
    }
    .main-menu.tablet-show .has-child > ul.sub-menu.level-1 li {
      border-left: 0px;
    }
    .main-menu.tablet-show .has-child > ul.sub-menu.level-1 > li > a {
      line-height: 30px;
    }
    .mn-menu .has-child > ul.sub-menu.level-1 > li.has-child > a:after {
      margin-top: 8px;
    }
    .mn-menu .has-child > ul.sub-menu.level-1 > li.has-child ul.sub-menu {
      margin-right: 0px;
      padding-left: 10px;
      color: @color-black;
      box-shadow: none;
    }
    .mn-menu .has-child > ul.sub-menu.level-1 > li.has-child ul.sub-menu a {
      line-height: 30px;
    }
    .top-head .mobile-menu .main-menu .sub-menu.level-1 > li a:hover {
      color: #fff;
      background-color: @color-main;
    }
    .mn-menu .has-child > ul.sub-menu.level-1 > li.has-child ul.sub-menu li a:hover {
      color: #fff;
      background-color: @color-main;
    }
  }
}

// Style nav include this file
@import "../components/top-menu.less";
