.full-theme {
  // Top search
  .top-search {
    background-color: #f0f0f0;
  }

  .top-search-row {

    .btn-l.s {
      margin-top: 0;
    }

    margin-top: 0;
    padding: 25px 10px 15px 10px;
    width: 100%;
    font-size: @text-s5;
    form {
      .inp.inp-txt {
        background-color: #ffffff;
      }
    }
    .cln ~ .s-rw {
      float: none;
    }

    .cln {
      &.s-rw {
        margin-right: 0;
      }
      &+ .s-rw {
        display: inline-flex;
        align-items: baseline;
        .lb-range,
        label:not([style="display: none;"]) {
          display: block!important;
          margin-right: 34px!important;
        }
        // Check box offer
        & + .s-rw {
          label {
            cursor: pointer;
            cursor: hand;
            display: inline-block;
            margin: 0 0 10px 0;
            width: auto;
            font-size: 15px;
          }
          input {
            margin: 0 10px 0 0;
          }
        }
      }
    }

    @media (min-width: 1220px) {
      .cln {
        & + .s-rw {
          margin-left: 10px;
        }
      }
    }
    .el-blk {
      margin-bottom: 10px;
    }

    // Update search item
    @media (min-width: 481px) {
      .el-blk,
      .calendar-ipt span,
      .event-search {
        width: ~"calc(1220px/5)!important";
      }
    }
    .calendar-ipt {
      span {
        margin-right: 10px;
        &:nth-child(2) {
          margin-right: 0;
        }
      }
      input[name="end_date"] {
        margin-right: 0!important;
      }

      .fa {
        top: 50%;
        transform: translateY(-50%);
      }

    }

    // Update icon date-timepicker
    @media (min-width: 481px) {
      .calendar-ipt {
        .fa {
          &.ico-s {
            left: 43%;
          }
          &.ico-e {
            left: 94%;
          }
        }
      }
    }

    .s-rw {
      .lst-lik {
        margin-right: 10px;
        a {
          margin: 0 1px 5px 0;
          padding: 8px 20px;
          font-size: 15px;
        }
      }
    }
    .sub-blk {
      background: transparent;
      float: right;
      display: flex;
      width: 242px;
      height: 40px;
      margin-top: 0;

      .btn.btn-l {
        .btn-outline;
        flex: 1;
        display: block;
        width: initial;
        margin-top: 0!important;
        background: transparent!important;
        margin-right: 0;
        &:hover {
          color: #fff!important;
          background-color: @color-main!important;
        }
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
    .form-event {
      .s-rw {
        .lst-lik span.no-line {
          font-size: 15px;
          text-transform: capitalize;
          border: 0;
          padding-left: 0;
          & ~ a {
            padding: 8px 10px;
            text-align: center;
            width: 40.7px;
          }
        }
      }
    }

    .btn.btn-l {
      display: none;
      &.s {
        background-color: @color-main;
      }
      .btn-fill;
    }

    input,
    select {
      padding: 0 10px;
      font-size: 15px;
    }

    // Custom for real backend
    #search-auto-complate-append-here-header {
      width: auto;
      margin-right: 0;
    }
    .cln + .s-rw + .s-rw + div:not(.sub-blk) {
      display: flex;
      float: right;
    }
    .form-event .s-rw .lst-lik span.no-line ~ a {
      padding: 8px 9px;
    }
    .cln + .s-rw .lb-range, .top-search-row .cln + .s-rw label {
      margin-right: 43px!important;
    }
    .offers {
      display: inline;
      width: auto;
      margin-right: 0;
      margin-top: 0;
      margin-left: 0;
      float: none;
      font-size: 15px;
    }
    .wrap-form-action {
      float: right;
    }

    .cln + .s-rw + .s-rw + .s-rw.apl-filter-location {
      margin-left: 10px;
    }

    .cln + .s-rw + .s-rw + .s-rw.apl-filter-location {
      display: inline-block;
      float: none;
      input[type="checkbox"] {
        margin-top: 0px;
        margin-right: 10px;
      }
    }
    .s-rw.apl-filter-location {
      input[type="checkbox"] {
        margin-top: 5px;
        margin-bottom: 0px;
      }
    }
  }

  @media (max-width: 767px) {

    .top-search-row {
      .btn.btn-l {
        display: block;
      }
      .event-search {
        display: block;
        margin-right: 0;
        width: ~"calc(100% - 50px)"!important;
        margin-bottom: 15px;
      }

      .cln {

        & + .s-rw {
          flex-wrap: wrap;
          .lb-range,
          label {
            width: 100%!important;
            margin-bottom: 10px!important;
          }
        }
      }
      .s-rw .lst-lik a {
        font-size: 13px;
      }
      .sub-blk {
        margin-top: 0;
        width: auto;
        flex: 1;
      }

      // Custom for real backend
      #search-auto-complate-append-here-header {
        width: ~"calc(100% - 52px)"!important;
        margin-right: 0;
        margin-bottom: 15px;
        #search-by-keyword {
          width: 100%!important;
          margin: 0;
        }
      }
      .wrap-form-action {
        width: 100%;
        display: flex;
      }

    }
  }


  @media (max-width: 600px) {
    .top-search-row {
      .form-event {
        .s-rw {
          .lst-lik span.no-line {
            display: block;
            margin: 0 0 0 10px;
            margin-left: 0;
          }
        }
      }

      .wrap-form-action {
        .sub-blk {
          width: auto;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }

    }
  }

  @media (max-width: 480px) {
    .top-search-row {
      .cln + .s-rw + .s-rw + .s-rw.apl-filter-location {
        margin-left: 0px;
      }
    }
  }

  @media (min-width: 481px) {
    .top-search-row {
      .el-blk-quicksearch{
        display: none;
      }
    }
  }

  @media (max-width: 480px) {
    .top-search-row {
      .el-blk-quicksearch {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        label {
          flex: 1;
          min-width: 100%;
          margin-bottom: 10px;
        }    
        .list-quicksearch {
          min-width: 100%;
          flex: 1;
          display: flex;
          margin-bottom: 10px;
          flex-wrap: wrap;
          a {
            display: inline-block;
            border: 2px solid #4c2b65;
            color: #000;
            min-width: 32%;
            padding-top: 8px;
            padding-bottom: 8px;
            text-align: center;
            font-weight: bold;
            margin-bottom: 2px;
            margin-right: 5px;
            font-size: 14px;
            &:last-child {
              margin-right: 0px;
            }
          }
          .btn-artpass {
            border-color: #ed3324;
            color: #ed3324;
            background-color: #fff;
          }
          .active {
            color: #fff;
            background-color: #ed3324;
          }
        }
      }
    }
  }
  @media (max-width: 380px) {
    .top-search-row {
      .el-blk-quicksearch {
        .list-quicksearch {
          a {
            font-size: 13px;
          }
        }
      }
    }
  }
  @media (max-width: 336px) {
    .top-search-row {
      .el-blk-quicksearch {
        .list-quicksearch {
          a {
            font-size: 11px;
          }
        }
      }
    }
  }  
}