/* Search Event Map */
body.full-theme {
    .search-bkl {
        .search-map--event {
            border-bottom: 1px solid #ddd;
            margin-bottom: 10px;
            .blk-map-content {
                width: 100%;
                height: 500px;
                img {
                    max-width: 100%;
                    height: 100%;
                }
            }
        }
        .blk-maps-events-filter {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .blk-maps-events-filter {
        padding: 10px 0px;
        .maps-events-filter--result {
            font-size: 16px;
        }
        .maps-events-filter--view {
            a {
                display: inline-block;
                text-transform: uppercase;
                color: #fff;
                padding: 10px;
                background-color: #086dad;
                font-weight: 700;
                font-size: 14px;
                &:hover {
                    background-color: @color-main;
                }
                & + a {
                    margin-left: 5px;
                } 
            }
            .octave-disabled {
                background-color: #999999;
                pointer-events: none;
                &:hover {
                    background-color: #999999;
                }
            }
        }
    }
    .blk-event-map-item {
        .info-content {
            .event-map-desc {
                float: left;
                min-width: 90%;
                margin-left: 10px;
                margin-right: 10px;
                height: 37px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                p {
                    line-height: 17px;
                }
            }
        }
    }
    nav.searching-list {
        &.blk-event-map-item {
            float: left;
            width: 100%;
            border-bottom: 1px solid #ddd;
            li {
                .info-content {
                    .ev-tt {
                        margin-top: 0px;
                    }
                    .ico-date {
                        margin-top: 0px;
                    }
                    .meta {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }

    nav.searching-list {
        &.blk-event-map-item {
            li:hover {
                background-color: #cccccc;
                .info-content {
                    .event-map-desc {
                        color: #fff;
                    }
                }
            }
        }
    }
    
    @media (min-width: 959px) {
        nav.searching-list.blk-event-map-item {
            li {
                .info-content {
                    .searchdate {
                        .sch-date {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        nav.searching-list {
            &.blk-event-map-item {
                li {
                    .info-content {
                        .search-info {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 886px) {
        .search-bkl {
            .blk-maps-events-filter {
                display: block;
            }
        }
        .blk-maps-events-filter {
            .maps-events-filter--result {
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width: 768px) {
        .search-bkl {
            .search-map--event {
                .blk-map-content {
                    height: 400px;
                }
            }
        }
    }
    @media (max-width: 668px) {
        .search-bkl {
            .search-map--event {
                .blk-map-content {
                    height: 350px;
                }
            }
        }
    }
    @media (max-width: 570px) {
        .blk-maps-events-filter {
            .maps-events-filter--view {
                a {
                    display: block;
                    text-align: center;
                    + a {
                        margin-top: 10px;
                        margin-left: 0px;
                    }
                }
            }
        }
    }
    @media (max-width: 345px) {
        nav.searching-list.blk-event-map-item {
            li {
                margin-bottom: 20px;
            }
        }
    }
}
body.full-theme {
    .s-rw.apl-filter-location {
        .by_my_location.has-map-icon {
            position: absolute;
            opacity: 0;
            width: 21px;
            height: 21px;
            margin: 0px;
            transform: scale(0);
            & + label {
                position: relative;
                cursor: pointer;
                padding: 0;
                margin-bottom: 0;
                color: #666;
            }
            & + label:before {
                content: '\f041';
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: translate(0, 0);
                width: 20px;
                height: 20px;
                line-height: 20px;
                background: #fff;
                color: #666;
                display: inline-block;
                border: 1px solid #999;
                margin-right: 10px;
                text-align: center;
            }
            &:checked + label:before {
                background-color: #fcb234;
                border: 1px solid #fcb234;
                color: #fff;
            }
        }
    }
    #search-event-m-t {
        .s-rw.apl-filter-location {
            &.el-blk {
                line-height: 36px;
            }
            label.map-icon-ipt {
                margin-bottom: 0px;
                display: inline-block;
            }
        }
    }

    @media (max-width: 480px) {
        #search-event-m-t {
            .s-rw.apl-filter-location {
                &.el-blk {
                    line-height: normal;
                }
            }
        }
    }
}

/*HotFix*/
@media (max-width: 480px) {
    body.full-theme {
        .search-bkl {
            &.wrap-search-map-event {
                display: block;
            }
        }
    }
}