/*Update Search Event Full-Theme*/

body.full-theme {
    nav.search-list-thumb {
        li {
            height: 315px;
            .div-one {
                .search-info {
                    .ev-tt {
                        -webkit-line-clamp: 4;
                        max-height: 80px;
                    }
                }
                &:hover {
                    .search-info {
                        .ev-tt {
                            -webkit-line-clamp: 6;
                            max-height: 120px;
                        }
                    }
                }
            }
        }
    }
    
    @media (max-width: 1280px) {
        h1.p-ttl {
            padding-right: 0px;
        }
        .astro-detail {
            .p-ttl {
                padding-right: 0px;
            }
        }
    }

    @media (max-width: 700px) and (min-width: 481px) {
        nav.search-list-thumb {
            li {
                .div-one {
                    .search-info {
                        .ev-tt {
                            max-height: 80px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        nav.search-list-thumb {
            li {
                .div-one {
                    .search-info {
                        .ev-tt {
                            max-height: 80px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 320px) {
        nav.search-list-thumb {
            li {
                .div-one {
                    .search-info {
                        .ev-tt {
                            max-height: 80px;
                        }
                    }
                }
            }
        }
    }
}
/*Increase font-size of event detail*/
body.full-theme {
    #apl-event-more-time ul li {
        font-size: 15px;
    }
}

body.full-theme {
    nav.searching-list {
        li {
            .info-content {
                &.has-discount--event {
                    .search-info {
                        padding-right: 130px;
                        margin-right: 0px;
                        .apl-event-discount-description-fe {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                    .discount-icon-event {
                        position: absolute;
                        top: 44%;
                        right: 0;
                        transform: translateY(-50%);
                        text-align: right;
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            &.apl-search-event-list {
                .info-content {
                    &.has-discount--event {
                        .apl-event-date {
                            padding-right: 130px;                            
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        nav.searching-list {
            li {
                .info-content {
                    &.has-discount--event {
                        .search-info {
                            padding-right: 0;
                        }
                        .discount-icon-event {
                            display: none;
                        }
                    }
                }
                &.apl-search-event-list {
                    .info-content {
                        &.has-discount--event {
                            .apl-event-date {
                                padding-right: 0;                            
                            }
                        }
                    }
                }
            }
        }
    }
}
