body.full-theme {
  .r-blk {
    .newsletter-frm {
      display: flex;


    }

    .btn.btn-l.dt {
      &:hover {
        border-color: @color-green;
      }
    }
  }

  .dt-row {
    &:nth-last-child(2) {
      border-bottom: none;
    }
  }
}