
/*

<div class="top-blk social-top" style="display: block;">
    <a href="https://vn.linkedin.com/" target="_blank" class="lk" style=""><i class="fa fa-linkedin fa-lg">&nbsp;</i></a>
    <a href="https://plus.google.com/" target="_blank" class="go" style=""><i class="fa fa-google-plus fa-lg">&nbsp;</i></a>
    <a href="https://www.facebook.com/" target="_blank" class="fb" style=""><i class="fa fa-facebook fa-lg">&nbsp;</i></a>
    <a href="https://twitter.com/" target="_blank" class="tu" style=""><i class="fa fa-twitter fa-lg">&nbsp;</i></a>
    <a href="https://www.youtube.com/" target="_blank" class="yt" style=""><i class="fa fa-youtube fa-lg">&nbsp;</i></a>
    <a href="https://vimeo.com/" target="_blank" class="vm" style=""><i class="fa fa-vimeo-square">&nbsp;</i></a>
</div>
*/

.sticky-social {
  position: fixed;
  left: 0;
  z-index: 1000;
  top: 300px;

  a {
    cursor: hand;
    cursor: pointer;
    width: 45px;
    height: 45px;
    display: flex;
    background-color: @color-main;
    padding-left: 12px;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    font-size: 22px;
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-sizing: border-box;
    span {
      font-size: 15px;
      margin-left: 11px;
      color: @color-main;
      display: inline-block;
      opacity: 0;
      transform: scale(0);
    }

    i.fa-youtube-play {
      margin-left: -1px;
    }

    &:hover {
      background-color: #ffffff;
      color: @color-main;
      border-bottom: 2px solid #005daa;
      width: 120px;
      span {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
        transition: opacity 0.1s ease-in;
        transition-delay: 0.1s;
      }
    }
  }
}


@media (min-width: 768px) {
  .sticky-social {
    display: block;
  }
}



