/**
Top menu
 */

body.full-theme:not(.apl-default-header) {
  //tophead, hover padding
  @media (min-width: 768px) {
    .mn-menu {
      margin-left: 10px;
      color: #333333;
      display: flex;
      align-items: stretch;
      // level 1 menu
      > ul {
        font-size: 0;
        display: flex;
        width: 100%;
        > li {
          display: inline-block;
          flex-shrink: 0;
          > a {
            padding: 0 10px;
            display: inline-flex;
            align-items: center;
            height: 100%;
          }
          &:hover {
            background-color: rgba(0, 0, 0, 0.1);
            //border-bottom: 3px solid #000000;
            > a {
              color: @color-main;
            }
          }
          &.has-child {
            > a:after {
              .fa-icon;
              .fa-caret-down;
              transform: translate(0, -2px);
              padding-left: 9px;
            }
          }
        }
      }

      ul {
        > li {
          cursor: pointer;
          position: relative;
          text-transform: uppercase;
          &:hover {
            > .sub-menu {
              display: block !important;
              visibility: visible !important;
              opacity: 1 !important;
            }
          }

          &.cur {
            background-color: @color-main;
            > a {
              color: #ffffff;
            }
          }

          a {
            font-size: @text-s4;
            color: inherit;
          }
        }

        .sub-menu {
          position: absolute;
          min-width: 236px;
          background-color: #ffffff;
          z-index: 1001;
          padding: 8px;
          border-radius: 2px;
          color: #333333;
          .depth-shadow;

          // DEFAULT HIDE
          display: none !important;
          visibility: hidden !important;
          opacity: 0 !important;

          a {
            padding: 8px 5px;
            display: block;
            line-height: 1.4;
            font-size: @text-s5;
            border-radius: 2px;
            position: relative;
            color: inherit;

            .fa-caret-right {
              float: right;
              position: absolute;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          > li {
            position: relative;
            &.cur,
            &:hover {
              > a {
                background-color: @color-main;
                color: #ffffff;
              }
            }
            &.dropdown,
            &.has-child {
              > a:after {
                .fa-icon;
                .fa-caret-right;
                padding-left: 7px;
                margin-top: 2px;
                float: right;
              }
            }
          }
        }

        .sub-menu.level-1 {
          left: 0;
          top: 100%;
          margin-top: 3px;
        }
        .sub-menu.level-2 {
          left: 100%;
          top: 0;
          margin-right: -10px;
          color: #fff;
        }
      }
    }

  }
  // New update header bookmark-view and login
  @media (min-width: 768px) {
    // Devider spacing
    .top-head:before {
      content: '';
      order: 94;
      margin-left: auto;
    }
  }
}

/* Top menu right*/
@media (min-width: 769px) {
  body.full-theme {
    #topbar.fixed-topBar {
      + .header.header--fixed {
        top: 35px;
        margin-top: 0;
      }
    }
  }

  body.full-theme:not(.apl-default-header) {
    .header {
      .top-head .logo {
        img {
          transition: all 0.4s ease-in-out;
        }
      }
      &.header--fixed {
        position: fixed;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 1100;
        background-color: #fff;
        height: auto;
        top: 0;
        transition: all 0.4s ease-in-out;
        .top-head .logo {
          img {
            max-width: 90%;
            transition: all 0.4s ease-in-out;
          }
        }
      }
    }
  }
}

body.full-theme:not(.apl-default-header) {
  @media (min-width: 768px) {
    &.header-bar--right {
      .header {
        .top-blk.login-top {
          a {
            border: 0;
            // text-indent: -9999px;
            // white-space: nowrap;
            min-width: auto;
            // border-right: 1px solid #a09d9d;
            font-size: 10px !important;
            margin-left: 0px;
            padding: 0;
            flex-wrap: wrap;
            justify-content: center;
            &::before {
              font: normal normal normal 14px/1 FontAwesome;
              display: block;
              width: 100%;
              font-size: 18px !important;
              margin-bottom: 2px;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              transform: translate(0, 0);
              text-indent: 0;
              float: left;
              color: #666666;
              border-right: 1px solid #a09d9d;
              padding-top: 3px;
              padding-bottom: 3px; 
            }
            &:first-child {
              &::before {
                content: '\f090';
              }
            }
            &:last-child {
              background-color: transparent;
              &::before {
                content: '\f234';
              }
            }
            &:hover {
              background-color: transparent;
              border-color: #a09d9d;
              color: #333333;
              &::before {
                color: @color-main;
                transition: color 0.5s;
              }
            }
          }
        }
      }
    }

    .main-menu {
      .mn-menu {
        .nav {
          > li {
            max-width: 188px;
          }
        }
      }
    }

    &.header-bar--right {
      .header {
          .top-head:before {
            margin-left: 0px;
          }
      }
    }

    &.header-bar--right {
      .header {
        .top-head {
          .top-blk {
            &.search-box {
              margin-left: 0;
              padding-left: 8px;
            }
          }
          .bookmark-view {
            margin-left: 0px;
            margin-right: 0;
            padding-left: 8px;
            padding-right: 8px;
            // border-right: 1px solid #a09d9d;
            .bookmark-view__button {
              font-size: 14px;
            }
          }
          .mobile-menu {
            margin-left: auto;
            width: auto;
            margin-right: 65px;
          }
        }
      }
      .top-head {
        .top-blk.search-box {
          text-align: center;
          span.search-lbl {
            font-size: 10px !important;
            color: #333333;
            display: block;
            margin-top: 7px !important;
          }
          &:before {
            display: block;
            width: 100%;
            font-size: 18px !important;
          }
        }
        .top-blk.search-box:hover {
          cursor: pointer;
          &::before {
            color: #429ad4;
            transform: color 0.5s;
          }
        }
      }
    }
    &.header-bar--right {
      .header {
        .top-head {
          .bookmark-view ~ .top-blk.login-top {
            a:first-child {
              &::before {
                border-left: 1px solid #a09d9d;
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1023px) {
    &.header-bar--right {
      .header {
        .top-head {
          .mobile-menu {
            margin-left: auto !important;
          }
        }
      }
    }
  }

  @media (max-width: 1111px) and (min-width: 768px) {
    &.header-bar--right {
      .header {
        .top-head:before {
          margin-left: auto;
        }
      }
    }

    &.header-bar--right {
      .header {
        .top-head {
          .mobile-menu {
            margin-right: 0;
            width: 100%;
            .main-menu {
              .mn-menu {
                ul.nav {
                  justify-content: flex-start;
                }
                .nav {
                  > li {
                    width: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 767px) and (min-width: 481px) {
    &.header-bar--right {
      .top-head .bookmark-view {
        margin-top: 35px;
      }
    }
  }

  @media (max-width: 767px) {
    .tablet-show {
      &.pc-show {
        display: block;
      }
    }

    &.header-bar--right {
      .header {
        .top-blk.login-top {
          padding-top: 10px;
          a {
            display: inline-block;
            border-radius: 0px;
            margin-right: 0px;
            padding-right: 10px;
            padding-left: 10px;
            &:last-child {
              border-right: 1px solid #a09d9d;
            }
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    &.header-bar--right {
      .header {
        .top-blk.login-top {
          padding-top: 0px;
          a {
            &:last-child {
              border-right: 0px;
            }
          }
        }
        .bookmark-view {
          margin-right: 8px;
          padding-left: 10px;
          .bookmark-view__button {
            font-size: 14px;
          }
          & + .top-blk.login-top {
            a {
              &:first-child {
                border-left: 1px solid #a09d9d;
              }
            }
          }
        }
      }
    }
  }
}

body.full-theme.apl-default-header {
  @media (min-width: 768px){
    .main-menu {
      &.pc-show.scroll-with-page{
        position: static;
        &.main-menu--fixed {
          position: fixed;
          left: 0;
          right: 0;
          z-index: 1100;
          top: 35px; /*topbar height*/
        }
      }
    }

    /*when have admin bar*/
    &.admin-bar {
      .main-menu {
        &.pc-show.scroll-with-page {
          &.main-menu--fixed {
            /*topbar height + adminbar height*/
            top: @topbar-height + @admin-bar-height;
          }
        }
      }
    }
  }
}

/* Custom css for left top head show icon */
body.full-theme:not(.apl-default-header), body.full-theme.apl-default-header {
  @media (min-width: 768px) {
    &.oc-masthead-group-icons {
      .header {
        .top-blk.login-top {
          a {
            border: 0;
            min-width: auto;
            font-size: 10px !important;
            margin-left: 0px;
            padding: 0;
            flex-wrap: wrap;
            justify-content: center;
            &::before {
              font: normal normal normal 14px/1 FontAwesome;
              display: block;
              width: 100%;
              font-size: 18px !important;
              margin-bottom: 2px;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
              transform: translate(0, 0);
              text-indent: 0;
              float: left;
              color: #666666;
              border-right: 1px solid #a09d9d;
              padding-top: 3px;
              padding-bottom: 3px; 
            }
            &:first-child {
              &::before {
                content: '\f090';
              }
            }
            &:last-child {
              background-color: transparent;
              &::before {
                content: '\f234';
              }
            }
            &:hover {
              background-color: transparent;
              border-color: #a09d9d;
              color: #333333;
              &::before {
                color: @color-main;
                transition: color 0.5s;
              }
            }
          }
        }
      }
    }
    &.oc-masthead-group-icons {
      .header {
        .top-head {
          .top-blk {
            &.search-box {
              margin-left: 0;
              padding-left: 8px;
            }
          }
          .bookmark-view {
            margin-left: 0px;
            margin-right: 0;
            padding-left: 8px;
            padding-right: 8px;
            .bookmark-view__button {
              font-size: 14px;
            }
          }
        }
      }
      .top-head {
        .top-blk.search-box {
          text-align: center;
          span.search-lbl {
            font-size: 10px !important;
            color: #333333;
            display: block;
            margin-top: 7px !important;
          }
          &:before {
            display: block;
            width: 100%;
            font-size: 18px !important;
          }
        }
        .top-blk.search-box:hover {
          cursor: pointer;
          &::before {
            color: #429ad4;
            transform: color 0.5s;
          }
        }
      }
    }
    &.oc-masthead-group-icons {
      .header {
        .top-head {
          .bookmark-view ~ .top-blk.login-top {
            a:first-child {
              &::before {
                border-left: 1px solid #a09d9d;
              }
            }
          }
        }
      }
    }
  }
}
/* Custom css for full top head show icon */
body.full-theme.apl-default-header {
  @media (min-width: 768px) {
    &.oc-masthead-group-icons {
      .top-head {
        .top-blk.login-top {
          display: flex;
        }
        .top-blk.search-box {
          padding-top: 1px;
          margin: 0;
          font-size: 16px;
          margin-left: 8px;
          cursor: pointer;
          width: auto;
          &:before {
            .fa-icon;
            content: "\f002";
            transform: rotate(90deg);
            font-size: 18px !important;
          }
          span.search-lbl {
            color: #999;
            font-weight: 600;
          }
          &.show {
            .form-search {
              transform: translateY(0);
              opacity: 1;
              visibility: visible;
            }
          }
          // Absolute search
          .form-search {
            visibility: hidden;
            opacity: 0;
    
            position: absolute !important;
            transform: translateY(-10px);
            transition: all 0.1s ease-in-out;
            right: 0;
            width: 400px;
            z-index: 10;
            padding: 5px;
            background: #fff;
            top: 100%;
            box-shadow: 0 2px 2px 0 rgba(59, 14, 14, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    
            display: flex;
            input {
              width: auto;
              flex: 1;
              display: block;
              height: 30px;
              font-size: 16px;
              padding: 0 10px;
            }
            button {
              font-size: 1em;
              padding: 0 5px 0 10px;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width:768px) {
  body.full-theme {
    &.apl-default-header.oc-masthead-group-icons {
      .top-head {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        .logo {
          margin-right: auto;
          width: auto;
        }
        .top-blk.login-top {
          margin-top: 0px;
          padding-top: 7px;
        }
        .mobile-menu {
          display: none !important;
        }
      }
      .main-menu.pc-show {
        display: block;
      }
    }
  }
}
