body.full-theme {
  #topbar {
    z-index: 9999;

    &:not(.fixed-topBar) {
      position: static!important;
    }


    .inner {
      height: 100%;
      width: auto;
      max-width: initial;
      @media (min-width: 768px) {
        padding: 0 15px;
      }
    }
    .hamburger-btn {
      padding-left: 20px;
    }
    //&.topbar--static {
    //  position: static!important;
    //}
  }
}

/*Topbar global*/
body.full-theme {
  #topbar {
    height: 35px;
    .topbar-content {
      height: 35px;
    }
    span.logo-banner {
      a {
        max-height: 35px;
        img {
          max-height: 35px;
        }
      }
    }
    .top-blk.login-top.topbar {
      a {
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        height: 35px;
        line-height: 35px;
        &:last-child {
          margin-left: 0;
          padding-left: 8px;
          border-left: 1px solid #4e4b4a;
        }
        &:hover {
          transition: color 0.5s;
        }
      }
    }
  }
  @media (min-width: 769px) {
    #topbar {
      &.fixed-topBar {
        position: fixed !important;
      }
    }
  }

  @media (max-width: 640px) {
    #topbar {
      height: 70px;
      .topbar-content {
        height: 70px;
      }
    }
  }
}

body.full-theme {
  #topbar.scroll-with-page {
    &:not(.fixed-topBar) {
      position: static;
    }

    + header {
      top: 35px;
      margin-top: 0;
    }
  }
}


body.full-theme:not(.apl-default-header) {
  @media (max-width: 767px) {
    #topbar {
      .hamburger-btn {
        position: relative;
        z-index: 150;
      }
    }
    &.toggleSideBar {
      .hamburger-menu {
        .backdrop {
          z-index: 90;
        }
      }
    }
    &.toggleSideBar .hamburger-menu .mobile-navi {
      z-index: 100;
    }
  }
}

/**
Case static
 */

body.full-theme.static-demo {
  #topbar.scroll-with-page {
    + header {
      top: 35px;
    }
  }
}

/**
Case with admin bar
 */

body.full-theme.admin-bar {
  #topbar.scroll-with-page {
    top: @admin-bar-height;
    + header {
      /*topbar height + adminbar height*/
      top: 35px + @admin-bar-height;
    }
  }
}

/**
HEADER WITH CUSTOM MOBILE
*/

@media (min-width: 767px) {
  body.full-theme.oct__hamburger-mobile {
    .header {
      .top-head.top-head__custom-mobile {
        display: none !important;
      }
      .top-head.top-head__oct-mobile {
        .logo {
          .btn-bars__oct, .btn-search__oct {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  // Start: Todo fix if header show adminbar
  html.no-js {
    margin-top: 0px !important;
  }
  * html.no-js body {
    margin-top: 0px !important
  }
  // End: Todo fix if header show adminbar

  body.full-theme.oct__hamburger-mobile:not(.apl-default-header) {
    .top-search.ts-mobile {
      .top-search-row {
        padding-top: 15px;
      }
    }
    .header {
      .top-head.top-head__oct-mobile {
        .group-buttons {
          display: none;
        }
        .login-search {
          margin-bottom: 0px;
        }
      }
    }
  }
  body.full-theme.oct__hamburger-mobile {
    .header {
      .top-head.top-head__oct-mobile {
        .logo {
          width: 100%;
          display: flex;
          justify-content: space-between;
          text-align: center;
          align-items: flex-start;
          margin-bottom: 20px;
          a {
            &:first-child {
              display: flex;
              order: 1;
            }
            img {
              width: auto;
            }
          }
          .btn-bars__oct {
            display: flex;
            order: 0;
            font-size: 28px;
            color: #000;
            margin-top: 5px;
            .fa {
              font-weight: normal;
            }
          }
          .btn-search__oct {
            display: flex;
            order: 2;
            font-size: 28px;
            color: #000;
            margin-top: 5px;
            .fa {
              font-weight: normal;
            }
          }
        }
        .top-blk {
          &.login-top {
            display: none !important;
          }
          &.social-top {
            display: none !important;
          }
          &.search-box {
            display: none;
            button.btn-link {
              padding-top: 3px;
            }
            &.show-search__box-mobile {
              display: block;
              width: 100%;
              position: absolute;
              top: 100%;
              z-index: 600;
              padding-left: 10px;
              padding-right: 10px;
              margin-bottom: 0;
            }
          }
        }
        .mobile-menu {
          display: none;
        }
      }
      .top-head.top-head__custom-mobile {
        .logo {
          display: none !important;
        }
        .top-blk {
          &.search-box {
            display: none !important;
          }
        }
        .mobile-menu {
          .mb-menu {
            display: none !important;
          }
        }
      }
    }
  }
  body.full-theme.oct__hamburger-mobile {
    .header {
      position: relative;
      .top-head.top-head__custom-mobile {
        position: absolute;
        top: 0;
        z-index: 610;
        left: 0;
        width: 300px;
        transform: translateX(-351px) !important;
        transition: transform 0.4s;
        &.show-oct__custom-sidebar {
          transform: translateX(0) !important;
          .main-menu.tablet-show {
            &.show {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      .top-head.top-head__custom-mobile {
        display: flex !important;
        flex: 0 0 100%;
        flex-wrap: wrap;
        background: #dddddd;
        padding: 0 !important;
        border-width: 0 1px 1px 0px;
        border-style: solid;
        border-color: #008c41;
        .top-blk {
          &.social-top {
            display: flex;
            flex: 0 0 100%;
            margin: 0;
            padding: 0;
            order: 98;
            width: 100%;
            padding: 9px 0;
            justify-content: center;
            z-index: 99;
            border-top: 1px solid #666;
            a {
              margin: 0 15px 0 0;
              background: #fff;
              border-radius: 50%;
              line-height: 10px;
              border: 1px solid #999;
              &:last-child {
                margin-right: 0px;
              }
            }
            a {
              text-align: center;
              i {
                vertical-align: -11px;
                width: 15px;
                height: 17px;
                display: inline-grid;
              }
            }
          }
          &.login-top {
            display: flex;
            flex: 0 0 100%;
            margin: 0;
            padding: 0;
            order: 99;
            width: 100%;
            border-top: 1px solid #008c41;
            height: 50px;
            line-height: 50px;
            background-color: #fff;
            z-index: 110;
            a {
              font-weight: bold;
              width: 50%;
              color: #000;
              margin: 0;
              padding: 0 10px;
              font-size: 14px;
              &:last-child {
                border-left: 1px solid #008c41;
                border-right: 0;
                border-radius: 0;
                justify-content: flex-start;
              }
            }
          }
        }
        .group-buttons {
          display: flex;
          order: 97;
          a {
            border-radius: 0;
            border: 0px;
            margin-bottom: 0px;
            border-top: 1px solid #666;
            padding-top: 15px;
            padding-bottom: 15px;
            height: auto;
            font-weight: bold;
            line-height: 18px;
            justify-content: flex-start;
            text-align: left;
            color: #666;
            font-size: 14px;
          }
        }
        .login-search {
          display: flex;
          margin-bottom: 0;
          order: 99;
        }
      }
      .top-head.top-head__custom-mobile {
        .mobile-menu {
          float: none;
          width: 100%;
          display: flex;
          z-index: 110;
          order: 0;
          .main-menu.tablet-show {
            position: relative !important;
            right: auto;
            display: flex;
            flex: 0 0 100%;
            flex-wrap: wrap;
            transform: scale(1);
            .inner {
              width: 100%;
            }
          }
        }
        .btn-closed-bars__oct {
          position: absolute;
          background-color: #008c41;
          font-weight: bold;
          font-size: 34px;
          top: 0;
          right: -52px;
          width: 51px;
          height: 51px;
          text-align: center;
          line-height: 51px;
          color: #fff;
        }
      }
      .top-head.top-head__custom-mobile {
        .main-menu.tablet-show {
          &.show {
            display: none;
            opacity: 0;
            visibility: hidden;
          }
        }
        .main-menu.tablet-show {
          visibility: visible;
          opacity: 1;
          z-index: 100;
          top: 0;
          .mn-menu {
            .nav {
              > li {
                background-color: #fff;
                a {
                  border-top: 1px solid #666;
                  padding-top: 15px;
                  padding-bottom: 15px;
                  line-height: 1.4;
                  color: #000;
                  font-weight: bold;
                  font-size: 14px;
                }
              }
            }
          }
          .has-child {
            > ul.sub-menu.level-1 {
              li {
                border-left: 0;
                padding-left: 0;
              }
              a {
                padding-left: 10px;
                padding-right: 10px;
              }
            }
            > ul.sub-menu.level-1 {
              padding: 0;
              li {
                a {
                  padding-left: 30px;
                  font-size: 13px;
                }
                ul.sub-menu {
                  display: block;
                  width: 100% !important;
                  li {
                    a {
                      padding-left: 50px;
                      font-size: 12px;
                    }
                  }
                }
              }
            }
            > a {
              &:before, &:after {
                display: none;
              }
            }
          }
        }
        .main-menu.tablet-show {
          .mn-menu.has-toogle__menu-child {
            .nav {
              li.has-child {
                a {
                  position: relative;
                }
                > a {
                  &:before {
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                  }
                  &:before {
                    content: "\f105";
                    font-size: 20px;
                    color: #008c41;
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-weight: bold;
                  }
                  &:after {
                    display: none;
                  }
                }
                li.has-child {
                  a {
                    &:before {
                      display: none;
                    }
                  }
                }
              }
              > li.has-child {
                ul.sub-menu.level-1 {
                  padding-left: 0px;
                  display: none;
                  &.active__sub-menu {
                    display: block;
                    width: 100% !important;
                  }
                }
                a.active__icon {
                  &:before {
                    content: '\f107';
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  body.full-theme.oct__hamburger-mobile {
    .header {
      .top-head {
        &.top-head__oct-mobile {
          .mobile-menu {
            .main-menu {
              .mn-menu {
                .nav {
                  >li {
                    >a {
                      font-size: 16px;
                    }
                  }
                }
              }
            }
          }
        }
        .mobile-menu {
          .mn-menu {
            .nav {
              > li {
                > a {
                  i {
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .overlay__oct-mobile {
    opacity: 0;
    transform: opacity 0.4s;
    &.active-overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      background: gray;
      opacity: 0.5;
      margin-top: 0;
      z-index: 600;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

@media (max-width: 480px) {
  body.full-theme.oct__hamburger-mobile {
    .header {
      .top-head.top-head__oct-mobile {
        .logo {
          justify-content: space-around;
          a {
            &:first-child {
              img {
                height: 58px;
              }
            }
          }
          .btn-bars__oct, .btn-search__oct {
            font-size: 26px;
            margin-top: 3px;
          }
        }
      }
    }
  }
}
@media (max-width: 368px) {
  body.full-theme.oct__show-menu-item {
    .header {
      .top-head.top-head__oct-mobile {
        .mobile-menu {
          .main-menu.tablet-show {
            .mn-menu {
              .nav {
                > li {
                  > a {
                    padding-left: 0px;
                    i {
                      font-size: 13px;
                      padding-right: 3px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 368px) {
  body.full-theme.oct__hamburger-mobile {
    .header {
      .top-head.top-head__oct-mobile {
        .logo {
          a {
            &:first-child {
              img {
                height: 57px;
              }
            }
          }
        }
      }
    }
  }
  body.full-theme.oct__hamburger-mobile {
    .header {
      .top-head.top-head__custom-mobile {
        width: 265px;
        transform: translateX(-316px) !important;
        &.show-oct__custom-sidebar {
          transform: translateX(0) !important;
        }
      }
    }
  }
}

/**
HEADER CUSTOM MENU ITEM SHOW
*/
@media (max-width: 767px) {
  body.full-theme {
    &.oct__show-menu-box {
      .header {
        .top-head.top-head__oct-mobile {
          .mobile-menu {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}

/**
HEADER CUSTOM MENU LIST ITEM SHOW
*/
@media (max-width: 767px) {
  body.full-theme {
    &.oct__show-menu-item {
      .header {
        .top-head.top-head__oct-mobile {
          .mobile-menu {
            display: block;
            width: 100%;
            .mb-menu {
              display: none;
            }
            .main-menu.tablet-show {
              position: relative !important;
              top: 0;
              opacity: 1;
              visibility: visible;
              z-index: 600;
              transform: scale(1);
              nav.mn-menu {
                display: flex;
                flex: 0 0 100%;
                justify-content: center;
                ul.nav {
                  display: flex;
                  flex-wrap: wrap;
                  flex: 0 0 50%;
                  > li {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    margin-right: 0px;
                    margin-left: 0px;
                    margin-bottom: 2px;
                  }
                }
                .nav {
                  > li.has-child {
                      ul.sub-menu {
                        display: none;
                        &.show-full-sub__child {
                          display: block;
                        }
                        ul.sub-menu {
                          display: block;
                        }
                      }
                    ul.sub-menu.level-1.show-full-sub__child {
                      position: absolute;
                      height: auto;
                      width: 100% !important;
                      top: 100%;
                      background: #fff;
                      left: 0 !important;
                    }
                  }
                }
              }
              .mn-menu {
                .nav {
                  > li.has-child {
                    > a {
                      position: relative;
                    }
                    > a:after {
                      content: '';
                      position: absolute;
                      display: block;
                      width: 0px;
                      height: 0px;
                      border-style: solid;
                      border-width: 5px 5px 0 5px;
                      border-color: #fff transparent transparent transparent;
                      right: 10px;
                      top: 15px;
                    }
                    > a:after {
                      content: "";
                      border-color: #000 transparent transparent transparent;
                      right: -10px;
                      top: 10px;
                      border-width: 6px 3px 0 3px;
                    }
                    > a.active-show--child:after {
                      border-color: transparent transparent #000 transparent;
                      border-width: 0px 3px 6px 3px;
                    }
                  }
                }
                .nav {
                  > li {
                    a {
                      border-top: 0;
                      color: #000;
                    }
                    &.cur {
                      > a {
                        background: transparent;
                      }
                    }
                  }
                }
                .has-child {
                  > ul.sub-menu.level-1 {
                    > li.has-child {
                      > a:after {
                        border-color: #000 transparent transparent transparent;
                      }
                    }
                  }
                }
              }
              .has-child {
                > ul.sub-menu.level-1 {
                  li {
                    border-left: 0px;
                    padding-left: 0px;
                    a {
                      padding-right: 0px;
                    }
                  }
                  > li.has-child {
                    ul.sub-menu {
                      padding-left: 15px;
                      a {
                        font-weight: bold;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  body.full-theme.oct__show-menu-item {
    .header {
      .top-head.top-head__oct-mobile {
        .mobile-menu {
          .main-menu.tablet-show {
            .mn-menu {
              .nav {
                > li {
                  a {
                    font-size: 13px;
                  }
                }
                > li.has-child {
                  > a:after {
                    top: 12px;
                  }
                }
              }
            }
            nav.mn-menu {
              ul.nav {
                flex: 0 0 100%;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 336px) {
  body.full-theme.oct__show-menu-item {
    .header {
      .top-head.top-head__oct-mobile {
        .mobile-menu {
          .main-menu.tablet-show {
            .mn-menu {
              .nav {
                > li {
                  a {
                    font-size: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/**
HEADER CUSTOM MENU LIST ITEM HIDDEN
*/
@media (max-width: 767px) {
  body.full-theme {
    &.oct__hidden-menu-item {
      .header {
        .top-head.top-head__oct-mobile {
          .mobile-menu {
            display: none !important;
          }
        }
      }
    }
  }
}