#ui-id-1 .ui-menu-item .ui-state-active{
    color: #444 !important;
    background: none !important;
    font-weight: bold !important;
    border: none;
}

#ui-id-1 .ui-menu-item.ui-state-focus{
    margin : 0px;
}
