block vars
  -title="Artsopolis - Dashboard, Add Classified"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Add Classified
                    form(method="", action="")
                        .artist-blk
                            .el-blk.full
                                input(type="text", placeholder="Classified Name (*)", class="inp inp-txt")
                                .show-tip
                                    |Classified Name
                            .el-blk.full
                                .select-bkl
                                    select(class="event")
                                        option(value="0") Registered Organization/Business:
                                        option(value="") 1870 Art Center
                                        option(value="") 425 Auzerais Ave*
                                        option(value="") 9/10s of Reality Productions*
                                        option(value="") A Grape In The Fog
                                        option(value="") A Work of Heart  Studio
                                    .arrow-down
                                        <i class="fa fa-sort-desc fa-lg"></i>
                                .show-tip
                                    |Registered Organization/Business
                            .el-blk.full
                                input(type="text", placeholder="Other Organization/Business", class="inp inp-txt")
                                .show-tip
                                    |Other Organization/Business
                            .el-blk.full
                                input(type="text", placeholder="Address", class="inp inp-txt")
                                .show-tip
                                    |Address

                            .el-blk.full
                                input(type="text", placeholder="Email", class="inp inp-txt")
                                .show-tip
                                    |Email
                            .el-blk.full
                                input(type="text", placeholder="Website URL", class="inp inp-txt")
                                .show-tip
                                    |Website URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Fax", class="inp inp-txt")
                                    .show-tip
                                        |Fax
                                .hafl.fr
                                    input(type="text", placeholder="Phone", class="inp inp-txt")
                                    .show-tip
                                        |Phone
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="City", class="inp inp-txt")
                                    .show-tip
                                        |City
                                .hafl.fr
                                    input(type="text", placeholder="State", class="inp inp-txt")
                                    .show-tip
                                        |State
                            .el-blk.full
                                .date-picker
                                    input(type="text", size="12", id="c-s", class="inp inp-txt caldr", placeholder="Expiration date  (date your classified will be removed from website) (*)")
                                .show-tip
                                    |Expiration date (date your classified will be removed from website)(*)
                            .el-blk.full
                                textarea(placeholder="Description", class="inp-desc-event", name="resume", id="resume", rows="5" )
                                .show-tip
                                    |Description
                        .artist-blk
                            .title-bar-blk Classified Type
                            .access-list.artist
                                ul(class="access-listing")
                                    li
                                        ul(class="ACLlist")
                                            li
                                                input(type="checkbox")
                                                label Auditions
                                            li
                                                input(type="checkbox")
                                                label Call For Artists
                                            li
                                                input(type="checkbox")
                                                label Composer

                                    li
                                        ul(class="ACRlist")
                                            li
                                                input(type="checkbox")
                                                label Jobs
                                            li
                                                input(type="checkbox")
                                                label  Miscellaneous
                        .artist-blk
                            .title-bar-blk Contact Info
                            .el-blk.full
                                input(type="text", placeholder="Contact Name", class="inp inp-txt")
                                .show-tip
                                    |Contact Name
                            .el-blk.full
                                input(type="text", placeholder="Contact Email", class="inp inp-txt")
                                .show-tip
                                    |Contact Email
                            .el-blk.full
                                input(type="text", placeholder="Contact Phone", class="inp inp-txt")
                                .show-tip
                                    |Contact Phone
                        .artist-blk
                            .title-bar-blk More About this Classified
                            span fills in with "additional fields tool"
                        .artist-blk
                                .title-bar-blk PRIMARY IMAGE & PHOTOS
                                nav(class="nav-tab")
                                    ul(class="tab-image-list")
                                        li(class="selected")
                                            a(href="#", data-id="1") PRIMARY IMAGE
                                        li
                                            a(href="#", data-id="2") GALLERY
                                div(class="gallery-bkl", data-target="1")
                                    .upload-img
                                        button(class="btn-noW", id="select-image") UPLOAD IMAGE
                                    .crop-img
                                        .upload-bar
                                            .upl-tt
                                                a
                                                    .l-outer
                                                        .l-inner
                                                    .r-outer
                                                        .r-inner
                                                    span Crop Photos
                                            .upl-btn
                                                button(class="btn-noW", id="save-crop") SAVE
                                                button(class="btn-noW", id="cancel-crop") CANCEL
                                        .img-crop
                                        .crop-tool
                                            img(src="../images/crop-tool.png")
                                div(class="gallery-bkl", data-target="2")
                                    .upload
                                        .upload-bar
                                            .upl-tt
                                                .upload
                                                    a
                                                        .up-img
                                                            .triangle-up
                                                            .line-up
                                                            .mask-up
                                                            .bottom-up
                                                        span Upload Files
                                                        input(type="file", id="uploadBtn", class="inp-file")
                                            .upl-btn
                                                button(class="btn-noW", id="upload", type="button") UPLOAD
                                                button(class="btn-noW", id="cancell-all", type="button") CANCEL ALL
                                        ul.uploading-list
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-1.png")
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-2.png")
                                            li
                                                img(src="../assets/uploads/gallery-thumb-1.jpg")
                                                <i class="fa fa-arrow-circle-up up-ico"></i>
                                                .tt content.jpg (126KG)
                                                .status
                                                    img(src="../images/upload-status-1.png")
                                        ul.gallery-list
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-1.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-s.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/manchester.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a(href="#")
                                                    img(src="../assets/uploads/gallery-3.jpg")
                                                    .del-gallery
                                                        img(src="../images/ico-del.png", width="20", height="20")
                                                .gal-caption
                                                    input(type="text", class="gal-cap", placeholder="Enter caption here")
                                            li
                                                a.plus(href="#")
                                                    i(class="fa fa-plus-circle fa-3x")
                        .artist-blk
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |SUBMIT RECORD




