block vars
  -title="Artsopolis - Dashboard, Welcome Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Welcome to your dashboard chihuly!
                    p You can manage your individual artist profile, organization or business profile, post and edit events, bookmark your favorite listings, and more. To return to your dashboard at any time, click "My Account" in the upper right corner.
                    p If this is your first time submitting an event, you will need to create an organization or business profile, or if you are an artist, you will need to create an artist profile. You can do all of that using the links in the tool bar above.
                    p Please be sure to read the Submission Guidelines in each section first. Happy sharing!
                a(href="#", target="_blank", class="dsb-create btn btn-l")
                    i.fa.fa-pencil
                    | CREATE NEW EVENT
                p.dsb-support
                    | If you need assistance, please contact:
                    a(href="#", target="_blank") linkgetconnected@artsrapidcity.org


