block vars
  -title="Artsopolis - Detail Page"
  -sidebar = false
  -isHome  = false
  -grid    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/pathway.jade
            include ../blocks/detail_page.jade
        include ../includes/sidebar.jade