block vars
  -title="Artsopolis - Login Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            article.content-page
                h1.title-page Account Login
                .p-sub-ct
                    p Already have an account? Enter your username and password below to login:
                    .login-wrp
                        .log-frm
                            form(id="login-frm", method="", action="")
                                .el-blk.full
                                    input(type="text", placeholder="Username", class="inp inp-txt")
                                    .show-tip
                                        |Username
                                .el-blk.full
                                    input(type="password", placeholder="Password", class="inp inp-txt")
                                    .show-tip
                                        |Password
                                .b-btn
                                    button(type="submit", class="btn btn-b") LOGIN
                                    a(href="http://", target="_blank") Forgot your password?
                        .or-line
                            span or
                        .log-fb
                            .log-fb-ct
                                p Sign in using your Facebook account
                                a(href="javascript:;", class="connect-fb")
                                    i.fa.fa-facebook.fa-lg
                                    span |
                                    |  SIGN IN WITH FACEBOOK


                    p New to historiccoastculture.com? Don’t have a login?
                        a(href="#", target="_blank") Sign up
                        |  now… It’s FREE and anyone can join!

        include ../includes/sidebar.jade