block vars
  -title="Artsopolis - Page Not Found"
  -sidebar = false
  -isPageNotFound  = true
  -gird    = false
extends ../layouts/layout
block main
    .error-container.t-c
        ul.error
            li
              .magnify
                img(src="../images/ico-error-404.png", alt="page-not-found")
                i(class="fa fa-exclamation fa-5x")
              .text-404
                span.top OPPS
                span.bottom Error 404
            li
                p SORRY! The page you're looking for cannot be found. Return
                    a(href="#", target="_parent")  home