block vars
  -title="Artsopolis - Public Art Page"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .wc-f
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        a(href="#")  Public Art
                    li
                        span Public Art Map
            include ../blocks/art-map-full.jade