block vars
  -title="Artsopolis - Register Page"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            .breadcrumbs
                ul.nav
                    li
                        a(href="/", target="_blank") Home
                    li
                        span Register
            article.content-page
                h1.title-page New Account
                .p-sub-ct
                    p New to historiccoastculture.com? Don’t have a login? Sign up now… It’s FREE and anyone can join!
                    .benef
                        p
                            b Bookmark
                            |  your favorite events, organizations and venues
                        p
                            b Post
                            |  reviews on events
                        p
                            b Create
                            |  and update your profile
                    .regis-wrp
                        form(id="login-frm", method="", action="")
                            .el-blk.full
                                input(type="text", placeholder="Screen name", class="inp inp-txt")
                                .show-tip
                                    |Screen name
                            .el-blk.full
                                input(type="text", placeholder="Email address", class="inp inp-txt inp-error")
                                .show-tip
                                    |Email address
                                span.error * Please enter a vaild address
                            .el-blk.full
                                input(type="text", placeholder="Zip code", class="inp inp-txt")
                                .show-tip
                                    |Zip code
                            .el-blk.full
                                input(type="text", placeholder="Username", class="inp inp-txt")
                                .show-tip
                                    |Username
                            .el-blk.full
                                input(type="password", placeholder="Password", class="inp inp-txt")
                                .show-tip
                                    |Password
                            .el-blk.full
                                input(type="password", placeholder="Confirm password", class="inp inp-txt")
                                .show-tip
                                    |Confirm password

                            .b-btn
                                button(type="submit", class="btn btn-b") SIGN UP
                    p.warn
                        span IMPORTANT!
                        |  Anyone UNDER 18 must have their parents approval to participate in this service. historiccoastculture.com reserves the right to edit submissions for grammar, style and accuracy. We may also choose to omit any profile at our discretion.

        include ../includes/sidebar.jade