block vars
  -title="Artsopolis - Dashboard, Standard Form"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Standard Form
                    p This a standard form including all form elements.
                    form(method="", action="")
                        .artist-blk
                            .el-blk.full
                                input(type="text", placeholder="Name (*)", class="inp inp-txt inp-error")
                                .show-tip
                                    |Name
                                span(class="error") * Please enter Name
                            .el-blk.full
                                input(type="text", placeholder="Name (*)", class="inp inp-txt")
                                .show-tip
                                    |Name
                            .el-blk.full
                                p(class="title") Description 1
                                textarea(placeholder="Description", class="inp inp-txt inp-desc", name="venua-des", id="venue-des", rows="5" )
                                .show-tip
                                    | Description
                            .el-blk.full
                                p(class="title") Description 2
                                textarea(placeholder="Description", class="inp inp-txt inp-desc", name="editor1", id="editor1", rows="5" )
                                .show-tip
                                    | Description
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Address 1", class="inp inp-txt")
                                    .show-tip
                                        |Address 1
                                    span(class="error") * Please enter Address 1
                                .hafl.fr
                                    input(type="text", placeholder="Address 2", class="inp inp-txt")
                                    .show-tip
                                        |Address 2
                            .el-blk.full
                                .select-bkl
                                    select(class="event")
                                        option(value="0") City:
                                        option(value="") Alviso
                                        option(value="") Atherton
                                        option(value="") Belmont
                                        option(value="") Brisbane
                                        option(value="") Burlingame
                                    .arrow-down
                                        <i class="fa fa-sort-desc fa-lg"></i>
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="State", class="inp inp-txt")
                                    .show-tip
                                        |State
                                .hafl.fr
                                    input(type="text", placeholder="Zip", class="inp inp-txt")
                                    .show-tip
                                        |Zip
                                    span(class="error") * Please enter Zip
                            .el-blk.full
                                input(type="text", placeholder="Public Phone", class="inp inp-txt")
                                .show-tip
                                    |Public Phone
                            .el-blk.full
                                input(type="text", placeholder="Fax", class="inp inp-txt")
                                .show-tip
                                    |Fax
                            .el-blk.full
                                input(type="text", placeholder="Email", class="inp inp-txt")
                                .show-tip
                                    |Email
                            .el-blk.full
                                textarea(placeholder="Description", class="inp inp-txt inp-desc", id="venue-parking", name="venue-parking")
                                .show-tip
                                    | Description
                            .el-blk.full
                                textarea(placeholder="Public Hours (if applicable)", class="inp inp-txt inp-desc", id="venue-public", name="venue-public")
                                .show-tip
                                    | Public Hours (if applicable)
                            .el-blk.full
                                textarea(placeholder="Public Admission Fee(s) (if applicable)", class="inp inp-txt inp-desc")
                                .show-tip
                                    | Public Admission Fee(s) (if applicable)
                        .artist-blk
                            .title-bar-blk Do you have your own website and/or blog?
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Blog URL", class="inp inp-txt")
                                    .show-tip
                                        |Blog URL
                                .hafl.fr
                                    input(type="text", placeholder="Web URL", class="inp inp-txt")
                                    .show-tip
                                        |Web URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Instagram URL", class="inp inp-txt")
                                    .show-tip
                                        |Instagram URL
                                .hafl.fr
                                    input(type="text", placeholder="Pinterest URL", class="inp inp-txt")
                                    .show-tip
                                        |Pinterest URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="Facebook URL", class="inp inp-txt")
                                    .show-tip
                                        |Facebook URL
                                .hafl.fr
                                    input(type="text", placeholder="Twitter URL", class="inp inp-txt")
                                    .show-tip
                                        |Twitter URL
                            .el-blk
                                .hafl.fl
                                    input(type="text", placeholder="LinkedIn URL", class="inp inp-txt")
                                    .show-tip
                                        |LinkedIn URL
                        .artist-blk
                            .title-bar-blk Contact Info
                            .el-blk.full
                                input(type="text", placeholder="Contact Name", class="inp inp-txt")
                                .show-tip
                                    |Contact Name
                            .el-blk.full
                                input(type="text", placeholder="Contact Email", class="inp inp-txt")
                                .show-tip
                                    |Contact Email
                            .el-blk.full
                                input(type="text", placeholder="Contact Phone", class="inp inp-txt")
                                .show-tip
                                    |Contact Phone
                            .el-blk.full
                                textarea(placeholder="Public Admission Fee(s) (if applicable)", class="inp inp-txt inp-desc")
                                .show-tip
                                    | Public Admission Fee(s) (if applicable)
                        .artist-blk
                            .title-bar-blk Checkbox Type
                            .list
                                ul
                                    li
                                        input(type="checkbox", id="cb1"))
                                        label(for="cb1") Amusement Park
                                    li
                                        input(type="checkbox", id="cb2")
                                        label(for="cb2") Aquarium
                                    li
                                        input(type="checkbox", id="cb3")
                                        label(for="cb3") Arena/Stadium
                                    li
                                        input(type="checkbox", id="cb4")
                                        label(for="cb4") Bar/Tavern

                        .artist-blk
                            .title-bar-blk Radio Type
                            .list
                                ul
                                    li
                                        input(type="radio", id="r1")
                                        label(for="r1") Amusement Park
                                    li
                                        input(type="radio", id="r2")
                                        label(for="r2") Aquarium
                                    li
                                        input(type="radio", id="r3")
                                        label(for="r3") Arena/Stadium
                                    li
                                        input(type="radio", id="r4")
                                        label(for="r4") Bar/Tavern
                        .artist-blk
                            .submit-blk
                                a(href="#",class="submit-btn")
                                    |UPDATE PROFILE




