.attachment-error {
    -webkit-box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #bc0b0b;
    box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #bc0b0b;
}

.media-frame select.attachment-filters:last-of-type {
    min-width: 120px !important;
}
