@media (max-width: 1030px)  {
    .fb_iframe_widget {
        display: none !important;
    }
}

/**
 * Override logo
 */
.logo {
    /*width:width_of_logo;
    height:height_of_logo;
    background:url('Logo url') no-repeat;
    */ 
}

@media(max-width: 768px) {
    .logo{
        /*width:width_of_logo;
        height:height_of_logo;
        background:url('Logo url') no-repeat;*/
    }
}

@media(max-width: 480px) {
    .logo{
        /*width:width_of_logo;
        height:height_of_logo;
        background:url('Logo url') no-repeat;*/
    }
}

@media(max-width: 320px) {
    .logo{
        /*width:width_of_logo;
        height:height_of_logo;
        background:url('Logo url') no-repeat;*/
    }
}
/** End override logo */
