
/*
    Subject: replace $main_color by your color, $main_color_brightness by hover color,
    if you change this file, please keep the color by default
    Created on : Oct 16, 2014, 2:48:35 PM
    Author     : vulh
*/
a, a:hover {
    color: $main_color;
}
.b-share a:hover
, .b-btn.category .btn-category:hover
, nav.paging li a.active
, nav.paging li a:hover
, .upload-img .btn-noW.hover
, #_upload_gallery_btn:hover
, #_cancel_gallery_btn:hover
, .alertify-button-ok:hover
, .alertify-button-cancel:hover
, .tab-list-search li.selected a
, .tab-list-search li:hover a
, nav.search-artist-thumb li .div-one:hover .search-info .ev-tt
, nav.search-artist-thumb li .div-one .search-info .s-desc
{
    color: #ffffff;
} 
.astro-featr .a-desc a.vmore
, .comments-area .logged-in-as a:hover
, .p-sub-ct p a:hover
, .astro-featr .a-desc a.vmore:hover
, .more-from .t-c a:hover
, .rating-box i.active
, .rating-box i:hover
, .nofi-map a.nofi-exp:hover
, .dsb-support a
, .dsb-support a:hover
, .cat-rating-box i:hover
, .cat-rating-box i.active
, .category-detail .desc a.vmore
, .category-detail .desc a.vmore:hover
, .category-itm a.vmore
, .category-itm a.vmore:hover
, .list-more-category .more-cat-itm .more-ct .more-cat-rating-box i.active
, .list-more-category .more-cat-itm .more-ct .more-cat-rating-box i:hover
, .list-more-category .more-cat-itm .more-ct .desc a.vmore
, .list-more-category .more-cat-itm .more-ct .desc a.vmore:hover
, .list-more-category .more-cat-itm .more-ct h3 a:hover
, .more-frm-itm .more-ct h3 a:hover
, .blk-bm nav.events li .ev-tt
, .activity nav.act li a.tt
, .upl-tt a span
, .event .cl-event-list li:hover span
, .clear-all a span:hover
, .apply-all a span
, .apply-all a:hover
, .apply-all a span:hover
, span.viewmore
, .viewmore-box .cl-event-list li:hover span
, .month-bar .next-month .prev-b:hover
, .month-bar .next-month .next-b:hover
, .astro-detail .cm > a:hover:before
, .like > a:hover:before
, .gallery-list li a.plus:hover
, a.more:hover
, a.more
, li:hover .info-content .search-info .ev-tt
, li .info-content .search-info a.more
, li .info-content .search-info a.more:hover
, .gallery-list li a.plus
, .gallery-list li a.plus:hover
, .gallery-list li a.plus i:hover
, .parent-ac-hover a:hover
 {
    color: $main_color;
}

.apollo-active-color.force *{
  color: $main_color !important;
}

.a-block.grey p.t-l a
, .b-btn.cat-detail .btn-cat-detail
, .b-btn.cat-detail .btn-cat-detail:hover
, .b-btn.category .btn-category
, .b-btn.category .btn-category:hover
, .list-more-category .more-cat-itm .b-btn a.btn-b:hover
, .tellAF-popup .btn .btn-b
, .tellAF-popup .btn .btn-b:hover
, .btn-noW
, .btn-noW:hover
, .alertify-button-ok:hover
, .alertify-button-ok
, .alertify-button-ok:focus
, .alertify-button-cancel:hover
, .alertify-button-cancel
, .alertify-button-cancel:focus
, .r-blk .artist-search .character-board a:hover
, .headline-2
{
    border-color: $main_color;
}

.a-block h4
, .comment-ct p.t-l a:hover
, .a-block.grey p.t-l a:hover
, .category-itm .b-time
, .category-detail .pic .b-time
, .account-info .info-frm .b-btn .btn-b:hover
, nav.paging li a.active
, nav.paging li a:hover
, .bookmark .b-btn .btn-b:hover
, .tellAF-popup .btn .btn-b:hover
, .btn-noW:hover
, .upl-tt a .l-outer
, .upl-tt a .r-outer
, .upl-tt a .up-img .line-up
, .upl-tt a .up-img .bottom-up
, .upload-img .btn-noW.hover
, #bd-print-page .b-time
, .add-event
, .alertify-button-ok:hover
, .alertify-button-cancel:hover
, .alertify-close
, #artist-frm .submit-blk:hover
, .r-blk .artist-search .character-board a:hover
 {
    background: $main_color;
}

.main-menu, .blog-itm .b-time, .r-search .r-ttl i.fa, #_popup_choose_event .fa-close {
    background: $main_color;
}
.r-blk .r-ttl, .tt-bar a,
.map_slider_item.active .title_trim  {
    color: $main_color ;
}
.form-event .s-rw .lst-lik a:hover,
.form-event .s-rw .lst-lik a.active{
      background: $main_color;
      border: 1px solid $main_color;
      color: #fff;
}
.main-menu .mn-menu .nav > li > a {
    border-top: 3px solid $main_color ;
}

.upl-tt a .up-img .triangle-up {
  border-bottom-color: $main_color ;
}

.b-btn a.btn-b, .btn.btn-l {
    border: 1px solid $main_color ;
}
.top-head .top-blk a:hover {
    color: $main_color
}
.main-menu .mn-menu .nav > li.cur > a {
    background: $main_color_brightness;
}
.main-menu .mn-menu .nav > li {
    border-right: 1px solid $main_color_menu_border;
}
.form-event .s-rw .lst-lik a:hover, .btn.btn-l:hover, .newsletter-frm .btn.btn-l:hover,
.calendar-ipt .btn.btn-l:hover, .sub-blk .btn.btn-l:hover, btn.btn-l:hover {
    background: $main_color  ;border: 1px solid $main_color ;
}
body:not(.on-mobile) .b-btn a.btn-b:hover,
body:not(.on-mobile) .b-btn.cat-detail .btn-cat-detail:hover,
body:not(.on-mobile) .b-btn.category .btn-category:hover,
body:not(.on-mobile) .list-more-category .more-cat-itm .b-btn a.btn-b:hover {
    background: $main_color ;
}   
@media (max-width: 768px) {
    .main-menu.tablet-show.show {
        background: $main_color
    }
    a.mb-menu.active {
        background: $main_color; border-color: $main_color
    }
    .main-menu.tablet-show .mn-menu .nav > li.cur > a, 
    .main-menu.tablet-show .mn-menu .nav > li a {
        border-top: 1px solid $user_dashboard_li_border_bottom_color;
    }
    .dsb-l .dsb-main-nav > ul > li > a {
        border-left: 4px solid $user_dashboard_li_border_bottom_color;
    }
    .main-menu.tablet-show .has-child > ul.sub-menu.level-1 li {
        border-left: 1px solid $user_dashboard_li_border_bottom_color;
    }
}

@media (max-width: 480px) {
  .dsb-l .dsb-main-nav > ul > li > a {
    border-left: none;
  }
}
.grid .blog-itm.on-hover:hover .desc .read_more,.grid .blog-itm.on-hover:hover .desc .read_more:hover,.blog-itm .read_more{
    color: $main_color;
}
.blog-itm .read_more:hover
, .tellAF-popup a:hover{
    text-decoration: underline;
}
.load-more.b-btn a.btn-b:hover {
    background: $main_color;
}
.blog-itm .read_more{
    color: $main_color;
}

.login-top a.active {
    color: $main_color;
}
.login-top.topbar a.active {
    color: $main_color;
}

.b-btn .btn-b {
    border: 1px solid $main_color;
}
.b-btn .btn-b:hover, .apl-internal-content .post-password-form input[name="Submit"]:hover {
    background-color: $main_color;
    border: 1px solid $main_color;
}
.breadcrumbs li > a, .breadcrumbs li:first-child:before {
    color: $main_color;
}
.astro-detail .page-tool a:hover{
    color: $main_color;
}
.main-slider .flex-control-paging li a.flex-active{
    background-color: $main_color;
}
.a-block.adm h4 > span {
    color: $main_color;
}
.login-wrp .log-frm .b-btn > a {
    color: $main_color;
}
.bookmark_highlight{
    background-color: $main_color !important;
    color: #fff !important;
}

.nav-sidebar {
  background-color: $user_dashboard_navbar_background_color;
}

.dsb-main-nav > ul > li {
  border-bottom-color: $user_dashboard_li_border_bottom_color;
}

.dsb-main-nav .sub-nav > ul > li {
  border-left-color: $user_dashboard_sub_li_border_left_color;
  border-bottom-color: $user_dashboard_sub_li_border_bottom_color;
}

.dsb-main-nav .sub-nav > ul {
  background-color: $user_dashboard_sub_ul_background_color;
}

.dsb-main-nav .sub-nav > ul > li a:hover{
  background-color: $user_dashboard_sub_a_background_color;
}

.dsb-main-nav > ul > li > a {
  border-left: 4px solid $user_dashboard_li_border_bottom_color;
}

.dsb-main-nav > ul > li > a:hover
{
  border-left-color: $user_dashboard_a_border_left_color;
}

.dsb-main-nav .sub-nav > ul > li a.active {
  background-color:  $user_dashboard_sub_a_active_bg_color; /* #bd8d3c */;
}

.bookmark_highlight:hover {
    color: #000;
    background-color: #fff;
    border-color: $main_color;  
}
.on-mobile .b-btn a.btn-b:hover, 
.on-mobile .b-btn.cat-detail .btn-cat-detail:hover,
.on-mobile .b-btn.category .btn-category:hover,
.on-mobile .list-more-category .more-cat-itm .b-btn a.btn-b:hover {
    background: transparent;
    color: #666;
}
on-mobile .bookmark_highlight:hover {
    color: #ffffff;
    background-color: transparent;
}
.tab-list li.selected {
    background-color: $main_color; 
}

.tab-bt {
    background-color: $main_color;
}
.tab-list li.selected a {
    //color: $selected_tab_color;
}
@media (max-width: 767px) {
    .tab-bt {
        background-color: #fff;
    }
}
.second-slider .flex-control-paging li a.flex-active {
    background-color: $main_color;
}
.event-tt {
    color: $main_color;
}
.btn-noW, .event-btn .btn-submit, 
.event-edit-btn .btn-edit, .comment-ct p.t-l a,
nav.searching-list li .info-content .ico-date .show-date,
.apl-internal-content .post-password-form input[name="Submit"]{
    border: 1px solid $main_color;
}

#arrow:before, #arrow:after {
    border-left: 35px solid $main_color;
}
.btn-noW:hover {
    background-color: $main_color;
    border: 1px solid $main_color;
    //color: $selected_tab_color;
}
.event-contact, #arrow, .calendar-ipt .JsDatePickBox .boxMainInner .dayDown,
.calendar-ipt .JsDatePickBox .boxMainInner .dayDownToday,
#arrow-3, #event-submit-btn, .event-edit-btn .btn-edit:hover,
.des-list .divider, .closevideo, .search-bkl nav.paging li span.current,
.tab-list-search li.selected, .tab-list-search li:hover,
.close, .closevideo, nav.type li.current, nav.type li:hover,
.search-bkl nav.paging li span.current, .blog-bkl nav.paging li span.current,
.title-bar-blk, .submit-blk, .divider-shadow{
    background-color: $main_color;
}

a.vmore, a.vmore:hover ,.evt-blk .information p label a, .evt-blk .information p a, .evt-blk .tt-bar .cl a,
.search-tt a, .search-tt a:hover, nav.search-list li .ico-date a,
.b-share-cat > a.pt:hover, .like > a:hover:before, .cm > a:hover:before,
ul.error li:first-child .text-404 span.top, .calendar-ipt .JsDatePickBox .boxMainInner .dayNormalToday,
a.fullscreen:hover, .blog-seperate:after,
nav.blog-list li .blog-category .cate-blk span.cm-num, .blog-seperate:after,
nav.blog-list li .blog-category .cate-blk .slash, nav.blog-list li .blog-category .cate-blk a:hover,
nav.blog-list li .blog-category .cate-blk a:hover,
nav.searching-list li .info-content .ico-date a, .slash, .art-social-item a:hover,
.like > a:hover, .cm > a:hover, #artist-print-page .artist-des span a, #artist-print-page .art-social-item a,
.sub-section-blk .title-bar-blk {
    color: $main_color_brightness;
}

/** @Ticket #13403*/
nav.search-list-thumb li .ico-date a {
  color: $main_color_event_block_icon;
}

#arrow-3:before {
    border-right: 35px solid $main_color;
}
.event-btn .btn-submit:hover {
    background-color: $main_color;
    border: 1px solid $main_color;
}
nav.search-list li .ico-date .show-date,
.show-tip {
    border-color: $main_color; 
}
.show-tip:before {
    border-top: 8px solid $main_color;
}

nav.search-list-thumb li .div-one:hover ,
nav.search-artist-thumb li .div-one:hover,
nav.search-artist-list li:hover .info-content,
nav.searching-list li:hover
{
  background-color: [hover_search_content_color];
}
.r-blk .artist-search .character-board a.active {
    background-color: $main_color;
    border: 1px solid $main_color
}
.tab-list li.selected:hover, .tab-list li:hover {
    background: $main_color;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    color: $main_color;
    border-color: $main_color;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, .ui-state-focus, 
.ui-widget-content .ui-state-focus, 
.ui-widget-header .ui-state-focus,
.fa.fa-caret-up.ttip {
    color: $main_color;
}

.cl-date .date-cell:not(.disable) {
    background-color: $user_dashboard_calendar_ !important;
}
.form-event .s-rw .lst-lik a:hover,
.form-event .s-rw .lst-lik a.active {
      background: $main_color;
      border: 1px solid $main_color;
      color: #fff;
}
.btn-form-submit, #back-to-top, article.blog-itm .event-time,
article.category-detail .left-event-time,
article.category-itm .left-event-time,
article.category-itm .event-time,
.second-slider .left-event-time,
article.blog-itm .left-event-time, .featured-event-blk .tab-tt,
#bd-print-page .left-event-time,
.category-detail.category-page-event-box .event-time{
    background: $main_color;
}

.left-event-time.nw-evt-blue::before {
    border-color: $main_color transparent transparent;
}

.left-event-time.nw-evt-blue::after {
    border-color: transparent transparent transparent $main_color;
}

.topten.tab-row {
    border-bottom: 2px solid $main_color;
}
.widget_archive h3 , .widget_archive a:hover{
  color: $main_color;
}

.main-menu .mn-menu .nav > li.cur > a {
  background: $main_color_brightness;
}
.second-slider .flex-control-paging li a{
  background: $main_color;
}
.second-slider .flex-control-paging li a.flex-active,.second-slider .flex-control-paging li a:hover {
  background: $main_color_brightness;
}
.top-search-row .btn.btn-l {
   background: $main_color; 
}
.top-search-row .sub-blk .btn.btn-l.lgr.fr:hover {
  background: $main_color;
  color: #fff;
}
.grid .blog-itm.on-hover:hover{
  background:[hover_search_content_color];
}
.grid .blog-itm.on-hover:hover .btn.btn-b{
  background:$main_color;
  color:#fff;
}
.close-fs, .evt-blk-import .event-btn.import > button,
.evt-blk-import.fscreen .event-btn.import > button{
    border:1px solid $main_color;
}
.close-fs:hover, .evt-blk-import .event-btn.import > button:hover,
.evt-blk-import.fscreen .event-btn.import > button:hover {
    background:$main_color;
    color: #ffffff;
} 
.full-screen a:hover,
.close-fs:hover {
  text-decoration: underline;
  color: $main_color;
}
.close-fs.show:hover {
    color: #ffffff;
    text-decoration: none;
}

.topten-item .info:hover {
    background: $eventWidgetHover;
}
.nofi-exp.ct-nofi-exp:hover {
    color: $main_color !important;
}

.topbar a:hover {
  color: $main_color !important;
}
.ui-menu.ui-autocomplete  .ui-menu-item:hover{

  background: $main_color;
}
.blk-show-list .list-show .tag-active a{
  color : $main_color !important;
}

@media (min-width : 769px) {
  .two-row .main-menu .mn-menu .nav > li{
    border-bottom: 1px solid $main_color_menu_border ;

  }
  .two-row .main-menu .mn-menu ul{
    border-left: 1px solid $main_color_menu_border  ;
  }


}
[data-role=file] {
  border: 1px solid $main_color;
}
[data-role=file]:hover {
  background: $main_color;
}
nav.search-artist-list.business-search-list-2 li .info-content .search-info .ev-tt {
  color: $main_color;
}
nav.search-artist-list.business-search-list-2 li:hover .info-content .search-info .ev-tt {
  color: $main_color;
}

.wc-r .search-form.form-inline .input-group-btn .search-submit {
  border: 1px solid $main_color;
}
.wc-r .search-form.form-inline .input-group-btn .search-submit:hover {
    background-color: $main_color;
    border: 1px solid $main_color;
}

.artist-member-tab li.selected,
.artist-member-tab li:hover,
.artist-member-tab li:hover a{
  background: $main_color;
}

.artist-member-tab-bt{
  background: $main_color !important;
}

.apl-place-global-search-below-nav .main-menu .inner .form-search .btn,
.apl-place-global-search-below-nav .top-head .mobile-menu .nav-global-search,
.apl-place-global-search-below-nav .top-head .mobile-menu .form-search .btn{
  background-color: $main_color;
}

.apl-place-global-search-below-nav .main-menu .inner .form-search .btn:hover{
  background-color: $main_color_brightness;
}

.preview-program-content .custom-field .arrow-right:after{
  color: $main_color_brightness;
}

.header .social-top a.email:hover{
  background: $main_color_brightness
}