@import "../global/variables";

.cta {
    // border: 2px solid white;
    display: inline-block;
    padding: 10px 15px;
    color: $black;
    font-family: $condensed;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    font-size: $h5;
    letter-spacing: 1px;
    @include breakpoint($mobile) {
        //max-width: 50%;
    }
    @include breakpoint($tablet) {
        font-size: $h4;
    }
}

.cta--bordered {
    border: 2px solid white;
    color: white;
}

.cta--filled {
    background: white;
    color: $blue;
}

.cta--gray {
    background: $lightgray;
    color: $black;
    i {
        color: $orange;
    }
}

.cta--white {
    background: white;
    color: $blue;
    i {
        color: $blue;
    }
}

.cta--blue {
    background: $blue;
    color: white;
    i {
        color: white;
    }
}

.cta--orange {
    background: $orange;
    color: white;
    i {
        color: white;
    }
}

.cta--light-gray {
    background: $lightgray;
    color: $black;
}

.cta--flex {
    //display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    //white-space: nowrap;
    //max-width: 360px;
    &:after {
        content: '';
        background: rgba(0, 0, 0, 0.1);
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .3s;
    }
    i {
        transform: translateX(0);
        transition: all .3s;
    }
    &:hover {
        &:after {
            transition: all .3s;
            opacity: 1;
        }
        i {
            position: relative;
            transform: translateX(10px);
            transition: all .3s;
        }
    }
}

.read-more {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: $condensed;
    font-weight: 800;
    text-transform: uppercase;
    &:before {
        content: '';
        display: block;
        flex-grow: 1;
        background: $black;
        height: 10px;
        margin-right: 10px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    i {
        float: right;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    padding: 10px 25px;
    z-index: 1;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    a {
        text-decoration: none;
        width: 100%;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}