/*=============================================
=            CSS BLOCK DETAILS                =
=============================================*/

.block-details {
    .detail-banner {
        position: relative;
        height: 606px;
        background: url('../images/demo/banner_detail.jpg') no-repeat top center;
        background-size: cover;
        .detail-ttl {
            position: absolute;
            left: 70px;
            bottom: 40px;
            border: 1px solid $orange;
            width: 400px;
            padding: 15px;
            h3 {
                text-transform: uppercase;
                color: #fff;
                font-size: 60px;
                line-height: 60px;
                margin-bottom: 0px;
            }
        }
    }
}
.block-details {
    .detail-body {
        position: relative;
        padding: 100px 100px 100px 115px;
        overflow: hidden;
        .desc-detail {
            margin-bottom: 50px;
            p {
                font-size: 22px;
                color: #f95f22;
                line-height: 1.43333;
                margin-bottom: 0px;
                font-weight: 600;
            }
        }
        .img-bg-dtl {
            position: absolute;
            width: 45%;
            right: 0;
            opacity: 0.5;
            top: -18%;
            z-index: -1;
        }
    }
}
.specify-detail {
    .dtl-top {
        height: 275px;
        margin-bottom: 50px;
        .dtl-tp-left, .dtl-tp-right {
            float: left;
            width: 50%;
            height: 275px;
        }
        .dtl-tp-left {
            padding-right: 30px;
            p {
                font-size: 18px;
                margin-bottom: 0px;
                line-height: 1.6;
            }
        }
        .dtl-tp-right {
            text-align: center;
            padding: 15px;
            background-color: rgba(221, 221, 221, 0.91);
            .icon-note {
                display: inline-block;
                width: 90px;
                height: 90px;
                background-image: url(../images/demo/note_icon.png);
                background-repeat: no-repeat;
                background-size: 100%;
            }
            p {
                margin-top: 0px;
                font-size: 26px;
                line-height: 1.5;
            }
        }
    }
    .text-frt, .text-snd {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 0px;
        margin-bottom: 50px;
    }
}
.image-detail {
    .img-item {
        display: inline-block;
        line-height: 0;
        overflow: hidden;
        width: 475px;
        height: 330px;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 15px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.block {
    &.block-share {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 40%;
        width: 40px;
        li {
            width: 40px;
            height: 40px;
            display: block;
            text-align: center;
            line-height: 40px;
            &.bg-fb {
                background-color: #3b579c;
            }
            &.bg-twt {
                background-color: #50abf1;
            }
            &.bg-gg {
                background-color: #df4932;
            }
            &.bg-mail {
                background-color: #639c39;
            }
            &.bg-print {
                background-color: #ff6500;
            }
            a {
                color: #fff;
                line-height: 1;
                display: inline-block;
            }
            &:hover {
                cursor: pointer;
                a {
                    transition: all 0.3s;
                    color: #000;
                }
            }
        }
    }
}