/*=============================================
=            CSS BLOCK ABOUTS                 =
=============================================*/

.block-about {
    min-height: 830px;
    height: calc(100vh - 89px);
    width: 100%;
    background-image: url(../images/demo/next_lv_05.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: cover;
    background-size: cover;
    overflow: hidden;
    &.teaser {
        &:before {
            background-color: #007519;
        }
        .teaser-content {
            text-align: center;
            width: 55%;
            left: 50%;
            bottom: 0;
            top: auto;
            transform: translateX(-50%);
            h1, h2 {
                color: #fff;
            }
            .content {
                color: #fff;
            }
        }
    }
    .teaser-content {
        .let-down {
            display: inline-block;
            line-height: 0;
            margin-top: 20px;
            transition: all 0.3s;
        }
    }
}
.teaser-content {
    .ttl-feature {
        line-height: 1.3;
    }
}
.org-color {
    .teaser-content {
        .btn {
            &.btn-viewmore {
                &:hover {
                    background-color: $txt_blue;
                    border-color: $txt_blue;
                }
            }
        }
    }
}
.block-events {
    &.block-board{
        background: url(../images/demo/bg_board.png) no-repeat top center;
        background-size: cover;
        height: 1666px;
        h1 {
            color: #1c1c1c;
            font-weight: 600;
        }
        .article-circle {
            margin-bottom: 25px;
            .article-item {
                margin-bottom: 30px;
                &:after {
                    border: 3px solid #fff;
                }
            }
        }
    }
}