/*=============================================
=            CSS MAIN CLIDER                  =
=============================================*/

.main-slider {
    min-height: 830px;
    height: calc(100vh - 89px);
    .slider-item {
        text-align: center;
        min-height: 830px;
        height: calc(100vh - 89px);
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.slider-item {
    &.bg-blue {
        background-repeat: no-repeat;
        background-image: url(../images/demo/slider-bg-blue.png);
        background-position: center center;
        .itm-circle {
            .art-title {
                 border-color: #0b6cc1;
            }      
        }
    }
    &.bg-green {
        background-repeat: no-repeat;
        background-image: url(../images/demo/slider-bg-green.png);
        background-position: center center;
        .itm-circle {
            .art-title {
                 border-color: #1cba5d;
            }      
        }
    }
    &.bg-red {
        background-repeat: no-repeat;
        background-image: url(../images/demo/slider-bg-red.png);
        background-position: center center;
        .itm-circle {
            .art-title {
                  border-color: #f86450;
            }      
        }
    }
}
.slider-item {
    .blk-sli-img {
        padding-top: 80px;
        padding-bottom: 40px;
    }
    .itm-circle {
        width: 270px;
        height: 270px;
        display: inline-block;
        position: relative;
        margin: 0px 32px;
        .art-title {
            background-size: cover;
            background-position: center center;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: inline-block;
            border-radius: 50%;
            border: 10px solid #dcdcdc;
        }
        .teaser-bg {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 1s;
            border-radius: 50%;
        }
    }
}
.slider-item {
    .blk-sli-ct {
        .ttl-art {
            font-size: 65px;
            margin-bottom: 35px;
            line-height: 1;
            color: #fff;
        }
        .desc {
            height: 70px;
            overflow: hidden;
            margin-top: 0px;
            margin-bottom: 30px;
            font-size: 18px;
            color: #fff;
            line-height: 1.4;
        }
        .btn {
            &.btn-explore {
                color: #fff;
                margin-bottom: 60px;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.31);
                    border-color: rgba(0, 0, 0, 0.08);
                }
            }
        }
    }
    .blk-sli-menu {
        width: 630px;
        margin: 0 auto;
        background-color: #000;
        opacity: 0.5;
        li {
            float: left;
            width: 25%;
            &.active {
                a {
                    color: #fff;
                }
            }
            a {
                text-transform: uppercase;
                display: inline-block;
                line-height: 1;
                padding: 15px 10px;
                color: #bfbfbf;
                transition: all 0.3s;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
.custom-navigation, .cust-nav {
    .sli-icon {
        color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 500px;
        height: 500px;
        line-height: 500px;
        border-radius: 50%;
        text-align: center;
        background-color: #ddd;
        opacity: 0.6;
        transition: background-color 0.2s;
        &.icon-prev {
            left: -448px;
        }
        &.icon-next {
            right: -448px;
        }
        &.bg-icon-gray {
            background-color: #323639;
        }
        &.bg-icon-green {
            background-color: #00ab52; 
        }
        &.bg-icon-blue {
            background-color: #005db9;
        }
        &.bg-icon-red {
            background-color: #d8292f;
        }
        &.bg-icon-slive {
            background-color: #323e48;
        }
        .icon {
            width: 25px;
            height: 55px;
            background-position: center center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            &.ico-prev {
                right: 20px;
            }
            &.ico-next {
                left: 20px;
            }
        }
    } 
}
.bottom-slider {
    .slides {
        > li {
            max-height: 250px;
            img {
                min-height: 250px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.btm-slider-wrap {
    position: relative;
    overflow: hidden;
   .cust-nav {
       .sli-icon {
           background-color: #323639;
           opacity: 0.5;
           width: 300px;
           height: 300px;
           line-height: 300px;
           &.icon-prev {
                left: -235px;
            }
            &.icon-next {
                right: -235px;
            }
       }
   }
}