/*=============================================
=            CSS BLOCK SUPPORT ICON           =
=============================================*/

.block-support-icon {
    text-align: center;
    left: 0;
    width: 100%;
    min-height: 169px;
    padding: 20px 10px;
    background: url(../images/demo/bg_sponsor.jpg) center top no-repeat;
    background-size: cover;
    .support-icon {
        width: 100%;
        text-align: center;
        .icon-item {
            display: inline-block;
            margin: 3px 20px;
        }
    }
}