block vars
  -title="Artsopolis - Home Page"
  -sidebar = false
  -isHome  = true
  -gird    = "grid"
extends ../layouts/layout
block main
    .row.two-col
        .v-line
        .wc-l
            include ../blocks/list_blog_grid.jade
        include ../includes/sidebar.jade