block vars
  -title="Artsopolis - Home Page"
  -sidebar = false
  -isHome  = true
  -gird    = false
extends ../layouts/layout-mini
block main
    .row.two-col
        .wc-f
            include ../blocks/top-sub-content.jade
            include ../blocks/list_blog-full.jade
            include ../blocks/sub-content.jade