block vars
  -title="Artsopolis - Dashboard, Account Info"
  -sidebar = false
  -isHome  = false
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    h1 Account Information
                    .account-info
                        .info-frm
                            form(id="acc-frm", method="", action="")
                                .el-blk.full
                                    input(type="text", placeholder="First name (*)", class="inp inp-txt inp-error")
                                    .show-tip
                                        |First name
                                span(class="error") * Please enter First Name
                                .el-blk.full
                                    input(type="text", placeholder="Last name (*)", class="inp inp-txt inp-error")
                                    .show-tip
                                        |Last name
                                .el-blk.full
                                    input(type="text", placeholder="User name (*)", class="inp inp-txt inp-error")
                                    .show-tip
                                        |User name
                                .el-blk.full
                                    input(type="text", placeholder="New password", class="inp inp-txt")
                                    .show-tip
                                        |New password
                                .el-blk.full
                                    input(type="text", placeholder="Confirm password", class="inp inp-txt")
                                    .show-tip
                                        |Confirm password
                            .b-btn
                                button(type="submit", class="btn btn-b") SUBMIT RECORD

