block vars
  -title="Artsopolis - Dashboard, Events Bookmark"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .bookmark
                        h1 My Bookmarks
                        p Contact information is neccessary in case we need to follow up with you regarding your submission. This information will NOT appear on our website.
                        .blk-bm-events
                            h1 Events
                            .event-check-all
                                input(type="checkbox", class="check-event-all", name="event-ck", id="event-ckall")
                            nav.events
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                         input(type="checkbox", class="check-event", name="event-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt The Italian Girl In Algiries
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-event", name="event-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt Carmina Burana
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-event", name="event-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt The Italian Girl In Algiries
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-event", name="event-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt Carmina Burana
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                        .blk-paging
                            span.pg-tt Pages:
                            nav.paging
                                li
                                    a <
                                li
                                li
                                    a 1
                                li
                                    a(class="active") 2
                                li
                                    a 3
                                li
                                    a 4
                                li
                                    ...
                                li
                                    a 21
                                li
                                    a >
                                li
                        .blk-bm-events
                            h1 Organization
                            .event-check-all
                                input(type="checkbox", class="check-org-all", name="org-ck", id="org-ckall")
                            nav.events
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                         input(type="checkbox", class="check-org", name="org-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt The Italian Girl In Algiries
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-org", name="org-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt Carmina Burana
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-org", name="org-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt The Italian Girl In Algiries
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014

                        .blk-paging
                            span.pg-tt Pages:
                            nav.paging
                                li
                                    a <
                                li
                                li
                                    a 1
                                li
                                    a(class="active") 2
                                li
                                    a 3
                                li
                                    a 4
                                li
                                    ...
                                li
                                    a 21
                                li
                                    a >
                                li
                        .blk-bm-events
                            h1 Venues
                            .event-check-all
                                input(type="checkbox", class="check-venue-all", name="venue-ck", id="venue-ckall")
                            nav.events
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                         input(type="checkbox", class="check-venue", name="venue-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt The Italian Girl In Algiries
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-venue", name="venue-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt Carmina Burana
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                                li
                                    .event-img
                                        a(href="#")
                                            img(src="../assets/uploads/bookmark.jpg")
                                    .event-checkbox
                                        input(type="checkbox", class="check-venue", name="venue-ck-list[]")
                                    .event-map
                                        a(href="#")
                                            img(src="../images/google-map.png")
                                    .event-info
                                        a(href="#")
                                            span.ev-tt The Italian Girl In Algiries
                                        span.ev-place Opera San Jose
                                        span.ev-date 10 Dec - 20 Dec 2014
                        .clearfix
                            .blk-paging
                                span.pg-tt Pages:
                                nav.paging
                                    li
                                        a <
                                    li
                                    li
                                        a 1
                                    li
                                        a(class="active") 2
                                    li
                                        a 3
                                    li
                                        a 4
                                    li
                                        ...
                                    li
                                        a 21
                                    li
                                        a >
                                    li
                        .b-btn
                            button(type="submit", class="btn btn-b", id="tellafriend") TELL A FRIEND
                            button(type="submit", class="btn btn-b") REMOVE SELECTED
    .tellAF-popup
        .ct
            h1 Tell A Friend
            p Keep your friends and family in the loop by emailing this page!
              Tell them about all the exciting events, organizations, venues, and more that you're finding on livesv.com</br></br>
            p If you have any questions, please contact:
                a(href="mailto:support@livesv.com")   support@livesv.com
            .btn
                button(type="submit", class="btn-b") USE YOUR OWN EMAIL CLIENT TO SEND THIS MESSAGE
            p(class="note") This allow you to send via your own address book using MS Outlook or other local email client.

        .close
            <i class="fa fa-times fa-lg"></i>
