block vars
  -title="Artsopolis - Dashboard, Account Activity"
  -sidebar = false
  -isClient  = true
  -gird    = false
extends ../layouts/layout
block main
    .row
        .dsb-l.nav-sidebar
            include ../blocks/dashboard_navsidebar.jade
        .dsb-r
            .dsb-ct
                .dsb-welc
                    .activity
                        h1 My Activity
                        nav.act
                            li
                                p You selected Attending for
                                     span.tt The Italian Girl In Algiries
                                     | on
                                     span.date November 19, 2014
                            li
                                p You selected Attending for
                                     span.tt Carmina Burana
                                     | on
                                     span.date November 19, 2014
                            li
                                p You liked
                                     span.tt The Italian Girl In Algiries
                                     | on
                                     span.date November 19, 2014
                            li
                                p You selected Attending for
                                     span.tt Username Post
                                     | on
                                     span.date November 19, 2014
                            li
                                p You selected Attending for
                                     span.tt Username Post
                                     | on
                                     span.date November 19, 2014
                            li
                                p You selected Attending for
                                     span.tt Username Post
                                     | on
                                     span.date November 19, 2014
                            li
                                p You selected Attending for
                                     span.tt Username Post
                                     | on
                                     span.date November 19, 2014
                            li
                                p You selected Attending for
                                     span.tt Username Post
                                     | on
                                     span.date November 19, 2014
                    .blk-paging
                        span.pg-tt Pages:
                        a(href="#",class="prev")
                        nav.paging
                            li
                                a 1
                            li
                                a(class="active") 2
                            li
                                a 3
                            li
                                a 4
                            li
                                ...
                            li
                                a 21
                        a(href="#",class="next")
