.apl-editor-widget-container {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 50100;
	background: #fff;
}
.apl-editor-widget-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 50000;
}
.apl-editor-widget-container .close {
	position: absolute;
	top: 7px;
	right: 7px;
	width: 30px;
	height: 30px;
	z-index: 1000;
}
.apl-editor-widget-container .close span {
	display: block;
	margin: 8px auto 0;
	width: 15px;
	height: 15px;
	background-position: -100px 0;
}
.apl-editor-widget-container .icon {
	background-image: url(../../../../../../../../wp-includes/images/uploader-icons.png);
	background-repeat: no-repeat;
}
.apl-editor-widget-container .close:active {
	outline: 0;
}
.apl-editor-widget-container .editor {
    margin: 50px;
    position: absolute;
    bottom: 50px;
    top: 0;
    width: 90%;
}
/*.wp-editor-area {
    height: 200px !important;
}*/

.apl-editor-widget-container .inner {
	padding: 20px;
	height: 85%;
	overflow: auto;
}

.apl-editor-widget-container ul.event-terms {
	margin-left:30px;
}

.apl-editor-widget-container ul.event-terms ul {
	margin-left:30px;
}

.apl-editor-widget-container .event-display-type {
	font-size: 14px;
}
.apl-editor-widget-container .button.button-primary {
	margin-left:20px;
}
.apl-editor-widget-container .close {
	padding: 10px;
}
.widget-liquid-right .widget .apl-mods-sel-blk{
	display: none;
}

.widget-liquid-right #sidebar-modules-area .widget .apl-mods-sel-blk{
	display: block;
}

.event-specific-page{
	margin-top: 10px;
	margin-bottom: 10px;
	max-height: 150px;
	overflow-y: auto;
}

.event-specific-page,
.event-specific-page li
{
	float: left;
	width: 100%;
}
.event-specific-page li ul{
	margin-top: 10px;
	margin-bottom: 10px;
}
.event-specific-page li ul,
.event-specific-page li{
	padding-left: 10px;
	padding-right: 10px;
	width: calc( 100% - 20px);
	list-style: disc;
	list-style-position: inside;
}
.event-specific-page li ul li{
	list-style: circle;
	list-style-position: inside;
}
.event-specific-page li ul li.child {
	padding-left: 25px;
	list-style: inherit;

}

div[id*="apollo_custom_widget"] .widget-content {
	display: flex;
	flex-wrap: wrap;
}

div[id*="apollo_custom_widget"] .widget-content p{
	width: 100%;
	margin-top: 0;
}

div[id*="apollo_custom_widget"] .widget-content .apl-advertise{
	order: 1;
}