	body {
		min-width: 480px;
	}

#promos {
  padding: 0 20px 0px;
}

    .landing_footer {
        margin-left: 20px;
		margin-right: 20px;
		max-height: 20px;
    }
    #cmsb1, #cmsb2, #cmsb3 {
        width: 33%;
		max-height: 200px;
        float: left;
    }
    .feature_events {
        margin-left: 20px;
        margin-top: 20px;
		margin-right: 20px;
      }
    .event_item {
		display: table-cell;
		height: 100%;
		margin-bottom: 20px;
		width: 32%;
		/*position: relative;*/
		border:1px solid red;
    }
    .event_image {
        max-width: 120px;
        max-height: 120px;
        float: left;
    }
    .monthDate{
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        margin-left: 1px;
    }
    .daySp{
        font-size: 20pt;
		font-family: Arial, Helvetica, sans-serif;
		margin-bottom: 6px;
		color: #cccccc;
    }
    .monthSp {
        font-size: 14pt;
		font-family: Arial, Helvetica, sans-serif;
		color: #cccccc;
    }
    .event_name {
        color: #4681C5;
		margin-bottom: 15px;
		margin-top: 10px;
    }
    .event_name > a {
		color: #4681C5;
		font-family: arial;
		font-size: 14px;
		font-weight: bold;
	  }
    .ulshare {
        margin-top: 10px;
        width: 100%;
    }
    .ulshare li {
        display: inline-block;
        text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
        /*width: 100px;*/
    }
	
    .viewmore {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		clear:both;
        color:blue;
        text-align:right;
        padding-right:10px;
        margin-top:20px;
        margin-bottom:20px;
        border-bottom: 2px solid #d6d6d6;
        padding-bottom: 10px;
        margin-left: 20px;
		margin-right: 20px;
		padding-top: 10px;
    }
	
    .viewmore a {
        color: #4681C5;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 12pt;
		text-decoration: none;
		margin-top:20px;
    }
	
    .collapsed_content,.expanded_content {
        padding-left: 0;
        padding-right: 10px;
    }
    .bggrey {
        background: none repeat scroll 0 0 #cccccc;
        border-radius: 3px;
        padding: 5px 0;
		width: 100px;
    }
    .ebtn {
        float: left !important;
        width: 75px;
    }
    .ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
        background: none repeat scroll 0 0 #e7e6e5;
        color:#e7e6e5;
        border: medium none;
        max-height: 9px;
        overflow: hidden;
    }
    .ui-widget-content {
        background: #e7e6e5;
    }
    .well {
        background-color: #999999;
        border: 1px solid #999999;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
        margin-bottom: 20px;
        min-height: 20px;
        padding: 5px;
      }
      .popup_wrapper a {
        color: #808080;
        text-decoration: none;
      }
	  .event_item_contain {
		height: 100%;
		padding-bottom: 100px;
		position: relative;
	  }
	  
	  .col {
		  width: 32%;
		  float: left;
	  }
	  .share_row, .description_row,.event_title_row
	  {
		  clear: both;
	  }
	  .event_name > a {
		  color: #4681C5;
	  }
	  .see_all > a {
		  color: #4681C5;
	  }
	  .bggrey a {
		  color:#4681C5;
		  font-family: arial regular;
		  font-size: 14px;
	  }
	  .header_event_row {
		border: 1px solid #FFFFFF;
	  }
	  .googlemapicon {
		position: relative;
		top: 3px;
		margin-right: 10px;
	  }
	  
	  
	  @media (max-width:800px) {
		  .bggrey {
			  width: 75px;
		  }
	  }
	  @media (max-width:640px) {
		  .ebtn {
			width: 61px;
		  }
		  .bggrey {
			  width: 50px;
		  }
		  .well {
			  padding:2px;
		  }
		  .my_tooltip1_close, 
		  .my_tooltip2_close, 
		  .my_tooltip3_close, 
		  .my_tooltip4_close, 
		  .my_tooltip5_close, 
		  .my_tooltip6_close
		  {
			left: -2px;
			padding: 0 !important;
			position: relative;
			width: 5px;
		  }
	  }
	  @media (max-width:480px) {
		  .googlemapicon {
			  margin-right: 0;
			  
		  }
	  }