/**
* 	GENERAL
**/
body {
font:12px/16px Arial, Helvetica, sans-serif;
padding:10px 15px;

}


a {
color:#00f;
text-decoration:none;
} 

a:hover {
text-decoration:underline;
}

h2, h3 {
margin-bottom:15px;
text-transform:uppercase;
border-bottom:1px solid #5780a8;
color:#FFF;
background:url(../images/header_tab-lt.gif) 0 0 no-repeat;
padding-left:7px;
font:11px/16px Verdana, Arial, Helvetica, sans-serif;
}

h3 {
	margin-bottom:10px;
	margin-top:15px;
}

/**
*	BREADCRUMBS
**/

#breadcrumbs {
	padding:4px 10px;
	background:#E7E7E7;
	overflow:auto;
}
#breadcrumbs div{
	width:48%;
	float:left;
}

/**
*	SEARCH FORM
**/

#advanced_search {
clear:both;
}

#advanced_search p {
margin-bottom:10px;
}

#advanced_search span.fine_print {
font-weight:400;
font-size:10px;
width:400px;
display:block;
}

#advanced_search p,#spotlight_event img {
float:left;
margin-right:15px;
}

#advanced_search p#basic_search_link,#advanced_search p#adv_submit {
float:none;
clear:both;
}

#search .searchradio {
    display: none;
}
#search .tabcol {
  background-color: #E7E7E7;
  font-family: arial;
  font-size: 10px;
  //margin-left: 20px;
  margin-top: 0;
  line-height: 1em;
  padding: 10px 10px 10px 20px;
  border-spacing: 0;
}

.tabcol input,.tabcol select {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
}

#search {
  overflow: hidden;
  //margin-right: 20px;
  
}
#search .btn-danger {
  background-color: #D9534F !important;
  border-color: #D43F3A !important;
  color: #FFFFFF !important;
}
#search .btn {
  -moz-user-select: none;
  background-image: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  padding: 3px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
#search .btn-default {
  background-color: #717075;
  border-color: #b8b7b9;
  color: #ffffff;
}
#search .submitButton {
  background-color: #4187c3;
  border-color: #4187c3;
  color: #ffffff;
  border:none;
  margin-right: 0;
}

body #content #breadcrumbs {
	display: none;
}

h4.calendarhomelink {
	background: none repeat scroll 0 0 #717075;
	margin-bottom: 0;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-top: 5px;
	position: relative;
	top: -10px;
	font-size: 1.3em;
	font-weight: normal;
}
.calendarhomelink a {
	color:#ffffff;
}

.form-control {
	background-color: #FFFFFF;
	background-image: none;
	border-radius: 4px;
	border-width: 1px;
	color: #555555;
	/*display: block;*/
	font-size: 14px;
	line-height: 1em;
	padding: 4px 9px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	vertical-align: middle;
	width: 160px;
}

#startDate,#endDate {
	width: 78px !important;
}

	
.clearfix:after, h2:after, .i3:after, h3:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}	

/**
*	CATEGORIES BAR
**/

#categories_nav {
background:#e8e8e8;
margin-bottom:15px;
padding:7px 20px;
}

#categories_nav a {
white-space:nowrap;
margin:0 3px;
}

/**
*	PROMOS, WIDGET DESCRIPTION, POWERED BY
**/

#promos {
	padding:0 20px 15px;
}

#widget_description {
	margin:10px;
}

#powered_by {
	float:right;
}


/**
 * SPOTLIGH EVENT
 **/

#spotlight_event h2 {
text-transform:none;
background:none;
font-weight:700;
border:none;
padding:0;
color:black;
font-size:14px;
line-height:20px;
margin-bottom:5px;
}

#spotlight_event h2 a {
	font-size:16px;
}

#spotlight_event h2:after {
display:none;
} 
 
#spotlight_event {
    background: url(../images/spotlight_fill.jpg) repeat-x;
	margin:5px 0px;
}

#spotlight_top {
    background: url(../images/spotlight_top_bottom.gif) repeat-x top;
    width:100%;
    height:11px;
    clear:both;
}

#spotlight_corner_top_left {
    background: url(../images/spotlight_corners.gif) top left no-repeat;
    width:12px;
    height:11px;
    float:left;
}

#spotlight_corner_top_right {
    background: url(../images/spotlight_corners.gif) top right no-repeat;
    width:14px;
    height:11px;
    float:right;
}

#spotlight_bottom {
    background: url(../images/spotlight_top_bottom.gif) repeat-x bottom;
    width:100%;
    height:15px;
    clear:both;
}

#spotlight_corner_bot_left {
    background: url(../images/spotlight_corners.gif) bottom left no-repeat;
    width:12px;
    height:15px;
    float:left;
}

#spotlight_corner_bot_right {
    background: url(../images/spotlight_corners.gif) bottom right no-repeat;
    width:14px;
    height:15px;
    float:right;
}

#spotlight_middle {
    width:100%;
    clear:both;
}

#spotlight_left {
    background: url(../images/spotlight_left.gif) repeat-y left;
    padding-left:20px;
}

#spotlight_right {
    background: url(../images/spotlight_right.gif) repeat-y right;
    padding:3px 14px 3px 0px;
}

/**
*	FEATURED ITEMS
**/

.featured_items table td {
width:50%;
font:11px/14px Verdana, Arial, Helvetica, sans-serif;
vertical-align:middle;
padding:15px 18px;
}

.featured_items table td h3 {
margin-bottom:0;
text-transform:none;
border-bottom:none;
background:none;
padding-left:0;
line-height:14px;
margin-top:0;
font-weight:bold;
}

.featured_items table td h3:after {
	display:none;
}

.featured_items table td img {
float:left;
margin-right:12px;
height:auto;
width:80px;
}

.featured_items table td:first-child {
border-right:1px solid #ccc;
}

/**
*	ITEMS LISTING
**/

h2 span, h3 span {
background:#5780A8 url(../images/header_tab-rt.gif) 100% 0 no-repeat;
font-weight:700;
display:block;
float:left;
padding:1px 7px 1px 0;
}

#event_listing table, #org_listing table, #venue_listing table {
width:100%;
border:1px solid #d7d7d7;
margin-bottom:10px;
}

#event_listing table th, #org_listing table th, #venue_listing table th {
background:#d7d7d7;
}

#event_listing table th a,  #org_listing table th a, #venue_listing table th a {
color:#000;
}

#event_listing table td,#event_listing table th,  #org_listing  table td,
#org_listing  table th, #venue_listing table td, #venue_listing table th{
text-align:left;
padding:5px 8px;
}

#event_listing table td, #org_listing  table td, #venue_listing table td {
border:1px solid #d7d7d7;
vertical-align:middle;
border-width:0 0 1px;
}

.line_listing caption {
	background-color:#3886BC;
	color:white;
	font-size:12px;
	font-weight:bold;
	padding:3px 10px;
}

.odd {
	background-color:#f2f2f2 !important;
}

/**
*	PAGINATION
**/
.pagination {
	margin-bottom:10px;
}

.pagination a {
font-weight:400;
margin:0 2px;
}

/**
*	ITEM DETAILS
**/
#accessibility_info img {
	margin-bottom:8px;
}

.event_image, .org_image{
float:left;
margin:0 10px 0 0;
}

#map {
display:none;
height:200px;
margin-bottom:5px;
margin-left:10px;
overflow:hidden;
width:300px;
}

#image_gallery{
	display:none;
}

.buy_tickets {
	background-image:url(../images/icon-buy_tickets.gif);
	background-repeat:no-repeat;
	padding:5px 0 5px 22px;
	background-position:0 2px;
}

.discount_tickets {
	padding:5px 0 5px 22px;
	background-image:url(../images/icon-discount_star.gif);
	background-repeat:no-repeat;
}

/**
*	OTHERS
**/
.expand {
	padding-right:10px;
	background:url(../images/icon-expand_arrow.gif) 100% 50% no-repeat;
}

.collapse {
	padding-right:10px;
	background:url(../images/icon-collapse_arrow.gif) 100% 50% no-repeat;
}

.submitButton {
	padding:3px 5px;
	background:#ff9933;
	color:white;
	border:none;
	font-weight:bold;
	vertical-align:middle;
}

/*Van syndication thumbnail*/
.syndication-thumbnail img{
    width: 40px;
    height: 40px;
}

