.eli-event-tooltip-item-wrapper{
    display: inline-block;
}

.tooltip_description{
    width: 380px !important;

}
.event_name .tooltip_description, .template-tool{
    display: none;
}
.tooltipster-base.tooltipster-sidetip {
    height: auto !important;
}
.tooltipster-box {
    background: #fff !important;;
    border: 1px solid #c4c4c4 !important;
}
.tooltipster-sidetip .tooltipster-content {
    color: #000;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
    border-top-color: #b3b1b1;
}
.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
    border-top-color: #fff;
    top: -1px;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
    border-right-color: #b3b1b1;
    left: -1px;
}
.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
    border-right-color: #fff;
    top: -1px;
    left: 1px;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
    border-bottom-color: #b3b1b1;
}
.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
    border-bottom-color: #fff;
    left: 0;
    top: 1px;
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
    border-left-color: #b3b1b1;
}
.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
    border-left-color: #fff;
    left: -1px;
    top: 0;
}

.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
    bottom: -1px;
}
.tooltipster-sidetip .tooltipster-content {
    padding: 10px 10px;
}
.tooltipster-show .tooltip_description{
    display: block;
}
.tooltip_description .eli-event-tooltip-img{
    float: left;
    display: inline-block;
}
.tooltip_description .eli-event-tooltip-img img{
    padding: 0px 10px 10px 0px;
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    display: block;
    max-width: 150px;
    max-height: 150px;
    margin: 0px;
}
.tooltip_description .eli-event-tooltip-text .tt-event-name{
}
.tooltip_description .eli-event-tooltip-text .tt-organization{
    font-weight: bold;
}
.tooltip_description .eli-event-tooltip-text .tt-date{
}
.tooltip_description .eli-event-tooltip-text .tt-description{
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    .tooltip_description {
        width: 200px;
        overflow: hidden;
    }
}