#apl-pbm-popup-open-video.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 999999;
}
#apl-pbm-popup-open-video.overlay:target {
    visibility: visible;
    opacity: 1;
}

#apl-pbm-popup-open-video .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 700px;
    position: relative;
    transition: all 5s ease-in-out;
}

#apl-pbm-popup-open-video .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
#apl-pbm-popup-open-video .popup .close {
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    text-align: center;
    vertical-align: bottom;
    background: no-repeat;
    line-height: 30px;
}
#apl-pbm-popup-open-video .popup .close:hover {
    color: #06D85F;
}
#apl-pbm-popup-open-video. popup .content {
    max-height: 30%;
    overflow: auto;
}
#apl-pbm-popup-open-video .popup .video-wrapper,
.audio-popup-content .audio-iframe{
    position: relative;
    display: block;
    height: 0;
    padding: 0 0 56.25% 0;
    overflow: hidden;
    background-color: #000000;
}
#apl-pbm-popup-open-video .popup .video-wrapper iframe,
.audio-popup-content .audio-iframe iframe{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}
.audio-popup-content .audio-iframe iframe {
    left: 0px;
}
@media screen and (max-width: 700px){
    #apl-pbm-popup-open-video.popup{
        width: 70%;
    }
}

#apl-pbm-block-audio .flex-viewport ul.slides li.audio {
    text-align: center;
}
#apl-pbm-block-audio .flex-viewport ul.slides li.audio img {
    width: 150px;
    height: 150px;
    min-height: auto;
}

.audio-popup-content .audio-description {
    padding: 10px 5px;
}