.user-dashboard-body header {
    position: relative;
}
.apl-pb-tags {
    clear: both;
    /*overflow: -webkit-paged-x;*/
}
.apl-pb-tags .dropdown {
    position: relative;
}
.gallery-list .apl-pb-tags .dropdown {
    position: relative;
}
#apollo_upload_gallery.pbm-gallery-bkl {
    overflow: unset;
}
#apollo_upload_gallery.pbm-gallery-bkl .apl-pb-tags .dropdown dd ul{
    max-width: none;
}
.apl-pb-tags .dropdown dd,
.apl-pb-tags .dropdown dt {
    margin: 0px;
    padding: 0px;
}

.apl-pb-tags .dropdown ul {
    margin: -1px 0 0 0;
}

.apl-pb-tags .dropdown dd {
    position: relative;
}

.apl-pb-tags .dropdown a,
.apl-pb-tags .dropdown a:visited {
    color: #000;
    text-decoration: none;
    outline: none;
    font-size: 12px;
}

.apl-pb-tags .dropdown dt a {
    display: block;
    padding: 5px 10px;
    min-height: 34px;
    height: auto;
    line-height: 24px;
    overflow: hidden;
    width: 280px;
    border: 1px solid #ccc;
    max-width: 100%;
    box-sizing: border-box;
    background: no-repeat;
}
#side-sortables .apl-pb-tags .dropdown dt a,
#side-sortables .apl-pb-tags .dropdown dd ul{
    width: 100%;
}
.apl-pb-tags .multiSel {
    margin: 0 !important;
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.apl-pb-tags .dropdown dt a span,
.apl-pb-tags .multiSel span {
    cursor: pointer;
    padding: 0;
    font-weight: normal;
    font-size: 12px;
}
body.user-dashboard-body .apl-pb-tags .multiSel span.tag-select-title{
    /* display: none; */
}

.apl-pb-tags .multiSel span.comma {
    padding: 0 3px 0 0;
}

.apl-pb-tags .multiSel span.comma:last-child {
    display: none;
}
body.user-dashboard-body .apl-pb-tags .multiSel span.comma {
    /* display: none; */
}

.apl-pb-tags li label {
    width: auto;
}

.apl-pb-tags .mutliSelect ul li {
    overflow: hidden;
    width: 100%;
    font-size: 13px;
}

.apl-pb-tags .dropdown dd ul {
    border: 1px solid;
    display: none;
    left: 0px;
    padding: 2px 15px 2px 5px !important;
    position: absolute;
    top: 2px;
    width: 280px;
    list-style: none;
    height: 140px;
    overflow: auto;
    background: #fff;
    margin: 0px;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 999;
}

.apl-pb-tags .dropdown span.value {
    display: none;
}

.apl-pb-tags .dropdown dd ul li a {
    padding: 5px;
    display: block;
}

.apl-pb-tags .dropdown dd ul li a:hover {
    background-color: #fff;
}
.attachments-browser .apl-pb.apl-pb-tags{
    min-height: 180px;
}

.apollo_options_panel .apl-pb-tags label{
    float: none;
    width: auto;
    padding: 0;
    margin: 0px;
}
.apollo_options_panel p.form-field.apl-pbm-label-video-select-tags {
    padding-right: 0px !important;
}
.pbm-gallery-select-tags {
    clear: both;
    margin-top: 10px;
}
.pbm-gallery-select-tags .apl-pb-tags .dropdown dt a {
    width: 100%;
}
.pbm-gallery-bkl .pbm-gallery-select-tags {
    max-width: 130px;
    margin: 5px auto;
}
.pbm-gallery-bkl {
    display: block;
}
.pbm-gallery-bkl .gallery-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    clear: both;
    padding-top: 10px;
}
.pbm-gallery-bkl .gallery-list li {
    margin: 0;
    float: none;
    width: calc(100% / 4 - 15px);
}
@media (max-width: 768px) {
    .pbm-gallery-bkl .gallery-list li {
        width: calc(100% / 2);
    }
}